<th:block xmlns:th="http://www.thymeleaf.org" th:fragment="aboutPrediction">
	<div class="hidden" id="matchPredictionPopover">
		<div class="popover-title"><strong>Neural Network Match Prediction Algorithm</strong></div>
		<div class="popover-content">
			Match Prediction is based on the Neural Network Algorithm with ~50 neurons for different features about players like Elo Rating, Surface Elo Rating, ATP Ranking, ATP Points,
			Head-to-Head ratios and Winning Percentages varied by surface, tournament level, round, recency, match or set ratios, vs rank, vs hand, vs backhand...<br/>
			Neural Network is trained on historical data for highest prediction rates to determine optimal feature weights.
		</div>
	</div>
</th:block>