<th:block xmlns:th="http://www.thymeleaf.org" th:fragment="aboutElo(popoverPosition)">
	<em>
		<strong>*</strong> <a href="https://en.wikipedia.org/wiki/Elo_rating_system" target="_blank" rel="noopener noreferrer" class="external">Elo rating</a> considers opponent rating as well, meaning wins over quality opponents are worth more than wins over lesser rated players.<br/>
		Ultimate Tennis Statistics uses sophisticated tennis-customized <a href="#" data-toggle="popover" data-trigger="focus" th:data-placement="${popoverPosition}" data-popover="#eloRatingPopover">Elo rating formula</a>.
	</em>
</th:block>
<th:block xmlns:th="http://www.thymeleaf.org" th:fragment="aboutEloFormula">
	<div class="hidden" id="eloRatingPopover">
		<div class="popover-title"><strong>Elo Rating Formula</strong></div>
		<div class="popover-content">
			Elo rating is calculated in the <a href="https://en.wikipedia.org/wiki/Elo_rating_system#Theory" target="_blank" rel="noopener noreferrer" class="external">standard way</i></a>:
			<ul>
				<li>400 points difference means 90% chance for winning</li>
				<li>Start rating is 1500 points</li>
				<li>Minimum is 10 matches</li>
			</ul>
			However, highly customized <strong>K-factor</strong> function reflecting tournament level, match round, best-of, walkover and player current rating is used:
			<ul>
				<li>K-factor base value is <strong>32</strong></li>
				<li>Tournament level adjustment is: Grand Slam 100%, Tour Finals 90%, Masters 85%, Olympics 80%, ATP 500 75% and all others 70%</li>
				<li>Match round adjustment is: Final 100%, Semi-Final 90%, Quarter-Final and Round-Robin 85%, Rounds of 16 and 32 80%, Rounds of 64 and 128 75% and For Bronze Medal 95%</li>
				<li>Best-of sets adjustment: Best-of-5 100% and Best-of-3 90%</li>
				<li>Walk-over adjustment: 50%</li>
				<li>Current rating adjustment (this allows lower ranked players to advance more rapidly, while stabilizes ratings at the top):<br/>
					<div class="row">
						<div class="col-sm-6">
							<strong>1 + 18 / (1 + 2 <sup>(rating - 1500) / 63</sup>)</strong>
							<ul>
								<li>For rating of 1500: x 10</li>
								<li>For rating of 1600: x 5.5</li>
								<li>For rating of 1800: x 1.64</li>
								<li>For rating of 2000: x 1.07</li>
								<li>For rating of 2200: x 1.008</li>
							</ul>
						</div>
						<div class="col-sm-6">
							<img src="/images/k-factor.png" width="220" height="112" alt="K-factor"/>
						</div>
					</div>
				</li>
				<li>Each of the above coefficients (tournament level, round, best-of, walkover and current rating) are experimentally and carefully optimized for maximum predictability</li>
				<li>Recent Elo (reflecting more recent form than classic Elo rating): x 2</li>
				<li>Surface factor (for Elo ratings by surface and by outdoor/indoor): Depends on the percentage of surface or outdoor/indoor matches in the season</li>
				<li>Set, Game, Service/Return Game and Tie-Break Elo Ratings K-factor adjustments are work in progress, thus subject to change</li>
			</ul>
			<strong>Start rating is 1500</strong> for new players joining the ATP circuit, while for players at the beginning of Open Era start rating is the average Elo rating for the current rank.<br/>
			<strong>Average Elo ratings</strong> of Top 10/20/50/100/200 as calculated by this formula are guaranteed to be constant over time, even at the beginning of Open Era,
			thus it is a relatively good indication of comparable player strengths across Eras.<br/>
			<strong>Not playing penalty</strong> - In original Elo, there is no penalty when players are not playing for longer periods of time.
			However, after they start playing matches again, the Elo rating obviously does not reflect their current form. To address this, non-playing Elo rating penalty is introduced.
			Penalty is proportional to the number of days passed since the last match and is using special logistic function with several experimentally tuned parameters for maximum predictability.
			<br/><br/>
			<strong>Examples</strong> (upsets make bigger points exchange):
			<ul>
				<li>Grand Slam final, rating 2450 d. 2350 (winner had 64% chances of win): [+12, -12] (+12 for winner, -12 for loser)</li>
				<li>Masters semi-final ratings 2000 d. 2350 (winner had 19% chances of win): [+21, -19]</li>
				<li>ATP 250 round of 32, rating 2250 d. 1800 (winner had 93% chances of win): [+1, -2]</li>
			</ul>
		</div>
	</div>
</th:block>