<th:block xmlns:th="http://www.thymeleaf.org" th:fragment="eventResults(id, columnCountOffset, scrollRight)">
<!--/*@thymesVar id="results" type="org.strangeforest.tcb.stats.model.TournamentEventResults"*/-->
<script type="text/javascript" th:inline="javascript">
	function roundLeft() {
		var $resultsTable = $("#resultsTable[(${id})]");
		var resultsTable = $resultsTable.get(0);
		if (resultsTable.roundPos > 0) {
			resultsTable.roundPos--;
			showRounds($resultsTable);
		}
	}
	function roundRight() {
		var $resultsTable = $("#resultsTable[(${id})]");
		var resultsTable = $resultsTable.get(0);
		if (resultsTable.roundPos < resultsTable.maxRoundPos) {
			resultsTable.roundPos++;
			showRounds($resultsTable);
		}
	}
	function showRounds($resultsTable) {
		var resultsTable = $resultsTable.get(0);
		var fromIndex = resultsTable.roundPos;
		var toIndex = resultsTable.roundPos + resultsTable.roundsToShow;
		$resultsTable.find("th[data-round-index], td[data-round-index]").each(function () {
			var $match = $(this);
			var roundIndex = $match.data("round-index");
			if (fromIndex <= roundIndex && roundIndex < toIndex)
				$match.show();
			else
				$match.hide();
		});
		var $roundLeft = $("#roundLeft[(${id})]");
		$roundLeft.prop("disabled", resultsTable.roundPos == 0);
		$roundLeft.html("<span class='glyphicon glyphicon-chevron-left'></span>&nbsp;&nbsp;" + resultsTable.rounds[Math.max(0, resultsTable.roundPos - 1)]);
		var $roundRight = $("#roundRight[(${id})]");
		$roundRight.prop("disabled", resultsTable.roundPos == resultsTable.maxRoundPos);
		$roundRight.html("<span class='glyphicon glyphicon-chevron-right'></span>&nbsp;&nbsp;" + resultsTable.rounds[Math.min(resultsTable.maxRoundPos, resultsTable.roundPos + 1) + resultsTable.roundsToShow - 1]);
	}
	$(function() {
		var device = detectDevice();
		var $resultsTable = $("#resultsTable[(${id})]");
		var resultsTable = $resultsTable.get(0);
		resultsTable.rounds = [[${results.rounds}]];
		resultsTable.roundsToShow = Math.min(resultsTable.rounds.length, {"xs": 2, "sm": 2, "md": [(${3 + columnCountOffset})], "lg": [(${4 + columnCountOffset})]}[device]);
		resultsTable.maxRoundPos = resultsTable.rounds.length - resultsTable.roundsToShow;
		resultsTable.roundPos = [(${scrollRight ? 'resultsTable.maxRoundPos' : 0})];
		showRounds($resultsTable);
	});
</script>
<style>
	td.seed {
		width: 20px;
		padding: 0 2px;
		text-align: right;
	}
	td.player {
		padding: 0 2px;
	}
	td.score {
		padding: 0 2px;
	}
	td.stats {
		padding: 0 1px;
		vertical-align: top;
	}
	.btn-xxs,
	.btn-group-xxs > .btn {
		padding: 1px 3px;
		font-size: 10px;
		line-height: 1.5;
		border-radius: 3px;
		vertical-align: top;
	}
</style>
<table th:id="'resultsTable' + ${id}" class="table-condensed text-nowrap" width="100%">
	<thead>
	<tr>
		<th colspan="2"><button th:id="'roundLeft' + ${id}" type="button" class="btn btn-info btn-xs" onclick="roundLeft()"></button></th>
		<th colspan="2" style="text-align: right"><button th:id="'roundRight' + ${id}" type="button" class="btn btn-info btn-xs" onclick="roundRight()"></button></th>
	</tr>
	<tr>
		<th th:each="round : ${results.rounds}" th:text="${round.text}" th:data-round-index="${roundStat.index}">Final</th>
	</tr>
	</thead>
	<tbody>
	<tr th:each="i : ${#numbers.sequence(0, results.maxRoundMatches - 1)}">
		<td th:each="round : ${results.rounds}" th:with="matches=${results.getRoundMatches(round)}, match=${i lt matches.size() ? matches[i] : null}" th:data-round-index="${roundStat.index}">
			<table th:if="${match}" class="table-bordered" th:with="winner=${match.winner}, loser=${match.loser}, outcomeOrStats=${match.outcome != null || match.hasStats}">
				<tr>
					<td class="seed">
						<span th:text="${winner.seedAndEntry()}"></span>
					</td>
					<td class="player">
						<img th:if="${winner.country.id}" th:src="@{/images/flags/{code}.png(code=${winner.country.code})}" src="/images/flags/ch.png'" th:title="${winner.country.id}" title="SUI" width="24" height="20"/>
						<strong><a th:href="@{/playerProfile(playerId=${winner.id})}" th:text="${winner.name}" style="vertical-align: middle" title="Show profile">Roger Federer</a></strong>
					</td>
					<td th:each="score : ${match.score}" class="score"><th:block th:text="${score.wGames}">6</th:block><sup th:if="${score.wTBPoints}" th:text="|(${score.wTBPoints})|"></sup></td>
					<td th:if="${outcomeOrStats}" class="score"><th:block th:if="${match.outcome}" th:text="${match.outcome}"/></td>
					<td th:if="${loser}" rowspan="2" class="player-h2h">
						<a th:href="@{/headToHead(playerId1=${winner.id}, playerId2=${loser.id})}" class="player-h2h" title="Show Head-to-Head">H<br/>2<br/>H</a>
					</td>
				</tr>
				<tr th:if="${loser}">
					<td class="seed">
						<span th:text="${loser.seedAndEntry()}"></span>
					</td>
					<td class="player">
						<img th:if="${loser.country.id}" th:src="@{/images/flags/{code}.png(code=${loser.country.code})}" src="/images/flags/ch.png'" th:title="${loser.country.id}" title="ESP" width="24" height="20"/>
						<a th:href="@{/playerProfile(playerId=${loser.id})}" th:text="${loser.name}" style="vertical-align: middle" title="Show profile">Rafael Nadal</a>
					</td>
					<td th:each="score : ${match.score}" class="score"><th:block th:text="${score.lGames}">3</th:block><sup th:if="${score.lTBPoints}" th:text="|(${score.lTBPoints})|"></sup></td>
					<td th:if="${outcomeOrStats}" class="stats">
						<a th:if="${match.hasStats}" th:id="'matchStats-' + ${match.id}" href="#" class="btn btn-info btn-xxs glyphicon glyphicon-stats" th:onclick="|showMatchStats(${match.id}, event)|" title='Match Statistics'> </a>
					</td>
				</tr>
			</table>
		</td>
	</tr>
	</tbody>
</table>
</th:block>