<footer xmlns:th="http://www.thymeleaf.org" th:fragment="copy">
	<br/>
	<style scoped="scoped">
		.copyright {
			font-size: small
		}
		.powered {
			font-size: x-small;
			font-style: italic;
		}
	</style>
	<div class="row">
		<div th:if="${#arrays.contains(@environment.getActiveProfiles(), 'openshift') or #arrays.contains(@environment.getActiveProfiles(), 'openshift-db')}" class="col-md-2">
			<a href="https://www.openshift.com" target="_blank"><img src="/images/openshift.png" width="128" height="32" alt="Powered by OpenShift"/></a>
		</div>
		<div class="col-md-10">
			<div style="float: left; margin-right: 15px">
				<div class="copyright">&copy; 2016 Strange Forest Software, feedback at <a href="mailto:mcekovic@gmail.com" target="_blank">mcekovic@gmail.com</a>, issues at <a href="https://github.com/mcekovic/tennis-crystal-ball/issues" target="_blank">GitHub Issues</a></div>
				<div class="powered">Powered by open-source software: PostgreSQL, Java, Spring Boot, Thymeleaf, JQuery, Bootstrap, Groovy, available at <a href="https://github.com/mcekovic/tennis-crystal-ball" target="_blank">GitHub</a></div>
			</div>
			<a href="/manage/visitorsChart" class="label label-info glyphicon glyphicon-globe" title="People visiting this site"> </a>
		</div>
	</div>
</footer>