<th:block xmlns:th="http://www.thymeleaf.org" th:fragment="legend">
	<script type="text/javascript">
		/*<![CDATA[*/
		$(function() {
			$("#goatLegend").on("shown.bs.collapse", function() {
				var $goatPointsTable = $("#goatPointsTable");
				if ($goatPointsTable.hasClass("loaded"))
					return;
				$goatPointsTable.addClass("loaded").bootgrid({
					ajax: true,
					ajaxSettings: {
						method: "GET",
						cache: true
					},
					url: "/goatPointsTable",
					navigation: 0,
					formatters: {
						"level": levelFormatter,
						"result": resultFormatter,
						"goatPoints": function(column, row) {
							return (row.additive ? "+" : "") + row.goatPoints;
						}
					}
				});
			});
		});
		/*]]>*/
	</script>
	<div class="row">
		<div class="col-md-4">
			<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#goatLegend">Legend</button>
			<div id="goatLegend" class="collapse">
				<br/>
				<h4>GOAT Points distribution</h4>
				<table id="goatPointsTable" class="table table-condensed table-hover table-striped">
					<thead>
						<tr>
							<th data-column-id="level" data-formatter="level" data-sortable="false" data-width="80">Level</th>
							<th data-column-id="result" data-formatter="result" data-sortable="false" data-width="50" data-header-align="center" data-align="center">Result</th>
							<th data-column-id="goatPoints" data-formatter="goatPoints" data-sortable="false" data-width="50" data-header-align="center" data-align="center">Points</th>
						</tr>
					</thead>
				</table>
			</div>
		</div>
	</div>
</th:block>
