<th:block xmlns:th="http://www.thymeleaf.org" th:fragment="legend(forSeason)">
	<script type="text/javascript" th:inline="javascript">
		/*<![CDATA[*/
		$(function() {
			$("#goatLegend").on("shown.bs.collapse", function() {
				initGOATPointsTable("tournamentGOATPointsTable", {
					"level": levelFormatter,
					"result": resultFormatter,
					"goatPoints": function(column, row) {
						return (row.additive ? "+" : "") + row.goatPoints;
					}
				}, [
					{id: "result", title: "Result/Round"}
				]);
				initGOATPointsTable("yearEndRankGOATPointsTable");
				if ([[${!forSeason}]]) {
					initGOATPointsTable("bestRankGOATPointsTable");
					initGOATPointsTable("bestEloRatingGOATPointsTable");
				}
				initGOATPointsItem("weeksAtNo1ForGOATPoint");
				initGOATPointsTable("bigWinMatchFactorTable", {
					"level": levelFormatter
				});
				initGOATPointsTable("bigWinRankFactorTable", {
					"rankRange": function(column, row) {
						return row.fromRank == row.toRank ? row.fromRank : row.fromRank + " - " + row.toRank;
					}
				});
				if ([[${!forSeason}]])
					initGOATPointsItem("careerGrandSlamGOATPoints");
				initGOATPointsItem("seasonGrandSlamGOATPoints");
				if ([[${!forSeason}]]) {
					initGOATPointsTable("bestSeasonGOATPointsTable");
					initGOATPointsTable("greatestRivalriesGOATPointsTable");
					initGOATPointsTable("performanceGOATPointsTable");
					initGOATPointsTable("statisticsGOATPointsTable");
				}
			});
		});
		function initGOATPointsTable(table, formatters, titles) {
			var $table = $("#" + table);
			if ($table.hasClass("loaded"))
				return;
			$table.addClass("loaded").bootgrid({
				ajax: true,
				ajaxSettings: {
					method: "GET",
					cache: true
				},
				url: "/" + table,
				navigation: 0,
				sorting: false,
				formatters: formatters
			});
			if (titles)
				setBootgridTitles($table, titles);
		}
		function initGOATPointsItem(item) {
			$.get("/" + item, function (data) {
				$("#" + item).html(data);
			});
		}
		/*]]>*/
	</script>
	<button type="button" class="btn btn-info btn-sm" data-toggle="collapse" data-target="#goatLegend">GOAT Pts. Legend</button>
	<div id="goatLegend" class="collapse">
		<h4>GOAT Points distribution</h4>
		<div class="row">
			<div class="col-md-3">
				<h4>Tournament Points</h4>
				<table id="tournamentGOATPointsTable" class="table table-condensed table-hover table-striped">
					<thead>
						<tr>
							<th data-column-id="level" data-formatter="level" data-width="80">Level</th>
							<th data-column-id="result" data-formatter="result" data-width="50" data-header-align="center" data-align="center">Result</th>
							<th data-column-id="goatPoints" data-formatter="goatPoints" data-width="50" data-header-align="center" data-align="center">Points</th>
						</tr>
					</thead>
				</table>
				<p>+ is for tournaments where points are assigned for wins in each round rather then for tournament result</p>
				<br/>
				<h4>Ranking Points</h4>
				<strong th:unless="${forSeason}">Each season's year-end rank</strong>
				<strong th:if="${forSeason}">Season's year-end rank</strong>
				<table id="yearEndRankGOATPointsTable" class="table table-condensed table-hover table-striped">
					<thead>
					<tr>
						<th data-column-id="rank" data-type="numeric" data-width="80" data-align="center">Year-End Ranking</th>
						<th data-column-id="goatPoints" data-type="numeric" data-width="50" data-header-align="center" data-align="center">Points</th>
					</tr>
					</thead>
				</table>
				<strong th:unless="${forSeason}">Career high ranking</strong>
				<table th:unless="${forSeason}" id="bestRankGOATPointsTable" class="table table-condensed table-hover table-striped">
					<thead>
					<tr>
						<th data-column-id="rank" data-type="numeric" data-width="80" data-align="center">Best Ranking</th>
						<th data-column-id="goatPoints" data-type="numeric" data-width="50" data-header-align="center" data-align="center">Points</th>
					</tr>
					</thead>
				</table>
				<strong th:unless="${forSeason}">All-time Highest Elo rating</strong>
				<table th:unless="${forSeason}" id="bestEloRatingGOATPointsTable" class="table table-condensed table-hover table-striped">
					<thead>
					<tr>
						<th data-column-id="rank" data-type="numeric" data-width="80" data-align="center">Rank</th>
						<th data-column-id="goatPoints" data-type="numeric" data-width="50" data-header-align="center" data-align="center">Points</th>
					</tr>
					</thead>
				</table>
				<div>
					<strong>Weeks at No. 1</strong>
					<p>+1 point for each <span id="weeksAtNo1ForGOATPoint"></span> weeks as ATP No. 1</p>
				</div>
			</div>
			<div class="col-md-9">
				<h4>Achievements<th:block th:unless="${forSeason}">, Performance and Statistics</th:block> Points</h4>
				<div class="row">
					<div class="col-md-4">
						<div>
							<strong>Big Wins Points</strong>
							<p><i>sum</i>(MatchFactor * RankFactor) / 100<br/><span style="font-size: smaller">MatchFactor = <i>factor</i>(Level, Round)<br/>RankFactor =<br/>(<i>factor</i>(WinnerRank) + <i>factor</i>(LoserRank)) / 2</span></p>
						</div>
						<table id="bigWinMatchFactorTable" class="table table-condensed table-hover table-striped">
							<thead>
							<tr>
								<th data-column-id="level" data-formatter="level" data-width="80">Level</th>
								<th data-column-id="round" data-width="50" data-header-align="center" data-align="center">Round</th>
								<th data-column-id="matchFactor" data-type="numeric" data-width="50" data-header-align="center" data-align="center">Factor</th>
							</tr>
							</thead>
						</table>
						<table id="bigWinRankFactorTable" class="table table-condensed table-hover table-striped">
							<thead>
							<tr>
								<th data-column-id="rankRange" data-formatter="rankRange" data-width="80" data-align="center">Rank</th>
								<th data-column-id="goatPoints" data-type="numeric" data-width="50" data-header-align="center" data-align="center">Factor</th>
							</tr>
							</thead>
						</table>
					</div>
					<div class="col-md-4">
						<div th:unless="${forSeason}">
							<strong>Career Grand Slam</strong>
							<p>+<span id="careerGrandSlamGOATPoints"></span> points for Career Grand Slam</p>
						</div>
						<div>
							<strong>Calendar Grand Slam</strong>
							<p>+<span id="seasonGrandSlamGOATPoints"></span> points for<th:block th:unless="${forSeason}"> each</th:block> Calendar Grand Slam</p>
						</div>
						<br/>
						<th:block th:unless="${forSeason}">
						<div>
							<strong>Best Season Points</strong>
						</div>
						<table id="bestSeasonGOATPointsTable" class="table table-condensed table-hover table-striped">
							<thead>
							<tr>
								<th data-column-id="rank" data-type="numeric" data-width="90" data-align="center">Best Season Rank</th>
								<th data-column-id="goatPoints" data-type="numeric" data-width="40" data-header-align="center" data-align="center">Points</th>
							</tr>
							</thead>
						</table>
						<br/>
						<div>
							<strong>Greatest Rivalries Points</strong>
							<p>Points are distributed to both players by rivalry won/lost ratio</p>
						</div>
						<table id="greatestRivalriesGOATPointsTable" class="table table-condensed table-hover table-striped">
							<thead>
							<tr>
								<th data-column-id="rank" data-type="numeric" data-width="90" data-align="center">Rivalry Rank</th>
								<th data-column-id="goatPoints" data-type="numeric" data-width="40" data-header-align="center" data-align="center">Points</th>
							</tr>
							</thead>
						</table>
						</th:block>
					</div>
					<div th:unless="${forSeason}" class="col-md-4">
						<div>
							<strong>Performance Points</strong>
						</div>
						<p>Points assigned to best players in each performance category</p>
						<table id="performanceGOATPointsTable" class="table table-condensed table-hover table-striped">
							<thead>
							<tr>
								<th data-column-id="category" data-width="120">Perform. Category</th>
								<th data-column-id="goatPoints" data-width="60">Points</th>
							</tr>
							</thead>
						</table>
						<div>
							<strong>Statistics Points</strong>
						</div>
						<p>Points assigned to best players in each statistics category</p>
						<table id="statisticsGOATPointsTable" class="table table-condensed table-hover table-striped">
							<thead>
								<tr>
									<th data-column-id="category" data-width="130">Statistics Category</th>
									<th data-column-id="goatPoints" data-width="50">Points</th>
								</tr>
							</thead>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</th:block>
