<header xmlns:th="http://www.thymeleaf.org" th:fragment="title">
	<!--/*@thymesVar id="lastDataUpdate" type="java.util.Date"*/-->
	<script type="text/javascript">
		autocompletePlayer("player");
	</script>
	<nav id="navbar" class="navbar navbar-default component" th:with="path=${#httpServletRequest.getServletPath()}">
		<div class="container-fluid">
			<div class="navbar-header">
				<div class="navbar-brand text-nowrap" style="float: left">
					<a href="/" style="font-size: larger"><span style="color: #dd7777">Ultimate</span> <span style="color: #22ddcc">Tennis</span> <span style="color: #4477cc">Statistics</span></a>
				</div>
				<div class="navbar-text" style="margin-left: 15px">
					<span th:if="${lastDataUpdate}" th:text="'Last data update: ' + ${#dates.format(lastDataUpdate, 'dd-MM-yyyy')}" class="text-nowrap">Last data update: 21-09-2015</span>
				</div>
			</div>
			<div class="navbar-header navbar-right">
				<button type="button" class="navbar-toggle" style="margin: 0" data-toggle="collapse" data-target="#menuNavbar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<div class="input-group">
					<label for="player" class="input-group-addon" style="width: auto">Player:</label>
					<input id="player" type="text" class="ui-widget search-field form-control" size="30" placeholder="Search Player"/>
				</div>
			</div>
			<div id="menuNavbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li th:class="${path == '/goatList' ? 'active' : ''}"><a href="/goatList">GOAT List</a></li>
					<li th:class="${path != null && path.endsWith('Timeline') ? 'active dropdown' : 'dropdown'}">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">Timelines<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li th:class="${path == '/bigGunsTimeline' ? 'active' : ''}"><a href="/bigGunsTimeline">Big Guns Timeline</a></li>
							<li th:class="${path == '/tournamentLevelTimeline' && param.level[0] == 'G' ? 'active' : ''}"><a href="/tournamentLevelTimeline?level=G">Grand Slam Timeline</a></li>
							<li th:class="${path == '/tournamentLevelTimeline' && param.level[0] == 'F' ? 'active' : ''}"><a href="/tournamentLevelTimeline?level=F">Tour Finals Timeline</a></li>
							<li th:class="${path == '/tournamentLevelTimeline' && param.level[0] == 'M' ? 'active' : ''}"><a href="/tournamentLevelTimeline?level=M">Masters Timeline</a></li>
							<li th:class="${path == '/tournamentLevelTimeline' && param.level[0] == 'O' ? 'active' : ''}"><a href="/tournamentLevelTimeline?level=O">Olympics Timeline</a></li>
							<li th:class="${path == '/teamTournamentLevelTimeline' && param.level[0] == 'D' ? 'active' : ''}"><a href="/teamTournamentLevelTimeline?level=D">Davis Cup Timeline</a></li>
							<li th:class="${path == '/teamTournamentLevelTimeline' && param.level[0] == 'T' ? 'active' : ''}"><a href="/teamTournamentLevelTimeline?level=T">World Team Cup Timeline</a></li>
							<li th:class="${path == '/surfaceTimeline' ? 'active' : ''}"><a href="/surfaceTimeline">Surface Timeline</a></li>
						</ul>
					</li>
					<li th:class="${path == '/greatestRivalries' || path == '/headsToHeads' ? 'active dropdown' : 'dropdown'}">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">Rivalries<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li th:class="${path == '/greatestRivalries' ? 'active' : ''}"><a href="/greatestRivalries">Greatest Rivalries</a></li>
							<li th:class="${path == '/headsToHeads' ? 'active' : ''}"><a href="/headsToHeads">Heads-to-Heads</a></li>
						</ul>
					</li>
					<li th:class="${path == '/rankingsTable' || path == '/rankingsChart' || path == '/allTimeEloRatings' ? 'active dropdown' : 'dropdown'}">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">Rankings<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li th:class="${path == '/rankingsTable' ? 'active' : ''}"><a href="/rankingsTable">Rankings Table</a></li>
							<li th:class="${path == '/rankingsChart' ? 'active' : ''}"><a href="/rankingsChart">Rankings Chart</a></li>
							<li th:class="${path == '/allTimeEloRatings' ? 'active' : ''}"><a href="/allTimeEloRatings">All-time Highest Elo Ratings</a></li>
						</ul>
					</li>
					<li th:class="${path == '/topPerformers' || path == '/performanceChart' ? 'active dropdown' : 'dropdown'}">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">Performance<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li th:class="${path == '/topPerformers' ? 'active' : ''}"><a href="/topPerformers">Top Performers</a></li>
							<li th:class="${path == '/performanceChart' ? 'active' : ''}"><a href="/performanceChart">Performance Chart</a></li>
						</ul>
					</li>
					<li th:class="${path == '/statsLeaders' || path == '/statsChart' ? 'active dropdown' : 'dropdown'}">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">Statistics<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li th:class="${path == '/statsLeaders' ? 'active' : ''}"><a href="/statsLeaders">Statistics Leaders</a></li>
							<li th:class="${path == '/statsChart' ? 'active' : ''}"><a href="/statsChart">Statistics Chart</a></li>
						</ul>
					</li>
					<li th:class="${path == '/records' || path == '/record' ? 'active' : ''}"><a href="/records">Records<sup class="new-feature">&nbsp;New!</sup></a></li>
					<li th:class="${path == '/bestSeasons' ? 'active' : ''}"><a href="/bestSeasons">Best Seasons</a></li>
					<li th:class="${path == '/tournament' || path == '/tournamentEvents' || path == '/tournamentEvent' ? 'active' : ''}"><a href="/tournamentEvents">Tournaments</a></li>
					<li th:class="${path == '/liveScores' ? 'active' : ''}"><a href="/liveScores">Live Scores<sup class="new-feature">&nbsp;New!</sup></a></li>
				</ul>
			</div>
		</div>
	</nav>
</header>
