<head xmlns:th="http://www.thymeleaf.org" th:fragment="commonHead(title, bootgrid, scripts, styles)">
	<!--/*@thymesVar id="versions" type="java.util.Map<String, String>"*/-->
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<title>Ultimate Tennis Statistics[[${title} ? ' - ' + ${title} : _]]</title>
	<link th:href="@{|/webjars/bootstrap/${versions['bootstrap']}/css/bootstrap.min.css|}" rel="stylesheet" media="screen"/>
	<link th:href="@{|/webjars/jquery-ui-themes/${versions['jquery-ui']}/smoothness/jquery-ui.css|}" rel="stylesheet" media="screen"/>
	<link th:if="${bootgrid}" th:href="@{|/webjars/jquery-bootgrid/${versions['bootgrid']}/dist/jquery.bootgrid.min.css|}" rel="stylesheet" media="screen"/>
	<link th:href="@{/css/tennis-stats.css}" rel="stylesheet" media="screen"/>
	<script th:src="@{|/webjars/jquery/${versions['jquery']}/jquery.min.js|}"></script>
	<script th:src="@{|/webjars/jquery-ui/${versions['jquery-ui']}/jquery-ui.min.js|}"></script>
	<script th:src="@{|/webjars/bootstrap/${versions['bootstrap']}/js/bootstrap.min.js|}"></script>
	<script th:if="${bootgrid}" th:src="@{|/webjars/jquery-bootgrid/${versions['bootgrid']}/dist/jquery.bootgrid.min.js|}"></script>
	<script th:src="@{/js/tennis-stats.js}"></script>
	<th:block th:replace="${scripts}"/>
	<th:block th:replace="${styles}"/>
</head>