<head xmlns:th="http://www.thymeleaf.org" th:fragment="commonHead(title, bootgrid, scripts, styles)">
	<!--/*@thymesVar id="versions" type="java.util.Map<String, String>"*/-->
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<title>Ultimate Tennis Statistics[[${title} ? ' - ' + ${title} : _]]</title>
	<link th:href="@{/webjars/bootstrap/{version}/css/bootstrap.min.css(version=${versions['bootstrap']})}" rel="stylesheet" media="screen"/>
	<link th:href="@{/webjars/jquery-ui-themes/{version}/smoothness/jquery-ui.css(version=${versions['jquery-ui']})}" rel="stylesheet" media="screen"/>
	<link th:if="${bootgrid}" th:href="@{/webjars/jquery-bootgrid/{version}/dist/jquery.bootgrid.min.css(version=${versions['bootgrid']})}" rel="stylesheet" media="screen"/>
	<link href="/css/tennis-stats.css" rel="stylesheet" media="screen"/>
	<script th:src="@{/webjars/jquery/{version}/jquery.min.js(version=${versions['jquery']})}"></script>
	<script th:src="@{/webjars/jquery-ui/{version}/jquery-ui.min.js(version=${versions['jquery-ui']})}"></script>
	<script th:src="@{/webjars/bootstrap/{version}/js/bootstrap.min.js(version=${versions['bootstrap']})}"></script>
	<script th:if="${bootgrid}" th:src="@{/webjars/jquery-bootgrid/{version}/dist/jquery.bootgrid.min.js(version=${versions['bootgrid']})}"></script>
	<script src="/js/tennis-stats.js"></script>
	<th:block th:replace="${scripts}"/>
	<th:block th:replace="${styles}"/>
</head>