<header xmlns:th="http://www.thymeleaf.org" th:fragment="title">
	<!--@thymesVar id="lastDataUpdate" type="java.util.Date"-->
	<div class="text-nowrap" style="display: flex; flex-direction: row">
		<div style="display: flex; flex-direction: column">
			<h1><a href="/">Ultimate Tennis Statistics</a></h1>
		</div>
		<div style="display: flex; flex-direction: column; margin: 10px 10px">
			<div class="note" style="color: #337ab7">Technology Preview</div>
			<div th:if="${lastDataUpdate}" class="note" th:text="'Last data update: ' + ${#dates.format(lastDataUpdate, 'dd-MM-yyyy')}">Last data update: 21-09-2015</div>
			<div class="note" style="color: #d9534f">Work in progress - please be patient</div>
		</div>
	</div>
</header>
