<header xmlns:th="http://www.thymeleaf.org" th:fragment="title">
	<!--@thymesVar id="lastDataUpdate" type="java.util.Date"-->
	<!--@thymesVar id="servletPath" type="java.lang.String"-->
	<script type="text/javascript">
		autocompletePlayer("player");
	</script>
	<nav id="navbar" class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<div class="navbar-brand text-nowrap" style="float: left">
					<a href="/" style="font-size: larger"><span style="color: #dd7777">Ultimate</span> <span style="color: #22ddcc">Tennis</span> <span style="color: #4477cc">Statistics</span></a>
				</div>
				<div class="navbar-text" style="margin-left: 15px">
					<span th:if="${lastDataUpdate}" th:text="'Last data update: ' + ${#dates.format(lastDataUpdate, 'dd-MM-yyyy')}" class="text-nowrap">Last data update: 21-09-2015</span>
				</div>
			</div>
			<div class="navbar-header navbar-right">
				<button type="button" class="navbar-toggle" style="margin: 0" data-toggle="collapse" data-target="#menuNavbar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<div class="ui-widget input-group">
					<label for="player" class="input-group-addon">Player:</label>
					<input id="player" type="text" class="search-field form-control" size="30" placeholder="Search Player"/>
				</div>
			</div>
			<div id="menuNavbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li th:class="${servletPath == '/goatList' ? 'active' : ''}"><a href="/goatList">GOAT List</a></li>
					<li th:class="${servletPath == '/bigGunsTimeline' ? 'active' : ''}"><a href="/bigGunsTimeline">Big Guns Timeline</a></li>
					<li th:class="${servletPath == '/bestSeasons' ? 'active' : ''}"><a href="/bestSeasons">Best Seasons</a></li>
					<li th:class="${servletPath == '/greatestRivalries' ? 'active' : ''}"><a href="/greatestRivalries">Greatest Rivalries</a></li>
					<li th:class="${servletPath == '/rankingsChart' ? 'active' : ''}"><a href="/rankingsChart">Rankings Chart</a></li>
					<li th:class="${servletPath == '/headsToHeads' ? 'active' : ''}"><a href="/headsToHeads">Heads-to-Heads</a></li>
					<li th:class="${servletPath == '/topPerformers' ? 'active' : ''}"><a href="/topPerformers">Top Performers</a></li>
					<li th:class="${servletPath == '/statsLeaders' ? 'active' : ''}"><a href="/statsLeaders">Statistics Leaders</a></li>
				</ul>
			</div>
		</div>
	</nav>
</header>
