<div xmlns:th="http://www.thymeleaf.org" th:fragment="playerStats(containerId, statsContainerId, statsId, popover)">
	<!--/*@thymesVar id="stats" type="org.strangeforest.tcb.stats.model.PlayerStats"*/-->
	<!--/*@thymesVar id="statsFormatUtil" type="org.strangeforest.tcb.stats.controller.StatsFormatUtil"*/-->
	<!--/*@thymesVar id="compare" type="java.lang.Boolean"*/-->
	<!--/*@thymesVar id="compareStats" type="org.strangeforest.tcb.stats.model.PlayerStats"*/-->
	<!--/*@thymesVar id="seasons" type="java.util.List<java.lang.Integer>"*/-->
	<!--/*@thymesVar id="levels" type="java.util.EnumSet<org.strangeforest.tcb.stats.model.TournamentLevel>"*/-->
	<!--/*@thymesVar id="surfaces" type="org.strangeforest.tcb.stats.model.Surface[]"*/-->
	<!--/*@thymesVar id="compareSeason" type="java.lang.Integer"*/-->
	<!--/*@thymesVar id="compareLevel" type="java.lang.String"*/-->
	<!--/*@thymesVar id="compareSurface" type="java.lang.String"*/-->
	<!--/*@thymesVar id="relativeTo" type="java.lang.String"*/-->
	<!--/*@thymesVar id="_" type="java.lang.String"*/-->
	<div th:id="${statsContainerId}">
		<script type="text/javascript">
			$(function() {
				$("#[[${statsContainerId}]]").find(".raw-data").hide();
			});
		</script>
		<div th:unless="${stats.empty}" class="row text-nowrap" th:with="hasPointStats=${stats.hasPointStats()}, hasPointCompareStats=${compareStats != null && compareStats.hasPointStats()}">
			<div th:if="${hasPointStats}" th:class="'col-md-' + ${popover ? '4' : '3'}" class="col-md-4">
				<table class="table table-condensed table-hover table-striped">
					<thead>
						<tr>
							<th>Serve</th>
							<th:block th:if="${compare}">
								<th class="pct-data text-right" title="Actual"><span class="glyphicon glyphicon-scale"></span></th>
								<th th:if="${compareStats}" class="pct-data text-right" width="40px" title="Difference"><span class="glyphicon glyphicon-sort"></span></th>
								<th th:if="${compareStats}" class="pct-data text-right" width="40px" th:title="|Relative to ${relativeTo}|"><span class="glyphicon glyphicon-pushpin"></span></th>
							</th:block>
							<th th:unless="${compare}" class="pct-data text-right"><span class="glyphicon glyphicon-scale"></span></th>
							<th class="raw-data text-right"><span class="glyphicon glyphicon-equalizer"></span></th>
						</tr>
					</thead>
					<tbody>
						<!-- Serve Pct. Data -->
						<tr class="pct-data">
							<td>Ace %</td>
							<th th:text="${statsFormatUtil.formatPct(stats.acePct)}" class="text-right">10%</th>
							<th th:if="${compareStats}" th:text="${hasPointCompareStats ? statsFormatUtil.formatPctDiff(compareStats.acePct, stats.acePct) : _}" class="text-right " th:attrappend="class=${statsFormatUtil.pnClass(compareStats.acePct, stats.acePct)}">0%</th>
							<th th:if="${compareStats}" th:text="${hasPointCompareStats ? statsFormatUtil.formatPct(compareStats.acePct) : _}" class="text-right">10%</th>
						</tr>
						<tr class="pct-data">
							<td>Double Fault %</td>
							<th th:text="${statsFormatUtil.formatPct(stats.doubleFaultPct)}" class="text-right">3%</th>
							<th th:if="${compareStats}" th:text="${hasPointCompareStats ? statsFormatUtil.formatPctDiff(compareStats.doubleFaultPct, stats.doubleFaultPct) : _}" class="text-right " th:class="${statsFormatUtil.pnClass(compareStats.doubleFaultPct, stats.doubleFaultPct)}">0%</th>
							<th th:if="${compareStats}" th:text="${hasPointCompareStats ? statsFormatUtil.formatPct(compareStats.doubleFaultPct) : _}" class="text-right">3%</th>
						</tr>
						<tr class="pct-data">
							<td>1st Serve</td>
							<th th:text="${statsFormatUtil.formatPct(stats.firstServePct)}" class="text-right">64%</th>
							<th th:if="${compareStats}" th:text="${hasPointCompareStats ? statsFormatUtil.formatPctDiff(compareStats.firstServePct, stats.firstServePct) : _}" class="text-right " th:class="${statsFormatUtil.pnClass(compareStats.firstServePct, stats.firstServePct)}">0%</th>
							<th th:if="${compareStats}" th:text="${hasPointCompareStats ? statsFormatUtil.formatPct(compareStats.firstServePct) : _}" class="text-right">64%</th>
						</tr>
						<tr class="pct-data">
							<td>1st Serve Won</td>
							<th th:text="${statsFormatUtil.formatPct(stats.firstServeWonPct)}" class="text-right">75%</th>
							<th th:if="${compareStats}" th:text="${hasPointCompareStats ? statsFormatUtil.formatPctDiff(compareStats.firstServeWonPct, stats.firstServeWonPct) : _}" class="text-right " th:class="${statsFormatUtil.pnClass(compareStats.firstServeWonPct, stats.firstServeWonPct)}">0%</th>
							<th th:if="${compareStats}" th:text="${hasPointCompareStats ? statsFormatUtil.formatPct(compareStats.firstServeWonPct) : _}" class="text-right">75%</th>
						</tr>
						<tr class="pct-data">
							<td>2nd Serve Won</td>
							<th th:text="${statsFormatUtil.formatPct(stats.secondServeWonPct)}" class="text-right">45%</th>
							<th th:if="${compareStats}" th:text="${hasPointCompareStats ? statsFormatUtil.formatPctDiff(compareStats.secondServeWonPct, stats.secondServeWonPct) : _}" class="text-right " th:class="${statsFormatUtil.pnClass(compareStats.secondServeWonPct, stats.secondServeWonPct)}">0%</th>
							<th th:if="${compareStats}" th:text="${hasPointCompareStats ? statsFormatUtil.formatPct(compareStats.secondServeWonPct) : _}" class="text-right">45%</th>
						</tr>
						<tr class="pct-data">
							<td>Break Points Saved</td>
							<th th:text="${statsFormatUtil.formatPct(stats.breakPointsSavedPct)}" class="text-right">35%</th>
							<th th:if="${compareStats}" th:text="${hasPointCompareStats ? statsFormatUtil.formatPctDiff(compareStats.breakPointsSavedPct, stats.breakPointsSavedPct) : _}" class="text-right " th:class="${statsFormatUtil.pnClass(compareStats.breakPointsSavedPct, stats.breakPointsSavedPct)}">0%</th>
							<th th:if="${compareStats}" th:text="${hasPointCompareStats ? statsFormatUtil.formatPct(compareStats.breakPointsSavedPct) : _}" class="text-right">35%</th>
						</tr>
						<tr class="pct-data">
							<td>Service Pts. Won</td>
							<th th:text="${statsFormatUtil.formatPct(stats.servicePointsWonPct)}" class="text-right">85%</th>
							<th th:if="${compareStats}" th:text="${hasPointCompareStats ? statsFormatUtil.formatPctDiff(compareStats.servicePointsWonPct, stats.servicePointsWonPct) : _}" class="text-right " th:class="${statsFormatUtil.pnClass(compareStats.servicePointsWonPct, stats.servicePointsWonPct)}">0%</th>
							<th th:if="${compareStats}" th:text="${hasPointCompareStats ? statsFormatUtil.formatPct(compareStats.servicePointsWonPct) : _}" class="text-right">85%</th>
						</tr>
						<tr class="pct-data">
							<td>Service Games Won</td>
							<th th:text="${statsFormatUtil.formatPct(stats.serviceGamesWonPct)}" class="text-right">75%</th>
							<th th:if="${compareStats}" th:text="${hasPointCompareStats ? statsFormatUtil.formatPctDiff(compareStats.serviceGamesWonPct, stats.serviceGamesWonPct) : _}" class="text-right " th:class="${statsFormatUtil.pnClass(compareStats.serviceGamesWonPct, stats.serviceGamesWonPct)}">0%</th>
							<th th:if="${compareStats}" th:text="${hasPointCompareStats ? statsFormatUtil.formatPct(compareStats.serviceGamesWonPct) : _}" class="text-right">75%</th>
						</tr>
						<!-- Serve Raw Data -->
						<tr class="raw-data">
							<td>Aces</td>
							<th th:text="${stats.aces}" class="text-right">5</th>
						</tr>
						<tr class="raw-data">
							<td>Double Faults</td>
							<th th:text="${stats.doubleFaults}" class="text-right">3</th>
						</tr>
						<tr class="raw-data">
							<td>1st Serve In</td>
							<th th:text="${stats.firstServesIn + ' / ' + stats.servicePoints}" class="text-right">43 / 52</th>
						</tr>
						<tr class="raw-data">
							<td>1st Serve Won</td>
							<th th:text="${stats.firstServesWon + ' / ' + stats.firstServesIn}" class="text-right">27 / 43</th>
						</tr>
						<tr class="raw-data">
							<td>2nd Serve Won</td>
							<th th:text="${stats.secondServesWon + ' / ' + stats.secondServes}" class="text-right">12 / 15</th>
						</tr>
						<tr class="raw-data">
							<td>Break Points Saved</td>
							<th th:text="${stats.breakPointsSaved + ' / ' + stats.breakPointsFaced}" class="text-right">1 / 2</th>
						</tr>
						<tr class="raw-data">
							<td>Service Pts. Won</td>
							<th th:text="${stats.servicePointsWon + ' / ' + stats.servicePoints}" class="text-right">39 / 52</th>
						</tr>
						<tr class="raw-data">
							<td>Service Games Won</td>
							<th th:text="${stats.serviceGamesWon + ' / ' + stats.serviceGames}" class="text-right">12 / 15</th>
						</tr>
					</tbody>
				</table>
			</div>
			<div th:if="${hasPointStats}" th:class="'col-md-' + ${popover ? '4' : '3'}" class="col-md-4">
				<table class="table table-condensed table-hover table-striped">
					<thead>
						<tr>
							<th>Return</th>
							<th:block th:if="${compare}">
								<th class="pct-data text-right" title="Actual"><span class="glyphicon glyphicon-scale"></span></th>
								<th th:if="${compareStats}" class="pct-data text-right" width="40px" title="Difference"><span class="glyphicon glyphicon-sort"></span></th>
								<th th:if="${compareStats}" class="pct-data text-right" width="40px" th:title="|Relative to ${relativeTo}|"><span class="glyphicon glyphicon-pushpin"></span></th>
							</th:block>
							<th th:unless="${compare}" class="pct-data text-right"><span class="glyphicon glyphicon-scale"></span></th>
							<th class="raw-data text-right"><span class="glyphicon glyphicon-equalizer"></span></th>
						</tr>
					</thead>
					<tbody>
						<!-- Return Pct. Data -->
						<tr class="pct-data">
							<td>Ace Against %</td>
							<th th:text="${statsFormatUtil.formatPct(stats.aceAgainstPct)}" class="text-right">10%</th>
							<th th:if="${compareStats}" th:text="${hasPointCompareStats ? statsFormatUtil.formatPctDiff(compareStats.aceAgainstPct, stats.aceAgainstPct) : _}" class="text-right " th:attrappend="class=${statsFormatUtil.pnClass(compareStats.aceAgainstPct, stats.aceAgainstPct)}">0%</th>
							<th th:if="${compareStats}" th:text="${hasPointCompareStats ? statsFormatUtil.formatPct(compareStats.aceAgainstPct) : _}" class="text-right">10%</th>
						</tr>
						<tr class="pct-data">
							<td>Dbl. Flt. Against %</td>
							<th th:text="${statsFormatUtil.formatPct(stats.doubleFaultAgainstPct)}" class="text-right">3%</th>
							<th th:if="${compareStats}" th:text="${hasPointCompareStats ? statsFormatUtil.formatPctDiff(compareStats.doubleFaultAgainstPct, stats.doubleFaultAgainstPct) : _}" class="text-right " th:attrappend="class=${statsFormatUtil.pnClass(compareStats.doubleFaultAgainstPct, stats.doubleFaultAgainstPct)}">0%</th>
							<th th:if="${compareStats}" th:text="${hasPointCompareStats ? statsFormatUtil.formatPct(compareStats.doubleFaultAgainstPct) : _}" class="text-right">3%</th>
						</tr>
						<tr class="pct-data">
							<td>1st Srv. Rtn. Won</td>
							<th th:text="${statsFormatUtil.formatPct(stats.firstServeReturnPointsWonPct)}" class="text-right">28%</th>
							<th th:if="${compareStats}" th:text="${hasPointCompareStats ? statsFormatUtil.formatPctDiff(compareStats.firstServeReturnPointsWonPct, stats.firstServeReturnPointsWonPct) : _}" class="text-right " th:attrappend="class=${statsFormatUtil.pnClass(compareStats.firstServeReturnPointsWonPct, stats.firstServeReturnPointsWonPct)}">0%</th>
							<th th:if="${compareStats}" th:text="${hasPointCompareStats ? statsFormatUtil.formatPct(compareStats.firstServeReturnPointsWonPct) : _}" class="text-right">28%</th>
						</tr>
						<tr class="pct-data">
							<td>2nd Srv. Rtn. Won</td>
							<th th:text="${statsFormatUtil.formatPct(stats.secondServeReturnPointsWonPct)}" class="text-right">22%</th>
							<th th:if="${compareStats}" th:text="${hasPointCompareStats ? statsFormatUtil.formatPctDiff(compareStats.secondServeReturnPointsWonPct, stats.secondServeReturnPointsWonPct) : _}" class="text-right " th:attrappend="class=${statsFormatUtil.pnClass(compareStats.secondServeReturnPointsWonPct, stats.secondServeReturnPointsWonPct)}">0%</th>
							<th th:if="${compareStats}" th:text="${hasPointCompareStats ? statsFormatUtil.formatPct(compareStats.secondServeReturnPointsWonPct) : _}" class="text-right">22%</th>
						</tr>
						<tr class="pct-data">
							<td>Break Points Won</td>
							<th th:text="${statsFormatUtil.formatPct(stats.breakPointsWonPct)}" class="text-right">35%</th>
							<th th:if="${compareStats}" th:text="${hasPointCompareStats ? statsFormatUtil.formatPctDiff(compareStats.breakPointsWonPct, stats.breakPointsWonPct) : _}" class="text-right " th:attrappend="class=${statsFormatUtil.pnClass(compareStats.breakPointsWonPct, stats.breakPointsWonPct)}">0%</th>
							<th th:if="${compareStats}" th:text="${hasPointCompareStats ? statsFormatUtil.formatPct(compareStats.breakPointsWonPct) : _}" class="text-right">35%</th>
						</tr>
						<tr class="pct-data">
							<td>Return Pts. Won</td>
							<th th:text="${statsFormatUtil.formatPct(stats.returnPointsWonPct)}" class="text-right">35%</th>
							<th th:if="${compareStats}" th:text="${hasPointCompareStats ? statsFormatUtil.formatPctDiff(compareStats.returnPointsWonPct, stats.returnPointsWonPct) : _}" class="text-right " th:attrappend="class=${statsFormatUtil.pnClass(compareStats.returnPointsWonPct, stats.returnPointsWonPct)}">0%</th>
							<th th:if="${compareStats}" th:text="${hasPointCompareStats ? statsFormatUtil.formatPct(compareStats.returnPointsWonPct) : _}" class="text-right">35%</th>
						</tr>
						<tr class="pct-data">
							<td>Return Games Won</td>
							<th th:text="${statsFormatUtil.formatPct(stats.returnGamesWonPct)}" class="text-right">35%</th>
							<th th:if="${compareStats}" th:text="${hasPointCompareStats ? statsFormatUtil.formatPctDiff(compareStats.returnGamesWonPct, stats.returnGamesWonPct) : _}" class="text-right " th:attrappend="class=${statsFormatUtil.pnClass(compareStats.returnGamesWonPct, stats.returnGamesWonPct)}">0%</th>
							<th th:if="${compareStats}" th:text="${hasPointCompareStats ? statsFormatUtil.formatPct(compareStats.returnGamesWonPct) : _}" class="text-right">35%</th>
						</tr>
						<!-- Return Raw Data -->
						<tr class="raw-data"></tr>
						<tr class="raw-data">
							<td>Aces Against</td>
							<th th:text="${stats.acesAgainst}" class="text-right">5</th>
						</tr>
						<tr class="raw-data">
							<td>Dbl. Flts. Against</td>
							<th th:text="${stats.doubleFaultsAgainst}" class="text-right">3</th>
						</tr>
						<tr class="raw-data">
							<td>1st Srv. Rtn. Won</td>
							<th th:text="${stats.firstServeReturnPointsWon + ' / ' + stats.firstServeReturnPoints}" class="text-right">25 / 60</th>
						</tr>
						<tr class="raw-data">
							<td>2nd Srv. Rtn. Won</td>
							<th th:text="${stats.secondServeReturnPointsWon + ' / ' + stats.secondServeReturnPoints}" class="text-right">25 / 50</th>
						</tr>
						<tr class="raw-data">
							<td>Break Points Won</td>
							<th th:text="${stats.breakPointsWon + ' / ' + stats.breakPoints}" class="text-right">0 / 0</th>
						</tr>
						<tr class="raw-data">
							<td>Return Pts. Won</td>
							<th th:text="${stats.returnPointsWon + ' / ' + stats.returnPoints}" class="text-right">25 / 55</th>
						</tr>
						<tr class="raw-data">
							<td>Return Games Won</td>
							<th th:text="${stats.returnGamesWon + ' / ' + stats.returnGames}" class="text-right">3 / 12</th>
						</tr>
					</thead>
				</table>
			</div>
			<div th:class="'col-md-' + ${popover ? '4' : '3'}" class="col-md-4">
				<table class="table table-condensed table-hover table-striped">
					<thead>
						<tr>
							<th>Total</th>
							<th:block th:if="${compare}">
								<th class="pct-data text-right" title="Actual"><span class="glyphicon glyphicon-scale"></span></th>
								<th th:if="${compareStats}" class="pct-data text-right" width="40px" title="Difference"><span class="glyphicon glyphicon-sort"></span></th>
								<th th:if="${compareStats}" class="pct-data text-right" width="40px" th:title="|Relative to ${relativeTo}|"><span class="glyphicon glyphicon-pushpin"></span></th>
							</th:block>
							<th th:unless="${compare}" class="pct-data text-right"><span class="glyphicon glyphicon-scale"></span></th>
							<th class="raw-data text-right"><span class="glyphicon glyphicon-equalizer"></span></th>
						</tr>
					</thead>
					<tbody>
						<!-- Total Pct. Data -->
						<th:block th:if="${hasPointStats}">
							<tr>
								<td th:title="#{stats.pointsDominanceRatio.title}">Points Dominance</td>
								<th th:text="${statsFormatUtil.formatRatio(stats.pointsDominanceRatio)}" class="text-right">1.07</th>
								<th th:if="${compareStats}" th:text="${hasPointCompareStats ? statsFormatUtil.formatRatioDiff(compareStats.pointsDominanceRatio, stats.pointsDominanceRatio) : _}" class="pct-data text-right " th:attrappend="class=${statsFormatUtil.pnClass(compareStats.pointsDominanceRatio, stats.pointsDominanceRatio)}">0</th>
								<th th:if="${compareStats}" th:text="${hasPointCompareStats ? statsFormatUtil.formatRatio(compareStats.pointsDominanceRatio) : _}" class="pct-data text-right">1.07</th>
							</tr>
							<tr>
								<td th:title="#{stats.gamesDominanceRatio.title}">Games Dominance</td>
								<th th:text="${statsFormatUtil.formatRatio(stats.gamesDominanceRatio)}" class="text-right">1.07</th>
								<th th:if="${compareStats}" th:text="${hasPointCompareStats ? statsFormatUtil.formatRatioDiff(compareStats.gamesDominanceRatio, stats.gamesDominanceRatio) : _}" class="pct-data text-right " th:attrappend="class=${statsFormatUtil.pnClass(compareStats.gamesDominanceRatio, stats.gamesDominanceRatio)}">0</th>
								<th th:if="${compareStats}" th:text="${hasPointCompareStats ? statsFormatUtil.formatRatio(compareStats.gamesDominanceRatio) : _}" class="pct-data text-right">1.07</th>
							</tr>
							<tr>
								<td th:title="#{stats.breakPointsRatio.title}">Brk. Pts. Ratio</td>
								<th th:text="${statsFormatUtil.formatRatio(stats.breakPointsRatio)}" class="text-right">1.03</th>
								<th th:if="${compareStats}" th:text="${hasPointCompareStats ? statsFormatUtil.formatRatioDiff(compareStats.breakPointsRatio, stats.breakPointsRatio) : _}" class="pct-data text-right " th:attrappend="class=${statsFormatUtil.pnClass(compareStats.breakPointsRatio, stats.breakPointsRatio)}">0</th>
								<th th:if="${compareStats}" th:text="${hasPointCompareStats ? statsFormatUtil.formatRatio(compareStats.breakPointsRatio) : _}" class="pct-data text-right">1.03</th>
							</tr>
							<tr>
								<td th:title="#{stats.overPerformingRatio.title}">Over-Performing</td>
								<th th:text="${statsFormatUtil.formatRatio(stats.overPerformingRatio)}" class="text-right">1.01</th>
								<th th:if="${compareStats}" th:text="${hasPointCompareStats ? statsFormatUtil.formatRatioDiff(compareStats.overPerformingRatio, stats.overPerformingRatio) : _}" class="pct-data text-right " th:attrappend="class=${statsFormatUtil.pnClass(compareStats.overPerformingRatio, stats.overPerformingRatio)}">0</th>
								<th th:if="${compareStats}" th:text="${hasPointCompareStats ? statsFormatUtil.formatRatio(compareStats.overPerformingRatio) : _}" class="pct-data text-right">1.01</th>
							</tr>
							<tr class="pct-data">
								<td>Total Pts. Won</td>
								<th th:text="${statsFormatUtil.formatPct(stats.totalPointsWonPct)}" class="text-right">56%</th>
								<th th:if="${compareStats}" th:text="${hasPointCompareStats ? statsFormatUtil.formatPctDiff(compareStats.totalPointsWonPct, stats.totalPointsWonPct) : _}" class="text-right " th:attrappend="class=${statsFormatUtil.pnClass(compareStats.totalPointsWonPct, stats.totalPointsWonPct)}">0%</th>
								<th th:if="${compareStats}" th:text="${hasPointCompareStats ? statsFormatUtil.formatPct(compareStats.totalPointsWonPct) : _}" class="text-right">56%</th>
							</tr>
						</th:block>
						<tr class="pct-data">
							<td>Total Games Won</td>
							<th th:text="${statsFormatUtil.formatPct(stats.totalGamesWonPct)}" class="text-right">58%</th>
							<th th:if="${compareStats}" th:text="${!compareStats.empty ? statsFormatUtil.formatPctDiff(compareStats.totalGamesWonPct, stats.totalGamesWonPct) : _}" class="text-right " th:attrappend="class=${statsFormatUtil.pnClass(compareStats.totalGamesWonPct, stats.totalGamesWonPct)}">0%</th>
							<th th:if="${compareStats}" th:text="${!compareStats.empty ? statsFormatUtil.formatPct(compareStats.totalGamesWonPct) : _}" class="text-right">58%</th>
						</tr>
						<tr class="pct-data">
							<td>Sets Won</td>
							<th th:text="${statsFormatUtil.formatPct(stats.setsWonPct)}" class="text-right">62%</th>
							<th th:if="${compareStats}" th:text="${!compareStats.empty ? statsFormatUtil.formatPctDiff(compareStats.setsWonPct, stats.setsWonPct) : _}" class="text-right " th:attrappend="class=${statsFormatUtil.pnClass(compareStats.setsWonPct, stats.setsWonPct)}">0%</th>
							<th th:if="${compareStats}" th:text="${!compareStats.empty ? statsFormatUtil.formatPct(compareStats.setsWonPct) : _}" class="text-right">62%</th>
						</tr>
						<tr class="pct-data">
							<td>Matches Won</td>
							<th th:text="${statsFormatUtil.formatPct(stats.matchesWonPct)}" class="text-right">69%</th>
							<th th:if="${compareStats}" th:text="${!compareStats.empty ? statsFormatUtil.formatPctDiff(compareStats.matchesWonPct, stats.matchesWonPct) : _}" class="text-right " th:attrappend="class=${statsFormatUtil.pnClass(compareStats.matchesWonPct, stats.matchesWonPct)}">0%</th>
							<th th:if="${compareStats}" th:text="${!compareStats.empty ? statsFormatUtil.formatPct(compareStats.matchesWonPct) : _}" class="text-right">69%</th>
						</tr>
						<!-- Total Raw Data -->
						<th:block th:if="${hasPointStats}">
							<tr class="raw-data">
								<td>Total Pts. Won</td>
								<th th:text="${stats.totalPointsWon + ' / ' + stats.totalPoints}" class="text-right">1299 / 2234</th>
							</tr>
						</th:block>
						<tr th:unless="${hasPointStats}" class="raw-data"></tr>
						<tr class="raw-data">
							<td>Total Games Won</td>
							<th th:text="${stats.totalGamesWon + ' / ' + stats.totalGames}" class="text-right">86 / 125</th>
						</tr>
						<tr class="raw-data">
							<td>Sets Won</td>
							<th th:text="${stats.setsWon + ' / ' + stats.sets}" class="text-right">16 / 27</th>
						</tr>
						<tr class="raw-data">
							<td>Matches Won</td>
							<th th:text="${stats.matchesWon + ' / ' + stats.matches}" class="text-right">6 / 10</th>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<p th:if="${stats.empty}">No statistics available</p>
		<div class="row">
			<th:block th:unless="${stats.empty}">
			<div th:class="'text-nowrap col-md-' + ${popover ? '4' : '3'}" class="col-md-4">
				<button class="pct-data btn btn-default btn-xs glyphicon glyphicon-equalizer" th:onclick="|toggleStatsData('#${statsContainerId}')|" title="Show raw data"> Raw Data</button>
				<button class="raw-data btn btn-default btn-xs glyphicon glyphicon-scale" th:onclick="|toggleStatsData('#${statsContainerId}')|" title="Show percentage data"> Pct. Data</button>
				&nbsp;&nbsp;<button class="btn btn-default btn-xs glyphicon glyphicon-object-align-left" th:onclick="|compareStats('${containerId}', '${statsId}', ${compare})|" title="Compare statistics"> Compare</button>
			</div>
			<div th:class="'col-md-' + ${popover ? '4' : '3'}" class="col-md-4">
				<small th:if="${compare}">Compare statistics with:</small>
			</div>
			</th:block>
			<div th:if="${popover}" class="col-md-4">
				<button class="btn btn-default btn-xs glyphicon glyphicon-remove pull-right" th:onclick="|$('#${statsId}').click()|"> Close</button>
			</div>
		</div>
		<div th:if="${compare}">
			<br/>
			<div class="row">
				<div th:class="'col-md-' + ${popover ? '4' : '3'}" class="col-md-4">
					<div class="input-group">
						<label th:for="|${statsId}CompareSeason|" class="input-group-addon input-sm">Season:</label>
						<select th:id="|${statsId}CompareSeason|" class="form-control input-sm" th:onchange="|compareStats('${containerId}', '${statsId}')|">
							<option value="">All seasons</option>
							<option th:each="aSeason : ${seasons}" th:value="${aSeason}" value="2005" th:text="${aSeason}" th:selected="${aSeason == compareSeason}">2005</option>
						</select>
					</div>
				</div>
				<div th:class="'col-md-' + ${popover ? '4' : '3'}" class="col-md-4">
					<div class="input-group">
						<label th:for="|${statsId}CompareLevel|" class="input-group-addon input-sm">Level:</label>
						<select th:id="|${statsId}CompareLevel|" class="form-control input-sm" th:onchange="|compareStats('${containerId}', '${statsId}')|">
							<option value="">All levels</option>
							<option th:each="aLevel : ${levels}" th:value="${aLevel.code}" th:class="|bg-level-${aLevel.code}|" value="G" class="bg-level-G" th:text="${aLevel.text}" th:selected="${aLevel.code == compareLevel}">Grand Slam</option>
						</select>
					</div>
				</div>
				<div th:class="'col-md-' + ${popover ? '4' : '3'}" class="col-md-4">
					<div class="input-group">
						<label th:for="|${statsId}CompareSurface|" class="input-group-addon input-sm">Surface:</label>
						<select th:id="|${statsId}CompareSurface|" class="form-control input-sm" th:onchange="|compareStats('${containerId}', '${statsId}')|">
							<option value="">All surfaces</option>
							<option th:each="aSurface : ${surfaces}" th:value="${aSurface.code}" th:class="|bg-surface-${aSurface.code}|" value="H" class="bg-surface-H" th:text="${aSurface.text}" th:selected="${aSurface.code == compareSurface}">Hard</option>
						</select>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>