<div class="input-group-btn" xmlns:th="http://www.thymeleaf.org" th:fragment="quickPicks">
	<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Quick Picks <span class="caret"></span></button>
	<ul class="dropdown-menu">
		<li><a href="#" onclick="selectPlayers(this)" title="Roger Federer, Rafael Nadal, Novak Djokovic, Andy Murray">Big Four</a></li>
		<li><a href="#" onclick="selectPlayers(this)" title="Marin Cilic, Kei Nishikori, Milos Raonic, Grigor Dimitrov">Young Guns</a></li>
		<li><a href="#" onclick="selectPlayers(this)" title="Gustavo Kuerten, Marat Safin, Juan Carlos Ferrero, Lleyton Hewitt, Andy Roddick">Week Era</a></li>
		<li><a href="#" onclick="selectPlayers(this)" title="Pete Sampras, Andre Agassi, Jim Courier, Michael Chang">Americans rule '90</a></li>
		<li><a href="#" onclick="selectPlayers(this)" title="Mats Wilander, Stefan Edberg, Boris Becker, Thomas Muster">Late '80 / Early '90</a></li>
		<li><a href="#" onclick="selectPlayers(this)" title="Jimmy Connors, Guillermo Vilas, Bjorn Borg, John Mcenroe, Ivan Lendl">'70 / Early '80 dominance</a></li>
		<li><a href="#" onclick="selectPlayers(this)" title="Rod Laver, Ken Rosewall, Arthur Ashe, John Newcombe, Ilie Nastase, Manuel Orantes">Dawn of Open Era</a></li>
	</ul>
</div>