<a xmlns:th="http://www.thymeleaf.org" th:fragment="playerTournamentTimeline(tournament)">
	<!--/*@thymesVar id="tournament" type="org.strangeforest.tcb.stats.model.PlayerTournamentTimeline"*/-->
	<td th:class="|bg-level-${tournament.maxLevel}|" class="bg-level-G">
		<th:block th:unless="${tournament.maxLevel} == 'O'" th:each="levelAndName : ${tournament.levelsAndNames}">
			<a th:href="@{/tournament(tournamentId=${tournament.tournamentId})}" th:text="${levelAndName.value}" th:data-level="${levelAndName.key}" data-level="G" class="label tournament">Wimbledon</a>
		</th:block>
		<a th:if="${tournament.maxLevel} == 'O'" th:href="@{/tournament(tournamentId=${tournament.tournamentId})}" th:text="${tournament.name}" th:data-level="${tournament.maxLevel}" data-level="O" class="label tournament">Olympics</a>
	</td>
	<td th:class="|bg-level-${tournament.maxLevel}|" class="bg-level-G">
		<th:block th:each="surface : ${tournament.surfaces}">
			<div th:text="${surface.surface}" class="label surface" th:data-indoor="${surface.indoor ? 'true' : _}">G</div>
		</th:block>
	</td>
	<td th:each="item : ${tournament.items}" th:class="${item.result != null ? 'bg-result-' + item.result : ''}" class="bg-result-W" align="center">
		<a th:if="${item.hasResult()}" th:href="@{/playerProfile(playerId=${playerId}, tab=matches, tournamentEventId=${item.tournamentEventId})}" th:data-level="${tournament.levelCount > 1 ? item.level : _}" th:data-surface="${tournament.surfaceCount > 1 ? item.surface : _}" th:data-indoor="${tournament.surfaceCount > 1 ? item.indoor : _}">
			<span th:text="${item.result}" title="Show tournament matches">W</span>
		</a>
		<span th:if="${item.absent}" class="absent">A</span>
	</td>
</th:block>