<th:block xmlns:th="http://www.thymeleaf.org" th:fragment="playerTournamentTimeline(tournament)">
	<!--@thymesVar id="tournament" type="org.strangeforest.tcb.stats.model.PlayerTournamentTimeline"-->
	<td th:class="|bg-level-${tournament.maxLevel}|" class="bg-level-G">
		<span th:unless="${tournament.maxLevel} == 'O'" th:each="levelAndName : ${tournament.levelsAndNames}" th:text="${levelAndName.value}" th:attr="data-level=${levelAndName.key}" data-level="G" class="label level">Wimbledon</span>
		<span th:if="${tournament.maxLevel} == 'O'" th:text="${tournament.name}" th:attr="data-level=${tournament.maxLevel}" data-level="O" class="label level">Olympics</span>
	</td>
	<td th:class="|bg-level-${tournament.maxLevel}|" class="bg-level-G">
		<span th:each="surface : ${tournament.surfaces}" th:text="${surface.surface}" class="label surface" th:title="${surface.indoor ? 'Indoor' : 'Outdoor'}">G</span>
	</td>
	<td th:each="item : ${tournament.items}" th:class="${item.result != null ? 'bg-result-' + item.result : ''}" class="bg-result-W" align="center">
		<a th:if="${item.result}" th:href="'javascript:playerTournamentMatches(' + ${item.tournamentEventId} + ')'" th:attr="data-level=${tournament.levelCount > 1 ? item.level : ''}, data-surface=${tournament.surfaceCount > 1 ? item.surface : ''}">
			<span th:text="${item.result}" title="Show tournament matches">W</span>
		</a>
		<span th:unless="${item.result}" class="absent">A</span>
	</td>
</th:block>