<div th:fragment="playerStats(elementId, popover, buttonId)" xmlns:th="http://www.thymeleaf.org">
	<!--@thymesVar id="stats" type="org.strangeforest.tcb.stats.model.PlayerStats"-->
	<div th:id="${elementId}">
		<script type="text/javascript" th:inline="javascript">
			/*<![CDATA[*/
			$(function() {
				$("#" + [[${elementId}]]).find(".raw-data").hide();
			});
			/*]]>*/
		</script>
		<div th:unless="${stats.empty}" class="row text-nowrap">
			<div th:if="${stats.hasPointStats()}" th:class="'col-md-' + ${popover ? '4' : '3'}" class="col-md-4">
				<table class="table table-condensed table-hover table-striped">
					<tr>
						<th>Serve</th>
						<th></th>
					</tr>
					<!-- Serve Pct. Data -->
					<tr class="pct-data">
						<td>Ace %</td>
						<th th:text="${#numbers.formatDecimal(stats.acePct, 1, 1) + '%'}">10%</th>
					</tr>
					<tr class="pct-data">
						<td>Double Fault %</td>
						<th th:text="${#numbers.formatDecimal(stats.doubleFaultPct, 1, 1) + '%'}">3%</th>
					</tr>
					<tr class="pct-data">
						<td>1st Serve</td>
						<th th:text="${#numbers.formatDecimal(stats.firstServePct, 1, 1) + '%'}">64%</th>
					</tr>
					<tr class="pct-data">
						<td>1st Serve Won</td>
						<th th:text="${#numbers.formatDecimal(stats.firstServeWonPct, 1, 1) + '%'}">75%</th>
					</tr>
					<tr class="pct-data">
						<td>2nd Serve Won</td>
						<th th:text="${#numbers.formatDecimal(stats.secondServeWonPct, 1, 1) + '%'}">45%</th>
					</tr>
					<tr class="pct-data">
						<td>Break Points Saved</td>
						<th th:text="${stats.breakPointsSavedPct != null ? #numbers.formatDecimal(stats.breakPointsSavedPct, 1, 1) + '%' : ''}">35%</th>
					</tr>
					<tr class="pct-data">
						<td>Service Pts. Won</td>
						<th th:text="${#numbers.formatDecimal(stats.servicePointsWonPct, 1, 1) + '%'}">85%</th>
					</tr>
					<tr class="pct-data">
						<td>Service Games Won</td>
						<th th:text="${#numbers.formatDecimal(stats.serviceGamesWonPct, 1, 1) + '%'}">85%</th>
					</tr>
					<!-- Serve Raw Data -->
					<tr class="raw-data">
						<td>Aces</td>
						<th th:text="${stats.aces}">5</th>
					</tr>
					<tr class="raw-data">
						<td>Double Faults</td>
						<th th:text="${stats.doubleFaults}">3</th>
					</tr>
					<tr class="raw-data">
						<td>1st Serve In</td>
						<th th:text="${stats.firstServesIn + ' / ' + stats.servicePoints}">43 / 52</th>
					</tr>
					<tr class="raw-data">
						<td>1st Serve Won</td>
						<th th:text="${stats.firstServesWon + ' / ' + stats.firstServesIn}">27 / 43</th>
					</tr>
					<tr class="raw-data">
						<td>2nd Serve Won</td>
						<th th:text="${stats.secondServesWon + ' / ' + stats.secondServes}">12 / 15</th>
					</tr>
					<tr class="raw-data">
						<td>Break Points Saved</td>
						<th th:text="${stats.breakPointsSaved + ' / ' + stats.breakPointsFaced}">1 / 2</th>
					</tr>
					<tr class="raw-data">
						<td>Service Pts. Won</td>
						<th th:text="${stats.servicePointsWon + ' / ' + stats.servicePoints}">39 / 52</th>
					</tr>
					<tr class="raw-data">
						<td>Service Games Won</td>
						<th th:text="${stats.serviceGamesWon + ' / ' + stats.serviceGames}">12 / 15</th>
					</tr>
				</table>
			</div>
			<div th:if="${stats.hasPointStats()}" th:class="'col-md-' + ${popover ? '4' : '3'}" class="col-md-4">
				<table class="table table-condensed table-hover table-striped">
					<tr>
						<th>Return</th>
						<th></th>
					</tr>
					<!-- Return Pct. Data -->
					<tr class="pct-data">
						<td>Ace Against %</td>
						<th th:text="${#numbers.formatDecimal(stats.aceAgainstPct, 1, 1) + '%'}">10%</th>
					</tr>
					<tr class="pct-data">
						<td>Double Fault Against %</td>
						<th th:text="${#numbers.formatDecimal(stats.doubleFaultAgainstPct, 1, 1) + '%'}">3%</th>
					</tr>
					<tr class="pct-data">
						<td>1st Srv. Rtn. Won</td>
						<th th:text="${#numbers.formatDecimal(stats.firstServeReturnPointsWonPct, 1, 1) + '%'}">28%</th>
					</tr>
					<tr class="pct-data">
						<td>2nd Srv. Rtn. Won</td>
						<th th:text="${#numbers.formatDecimal(stats.secondServeReturnPointsWonPct, 1, 1) + '%'}">22%</th>
					</tr>
					<tr class="pct-data">
						<td>Break Points</td>
						<th th:text="${stats.breakPointsWonPct != null ? #numbers.formatDecimal(stats.breakPointsWonPct, 1, 1) + '%' : ''}">35%</th>
					</tr>
					<tr class="pct-data">
						<td>Return Pts. Won</td>
						<th th:text="${#numbers.formatDecimal(stats.returnPointsWonPct, 1, 1) + '%'}">35%</th>
					</tr>
					<tr class="pct-data">
						<td>Return Games Won</td>
						<th th:text="${#numbers.formatDecimal(stats.returnGamesWonPct, 1, 1) + '%'}">35%</th>
					</tr>
					<!-- Return Raw Data -->
					<tr class="raw-data"></tr>
					<tr class="raw-data">
						<td>Aces Against</td>
						<th th:text="${stats.acesAgainst}">5</th>
					</tr>
					<tr class="raw-data">
						<td>Double Faults Against</td>
						<th th:text="${stats.doubleFaultsAgainst}">3</th>
					</tr>
					<tr class="raw-data">
						<td>1st Srv. Rtn. Won</td>
						<th th:text="${stats.firstServeReturnPointsWon + ' / ' + stats.firstServeReturnPoints}">25 / 60</th>
					</tr>
					<tr class="raw-data">
						<td>2nd Srv. Rtn. Won</td>
						<th th:text="${stats.secondServeReturnPointsWon + ' / ' + stats.secondServeReturnPoints}">25 / 50</th>
					</tr>
					<tr class="raw-data">
						<td>Break Points</td>
						<th th:text="${stats.breakPointsWon + ' / ' + stats.breakPoints}">0 / 0</th>
					</tr>
					<tr class="raw-data">
						<td>Return Pts. Won</td>
						<th th:text="${stats.returnPointsWon + ' / ' + stats.returnPoints}">25 / 55</th>
					</tr>
					<tr class="raw-data">
						<td>Return Games Won</td>
						<th th:text="${stats.returnGamesWon + ' / ' + stats.returnGames}">3 / 12</th>
					</tr>
				</table>
			</div>
			<div th:class="'col-md-' + ${popover ? '4' : '3'}" class="col-md-4">
				<table class="table table-condensed table-hover table-striped">
					<tr>
						<th>Total</th>
						<th></th>
					</tr>
					<!-- Total Pct. Data -->
					<th:block th:if="${stats.hasPointStats()}">
						<tr>
							<td th:title="#{stats.dominanceRatio.title}">Dominance Ratio</td>
							<th th:text="${#numbers.formatDecimal(stats.dominanceRatio, 1, 2)}">1.07</th>
						</tr>
						<tr>
							<td th:title="#{stats.breakPointsRatio.title}">Break Points Ratio</td>
							<th th:text="${#numbers.formatDecimal(stats.breakPointsRatio, 1, 2)}">1.03</th>
						</tr>
						<tr>
							<td th:title="#{stats.breakPointsOverPerformingRatio.title}">Break Pts. Over-Perf.</td>
							<th th:text="${#numbers.formatDecimal(stats.breakPointsOverPerformingRatio, 1, 2)}">1.01</th>
						</tr>
						<tr class="pct-data">
							<td>Total Pts. Won</td>
							<th th:text="${#numbers.formatDecimal(stats.totalPointsWonPct, 1, 1) + '%'}">56%</th>
						</tr>
						<tr class="pct-data">
							<td>Total Games Won</td>
							<th th:text="${#numbers.formatDecimal(stats.totalGamesWonPct, 1, 1) + '%'}">58%</th>
						</tr>
					</th:block>
					<tr class="pct-data">
						<td>Sets Won</td>
						<th th:text="${#numbers.formatDecimal(stats.setsWonPct, 1, 1) + '%'}">62%</th>
					</tr>
					<tr class="pct-data">
						<td>Matches Won</td>
						<th th:text="${#numbers.formatDecimal(stats.matchesWonPct, 1, 1) + '%'}">69%</th>
					</tr>
					<!-- Total Raw Data -->
					<th:block th:if="${stats.hasPointStats()}">
						<tr class="raw-data">
							<td>Total Pts. Won</td>
							<th th:text="${stats.totalPointsWon + ' / ' + stats.totalPoints}">1299 / 2234</th>
						</tr>
						<tr class="raw-data">
							<td>Total Games Won</td>
							<th th:text="${stats.totalGamesWon + ' / ' + stats.totalGames}">86 / 125</th>
						</tr>
					</th:block>
					<tr class="raw-data">
						<td>Sets Won</td>
						<th th:text="${stats.setsWon + ' / ' + stats.sets}">16 / 27</th>
					</tr>
					<tr class="raw-data">
						<td>Matches Won</td>
						<th th:text="${stats.matchesWon + ' / ' + stats.matches}">6 / 10</th>
					</tr>
				</table>
			</div>
		</div>
		<th:block th:if="${stats.empty}"><p>No statistics available</p></th:block>
		<div class="row">
			<div th:unless="${stats.empty}" class="pct-data col-md-6">
				<button class="btn btn-default btn-xs glyphicon glyphicon-equalizer" th:onclick="|toggleStatsData('#${elementId}')|"> Raw Data</button>
			</div>
			<div th:unless="${stats.empty}" class="raw-data col-md-6">
				<button class="btn btn-default btn-xs glyphicon glyphicon-scale" th:onclick="|toggleStatsData('#${elementId}')|"> Pct. Data</button>
			</div>
			<div th:if="${popover}" class="col-md-6">
				<button class="btn btn-default btn-xs glyphicon glyphicon-remove pull-right" th:onclick="|$('#${buttonId}').click()|"> Close</button>
			</div>
		</div>
	</div>
</div>