<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<script th:src="@{/webjars/jquery/2.2.0/jquery.min.js}"></script>
	<script type="text/javascript" src="https://www.google.com/jsapi"></script>
	<script type="text/javascript" th:inline="javascript">
		google.load("visualization", "1", {packages:["geochart"]});
		google.setOnLoadCallback(drawGeolocationChart);

		function drawGeolocationChart() {
			var countries = [[${countries}]];
			var data = google.visualization.arrayToDataTable(countries);
			var options = {
				colorAxis: {colors: ["#ffdddd", "#ff0000"]}
			};
			var chart = new google.visualization.GeoChart(document.getElementById("geolocationChart"));
			chart.draw(data, options);
		}
	</script>
</head>
<body>
	<div id="geolocationChart" style="width: 900px; height: 500px;"></div>
</body>
</html>
