.navbar-brand {
	height: 40px;
	padding: 10px 15px;
}
.navbar-text {
	margin: 10px;
}
.nav > li > a {
	padding: 5px 10px;
}
.ui-autocomplete {
	max-height: 600px; overflow-y: auto; overflow-x: hidden;
}
.ui-autocomplete-loading {
	background: white url("/images/ui-anim_basic_16x16.gif") right center no-repeat;
}
.grid-title {
	position: absolute;
	margin-top: 5px;
}
.new-feature {
	font-size: x-small;
	color: crimson;
}
.label {
	font-size: 87.5%;
}
.label-won {
	color: black;
	background-color: lime;
}
.label-lost {
	color: black;
	background-color: #ffa07a;
}
.label-G {
	background-color: #d9534f;
}
.label-F {
	background-color: #f0ad4e;
}
.label-M {
	background-color: #5bc0de;
}
.label-O {
	background-color: #5cb85c;
}
.label-A {
	background-color: #777;
}
.label-B {
	background-color: #999;
}
.label-C {
	background-color: #bbb;
}
.label-U {
	background-color: #ddd;
}
.label-E {
	background-color: #ddd;
}
.label-H {
	background-color: #ddd;
}
.label-D {
	background-color: #d860f8;
}
.label-T {
	background-color: #f088b0;
}
.black {
	color: black;
}
.bg-level-G {
	background: #f2dede;
}
.bg-level-F {
	background: #fcf8e3;
}
.bg-level-M {
	background: #d9edf7;
}
.bg-level-O {
	background: #dff0d8;
}
.bg-level-A {
	background: #e0e0e0;
}
.bg-level-B {
	background: #e8e8e8;
}
.bg-level-C {
	background: #f0f0f0;
}
.bg-level-U {
	background: #f8f8f8;
}
.bg-level-E {
	background: white;
}
.bg-level-H {
	background: white;
}
.bg-level-D {
	background: #f7e3f7;
}
.bg-level-T {
	background: #f7ecf3;
}
.bg-surface-H {
	background: #d9edf7;
}
.bg-surface-C {
	background: #f2dede;
}
.bg-surface-G {
	background: #dff0d8;
}
.bg-surface-P {
	background: #fcf8e3;
}
.bg-result-W {
	background: lime;
}
.bg-result-F {
	background: thistle;
}
.bg-result-SF {
	background: yellow;
}
.bg-result-QF {
	background: blanchedalmond;
}
.bg-result-R16 {
	background: #afeeee;
}
.bg-result-R32 {
	background: #afeeee;
}
.bg-result-R64 {
	background: #afeeee;
}
.bg-result-R128 {
	background: #afeeee;
}
.bg-result-RR {
	background: #afeeee;
}
.bg-result-G {
	background: gold;
}
.bg-result-S {
	background: silver;
}
.bg-result-BR {
	background: #ff9c40;
}
.bg-won-0 {
	background: #ffa07a;
}
.bg-won-10 {
	background: #ffc797;
}
.bg-won-30 {
	background: #ffdba1;
}
.bg-won-50 {
	background: #ffff99;
}
.bg-won-70 {
	background: #cbff98;
}
.bg-won-90 {
	background: #98ff98;
}
.bg-won-100 {
	background: lime;
}
.points-10 {
	background-color: #ffe8f0;
}
.points-20 {
	background-color: #fcd0e0;
}
.points-30 {
	background-color: #f8b8d0;
}
.points-40 {
	background-color: #f4a0c0;
}
.points-50 {
	background-color: #f088b0;
}
.points-60 {
	background-color: #ec70a0;
}
.points-70 {
	background-color: #e85890;
}
.points-80 {
	background-color: #e44080;
}
.points-90 {
	background-color: #e02870;
}
.points-100 {
	background-color: #dc1060;
}
.stats-header {
	font-size: smaller;
}
.stats {
	font-size: smaller;
	text-align: center;
}
.stats-general {
	background-color: #f0ffff;
}
.stats-perf {
	background-color: #f4f4ff;
}
.stats-pressure {
	background-color: #fff4f4;
}
.stats-serve {
	background-color: #fff0f8;
}
.stats-return {
	background-color: #f0fff8;
}
.stats-total {
	background-color: #ffffe8;
}