@media (min-width: 1430px) {
	.container {
		width: 1400px;
	}
	.visible-xl {
		display: block !important;
	}
	.visible-lg {
		display: none !important;
	}
}
.component {
	border: 1px solid #c0c0c0;
	border-radius: 5px;
}
.navbar-brand {
	height: 40px;
	padding: 10px 15px;
}
.navbar-text {
	margin: 10px;
}
.nav > li > a {
	padding: 5px 10px;
}
.ui-autocomplete {
	max-height: 600px; overflow-y: auto; overflow-x: hidden;
}
.ui-autocomplete-loading {
	background: white url("/images/ui-anim_basic_16x16.gif") right center no-repeat;
}
.ui-menu .ui-menu-item .ui-state-active {
	background: linear-gradient(to bottom, #eeeeee, #dddddd);
}
.grid-title {
	display: inline;
	float: left;
	margin: 5px 5px 0 -15px
}
.margin-top {
	margin-top: 15px;
}
.margin-left {
	margin-left: 20px;
}
.margin-right {
	margin-right: 20px;
}
.no-margin-left {
	margin-left: -15px;
}
.no-margin-right {
	margin-right: -15px;
}
.new-feature {
	font-size: x-small;
	color: crimson;
}
.cool-feature {
	font-size: x-small;
	color: deeppink;
}
div.loading {
	background: white url("/images/loading.gif") center center no-repeat;
	width: 100%;
	height: 300px;
}
.label {
	font-size: 87.5%;
}
a.label:hover,
a.label:focus {
	text-decoration: underline;
}
a.label-btn {
	text-decoration: none !important;
}
.label-won {
	color: black;
	background-color: lime;
}
.label-lost {
	color: black;
	background-color: #ffa07a;
}
.label-G {
	background-color: #d9534f;
}
.label-F {
	background-color: #ec971f;
}
.label-L {
	background-color: #f0ad4e;
}
.label-M {
	background-color: #5bc0de;
}
.label-O {
	background-color: #5cb85c;
}
.label-A {
	background-color: #777;
}
.label-B {
	background-color: #999;
}
.label-C {
	background-color: #bbb;
}
.label-U {
	background-color: #ddd;
}
.label-E {
	background-color: #ddd;
}
.label-H {
	background-color: #ddd;
}
.label-D {
	background-color: #d860f8;
}
.label-T {
	background-color: #f088b0;
}
.label-warning2 {
	background-color: #ec971f;
}
.label-warning2[href]:hover,
.label-warning2[href]:focus {
	background-color: #da8005;
}
.label-HC {
	background: repeating-linear-gradient(to right, #337ab7, #337ab7 20px, #d9534f 20px, #d9534f 40px);
}
.label-HG {
	background: repeating-linear-gradient(to right, #337ab7, #337ab7 20px, #5cb85c 20px, #5cb85c 40px);
}
.label-HP {
	background: repeating-linear-gradient(to right, #337ab7, #337ab7 20px, #f0ad4e 20px, #f0ad4e 40px);
}
.label-CG {
	background: repeating-linear-gradient(to right, #d9534f, #d9534f 20px, #5cb85c 20px, #5cb85c 40px);
}
.label-GP {
	background: repeating-linear-gradient(to right, #5cb85c, #5cb85c 20px, #f0ad4e 20px, #f0ad4e 40px);
}
.label-CGP {
	background: repeating-linear-gradient(to right, #d9534f, #d9534f 20px, #5cb85c 20px, #5cb85c 40px, #f0ad4e 40px, #f0ad4e 60px);
}
.label-HGP {
	background: repeating-linear-gradient(to right, #337ab7, #337ab7 20px, #5cb85c 20px, #5cb85c 40px, #f0ad4e 40px, #f0ad4e 60px);
}
.label-HCP {
	background: repeating-linear-gradient(to right, #337ab7, #337ab7 20px, #d9534f 20px, #d9534f 40px, #f0ad4e 40px, #f0ad4e 60px);
}
.label-HCG {
	background: repeating-linear-gradient(to right, #337ab7, #337ab7 20px, #d9534f 20px, #d9534f 40px, #5cb85c 40px, #5cb85c 60px);
}
.black {
	color: black;
}
a.black:hover,
a.black:focus {
	color: #23527c !important;
}
.bg-level-G {
	background: #f2dede;
}
.bg-level-F {
	background: #f8f0c9;
}
.bg-level-L {
	background: #fcf8e3;
}
.bg-level-M {
	background: #d9edf7;
}
.bg-level-O {
	background: #dff0d8;
}
.bg-level-A {
	background: #e0e0e0;
}
.bg-level-B {
	background: #e8e8e8;
}
.bg-level-C {
	background: #f0f0f0;
}
.bg-level-U {
	background: #f8f8f8;
}
.bg-level-E {
	background: white;
}
.bg-level-H {
	background: white;
}
.bg-level-D {
	background: #f7e3f7;
}
.bg-level-T {
	background: #f7ecf3;
}
.bg-surface-H {
	background: #d9edf7;
}
.bg-surface-C {
	background: #f2dede;
}
.bg-surface-G {
	background: #dff0d8;
}
.bg-surface-P {
	background: #fcf8e3;
}
.bg-result-W {
	background: lime;
}
.bg-result-F {
	background: thistle;
}
.bg-result-SF {
	background: yellow;
}
.bg-result-QF {
	background: blanchedalmond;
}
.bg-result-R16 {
	background: #afeeee;
}
.bg-result-R32 {
	background: #afeeee;
}
.bg-result-R64 {
	background: #afeeee;
}
.bg-result-R128 {
	background: #afeeee;
}
.bg-result-RR {
	background: #afeeee;
}
.bg-result-G {
	background: gold;
}
.bg-result-S {
	background: silver;
}
.bg-result-BR {
	background: #ff9c40;
}
.bg-won-0 {
	background: #ffa07a;
}
.bg-won-10 {
	background: #ffc797;
}
.bg-won-30 {
	background: #ffdba1;
}
.bg-won-50 {
	background: #ffff99;
}
.bg-won-70 {
	background: #cbff98;
}
.bg-won-90 {
	background: #98ff98;
}
.bg-won-100 {
	background: lime;
}
.points-10 {
	background-color: #ffe8f0;
}
.points-20 {
	background-color: #fcd0e0;
}
.points-30 {
	background-color: #f8b8d0;
}
.points-40 {
	background-color: #f4a0c0;
}
.points-50 {
	background-color: #f088b0;
}
.points-60 {
	background-color: #ec70a0;
}
.points-70 {
	background-color: #e85890;
}
.points-80 {
	background-color: #e44080;
}
.points-90 {
	background-color: #e02870;
}
.points-100 {
	background-color: #dc1060;
}
.rankings-badge {
	display: inline-block;
	vertical-align: middle;
	font-size: 10px;
	line-height: 1.0;
}
.stats-header {
	font-size: smaller;
}
.stats {
	font-size: smaller;
	text-align: center;
}
.stats-general {
	background-color: #f0ffff;
}
.stats-perf {
	background-color: #f4f4ff;
}
.stats-pressure {
	background-color: #fff4f4;
}
.stats-serve {
	background-color: #fff0f8;
}
.stats-return {
	background-color: #f0fff8;
}
.stats-total {
	background-color: #ffffe8;
}
.positive {
	color: seagreen;
}
.negative {
	color: crimson;
}
.no-diff {
	color: darkgray;
}
.progress-bar-overall {
	background-color: #555;
	font-size: 14px;
}
.progress-bar-perf {
	font-size: 14px;
}
.progress-bar-perf-def {
	background-color: cornflowerblue;
	font-size: 14px;
}
.progress-bar-perf-w {
	background-color: mediumseagreen;
	font-size: 14px;
}
.progress-bar-perf-l {
	background-color: #dd7777;
	font-size: 14px;
}