.ui-autocomplete {
	max-height: 600px; overflow-y: auto; overflow-x: hidden;
}
.ui-autocomplete-loading {
	background: white url("/images/ui-anim_basic_16x16.gif") right center no-repeat;
}
.note {
	font-size: small;
	font-style: italic;
}
.label {
	font-size: 87.5%;
}
.label-won {
	color: black;
	background-color: lime;
}
.label-lost {
	color: black;
	background-color: #ffa07a;
}
.black {
	color: black;
}
.bg-level-G {
	background: #f2dede;
}
.bg-level-F {
	background: #fcf8e3;
}
.bg-level-M {
	background: #d9edf7;
}
.bg-level-A {
	background: #f0f0f0;
}
.bg-level-O {
	background: #dff0d8;
}
.bg-level-D {
	background: #fce3f7;
}
.bg-surface-H {
	background: #d9edf7;
}
.bg-surface-C {
	background: #f2dede;
}
.bg-surface-G {
	background: #dff0d8;
}
.bg-surface-P {
	background: #fcf8e3;
}
.bg-result-W {
	background: lime;
}
.bg-result-F {
	background: thistle;
}
.bg-result-SF {
	background: yellow;
}
.bg-result-BR {
	background: #ff9c40;
}
.bg-result-QF {
	background: blanchedalmond;
}
.bg-result-R16 {
	background: #afeeee;
}
.bg-result-R32 {
	background: #afeeee;
}
.bg-result-R64 {
	background: #afeeee;
}
.bg-result-R128 {
	background: #afeeee;
}
.bg-result-RR {
	background: #afeeee;
}
.bg-won-0 {
	background: #ffa07a;
}
.bg-won-10 {
	background: #ffc797;
}
.bg-won-30 {
	background: #ffdba1;
}
.bg-won-50 {
	background: #ffff99;
}
.bg-won-70 {
	background: #cbff98;
}
.bg-won-90 {
	background: #98ff98;
}
.bg-won-100 {
	background: lime;
}
.stats-header {
	font-size: smaller;
}
.stats {
	font-size: smaller;
	text-align: center;
}
.stats-general {
	background-color: #f0ffff;
}
.stats-perf {
	background-color: #f4f4ff;
}
.stats-pressure {
	background-color: #fff4f4;
}
.stats-serve {
	background-color: #fff0f8;
}
.stats-return {
	background-color: #f0fff8;
}
.stats-total {
	background-color: #ffffe8;
}