<th:block xmlns:th="http://www.thymeleaf.org">
<script type="text/javascript">
	$(function() {
		bindPopovers();
	});
</script>
<style type="text/css">
	.bo-table {
		border: 1px solid darkgray !important;
		border-collapse: collapse;
	}
	.bo-cell {
		border: 1px solid darkgray !important;
		background-color: white;
		text-align: right;
	}
</style>
<h3 class="text-nowrap"><i class="fa fa-balance-scale"></i> Best-of-5 vs Best-of-3, a completely different game</h3>
<p>
	There are a lot of talks recently about tennis game formats and rules. We are all witnessing that best-of-5 format is slightly diminishing, despite most die-hard fans preferring it over the best-of-3.<br/>
	There are no anymore Masters 1000 best-of-5 finals since 2007 and Davis Cup will move away from best-of-5 starting from this year.
</p>
<h4>The Difference</h4>
<p>
	We all know that better players have more chances to win in the best-of-5 format compared to best-of-3. But how much more?<br/>
	Using <a href="https://en.wikipedia.org/wiki/Markov_chain" target="_blank" rel="noopener noreferrer" class="external">Markov Chains</a>, one can express game, tie-break, set, best-of-3 and best-of-5 match probabilities.<br/>
	Here are the formulas for best-of-3 and best-of-5 match win probabilities from set win probability:<br/>
	m <sub>3</sub> = s <sup>2</sup> * (3 - 2 * s)<br/>
	m <sub>5</sub> = s <sup>3</sup> * (10 - 15 * s + 6 * s <sup>2</sup>)<br/>
	However, it is not possible to mathematically solve above system of equations, i.e. it is not possible to create a mathematical expression that maps best-of-5 to best-of-3 match win probability. It is only possible to create a graph and a computer program to calculate it.
	Here is such graph, with best-of-3 match win probability on X axes and best-of-5 match win probability on Y axes, as well as table:<br/>
	<div class="row">
		<div class="col-md-9">
			<img src="/images/blog/best-of-5-vs-3.png" width="400" height="400" alt="A function mapping best-of-3 to best-of-5 win probability"/><br/>
		</div>
		<div class="col-md-3">
			<table class="table table-condensed bo-table">
				<tr>
					<th class="bo-cell">Best of 3</th>
					<th class="bo-cell">Best of 5</th>
				</tr>
				<tr>
					<td class="bo-cell">0.0%</td>
					<td class="bo-cell">0.0%</td>
				</tr>
				<tr>
					<td class="bo-cell">10.0%</td>
					<td class="bo-cell">5.5%</td>
				</tr>
				<tr>
					<td class="bo-cell">20.0%</td>
					<td class="bo-cell">14.6%</td>
				</tr>
				<tr>
					<td class="bo-cell">30.0%</td>
					<td class="bo-cell">25.6%</td>
				</tr>
				<tr>
					<td class="bo-cell">40.0%</td>
					<td class="bo-cell">37.5%</td>
				</tr>
				<tr>
					<td class="bo-cell">50.0%</td>
					<td class="bo-cell">50.0%</td>
				</tr>
				<tr>
					<td class="bo-cell">60.0%</td>
					<td class="bo-cell">62.5%</td>
				</tr>
				<tr>
					<td class="bo-cell">70.0%</td>
					<td class="bo-cell">74.4%</td>
				</tr>
				<tr>
					<td class="bo-cell">80.0%</td>
					<td class="bo-cell">85.4%</td>
				</tr>
				<tr>
					<td class="bo-cell">90.0%</td>
					<td class="bo-cell">94.5%</td>
				</tr>
				<tr>
					<td class="bo-cell">100.0%</td>
					<td class="bo-cell">100.0%</td>
				</tr>
			</table>
		</div>
	</div>
</p>
<br/><h4>Conclusion</h4>
<p>
	From the graph and the table, it can be seen that if players are of similar strength and form, then there is very little difference between best-of-3 and best-of-5.<br/>
	However, if one player has 65% or more chances to win, then the difference between best-of-3 and best-of-5 starts to be more and more significant.<br/>
	So, best-of-5 is protecting higher-ranked players from upsets from lower-ranked players, while not affecting excitement in watching two similarly-ranked players clash.<br/>
	As such, it is an invaluable tool for Grand Slam tournaments to ease the path of favorites towards the end rounds and keep having an ultimate entertainment in the semi-final and final matches.
</p>
<footer class="text-right"><i class="fa fa-calendar"></i> 26-07-2019</footer>
<th:block th:include="blog/blogComments :: comments('bestOf5vs3')"/>
</th:block>