<p  xmlns:th="http://www.thymeleaf.org">
<script type="text/javascript">
	$(function() {
		bindPopovers();
	});
</script>
<h3 class="text-nowrap"><i class="fa fa-rocket"></i> Big 4 Court Speed Performance</h3>
<p>
	For the first entry in the series, we discuss Big 4 performance (i.e. winning percentage) on different court speeds.<br/>
	On Ultimate Tennis Statistics, recently new figure 'Court Speed' for a tournament event is added.
	Court Speed (0-100) is calculated per tournament event as a factor of Ace %, Service Points Won % and Service Games Won %, the exact formula can be found at the <a href="/glossary">Glossary</a> page.
	To adjust for different tournament audiences on different surfaces ('serve-bots' use to attend fast courts and 'dirt-ballers' use to attend at slow courts), the Ace %, Service Points and Games Won % are adjusted for every player with their season's average, but also as well as with player's opponent Ace Against %, Return Points and Games Won % season's average. So using this way to calculate court speed figure is independent of the dominant participating players game style and is a very solid approximation. As it can be seen, most of the times it matches our perception of the actual court speed.
</p>
<h4>Court Speed Performance Breakdown</h4>
<p>
	Court Speed figure allows for player performance breakdown per Court Speed to be presented.
	Here are the examples ('Court Speed Breakdown' table at the left bottom corner):
	<ul>
		<li><a href="/playerProfile?name=Roger%20Federer&tab=performance">Roger Federer</a></li>
		<li><a href="/playerProfile?name=Rafael%20Nadal&tab=performance">Rafael Nadal</a></li>
		<li><a href="/playerProfile?name=Novak%20Djokovic&tab=performance">Novak Djokovic</a></li>
		<li><a href="/playerProfile?name=Andy%20Murray&tab=performance">Andy Murray</a></li>
	</ul>
	As the Court Speed depends on in-match statistics, it is available for tournament events from 1991 onward.
</p>
<h4>The Myths Busted</h4>
<p>
	Myth No. 1: Roger Federer performs poorly at slow surfaces. As can be seen, it is not the case, he performs only slightly worse at slower surfaces. Roger span on surface speed is from 84.3% on medium fast to 76.2% on slow surfaces.<br/>
	Myth No. 2: Novak Djokovic performs poorly at fast surfaces. As it can be seen, he performs best at medium surfaces (86.9%), very slightly worse on fast surfaces and another level worse at slow surfaces, so it is actually opposite of what most people think: Novak performs better on faster surfaces then on slower surfaces.<br/>
	For Rafael Nadal, the performance curve by court speed is as expected by most people. Nadal is excellent 94.2% on very slow surfaces and his performance literally linearly drops as the surface speed increases to 73.2% on very fast surfaces.<br/>
	For Andy Murray, the performance curve is also as expected by most people: Andy is performing good on fast and medium surfaces, but has trouble on slow surfaces.
</p>
<h4>Conclusion</h4>
<p>
	Roger and Novak are pretty much court speed agnostic, although Roger prefers a bit faster and Novak medium and faster surfaces.
	Rafa's and Andy's performance depends measurable on the court speed, but in opposite directions.
</p>
<h4>Court Speed vs CPI</h4>
<p>
	UTS Purposely use different court speed figure name then CPI, as well as values range (CPI 1-50, UTS 1-100), to distinguish it from CPI.
	CPI is hard-measuring the ball bounce.
	UTS Court Speed is purely stats based (Ace %, Service Point Won %, Service Games Won %).
</p>
<footer class="text-right"><i class="fa fa-calendar"></i> 23-10-2018</footer>
<th:block th:include="blog/blogComments :: comments('big4CourtSpeed')"/>
</th:block>