<th:block xmlns:th="http://www.thymeleaf.org">
<script type="text/javascript">
	$(function() {
		bindPopovers();
	});
</script>
<h3 class="text-nowrap"><i class="fa fa-flask"></i> Elo K-Factor Tweaks</h3>
<p>
	<th:block th:include="fragments/promotion :: logo"/> has been using the <a href="https://en.wikipedia.org/wiki/Elo_rating_system" target="_blank" class="external">Elo rating</a> system and tennis-customized K-factor function for a long time.
	<abbr title="Ultimate Tennis Statistics">UTS</abbr> users do appreciate both Elo ratings accuracy and weekly refresh, but most importantly, ratings stability, as the same formula was used for more than 2 years.
</p>
<h4>The Old Formula</h4>
<p>
	Leveraging original Elo system, <abbr title="Ultimate Tennis Statistics">UTS</abbr> K-factor function incorporates in the ratings opponent strength, meaning wins over quality opponents increase ratings more, while loses from lower ranked players decrease ratings fast.
	However, UTS is also going further. In order to accommodate to tennis and to reflect the different significance of tennis matches at different tournament levels, different rounds and the difference between best-of-3 and best-of-5, UTS uses highly tennis-customized Elo K-factor function.
</p>
<p>
	This formula was good, but was not perfect. It was good to reflect current players' form but also to compare players' strengths across Eras. However, it had one shortcoming: it was not optimized for maximum predictability of tennis matches.
	It was a little bit overestimating current form, as well as it did not make fast enough progress of the newcomers to the top of the rankings.
</p>
<h4>The New Formula</h4>
<p>
	<img src="/images/blog/k-factor.png" width="220" height="112" alt="K-factor" style="float: right"/>
	As UTS features <a href="/inProgressEventsForecasts">Tournament Forecasts</a> that are very much dependent on Elo ratings, it was necessary to optimize K-factor function for maximum predictability.
	Details on new K-factor function can be found <a href="#" data-toggle="popover" data-trigger="focus" data-placement="auto" data-popover="#eloRatingPopover">here</a>.<br/>
	The most notable change is a different function for K-factor dependence on the current player rating. Instead of a function with three linear sections, the new unified logistic function allows much smoother and much faster progress of newcomers to the top 50, as well as smother stabilization of the top 50 ratings and players.<br/>
</p>
<h4>Parameter Tweaking</h4>
<p>
	All K-factor parameters are also tweaked for optimal predictability. Interesting is that the old parameters for tournament level, round, best-of and walkover are still standing and that predictability scoring has shown that they really hold. It is just that these parameters are a little bit tweaked, while it is proven that their existence does influence predictability.
	Without even single item predictability will be lower, which proves that there really exists a significant difference in importance of wins in different tournament levels, rounds and best-of-3/5 formats, as well as that walkover wins do influence predictability of future matches.
</p>
<p>
	New formula increases the prediction rate of Elo ratings by around 0.6%. It may sound a small increase, but when approaching the limit of the inherent randomness of tennis matches outcomes, this is a significant increase.
</p>
<h4>The 'Big Picture' Differences</h4>
<p>
	All historical Elo ratings are recalculated from scratch, thus <a href="/peakEloRatings">Peak Elo Ratings</a> lists contain new figures.
	However, in general, you will notice little changes, as the previous function was good, but the new function is a little better as it features maximum predictability in addition. This means it can both better predict match winners when players are of similar strength, but also gives more accurate probabilities when favorites play the outsiders.
</p>
<p>
	For the other usages of Elo Ratings on Ultimate Tennis Statistics, new Elo K-factor formula reflects better player strengths across Eras, as at the end of the day, what matters is only predictability. If a function gives more predictability, it better reflects player strengths in the Era, but as average Elo ratings are still constant over time, also across Eras.
</p>
<footer class="text-right"><i class="fa fa-calendar"></i> 12-03-2018</footer>
<th:block th:include="blog/blogComments :: comments('eloKfactorTweaks')"/>
<div th:include="fragments/aboutElo :: aboutEloFormula"></div>
</th:block>