<th:block xmlns:th="http://www.thymeleaf.org">
<h3 class="text-nowrap"><i class="fa fa-align-left"></i> Game Evolution</h3>
<p>
	Tennis game has always evolved through time, especially recently due to technology advancements. But what this evolution of the game is really about is hard to say, as there are no systematic data to show it. There are some reports on how court speed changed recently, but the data on which these reports were based was either targeting specific tournament or was not including enough matches to get out of statistical margin errors.<br/>
	But now, <th:block th:include="fragments/promotion :: logo"/> with its <a href="/statsTimeline">Statistics Timeline</a> tries to answer this question by presenting full aggregated in-match statistics data (for all players combined, grouped by season) since it started to be recorded in 1991.
</p>
<h4>Ace Rate Increasing</h4>
<p>
	First what can be observed is a steady ace rate increase from 5.5% in the early 90-ties to over 8% today. This is almost a 50% increase in ace rate in the last 28 years!<br/>
	Breaking down by surface using the surface filter, reveals that ace rate increased equally by the same relative rate across all surfaces.<br/>
	Also interesting is that ace rate increases by the tournament round, culminating in the semi-finals and finals.
</p>
<h4>1-st Serve Percentage</h4>
<p>
	Average 1-st serve percentage is pretty flat in the recent 28 years, averaging at around 60%, although there was a little drop from 1997-2001 to 57-58%. Whether this corresponds with the 'Weak Era' or not is for an interesting discussion.
</p>
<h4>Service Points Won</h4>
<p>
	Similarly, with ace rate, service points won (both 1-st service and 2-nd service), as well as break points saved percentages increased by around 2% in the last 28 years. 2% may seem a small increase, but 2% points won more is a huge difference in tennis!<br/>
	It would be interesting to explain this. Is this caused solely by racket and ball technology advances, or this is also influenced by surface speed increase or players just got better serve?
</p>
<h4>Double Faults</h4>
<p>
	Double faults are mostly flat, with the spike in double fault percentage that again coincides with the 'Weak Era'.
</p>
<h4>Break Points</h4>
<p>
	Number of break points per game, set or match decreased over time with the overall improvements of the service game (ace rate and service points won).<br/>
	What is very interesting is that break points saved and converted over-performing ratios are flat over time.<br/>
	Break points saved over-performing ratio is the percentage of break points saved divided by the service points won percentage. Thus it reflects how often the server saves break points compared to how often the server wins normal service points.<br/>
	Similarly, break points converted over-performing ratio reflects how often the returner converts break points compared to how often the returner wins normal return points.<br/>
	Break points saved over-performing ratio is flat around 0.96, while break points converted over-performing ratio is flat around 1.07. This means that returner has more chance to convert a break point than he has a chance to win a normal return point!
	Why is this? Probably because returners do concentrate more on the break point, while for the servers it is harder to overcome the pressure while serving on the break point.<br/>
	Both figures are flat over time, meaning the technology advancements and/or surface speed change do not influence this timeless tennis law: Serving on the break point is hard!
</p>
<h4>Tie-Breaks</h4>
<p>
	The number of tie-breaks played increased significantly over time, reflecting the greater competitiveness in today's game. Tie-breaks per set increased from 14-15% in the early 90-ties to over 18% nowadays.
</p>
<h4>Upsets</h4>
<p>
	Upsets percentage over time reflect how predictable is the tennis game overall. The fewer upsets, the more predictable the game is. What can be observed by examining upset percentage evolution is that it pretty much reflects overall competitiveness of the tennis game, the more competitive or dominant the Era is, the fewer upsets are scored and more often the better-ranked player wins.<br/>
	Again, the highest upset percentage coincides with the 'Weak Era', while the lowest upset percentage is observed in the season 2012 when Big 4 were on their collective peak and this season (2012) may well be proclaimed the strongest one in the recent tennis history.
</p>
<h4>Final Thoughts</h4>
<p>
	Advances in tennis equipment technology influenced many statistical parameters over the last 28 Open Era seasons. Most notable is the almost 50% increase in the ace rate, followed by the significant 2% service points won increase.
	All this tell us that service game improved a lot, and it is much harder to break now than it was before!<br/>
	How different statistics parameters changed over time, filtered by tournament level, surface, round or specific tournament, you can investigate yourself at the new <a href="/statsTimeline">Statistics Timeline</a> page.
</p>
<footer class="text-right"><i class="fa fa-calendar"></i> 15-04-2018</footer>
<th:block th:include="blog/blogComments :: comments('gameEvolution')"/>
</th:block>
