<th:block xmlns:th="http://www.thymeleaf.org">
<h3 class="text-nowrap"><i class="fa fa-pencil-square"></i> New Blog Section</h3>
<p>
	Welcome to the <th:block th:include="fragments/promotion :: logo"/> blog, the new section we start together!<br/>
</p>
<p>
	If there are interesting tennis statistics topics you want to start, please add comments below.
	Or if you want to contribute with a blog post, please e-mail me at <a href="mailto:mcekovic@gmail.com" target="_blank" rel="noopener noreferrer">mcekovic@gmail.com</a>.
</p>
<footer class="text-right"><i class="fa fa-calendar"></i> 12-03-2018</footer>
<th:block th:include="blog/blogComments :: comments('newBlogSection')"/>
</th:block>