<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="surfaces" type="org.strangeforest.tcb.stats.model.Surface[]"*/-->
<head th:replace="fragments/head :: commonHead(~{::title/text()}, true, ~{::script}, _)">
	<title>All-Time Highest Elo Ratings</title>
	<script type="text/javascript">
		$(function() {
			$("#rankingsTable").bootgrid({
				ajax: true,
				ajaxSettings: {
					method: "GET",
					cache: false
				},
				url: "/rankingsTableTable",
				requestHandler: function (request) {
					request.rankType = $("#rankType").val();
					request.allTime = true;
					return request;
				},
				sorting: false,
				rowCount: [20, 50, -1],
				searchSettings: {
					delay: 300,
					characters: 2
				},
				formatters: {
					"bestRank": function(column, row) {
						var date = row.bestRankDate;
						return date ? ("<span title='" + formatDate(date) + "'>" + row.bestRank + "</span>") : row.bestRank;
					},
					"country": countryFormatter,
					"player": playerFormatter,
					"date": function(column, row) {
						return formatDate(row.pointsDate);
					}
				},
				labels: {
					noResults: "No rankings found"
				},
				templates: {
					paginationItem: bootgridTemplatePaginationItem
				}
			});
			var $rankingsTableHeader = $("#rankingsTable-header");
			$rankingsTableHeader.find("div.search").before($("#rankTypeDiv").remove());
			setBootgridTitle($rankingsTableHeader, $("#rankingsTable-title"));
			$("[data-toggle='tooltip']").tooltip();
			bindPopovers();
		});
		function reloadRankings() {
			$("#rankingsTable").bootgrid("reload");
		}
	</script>
</head>
<body class="container">
	<header th:include="fragments/header :: title"></header>
	<h3 id="rankingsTable-title" class="grid-title">All-Time Highest Elo Ratings</h3>
	<div id="rankTypeDiv" class="btn-group" style="margin-right: 20px">
		<select id="rankType" class="form-control" onchange="reloadRankings()" data-toggle="tooltip" data-placement="top" title="Select overall or Elo rating by surface">
			<option value="ELO_RATING">Overall</option>
			<option th:each="surface : ${surfaces}" th:value="|${surface}_ELO_RATING|" th:class="|bg-surface-${surface.code}|" value="HARD_ELO_RATING" class="bg-surface-H" th:text="${surface.text}">Hard</option>
		</select>
	</div>
	<table id="rankingsTable" class="table table-condensed table-hover table-striped">
		<thead>
		<tr>
			<th data-column-id="rank" data-type="numeric" data-width="55">Rank</th>
			<th data-column-id="best_rank" data-formatter="bestRank" data-width="70">Best Rank</th>
			<th data-column-id="country" data-formatter="country" data-width="70">Country</th>
			<th data-column-id="name" data-formatter="player" data-width="250">Name</th>
			<th data-column-id="pointsDate" data-formatter="date" data-width="80" >Date</th>
			<th data-column-id="points" data-type="numeric" data-width="80" data-align="right" data-header-align="right">Elo Rating</th>
		</tr>
		</thead>
	</table>
	<em><strong>*</strong> <a href="https://en.wikipedia.org/wiki/Elo_rating_system" target="_blank">Elo rating</a> considers opponent rating as well, meaning wins over quality opponents are worth more then wins over lesser rated players.<br/>Ultimate Tennis Statistics use sophisticated tennis-customized <a href="#" data-toggle="popover" data-trigger="focus" data-placement="top" data-popover="#eloRatingPopover">Elo rating formula</a>.</em>
	<footer th:include="fragments/footer :: copy"></footer>
	<div th:include="fragments/aboutElo :: aboutElo"></div>
</body>
</html>