<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="versions" type="java.util.Map<String, String>"*/-->
<!--/*@thymesVar id="minSeasonGOATPoints" type="java.lang.Integer"*/-->
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<title>Ultimate Tennis Statistics - Best Seasons</title>
	<link th:href="@{|/webjars/bootstrap/${versions['bootstrap']}/css/bootstrap.min.css|}" rel="stylesheet" media="screen"/>
	<link th:href="@{|/webjars/jquery-ui-themes/${versions['jquery-ui']}/smoothness/jquery-ui.css|}" rel="stylesheet" media="screen"/>
	<link th:href="@{|/webjars/jquery-bootgrid/${versions['bootgrid']}/dist/jquery.bootgrid.min.css|}" rel="stylesheet" media="screen"/>
	<link th:href="@{/css/tennis-stats.css}" rel="stylesheet" media="screen"/>
	<script th:src="@{|/webjars/jquery/${versions['jquery']}/jquery.min.js|}"></script>
	<script th:src="@{|/webjars/jquery-ui/${versions['jquery-ui']}/jquery-ui.min.js|}"></script>
	<script th:src="@{|/webjars/bootstrap/${versions['bootstrap']}/js/bootstrap.min.js|}"></script>
	<script th:src="@{|/webjars/jquery-bootgrid/${versions['bootgrid']}/dist/jquery.bootgrid.min.js|}"></script>
	<script th:src="@{/js/tennis-stats.js}"></script>
	<script type="text/javascript">
		/*<![CDATA[*/
		$(function() {
			var $bestSeasonsTable = $("#bestSeasonsTable");
			$bestSeasonsTable.bootgrid({
				ajax: true,
				ajaxSettings: {
					method: "GET",
					cache: false
				},
				url: "/bestSeasonsTable",
				rowCount: [10, 20, 50, -1],
				searchSettings: {
					delay: 300,
					characters: 2
				},
				formatters: {
					"player": playerCountryFormatter,
					"season": function(column, row) {
						return "<a href='/playerProfile?playerId=" + row.playerId + "&season=" + row.season + "' title='Show season'>" + row.season + "</a>";
					},
					"goatPoints": function playerCountryFormatter(column, row) {
						if (row.goatPoints > 0) {
							var title = "";
							title = appendGoatPointsTitle(title, row, "tournamentGoatPoints", "Tournament");
							title = appendGoatPointsTitle(title, row, "yearEndRankGoatPoints", "Year-end ranking");
							title = appendGoatPointsTitle(title, row, "weeksAtNo1GoatPoints", "Weeks at No 1.");
							title = appendGoatPointsTitle(title, row, "bigWinsGoatPoints", "Big wins");
							title = appendGoatPointsTitle(title, row, "grandSlamGoatPoints", "Grand Slam");
							return "<span title='" + title + "'>" + row.goatPoints + "</span>";
						}
						else
							return row.achievementsGoatPoints;
					},
					"yearEndRank": function(column, row) {
						return row.yearEndRank != null ? row.yearEndRank : "";
					}
				},
				labels: {
					noResults: "No player seasons found"
				},
				templates: {
					paginationItem: bootgridTemplatePaginationItem
				}
			});
			setBootgridTitles($bestSeasonsTable, [
				{id: "rank", title: "Season rank"},
				{id: "goatPoints", title: "GOAT points"},
				{id: "grandSlamTitles", title: "Grand Slam titles"},
				{id: "grandSlamFinals", title: "Grand Slam finals"},
				{id: "grandSlamSemiFinals", title: "Grand Slam semi finals"},
				{id: "tourFinalsTitles", title: "Tour Finals titles"},
				{id: "tourFinalsFinals", title: "Tour Finals finals"},
				{id: "mastersTitles", title: "Masters titles"},
				{id: "mastersFinals", title: "Masters finals"},
				{id: "olympicsTitles", title: "Olympics titles"},
				{id: "titles", title: "Titles"},
				{id: "yearEndRank", title: "Year-end ranking"}
			]);
			$("[data-toggle='collapse']").click(collapseClick);
		});
		/*]]>*/
	</script>
</head>
<body class="container">
	<header th:include="fragments/header :: title"></header>
	<h3 class="grid-title">Best Seasons</h3>
	<table id="bestSeasonsTable" class="table table-condensed table-hover table-striped">
		<thead>
		<tr>
			<th data-column-id="rank" data-type="numeric" data-sortable="false" data-width="45">Rank</th>
			<th data-column-id="name" data-formatter="player" data-sortable="false" data-width="120">Name</th>
			<th data-column-id="season" data-formatter="season" data-width="55" data-align="center">Season</th>
			<th data-column-id="goatPoints" data-formatter="goatPoints" data-order="desc" data-width="65" data-align="right" data-header-align="right">GOAT Pts.</th>
			<th data-column-id="grandSlamTitles" data-type="numeric" data-width="45" data-align="right" data-header-align="right">GS W</th>
			<th data-column-id="grandSlamFinals" data-type="numeric" data-width="45" data-align="right" data-header-align="right">GS F</th>
			<th data-column-id="grandSlamSemiFinals" data-type="numeric" data-width="45" data-align="right" data-header-align="right">GS SF</th>
			<th data-column-id="tourFinalsTitles" data-type="numeric" data-width="45" data-align="right" data-header-align="right">TF W</th>
			<th data-column-id="tourFinalsFinals" data-type="numeric" data-width="45" data-align="right" data-header-align="right">TF F</th>
			<th data-column-id="mastersTitles" data-type="numeric" data-width="45" data-align="right" data-header-align="right">M W</th>
			<th data-column-id="mastersFinals" data-type="numeric" data-width="45" data-align="right" data-header-align="right">M F</th>
			<th data-column-id="olympicsTitles" data-type="numeric" data-width="45" data-align="right" data-header-align="right">O W</th>
			<th data-column-id="titles" data-type="numeric" data-width="45" data-align="right" data-header-align="right">Titles</th>
			<th data-column-id="yearEndRank" data-formatter="yearEndRank" data-width="45" data-align="right" data-header-align="right">YER</th>
		</tr>
		</thead>
	</table>
	<p><i>* Minimum <span th:text="${minSeasonGOATPoints}">25</span> season GOAT points</i></p>
	<br/>
	<button type="button" class="btn btn-info btn-sm" data-toggle="collapse" data-target="#goatLegend" data-url="/goatLegend?forSeason=true">GOAT Pts. Legend</button>
	<div id="goatLegend" class="collapse">Loading...</div>
	<footer th:include="fragments/footer :: copy"></footer>
</body>
</html>