<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="minSeasonGOATPoints" type="java.lang.Integer"*/-->
<head th:replace="fragments/head :: commonHead(~{::title/text()}, true, ~{::script}, _)">
	<title>Best Seasons</title>
	<script type="text/javascript">
		$(function() {
			var $bestSeasonsTable = $("#bestSeasonsTable");
			var device = detectDevice();
			setBootgridColumnsVisible($bestSeasonsTable, ["mastersTitles", "wonPct"], deviceGreaterOrEqual(device, "sm"));
			setBootgridColumnsVisible($bestSeasonsTable, ["grandSlamFinals", "tourFinalsTitles", "olympicsTitles", "yearEndRank"], deviceGreaterOrEqual(device, "md"));
			setBootgridColumnsVisible($bestSeasonsTable, ["grandSlamSemiFinals", "tourFinalsFinals", "mastersFinals"], deviceGreaterOrEqual(device, "lg"));
			$bestSeasonsTable.bootgrid({
				ajax: true,
				ajaxSettings: {
					method: "GET",
					cache: false
				},
				url: "/bestSeasonsTable",
				rowCount: [20, 50, -1],
				searchSettings: {
					delay: 300,
					characters: 2
				},
				formatters: {
					"player": playerCountryFormatter,
					"season": function(column, row) {
						return "<a href='/playerProfile?playerId=" + row.playerId + "&tab=tournaments&season=" + row.season + "' title='Show season'>" + row.season + "</a>";
					},
					"goatPoints": function(column, row) {
						if (row.goatPoints > 0) {
							var title = "";
							title = appendGoatPointsTitle(title, row, "tournamentGoatPoints", "Tournament");
							title = appendGoatPointsTitle(title, row, "yearEndRankGoatPoints", "Year-end ranking");
							title = appendGoatPointsTitle(title, row, "weeksAtNo1GoatPoints", "Weeks at No 1.");
							title = appendGoatPointsTitle(title, row, "bigWinsGoatPoints", "Big wins");
							title = appendGoatPointsTitle(title, row, "grandSlamGoatPoints", "Grand Slam");
							return "<a href='/playerProfile?playerId=" + row.playerId + "&tab=goatPoints&season=" + row.season + "' title='" + title + "'>" + row.goatPoints + "</a>";
						}
						else
							return row.achievementsGoatPoints;
					},
					"wonPct": wonLostFormatter,
					"yearEndRank": function(column, row) {
						return row.yearEndRank != null ? row.yearEndRank : "";
					}
				},
				labels: {
					loading: bootgridTemplateLoading,
					noResults: "No player seasons found"
				},
				templates: {
					paginationItem: bootgridTemplatePaginationItem
				}
			});
			setBootgridTitle($("#bestSeasonsTable-header"), $("#bestSeasonsTable-title"));
			setBootgridTitles($bestSeasonsTable, [
				{id: "rank", title: "Season rank"},
				{id: "goatPoints", title: "GOAT points"},
				{id: "grandSlamTitles", title: "Grand Slam titles"},
				{id: "grandSlamFinals", title: "Grand Slam finals"},
				{id: "grandSlamSemiFinals", title: "Grand Slam semi finals"},
				{id: "tourFinalsTitles", title: "Tour Finals titles"},
				{id: "tourFinalsFinals", title: "Tour Finals finals"},
				{id: "mastersTitles", title: "Masters titles"},
				{id: "mastersFinals", title: "Masters finals"},
				{id: "olympicsTitles", title: "Olympics golds"},
				{id: "titles", title: "Titles"},
				{id: "wonPct", title: "Won-Lost percentage"},
				{id: "yearEndRank", title: "Year-end ranking"}
			]);
			$("[data-toggle='collapse']").click(collapseClick);
		});
	</script>
</head>
<body class="container">
	<header th:include="fragments/header :: title"></header>
	<h3 id="bestSeasonsTable-title" class="grid-title">Best Seasons</h3>
	<table id="bestSeasonsTable" class="table table-condensed table-hover table-striped">
		<thead>
		<tr>
			<th data-column-id="rank" data-type="numeric" data-sortable="false" data-width="65">Rank</th>
			<th data-column-id="name" data-formatter="player" data-sortable="false" data-width="200">Name</th>
			<th data-column-id="season" data-formatter="season" data-width="80" data-align="center">Season</th>
			<th data-column-id="goatPoints" data-formatter="goatPoints" data-order="desc" data-width="95" data-align="right" data-header-align="right">GOAT Pts.</th>
			<th data-column-id="grandSlamTitles" data-type="numeric" data-width="70" data-align="right" data-header-align="right">GS W</th>
			<th data-column-id="grandSlamFinals" data-type="numeric" data-width="70" data-align="right" data-header-align="right">GS F</th>
			<th data-column-id="grandSlamSemiFinals" data-type="numeric" data-width="70" data-align="right" data-header-align="right">GS SF</th>
			<th data-column-id="tourFinalsTitles" data-type="numeric" data-width="70" data-align="right" data-header-align="right">TF W</th>
			<th data-column-id="tourFinalsFinals" data-type="numeric" data-width="70" data-align="right" data-header-align="right">TF F</th>
			<th data-column-id="mastersTitles" data-type="numeric" data-width="60" data-align="right" data-header-align="right">M W</th>
			<th data-column-id="mastersFinals" data-type="numeric" data-width="60" data-align="right" data-header-align="right">M F</th>
			<th data-column-id="olympicsTitles" data-type="numeric" data-width="60" data-align="right" data-header-align="right">O G</th>
			<th data-column-id="titles" data-type="numeric" data-width="65" data-align="right" data-header-align="right">Titles</th>
			<th data-column-id="wonPct" data-formatter="wonPct" data-width="55" data-align="right" data-header-align="right">W/L</th>
			<th data-column-id="yearEndRank" data-formatter="yearEndRank" data-width="55" data-align="right" data-header-align="right">YER</th>
		</tr>
		</thead>
	</table>
	<p><i>* Minimum <span th:text="${minSeasonGOATPoints}">25</span> season GOAT points</i></p>
	<br/>
	<button type="button" class="btn btn-info btn-sm" data-toggle="collapse" data-target="#goatLegend" data-url="/goatLegend?forSeason=true">GOAT Pts. Legend</button>
	<div id="goatLegend" class="collapse">Loading... <img src="/images/ui-anim_basic_16x16.gif" width="16" height="16"/></div>
	<th:block th:include="fragments/deviceDetector :: deviceDetectors"/>
	<footer th:include="fragments/footer :: copy"></footer>
</body>
</html>