<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:with="seasonCount=${timeline.seasons.size()}">
<!--/*@thymesVar id="seasons" type="java.util.List<java.lang.Integer>"*/-->
<!--/*@thymesVar id="fromSeason" type="java.lang.Integer"*/-->
<!--/*@thymesVar id="toSeason" type="java.lang.Integer"*/-->
<!--/*@thymesVar id="timeline" type="org.strangeforest.tcb.stats.model.DominanceTimeline"*/-->
<!--/*@thymesVar id="dominanceRatioCoefficient" type="java.lang.Integer"*/-->
<!--/*@thymesVar id="minGOATPoints" type="java.lang.Integer"*/-->
<head th:replace="fragments/head :: commonHead(~{::title/text()}, false, ~{::script}, ~{::style})">
	<title>Dominance Timeline</title>
	<script th:src="@{/js/jquery.resize.js}"></script>
	<script type="text/javascript">
		function correctInitPositions() {
			var $timelineHeader = $("#timelineHeader");
			$timelineHeader.find("span.best-player").each(function() {
				var $bestPlayer = $(this);
				$bestPlayer.css({position: "absolute", display: "block"});
				$bestPlayer.css({top: ($bestPlayer.offset().top - 62) + "px"});
			});
			$timelineHeader.find("span.era-player").each(function() {
				var $eraPlayer = $(this);
				$eraPlayer.css({left: ($eraPlayer.offset().left + $eraPlayer.parent().width() / 2 + 8) + "px"});
			});
			$timelineHeader.find("span.era-factor").each(function() {
				var $eraFactor = $(this);
				$eraFactor.css({position: "absolute", display: "block"});
				$eraFactor.css({
					left: ($eraFactor.offset().left + $eraFactor.parent().width() / 2 - 9) + "px",
					top: ($eraFactor.offset().top - 29) + "px"
				});
			});
		}
		function correctPositionsOnResize() {
			var newOffset = $("#dominanceTable").offset();
			var dLeft = newOffset.left - dominanceTableOffset.left;
			var dTop = newOffset.top - dominanceTableOffset.top;
			correctPosOnResize("span.best-player", dLeft + 20, dTop - 20);
			correctPosOnResize("span.era-factor", dLeft + 2.6, dTop - 2.5);
			dominanceTableOffset = newOffset;
		}
		function correctPosOnResize(selector, dLeft, dTop) {
			$("#timelineHeader").find(selector).each(function() {
				var $this = $(this);
				var offset = $this.offset();
				$this.css({
					left: (offset.left + dLeft) + "px",
					top: (offset.top + dTop) + "px"
				});
			});
		}
		var dominanceTableOffset;
		$(function() {
			correctInitPositions();
			dominanceTableOffset = $("#dominanceTable").offset();
			$(window).resize(correctPositionsOnResize);
			$("#navbar").resize(correctPositionsOnResize);
			$("[data-toggle='collapse']").click(collapseClick);
		});
		function reloadDominanceTimeline() {
			var url = "/dominanceTimeline"
			var fromSeason = $("#fromSeason").val();
			if (fromSeason)
				url += "?fromSeason=" + fromSeason;
			var toSeason = $("#toSeason").val();
			if (toSeason)
				url += (fromSeason ? "&" : "?") + "toSeason=" + toSeason;
			window.location = url;
		}
	</script>
	<style th:inline="css">
		[# th:if="${seasonCount > 30}"]
		.container {
			width: [(${1170 + 27 * (seasonCount - 30)})]px;
		}
		[/]
		#dominanceTable > thead > tr.season > th {
			line-height: 2.5;
		}
		#dominanceTable > thead > tr.best-player > th {
			line-height: 5.0;
		}
		#dominanceTable > tbody > tr > th,
		#dominanceTable > tbody > tr > td {
			line-height: 1.0;
			vertical-align: middle;
		}
		span.best-player {
			transform: rotate(-90deg);
			display: none;
			width: 20px;
			height: 60px;
		}
		span.era-factor {
			transform: rotate(-90deg);
			display: none;
			width: 20px;
			height: 25px;
			margin-left: -0.1px;
		}
		.vseason {
			transform: rotate(-90deg);
			display: block;
			width: 20px;
			height: 25px;
		}
		.points-0, .points-10, .points-20, .points-30, .points-40, .points-50, .points-60, .points-70, .points-80, .points-90, .points-100 {
			text-align: right;
		}
		.points {
			color: darkblue;
		}
	</style>
</head>
<body class="container">
	<header th:include="fragments/header :: title"></header>
	<div class="row">
		<div class="col-md-8">
			<h3 class="text-nowrap" style="display: inline">Dominance Timeline</h3>
		</div>
		<div class="col-md-4">
			<div class="input-group">
				<label for="fromSeason" class="input-group-addon">From:</label>
				<select id="fromSeason" class="form-control" onchange="reloadDominanceTimeline()" data-toggle="tooltip" data-placement="top" title="Select from season">
					<option value="">All seasons</option>
					<option th:each="season : ${seasons}" th:value="${season}" value="1968" th:selected="${season == fromSeason}" th:text="${season}">1968</option>
				</select>
				<label for="toSeason" class="input-group-addon">To:</label>
				<select id="toSeason" class="form-control" onchange="reloadDominanceTimeline()" data-toggle="tooltip" data-placement="top" title="Select to season">
					<option value="">All seasons</option>
					<option th:each="season : ${seasons}" th:value="${season}" value="2017" th:selected="${season == toSeason}" th:text="${season}">2017</option>
				</select>
			</div>
		</div>
	</div>
	<br/>
	<th:block th:include="fragments/deviceDetector :: largeDeviceRequired(${seasonCount >= 30 ? 'lg' : (seasonCount >= 22 ? 'md' : (seasonCount >= 14 ? 'sm' : _))})"/>
	<table id="dominanceTable" class="table table-condensed table-hover table-bordered text-nowrap" style="width: auto">
		<thead id="timelineHeader">
		<tr class="best-player">
			<th colspan="3" style="padding: 1px 4px; text-align: right; border-right: 3px solid lightgray">Era</th>
			<th th:each="era : ${timeline.dominanceEras}" th:class="'points-' + ${era.dominanceRatioRounded}" style="padding: 1px" th:colspan="${era.seasonCount}">
				<span th:if="${era.player}" th:text="${era.player.lastName}" class="best-player era-player">Sampras</span>
			</th>
		</tr>
		<tr class="season">
			<th colspan="3" style="padding: 1px 4px; text-align: right; border-right: 3px solid lightgray" title="Average dominance ratio in the Era">Era Dominance Ratio</th>
			<th th:each="era : ${timeline.dominanceEras}" th:class="'points-' + ${era.dominanceRatioRounded}" style="padding: 1px" th:colspan="${era.seasonCount}">
				<span th:text="${#numbers.formatDecimal(era.dominanceRatio, 1, 1)}" class="era-factor">66.7</span>
			</th>
		</tr>
		<tr class="best-player">
			<th colspan="3" style="padding: 1px 4px; text-align: right; border-right: 3px solid lightgray">Season Best Player</th>
			<th th:each="season : ${timeline.dominanceSeasons}" th:class="'points-' + ${season.dominanceRatioRounded}" style="padding: 1px">
				<span th:text="${season.bestPlayer.lastName}" class="best-player">Federer</span>
			</th>
		</tr>
		<tr class="season">
			<th colspan="3" style="padding: 1px 4px; text-align: right; border-right: 3px solid lightgray" th:title="'For all players with minimum ' + ${minGOATPoints} + ' GOAT points: SUM(player season GOAT points * player GOAT points) / ' + ${dominanceRatioCoefficient}">Season Dominance Ratio</th>
			<th th:each="season : ${timeline.dominanceSeasons}" th:class="'points-' + ${season.dominanceRatioRounded}" style="padding: 1px">
				<span th:text="${#numbers.formatDecimal(season.dominanceRatio, 1, 1)}" class="vseason">66.7</span>
			</th>
		</tr>
		<tr class="season" style="border-bottom: 3px solid lightgray">
			<th style="padding: 1px 4px">Player</th>
			<th style="padding: 1px 4px">Born</th>
			<th style="padding: 1px 4px; border-right: 3px solid lightgray">GOAT Pts.</th>
			<th style="padding: 1px" th:each="season : ${timeline.seasons}"><a th:href="@{/season(season=${season})}" th:text="${season}" class="vseason" title="Show season">2015</a></th>
		</tr>
		</thead>
		<tbody>
		<tr th:each="player : ${timeline.players}">
			<td style="padding: 1px 4px">
				<img th:src="@{/images/flags/{code}.png(code=${player.country.code})}" src="/images/flags/ch.png'" th:title="${player.country.id}" title="SUI" width="24" height="20"/>
				<a th:href="@{/playerProfile(playerId=${player.playerId})}" th:text="${player.name}" style="vertical-align: middle" title="Show profile">Roger Federer</a>
				<img th:if="${player.active}" src="/images/active.png" title="Active" width="12" height="12"/>
			</td>
			<td style="padding: 1px 4px" th:text="${#dates.format(player.dob, 'yyyy')}">1985</td>
			<td style="padding: 1px 20px; text-align: right; border-right: 3px solid lightgray">
				<a th:href="@{/playerProfile(playerId=${player.playerId}, tab=goatPoints)}" th:text="${player.goatPoints}" title="Show GOAT points distribution">585</a>
			</td>
			<td th:each="seasonPoint : ${player.getSeasonsPoints()}" th:class="'points-' + ${seasonPoint.pointsRounded}" class="points-10"><a th:href="@{/playerProfile(playerId=${player.playerId}, tab=goatPoints, season=${seasonPoint.season})}" th:text="${seasonPoint.points > 0 ? seasonPoint.points : ''}" class="points" title="Show season GOAT points distribution">15</a></td>
		</tr>
		</tbody>
		<thead>
		<tr class="season" style="border-top: 3px solid lightgray">
			<th style="padding: 1px 4px">Player</th>
			<th style="padding: 1px 4px">Born</th>
			<th style="padding: 1px 4px; border-right: 3px solid lightgray">GOAT Pts.</th>
			<th style="padding: 1px" th:each="season : ${timeline.seasons}"><a th:href="@{/season(season=${season})}" th:text="${season}" class="vseason" title="Show season">2015</a></th>
		</tr>
		</thead>
	</table>
	<p><i>* Minimum <span th:text="${minGOATPoints}">40</span> GOAT points</i></p>
	<br/>
	<button type="button" class="btn btn-info btn-sm" data-toggle="collapse" data-target="#goatLegend" data-url="/goatLegend">GOAT Pts. Legend&nbsp;&nbsp;<span class="glyphicon glyphicon-chevron-down"></span></button>
	<div id="goatLegend" class="collapse">Loading... <img src="/images/ui-anim_basic_16x16.gif" width="16" height="16"/></div>
	<footer th:include="fragments/footer :: copy"></footer>
</body>
</html>