<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:with="seasonCount=${timeline.seasons.size()}">
<!--/*@thymesVar id="seasons" type="java.util.List<java.lang.Integer>"*/-->
<!--/*@thymesVar id="surfaces" type="org.strangeforest.tcb.stats.model.core.Surface[]"*/-->
<!--/*@thymesVar id="fromSeason" type="java.lang.Integer"*/-->
<!--/*@thymesVar id="toSeason" type="java.lang.Integer"*/-->
<!--/*@thymesVar id="surface" type="java.lang.String"*/-->
<!--/*@thymesVar id="averageElo" type="java.lang.Boolean"*/-->
<!--/*@thymesVar id="timeline" type="org.strangeforest.tcb.stats.model.DominanceTimeline"*/-->
<!--/*@thymesVar id="dominanceRatioCoefficient" type="java.lang.Integer"*/-->
<!--/*@thymesVar id="minGOATPoints" type="java.lang.Integer"*/-->
<head th:replace="fragments/head :: commonHead(~{::title/text()}, false, ~{::script}, ~{::style})">
	<title>Dominance Timeline</title>
	<script th:src="@{/js/jquery.resize.js}"></script>
	<script type="text/javascript">
		function correctInitPositions() {
			var $timelineHeader = $("#timelineHeader");
			$timelineHeader.find("span.best-player").each(function() {
				var $bestPlayer = $(this);
				$bestPlayer.css({position: "absolute", display: "block"});
				$bestPlayer.css({top: ($bestPlayer.offset().top - 62) + "px"});
			});
			$timelineHeader.find("span.era-player").each(function() {
				var $eraPlayer = $(this);
				$eraPlayer.css({left: ($eraPlayer.offset().left + $eraPlayer.parent().width() / 2 + 8) + "px"});
			});
			$timelineHeader.find("span.era-factor").each(function() {
				var $eraFactor = $(this);
				$eraFactor.css({position: "absolute", display: "block"});
				$eraFactor.css({
					left: ($eraFactor.offset().left + $eraFactor.parent().width() / 2 - 9) + "px",
					top: ($eraFactor.offset().top - 29) + "px"
				});
			});
		}
		function correctPositionsOnResize() {
			var newOffset = $("#dominanceTable").offset();
			var dLeft = newOffset.left - dominanceTableOffset.left;
			var dTop = newOffset.top - dominanceTableOffset.top;
			correctPosOnResize("span.best-player", dLeft + 20, dTop - 20);
			correctPosOnResize("span.era-factor", dLeft + 2.6, dTop - 2.5);
			dominanceTableOffset = newOffset;
		}
		function correctPosOnResize(selector, dLeft, dTop) {
			$("#timelineHeader").find(selector).each(function() {
				var $this = $(this);
				var offset = $this.offset();
				$this.css({
					left: (offset.left + dLeft) + "px",
					top: (offset.top + dTop) + "px"
				});
			});
		}
		var dominanceTableOffset;
		$(function() {
			correctInitPositions();
			dominanceTableOffset = $("#dominanceTable").offset();
			$(window).resize(correctPositionsOnResize);
			$("#navbar").resize(correctPositionsOnResize);
			onAverageEloChange();
			$("[data-toggle='collapse']").click(collapseClick);
			$("[data-toggle='tooltip']").tooltip();
		});
		function reloadDominanceTimeline() {
			var url = "/dominanceTimeline?averageElo=" + $("#averageElo").prop("checked");
			var fromSeason = $("#fromSeason").val();
			if (fromSeason) url += "&fromSeason=" + fromSeason;
			var toSeason = $("#toSeason").val();
			if (toSeason) url += "&toSeason=" + toSeason;
			var surface = $("#surface").val();
			if (surface) url += "&surface=" + surface;
			window.location.href = url;
		}
		function onAverageEloChange() {
			var averageElo = $("#averageElo").prop("checked");
			$("#averageEloTimeline").css("display", averageElo ? "table-header-group" : "none");
		}
	</script>
	<style th:inline="css">
		[# th:if="${seasonCount > 39}" th:with="newWidth=${1400 + 27 * (seasonCount - 39)}"]
		@media (min-width: [(${newWidth + 30})]px) {
			.container {
				width: [(${newWidth})]px;
			}
		}
		[/]
		#dominanceTable > thead > tr.season > th {
			line-height: 2.5;
		}
		#dominanceTable > thead > tr.best-player > th {
			line-height: 5.0;
		}
		#dominanceTable > tbody > tr > th,
		#dominanceTable > tbody > tr > td {
			line-height: 1.0;
			vertical-align: middle;
		}
		span.best-player {
			transform: rotate(-90deg);
			display: none;
			width: 20px;
			height: 60px;
		}
		span.era-factor {
			transform: rotate(-90deg);
			display: none;
			width: 20px;
			height: 25px;
			margin-left: -0.1px;
		}
		.vseason {
			transform: rotate(-90deg);
			display: block;
			width: 20px;
			height: 25px;
		}
		.points-0, .points-10, .points-20, .points-30, .points-40, .points-50, .points-60, .points-70, .points-80, .points-90, .points-100 {
			width: 26px;
			text-align: right;
		}
		.points {
			color: darkblue;
		}
	</style>
</head>
<body class="container">
	<header th:include="fragments/header :: title"></header>
	<h3 class="text-nowrap"><i class="fa fa-history"></i> Dominance Timeline</h3>
	<div class="row">
		<div class="col-sm-6 col-md-5 col-lg-4">
			<div class="input-group">
				<label for="fromSeason" class="input-group-addon">From:</label>
				<select id="fromSeason" class="form-control" onchange="reloadDominanceTimeline()" data-toggle="tooltip" data-placement="top" title="Select from season">
					<option value="">All seasons</option>
					<option th:each="season : ${seasons}" th:value="${season}" value="1968" th:selected="${season == fromSeason}" th:text="${season}">1968</option>
				</select>
				<label for="toSeason" class="input-group-addon">To:</label>
				<select id="toSeason" class="form-control" onchange="reloadDominanceTimeline()" data-toggle="tooltip" data-placement="top" title="Select to season">
					<option value="">All seasons</option>
					<option th:each="season : ${seasons}" th:value="${season}" value="2017" th:selected="${season == toSeason}" th:text="${season}">2017</option>
				</select>
			</div>
		</div>
		<div class="col-sm-4 col-md-3 col-lg-3">
			<div class="input-group">
				<label for="surface" class="input-group-addon">Surface:</label>
				<select id="surface" class="form-control" onchange="reloadDominanceTimeline()" data-toggle="tooltip" data-placement="top" title="Select overall or Dominance Timeline by surface">
					<option value="">Overall</option>
					<option th:each="aSurface : ${surfaces}" th:value="${aSurface.code}" th:class="|bg-surface-${aSurface.code}|" value="H" class="bg-surface-H" th:selected="${aSurface.code == surface}" th:text="${aSurface.text}">Hard</option>
				</select>
			</div>
		</div>
		<div class="col-sm-2 col-md-2 col-lg-2">
			<div class="checkbox text-nowrap">
				<label data-toggle="tooltip" data-placement="top" title="Show average Elo ratings">
					<input id="averageElo" type="checkbox" th:checked="${averageElo}" onchange="onAverageEloChange()"/> Average Elo
				</label>
			</div>
		</div>
	</div>
	<th:block th:include="fragments/deviceDetector :: largeDeviceRequired(${seasonCount >= 30 ? 'lg' : (seasonCount >= 22 ? 'md' : (seasonCount >= 14 ? 'sm' : _))})"/>
	<table id="dominanceTable" class="table table-condensed table-hover table-bordered text-nowrap" style="width: auto; border: 3px solid lightgray">
		<thead id="timelineHeader">
		<tr class="best-player">
			<th colspan="3" style="padding: 1px 4px; text-align: right; border-right: 3px solid lightgray; height: 85px">Era</th>
			<th th:each="era : ${timeline.dominanceEras}" th:class="'points-' + ${era.dominanceRatioRounded}" style="padding: 1px" th:colspan="${era.seasonCount}">
				<span th:if="${era.player}" th:text="${era.player.lastName}" class="best-player era-player">Sampras</span>
			</th>
		</tr>
		<tr class="season">
			<th colspan="3" style="padding: 1px 4px; text-align: right; border-right: 3px solid lightgray" title="Average dominance ratio in the Era">Era Dominance Ratio</th>
			<th th:each="era : ${timeline.dominanceEras}" th:class="'points-' + ${era.dominanceRatioRounded}" style="padding: 1px" th:colspan="${era.seasonCount}">
				<span th:text="${#numbers.formatDecimal(era.dominanceRatio, 1, 1)}" class="era-factor">66.7</span>
			</th>
		</tr>
		<tr class="best-player">
			<th colspan="3" style="padding: 1px 4px; text-align: right; border-right: 3px solid lightgray; height: 85px">Season Best Player</th>
			<th th:each="season : ${timeline.dominanceSeasons}" th:class="'points-' + ${season.dominanceRatioRounded}" style="padding: 1px">
				<span th:text="${season.bestPlayer.lastName}" class="best-player">Federer</span>
			</th>
		</tr>
		<tr class="season">
			<th colspan="3" style="padding: 1px 4px; text-align: right; border-right: 3px solid lightgray" th:title="'For all players with minimum ' + ${minGOATPoints} + ' GOAT points: SUM(player season GOAT points * player GOAT points) / ' + ${dominanceRatioCoefficient}">Season Dominance Ratio</th>
			<th th:each="season : ${timeline.dominanceSeasons}" th:class="'points-' + ${season.dominanceRatioRounded}" style="padding: 1px">
				<span th:text="${#numbers.formatDecimal(season.dominanceRatio, 1, 1)}" class="vseason">66.7</span>
			</th>
		</tr>
		</thead>
		<thead id="averageEloTimeline" style="display: none">
		<tr class="season" style="border-bottom: 3px solid lightgray">
			<th colspan="3" style="padding: 1px 4px; text-align: right; border-right: 3px solid lightgray">Average Elo Ratings</th>
			<th style="padding: 1px" th:each="season : ${timeline.seasons}"><a th:href="@{/season(season=${season}, tab=goatPoints, surface=${surface})}" th:text="${season}" class="vseason" title="Show season">2015</a></th>
		</tr>
		<tr class="season" style="border-top: 3px solid lightgray">
			<th colspan="3" style="padding: 1px 4px; text-align: right; border-right: 3px solid lightgray" title="Average No 1 Elo Rating">No 1</th>
			<th style="padding: 1px" th:each="season : ${timeline.dominanceSeasons}" th:class="'points-' + ${season.getAverageEloRatingPoints(1)}"><span class="vseason" th:text="${season.getAverageEloRating(1)}">2100</span></th>
		</tr>
		<tr class="season" style="border-top: 3px solid lightgray">
			<th colspan="3" style="padding: 1px 4px; text-align: right; border-right: 3px solid lightgray" title="Average Top 2 Elo Rating">Top 2</th>
			<th style="padding: 1px" th:each="season : ${timeline.dominanceSeasons}" th:class="'points-' + ${season.getAverageEloRatingPoints(2)}"><span class="vseason" th:text="${season.getAverageEloRating(2)}">2100</span></th>
		</tr>
		<tr class="season" style="border-top: 3px solid lightgray">
			<th colspan="3" style="padding: 1px 4px; text-align: right; border-right: 3px solid lightgray" title="Average Top 3 Elo Rating">Top 3</th>
			<th style="padding: 1px" th:each="season : ${timeline.dominanceSeasons}" th:class="'points-' + ${season.getAverageEloRatingPoints(3)}"><span class="vseason" th:text="${season.getAverageEloRating(3)}">2100</span></th>
		</tr>
		<tr class="season" style="border-top: 3px solid lightgray">
			<th colspan="3" style="padding: 1px 4px; text-align: right; border-right: 3px solid lightgray" title="Average Top 5 Elo Rating">Top 5</th>
			<th style="padding: 1px" th:each="season : ${timeline.dominanceSeasons}" th:class="'points-' + ${season.getAverageEloRatingPoints(5)}"><span class="vseason" th:text="${season.getAverageEloRating(5)}">2100</span></th>
		</tr>
		<tr class="season" style="border-top: 3px solid lightgray">
			<th colspan="3" style="padding: 1px 4px; text-align: right; border-right: 3px solid lightgray" title="Average Top 10 Elo Rating">Top 10</th>
			<th style="padding: 1px" th:each="season : ${timeline.dominanceSeasons}" th:class="'points-' + ${season.getAverageEloRatingPoints(10)}"><span class="vseason" th:text="${season.getAverageEloRating(10)}">2100</span></th>
		</tr>
		<tr class="season" style="border-top: 3px solid lightgray">
			<th colspan="3" style="padding: 1px 4px; text-align: right; border-right: 3px solid lightgray" title="Average Top 20 Elo Rating">Top 20</th>
			<th style="padding: 1px" th:each="season : ${timeline.dominanceSeasons}" th:class="'points-' + ${season.getAverageEloRatingPoints(20)}"><span class="vseason" th:text="${season.getAverageEloRating(20)}">2100</span></th>
		</tr>
		<tr class="season" style="border-top: 3px solid lightgray">
			<th colspan="3" style="padding: 1px 4px; text-align: right; border-right: 3px solid lightgray" title="Average Top 50 Elo Rating">Top 50</th>
			<th style="padding: 1px" th:each="season : ${timeline.dominanceSeasons}" th:class="'points-' + ${season.getAverageEloRatingPoints(50)}"><span class="vseason" th:text="${season.getAverageEloRating(50)}">2100</span></th>
		</tr>
		<tr class="season" style="border-top: 3px solid lightgray">
			<th colspan="3" style="padding: 1px 4px; text-align: right; border-right: 3px solid lightgray" title="Average Top 100 Elo Rating">Top 100</th>
			<th style="padding: 1px" th:each="season : ${timeline.dominanceSeasons}" th:class="'points-' + ${season.getAverageEloRatingPoints(100)}"><span class="vseason" th:text="${season.getAverageEloRating(100)}">2100</span></th>
		</tr>
		<tr class="season" style="border-top: 3px solid lightgray">
			<th colspan="3" style="padding: 1px 4px; text-align: right; border-right: 3px solid lightgray" title="Average Top 200 Elo Rating">Top 200</th>
			<th style="padding: 1px" th:each="season : ${timeline.dominanceSeasons}" th:class="'points-' + ${season.getAverageEloRatingPoints(200)}"><span class="vseason" th:text="${season.getAverageEloRating(200)}">2100</span></th>
		</tr>
		</thead>
		<thead>
		<tr class="season" style="border-bottom: 3px solid lightgray">
			<th style="padding: 1px 4px">Player</th>
			<th style="padding: 1px 4px">Born</th>
			<th style="padding: 1px 4px; border-right: 3px solid lightgray">GOAT Pts.</th>
			<th style="padding: 1px" th:each="season : ${timeline.seasons}"><a th:href="@{/season(season=${season}, tab=goatPoints, surface=${surface})}" th:text="${season}" class="vseason" title="Show season">2015</a></th>
		</tr>
		</thead>
		<tbody>
		<tr th:each="player : ${timeline.players}">
			<td style="padding: 1px 4px">
				<img th:src="@{/images/flags/{code}.png(code=${player.country.code})}" src="/images/flags/ch.png'" th:title="${player.country.id}" title="SUI" width="24" height="20"/>
				<a th:href="@{/playerProfile(playerId=${player.playerId})}" th:text="${player.name}" style="vertical-align: middle" title="Show profile">Roger Federer</a>
				<img th:if="${player.active}" src="/images/active.png" title="Active" width="12" height="12"/>
			</td>
			<td style="padding: 1px 4px" th:text="${player.dob.year}">1985</td>
			<td style="padding: 1px 20px; text-align: right; border-right: 3px solid lightgray">
				<a th:href="@{/playerProfile(playerId=${player.playerId}, tab=goatPoints, surface=${surface})}" th:text="${player.goatPoints}" title="Show GOAT points distribution">585</a>
			</td>
			<td th:each="seasonPoint : ${player.getSeasonsPoints()}" th:class="'points-' + ${seasonPoint.pointsRounded}" class="points-10"><a th:href="@{/playerProfile(playerId=${player.playerId}, tab=goatPoints, season=${seasonPoint.season}, surface=${surface})}" th:text="${seasonPoint.points > 0 ? seasonPoint.points : ''}" class="points" title="Show season GOAT points distribution">15</a></td>
		</tr>
		</tbody>
		<thead>
		<tr class="season" style="border-top: 3px solid lightgray">
			<th style="padding: 1px 4px">Player</th>
			<th style="padding: 1px 4px">Born</th>
			<th style="padding: 1px 4px; border-right: 3px solid lightgray">GOAT Pts.</th>
			<th style="padding: 1px" th:each="season : ${timeline.seasons}"><a th:href="@{/season(season=${season}, tab=goatPoints, surface=${surface})}" th:text="${season}" class="vseason" title="Show season">2015</a></th>
		</tr>
		</thead>
	</table>
	<p><i>* Minimum <span th:text="${minGOATPoints}">40</span> GOAT points</i></p>
	<br/>
	<button type="button" class="btn btn-info btn-sm" data-toggle="collapse" data-target="#goatLegend" th:data-url="@{/goatLegend(surface=${surface})}">GOAT Pts. Legend&nbsp;&nbsp;<i class="fa fa-chevron-down"></i></button>
	<div id="goatLegend" class="collapse">Loading... <img src="/images/ui-anim_basic_16x16.gif" width="16" height="16"/></div>
	<footer th:include="fragments/footer :: copy"></footer>
</body>
</html>