<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="goatTopN" type="java.util.List<org.strangeforest.tcb.stats.model.PlayerRanking>"*/-->
<head th:replace="fragments/head :: commonHead(~{::title/text()}, false, _, ~{::style})">
	<title>Thank You!</title>
	<style>
		body {
			background: url("/images/home-bg.jpg") repeat;
		}
		.component-header {
			margin: 0;
		}
	</style>
</head>
<body class="container">
<header th:include="fragments/header :: title"></header>
<div class="row">
	<div class="col-lg-10 col-md-9">
		<div>
			<h1 style="margin-top: 10px; margin-bottom: 20px"><a href="/" title="Home"><span style="color: #dd7777">Ultimate</span> <span style="color: #22ddcc">Tennis</span> <span style="color: #4477cc">Statistics</span></a></h1>
		</div>
		<h4 class="text-nowrap"><span class="glyphicon glyphicon-thumbs-up"></span> Thank You!</h4>
		<p>
			<span style="color: #dd7777">Ultimate</span> <span style="color: #22ddcc">Tennis</span> <span style="color: #4477cc">Statistics</span> thanks you for your generous donation.<br/>
			Please be assured that donation will be used only to pay the web hosting bill and to improve the availability and performance of the website.
		</p>
		<br/>
		<th:block th:include="fragments/promotion :: facebook"/>
		<th:block th:include="fragments/promotion :: twitter"/>
		<th:block th:include="fragments/promotion :: paypal"/>
	</div>
	<div class="col-lg-2 col-md-3">
		<th:block th:include="fragments/goatTopN :: goatTopN"/>
	</div>
</div>
<th:block th:include="fragments/deviceDetector :: deviceDetectors"/>
<footer th:include="fragments/footer :: copy"></footer>
</body>
</html>