<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="goatTopN" type="java.util.List<org.strangeforest.tcb.stats.model.PlayerRanking>"*/-->
<head th:replace="fragments/head :: commonHead(~{::title/text()}, false, ~{::template})">
	<title>Thank You!</title>
	<template>
	<style>
		body {
			background: url("/images/home-bg.jpg") repeat;
		}
		.component-header {
			margin: 0;
		}
	</style>
	</template>
</head>
<body class="container">
<header th:include="fragments/header :: title"></header>
<div class="row">
	<div class="col-lg-10 col-md-9">
		<div>
			<h1 style="margin-top: 10px; margin-bottom: 20px"><a href="/" title="Home"><th:block th:include="fragments/promotion :: logo"/></a></h1>
		</div>
		<h4 class="text-nowrap"><i class="fa fa-thumbs-o-up"></i> Thank You!</h4>
		<p>
			<th:block th:include="fragments/promotion :: logo"/> thanks you for your generous donation.<br/>
			Please be assured that donation will be used only to pay the web hosting bill and to improve the availability and the performance of the <th:block th:include="fragments/promotion :: logo"/> website.
		</p>
		<br/>
		<th:block th:include="fragments/promotion :: facebook"/>
		<th:block th:include="fragments/promotion :: twitter('')"/>
		<th:block th:include="fragments/promotion :: paypal"/>
	</div>
	<div class="col-lg-2 col-md-3">
		<th:block th:include="fragments/goatTopN :: goatTopN"/>
	</div>
</div>
<th:block th:include="fragments/deviceDetector :: deviceDetectors"/>
<footer th:include="fragments/footer :: copy"></footer>
</body>
</html>