<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<title>Ultimate Tennis Statistics - Error</title>
	<link th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
	<link th:href="@{/webjars/jquery-ui-themes/1.11.4/smoothness/jquery-ui.css}" rel="stylesheet" media="screen"/>
	<link th:href="@{/css/tennis-stats.css}" rel="stylesheet" media="screen"/>
	<script th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
	<script th:src="@{/webjars/jquery-ui/1.11.4/jquery-ui.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/tcbUtil.js}"></script>
</head>
<body class="container">
	<div th:include="fragments/header :: title"></div>
	<h3>Unexpected error occurred</h3>
	<div th:text="|Error: ${error} (${status})|">Error (status)</div>
	<div th:text="|Path: ${path}|">Path</div>
	<div id="created" th:text="|Timestamp: ${timestamp}|">Timestamp</div>
	<div th:text="|Message: ${message}|">Message</div>
	<div th:include="fragments/footer :: copy"></div>
</body>
</html>