<th:block xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="inFragment" type="java.lang.Boolean"*/-->
<!--/*@thymesVar id="error" type="java.lang.String"*/-->
<!--/*@thymesVar id="status" type="java.lang.Integer"*/-->
<!--/*@thymesVar id="path" type="java.lang.String"*/-->
<!--/*@thymesVar id="timestamp" type="java.util.Date"*/-->
<!--/*@thymesVar id="message" type="java.lang.String"*/-->
<!DOCTYPE html>
<html th:unless="${inFragment}">
<head th:replace="fragments/head :: commonHead(~{::title/text()}, false, _)">
	<title>Error</title>
</head>
<body class="container">
	<header th:include="fragments/header :: title"></header>
	<h3 th:text="${status == 404 ? 'Object Not Found' : 'Unexpected Error Occurred'}">Unexpected error occurred</h3>
	<div>Error: [[${error}]] ([[${status}]])</div>
	<div>Path: [[${path}]]</div>
	<div id="created">Timestamp: [[${#dates.format(timestamp, 'dd-MM-yyyy HH:mm:ss.SSS X')}]]</div>
	<div>Message: [[${message}]]</div>
	<footer th:include="fragments/footer :: copy"></footer>
</body>
</html>
<span th:if="${inFragment}" style="background-color: red; color: white">ERROR</span>
</th:block>