<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="versions" type="java.util.Map<String, String>"*/-->
<!--/*@thymesVar id="error" type="java.lang.String"*/-->
<!--/*@thymesVar id="status" type="java.lang.Integer"*/-->
<!--/*@thymesVar id="path" type="java.lang.String"*/-->
<!--/*@thymesVar id="timestamp" type="java.util.Date"*/-->
<!--/*@thymesVar id="message" type="java.lang.String"*/-->
<head th:replace="fragments/head :: commonHead(~{::title/text()}, false, _, _)">
	<title>Error</title>
</head>
<body class="container">
	<header th:include="fragments/header :: title"></header>
	<h3>Unexpected error occurred</h3>
	<div>Error: [[${error}]] ([[${status}]])</div>
	<div>Path: [[${path}]]</div>
	<div id="created">Timestamp: [[${timestamp}]]</div>
	<div>Message: [[${message}]]</div>
	<footer th:include="fragments/footer :: copy"></footer>
</body>
</html>