<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Ultimate Tennis Statistics - GOAT List</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<link th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
	<link th:href="@{/webjars/jquery.bootgrid/1.2.0/dist/jquery.bootgrid.min.css}" rel="stylesheet" media="screen"/>
	<script th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/3.3.5/js/bootstrap.min.js}"></script>
	<script th:src="@{/webjars/jquery.bootgrid/1.2.0/dist/jquery.bootgrid.min.js}"></script>
	<script type="text/javascript">
		/*<![CDATA[*/
		$(function() {
			$("#goatTable").bootgrid({
				ajax: true,
				ajaxSettings: {
					method: "GET",
					cache: false
				},
				url: "/goatTable",
				rowCount: [10, 20, 50, -1],
				searchSettings: {
					delay: 300,
					characters: 2
				}
			});
		});
		/*]]>*/
	</script>
</head>
<body>
	<h1><a href="/">Ultimate Tennis Statistics</a></h1>
	<h3>GOAT List</h3>
	<table id="goatTable" class="table table-condensed table-hover table-striped" style="width: 100%">
		<thead>
			<tr>
				<th data-column-id="goatRanking" data-type="numeric" data-sortable="false" data-width="80">Ranking</th>
				<th data-column-id="countryId" data-sortable="false" data-width="60">Country</th>
				<th data-column-id="name" data-sortable="false" data-width="220">Name</th>
				<th data-column-id="goatPoints" data-type="numeric" data-order="desc" data-width="100" data-align="right" data-header-align="right">GOAT Points</th>
				<th data-column-id="grandSlams" data-type="numeric" data-order="desc" data-width="80" data-align="right" data-header-align="right">Grand Slams</th>
				<th data-column-id="tourFinals" data-type="numeric" data-order="desc" data-width="80" data-align="right" data-header-align="right">Tour Finals</th>
				<th data-column-id="masters" data-type="numeric" data-order="desc" data-width="80" data-align="right" data-header-align="right">Masters</th>
				<th data-column-id="olympics" data-type="numeric" data-order="desc" data-width="80" data-align="right" data-header-align="right">Olympics</th>
				<th data-column-id="titles" data-type="numeric" data-order="desc" data-width="80" data-align="right" data-header-align="right">Titles</th>
			</tr>
		</thead>
	</table>
</body>
</html>