<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="surfaces" type="org.strangeforest.tcb.stats.model.core.Surface[]"*/-->
<!--/*@thymesVar id="countries" type="java.util.List<com.neovisionaries.i18n.CountryCode>"*/-->
<!--/*@thymesVar id="surface" type="java.lang.String"*/-->
<!--/*@thymesVar id="active" type="java.lang.Boolean"*/-->
<!--/*@thymesVar id="countryId" type="java.lang.String"*/-->
<!--/*@thymesVar id="config" type="org.strangeforest.tcb.stats.model.GOATListConfig"*/-->
<!--/*@thymesVar id="factors" type="java.util.Map<java.lang.String, java.lang.String>"*/-->
<!--/*@thymesVar id="levels" type="java.util.List<java.lang.String>"*/-->
<!--/*@thymesVar id="results" type="java.util.List<java.lang.String>"*/-->
<head th:replace="fragments/head :: commonHead(~{::title/text()}, true, ~{::template})">
	<title>GOAT List</title>
	<template>
	<meta name="description" content="Open Era GOAT List compares tennis player career achievements expressed by GOAT Points"/>
	<script type="text/javascript" th:inline="javascript">
		var surface = [[${surface}]];
		$(function() {
			var $goatListTable = $("#goatListTable");
			var device = detectDevice();
			setBootgridColumnsVisible($goatListTable, ["tournamentPoints", "rankingPoints", "achievementsPoints"], deviceGreaterOrEqual(device, "sm"));
			setBootgridColumnsVisible($goatListTable, ["tourFinals", "altFinals", "masters", "olympics", "bigTitles", "weeksAtNo1"], deviceGreaterOrEqual(device, "md"));
			setBootgridColumnsVisible($goatListTable, ["wonPct", "bestEloRating"], deviceGreaterOrEqual(device, "lg"));
			if (deviceGreaterOrEqual("md", device))
				setBootgridColumnsWidths($goatListTable, ["name"], [150]);
			$goatListTable.bootgrid({
				ajax: true,
				ajaxSettings: {
					method: "GET",
					cache: false
				},
				url: "/goatListTable",
				requestHandler: function(request) {
					addRequestParam(request, "surface");
					addRequestBooleanParam(request, "active");
					addRequestParam(request, "countryId");
					request.oldLegends = $("#oldLegends").prop("checked");
					addRequestBooleanParam(request, "extrapolate");
					addRequestParam(request, "tournamentFactor", "1");
					addRequestParam(request, "rankingFactor", "1");
					addRequestParam(request, "achievementsFactor", "1");
					var levelFactors = getLevelFactors();
               if (levelFactors) request.levelFactors = levelFactors;
					var resultFactors = getResultFactors();
					if (resultFactors) request.resultFactors = resultFactors;
					addRequestParam(request, "yearEndRankFactor", "1");
					addRequestParam(request, "bestRankFactor", "1");
					addRequestParam(request, "weeksAtNo1Factor", "1");
					addRequestParam(request, "weeksAtEloTopNFactor", "1");
					addRequestParam(request, "bestEloRatingFactor", "1");
					addRequestParam(request, "grandSlamFactor", "1");
					addRequestParam(request, "bigWinsFactor", "1");
					addRequestParam(request, "h2hFactor", "1");
					addRequestParam(request, "recordsFactor", "1");
					addRequestParam(request, "bestSeasonFactor", "1");
					addRequestParam(request, "greatestRivalriesFactor", "1");
					addRequestParam(request, "performanceFactor", "1");
					addRequestParam(request, "statisticsFactor", "1");
					return request;
				},
				rowCount: [20, 50, 100, -1],
				searchSettings: {
					delay: 300,
					characters: 2
				},
				formatters: {
					"player": playerCountryFormatter,
					"totalPoints": function(column, row) {
						return "<a href='/playerProfile?playerId=" + row.playerId + "&tab=goatPoints" + (surface ? "&surface=" + surface : "") + "' title='Show GOAT points distribution'><b>" + row.totalPoints + "</b></a>";
					},
					"tournamentPoints": function(column, row) {
						if (row.tournamentPoints > 0) {
							var title = "";
							title = appendPointsTitle(title, row, "tGPoints", "Grand Slam");
							title = appendPointsTitle(title, row, "tFLPoints", "Tour Finals");
							title = appendPointsTitle(title, row, "tMPoints", "Masters");
							title = appendPointsTitle(title, row, "tOPoints", "Olympics");
							title = appendPointsTitle(title, row, "tABPoints", "Small tournaments");
							title = appendPointsTitle(title, row, "tDTPoints", "Team tournaments");
							return "<span title='" + title + "'>" + row.tournamentPoints + "</span>";
						}
						else
							return row.tournamentPoints;
					},
					"rankingPoints": function(column, row) {
						if (row.rankingPoints > 0) {
							var title = "";
							title = appendPointsTitle(title, row, "yearEndRankPoints", "Year-end ranking");
							title = appendPointsTitle(title, row, "bestRankPoints", "Career high ranking");
							title = appendPointsTitle(title, row, "weeksAtNo1Points", "Weeks at No. 1");
							title = appendPointsTitle(title, row, "weeksAtEloTopNPoints", "Weeks at Elo Top 5");
							title = appendPointsTitle(title, row, "bestEloRatingPoints", "Peak Elo rating");
							return "<span title='" + title + "'>" + row.rankingPoints + "</span>";
						}
						else
							return row.rankingPoints;
					},
					"achievementsPoints": function(column, row) {
						if (row.achievementsPoints > 0) {
							var title = "";
							title = appendPointsTitle(title, row, "grandSlamPoints", "Grand Slam");
							title = appendPointsTitle(title, row, "bigWinsPoints", "Big wins");
							title = appendPointsTitle(title, row, "h2hPoints", "Head-to-head");
							title = appendPointsTitle(title, row, "recordsPoints", "Records");
							title = appendPointsTitle(title, row, "bestSeasonPoints", "Best seasons");
							title = appendPointsTitle(title, row, "greatestRivalriesPoints", "Greatest rivalries");
							title = appendPointsTitle(title, row, "performancePoints", "Performance");
							title = appendPointsTitle(title, row, "statisticsPoints", "Statistics");
							return "<span title='" + title + "'>" + row.achievementsPoints + "</span>";
						}
						else
							return row.achievementsPoints;
					},
					"tGPoints": areaPointsFormatter("tGPoints"),
					"tFLPoints": areaPointsFormatter("tFLPoints"),
					"tMPoints": areaPointsFormatter("tMPoints"),
					"tOPoints": areaPointsFormatter("tOPoints"),
					"tABPoints": areaPointsFormatter("tABPoints"),
					"tDTPoints": areaPointsFormatter("tDTPoints"),
					"yearEndRankPoints": areaPointsFormatter("yearEndRankPoints"),
					"bestRankPoints": areaPointsFormatter("bestRankPoints"),
					"weeksAtNo1Points": areaPointsFormatter("weeksAtNo1Points"),
					"weeksAtEloTopNPoints": areaPointsFormatter("weeksAtEloTopNPoints"),
					"bestEloRatingPoints": areaPointsFormatter("bestEloRatingPoints"),
					"grandSlamPoints": areaPointsFormatter("grandSlamPoints"),
					"bigWinsPoints": areaPointsFormatter("bigWinsPoints"),
					"h2hPoints": areaPointsFormatter("h2hPoints"),
					"recordsPoints": areaPointsFormatter("recordsPoints"),
					"bestSeasonPoints": areaPointsFormatter("bestSeasonPoints"),
					"greatestRivalriesPoints": areaPointsFormatter("greatestRivalriesPoints"),
					"performancePoints": areaPointsFormatter("performancePoints"),
					"statisticsPoints": areaPointsFormatter("statisticsPoints"),
					"grandSlams": playerTitlesFormatter("grandSlams", "&level=G", " Grand Slam"),
					"tourFinals": playerTitlesFormatter("tourFinals", "&level=F", " Tour Finals"),
					"altFinals": playerTitlesFormatter("altFinals", "&level=L", " Alternative Tour Finals"),
					"masters": playerTitlesFormatter("masters", "&level=M", " Masters"),
					"olympics": playerTitlesFormatter("olympics", "&level=O", " Olympics"),
					"bigTitles": playerTitlesFormatter("bigTitles", "&level=GFLMO", " Big"),
					"titles": playerTitlesFormatter("titles", "", ""),
					"weeksAtNo1":  function(column, row) {
						var weeksAtNo1 = row.weeksAtNo1;
						if (weeksAtNo1 > 0)
							return "<a href='/playerProfile?playerId=" + row.playerId + "&tab=ranking" + (surface ? "&rankType=" + surfaceName(surface).toUpperCase() + "_ELO_RANK" : "") + "' title='Show " + (surface ? surfaceName(surface) + " Elo" : "ATP") + " ranking'>" + weeksAtNo1 + "</a>";
						else
							return "<span class='text-muted'>0</span>";

					},
					"wonPct": function(column, row) {
						return "<a href='/playerProfile?playerId=" + row.playerId + "&tab=performance" + (surface ? "&surface=" + surface : "") + "' title='" + row.wonLost + "'>" + row.wonPct + "</a>";
					},
					"bestEloRating": function(column, row) {
						return "<a href='/playerProfile?playerId=" + row.playerId + "&tab=ranking&rankType=" + (surface ? surfaceName(surface).toUpperCase() + "_" : "") + "ELO_RATING' title='" + formatDate(row.bestEloRatingDate) + "'>" + row.bestEloRating + "</a>";
					}
				},
				labels: {
					loading: bootgridTemplateLoading,
					noResults: "No players found"
				},
				templates: {
					paginationItem: bootgridTemplatePaginationItem
				}
			}).on("loaded.rs.jquery.bootgrid", function () {
				var $configDiv = $("#goatListConfigDiv");
				$("#goatListTable-footer").find("ul.pagination").after($configDiv.remove());
				$configDiv.show();
				$configDiv.find("[data-toggle='tooltip']").tooltip();
			});
			var $goatListTableHeader = $("#goatListTable-header");
			var $search = $goatListTableHeader.find("div.search");
			$search.before($("#surfaceDiv").remove());
			$search.before($("#activeDiv").remove());
			$search.before($("#goatListQuickPicks").remove());
			setBootgridTitle($goatListTableHeader, $("#goatListTable-title"));
			setBootgridTitles($goatListTable, [
				{id: "goatRank", title: "GOAT rank"},
				{id: "totalPoints", title: "GOAT points"},
				{id: "tournamentPoints", title: "Tournament GOAT points"},
				{id: "rankingPoints", title: "Ranking GOAT points"},
				{id: "tGPoints", title: "Grand Slam tournament GOAT points"},
				{id: "tFLPoints", title: "Tour Finals (official and alternative) tournament GOAT points"},
				{id: "tMPoints", title: "Masters tournament GOAT points"},
				{id: "tOPoints", title: "Olympics tournament GOAT points"},
				{id: "tABPoints", title: "Small (ATP 500 and ATP 250) tournament GOAT points"},
				{id: "tDTPoints", title: "Team (Davis Cup and World Team Cup) tournament GOAT points"},
				{id: "yearEndRankPoints", title: "Year-end rank GOAT points"},
				{id: "bestRankPoints", title: "Best rank GOAT points"},
				{id: "weeksAtNo1Points", title: "Weeks at No. 1 GOAT points"},
				{id: "weeksAtEloTopNPoints", title: "Weeks at Elo Top 5 GOAT points"},
				{id: "bestEloRatingPoints", title: "Best Elo Rating GOAT points"},
				{id: "achievementsPoints", title: "Achievements, performance and statistics GOAT points"},
				{id: "grandSlamPoints", title: "Grand Slam achievements GOAT points"},
				{id: "bigWinsPoints", title: "Big Wins GOAT points"},
				{id: "h2hPoints", title: "Head-to-Head GOAT points"},
				{id: "recordsPoints", title: "Records GOAT points"},
				{id: "bestSeasonPoints", title: "Best Seasons GOAT points"},
				{id: "greatestRivalriesPoints", title: "Greatest Rivalries GOAT points"},
				{id: "performancePoints", title: "Performance GOAT points"},
				{id: "statisticsPoints", title: "Statistics GOAT points"},
				{id: "grandSlams", title: "Grand Slam titles"},
				{id: "tourFinals", title: "Tour Finals titles"},
				{id: "altFinals", title: "Alternative Tour Finals titles"},
				{id: "masters", title: "Masters titles"},
				{id: "olympics", title: "Olympics titles"},
				{id: "bigTitles", title: "Big titles (GS, TF, AF, M, O)"},
				{id: "titles", title: "Titles"},
				{id: "weeksAtNo1", title: "Weeks at No. 1"},
				{id: "wonPct", title: "Winning percentage"},
				{id: "bestEloRating", title: "Career Peak Elo rating"}
			]);
			bindPopovers("body");
			$("[data-toggle='collapse']").click(collapseClick);
			$("[data-toggle='tooltip']").tooltip();
			loadCollapse($("#goatLegendButton"), goatLegendUrl(), true);
		});
		function areaPointsFormatter(attr) {
			return function(column, row) {
				return "<span class='small text-muted'>" + row[attr] + "</span>";
			};
		}
		function playerTitlesFormatter(attr, params, title) {
			return function(column, row) {
				var count = row[attr];
				if (count > 0)
					return "<a href='/playerProfile?playerId=" + row.playerId + "&tab=events&result=W" + (surface ? "&surface=" + surface : "") + params + "' title='Show" + title + " titles'>" + count + "</a>";
				else
					return "<span class='text-muted'>" + (row.dob && ((attr === "olympics" && row.dob[0] < 1950) || (attr === "altFinals" && row.dob[0] >= 1982)) ? "-" : "0") + "</span>";
			};
		}
		function reloadGOATListTable() {
			$("#goatListTable").bootgrid("reload");
		}
		function reloadGOATListTableAndLegend() {
			reloadGOATListTable();
			loadCollapse($("#goatLegendButton"), goatLegendUrl());
		}
		function surfaceChanged() {
			surface = $("#surface").val();
			processNonSurfaceArea("yearEndRankFactor", surface);
			processNonSurfaceArea("weeksAtNo1Factor", surface);
			processNonSurfaceArea("grandSlamFactor", surface);
			processNonSurfaceArea("performanceFactor", surface);
			processNonSurfaceArea("statisticsFactor", surface);
		}
		function processNonSurfaceArea(area, surface) {
			var $area = $("#" + area);
			if (surface)
				$area.val("1");
			$area.prop("disabled", surface);
		}
		function resetTournamentPointsConfig() {
			$("#tournamentFactor").val("1");
			[# th:each="level : ${levels}"]$("#level[(${level})]Factor").val("1"); [/]
			[# th:each="result : ${results}"]$("#result[(${result})]Factor").val("1"); [/]
			reloadGOATListTableAndLegend();
		}
		function resetRankingPointsConfig() {
			$("#rankingFactor").val("1");
			$("#yearEndRankFactor").val("1");
			$("#bestRankFactor").val("1");
			$("#weeksAtNo1Factor").val("1");
			$("#weeksAtEloTopNFactor").val("1");
			$("#bestEloRatingFactor").val("1");
			reloadGOATListTableAndLegend();
		}
		function resetAchievementsPointsConfig() {
			$("#achievementsFactor").val("1");
			$("#grandSlamFactor").val("1");
			$("#bigWinsFactor").val("1");
			$("#h2hFactor").val("1");
			$("#recordsFactor").val("1");
			$("#bestSeasonFactor").val("1");
			$("#greatestRivalriesFactor").val("1");
			$("#performanceFactor").val("1");
			$("#statisticsFactor").val("1");
			reloadGOATListTableAndLegend();
		}
		function goatListUrl() {
			var url = "/goatList?oldLegends=" + $("#oldLegends").prop("checked");
			var surface = $("#surface").val();
			if (surface)
				url += "&surface=" + surface;
			var active = $("#active").prop("checked");
			if (active)
				url += "&active=" + active;
			var countryId = $("#countryId").val();
			if (countryId)
				url += "&countryId=" + countryId;
			var extrapolate = $("#extrapolate").prop("checked");
			if (extrapolate)
				url += "&extrapolate=" + extrapolate;
			url += goatListFactors();
			return url;
		}
		function goatLegendUrl() {
			var surface = $("#surface").val();
			return "/goatLegend?surface=" + (surface ? surface : "") + goatListFactors();
		}
		function goatListFactors() {
			var url = "";
			url += param("tournamentFactor", "1");
			url += param("rankingFactor", "1");
			url += param("achievementsFactor", "1");
			var levelFactors = getLevelFactors();
			if (levelFactors) url += "&levelFactors=" + levelFactors;
			var resultFactors = getResultFactors();
			if (resultFactors) url += "&resultFactors=" + resultFactors;
			url += param("yearEndRankFactor", "1");
			url += param("bestRankFactor", "1");
			url += param("weeksAtNo1Factor", "1");
			url += param("weeksAtEloTopNFactor", "1");
			url += param("bestEloRatingFactor", "1");
			url += param("grandSlamFactor", "1");
			url += param("bigWinsFactor", "1");
			url += param("h2hFactor", "1");
			url += param("recordsFactor", "1");
			url += param("bestSeasonFactor", "1");
			url += param("greatestRivalriesFactor", "1");
			url += param("performanceFactor", "1");
			url += param("statisticsFactor", "1");
			return url;
		}
		function goatListPermalink() {
			window.location.href = goatListUrl();
		}
		function goatListTweet() {
			window.open("https://twitter.com/intent/tweet?text=My+GOAT+List&via=UltmTennisStats&url=" + encodeURIComponent("http://www.ultimatetennisstatistics.com" + goatListUrl()), "Tweet this GOAT List", "width=600, height=600, left=" + (screen.width-600)/2 + ", top=" + (screen.height-600)/2);
			return false;
		}
		function param(param, def) {
			var value = $("#" + param).val();
			return value && !(def && value === def) ? "&" + param + "=" + value : "";
		}
		function getLevelFactors() {
			var levelFactors = "";
			[# th:each="level : ${levels}"]levelFactors = addProperty(levelFactors, "level[(${level})]Factor", "[(${level})]", "1"); [/]
			return levelFactors;
		}
		function getResultFactors() {
			var resultFactors = "";
			[# th:each="result : ${results}"]resultFactors = addProperty(resultFactors, "result[(${result})]Factor", "[(${result})]", "1"); [/]
			return resultFactors;
		}
		function addProperty(props, id, prop, def) {
			var value = $("#" + id).val();
			return props + (value && !(def && value === def) ? (props ? "," : "") + prop + "=" + value : "");
		}
	</script>
	<style>
		.well-nopad {
			padding: 0;
			background-color: #f5f5f5;
			border: 1px solid #e3e3e3;
			border-radius: 4px;
		}
		.small-control {
			padding: 1px 12px !important;
			height: 24px !important;
		}
		.factor-label {
			width: 190px;
			text-align: left;
		}
	</style>
	</template>
</head>
<body class="container">
	<header th:include="fragments/header :: title"></header>
	<h3 id="goatListTable-title" class="grid-title text-nowrap"><i class="fa fa-flag"></i> Open Era GOAT List&nbsp;<a href="#" data-toggle="popover" data-trigger="focus" data-placement="auto" data-popover="#goatListPopover"><i class="fa fa-question-circle" style="font-size: 80%; vertical-align: text-top"></i></a></h3>
	<div id="surfaceDiv" class="btn-group margin-right">
		<select id="surface" class="form-control" onchange="surfaceChanged(); reloadGOATListTableAndLegend()" data-toggle="tooltip" data-placement="top" title="Select overall or GOAT List by surface">
			<option value="">Overall</option>
			<option th:each="aSurface : ${surfaces}" th:value="${aSurface.code}" th:selected="${aSurface.code == surface}" th:class="|bg-surface-${aSurface.code}|" value="H" class="bg-surface-H" th:text="${aSurface.text}">Hard</option>
		</select>
	</div>
	<div id="activeDiv" class="btn-group margin-right">
		<div class="checkbox">
			<label data-toggle="tooltip" data-placement="top" title="Show only active players">
				<input id="active" type="checkbox" th:checked="${active}" onchange="reloadGOATListTable()"/> Active players
			</label>
		</div>
	</div>
	<div id="goatListQuickPicks" class="btn-group margin-right">
		<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Quick Picks <span class="caret"></span></button>
		<ul class="dropdown-menu">
			<li><a href="/goatList" title="All GOAT Points constituents are included with weight x 1">Default</a></li>
			<li><a href="/goatList?levelFactors=G=2&resultFactors=W=2&weeksAtNo1Factor=4&grandSlamFactor=4" title="Grand Slam tournament titles are emphasized with x 4 the default weight, other GS tournament points (F, SF, QF) x 2, other titles x 2 (resulting in 1 GS = 4 Masters, 1 title = 4 finals), Grand Slam achievement points x 4 and weeks at No. 1 points x 4">GS, titles and No. 1 focus</a></li>
			<li><a href="/goatList?levelFactors=F=0,L=0,M=0,O=0,A=0,B=0,D=0,T=0&resultFactors=F=0,SF=0,QF=0,RR=0,BR=0&yearEndRankFactor=0&bestRankFactor=0&weeksAtEloTopNFactor=0&bestEloRatingFactor=0&bigWinsFactor=0&h2hFactor=0&recordsFactor=0&bestSeasonFactor=0&greatestRivalriesFactor=0&performanceFactor=0&statisticsFactor=0" title="Grand Slam titles and achievement points and weeks at No. 1 points are the only ones selected">Minimalist</a></li>
			<li><a href="/goatList?bestRankFactor=4&bestEloRatingFactor=4&bestSeasonFactor=4" title="Peak achievements (Career High Ranking, Peak Elo Ratings, and Best Seasons) are emphasized x 4 the default weight">Peak emphasis</a></li>
			<li><a href="/goatList?tournamentFactor=0&yearEndRankFactor=0&weeksAtNo1Factor=0&weeksAtEloTopNFactor=0&grandSlamFactor=0&bigWinsFactor=0&h2hFactor=0&recordsFactor=0&greatestRivalriesFactor=0&performanceFactor=0&statisticsFactor=0" title="Peak achievements (Career High Ranking, Peak Elo Ratings and Best Seasons) are the only ones selected">Minimalist Peak</a></li>
		</ul>
	</div>
	<table id="goatListTable" class="table table-condensed table-hover table-striped">
		<thead>
		<tr>
			<th data-column-id="goatRank" data-type="numeric" data-sortable="false" data-width="65">Rank</th>
			<th data-column-id="name" data-formatter="player" data-width="200" data-sortable="false">Name</th>
			<th data-column-id="totalPoints" data-formatter="totalPoints" data-order="desc" data-width="60" data-align="right" data-header-align="right">Pts</th>
			<th data-column-id="tournamentPoints" data-formatter="tournamentPoints" data-order="desc" data-width="80" data-align="right" data-header-align="right">Tourn P</th>
			<th data-column-id="tGPoints" data-formatter="tGPoints" data-order="desc" data-width="60" data-align="right" data-header-align="right" data-visible="false">GS P</th>
			<th data-column-id="tFLPoints" data-formatter="tFLPoints" data-order="desc" data-width="60" data-align="right" data-header-align="right" data-visible="false">TF P</th>
			<th data-column-id="tMPoints" data-formatter="tMPoints" data-order="desc" data-width="55" data-align="right" data-header-align="right" data-visible="false">M P</th>
			<th data-column-id="tOPoints" data-formatter="tOPoints" data-order="desc" data-width="55" data-align="right" data-header-align="right" data-visible="false">O P</th>
			<th data-column-id="tABPoints" data-formatter="tABPoints" data-order="desc" data-width="65" data-align="right" data-header-align="right" data-visible="false">Sm P</th>
			<th data-column-id="tDTPoints" data-formatter="tDTPoints" data-order="desc" data-width="65" data-align="right" data-header-align="right" data-visible="false">Tm P</th>
			<th data-column-id="rankingPoints" data-formatter="rankingPoints" data-order="desc" data-width="80" data-align="right" data-header-align="right">Rank P</th>
			<th data-column-id="yearEndRankPoints" data-formatter="yearEndRankPoints" data-order="desc" data-width="70" data-align="right" data-header-align="right" data-visible="false">YER P</th>
			<th data-column-id="bestRankPoints" data-formatter="bestRankPoints" data-order="desc" data-width="60" data-align="right" data-header-align="right" data-visible="false">BR P</th>
			<th data-column-id="weeksAtNo1Points" data-formatter="weeksAtNo1Points" data-order="desc" data-width="75" data-align="right" data-header-align="right" data-visible="false">W@1 P</th>
			<th data-column-id="weeksAtEloTopNPoints" data-formatter="weeksAtEloTopNPoints" data-order="desc" data-width="85" data-align="right" data-header-align="right" data-visible="false">W@E5 P</th>
			<th data-column-id="bestEloRatingPoints" data-formatter="bestEloRatingPoints" data-order="desc" data-width="70" data-align="right" data-header-align="right" data-visible="false">BER P</th>
			<th data-column-id="achievementsPoints" data-formatter="achievementsPoints" data-order="desc" data-width="80" data-align="right" data-header-align="right">Ach P</th>
			<th data-column-id="grandSlamPoints" data-formatter="grandSlamPoints" data-order="desc" data-width="70" data-align="right" data-header-align="right" data-visible="false">GSA P</th>
			<th data-column-id="bigWinsPoints" data-formatter="bigWinsPoints" data-order="desc" data-width="65" data-align="right" data-header-align="right" data-visible="false">BW P</th>
			<th data-column-id="h2hPoints" data-formatter="h2hPoints" data-order="desc" data-width="70" data-align="right" data-header-align="right" data-visible="false">H2H P</th>
			<th data-column-id="recordsPoints" data-formatter="recordsPoints" data-order="desc" data-width="60" data-align="right" data-header-align="right" data-visible="false">Rc P</th>
			<th data-column-id="bestSeasonPoints" data-formatter="bestSeasonPoints" data-order="desc" data-width="60" data-align="right" data-header-align="right" data-visible="false">BS P</th>
			<th data-column-id="greatestRivalriesPoints" data-formatter="greatestRivalriesPoints" data-order="desc" data-width="65" data-align="right" data-header-align="right" data-visible="false">GR P</th>
			<th data-column-id="performancePoints" data-formatter="performancePoints" data-order="desc" data-width="60" data-align="right" data-header-align="right" data-visible="false">Pf P</th>
			<th data-column-id="statisticsPoints" data-formatter="statisticsPoints" data-order="desc" data-width="60" data-align="right" data-header-align="right" data-visible="false">St P</th>
			<th data-column-id="grandSlams" data-formatter="grandSlams" data-width="50" data-align="right" data-header-align="right">GS</th>
			<th data-column-id="tourFinals" data-formatter="tourFinals" data-width="50" data-align="right" data-header-align="right">TF</th>
			<th data-column-id="altFinals" data-formatter="altFinals" data-width="50" data-align="right" data-header-align="right">AF</th>
			<th data-column-id="masters" data-formatter="masters" data-width="50" data-align="right" data-header-align="right">M</th>
			<th data-column-id="olympics" data-formatter="olympics" data-width="50" data-align="right" data-header-align="right">O</th>
			<th data-column-id="bigTitles" data-formatter="bigTitles" data-width="50" data-align="right" data-header-align="right">BT</th>
			<th data-column-id="titles" data-formatter="titles" data-width="50" data-align="right" data-header-align="right">T</th>
			<th data-column-id="weeksAtNo1" data-formatter="weeksAtNo1" data-width="65" data-align="right" data-header-align="right">W@1</th>
			<th data-column-id="wonPct" data-formatter="wonPct" data-width="55" data-align="right" data-header-align="right">W%</th>
			<th data-column-id="bestEloRating" data-formatter="bestEloRating" data-width="50" data-align="right" data-header-align="right">Elo</th>
		</tr>
		</thead>
	</table>
	<div id="goatListConfigDiv" class="btn-group margin-left" style="display: none; vertical-align: top">
		<div data-toggle="tooltip" data-placement="auto" title="Customize GOAT List factors and options">
			<button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#goatListConfig">
				<i class="fa fa-cog fa-b"></i>&nbsp;&nbsp;Config&nbsp;&nbsp;<i class="fa fa-chevron-down"></i>
			</button>
		</div>
	</div>
	<div id="goatListConfig" class="collapse" th:attrappend="class=${countryId == null && config.default ? _ : ' in'}" style="margin-bottom: 10px; margin-top: 10px">
		<div class="row">
			<div class="col-md-2 col-xs-3 text-nowrap">
				<div class="checkbox">
					<label data-toggle="tooltip" data-placement="auto" title="Include 'old legends' born before 1940 (but counting only their Open Era achievements)">
						<input id="oldLegends" type="checkbox" th:checked="${config.oldLegends}" onchange="reloadGOATListTable()"/> Old legends
					</label>
				</div>
			</div>
			<div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 text-nowrap">
				<div class="checkbox pull-left">
					<label data-toggle="tooltip" data-placement="auto" title="Extrapolate career for active players and players born before 1952, click questionmark for explanation how this works">
						<input id="extrapolate" type="checkbox" th:checked="${config.extrapolateCareer}" onchange="reloadGOATListTable()"/> Extrapolate career
					</label>
				</div>
				&nbsp;<a href="#" data-toggle="popover" data-trigger="focus" data-placement="auto" data-popover="#extrapolateCareerPopover"><i class="fa fa-question-circle fa-lg" style="margin-top: 12px"></i></a>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-3 col-md-4 col-sm-6 col-xs-9">
				<div class="input-group" data-toggle="tooltip" data-placement="top" title="Change Tournament GOAT Points factor">
					<label for="tournamentFactor" class="input-group-addon factor-label">Tournament Pts.:</label>
					<select id="tournamentFactor" class="form-control" onchange="reloadGOATListTableAndLegend()">
						<option th:each="factor : ${factors}" th:value="${factor.key}" th:text="${factor.value}" th:selected="${factor.key == config.tournamentFactor}">x 0</option>
					</select>
				</div>
			</div>
			<div class="col-md-1 col-sm-2 col-xs-3">
				<button type="button" class="btn btn-sm btn-default" onclick="resetTournamentPointsConfig()" data-toggle="tooltip" data-placement="auto" title="Reset Tournament GOAT Points configuration">
					<i class="fa fa-undo fa-b"></i>&nbsp;&nbsp;Reset
				</button>
			</div>
			<div class="col-md-1 col-sm-2 col-xs-3">
				<div data-toggle="tooltip" data-placement="auto" title="Advanced Tournament GOAT Points configuration">
					<button type="button" class="btn btn-sm btn-info" data-toggle="collapse" data-target="#tournamentConfig">
						<i class="fa fa-cogs fa-b"></i>&nbsp;&nbsp;Adv.&nbsp;&nbsp;<i class="fa fa-chevron-down"></i>
					</button>
				</div>
			</div>
		</div>
		<div id="tournamentConfig" class="collapse well-nopad" th:attrappend="class=${config.hasDefaultTournamentFactors() ? _ : ' in'}">
			<div class="row">
				<div th:each="level : ${levels}" class="col-lg-3 col-md-4 col-sm-6 col-xs-9">
					<div class="input-group">
						<label th:for="|level${level}Factor|" class="input-group-addon small-control factor-label" th:text="${T(org.strangeforest.tcb.stats.model.core.TournamentLevel).decode(level).text + ' Pts.:'}">Grand Slam Pts.:</label>
						<select th:id="|level${level}Factor|" class="form-control small-control" onchange="reloadGOATListTableAndLegend()">
							<option th:each="factor : ${factors}" th:value="${factor.key}" th:text="${factor.value}" th:selected="${factor.key == config.getLevelFactor(level)}">x 0</option>
						</select>
					</div>
				</div>
			</div>
			<div class="row">
				<div th:each="result : ${results}" class="col-lg-3 col-md-4 col-sm-6 col-xs-9">
					<div class="input-group">
						<label th:for="|result${result}Factor|" class="input-group-addon small-control factor-label" th:text="${(result == 'W' ? 'Title' : T(org.strangeforest.tcb.stats.model.core.EventResult).decode(result).text) + ' Pts.:'}">Title Pts.:</label>
						<select th:id="|result${result}Factor|" class="form-control small-control" onchange="reloadGOATListTableAndLegend()">
							<option th:each="factor : ${factors}" th:value="${factor.key}" th:text="${factor.value}" th:selected="${factor.key == config.getResultFactor(result)}">x 0</option>
						</select>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-3 col-md-4 col-sm-6 col-xs-9">
				<div class="input-group" data-toggle="tooltip" data-placement="top" title="Change Ranking GOAT Points factor">
					<label for="rankingFactor" class="input-group-addon factor-label">Ranking Pts.:</label>
					<select id="rankingFactor" class="form-control" onchange="reloadGOATListTableAndLegend()">
						<option th:each="factor : ${factors}" th:value="${factor.key}" th:text="${factor.value}" th:selected="${factor.key == config.rankingFactor}">x 0</option>
					</select>
				</div>
			</div>
			<div class="col-md-1 col-sm-2 col-xs-3">
				<button type="button" class="btn btn-sm btn-default" onclick="resetRankingPointsConfig()" data-toggle="tooltip" data-placement="auto" title="Reset Ranking GOAT Points configuration">
					<i class="fa fa-undo fa-b"></i>&nbsp;&nbsp;Reset
				</button>
			</div>
			<div class="col-md-1 col-sm-2 col-xs-3">
				<div data-toggle="tooltip" data-placement="auto" title="Advanced Ranking GOAT Points configuration">
					<button type="button" class="btn btn-sm btn-info" data-toggle="collapse" data-target="#rankingConfig">
						<i class="fa fa-cogs fa-b"></i>&nbsp;&nbsp;Adv.&nbsp;&nbsp;<i class="fa fa-chevron-down"></i>
					</button>
				</div>
			</div>
		</div>
		<div id="rankingConfig" class="collapse well-nopad" th:attrappend="class=${config.hasDefaultRankingFactors() ? _ : ' in'}">
			<div class="row">
				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-9">
					<div class="input-group">
						<label for="yearEndRankFactor" class="input-group-addon small-control factor-label">Year-End Ranking Pts.:</label>
						<select id="yearEndRankFactor" class="form-control small-control" onchange="reloadGOATListTableAndLegend()">
							<option th:each="factor : ${factors}" th:value="${factor.key}" th:text="${factor.value}" th:selected="${factor.key == config.yearEndRankFactor}">x 0</option>
						</select>
					</div>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-9">
					<div class="input-group">
						<label for="bestRankFactor" class="input-group-addon small-control factor-label">Career High Ranking Pts.:</label>
						<select id="bestRankFactor" class="form-control small-control" onchange="reloadGOATListTableAndLegend()">
							<option th:each="factor : ${factors}" th:value="${factor.key}" th:text="${factor.value}" th:selected="${factor.key == config.bestRankFactor}">x 0</option>
						</select>
					</div>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-9">
					<div class="input-group">
						<label for="weeksAtNo1Factor" class="input-group-addon small-control factor-label">Weeks at No. 1 Pts.:</label>
						<select id="weeksAtNo1Factor" class="form-control small-control" onchange="reloadGOATListTableAndLegend()">
							<option th:each="factor : ${factors}" th:value="${factor.key}" th:text="${factor.value}" th:selected="${factor.key == config.weeksAtNo1Factor}">x 0</option>
						</select>
					</div>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-9">
					<div class="input-group">
						<label for="weeksAtEloTopNFactor" class="input-group-addon small-control factor-label">Weeks at Elo Top 5 Pts.:</label>
						<select id="weeksAtEloTopNFactor" class="form-control small-control" onchange="reloadGOATListTableAndLegend()">
							<option th:each="factor : ${factors}" th:value="${factor.key}" th:text="${factor.value}" th:selected="${factor.key == config.weeksAtEloTopNFactor}">x 0</option>
						</select>
					</div>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-9">
					<div class="input-group">
						<label for="bestEloRatingFactor" class="input-group-addon small-control factor-label">Peak Elo Rating Pts.:</label>
						<select id="bestEloRatingFactor" class="form-control small-control" onchange="reloadGOATListTableAndLegend()">
							<option th:each="factor : ${factors}" th:value="${factor.key}" th:text="${factor.value}" th:selected="${factor.key == config.bestEloRatingFactor}">x 0</option>
						</select>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-3 col-md-4 col-sm-6 col-xs-9">
				<div class="input-group" data-toggle="tooltip" data-placement="top" title="Change Achievements GOAT Points factor">
					<label for="achievementsFactor" class="input-group-addon factor-label">Achievements Pts.:</label>
					<select id="achievementsFactor" class="form-control" onchange="reloadGOATListTableAndLegend()">
						<option th:each="factor : ${factors}" th:value="${factor.key}" th:text="${factor.value}" th:selected="${factor.key == config.achievementsFactor}">x 0</option>
					</select>
				</div>
			</div>
			<div class="col-md-1 col-sm-2 col-xs-3">
				<div>
					<button type="button" class="btn btn-sm btn-default" onclick="resetAchievementsPointsConfig()" data-toggle="tooltip" data-placement="auto" title="Reset Achievements GOAT Points configuration">
						<i class="fa fa-undo fa-b"></i>&nbsp;&nbsp;Reset
					</button>
				</div>
			</div>
			<div class="col-md-1 col-sm-2 col-xs-3">
				<div data-toggle="tooltip" data-placement="auto" title="Advanced Achievements GOAT Points configuration">
					<button type="button" class="btn btn-sm btn-info" data-toggle="collapse" data-target="#achievementsConfig">
						<i class="fa fa-cogs fa-b"></i>&nbsp;&nbsp;Adv.&nbsp;&nbsp;<i class="fa fa-chevron-down"></i>
					</button>
				</div>
			</div>
		</div>
		<div id="achievementsConfig" class="collapse well-nopad" th:attrappend="class=${config.hasDefaultAchievementsFactors() ? _ : ' in'}">
			<div class="row">
				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-9">
					<div class="input-group">
						<label for="grandSlamFactor" class="input-group-addon small-control factor-label">Grand Slam Pts.:</label>
						<select id="grandSlamFactor" class="form-control small-control" onchange="reloadGOATListTableAndLegend()">
							<option th:each="factor : ${factors}" th:value="${factor.key}" th:text="${factor.value}" th:selected="${factor.key == config.grandSlamFactor}">x 0</option>
						</select>
					</div>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-9">
					<div class="input-group">
						<label for="bigWinsFactor" class="input-group-addon small-control factor-label">Big Wins Pts.:</label>
						<select id="bigWinsFactor" class="form-control small-control" onchange="reloadGOATListTableAndLegend()">
							<option th:each="factor : ${factors}" th:value="${factor.key}" th:text="${factor.value}" th:selected="${factor.key == config.bigWinsFactor}">x 0</option>
						</select>
					</div>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-9">
					<div class="input-group">
						<label for="h2hFactor" class="input-group-addon small-control factor-label">H2H Pts.:</label>
						<select id="h2hFactor" class="form-control small-control" onchange="reloadGOATListTableAndLegend()">
							<option th:each="factor : ${factors}" th:value="${factor.key}" th:text="${factor.value}" th:selected="${factor.key == config.h2hFactor}">x 0</option>
						</select>
					</div>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-9">
					<div class="input-group">
						<label for="recordsFactor" class="input-group-addon small-control factor-label">Records Pts.:</label>
						<select id="recordsFactor" class="form-control small-control" onchange="reloadGOATListTableAndLegend()">
							<option th:each="factor : ${factors}" th:value="${factor.key}" th:text="${factor.value}" th:selected="${factor.key == config.recordsFactor}">x 0</option>
						</select>
					</div>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-9">
					<div class="input-group">
						<label for="bestSeasonFactor" class="input-group-addon small-control factor-label">Best Seasons Pts.:</label>
						<select id="bestSeasonFactor" class="form-control small-control" onchange="reloadGOATListTableAndLegend()">
							<option th:each="factor : ${factors}" th:value="${factor.key}" th:text="${factor.value}" th:selected="${factor.key == config.bestSeasonFactor}">x 0</option>
						</select>
					</div>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-9">
					<div class="input-group">
						<label for="greatestRivalriesFactor" class="input-group-addon small-control factor-label">Greatest Rivalries Pts.:</label>
						<select id="greatestRivalriesFactor" class="form-control small-control" onchange="reloadGOATListTableAndLegend()">
							<option th:each="factor : ${factors}" th:value="${factor.key}" th:text="${factor.value}" th:selected="${factor.key == config.greatestRivalriesFactor}">x 0</option>
						</select>
					</div>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-9">
					<div class="input-group">
						<label for="performanceFactor" class="input-group-addon small-control factor-label">Performance Pts.:</label>
						<select id="performanceFactor" class="form-control small-control" onchange="reloadGOATListTableAndLegend()">
							<option th:each="factor : ${factors}" th:value="${factor.key}" th:text="${factor.value}" th:selected="${factor.key == config.performanceFactor}">x 0</option>
						</select>
					</div>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-9">
					<div class="input-group">
						<label for="statisticsFactor" class="input-group-addon small-control factor-label">Statistics Pts.:</label>
						<select id="statisticsFactor" class="form-control small-control" onchange="reloadGOATListTableAndLegend()">
							<option th:each="factor : ${factors}" th:value="${factor.key}" th:text="${factor.value}" th:selected="${factor.key == config.statisticsFactor}">x 0</option>
						</select>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-3 col-md-4 col-sm-6 col-xs-9">
				<select id="countryId" class="form-control" onchange="reloadGOATListTable()" data-toggle="tooltip" data-placement="top" title="Filter by country">
					<option value="">All countries</option>
					<option th:each="country : ${countries}" th:value="${country.alpha3}" value="SUI" th:selected="${country.alpha3 == countryId}" th:text="${country.name}">Switzerland</option>
				</select>
			</div>
			<div class="col-md-1 col-sm-2 col-xs-3">
				<button type="button" class="btn btn-sm btn-info" onclick="goatListTweet()" data-toggle="tooltip" data-placement="auto" title="Tweet this GOAT List">
					<i class="fa fa-twitter fa-b"></i>&nbsp;&nbsp;Tweet
				</button>
			</div>
			<div class="col-lg-1 col-sm-2 col-xs-3">
				<button type="button" class="btn btn-sm btn-info" onclick="goatListPermalink()" data-toggle="tooltip" data-placement="auto" title="Permalink to this GOAT List">
					<span class="glyphicon glyphicon-link"></span>&nbsp;&nbsp;Permalink
				</button>
			</div>
		</div>
	</div>
	<p>
		<em><strong>*</strong> Refreshed every Monday</em>
	</p>
	<br/>
	<button id="goatLegendButton" type="button" class="btn btn-info btn-sm" data-toggle="collapse" data-target="#goatLegend" data-url="/goatLegend">GOAT Pts. Legend&nbsp;&nbsp;<i class="fa fa-chevron-down"></i></button>
	<div id="goatLegend" class="collapse">Loading... <img src="/images/ui-anim_basic_16x16.gif" width="16" height="16"/></div>
	<div class="hidden" id="goatListPopover">
		<div class="popover-title"><strong>Open Era GOAT List</strong></div>
		<div class="popover-content">
			<p><strong>GOAT Points formula</strong></p>
			<p>Open Era GOAT List quantifies tennis achievements using the GOAT Points formula. For detailed visual description of the formula used, please see GOAT Points Legend below.</p>
			<p><strong>Open Era exclusive</strong></p>
			<p><a href="https://en.wikipedia.org/wiki/History_of_tennis#Open_Era" target="_blank">Open Era</a> GOAT List quantifies tennis achievements during Open Era only. Tennis achievements that predate the Open Era are not included.</p>
			<p><strong>Why Open Era only?</strong></p>
			<p>The reason is simple: GOAT Points formula on which Open Era GOAT List is based needs detailed information about all matches players played. Unfortunately, this information is available for wide audience only for the Open Era.</p>
			<p><strong>GOAT Lists by surface</strong></p>
			<p>GOAT Lists by different surfaces are available by choosing a surface in the surface combo box at the top.</p>
			<p><strong>Configurability and weight factors</strong></p>
			<p>GOAT List is not a simple list, but a full 'GOAT Calculator' with configurable weight factors for different GOAT Points areas and sub-areas. Please click 'Config' button below to open the configuration form.</p>
		</div>
	</div>
	<div class="hidden" id="extrapolateCareerPopover">
		<div class="popover-title"><strong>GOAT Points Extrapolation</strong></div>
		<div class="popover-content">
			<p>GOAT Points extrapolation extrapolate GOAT Points for active players and players born before 1952 to their full hypothetical career.<br/>
			For active players, extrapolation tries to estimate how much GOAT Points players would earn by the end of their careers.<br/>
			For players born before 1952, extrapolation tries to estimate how much GOAT Points players would had been earned before Open Era started under the same conditions as in Open Era.</p>
			<p><strong>How it is calculated?</strong></p>
			<p>Extrapolation creates an age-weight curve telling an average proportion of GOAT Points earned at specific age.<br/>
			Starting from player's real GOAT Points earned in Open Era, extrapolations uses age-weight curve to estimate player's GOAT Points in years outside of Open Era span (either before or after).<br/>
			<em>Example:</em><br/>
			Say a player has 30 years. Say that through the Open Era, players in average earn around 10% GOAT Points at age greater then 30.<br/>
			If player now has 200 normal GOAT Points, it is estimated that he would have 200 / (1 - 10%) = 222 GOAT Points by the end of his career.</p>
			<p><strong>Season capping</strong></p>
			<p>Extrapolation caps estimated points in single season to the maximum points someone earned in one season at specific age.<br/>
			<em>Example:</em><br/>
			If extrapolation says player would earn 100 points at age 28, but maximum points someone earned at age 28 is 70, extrapolation will be capped to 70 points.</p>
			<p><strong>Career capping</strong></p>
			<p>Extrapolation caps estimated points for the whole career to the 10 times points earned in the Open Era.<br/>
			<em>Example:</em><br/>
			If extrapolation says player would earn 750 points for the whole career, but player currently has 50 points, extrapolation will be capped to 500 points.</p>
		</div>
	</div>
	<th:block th:include="fragments/deviceDetector :: deviceDetectors"/>
	<footer th:include="fragments/footer :: copy"></footer>
</body>
</html>