<th:block xmlns:th="http://www.thymeleaf.org" th:fragment="legend(forSeason)">
	<!--/*@thymesVar id="forSeason" type="java.lang.Boolean"*/-->
	<!--/*@thymesVar id="tournamentGOATPoints" type="java.util.List<org.strangeforest.tcb.stats.model.TournamentGOATPoints>"*/-->
	<!--/*@thymesVar id="yearEndRankGOATPoints" type="java.util.List<org.strangeforest.tcb.stats.model.RankGOATPoints>"*/-->
	<!--/*@thymesVar id="bestRankGOATPoints" type="java.util.List<org.strangeforest.tcb.stats.model.RankGOATPoints>"*/-->
	<!--/*@thymesVar id="bestEloRatingGOATPoints" type="java.util.List<org.strangeforest.tcb.stats.model.RankGOATPoints>"*/-->
	<!--/*@thymesVar id="bestSurfaceEloRatingGOATPoints" type="java.util.List<org.strangeforest.tcb.stats.model.RankGOATPoints>"*/-->
	<!--/*@thymesVar id="weeksAtNo1ForGOATPoint" type="java.lang.Integer"*/-->
	<!--/*@thymesVar id="bigWinMatchFactors" type="java.util.List<org.strangeforest.tcb.stats.model.BigWinMatchFactor>"*/-->
	<!--/*@thymesVar id="bigWinRankFactors" type="java.util.List<org.strangeforest.tcb.stats.model.RankRangeGOATPoints>"*/-->
	<!--/*@thymesVar id="h2hRankFactors" type="java.util.List<org.strangeforest.tcb.stats.model.RankRangeGOATPoints>"*/-->
	<!--/*@thymesVar id="careerGrandSlamGOATPoints" type="java.lang.Integer"*/-->
	<!--/*@thymesVar id="seasonGrandSlamGOATPoints" type="java.lang.Integer"*/-->
	<!--/*@thymesVar id="grandSlamHolderGOATPoints" type="java.lang.Integer"*/-->
	<!--/*@thymesVar id="bestSeasonGOATPoints" type="java.util.List<org.strangeforest.tcb.stats.model.RankGOATPoints>"*/-->
	<!--/*@thymesVar id="greatestRivalriesGOATPoints" type="java.util.List<org.strangeforest.tcb.stats.model.RankGOATPoints>"*/-->
	<!--/*@thymesVar id="performanceGOATPoints" type="java.util.List<org.strangeforest.tcb.stats.model.PerfStatGOATPoints>"*/-->
	<!--/*@thymesVar id="statisticsGOATPoints" type="java.util.List<org.strangeforest.tcb.stats.model.PerfStatGOATPoints>"*/-->
	<script type="text/javascript">
		$(function() {
			$("#goatLegendRow").find("span.level").each(function() {
				var $level = $(this);
				var level = $level.data("level");
				$level.addClass("label-" + level);
				$level.html(levelName(level));
			});
		});
	</script>
<h4>GOAT Points Legend</h4>
<div id="goatLegendRow" class="row">
	<div class="col-md-3">
		<h4>
			<a th:unless="${forSeason}" href="/record?recordId=TournamentGOATPoints" title="Players with most Tournament GOAT Points">Tournament Points</a>
			<a th:if="${forSeason}" href="/record?recordId=SeasonTournamentGOATPoints" title="Players with most Tournament GOAT Points in the single season">Tournament Points</a>
		</h4>
		<p>Points assigned for tournament results</p>
		<table class="table table-condensed table-hover table-striped">
			<thead>
			<tr>
				<th>Level</th>
				<th class="text-center" title="Result/Round">Result</th>
				<th class="text-center">Points</th>
			</tr>
			</thead>
			<tbody>
			<tr th:each="point : ${tournamentGOATPoints}">
				<td><span th:data-level="${point.level}" data-level="G" class="label level"></span></td>
				<td class="text-center"><span th:class="'label black bg-result-' + ${point.result}" class="label black" th:text="${point.result}">W</span></td>
				<td class="text-center" th:text="${(point.additive ? '+' : '') + point.goatPoints + (point.level == 'F' && !point.additive ? '*' : '')}">8</td>
			</tr>
			</tbody>
		</table>
		<p><em>+ is for tournaments where points are assigned for wins in each round rather then for tournament result</em></p>
		<p><em>* Tour Finals draw is normally round-robin, but was knock-out from 1982 to 1985</em></p>
	</div>
	<div class="col-md-3">
		<h4>
			<a th:unless="${forSeason}" href="/record?recordId=RankingGOATPoints" title="Players with most Ranking GOAT Points">Ranking Points</a>
			<a th:if="${forSeason}" href="/record?recordId=SeasonRankingGOATPoints" title="Players with most Ranking GOAT Points in the single season">Ranking Points</a>
		</h4>
		<strong th:unless="${forSeason}"><a href="/record?recordId=YearEndRankingGOATPoints" title="Players with most Year-End Ranking GOAT Points">Each Season's Year-End Rank</a></strong>
		<strong th:if="${forSeason}">Season's Year-End Rank</strong>
		<table class="table table-condensed table-hover table-striped">
			<thead>
			<tr>
				<th>Year-End Ranking</th>
				<th class="text-center">Points</th>
			</tr>
			</thead>
			<tbody>
			<tr th:each="point : ${yearEndRankGOATPoints}">
				<td class="text-center" th:text="${point.rank}">1</td>
				<td class="text-center" th:text="${point.goatPoints}">8</td>
			</tr>
			</tbody>
		</table>
		<th:block th:unless="${forSeason}">
		<strong>Career High Ranking</strong>
		<table class="table table-condensed table-hover table-striped">
			<thead>
			<tr>
				<th>Best Ranking</th>
				<th class="text-center">Points</th>
			</tr>
			</thead>
			<tbody>
			<tr th:each="point : ${bestRankGOATPoints}">
				<td class="text-center" th:text="${point.rank}">1</td>
				<td class="text-center" th:text="${point.goatPoints}">8</td>
			</tr>
			</tbody>
		</table>
		</th:block>
		<div>
			<strong>
				<a th:unless="${forSeason}" href="/record?recordId=WeeksAtNo1GOATPoints" title="Players with most Weeks at No 1. GOAT Points">Weeks at No. 1</a>
				<a th:if="${forSeason}" href="/record?recordId=SeasonWeeksAtNo1GOATPoints" title="Players with most Weeks at No 1. GOAT Points in the single season">Weeks at No. 1</a>
			</strong>
			<p>+1 point for each <th:block th:text="${weeksAtNo1ForGOATPoint}">10</th:block> weeks as ATP No. 1</p>
		</div>
		<th:block th:unless="${forSeason}">
		<br/>
		<h4>
			<a href="/record?recordId=BestEloRatingGOATPoints" title="Players with most Elo Rating GOAT Points">Elo Rating Points</a>
		</h4>
		<strong>Peak Elo Rating</strong>
		<table class="table table-condensed table-hover table-striped">
			<thead>
			<tr>
				<th>Peak Elo Ranking</th>
				<th class="text-center">Points</th>
			</tr>
			</thead>
			<tbody>
			<tr th:each="point : ${bestEloRatingGOATPoints}">
				<td class="text-center" th:text="${point.rank}">1</td>
				<td class="text-center" th:text="${point.goatPoints}">8</td>
			</tr>
			</tbody>
		</table>
		<strong>Peak Surface Elo Rating</strong>
		<p>Points assigned for each of the surfaces (hard, clay, grass & carpet)</p>
		<table class="table table-condensed table-hover table-striped">
			<thead>
			<tr>
				<th>Peak Elo Ranking</th>
				<th class="text-center">Points</th>
			</tr>
			</thead>
			<tbody>
			<tr th:each="point : ${bestSurfaceEloRatingGOATPoints}">
				<td class="text-center" th:text="${point.rank}">1</td>
				<td class="text-center" th:text="${point.goatPoints}">8</td>
			</tr>
			</tbody>
		</table>
		</th:block>
	</div>
	<div class="col-md-6">
		<h4>
			<a th:unless="${forSeason}" href="/record?recordId=AchievementsGOATPoints" title="Players with most Achievements GOAT Points">Achievements, Performance and Statistics Points</a>
			<a th:if="${forSeason}" href="/record?recordId=SeasonAchievementsGOATPoints" title="Players with most Achievements GOAT Points in the single season">Achievements Points</a>
		</h4>
		<div class="row">
			<div class="col-md-6">
				<div>
					<strong>
						<a th:unless="${forSeason}" href="/record?recordId=BigWinsGOATPoints" title="Players with most Big Wins GOAT Points">Big Wins Points</a>
						<a th:if="${forSeason}" href="/record?recordId=SeasonBigWinsGOATPoints" title="Players with most Big Wins GOAT Points in the single season">Big Wins Points</a>
					</strong>
					<p>Points assigned for winning big matches in the end-rounds of important tournaments against high-ranked opponents or as a high-ranked player</p>
					<p class="text-nowrap">
						<i>sum</i>(MatchFactor * RankFactor) / 100<br/>
						<span style="font-size: smaller">
							MatchFactor = <i>factor</i>(Level, Round)<br/>
							RankFactor =<br/>
							(<i>factor</i>(WinnerRank) + <i>factor</i>(LoserRank)) / 2
						</span>
					</p>
				</div>
				<table class="table table-condensed table-hover table-striped">
					<thead>
					<tr>
						<th>Level</th>
						<th class="text-center">Round</th>
						<th class="text-center">Factor</th>
					</tr>
					</thead>
					<tbody>
					<tr th:each="point : ${bigWinMatchFactors}">
						<td><span th:data-level="${point.level}" data-level="G" class="label level"></span></td>
						<td class="text-center"><span th:text="${point.round}">F</span></td>
						<td class="text-center" th:text="${point.matchFactor}">8</td>
					</tr>
					</tbody>
				</table>
				<table class="table table-condensed table-hover table-striped">
					<thead>
					<tr>
						<th>Rank</th>
						<th class="text-center">Factor</th>
					</tr>
					</thead>
					<tbody>
					<tr th:each="point : ${bigWinRankFactors}">
						<td class="text-center" th:text="${point.rankFrom == point.rankTo ? point.rankFrom : point.rankFrom + ' - ' + point.rankTo}">1</td>
						<td class="text-center" th:text="${point.goatPoints}">8</td>
					</tr>
					</tbody>
				</table>
				<th:block th:unless="${forSeason}">
				<br/>
				<div>
					<strong>
						<a href="/record?recordId=H2HGOATPoints" title="Players with most Head-to-Head GOAT Points">Head-to-Head Points</a>
					</strong>
					<p>Points assigned for exceptional Head-to-Head ratios against fellow players in the same Era</p>
					<p class="text-nowrap">
						20 * <i>ln</i>(<br/>
						&nbsp;<i>sum</i>(Wh2h * Wh2hWeight * RankFactor)<br/>
						&nbsp;/<br/>
						&nbsp;<i>sum</i>(Lh2h * Lh2hWeight * RankFactor)<br/>
						)<br/>
						<span style="font-size: smaller">
							Wh2h = H2H Won: 3, H2H Draw: 2, H2H Lost: 1<br/>
							Wh2hWeight = 1 + H2HMatchesWon / 10<br/>
							Lh2h = H2H Won: 1, H2H Draw: 2, H2H Lost: 3<br/>
							Lh2hWeight = 1 + H2HMatchesLost / 10<br/>
							RankFactor = <i>factor</i>(OpponentRank)<br/>
							* minimum 3 H2H series matches<br/>
							** minimum 10 H2H series
						</span>
					</p>
				</div>
				<table class="table table-condensed table-hover table-striped">
					<thead>
					<tr>
						<th>Rank</th>
						<th class="text-center">Factor</th>
					</tr>
					</thead>
					<tbody>
					<tr th:each="point : ${h2hRankFactors}">
						<td class="text-center" th:text="${point.rankFrom == point.rankTo ? point.rankFrom : point.rankFrom + ' - ' + point.rankTo}">1</td>
						<td class="text-center" th:text="${point.goatPoints}">8</td>
					</tr>
					</tbody>
				</table>
				</th:block>
			</div>
			<div class="col-md-6">
				<strong>
					<a th:unless="${forSeason}" href="/record?recordId=GrandSlamGOATPoints" title="Players with most Grand Slam GOAT Points">Grand Slam Points</a>
					<a th:if="${forSeason}" href="/record?recordId=SeasonGrandSlamGOATPoints" title="Players with most Grand Slam GOAT Points in the single season">Grand Slam Points</a>
				</strong>
				<div th:unless="${forSeason}">+<th:block th:text="${careerGrandSlamGOATPoints}">8</th:block> points for each Career Grand Slam</div>
				<div>+<th:block th:text="${seasonGrandSlamGOATPoints}">8</th:block> points for<th:block th:unless="${forSeason}"> each</th:block> Calendar Year Grand Slam</div>
				<div th:unless="${forSeason}">+<th:block th:text="${grandSlamHolderGOATPoints}">4</th:block> points each time when holding all 4 Grand Slams</div>
				<br/>
				<th:block th:unless="${forSeason}">
				<div>
					<strong><a href="/record?recordId=BestSeasonsGOATPoints" title="Players with most Best Seasons GOAT Points">Best Seasons Points</a></strong>
					<p>Points assigned for best rated seasons</p>
				</div>
				<table class="table table-condensed table-hover table-striped">
					<thead>
					<tr>
						<th>Best Season Rank</th>
						<th class="text-center">Points</th>
					</tr>
					</thead>
					<tbody>
					<tr th:each="point : ${bestSeasonGOATPoints}">
						<td class="text-center" th:text="${point.rank}">1</td>
						<td class="text-center" th:text="${point.goatPoints}">8</td>
					</tr>
					</tbody>
				</table>
				<br/>
				<div>
					<strong><a href="/record?recordId=GreatestRivalriesGOATPoints" title="Players with most Greatest Rivalries GOAT Points">Greatest Rivalries Points</a></strong>
					<p>Points assigned for participation in the Greatest Rivalries (points are distributed to both rivalry players by rivalry won/lost ratio)</p>
				</div>
				<table class="table table-condensed table-hover table-striped">
					<thead>
					<tr>
						<th>Rivalry Rank</th>
						<th class="text-center">Points</th>
					</tr>
					</thead>
					<tbody>
					<tr th:each="point : ${greatestRivalriesGOATPoints}">
						<td class="text-center" th:text="${point.rank}">1</td>
						<td class="text-center" th:text="${point.goatPoints}">8</td>
					</tr>
					</tbody>
				</table>
				<br/>
				<div>
					<strong><a href="/record?recordId=PerformanceGOATPoints" title="Players with most Performance GOAT Points">Performance Points</a></strong>
				</div>
				<p>Points assigned to best players in each performance category</p>
				<table class="table table-condensed table-hover table-striped">
					<thead>
					<tr>
						<th class="text-nowrap" title="Performance Category">Perform. Category</th>
						<th>Points</th>
					</tr>
					</thead>
					<tbody>
					<tr th:each="point : ${performanceGOATPoints}">
						<td class="text-nowrap" th:text="${point.category}">Overall Matches</td>
						<td th:text="${point.goatPoints}">4</td>
					</tr>
					</tbody>
				</table>
				<div>
					<strong><a href="/record?recordId=StatisticsGOATPoints" title="Players with most Statistics GOAT Points">Statistics Points</a></strong>
				</div>
				<p>Points assigned to best players in each statistics category</p>
				<table class="table table-condensed table-hover table-striped">
					<thead>
					<tr>
						<th class="text-nowrap">Statistics Category</th>
						<th>Points</th>
					</tr>
					</thead>
					<tbody>
					<tr th:each="point : ${statisticsGOATPoints}">
						<td class="text-nowrap" th:text="${point.category}">Ace %</td>
						<td th:text="${point.goatPoints}">2</td>
					</tr>
					</tbody>
				</table>
				</th:block>
			</div>
		</div>
	</div>
</div>
</th:block>
