<th:block xmlns:th="http://www.thymeleaf.org" th:fragment="legend(forSeason)">
	<!--/*@thymesVar id="surface" type="org.strangeforest.tcb.stats.model.core.Surface"*/-->
	<!--/*@thymesVar id="forSeason" type="java.lang.Boolean"*/-->
	<!--/*@thymesVar id="config" type="org.strangeforest.tcb.stats.model.GOATListConfig"*/-->
	<!--/*@thymesVar id="tournamentGOATPoints" type="java.util.List<org.strangeforest.tcb.stats.model.TournamentGOATPoints>"*/-->
	<!--/*@thymesVar id="yearEndRankGOATPoints" type="java.util.List<org.strangeforest.tcb.stats.model.RankGOATPoints>"*/-->
	<!--/*@thymesVar id="bestRankGOATPoints" type="java.util.List<org.strangeforest.tcb.stats.model.RankGOATPoints>"*/-->
	<!--/*@thymesVar id="weeksAtNo1PointFactor" type="java.lang.Integer"*/-->
	<!--/*@thymesVar id="weeksAtNo1ForGOATPoint" type="java.lang.Integer"*/-->
	<!--/*@thymesVar id="weeksAtEloTopNForGOATPoint" type="java.util.List<org.strangeforest.tcb.stats.model.RankGOATPoints>"*/-->
	<!--/*@thymesVar id="bestEloRatingGOATPoints" type="java.util.List<org.strangeforest.tcb.stats.model.RankGOATPoints>"*/-->
	<!--/*@thymesVar id="bestSurfaceEloRatingGOATPoints" type="java.util.List<org.strangeforest.tcb.stats.model.RankGOATPoints>"*/-->
	<!--/*@thymesVar id="bestIndoorEloRatingGOATPoints" type="java.util.List<org.strangeforest.tcb.stats.model.RankGOATPoints>"*/-->
	<!--/*@thymesVar id="bigWinMatchFactors" type="java.util.List<org.strangeforest.tcb.stats.model.BigWinMatchFactor>"*/-->
	<!--/*@thymesVar id="bigWinRankFactors" type="java.util.List<org.strangeforest.tcb.stats.model.RankRangeGOATPoints>"*/-->
	<!--/*@thymesVar id="h2hRankFactors" type="java.util.List<org.strangeforest.tcb.stats.model.RankRangeGOATPoints>"*/-->
	<!--/*@thymesVar id="careerGrandSlamGOATPoints" type="java.lang.Integer"*/-->
	<!--/*@thymesVar id="seasonGrandSlamGOATPoints" type="java.lang.Integer"*/-->
	<!--/*@thymesVar id="season3GrandSlamGOATPoints" type="java.lang.Integer"*/-->
	<!--/*@thymesVar id="grandSlamHolderGOATPoints" type="java.lang.Integer"*/-->
	<!--/*@thymesVar id="consecutiveGrandSlamOnSameEventGOATPoints" type="java.lang.Integer"*/-->
	<!--/*@thymesVar id="grandSlamOnSameEventGOATPoints" type="java.lang.Double"*/-->
	<!--/*@thymesVar id="bestSeasonGOATPoints" type="java.util.List<org.strangeforest.tcb.stats.model.RankGOATPoints>"*/-->
	<!--/*@thymesVar id="greatestRivalriesGOATPoints" type="java.util.List<org.strangeforest.tcb.stats.model.RankGOATPoints>"*/-->
	<script type="text/javascript">
		$(function() {
			$("#goatLegendRow").find("span.level").each(function() {
				var $level = $(this);
				var level = $level.data("level");
				$level.addClass("label-" + level);
				$level.html(levelName(level));
			});
		});
		function showGOATPointsPopover(section, factor, event) {
			var $button = $("#" + section + "GOATPoints");
			if (!$button.hasClass("loaded")) {
				event.preventDefault();
				var surface = $("#surface").val();
				var url = "/" + section + "GOATPointsLegend?surface=" + (surface ? surface : "");
				if (factor || factor == 0) url += "&factor=" + factor;
				$.get(url, function(data) {
					$button.addClass("loaded").popover({content: data, html: true, placement: "auto left"});
					$button.on("show.bs.popover", function() { $(this).data("bs.popover").tip().css("max-width", "1000px"); }).click();
				});
			}
		}
	</script>
<h4><i class="fa fa-flag"></i> GOAT Points Legend</h4>
<div id="goatLegendRow" class="row">
	<div th:if="${config.tournamentFactor > 0}" class="col-md-3">
		<h4>
			<a th:unless="${forSeason}" th:href="@{/record(recordId=${surface != null ? surface.text : ''} + 'TournamentGOATPoints')}" title="Players with most Tournament GOAT Points">Tournament Points</a>
			<a th:if="${forSeason}" href="/record?recordId=SeasonTournamentGOATPoints" title="Players with most Tournament GOAT Points in the single season">Tournament Points</a>
		</h4>
		<p>Points assigned for tournament results</p>
		<table class="table table-condensed table-hover table-striped">
			<thead>
			<tr>
				<th>Level</th>
				<th class="text-center" title="Result/Round">Result</th>
				<th class="text-center">Points</th>
			</tr>
			</thead>
			<tbody>
			<tr th:each="point : ${tournamentGOATPoints}" th:if="${point.goatPoints > 0}">
				<td><span th:data-level="${point.level}" data-level="G" class="label level"></span></td>
				<td class="text-center"><span th:class="'label black bg-result-' + ${point.result}" class="label black" th:text="${point.result}">W</span></td>
				<td class="text-center" th:text="${(point.additive ? '+' : '') + point.goatPoints + (point.level == 'F' && !point.additive ? '*' : '') + (point.level == 'L' ? '**' : '')}">8</td>
			</tr>
			</tbody>
		</table>
		<p><em>+ is for tournaments where points are assigned for wins in each round rather then for tournament result</em></p>
		<p><em>* Tour Finals draw is normally round-robin, but was knock-out from 1982 to 1985</em></p>
		<p><em>** Alternative Tour Finals (Dallas WCT and Grand Slam Cup)</em></p>
	</div>
	<div th:if="${config.rankingFactor > 0}" class="col-md-3">
		<h4>
			<a th:unless="${forSeason}" th:href="@{/record(recordId=${surface != null ? surface.text : ''} + 'RankingGOATPoints')}" title="Players with most Ranking GOAT Points">Ranking Points</a>
			<a th:if="${forSeason}" href="/record?recordId=SeasonRankingGOATPoints" title="Players with most Ranking GOAT Points in the single season">Ranking Points</a>
		</h4>
		<th:block th:if="${surface == null && config.yearEndRankFactor > 0}">
		<strong th:unless="${forSeason}"><a href="/record?recordId=YearEndRankingGOATPoints" title="Players with most Year-End Ranking GOAT Points">Each Season's Year-End Rank</a></strong>
		<strong th:if="${forSeason}">Season's Year-End Rank</strong>
		<table class="table table-condensed table-hover table-striped">
			<thead>
			<tr>
				<th>Year-End Ranking</th>
				<th class="text-center">Points</th>
			</tr>
			</thead>
			<tbody>
			<tr th:each="point : ${yearEndRankGOATPoints}">
				<td class="text-center" th:text="${point.rank}">1</td>
				<td class="text-center" th:text="${point.goatPoints}">8</td>
			</tr>
			</tbody>
		</table>
		</th:block>
		<th:block th:if="${!forSeason && surface == null && config.bestRankFactor > 0}">
		<strong>Career High Ranking</strong>
		<table class="table table-condensed table-hover table-striped">
			<thead>
			<tr>
				<th>Best Ranking</th>
				<th class="text-center">Points</th>
			</tr>
			</thead>
			<tbody>
			<tr th:each="point : ${bestRankGOATPoints}">
				<td class="text-center" th:text="${point.rank}">1</td>
				<td class="text-center" th:text="${point.goatPoints}">8</td>
			</tr>
			</tbody>
		</table>
		</th:block>
		<th:block th:if="${surface == null && config.weeksAtNo1Factor > 0}">
		<div>
			<strong>
				<a th:unless="${forSeason}" href="/record?recordId=WeeksAtNo1GOATPoints" title="Players with most Weeks at No. 1 GOAT Points">Weeks at No. 1</a>
				<a th:if="${forSeason}" href="/record?recordId=SeasonWeeksAtNo1GOATPoints" title="Players with most Weeks at No. 1 GOAT Points in the single season">Weeks at No. 1</a>
			</strong>
			<p th:with="factor=${config.weeksAtNo1TotalFactor}">+[(${factor})] point[(${factor != 1 ? 's' : _})] for each [(${weeksAtNo1ForGOATPoint})] weeks as ATP No. 1</p>
		</div>
		</th:block>
		<th:block th:if="${config.weeksAtEloTopNFactor > 0}">
		<strong>
			<a th:unless="${forSeason}" th:href="@{/record(recordId=${surface != null ? surface.text : ''} + 'WeeksAtEloTopNGOATPoints')}" title="Players with most Weeks at Elo Top 5 GOAT Points">Weeks at Elo Top 5</a>
			<a th:if="${forSeason}" href="/record?recordId=SeasonWeeksAtEloTopNGOATPoints" title="Players with most Weeks at Elo Top 5 GOAT Points in the single season">Weeks at Elo Top 5</a>
		</strong>
		<p th:with="factor=${config.weeksAtEloTopNTotalFactor}">+[(${factor})] point[(${factor != 1 ? 's' : _})] for each N weeks at Elo No. 1-5</p>
		<table class="table table-condensed table-hover table-striped">
			<thead>
			<tr>
				<th>Elo Rank</th>
				<th class="text-center">Weeks for Point</th>
			</tr>
			</thead>
			<tbody>
			<tr th:each="point : ${weeksAtEloTopNForGOATPoint}">
				<td class="text-center" th:text="${point.rank}">1</td>
				<td class="text-center" th:text="${surface == null ? point.goatPoints : 2 * point.goatPoints}">10</td>
			</tr>
			</tbody>
		</table>
		</th:block>
		<th:block th:if="${!forSeason && config.bestEloRatingFactor > 0}">
		<h5><strong>
			<a th:href="@{/record(recordId=${surface != null ? surface.text : ''} + 'BestEloRatingGOATPoints')}" title="Players with most Peak Elo Rating GOAT Points">Peak Elo Rating Points</a>
		</strong></h5>
		<strong>Peak Elo Rating</strong>
		<table class="table table-condensed table-hover table-striped">
			<thead>
			<tr>
				<th>Peak Elo Ranking</th>
				<th class="text-center">Points</th>
			</tr>
			</thead>
			<tbody>
			<tr th:each="point : ${bestEloRatingGOATPoints}">
				<td class="text-center" th:text="${point.rank}">1</td>
				<td class="text-center" th:text="${point.goatPoints}">8</td>
			</tr>
			</tbody>
		</table>
		<th:block th:unless="${surface}">
		<strong>Peak Surface Elo Rating</strong>
		<p>Points assigned for each of the surfaces (hard, clay, grass & carpet)</p>
		<table class="table table-condensed table-hover table-striped">
			<thead>
			<tr>
				<th>Peak Elo Ranking</th>
				<th class="text-center">Points</th>
			</tr>
			</thead>
			<tbody>
			<tr th:each="point : ${bestSurfaceEloRatingGOATPoints}">
				<td class="text-center" th:text="${point.rank}">1</td>
				<td class="text-center" th:text="${point.goatPoints}">8</td>
			</tr>
			</tbody>
		</table>
		<strong>Peak Outdoor/Indoor Elo Rating<sup class="new-feature">&nbsp;New!</sup></strong>
		<p>Points assigned for outdoor and indoor</p>
		<table class="table table-condensed table-hover table-striped">
			<thead>
			<tr>
				<th>Peak Elo Ranking</th>
				<th class="text-center">Points</th>
			</tr>
			</thead>
			<tbody>
			<tr th:each="point : ${bestIndoorEloRatingGOATPoints}">
				<td class="text-center" th:text="${point.rank}">1</td>
				<td class="text-center" th:text="${point.goatPoints}">8</td>
			</tr>
			</tbody>
		</table>
		</th:block>
		</th:block>
	</div>
	<div th:if="${config.achievementsFactor > 0}" class="col-md-6">
		<h4>
			<a th:unless="${forSeason}" th:href="@{/record(recordId=${surface != null ? surface.text : ''} + 'AchievementsGOATPoints')}" title="Players with most Achievements GOAT Points">Achievements, Performance and Statistics Points</a>
			<a th:if="${forSeason}" href="/record?recordId=SeasonAchievementsGOATPoints" title="Players with most Achievements GOAT Points in the single season">Achievements Points</a>
		</h4>
		<div class="row">
			<div th:if="${(surface == null && config.grandSlamFactor > 0) || config.bigWinsFactor > 0}" class="col-md-6">
				<th:block th:if="${surface == null && config.grandSlamFactor > 0}">
				<strong>
					<a th:unless="${forSeason}" href="/record?recordId=GrandSlamGOATPoints" title="Players with most Grand Slam GOAT Points">Grand Slam Points</a>
					<a th:if="${forSeason}" href="/record?recordId=SeasonGrandSlamGOATPoints" title="Players with most Grand Slam GOAT Points in the single season">Grand Slam Points</a>
				</strong>
				<div th:unless="${forSeason}">+[(${careerGrandSlamGOATPoints})] points for each Career Grand Slam</div>
				<div th:inline="text">+[(${seasonGrandSlamGOATPoints})] points for [# th:unless="${forSeason}"]each [/]Calendar Year Grand Slam</div>
				<div th:inline="text">+[(${season3GrandSlamGOATPoints})] points for [# th:unless="${forSeason}"]each [/]Season with 3 Grand Slams<sup class="new-feature">&nbsp;New!</sup></div>
				<div th:unless="${forSeason}">+[(${grandSlamHolderGOATPoints})] points each time when holding all 4 Grand Slams</div>
				<div th:unless="${forSeason}" th:title="${'I.e. 5 consecutive wins at Wimbledon = (5 - 1) * ' + consecutiveGrandSlamOnSameEventGOATPoints + ' = ' + (4 * consecutiveGrandSlamOnSameEventGOATPoints) + ' points'}">+ (N - 1) * [(${consecutiveGrandSlamOnSameEventGOATPoints})] points where N (N > 1) is number of consecutive Grand Slams on the same tournament</div>
				<div th:unless="${forSeason}" th:title="${'I.e. 10 wins at Roland Garros = (10 - 1) ' + (grandSlamOnSameEventGOATPoints < 1 ? '/' : '*') + ' ' + new java.text.DecimalFormat('#.#').format(grandSlamOnSameEventGOATPoints < 1 ? 1 / grandSlamOnSameEventGOATPoints : grandSlamOnSameEventGOATPoints) + ' = ' + new java.text.DecimalFormat('#.#').format(9.0 * grandSlamOnSameEventGOATPoints) + ' points'}">+ (N - 1) [(${grandSlamOnSameEventGOATPoints < 1 ? '/' : '*'})] [(${new java.text.DecimalFormat('#.#').format(grandSlamOnSameEventGOATPoints < 1 ? 1 / grandSlamOnSameEventGOATPoints : grandSlamOnSameEventGOATPoints)})] points where N (N > 1) is number of Grand Slams on the same tournament</div>
				<br/>
				</th:block>
				<th:block th:if="${config.bigWinsFactor > 0}">
				<div>
					<strong>
						<a th:unless="${forSeason}" th:href="@{/record(recordId=${surface != null ? surface.text : ''} + 'BigWinsGOATPoints')}" title="Players with most Big Wins GOAT Points">Big Wins Points</a>
						<a th:if="${forSeason}" href="/record?recordId=SeasonBigWinsGOATPoints" title="Players with most Big Wins GOAT Points in the single season">Big Wins Points</a>
					</strong>
					<p>Points assigned for winning big matches in the end-rounds of important tournaments against high-ranked opponents or as a high-ranked player and against opponents with high Elo rating</p>
					<p class="text-nowrap">
						<i>sum</i>(MatchFactor *<br/>
							(RankFactor + EloFactor) / 200)<br/>
						<span style="font-size: smaller">
							MatchFactor = <i>factor</i>(Level, Round)<br/>
							RankFactor =<br/>
							(<i>factor</i>(WinnerRank) + <i>factor</i>(LoserRank)) / 2<br/>
							EloFactor = (LoserEloRating - 2000) / 40
						</span>
					</p>
				</div>
				<table class="table table-condensed table-hover table-striped">
					<thead>
					<tr>
						<th>Level</th>
						<th class="text-center">Round</th>
						<th class="text-center">Factor</th>
					</tr>
					</thead>
					<tbody>
					<tr th:each="point : ${bigWinMatchFactors}">
						<td><span th:data-level="${point.level}" data-level="G" class="label level"></span></td>
						<td class="text-center"><span th:text="${point.round}">F</span></td>
						<td class="text-center" th:text="${point.matchFactor}">8</td>
					</tr>
					</tbody>
				</table>
				<table class="table table-condensed table-hover table-striped">
					<thead>
					<tr>
						<th>Rank</th>
						<th class="text-center">Factor</th>
					</tr>
					</thead>
					<tbody>
					<tr th:each="point : ${bigWinRankFactors}">
						<td class="text-center" th:text="${point.rankFrom == point.rankTo ? point.rankFrom : point.rankFrom + ' - ' + point.rankTo}">1</td>
						<td class="text-center" th:text="${point.goatPoints}">8</td>
					</tr>
					</tbody>
				</table>
				</th:block>
			</div>
			<div th:unless="${forSeason}" class="col-md-6">
				<th:block th:if="${config.recordsFactor > 0}">
				<strong>
					<a th:href="@{/record(recordId=${surface != null ? surface.text : ''} + 'RecordsGOATPoints')}" title="Players with most Records GOAT Points">Records Points</a>
				</strong>
				<p>Points assigned for holding most prestigious tennis records</p>
				<button id="recordsGOATPoints" type="button" class="btn btn-default btn-sm" style="margin-top: 5px" onclick="showGOATPointsPopover('records', $('#achievementsFactor').val() * $('#recordsFactor').val(), event)" data-toggle="tooltip" data-placement="top" title="Records GOAT Points">
					Records Points&nbsp;&nbsp;<i class="fa fa-chevron-down"></i>
				</button>
				<br/><br/>
				</th:block>
				<th:block th:if="${config.h2hFactor > 0}">
				<div>
					<strong>
						<a th:href="@{/record(recordId=${surface != null ? surface.text : ''} + 'H2HGOATPoints')}" title="Players with most Head-to-Head GOAT Points">Head-to-Head Points</a>
					</strong>
					<p>Points assigned for exceptional Head-to-Head ratios against fellow players in the same Era</p>
					<p class="text-nowrap">
						[(${(surface == null ? 20 : 10) * config.h2hTotalFactor})] * <i>ln</i>(<br/>
						&nbsp;<i>sum</i>(Wh2h * Wh2hWeight * RankFactor)<br/>
						&nbsp;/<br/>
						&nbsp;<i>sum</i>(Lh2h * Lh2hWeight * RankFactor)<br/>
						)<br/>
						<span style="font-size: smaller">
					Wh2h = H2H Won: 3, H2H Draw: 2, H2H Lost: 1<br/>
					Wh2hWeight = 1 + H2HMatchesWon / 10<br/>
					Lh2h = H2H Won: 1, H2H Draw: 2, H2H Lost: 3<br/>
					Lh2hWeight = 1 + H2HMatchesLost / 10<br/>
					RankFactor = <i>factor</i>(OpponentBestRank)<br/>
					* minimum 3 H2H series matches<br/>
					** minimum 10 H2H series
						</span>
					</p>
				</div>
				<table class="table table-condensed table-hover table-striped">
					<thead>
					<tr>
						<th>Rank</th>
						<th class="text-center">Factor</th>
					</tr>
					</thead>
					<tbody>
					<tr th:each="point : ${h2hRankFactors}">
						<td class="text-center" th:text="${point.rankFrom == point.rankTo ? point.rankFrom : point.rankFrom + ' - ' + point.rankTo}">1</td>
						<td class="text-center" th:text="${point.goatPoints}">8</td>
					</tr>
					</tbody>
				</table>
				</th:block>
				<th:block th:if="${surface == null && config.bestSeasonFactor > 0}">
				<div>
					<strong><a href="/record?recordId=BestSeasonsGOATPoints" title="Players with most Best Seasons GOAT Points">Best Seasons Points</a></strong>
					<p>Points assigned for best rated seasons</p>
				</div>
				<table class="table table-condensed table-hover table-striped">
					<thead>
					<tr>
						<th>Best Season Rank</th>
						<th class="text-center">Points</th>
					</tr>
					</thead>
					<tbody>
					<tr th:each="point : ${bestSeasonGOATPoints}">
						<td class="text-center" th:text="${point.rank}">1</td>
						<td class="text-center" th:text="${point.goatPoints}">8</td>
					</tr>
					</tbody>
				</table>
				</th:block>
				<th:block th:if="${config.greatestRivalriesFactor > 0}">
				<div>
					<strong><a th:href="@{/record(recordId=${surface != null ? surface.text : ''} + 'GreatestRivalriesGOATPoints')}" title="Players with most Greatest Rivalries GOAT Points">Greatest Rivalries Points</a></strong>
					<p>Points assigned for participation in the Greatest Rivalries (points are distributed to both rivalry players by rivalry won/lost ratio)</p>
				</div>
				<table class="table table-condensed table-hover table-striped">
					<thead>
					<tr>
						<th>Rivalry Rank</th>
						<th class="text-center">Points</th>
					</tr>
					</thead>
					<tbody>
					<tr th:each="point : ${greatestRivalriesGOATPoints}" th:if="${point.goatPoints > 0}">
						<td class="text-center" th:text="${point.rank}">1</td>
						<td class="text-center" th:text="${point.goatPoints}">8</td>
					</tr>
					</tbody>
				</table>
				</th:block>
				<th:block th:if="${surface == null && config.performanceFactor > 0}">
				<div>
					<strong><a href="/record?recordId=PerformanceGOATPoints" title="Players with most Performance GOAT Points">Performance Points</a></strong>
				</div>
				<p>Points assigned to best players in each performance category</p>
				<button id="performanceGOATPoints" type="button" class="btn btn-default btn-sm" style="margin-top: 5px" onclick="showGOATPointsPopover('performance', $('#achievementsFactor').val() * $('#performanceFactor').val(), event)" data-toggle="tooltip" data-placement="top" title="Performance GOAT Points">
					Performance Points&nbsp;&nbsp;<i class="fa fa-chevron-down"></i>
				</button>
				<br/><br/>
				</th:block>
				<th:block th:if="${surface == null && config.statisticsFactor > 0}">
				<div>
					<strong><a href="/record?recordId=StatisticsGOATPoints" title="Players with most Statistics GOAT Points">Statistics Points</a></strong>
				</div>
				<p>Points assigned to best players in each statistics category</p>
				<button id="statisticsGOATPoints" type="button" class="btn btn-default btn-sm" style="margin-top: 5px" onclick="showGOATPointsPopover('statistics', $('#achievementsFactor').val() * $('#statisticsFactor').val(), event)" data-toggle="tooltip" data-placement="top" title="Statistics GOAT Points">
					Statistics Points&nbsp;&nbsp;<i class="fa fa-chevron-down"></i>
				</button>
				</th:block>
			</div>
		</div>
	</div>
</div>
</th:block>
