<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<title>Ultimate Tennis Statistics - GOAT List</title>
	<link th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
	<link th:href="@{/webjars/jquery.bootgrid/1.2.0/dist/jquery.bootgrid.min.css}" rel="stylesheet" media="screen"/>
	<script th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/3.3.5/js/bootstrap.min.js}"></script>
	<script th:src="@{/webjars/jquery.bootgrid/1.2.0/dist/jquery.bootgrid.min.js}"></script>
	<script th:src="@{/js/formatters.js}"></script>
	<script type="text/javascript">
		/*<![CDATA[*/
		$(function() {
			$("#goatTable").bootgrid({
				ajax: true,
				ajaxSettings: {
					method: "GET",
					cache: false
				},
				url: "/goatTable",
				rowCount: [10, 20, 50, -1],
				searchSettings: {
					delay: 300,
					characters: 2
				},
				formatters: {
					"country": countryFormatter,
					"player": playerFormatter
				}
			});
			$("#goatPointsTable").bootgrid({
				ajax: true,
				ajaxSettings: {
					method: "GET",
					cache: false
				},
				url: "/goatPointsTable",
				navigation: 0,
				formatters: {
					"level": levelFormatter,
					"goatPoints": function(column, row) {
						return (row.additive ? "+" : "") + row.goatPoints;
					}
				}
			});
		});
		/*]]>*/
	</script>
</head>
<body class="container">
	<h1><a href="/">Ultimate Tennis Statistics</a></h1>
	<h3 style="position: absolute">GOAT List</h3>
	<table id="goatTable" class="table table-condensed table-hover table-striped">
		<thead>
			<tr>
				<th data-column-id="goatRank" data-type="numeric" data-sortable="false" data-width="55">Rank</th>
				<th data-column-id="country" data-formatter="country" data-sortable="false" data-width="70">Country</th>
				<th data-column-id="player" data-formatter="player" data-sortable="false" data-width="180">Name</th>
				<th data-column-id="goatPoints" data-type="numeric" data-order="desc" data-width="100" data-align="right" data-header-align="right">GOAT Points</th>
				<th data-column-id="grandSlams" data-type="numeric" data-order="desc" data-width="100" data-align="right" data-header-align="right">Grand Slams</th>
				<th data-column-id="tourFinals" data-type="numeric" data-order="desc" data-width="90" data-align="right" data-header-align="right">Tour Finals</th>
				<th data-column-id="masters" data-type="numeric" data-order="desc" data-width="90" data-align="right" data-header-align="right">Masters</th>
				<th data-column-id="olympics" data-type="numeric" data-order="desc" data-width="90" data-align="right" data-header-align="right">Olympics</th>
				<th data-column-id="bigTitles" data-type="numeric" data-order="desc" data-width="90" data-align="right" data-header-align="right">Big Titles</th>
				<th data-column-id="titles" data-type="numeric" data-order="desc" data-width="90" data-align="right" data-header-align="right">Titles</th>
			</tr>
		</thead>
	</table>
	<div class="row">
		<div class="col-md-4">
			<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#goatLegend">Legend</button>
			<div id="goatLegend" class="collapse">
				<table id="goatPointsTable" class="table table-condensed table-hover table-striped">
					<thead>
					<tr>
						<th data-column-id="level" data-formatter="level" data-sortable="false" data-width="80">Level</th>
						<th data-column-id="result" data-sortable="false" data-width="50">Result</th>
						<th data-column-id="goatPoints" data-formatter="goatPoints" data-sortable="false" data-width="50">Points</th>
					</tr>
					</thead>
				</table>
			</div>
		</div>
	</div>
</body>
</html>