<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="versions" type="java.util.Map<String, String>"*/-->
<!--/*@thymesVar id="levels" type="java.util.EnumSet<org.strangeforest.tcb.stats.model.TournamentLevel>"*/-->
<!--/*@thymesVar id="surfaces" type="org.strangeforest.tcb.stats.model.Surface[]"*/-->
<!--/*@thymesVar id="rounds" type="org.strangeforest.tcb.stats.model.Round[]"*/-->
<head th:replace="fragments/head :: commonHead(~{::title/text()}, true, _, ~{::script}, ~{::style})">
	<title>Greatest Rivalries</title>
	<script type="text/javascript">
		$(function() {
			var $rivalriesTable = $("#greatestRivalriesTable");
			$rivalriesTable.bootgrid({
				ajax: true,
				ajaxSettings: {
					method: "GET",
					cache: false
				},
				url: "/greatestRivalriesTable",
				requestHandler: function (request) {
					var level = $("#level").val();
					if (level)
						request.level = level;
					var surface = $("#surface").val();
					if (surface)
						request.surface = surface;
					var round = $("#round").val();
					if (round)
						request.round = round;
					var bestRank = $("#bestRank").val();
					if (bestRank)
						request.bestRank = bestRank;
					return request;
				},
				sorting: false,
				rowCount: [20, 50, -1],
				formatters: {
					"rivalry": function(column, row) {
						var active = row.player1.active && row.player2.active;
						row.player1.active = false;
						row.player2.active = false;
						return playerCountryFormatter(column, row.player1) + " - " + playerCountryFormatter(column, row.player2) + (active ? " <img src='/images/active.png' title='Active' width='12' height='12'/>" : "");
					},
					"h2h": function(column, row) {
						var params = "";
						var level = $("#level").val();
						if (level)
							params += "&level=" + level;
						var surface = $("#surface").val();
						if (surface)
							params += "&surface=" + surface;
						var round = $("#round").val();
						if (round)
							params += "&round=" + round;
						return "<a href='/playerProfile?playerId=" + row.player1.playerId + "&tab=matches&opponentId=" + row.player2.playerId + params + "' title='Show " + row.player1.name + " - " + row.player2.name + " matches'>" + row.won + "</a>" +
							" - <a href='/playerProfile?playerId=" + row.player2.playerId + "&tab=matches&opponentId=" + row.player1.playerId + params + "' title='Show " + row.player2.name + " - " + row.player1.name + " matches'>" + row.lost + "</a>";
					},
					"h2hPct": function(column, row) {
						return "<span data-won-pct='" + row.wonPctClass + "' class='rivalry-pct'>" + row.wonPctStr + "</span> - <span data-won-pct='" + row.lostPctClass + "' class='rivalry-pct'>" + row.lostPctStr + "</span>";
					},
					"lastMatch": function(column, row) {
						var match = row.lastMatch;
						return (match.winnerId == row.player1.playerId ? row.player1.name : row.player2.name) + " [ " + match.score + " ] at " +
							match.season + " " + tournamentEventFormatter(column, match) + " " + surfaceFormatter(column, match) + " " + match.round;
					}
				},
				labels: {
					noResults: "No rivalries found"
				},
				templates: {
					paginationItem: bootgridTemplatePaginationItem
				}
			}).on("loaded.rs.jquery.bootgrid", function() {
				$rivalriesTable.find("span[data-won-pct]").each(function () {
					var $span = $(this);
					$span.addClass("bg-won-" + $span.data("won-pct"));
				});
			});
			$("#greatestRivalriesTable-header").find("div.search").before($("#levelDiv").remove()).before($("#surfaceDiv").remove()).before($("#roundDiv").remove()).before($("#bestRankDiv").remove()).remove();
			$rivalriesTable.find("th[data-column-id='rivalry'] > a > span.text").html("<span title='Player with more GOAT points is on the left side'>Rivalry</span>");
			filterChanged();
			$("[data-toggle='tooltip']").tooltip();
			setBootgridTitles($rivalriesTable, [
				{id: "rank", title: "Rivalry rank"},
				{id: "h2h", title: "Head-to-head"},
				{id: "h2hPct", title: "Head-to-head percentages"}
			]);
		});
		function filterChanged() {
			var url = "/greatestRivalriesMinMatches?level=" + $("#level").val() + "&surface=" + $("#surface").val() + "&round=" + encodeURIComponent($("#round").val());
			$.get(url, function (data) {
				$("#minMatches").html(data);
			});
		}
		function reloadGreatestRivalries() {
			filterChanged();
			$("#greatestRivalriesTable").bootgrid("reload");
		}
	</script>
	<style>
		.rivalry-pct {
			padding: 8px 4px;
		}
	</style>
</head>
<body class="container">
	<header th:include="fragments/header :: title"></header>
	<h3 class="grid-title">Greatest Rivalries</h3>
	<div id="levelDiv" class="btn-group" style="margin-right: 20px">
		<select id="level" class="form-control" onchange="reloadGreatestRivalries()" data-toggle="tooltip" data-placement="top" title="Filter by tournament level">
			<option value="">All levels</option>
			<option th:each="level : ${levels}" th:value="${level.code}" th:class="|bg-level-${level.code}|" value="G" class="bg-level-G" th:text="${level.text}">Grand Slam</option>
		</select>
	</div>
	<div id="surfaceDiv" class="btn-group" style="margin-right: 20px">
		<select id="surface" class="form-control" onchange="reloadGreatestRivalries()" data-toggle="tooltip" data-placement="top" title="Filter by surface">
			<option value="">All surfaces</option>
			<option th:each="surface : ${surfaces}" th:value="${surface.code}" th:class="|bg-surface-${surface.code}|" value="H" class="bg-surface-H" th:text="${surface.text}">Hard</option>
		</select>
	</div>
	<div id="roundDiv" class="btn-group" style="margin-right: 20px">
		<select id="round" class="form-control" onchange="reloadGreatestRivalries()" data-toggle="tooltip" data-placement="top" title="Filter by round">
			<option value="">All rounds</option>
			<option th:each="round : ${rounds}" th:value="${round.code}" th:class="|bg-result-${round.baseCode}|" value="F" class="bg-result-F" th:text="${round.text}">Final</option>
		</select>
	</div>
	<div id="bestRankDiv" class="btn-group" style="margin-right: 20px">
		<select id="bestRank" class="form-control" onchange="reloadGreatestRivalries()" data-toggle="tooltip" data-placement="top" title="Filter by player best rank">
			<option value="">All players</option>
			<option value="1">Between once No. 1</option>
			<option value="2">Between once Top 2</option>
			<option value="3">Between once Top 3</option>
			<option value="5">Between once Top 5</option>
			<option value="10">Between once Top 10</option>
			<option value="20">Between once Top 20</option>
		</select>
	</div>
	<table id="greatestRivalriesTable" class="table table-condensed table-hover table-striped">
		<thead>
		<tr>
			<th data-column-id="rank" data-type="numeric" data-width="45">Rank</th>
			<th data-column-id="rivalry" data-formatter="rivalry" data-width="200">Rivalry</th>
			<th data-column-id="matches" data-type="numeric" data-order="desc" data-width="55" data-align="right" data-header-align="right">Matches</th>
			<th data-column-id="h2h" data-formatter="h2h" data-width="40" data-align="center" data-header-align="center">H2H</th>
			<th data-column-id="h2hPct" data-formatter="h2hPct" data-width="75" data-align="center" data-header-align="center">H2H %</th>
			<th data-column-id="lastMatch" data-formatter="lastMatch" data-width="300">Last Match</th>
		</tr>
		</thead>
	</table>
	<p><i>* Minimum <span id="minMatches">10</span> rivalry matches</i></p>
	<footer th:include="fragments/footer :: copy"></footer>
</body>
</html>