<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="seasons" type="java.util.List<java.lang.Integer>"*/-->
<!--/*@thymesVar id="levels" type="java.util.Set<org.strangeforest.tcb.stats.model.core.TournamentLevel>"*/-->
<!--/*@thymesVar id="levelGroups" type="java.util.Set<org.strangeforest.tcb.stats.model.core.TournamentLevelGroup>"*/-->
<!--/*@thymesVar id="surfaces" type="org.strangeforest.tcb.stats.model.core.Surface[]"*/-->
<!--/*@thymesVar id="surfaceGroups" type="org.strangeforest.tcb.stats.model.core.SurfaceGroup[]"*/-->
<!--/*@thymesVar id="speeds" type="org.strangeforest.tcb.stats.model.core.CourtSpeed[]"*/-->
<!--/*@thymesVar id="rounds" type="org.strangeforest.tcb.stats.model.core.Round[]"*/-->
<!--/*@thymesVar id="tournaments" type="java.util.List<org.strangeforest.tcb.stats.model.core.TournamentItem>"*/-->
<head th:replace="fragments/head :: commonHead(~{::title/text()}, true, ~{::template})">
	<title>Greatest Rivalries</title>
	<template>
	<meta name="description" content="Greatest Open Era tennis rivalries"/>
	<script type="text/javascript">
		var isChrome = navigator.userAgent.toLowerCase().indexOf("chrome") > -1;
		$(function() {
			var $rivalriesTable = $("#greatestRivalriesTable");
			var device = detectDevice();
			setBootgridColumnsVisible($rivalriesTable, ["lastMatch"], deviceGreaterOrEqual(device, "lg"));
			setBootgridColumnsVisible($rivalriesTable, ["h2hPct", "h2h2"], deviceGreaterOrEqual(device, "sm"));
			if (device === "xs")
				setBootgridColumnsWidths($rivalriesTable, ["rivalry"], [250]);
			$rivalriesTable.bootgrid({
				ajax: true,
				ajaxSettings: {
					method: "GET",
					cache: false
				},
				url: "/greatestRivalriesTable",
				requestHandler: function(request) {
					request.fromSeason = $("#fromSeason").val();
					request.toSeason = $("#toSeason").val();
					request.level = $("#level").val();
					request.bestOf = $("#bestOf").val();
					request.surface = $("#surface").val();
					request.indoor = $("#indoor").val();
					request.speed = $("#speed").val();
					request.round = $("#round").val();
					request.tournamentId = $("#tournament").val();
					request.bestRank = $("#bestRank").val();
					request.minMatches = $("#minMatchesOverride").val();
					return request;
				},
				rowCount: [20, 50, 100, -1],
				formatters: {
					"rivalry": function(column, row) {
						var active = row.player1.active && row.player2.active;
						row.player1.active = false;
						row.player2.active = false;
						return playerCountryFormatter(column, row.player1) + " - " + playerCountryFormatter(column, row.player2) + (active ? " <img src='/images/active.png' title='Active' width='12' height='12' style='vertical-align: 0'/>" : "");
					},
					"matches": function(column, row) {
						var params = "&tab=matches" + rivalryFilterParams();
						return "<a href='/headToHead?playerId1=" + row.player1.playerId + "&playerId2=" + row.player2.playerId + params + "' title='Show Head-to-Head matches'>" + row.matches + "</a>";
					},
					"h2h": function(column, row) {
						var params = "&outcome=wonplayed" + rivalryFilterParams();
						return "<a href='/playerProfile?playerId=" + row.player1.playerId + "&tab=matches&opponent=OPP_" + row.player2.playerId + params + "' title='Show " + row.player1.name + " def. " + row.player2.name + " matches'>" + row.won + "</a>" +
							" - <a href='/playerProfile?playerId=" + row.player2.playerId + "&tab=matches&opponent=OPP_" + row.player1.playerId + params + "' title='Show " + row.player2.name + " def. " + row.player1.name + " matches'>" + row.lost + "</a>";
					},
					"h2hPct": function(column, row) {
						var params = rivalryFilterParams() + "&outcome=played";
						return "<span data-won-pct='" + row.wonPctClass + "' class='rivalry-pct'>" + "<a href='/playerProfile?playerId=" + row.player1.playerId + "&tab=matches&opponent=OPP_" + row.player2.playerId + params + "' title='Show " + row.player1.name + " - " + row.player2.name + " matches'>" + row.wonPctStr + "</a>" +
							"</span> - <span data-won-pct='" + row.lostPctClass + "' class='rivalry-pct'>" + "<a href='/playerProfile?playerId=" + row.player2.playerId + "&tab=matches&opponent=OPP_" + row.player1.playerId + params + "' title='Show " + row.player2.name + " - " + row.player1.name + " matches'>" + row.lostPctStr + "</a>" + "</span>";
					},
					"lastMatch": function(column, row) {
						var match = row.lastMatch;
						return shortName(match.winnerId === row.player1.playerId ? row.player1.name : row.player2.name) + " [ " + formatScore(match.score) + " ] at " +
							match.season + " " + tournamentEventFormatter(column, match) + " " + surfaceFormatter(column, match) + " " + match.round;
					},
					"h2h2": function(column, row) {
						return "<a href='/headToHead?playerId1=" + row.player1.playerId + "&playerId2=" + row.player2.playerId + "' class='label label-primary label-btn'" + (isChrome ? " style='padding: 3px 7px'" : "") + " title='Show Head-to-Head'>H2H</a>"
					}
				},
				labels: {
					loading: bootgridTemplateLoading,
					noResults: "No rivalries found"
				},
				templates: {
					paginationItem: bootgridTemplatePaginationItem
				}
			}).on("loaded.rs.jquery.bootgrid", function() {
				$rivalriesTable.find("span[data-won-pct]").each(function() {
					var $span = $(this);
					$span.addClass("bg-won-" + $span.data("won-pct"));
				});
			});
			var $search = $("#greatestRivalriesTable-header").find("div.search");
			$search.before($("#levelDiv").remove());
			$search.before($("#surfaceDiv").remove());
			$search.before($("#roundDiv").remove());
			$search.before($("#clearDiv").remove());
			$search.after($("#advFilterDiv").remove());
			$search.remove();
			$rivalriesTable.find("th[data-column-id='rivalry'] > a > span.text").html("<span title='Player with more GOAT points is on the left side'>Rivalry</span>");
			filterChanged();
			$("[data-toggle='tooltip']").tooltip();
			setBootgridTitles($rivalriesTable, [
				{id: "rank", title: "Rivalry rank"},
				{id: "matches", title: "Matches"},
				{id: "rivalryScore", title: "[[#{rivalry.score.title}]]"},
				{id: "h2h", title: "Head-to-head"},
				{id: "h2hPct", title: "Head-to-head winning percentages"}
			]);
		});
		function shortName(name) {
			var names = name.match(/[^A-Z\s]+/g);
			for (var i = 0; i < names.length - 1; i++)
				name = name.replace(names[i], '.');
			return name;
		}
		function filterChanged() {
			var url = "/greatestRivalriesMinMatches?fromSeason=" + $("#fromSeason").val() + "&toSeason=" + $("#toSeason").val() + "&level=" + $("#level").val() + "&bestOf=" + $("#bestOf").val() + "&surface=" + $("#surface").val() + "&indoor=" + $("#indoor").val() + "&speed=" + $("#speed").val() + "&round=" + encodeURIComponent($("#round").val()) + "&tournamentId=" + $("#tournament").val() + "&bestRank=" + $("#bestRank").val();
			var $minMatches = $("#minMatchesOverride");
			if (!validateNumber($minMatches))
				return false;
			var minMatches = $minMatches.val();
			if (minMatches && minMatches < 5) {
				$minMatches.tooltip({title: "Minimum matches must be greater or equal to 5", placement: "bottom"}).tooltip("show");
				$minMatches.focus();
				return false;
			}
			url += "&minMatches=" + minMatches;
			$.get(url, function (data) {
				$("#minMatches").html(data);
			});
			return true;
		}
		function reloadGreatestRivalries() {
			if (filterChanged())
				$("#greatestRivalriesTable").bootgrid("reload");
		}
		function rivalryFilterParams() {
			var params = "";
			var fromSeason = $("#fromSeason").val();
			if (fromSeason) params += "&fromDate=01-01-" + fromSeason;
			var toSeason = $("#toSeason").val();
			if (toSeason) params += "&toDate=31-12-" + toSeason;
			var level = $("#level").val();
			if (level) params += "&level=" + level;
			var bestOf = $("#bestOf").val();
			if (bestOf) params += "&bestOf=" + bestOf;
			var surface = $("#surface").val();
			if (surface) params += "&surface=" + surface;
			var indoor = $("#indoor").val();
			if (indoor) params += "&indoor=" + indoor;
			var speed = $("#speed").val();
			if (speed) params += "&speed=" + speed;
			var round = $("#round").val();
			if (round) params += "&round=" + encodeURIComponent(round);
			var tournamentId = $("#tournament").val();
			if (tournamentId) params += "&tournamentId=" + tournamentId;
			return params;
		}
		function clearGreatestRivalriesFilter() {
			$("#fromSeason").val("");
			$("#toSeason").val("");
			$("#level").val("");
			$("#bestOf").val("");
			$("#surface").val("");
			$("#indoor").val("");
			$("#speed").val("");
			$("#round").val("");
			$("#tournament").val("");
			$("#bestRank").val("");
			$("#minMatchesOverride").val("");
			reloadGreatestRivalries();
		}
	</script>
	<style type="text/css">
		.rivalry-pct {
			padding: 8px 4px;
		}
	</style>
	</template>
</head>
<body class="container">
	<header th:include="fragments/header :: title"></header>
	<div class="row">
		<div class="col-md-8">
			<h3 class="text-nowrap" style="display: inline"><i class="fa fa-handshake-o"></i> Greatest Rivalries</h3>
		</div>
		<div class="col-md-4">
			<div class="input-group">
				<label for="fromSeason" class="input-group-addon">From:</label>
				<select id="fromSeason" class="form-control" onchange="reloadGreatestRivalries()" data-toggle="tooltip" data-placement="top" title="Select from season">
					<option value="">All seasons</option>
					<option th:each="season : ${seasons}" th:value="${season}" value="2005" th:text="${season}">2005</option>
				</select>
				<label for="toSeason" class="input-group-addon">To:</label>
				<select id="toSeason" class="form-control" onchange="reloadGreatestRivalries()" data-toggle="tooltip" data-placement="top" title="Select to season">
					<option value="">All seasons</option>
					<option th:each="season : ${seasons}" th:value="${season}" value="2005" th:text="${season}">2005</option>
				</select>
			</div>
		</div>
	</div>
	<div id="advancedFilter" class="collapse row margin-top">
		<div class="col-md-2">
			<select id="bestOf" class="form-control" onchange="reloadGreatestRivalries()" data-toggle="tooltip" data-placement="top" title="Filter by best of">
				<option value="">Best of any</option>
				<option value="3">Best of 3</option>
				<option value="5">Best of 5</option>
			</select>
		</div>
		<div class="col-md-2">
			<select id="indoor" class="form-control" onchange="reloadGreatestRivalries()" data-toggle="tooltip" data-placement="top" title="Filter by outdoor / indoor">
				<option value="">Outdoor / Indoor</option>
				<option value="false">Outdoor</option>
				<option value="true">Indoor</option>
			</select>
		</div>
		<div class="col-md-2">
			<select id="speed" class="form-control" onchange="reloadGreatestRivalries()" data-toggle="tooltip" data-placement="top" title="Filter by court speed">
				<option value="">All speeds</option>
				<option th:each="aSpeed : ${speeds}" th:value="${aSpeed.speed}" th:class="|points-${aSpeed.speed}|" style="color: white" value="50" class="points-50" th:text="${aSpeed.text}">Medium</option>
			</select>
		</div>
		<div class="col-md-2">
			<select id="tournament" class="form-control" onchange="reloadGreatestRivalries()" data-toggle="tooltip" data-placement="top" title="Filter by tournament">
				<option value="">All tournaments</option>
				<option th:each="tournament : ${tournaments}" th:value="${tournament.id}" value="101" th:text="${tournament.name}" th:class="'bg-level-' + ${tournament.level}">Wimbledon</option>
			</select>
		</div>
		<div class="col-md-2">
			<select id="bestRank" class="form-control" onchange="reloadGreatestRivalries()" data-toggle="tooltip" data-placement="top" title="Filter by player best rank">
				<option value="">All players</option>
				<option value="1">Between once No. 1</option>
				<option value="2">Between once Top 2</option>
				<option value="3">Between once Top 3</option>
				<option value="5">Between once Top 5</option>
				<option value="10">Between once Top 10</option>
				<option value="20">Between once Top 20</option>
			</select>
		</div>
		<div class="col-md-2">
			<div class="input-group" data-toggle="tooltip" data-placement="top" title="Override minimum matches">
				<label for="minMatchesOverride" class="input-group-addon">Min. matches:</label>
				<input id="minMatchesOverride" type="text" size="6" class="form-control" oninput="reloadGreatestRivalries()" onchange="reloadGreatestRivalries()"/>
			</div>
		</div>
	</div>
	<div id="levelDiv" class="btn-group pull-left margin-right no-margin-left">
		<select id="level" class="form-control" onchange="reloadGreatestRivalries()" data-toggle="tooltip" data-placement="top" title="Filter by tournament level">
			<option value="">All levels</option>
			<option th:each="level : ${levels}" th:value="${level.code}" th:class="|bg-level-${level.code}|" value="G" class="bg-level-G" th:text="${level.text}">Grand Slam</option>
			<option th:each="levelGroup : ${levelGroups}" th:value="${levelGroup.codes}" value="GFLMO" th:text="${levelGroup.text}">Big Tournaments</option>
		</select>
	</div>
	<div id="surfaceDiv" class="btn-group pull-left margin-right">
		<select id="surface" class="form-control" onchange="reloadGreatestRivalries()" data-toggle="tooltip" data-placement="top" title="Filter by surface">
			<option value="">All surfaces</option>
			<option th:each="surface : ${surfaces}" th:value="${surface.code}" th:class="|bg-surface-${surface.code}|" value="H" class="bg-surface-H" th:text="${surface.text}">Hard</option>
			<option th:each="surfaceGroup : ${surfaceGroups}" th:value="${surfaceGroup.codes}" value="HGP" th:text="${surfaceGroup.text}">Fast (H, G, Cp)</option>
		</select>
	</div>
	<div id="roundDiv" class="btn-group pull-left margin-right">
		<select id="round" class="form-control" onchange="reloadGreatestRivalries()" data-toggle="tooltip" data-placement="top" title="Filter by round">
			<option value="">All rounds</option>
			<option th:each="round : ${rounds}" th:value="${round.code}" th:class="|bg-result-${round.baseCode}|" value="F" class="bg-result-F" th:text="${round.text}">Final</option>
		</select>
	</div>
	<div id="clearDiv" class="btn-group margin-right">
		<button type="button" class="btn btn-default" onclick="clearGreatestRivalriesFilter()" data-toggle="tooltip" data-placement="top" title="Clear all filters">
			<i class="fa fa-eraser"></i>&nbsp;&nbsp;Clear
		</button>
	</div>
	<div id="advFilterDiv" class="btn-group pull-right margin-left no-margin-right">
		<div data-toggle="tooltip" data-placement="auto" title="Advanced filters">
			<button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#advancedFilter">
				<i class="fa fa-folder-open"></i>&nbsp;&nbsp;Adv.&nbsp;&nbsp;<i class="fa fa-chevron-up"></i>
			</button>
		</div>
	</div>
	<table id="greatestRivalriesTable" class="table table-condensed table-hover table-striped">
		<thead>
		<tr>
			<th data-column-id="rank" data-type="numeric" data-width="55" data-sortable="false">Rnk</th>
			<th data-column-id="rivalry" data-formatter="rivalry" data-width="320" data-sortable="false">Rivalry</th>
			<th data-column-id="matches" data-formatter="matches" data-order="desc" data-width="45" data-align="right" data-header-align="right">M</th>
			<th data-column-id="rivalryScore" data-type="numeric" data-width="50" data-align="right" data-header-align="right">Scr</th>
			<th data-column-id="h2h" data-formatter="h2h" data-width="55" data-sortable="false" data-align="center" data-header-align="center">H2H</th>
			<th data-column-id="h2hPct" data-formatter="h2hPct" data-width="120" data-sortable="false" data-align="center" data-header-align="center">H2H %</th>
			<th data-column-id="lastMatch" data-formatter="lastMatch" data-sortable="false" data-width="450">Last Match</th>
			<th data-column-id="h2h2" data-formatter="h2h2" data-sortable="false" data-width="55">H2H</th>
		</tr>
		</thead>
	</table>
	<p><i>* Minimum <span id="minMatches">10</span> rivalry matches</i></p>
	<th:block th:include="fragments/deviceDetector :: deviceDetectors"/>
	<footer th:include="fragments/footer :: copy"></footer>
</body>
</html>