<th:block xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="player1" type="org.strangeforest.tcb.stats.model.core.Player"*/-->
<!--/*@thymesVar id="player2" type="org.strangeforest.tcb.stats.model.core.Player"*/-->
<!--/*@thymesVar id="stats1" type="org.strangeforest.tcb.stats.model.PlayerStats"*/-->
<!--/*@thymesVar id="seasons" type="java.util.List<java.lang.Integer>"*/-->
<!--/*@thymesVar id="levels" type="java.util.Set<org.strangeforest.tcb.stats.model.core.TournamentLevel>"*/-->
<!--/*@thymesVar id="levelGroups" type="java.util.Set<org.strangeforest.tcb.stats.model.core.TournamentLevelGroup>"*/-->
<!--/*@thymesVar id="surfaces" type="org.strangeforest.tcb.stats.model.core.Surface[]"*/-->
<!--/*@thymesVar id="surfaceGroups" type="org.strangeforest.tcb.stats.model.core.SurfaceGroup[]"*/-->
<!--/*@thymesVar id="speeds" type="org.strangeforest.tcb.stats.model.core.CourtSpeed[]"*/-->
<!--/*@thymesVar id="rounds" type="org.strangeforest.tcb.stats.model.core.Round[]"*/-->
<!--/*@thymesVar id="tournaments" type="java.util.List<org.strangeforest.tcb.stats.model.core.TournamentItem>"*/-->
<!--/*@thymesVar id="season" type="java.lang.Integer"*/-->
<!--/*@thymesVar id="fromDate" type="java.time.LocalDate"*/-->
<!--/*@thymesVar id="toDate" type="java.time.LocalDate"*/-->
<!--/*@thymesVar id="level" type="java.lang.String"*/-->
<!--/*@thymesVar id="bestOf" type="java.lang.Integer"*/-->
<!--/*@thymesVar id="surface" type="java.lang.String"*/-->
<!--/*@thymesVar id="indoor" type="java.lang.Boolean"*/-->
<!--/*@thymesVar id="speed" type="java.lang.Integer"*/-->
<!--/*@thymesVar id="round" type="java.lang.String"*/-->
<script type="text/javascript">
	var device = detectDevice();
	$(function() {
		var $matchesTable = $("#matchesTable");
		setBootgridColumnsVisible($matchesTable, ["matchEx", "h2h"], deviceGreaterOrEqual(device, "xl"));
		setBootgridColumnsVisible($matchesTable, ["match"], deviceLessOrEqual(device, "lg"));
		setBootgridColumnsVisible($matchesTable, ["stats"], deviceGreaterOrEqual(device, "md"));
		setBootgridColumnsVisible($matchesTable, ["surface"], deviceGreaterOrEqual(device, "sm"));
		if (deviceLessOrEqual(device, "sm"))
			setBootgridColumnsWidths($matchesTable, ["tournament", "match", "score"], [150, 250, 125]);
		$matchesTable.bootgrid({
			ajax: true,
			ajaxSettings: {
				method: "GET",
				cache: false
			},
			url: "/matchesTable?playerId=[(${player1.id})]&opponent=OPP_[(${player2.id})]&h2h=true",
			requestHandler: function(request) {
				bootgridParams(request);
				return request;
			},
			rowCount: [15, 25, 50, -1],
			formatters: {
				"date": dateFormatter,
				"tournament": tournamentEventFormatter,
				"surface": surfaceFormatter,
				"speed": speedFormatter,
				"match": h2hMatchFormatter,
				"matchEx": matchExFormatter([(${playerId})]),
				"score": scoreFormatter,
				"h2h": function(column, row) {
					return "<span title='" + row.h2h.wonPct.toFixed(1) + "% - " + (100 - row.h2h.wonPct).toFixed(1) + "%'>" + row.h2h.wl + "</span>";
				},
				"stats": function(column, row) {
					return row.hasStats ? "<a id='matchStats-" + row.id + "' href='#' class='label label-info label-btn' onclick='showMatchStats(" + row.id + ", event)' title='Match Statistics'><span class='glyphicon glyphicon-stats'></span>&nbsp;&nbsp;Stats</a>" : "";
				}
			},
			labels: {
				loading: bootgridTemplateLoading,
				noResults: "No matches found"
			},
			templates: {
				paginationItem: bootgridTemplatePaginationItem
			}
		}).on("loaded.rs.jquery.bootgrid", function() {
			$("#rivalryStats-[(${player1.id})]").popover("destroy").removeClass("loaded");
			$("#rivalryStats-[(${player2.id})]").popover("destroy").removeClass("loaded");
		});
		var $matchesTableHeader = $("#matchesTable-header");
		var $search = $matchesTableHeader.find("div.search");
		$search.before($("#rivalryStats-[(${player2.id})]").remove());
		$search.before($("#matchesOutcomeDiv").remove());
		$search.after($("#rivalryStats-[(${player1.id})]").remove());
		$search.after($("#matchesClear").remove());
		dateRangePicker("matchesFromDate", "matchesToDate", "[(${!seasons.empty ? (seasons.get(seasons.size()-1) + ':' + seasons.get(0)) : _})]");
		setBootgridTitles($matchesTable, [
			{id: "speed", title: "[[#{event.courtSpeed.title}]]"},
			{id: "bestOf", title: "Best of"}
		]);
		$("[data-toggle='tooltip']").tooltip();
	});
	function matchesBootgrid(index, playerId) {
		var selector = "#matches" + index + "Table";
		var $matchesTable = $(selector);
		if ($matchesTable.hasClass("loaded")) return;
		setBootgridColumnsVisible($matchesTable, ["surface", "stats"], device !== "lg" && device !== "xs");
		$matchesTable.bootgrid({
			ajax: true,
			ajaxSettings: {
				method: "GET",
				cache: false
			},
			url: "/matchesTable?playerId=" + playerId,
			requestHandler: function(request) {
				bootgridParams(request);
				return request;
			},
			rowCount: [15, 25, 50, -1],
			formatters: {
				"date": dateFormatter,
				"tournament": tournamentEventFormatter,
				"surface": shortSurfaceFormatter,
				"wonLost": wonLostFormatter(playerId),
				"opponent": function(column, row) {
					return formatMatchPlayer(row.winner.id === playerId ? row.loser : row.winner);
				},
				"score": scoreFormatter,
				"stats": function(column, row) {
					return row.hasStats ? "<a id='matchStats-" + row.id + "' href='#' class='label label-info label-btn' onclick='showMatchStats(" + row.id + ", event, \"#matchesFilter\")' title='Match Statistics'><span class='glyphicon glyphicon-stats'></span></a>" : "";
				}
			},
			labels: {
				loading: bootgridTemplateLoading,
				noResults: "No matches found"
			},
			templates: {
				paginationItem: bootgridTemplatePaginationItem
			}
		}).on("loaded.rs.jquery.bootgrid", function() {
			$("#matchesStats" + index).popover("destroy").removeClass("loaded");
		});
		var $tableHeader = $(selector + "-header");
		setBootgridTitle($tableHeader, $(selector + "-title"));
		var $search = $tableHeader.find("div.search");
		$search.before($("#matchesStats" + index).remove().show().tooltip());
		$search.after($("#matchesClear" + index).remove().show().tooltip());
		$search.remove();
		setBootgridTitles($matchesTable, [
			{id: "surface", title: "Surface"},
			{id: "round", title: "Round"},
			{id: "wonLost", title: "Won / Lost"},
			{id: "stats", title: "Match statistics"}
		]);
		$matchesTable.addClass("loaded");
	}
	function bootgridParams(request) {
		request.season = $("#matchesSeason").val();
		request.fromDate = $("#matchesFromDate").val();
		request.toDate = $("#matchesToDate").val();
		request.level = $("#matchesLevel").val();
		request.bestOf = $("#matchesBestOf").val();
		request.surface = $("#matchesSurface").val();
		request.indoor = $("#matchesIndoor").val();
		request.speed = $("#matchesSpeed").val();
		request.round = $("#matchesRound").val();
		request.tournamentId = $("#matchesTournament").val();
		request.score = $("#matchesScore").val();
		request.outcome = $("#matchesOutcome").val();
	}
	function reloadMatches() {
		if (reloadH2H()) {
			var h2h = $("#matchesH2H").prop("checked");
			if (h2h)
				$("#matchesTable").bootgrid("reload");
			else {
				$("#matches1Table").bootgrid("reload");
				$("#matches2Table").bootgrid("reload");
			}
		}
	}
	function showBootrgid(id, show) {
		var $table = $("#" + id + ", #" + id + "-header, #" + id + "-footer, #" + id + "-title");
		if (show)
			$table.show();
		else
			$table.hide();
	}
	function matchesH2HChanged() {
		var h2h = $("#matchesH2H").prop("checked");
		showBootrgid("matchesTable", h2h);
		if (!h2h) {
			matchesBootgrid(1, [(${player1.id})]);
			matchesBootgrid(2, [(${player2.id})]);
		}
		showBootrgid("matches1Table", !h2h);
		showBootrgid("matches2Table", !h2h);
		reloadMatches();
	}
	function reloadH2H() {
		var url = "/h2h?playerId1=[(${player1.id})]&playerId2=[(${player2.id})]" ;
		var season = $("#matchesSeason").val();
		if (season) url += "&season=" + season;
		var fromDate = getDate("matchesFromDate", "from date");
		if (fromDate) url += "&fromDate=" + fromDate;
		else if (fromDate === null) return false;
		var toDate = getDate("matchesToDate", "to date");
		if (toDate) url += "&toDate=" + toDate;
		else if (toDate === null) return false;
		var level = $("#matchesLevel").val();
		if (level) url += "&level=" + level;
		var bestOf = $("#matchesBestOf").val();
		if (bestOf) url += "&bestOf=" + bestOf;
		var surface = $("#matchesSurface").val();
		if (surface) url += "&surface=" + surface;
		var indoor = $("#matchesIndoor").val();
		if (indoor) url += "&indoor=" + indoor;
		var speed = $("#matchesSpeed").val();
		if (speed) url += "&speed=" + speed;
		var round = $("#matchesRound").val();
		if (round) url += "&round=" + encodeURIComponent(round);
		var tournamentId = $("#matchesTournament").val();
		if (tournamentId) url += "&tournamentId=" + tournamentId;
		var score = $("#matchesScore").val();
		if (score) url += "&score=" + encodeURIComponent(score);
		var outcome = $("#matchesOutcome").val();
		if (outcome) url += "&outcome=" + outcome;
		$.get(url, function (data) {
			$("#playerWon1").html(data[0]);
			$("#playerWon2").html(data[1]);
		});
		return true;
	}
	function clearMatchesFilter() {
		$("#matchesSeason").val("");
		$("#matchesFromDate").val("");
		$("#matchesToDate").val("");
		$("#matchesLevel").val("");
		$("#matchesBestOf").val("");
		$("#matchesSurface").val("");
		$("#matchesIndoor").val("");
		$("#matchesSpeed").val("");
		$("#matchesRound").val("");
		$("#matchesTournament").val("");
		$("#matchesScore").val("");
		$("#matchesOutcome").val("");
		$("#matchesTable").bootgrid("search", "");
		reloadMatches();
	}
	function matchesParams(invertScore) {
		var url = "&season=" + $("#matchesSeason").val();
		url += "&fromDate=" + $("#matchesFromDate").val();
		url += "&toDate=" + $("#matchesToDate").val();
		url += "&level=" + $("#matchesLevel").val();
		url += "&bestOf=" + $("#matchesBestOf").val();
		url += "&surface=" + $("#matchesSurface").val();
		url += "&indoor=" + $("#matchesIndoor").val();
		url += "&speed=" + $("#matchesSpeed").val();
		url += "&round=" + encodeURIComponent($("#matchesRound").val());
		url += "&tournamentId=" + $("#matchesTournament").val();
		var score = $("#matchesScore").val();
		if (invertScore)
			score = score.charAt(2) + score.charAt(1) + score.charAt(0) + score.substr(3);
		url += "&score=" + encodeURIComponent(score);
		url += "&outcome=" + $("#matchesOutcome").val();
		return url;
	}
	function showRivalryStats(playerId1, playerId2, placement, event, invertScore) {
		var $rivalryStats = $("#rivalryStats-" + playerId2);
		if (!$rivalryStats.hasClass("loaded")) {
			event.preventDefault();
			var url = "/rivalryStats?playerId=" + playerId1 + "&opponentId=" + playerId2 + matchesParams(invertScore);
			url += "&searchPhrase=" + $("#matchesTable-header").find("input.search-field").val();
			$.get(url, function(data) {
				$rivalryStats.addClass("loaded").popover({content: data, html: true, placement: "auto " + placement, container: "#matchesFilter"});
				$rivalryStats.on("show.bs.popover", function() { $(this).data("bs.popover").tip().css("max-width", "1000px"); }).click();
				$rivalryStats.data("statsURL", url);
			});
		}
	}
	function showPlayerStats(index, playerId, event) {
		var $playerStats = $("#matchesStats" + index);
		if (!$playerStats.hasClass("loaded")) {
			event.preventDefault();
			var url = "/matchesStats?playerId=" + playerId + "&playerIndex=" + index + matchesParams(false);
			$.get(url, function(data) {
				$playerStats.addClass("loaded").popover({content: data, html: true, placement: "auto" + (index === 2 ? " left" : ""), container: "#matchesFilter"});
				$playerStats.on("show.bs.popover", function() { $(this).data("bs.popover").tip().css("max-width", "1000px"); }).click();
				$playerStats.data("statsURL", url);
			});
		}
	}
</script>
<style type="text/css">
	.table-ultra-condensed > thead > tr > th,
	.table-ultra-condensed > tbody > tr > th,
	.table-ultra-condensed > tfoot > tr > th,
	.table-ultra-condensed > thead > tr > td,
	.table-ultra-condensed > tbody > tr > td,
	.table-ultra-condensed > tfoot > tr > td {
		padding: 5px 2px;
	}
</style>
<div class="row text-nowrap" style="margin: 5px 0">
	<div class="col-xs-5 text-right">
		<h4>
			<img th:src="@{/images/flags/{code}.png(code=${player1.country.code})}" src="/images/flags/ch.png'" style="margin-top: -3px" th:title="${player1.country.id}" title="SUI" width="24" height="20"/>
			<a th:href="@{/playerProfile(playerId=${player1.id})}" th:text="${player1.name}">Roger Federer</a>
		</h4>
	</div>
	<div class="col-xs-2 text-center">
		<h4><span id="playerWon1" th:text="${stats1.matchesWon}">15</span> : <span id="playerWon2" th:text="${stats1.matchesLost}">9</span></h4>
	</div>
	<div class="col-xs-5 text-left">
		<h4>
			<img th:src="@{/images/flags/{code}.png(code=${player2.country.code})}" src="/images/flags/es.png'" style="margin-top: -3px" th:title="${player2.country.id}" title="ESP" width="24" height="20"/>
			<a th:href="@{/playerProfile(playerId=${player2.id})}" th:text="${player2.name}">Rafael Nadal</a>
		</h4>
	</div>
</div>
<div id="matchesFilter" class="row">
	<div class="col-md-2">
		<select id="matchesSeason" class="form-control" onchange="reloadMatches()" data-toggle="tooltip" data-placement="top" title="Select career or filter by season">
			<option value="">Career</option>
			<option value="-1" th:selected="${season == -1}">Last 52 weeks</option>
			<option th:each="aSeason : ${seasons}" th:value="${aSeason}" value="2005" th:text="${aSeason}" th:selected="${aSeason == season}">2005</option>
		</select>
	</div>
	<div class="col-md-2">
		<select id="matchesLevel" class="form-control" onchange="reloadMatches()" data-toggle="tooltip" data-placement="top" title="Filter by tournament level">
			<option value="">All levels</option>
			<option th:each="aLevel : ${levels}" th:value="${aLevel.code}" th:class="|bg-level-${aLevel.code}|" value="G" class="bg-level-G" th:text="${aLevel.text}" th:selected="${aLevel.code == level}">Grand Slam</option>
			<option th:each="levelGroup : ${levelGroups}" th:value="${levelGroup.codes}" value="GFLMO" th:text="${levelGroup.text}" th:selected="${levelGroup.codes == level}">Big Tournaments</option>
		</select>
	</div>
	<div class="col-md-2">
		<select id="matchesSurface" class="form-control" onchange="reloadMatches()" data-toggle="tooltip" data-placement="top" title="Filter by surface">
			<option value="">All surfaces</option>
			<option th:each="aSurface : ${surfaces}" th:value="${aSurface.code}" th:class="|bg-surface-${aSurface.code}|" value="H" class="bg-surface-H" th:text="${aSurface.text}" th:selected="${aSurface.code == surface}">Hard</option>
			<option th:each="surfaceGroup : ${surfaceGroups}" th:value="${surfaceGroup.codes}" value="HGP" th:text="${surfaceGroup.text}" th:selected="${surfaceGroup.codes.length() > 1 && surfaceGroup.codes == surface}">Fast (H, G, Cp)</option>
		</select>
	</div>
	<div class="col-md-2">
		<select id="matchesRound" class="form-control" onchange="reloadMatches()" data-toggle="tooltip" data-placement="top" title="Filter by round">
			<option value="">All rounds</option>
			<option th:each="aRound : ${rounds}" th:value="${aRound.code}" th:class="|bg-result-${aRound.baseCode}|" value="F" class="bg-result-F" th:text="${aRound.text}" th:selected="${aRound.code == round}">Final</option>
		</select>
	</div>
	<div class="col-md-2">
		<select id="matchesTournament" class="form-control" onchange="reloadMatches()" data-toggle="tooltip" data-placement="top" title="Filter by tournament">
			<option value="">All tournaments</option>
			<option th:each="tournament : ${tournaments}" th:value="${tournament.id}" value="101" th:text="${tournament.name}" th:class="'bg-level-' + ${tournament.level}" th:selected="${tournament.id == tournamentId}">Wimbledon</option>
		</select>
	</div>
	<div class="col-md-1">
		<div class="checkbox" onchange="matchesH2HChanged()">
			<label data-toggle="tooltip" data-placement="top" title="Toggle H2H or all matches">
				<input id="matchesH2H" type="checkbox" checked="checked"/> H2H
			</label>
		</div>
	</div>
	<div class="col-md-1">
		<span data-toggle="tooltip" data-placement="auto" title="Advanced filters">
			<button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#matchesAdvancedFilter">
				Adv.&nbsp;&nbsp;<i class="fa fa-chevron-down"></i>
			</button>
		</span>
	</div>
</div>
<div id="matchesAdvancedFilter" class="collapse row margin-top" th:attrappend="class=${fromDate != null || toDate != null || bestOf != null || indoor != null || speed != null ? ' in' : _}">
	<div class="col-md-4">
		<div id="matchesDateRange" class="input-group">
			<label for="matchesFromDate" class="input-group-addon">From:</label>
			<input id="matchesFromDate" type="text" maxlength="10" class="form-control" th:value="${#temporals.format(fromDate, 'dd-MM-yyyy')}" onchange="reloadMatches()"/>
			<label for="matchesToDate" class="input-group-addon">To:</label>
			<input id="matchesToDate" type="text" maxlength="10" class="form-control" th:value="${#temporals.format(toDate, 'dd-MM-yyyy')}" onchange="reloadMatches()"/>
		</div>
	</div>
	<div class="col-md-2">
		<select id="matchesIndoor" class="form-control" onchange="reloadMatches()" data-toggle="tooltip" data-placement="top" title="Filter by outdoor / indoor">
			<option value="">Outdoor / Indoor</option>
			<option value="false" th:selected="${indoor == false}">Outdoor</option>
			<option value="true" th:selected="${indoor}">Indoor</option>
		</select>
	</div>
	<div class="col-md-2">
		<select id="matchesSpeed" class="form-control" onchange="reloadMatches()" data-toggle="tooltip" data-placement="top" title="Filter by court speed">
			<option value="">All speeds</option>
			<option th:each="aSpeed : ${speeds}" th:value="${aSpeed.speed}" th:class="|points-${aSpeed.speed}|" style="color: white" value="50" class="points-50" th:text="${aSpeed.text}" th:selected="${aSpeed.speed == speed}">Medium</option>
		</select>
	</div>
	<div class="col-md-2">
		<select id="matchesBestOf" class="form-control" onchange="reloadMatches()" data-toggle="tooltip" data-placement="top" title="Filter by best of">
			<option value="">Best of any</option>
			<option value="3" th:selected="${bestOf == 3}">Best of 3</option>
			<option value="5" th:selected="${bestOf == 5}">Best of 5</option>
		</select>
	</div>
	<div class="col-md-2">
		<select id="matchesScore" class="form-control" onchange="reloadMatches()" data-toggle="tooltip" data-placement="top" title="Filter by match score">
			<option value="">All scores</option>
			<optgroup label="Best of 3">
				<option value="2:0">2:0</option>
				<option value="2:1">2:1</option>
				<option value="1:2">1:2</option>
				<option value="0:2">0:2</option>
			</optgroup>
			<optgroup label="Best of 5">
				<option value="3:0">3:0</option>
				<option value="3:1">3:1</option>
				<option value="3:2">3:2</option>
				<option value="2:3">2:3</option>
				<option value="1:3">1:3</option>
				<option value="0:3">0:3</option>
			</optgroup>
			<optgroup label="After">
				<option value="1:0+">After 1:0</option>
				<option value="0:1+">After 0:1</option>
				<option value="1:1+">After 1:1</option>
				<option value="2:0+">After 2:0</option>
				<option value="0:2+">After 0:2</option>
				<option value="2:1+">After 2:1</option>
				<option value="1:2+">After 1:2</option>
				<option value="2:2+">After 2:2</option>
			</optgroup>
		</select>
	</div>
</div>
<div id="matchesOutcomeDiv" class="btn-group pull-left margin-right">
	<select id="matchesOutcome" class="form-control" onchange="reloadMatches()" data-toggle="tooltip" data-placement="top" title="Filter by outcome">
		<option value="">All matches</option>
		<option value="played">Played</option>
		<option value="finished">Finished</option>
		<option value="notFinished">Not finished</option>
		<option value="RET">Retirement</option>
		<option value="W/O">Walkover</option>
		<option value="DEF">Defaulting</option>
		<option value="ABD">Abandoned</option>
		<option value="notPlayed">Not played</option>
	</select>
</div>
<button th:id="|rivalryStats-${player2.id}|" type="button" class="btn btn-info grid-control pull-left no-margin-left margin-right" th:onclick="|showRivalryStats(${player1.id}, ${player2.id}, 'right', event, false)|" data-toggle="tooltip" data-placement="top" th:title="|${player1.name} vs ${player2.name} Statistics (for the selected matches)|">
	<span class="glyphicon glyphicon-stats"></span>&nbsp;&nbsp;Stats 1
</button>
<button th:id="|rivalryStats-${player1.id}|" type="button" class="btn btn-info grid-control margin-right" th:onclick="|showRivalryStats(${player2.id}, ${player1.id}, 'left', event, true)|" data-toggle="tooltip" data-placement="top" th:title="|${player2.name} vs ${player1.name} Statistics (for the selected matches)|">
	<span class="glyphicon glyphicon-stats"></span>&nbsp;&nbsp;Stats 2
</button>
<button id="matchesClear" type="button" class="btn btn-default grid-control margin-right" onclick="clearMatchesFilter()" data-toggle="tooltip" data-placement="top" title="Clear all filters">
	<i class="fa fa-eraser"></i>&nbsp;&nbsp;Clear
</button>
<table id="matchesTable" class="table table-condensed table-hover table-striped">
	<thead>
	<tr>
		<th data-column-id="date" data-formatter="date" data-order="desc" data-width="85">Date</th>
		<th data-column-id="tournament" data-formatter="tournament" data-width="175">Tournament</th>
		<th data-column-id="surface" data-formatter="surface" data-width="80">Surface</th>
		<th data-column-id="speed" data-formatter="speed" data-visible="false" data-width="70" data-align="center" data-header-align="center">Speed</th>
		<th data-column-id="round" data-width="75">Round</th>
		<th data-column-id="match" data-formatter="match" data-sortable="false" data-width="300">Match</th>
		<th data-column-id="matchEx" data-formatter="matchEx" data-sortable="false" data-visible="false" data-width="500">Match Details</th>
		<th data-column-id="bestOf" data-width="50" data-visible="false">BO</th>
		<th data-column-id="score" data-formatter="score" data-sortable="false" data-width="175">Score</th>
		<th data-column-id="h2h" data-formatter="h2h" data-sortable="false" data-width="55">H2H</th>
		<th data-column-id="stats" data-formatter="stats" data-sortable="false" data-width="75">Stats</th>
	</tr>
	</thead>
</table>
<h4 id="matches1Table-title" class="grid-title text-nowrap" style="display: none">
	<img th:src="@{/images/flags/{code}.png(code=${player1.country.code})}" src="/images/flags/ch.png'" style="margin-top: -3px" th:title="${player1.country.id}" title="SUI" width="24" height="20"/>
	<a th:href="@{/playerProfile(playerId=${player1.id})}" th:text="${player1.name}">Roger Federer</a>
</h4>
<h4 id="matches2Table-title" class="grid-title text-nowrap" style="display: none">
	<img th:src="@{/images/flags/{code}.png(code=${player2.country.code})}" src="/images/flags/es.png'" style="margin-top: -3px" th:title="${player2.country.id}" title="ESP" width="24" height="20"/>
	<a th:href="@{/playerProfile(playerId=${player2.id})}" th:text="${player2.name}">Rafael Nadal</a>
</h4>
<button id="matchesStats1" type="button" class="btn btn-info grid-control margin-right" style="display: none" th:onclick="|showPlayerStats(1, ${player1.id}, event)|" data-toggle="tooltip" data-placement="top" th:title="|${player1.name} Statistics (for the selected matches)|">
	<span class="glyphicon glyphicon-stats"></span>
</button>
<button id="matchesStats2" type="button" class="btn btn-info grid-control margin-right" style="display: none" th:onclick="|showPlayerStats(2, ${player2.id}, event)|" data-toggle="tooltip" data-placement="top" th:title="|${player2.name} Statistics (for the selected matches)|">
	<span class="glyphicon glyphicon-stats"></span>
</button>
<button id="matchesClear1" type="button" class="btn btn-default grid-control margin-right" style="display: none" onclick="clearMatchesFilter()" data-toggle="tooltip" data-placement="top" title="Clear all filters">
	<i class="fa fa-eraser"></i>
</button>
<button id="matchesClear2" type="button" class="btn btn-default grid-control margin-right" style="display: none" onclick="clearMatchesFilter()" data-toggle="tooltip" data-placement="top" title="Clear all filters">
	<i class="fa fa-eraser"></i>
</button>
<div class="row">
	<div class="col-lg-6">
		<table id="matches1Table" class="table table-ultra-condensed table-hover table-striped" style="display: none">
			<thead>
			<tr>
				<th data-column-id="date" data-formatter="date" data-order="desc" data-width="80">Date</th>
				<th data-column-id="tournament" data-formatter="tournament" data-width="120">Tournament</th>
				<th data-column-id="surface" data-formatter="surface" data-width="50">Sfc</th>
				<th data-column-id="round" data-width="40">Rd</th>
				<th data-column-id="wonLost" data-formatter="wonLost" data-sortable="false" data-width="30">O</th>
				<th data-column-id="opponent" data-formatter="opponent" data-sortable="false" data-width="150">Opponent</th>
				<th data-column-id="score" data-formatter="score" data-sortable="false" data-width="150">Score</th>
				<th data-column-id="stats" data-formatter="stats" data-sortable="false" data-width="30">S</th>
			</tr>
			</thead>
		</table>
	</div>
	<div class="col-lg-6">
		<table id="matches2Table" class="table table-ultra-condensed table-hover table-striped" style="display: none">
			<thead>
			<tr>
				<th data-column-id="date" data-formatter="date" data-order="desc" data-width="80">Date</th>
				<th data-column-id="tournament" data-formatter="tournament" data-width="120">Tournament</th>
				<th data-column-id="surface" data-formatter="surface" data-width="50">Sfc</th>
				<th data-column-id="round" data-width="40">Rd</th>
				<th data-column-id="wonLost" data-formatter="wonLost" data-sortable="false" data-width="30">O</th>
				<th data-column-id="opponent" data-formatter="opponent" data-sortable="false" data-width="150">Opponent</th>
				<th data-column-id="score" data-formatter="score" data-sortable="false" data-width="150">Score</th>
				<th data-column-id="stats" data-formatter="stats" data-sortable="false" data-width="30">S</th>
			</tr>
			</thead>
		</table>
	</div>
</div>
</th:block>