<th:block xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="player1" type="org.strangeforest.tcb.stats.model.Player"*/-->
<!--/*@thymesVar id="player2" type="org.strangeforest.tcb.stats.model.Player"*/-->
<!--/*@thymesVar id="stats1" type="org.strangeforest.tcb.stats.model.PlayerStats"*/-->
<!--/*@thymesVar id="seasons" type="java.util.List<java.lang.Integer>"*/-->
<!--/*@thymesVar id="levels" type="java.util.EnumSet<org.strangeforest.tcb.stats.model.TournamentLevel>"*/-->
<!--/*@thymesVar id="levelGroups" type="java.util.EnumSet<org.strangeforest.tcb.stats.model.TournamentLevelGroup>"*/-->
<!--/*@thymesVar id="surfaces" type="org.strangeforest.tcb.stats.model.Surface[]"*/-->
<!--/*@thymesVar id="surfaceGroups" type="org.strangeforest.tcb.stats.model.SurfaceGroup[]"*/-->
<!--/*@thymesVar id="rounds" type="org.strangeforest.tcb.stats.model.Round[]"*/-->
<!--/*@thymesVar id="tournaments" type="java.util.List<org.strangeforest.tcb.stats.model.TournamentItem>"*/-->
<!--/*@thymesVar id="season" type="java.lang.Integer"*/-->
<!--/*@thymesVar id="level" type="java.lang.String"*/-->
<!--/*@thymesVar id="surface" type="java.lang.String"*/-->
<!--/*@thymesVar id="round" type="java.lang.String"*/-->
<script type="text/javascript">
	$(function() {
		var $matchesTable = $("#matchesTable");
		var device = detectDevice();
		setBootgridColumnsVisible($matchesTable, ["stats"], deviceGreaterOrEqual(device, "md"));
		setBootgridColumnsVisible($matchesTable, ["surface"], deviceGreaterOrEqual(device, "sm"));
		if (!deviceGreaterOrEqual(device, "md"))
			setBootgridColumnsWidths($matchesTable, ["tournament", "match", "score"], [150, 250, 125]);
		$matchesTable.bootgrid({
			ajax: true,
			ajaxSettings: {
				method: "GET",
				cache: false
			},
			url: "/matchesTable?playerId=[(${player1.id})]&opponent=OPP_[(${player2.id})]",
			requestHandler: function(request) {
				request.season = $("#matchesSeason").val();
				request.level = $("#matchesLevel").val();
				request.surface = $("#matchesSurface").val();
				request.round = $("#matchesRound").val();
				request.tournamentId = $("#matchesTournament").val();
				request.score = $("#matchesScore").val();
				request.outcome = $("#matchesOutcome").val();
				return request;
			},
			rowCount: [15, 25, 50, -1],
			formatters: {
				"date": dateFormatter,
				"tournament": tournamentEventFormatter,
				"surface": surfaceFormatter,
				"match": h2hMatchFormatter,
				"stats": function(column, row) {
					return row.hasStats ? "<a id='matchStats-" + row.id + "' href='#' class='label label-info label-btn' onclick='showMatchStats(" + row.id + ", event)' title='Match Statistics'><span class='glyphicon glyphicon-stats'></span>&nbsp;&nbsp;Stats</a>" : "";
				}
			},
			labels: {
				loading: bootgridTemplateLoading,
				noResults: "No matches found"
			},
			templates: {
				paginationItem: bootgridTemplatePaginationItem
			}
		}).on("loaded.rs.jquery.bootgrid", function() {
			$("#rivalryStats-[(${player1.id})]").popover("destroy").removeClass("loaded");
			$("#rivalryStats-[(${player2.id})]").popover("destroy").removeClass("loaded");
		});
		var $matchesTableHeader = $("#matchesTable-header");
		var $search = $matchesTableHeader.find("div.search");
		$search.before($("#rivalryStats-[(${player2.id})]").remove());
		$search.before($("#matchesOutcomeDiv").remove());
		$search.after($("#rivalryStats-[(${player1.id})]").remove());
		$search.after($("#clearDiv").remove());
		$("[data-toggle='tooltip']").tooltip();
	});
	function reloadMatches() {
		reloadH2H();
		$("#matchesTable").bootgrid("reload");
	}
	function reloadH2H() {
		var url = "/h2h?playerId1=[(${player1.id})]&playerId2=[(${player2.id})]" ;
		var season = $("#matchesSeason").val();
		if (season)
			url += "&season=" + season;
		var level = $("#matchesLevel").val();
		if (level)
			url += "&level=" + level;
		var surface = $("#matchesSurface").val();
		if (surface)
			url += "&surface=" + surface;
		var round = $("#matchesRound").val();
		if (round)
			url += "&round=" + encodeURIComponent(round);
		var tournamentId = $("#matchesTournament").val();
		if (tournamentId)
			url += "&tournamentId=" + tournamentId;
		var score = $("#matchesScore").val();
		if (score)
			url += "&score=" + encodeURIComponent(score);
		var outcome = $("#matchesOutcome").val();
		if (outcome)
			url += "&outcome=" + outcome;
		$.get(url, function (data) {
			$("#playerWon1").html(data[0]);
			$("#playerWon2").html(data[1]);
		});
	}
	function clearMatchesFilter() {
		$("#matchesSeason").val("");
		$("#matchesLevel").val("");
		$("#matchesSurface").val("");
		$("#matchesRound").val("");
		$("#matchesTournament").val("");
		$("#matchesScore").val("");
		$("#matchesOutcome").val("");
		$("#matchesTable").bootgrid("search", "");
		reloadMatches();
	}
	function showRivalryStats(playerId1, playerId2, placement, event, invertScore) {
		var $rivalryStats = $("#rivalryStats-" + playerId2);
		if (!$rivalryStats.hasClass("loaded")) {
			event.preventDefault();
			var url = "/rivalryStats?playerId=" + playerId1 + "&opponentId=" + playerId2;
			url += "&season=" + $("#matchesSeason").val();
			url += "&level=" + $("#matchesLevel").val();
			url += "&surface=" + $("#matchesSurface").val();
			url += "&round=" + encodeURIComponent($("#matchesRound").val());
			url += "&tournamentId=" + $("#matchesTournament").val();
			var score = $("#matchesScore").val();
			if (invertScore)
				score = score.charAt(2) + score.charAt(1) + score.charAt(0) + score.substr(3);
			url += "&score=" + encodeURIComponent(score);
			url += "&outcome=" + $("#matchesOutcome").val();
			url += "&searchPhrase=" + $("#matchesTable-header").find("input.search-field").val();
			$.get(url, function(data) {
				$rivalryStats.addClass("loaded").popover({content: data, html: true, placement: "auto " + placement});
				$rivalryStats.on("show.bs.popover", function() { $(this).data("bs.popover").tip().css("max-width", "1000px"); }).click();
				$rivalryStats.data("statsURL", url);
			});
		}
	}
</script>
<div class="row text-nowrap">
	<div class="col-xs-5 text-right">
		<h4>
			<img th:src="@{/images/flags/{code}.png(code=${player1.country.code})}" src="/images/flags/ch.png'" style="margin-top: -3px" th:title="${player1.country.id}" title="SUI" width="24" height="20"/>
			<a th:href="@{/playerProfile(playerId=${player1.id})}" th:text="${player1.name}">Roger Federer</a>
		</h4>
	</div>
	<div class="col-xs-2 text-center">
		<h4><span id="playerWon1" th:text="${stats1.matchesWon}">15</span> : <span id="playerWon2" th:text="${stats1.matchesLost}">9</span></h4>
	</div>
	<div class="col-xs-5 text-left">
		<h4>
			<img th:src="@{/images/flags/{code}.png(code=${player2.country.code})}" src="/images/flags/es.png'" style="margin-top: -3px" th:title="${player2.country.id}" title="ESP" width="24" height="20"/>
			<a th:href="@{/playerProfile(playerId=${player2.id})}" th:text="${player2.name}">Rafael Nadal</a>
		</h4>
	</div>
</div>
<br/>
<div class="row">
	<div class="col-md-2">
		<select id="matchesSeason" class="form-control" onchange="reloadMatches()" data-toggle="tooltip" data-placement="top" title="Select career or filter by season">
			<option value="">Career</option>
			<option value="-1" th:selected="${season == -1}">Last 52 weeks</option>
			<option th:each="aSeason : ${seasons}" th:value="${aSeason}" value="2005" th:text="${aSeason}" th:selected="${aSeason == season}">2005</option>
		</select>
	</div>
	<div class="col-md-2">
		<select id="matchesLevel" class="form-control" onchange="reloadMatches()" data-toggle="tooltip" data-placement="top" title="Filter by tournament level">
			<option value="">All levels</option>
			<option th:each="aLevel : ${levels}" th:value="${aLevel.code}" th:class="|bg-level-${aLevel.code}|" value="G" class="bg-level-G" th:text="${aLevel.text}" th:selected="${aLevel.code == level}">Grand Slam</option>
			<option th:each="levelGroup : ${levelGroups}" th:value="${levelGroup.codes}" value="GFMO" th:text="${levelGroup.text}" th:selected="${levelGroup.codes == level}">Big Tournaments</option>
		</select>
	</div>
	<div class="col-md-2">
		<select id="matchesSurface" class="form-control" onchange="reloadMatches()" data-toggle="tooltip" data-placement="top" title="Filter by surface">
			<option value="">All surfaces</option>
			<option th:each="aSurface : ${surfaces}" th:value="${aSurface.code}" th:class="|bg-surface-${aSurface.code}|" value="H" class="bg-surface-H" th:text="${aSurface.text}" th:selected="${aSurface.code == surface}">Hard</option>
			<option th:each="surfaceGroup : ${surfaceGroups}" th:value="${surfaceGroup.codes}" value="HGP" th:text="${surfaceGroup.text}" th:selected="${surfaceGroup.codes.length() > 1 && surfaceGroup.codes == surface}">Fast (H, G, Cp)</option>
		</select>
	</div>
	<div class="col-md-2">
		<select id="matchesRound" class="form-control" onchange="reloadMatches()" data-toggle="tooltip" data-placement="top" title="Filter by round">
			<option value="">All rounds</option>
			<option th:each="aRound : ${rounds}" th:value="${aRound.code}" th:class="|bg-result-${aRound.baseCode}|" value="F" class="bg-result-F" th:text="${aRound.text}" th:selected="${aRound.code == round}">Final</option>
		</select>
	</div>
	<div class="col-md-2">
		<select id="matchesTournament" class="form-control" onchange="reloadMatches()" data-toggle="tooltip" data-placement="top" title="Filter by tournament">
			<option value="">All tournaments</option>
			<option th:each="tournament : ${tournaments}" th:value="${tournament.id}" value="101" th:text="${tournament.name}" th:class="'bg-level-' + ${tournament.level}">Wimbledon</option>
		</select>
	</div>
	<div class="col-md-2">
		<select id="matchesScore" class="form-control" onchange="reloadMatches()" data-toggle="tooltip" data-placement="top" title="Filter by match score">
			<option value="">All scores</option>
			<optgroup label="Best of 3">
				<option value="2:0">2:0</option>
				<option value="2:1">2:1</option>
				<option value="1:2">1:2</option>
				<option value="0:2">0:2</option>
			</optgroup>
			<optgroup label="Best of 5">
				<option value="3:0">3:0</option>
				<option value="3:1">3:1</option>
				<option value="3:2">3:2</option>
				<option value="2:3">2:3</option>
				<option value="1:3">1:3</option>
				<option value="0:3">0:3</option>
			</optgroup>
			<optgroup label="After">
				<option value="1:0+">After 1:0</option>
				<option value="0:1+">After 0:1</option>
				<option value="1:1+">After 1:1</option>
				<option value="2:0+">After 2:0</option>
				<option value="0:2+">After 0:2</option>
				<option value="2:1+">After 2:1</option>
				<option value="1:2+">After 1:2</option>
				<option value="2:2+">After 2:2</option>
			</optgroup>
		</select>
	</div>
</div>
<button th:id="|rivalryStats-${player2.id}|" type="button" class="btn btn-info grid-control pull-left no-margin-left margin-right" th:onclick="|showRivalryStats(${player1.id}, ${player2.id}, 'right', event, false)|" data-toggle="tooltip" data-placement="top" th:title="|${player1.name} vs ${player2.name} Statistics (for the selected matches)|">
	<span class="glyphicon glyphicon-stats"></span>&nbsp;&nbsp;Stats 1
</button>
<div id="matchesOutcomeDiv" class="btn-group pull-left">
	<select id="matchesOutcome" class="form-control" onchange="reloadMatches()" data-toggle="tooltip" data-placement="top" title="Filter by outcome">
		<option value="">All matches</option>
		<option value="played" th:selected="${outcome == 'played'}">Played</option>
		<option value="finished" th:selected="${outcome == 'finished'}">Finished</option>
		<option value="notFinished" th:selected="${outcome == 'notFinished'}">Not finished</option>
		<option value="RET" th:selected="${outcome == 'RET'}">Retirement</option>
		<option value="W/O" th:selected="${outcome == 'W/O'}">Walkover</option>
		<option value="DEF" th:selected="${outcome == 'DEF'}">Defaulting</option>
		<option value="ABD" th:selected="${outcome == 'ABD'}">Abandoned</option>
		<option value="notPlayed" th:selected="${outcome == 'notPlayed'}">Not played</option>
	</select>
</div>
<button th:id="|rivalryStats-${player1.id}|" type="button" class="btn btn-info grid-control margin-right" th:onclick="|showRivalryStats(${player2.id}, ${player1.id}, 'left', event, true)|" data-toggle="tooltip" data-placement="top" th:title="|${player2.name} vs ${player1.name} Statistics (for the selected matches)|">
	<span class="glyphicon glyphicon-stats"></span>&nbsp;&nbsp;Stats 2
</button>
<button id="clearDiv" type="button" class="btn btn-default grid-control margin-right" onclick="clearMatchesFilter()" data-toggle="tooltip" data-placement="top" title="Clear all filters">
	<span class="glyphicon glyphicon-erase"></span>&nbsp;&nbsp;Clear
</button>
<table id="matchesTable" class="table table-condensed table-hover table-striped">
	<thead>
	<tr>
		<th data-column-id="date" data-formatter="date" data-order="desc" data-width="85">Date</th>
		<th data-column-id="tournament" data-formatter="tournament" data-width="175">Tournament</th>
		<th data-column-id="surface" data-formatter="surface" data-width="80">Surface</th>
		<th data-column-id="round" data-width="75">Round</th>
		<th data-column-id="match" data-formatter="match" data-sortable="false" data-width="300">Match</th>
		<th data-column-id="score" data-sortable="false" data-width="175">Score</th>
		<th data-column-id="stats" data-formatter="stats" data-sortable="false" data-width="75">Stats</th>
	</tr>
	</thead>
</table>
</th:block>