<th:block  xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="playerId1" type="java.lang.Integer"*/-->
<!--/*@thymesVar id="playerId2" type="java.lang.Integer"*/-->
<!--/*@thymesVar id="seasons" type="java.util.NavigableSet<java.lang.Integer>"*/-->
<!--/*@thymesVar id="levels" type="java.util.Set<org.strangeforest.tcb.stats.model.core.TournamentLevel>"*/-->
<!--/*@thymesVar id="levelGroups" type="java.util.Set<org.strangeforest.tcb.stats.model.core.TournamentLevelGroup>"*/-->
<!--/*@thymesVar id="surfaces" type="org.strangeforest.tcb.stats.model.core.Surface[]"*/-->
<!--/*@thymesVar id="surfaceGroups" type="org.strangeforest.tcb.stats.model.core.SurfaceGroup[]"*/-->
<!--/*@thymesVar id="speeds" type="org.strangeforest.tcb.stats.model.core.CourtSpeed[]"*/-->
<!--/*@thymesVar id="rounds" type="org.strangeforest.tcb.stats.model.core.Round[]"*/-->
<!--/*@thymesVar id="results" type="org.strangeforest.tcb.stats.model.core.EventResult[]"*/-->
<!--/*@thymesVar id="tournaments" type="java.util.Set<org.strangeforest.tcb.stats.model.core.TournamentItem>"*/-->
<!--/*@thymesVar id="opponentCategories" type="java.util.Map<org.strangeforest.tcb.stats.service.Opponent.OpponentCategory, List<org.strangeforest.tcb.stats.service.Opponent>>"*/-->
<!--/*@thymesVar id="countries" type="java.util.List<com.neovisionaries.i18n.CountryCode>"*/-->
<!--/*@thymesVar id="season" type="java.lang.Integer"*/-->
<!--/*@thymesVar id="fromDate" type="java.time.LocalDate"*/-->
<!--/*@thymesVar id="toDate" type="java.time.LocalDate"*/-->
<!--/*@thymesVar id="level" type="java.lang.String"*/-->
<!--/*@thymesVar id="bestOf" type="java.lang.Integer"*/-->
<!--/*@thymesVar id="surface" type="java.lang.String"*/-->
<!--/*@thymesVar id="indoor" type="java.lang.Boolean"*/-->
<!--/*@thymesVar id="speed" type="java.lang.Integer"*/-->
<!--/*@thymesVar id="round" type="java.lang.String>"*/-->
<!--/*@thymesVar id="result" type="java.lang.String"*/-->
<!--/*@thymesVar id="tournamentId" type="java.lang.Integer>"*/-->
<!--/*@thymesVar id="h2h" type="java.lang.Boolean"*/-->
<!--/*@thymesVar id="opponent" type="java.lang.String>"*/-->
<!--/*@thymesVar id="countryId" type="java.lang.String>"*/-->
<!--/*@thymesVar id="advFilter" type="java.lang.Boolean"*/-->
<!--/*@thymesVar id="rawData" type="java.lang.Boolean"*/-->
<!--/*@thymesVar id="perf1" type="org.strangeforest.tcb.stats.model.PlayerPerformanceEx"*/-->
<!--/*@thymesVar id="perf2" type="org.strangeforest.tcb.stats.model.PlayerPerformanceEx"*/-->
<!--/*@thymesVar id="perfSurfaces" type="java.util.Set<org.strangeforest.tcb.stats.model.core.Surface>"*/-->
<!--/*@thymesVar id="perfIndoors" type="java.util.Set<java.lang.Boolean>"*/-->
<!--/*@thymesVar id="perfLevels" type="java.util.Set<org.strangeforest.tcb.stats.model.core.TournamentLevel>"*/-->
<!--/*@thymesVar id="perfBestOfs" type="java.util.Set<java.lang.Integer>"*/-->
<!--/*@thymesVar id="perfOppositions" type="java.util.Set<org.strangeforest.tcb.stats.service.Opponent>"*/-->
<!--/*@thymesVar id="perfRounds" type="java.util.Set<org.strangeforest.tcb.stats.model.core.Round>"*/-->
<!--/*@thymesVar id="perfScores" type="java.util.Set<java.lang.String>"*/-->
<!--/*@thymesVar id="perfResults" type="java.util.Set<org.strangeforest.tcb.stats.model.core.EventResult>"*/-->
<!--/*@thymesVar id="_" type="java.lang.String"*/-->
<script type="text/javascript">
	var perfRawData = [(${rawData})];
	$(function() {
		$("#h2hPerformance").find(perfRawData ? ".pct-data" : ".raw-data").hide();
		$("#h2hPerformanceTable").find("span.label-surface").each(function() {
			var $label = $(this);
			var surface = $label.data("surface");
			$label.addClass("label-" + surfaceClassSuffix(surface));
		});
		dateRangePicker("perfFromDate", "perfToDate", "[(${!seasons.empty ? (seasons.last() + ':' + seasons.first()) : _})]");
		$("[data-toggle='tooltip']").tooltip();
	});
	function reloadPerformance() {
		if (!validatePerformanceFilter())
			return;
		var url = "/h2hPerformance?playerId1=[(${playerId1})]&playerId2=[(${playerId2})]";
		url += "&season=" + $("#perfSeason").val();
		url += "&fromDate=" + $("#perfFromDate").val();
		url += "&toDate=" + $("#perfToDate").val();
		url += "&level=" + $("#perfLevel").val();
		url += "&bestOf=" + $("#perfBestOf").val();
		url += "&surface=" + $("#perfSurface").val();
		url += "&indoor=" + $("#perfIndoor").val();
		url += "&speed=" + $("#perfSpeed").val();
		url += "&round=" + encodeURIComponent($("#perfRound").val());
		url += "&result=" + encodeURIComponent($("#perfResult").val());
		url += "&tournamentId=" + $("#perfTournament").val();
		url += "&h2h=" + $("#perfH2h").prop("checked");
		url += "&opponent=" + $("#perfOpponent").val();
		url += "&countryId=" + $("#perfCountry").val();
		url += "&advFilter=" + $("#perfAdvancedFilter").hasClass("in");
		url += "&rawData=" + perfRawData;
		$("#performance").load(url);
	}
	function validatePerformanceFilter() {
		return getDate("perfFromDate", "from date") !== null && getDate("perfToDate", "to date") !== null;
	}
	function clearPerformanceFilter() {
		$("#perfSeason").val("");
		$("#perfFromDate").val("");
		$("#perfToDate").val("");
		$("#perfLevel").val("");
		$("#perfBestOf").val("");
		$("#perfSurface").val("");
		$("#perfIndoor").val("");
		$("#perfSpeed").val("");
		$("#perfRound").val("");
		$("#perfResult").val("");
		$("#perfTournament").val("");
		clearH2h();
		clearOpponent();
		reloadPerformance();
	}
	function clearH2h() {
		$("#perfH2h").prop("checked", false);
	}
	function clearOpponent() {
		$("#perfOpponent").val("");
		$("#perfCountry").val("");
	}
	function h2hChanged() {
		if ($("#perfH2h").prop("checked"))
			clearOpponent();
	}
	function opponentChanged() {
		if ($("#perfOpponent").val() != "")
			clearH2h();
	}
	function countryChanged() {
		if ($("#perfCountry").val() != "")
			clearH2h();
	}
</script>
<style scoped="scoped">
	.label-overall {
		background-color: #555;
	}
	.progress-perf {
		width: 200px;
		background-color: #dddddd;
		margin-bottom: 0;
	}
	.progress-bar > a {
		color: white;
	}
</style>
<br/>
<div class="row">
	<div class="col-md-2">
		<select id="perfSeason" class="form-control" onchange="reloadPerformance()" data-toggle="tooltip" data-placement="top" title="Select career or filter by season">
			<option value="">Career</option>
			<option value="-1" th:selected="${season == -1}">Last 52 weeks</option>
			<option th:each="aSeason : ${seasons}" th:value="${aSeason}" value="2005" th:text="${aSeason}" th:selected="${aSeason == season}">2005</option>
		</select>
	</div>
	<div class="col-md-2">
		<select id="perfLevel" class="form-control" onchange="reloadPerformance()" data-toggle="tooltip" data-placement="top" title="Filter by tournament level">
			<option value="">All levels</option>
			<option th:each="aLevel : ${levels}" th:value="${aLevel.code}" th:class="|bg-level-${aLevel.code}|" value="G" class="bg-level-G" th:text="${aLevel.text}" th:selected="${aLevel.code == level}">Grand Slam</option>
			<option th:each="levelGroup : ${levelGroups}" th:value="${levelGroup.codes}" value="GFLMO" th:text="${levelGroup.text}" th:selected="${levelGroup.codes == level}">Big Tournaments</option>
		</select>
	</div>
	<div class="col-md-2">
		<select id="perfSurface" class="form-control" onchange="reloadPerformance()" data-toggle="tooltip" data-placement="top" title="Filter by surface">
			<option value="">All surfaces</option>
			<option th:each="aSurface : ${surfaces}" th:value="${aSurface.code}" th:class="|bg-surface-${aSurface.code}|" value="H" class="bg-surface-H" th:text="${aSurface.text}" th:selected="${aSurface.code == surface}">Hard</option>
			<option th:each="surfaceGroup : ${surfaceGroups}" th:value="${surfaceGroup.codes}" value="HGP" th:text="${surfaceGroup.text}" th:selected="${surfaceGroup.codes.length() > 1 && surfaceGroup.codes == surface}">Fast (H, G, Cp)</option>
		</select>
	</div>
	<div class="col-md-2">
		<select id="perfRound" class="form-control" onchange="reloadPerformance()" data-toggle="tooltip" data-placement="top" title="Filter by round">
			<option value="">All rounds</option>
			<option th:each="aRound : ${rounds}" th:value="${aRound.code}" th:class="|bg-result-${aRound.baseCode}|" value="F" class="bg-result-F" th:text="${aRound.text}" th:selected="${aRound.code == round}">Final</option>
		</select>
	</div>
	<div class="col-md-1">
		<div class="checkbox">
			<label data-toggle="tooltip" data-placement="top" title="Include performance only against H2H opponent">
				<input id="perfH2h" type="checkbox" th:checked="${h2h}" onchange="h2hChanged(); reloadPerformance()"/> H2H
			</label>
		</div>
	</div>
	<div class="col-md-2">
		<button type="button" class="btn btn-default" onclick="clearPerformanceFilter()" data-toggle="tooltip" data-placement="top" title="Clear all filters">
			<i class="fa fa-eraser"></i>&nbsp;&nbsp;Clear
		</button>
	</div>
	<div class="col-md-1">
		<div class="pull-right" data-toggle="tooltip" data-placement="auto" title="Advanced filters">
			<button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#perfAdvancedFilter">
				<i class="fa fa-folder-open"></i>&nbsp;&nbsp;Adv.&nbsp;&nbsp;<i class="fa fa-chevron-down"></i>
			</button>
		</div>
	</div>
</div>
<div id="perfAdvancedFilter" class="collapse" th:attrappend="class=${advFilter ? ' in' : _}">
	<div class="row margin-top">
		<div class="col-md-4">
			<div id="perfDateRange" class="input-group">
				<label for="perfFromDate" class="input-group-addon">From:</label>
				<input id="perfFromDate" type="text" maxlength="10" class="form-control" th:value="${#temporals.format(fromDate, 'dd-MM-yyyy')}" onchange="reloadPerformance()"/>
				<label for="perfToDate" class="input-group-addon">To:</label>
				<input id="perfToDate" type="text" maxlength="10" class="form-control" th:value="${#temporals.format(toDate, 'dd-MM-yyyy')}" onchange="reloadPerformance()"/>
			</div>
		</div>
		<div class="col-md-2">
			<select id="perfIndoor" class="form-control" onchange="reloadPerformance()" data-toggle="tooltip" data-placement="top" title="Filter by outdoor / indoor">
				<option value="">Outdoor / Indoor</option>
				<option value="false" th:selected="${indoor == false}">Outdoor</option>
				<option value="true" th:selected="${indoor}">Indoor</option>
			</select>
		</div>
		<div class="col-md-2">
			<select id="perfResult" class="form-control" onchange="reloadPerformance()" data-toggle="tooltip" data-placement="top" title="Filter by tournament result">
				<option value="">All results</option>
				<option th:each="aResult : ${results}" th:value="${aResult.code}" th:class="|bg-result-${aResult.baseCode}|" value="W" class="bg-result-W" th:text="${aResult.text}" th:selected="${aResult.code == result}">Win</option>
			</select>
		</div>
		<div class="col-md-2">
			<select id="perfOpponent" class="form-control" onchange="opponentChanged(); reloadPerformance()" data-toggle="tooltip" data-placement="top" title="Filter by opponent">
				<option value="">Vs all</option>
				<optgroup th:each="opponentCategory : ${opponentCategories}" th:label="${opponentCategory.key.text}" label="Rank">
					<option th:each="anOpponent : ${opponentCategory.value}" th:value="${anOpponent}" value="NO_1" th:text="${anOpponent.text}" th:selected="${anOpponent.name() == opponent}">Vs No. 1</option>
				</optgroup>
			</select>
		</div>
	</div>
	<div class="row margin-top">
		<div class="col-md-2">
			<select id="perfBestOf" class="form-control" onchange="reloadPerformance()" data-toggle="tooltip" data-placement="top" title="Filter by best of">
				<option value="">Best of any</option>
				<option value="3" th:selected="${bestOf == 3}">Best of 3</option>
				<option value="5" th:selected="${bestOf == 5}">Best of 5</option>
			</select>
		</div>
		<div class="col-md-2">
			<select id="perfSpeed" class="form-control" onchange="reloadPerformance()" data-toggle="tooltip" data-placement="top" title="Filter by court speed">
				<option value="">All speeds</option>
				<option th:each="aSpeed : ${speeds}" th:value="${aSpeed.speed}" th:class="|points-${aSpeed.speed}|" style="color: white" value="50" class="points-50" th:text="${aSpeed.text}" th:selected="${aSpeed.speed == speed}">Medium</option>
			</select>
		</div>
		<div class="col-md-3">
			<select id="perfTournament" class="form-control" onchange="reloadPerformance()" data-toggle="tooltip" data-placement="top" title="Filter by tournament">
				<option value="">All tournaments</option>
				<option th:each="tournament : ${tournaments}" th:value="${tournament.id}" value="101" th:text="${tournament.name}" th:class="'bg-level-' + ${tournament.level}" th:selected="${tournament.id == tournamentId}">Wimbledon</option>
			</select>
		</div>
		<div class="col-md-3">
			<select id="perfCountry" class="form-control" onchange="countryChanged(); reloadPerformance()" data-toggle="tooltip" data-placement="top" title="Filter by opponent country">
				<option value="">Vs all countries</option>
				<option th:each="country : ${countries}" th:value="${country.alpha3}" value="SUI" th:text="${country.name}" th:selected="${country.alpha3 == countryId}">Switzerland</option>
			</select>
		</div>
	</div>
</div>
<br/>
<div id="h2hPerformance">
	<table id="h2hPerformanceTable" th:unless="${perf1.empty && perf2.empty}" class="table table-condensed table-hover table-striped text-nowrap">
		<tr class="text-nowrap" th:with="wl1=${perf1.matches}, wl2=${perf2.matches}, wlc=${wl2.compareTo(wl1)}">
			<th class="text-right" width="40%">
				<div th:unless="${wl1.empty}" class="progress progress-perf pull-right">
					<div class="progress-bar progress-bar-perf" th:attrappend="class=${wlc > 0 ? '-w' : (wlc < 0 ? '-l' : _)}" role="progressbar" th:style="'width: ' + ${wl1.wonPctStr}" th:attr="aria-valuenow=${wl1.wonPct}" aria-valuemin="0" aria-valuemax="100">
						<a th:href="@{/playerProfile(playerId=${playerId1}, tab=matches, season=${season}, fromDate=${#temporals.format(fromDate, 'dd-MM-yyyy')}, toDate=${#temporals.format(toDate, 'dd-MM-yyyy')}, level=${level}, bestOf=${bestOf}, surface=${surface}, indoor=${indoor}, speed=${speed}, round=${round}, result=${result}, tournamentId=${tournamentId}, opponent=${h2h ? 'OPP_' + playerId2 : opponent}, countryId=${countryId}, outcome=played)}" title="Show matches">
							<span class="pct-data" th:text="${wl1.pctWL}">50% (10-10)</span>
							<span class="raw-data" th:text="${wl1.WLT}">10 - 10 / 20</span>
						</a>
					</div>
				</div>
			</th>
			<th class="text-center"><span class="label label-overall">Overall</span></th>
			<th class="text-left" width="40%">
				<div th:unless="${wl2.empty}" class="progress progress-perf pull-left">
					<div class="progress-bar progress-bar-perf" th:attrappend="class=${wlc < 0 ? '-w' : (wlc > 0 ? '-l' : _)}" role="progressbar" th:style="'width: ' + ${wl2.wonPctStr}" th:attr="aria-valuenow=${wl2.wonPct}" aria-valuemin="0" aria-valuemax="100">
						<a th:href="@{/playerProfile(playerId=${playerId2}, tab=matches, season=${season}, fromDate=${#temporals.format(fromDate, 'dd-MM-yyyy')}, toDate=${#temporals.format(toDate, 'dd-MM-yyyy')}, level=${level}, bestOf=${bestOf}, surface=${surface}, indoor=${indoor}, speed=${speed}, round=${round}, result=${result}, tournamentId=${tournamentId}, opponent=${h2h ? 'OPP_' + playerId1 : opponent}, countryId=${countryId}, outcome=played)}" title="Show matches">
							<span class="pct-data" th:text="${wl2.pctWL}">50% (10-10)</span>
							<span class="raw-data" th:text="${wl2.WLT}">10 - 10 / 20</span>
						</a>
					</div>
				</div>
			</th>
		</tr>
		<th:block th:if="${surface == null || surface.empty || surface.length() > 1}">
		<tr>
			<td colspan="3">&nbsp;</td>
		</tr>
		<tr>
			<td></td><th class="text-center">Surface Breakdown</th><td></td>
		</tr>
		<tr th:each="surface : ${perfSurfaces}" class="text-nowrap" th:with="wl1=${perf1.surfaceMatches.get(surface)}, wl2=${perf2.surfaceMatches.get(surface)}, wlc=${wl1 != null ? (wl2 != null ? wl2.compareTo(wl1) : 1) : -1}">
			<th class="text-right">
				<div th:if="${wl1}" class="progress progress-perf pull-right">
					<div class="progress-bar progress-bar-perf" th:attrappend="class=${wlc > 0 ? '-w' : (wlc < 0 ? '-l' : _)}" th:data-surface="${surface.code}" role="progressbar" th:style="'width: ' + ${wl1.wonPctStr}" th:attr="aria-valuenow=${wl1.wonPct}" aria-valuemin="0" aria-valuemax="100">
						<a th:href="@{/playerProfile(playerId=${playerId1}, tab=matches, season=${season}, fromDate=${#temporals.format(fromDate, 'dd-MM-yyyy')}, toDate=${#temporals.format(toDate, 'dd-MM-yyyy')}, level=${level}, bestOf=${bestOf}, surface=${surface.code}, indoor=${indoor}, speed=${speed}, round=${round}, result=${result}, tournamentId=${tournamentId}, opponent=${h2h ? 'OPP_' + playerId2 : opponent}, countryId=${countryId}, outcome=played)}" th:title="|Show ${surface.text} matches|">
							<span class="pct-data" th:text="${wl1.pctWL}">50% (10-10)</span>
							<span class="raw-data" th:text="${wl1.WLT}">10 - 10 / 20</span>
						</a>
					</div>
				</div>
			</th>
			<th class="text-center"><span class="label label-surface" th:data-surface="${surface.code}" th:text="${surface.text}">Hard</span></th>
			<th class="text-left">
				<div th:if="${wl2}" class="progress progress-perf pull-left">
					<div class="progress-bar progress-bar-perf" th:attrappend="class=${wlc < 0 ? '-w' : (wlc > 0 ? '-l' : _)}" th:data-surface="${surface.code}" role="progressbar" th:style="'width: ' + ${wl2.wonPctStr}" th:attr="aria-valuenow=${wl2.wonPct}" aria-valuemin="0" aria-valuemax="100">
						<a th:href="@{/playerProfile(playerId=${playerId2}, tab=matches, season=${season}, fromDate=${#temporals.format(fromDate, 'dd-MM-yyyy')}, toDate=${#temporals.format(toDate, 'dd-MM-yyyy')}, level=${level}, bestOf=${bestOf}, surface=${surface.code}, indoor=${indoor}, speed=${speed}, round=${round}, result=${result}, tournamentId=${tournamentId}, opponent=${h2h ? 'OPP_' + playerId1 : opponent}, countryId=${countryId}, outcome=played)}" th:title="|Show ${surface.text} matches|">
							<span class="pct-data" th:text="${wl2.pctWL}">50% (10-10)</span>
							<span class="raw-data" th:text="${wl2.WLT}">10 - 10 / 20</span>
						</a>
					</div>
				</div>
			</th>
		</tr>
		</th:block>
		<th:block th:if="${indoor == null}">
		<tr>
			<td colspan="3">&nbsp;</td>
		</tr>
		<tr>
			<td></td><th class="text-center">Outdoor / Indoor Breakdown</th><td></td>
		</tr>
		<tr th:each="indoor : ${perfIndoors}" class="text-nowrap" th:with="wl1=${perf1.outdoorIndoorMatches.get(indoor)}, wl2=${perf2.outdoorIndoorMatches.get(indoor)}, wlc=${wl1 != null ? (wl2 != null ? wl2.compareTo(wl1) : 1) : -1}">
			<th class="text-right">
				<div th:if="${wl1}" class="progress progress-perf pull-right">
					<div class="progress-bar progress-bar-perf" th:attrappend="class=${wlc > 0 ? '-w' : (wlc < 0 ? '-l' : _)}" role="progressbar" th:style="'width: ' + ${wl1.wonPctStr}" th:attr="aria-valuenow=${wl1.wonPct}" aria-valuemin="0" aria-valuemax="100">
						<a th:href="@{/playerProfile(playerId=${playerId1}, tab=matches, season=${season}, fromDate=${#temporals.format(fromDate, 'dd-MM-yyyy')}, toDate=${#temporals.format(toDate, 'dd-MM-yyyy')}, level=${level}, bestOf=${bestOf}, surface=${surface}, indoor=${indoor}, speed=${speed}, round=${round}, result=${result}, tournamentId=${tournamentId}, opponent=${h2h ? 'OPP_' + playerId2 : opponent}, countryId=${countryId}, outcome=played)}" th:title="|Show ${indoor ? 'Indoor' : 'Outdoor'} matches|">
							<span class="pct-data" th:text="${wl1.pctWL}">50% (10-10)</span>
							<span class="raw-data" th:text="${wl1.WLT}">10 - 10 / 20</span>
						</a>
					</div>
				</div>
			</th>
			<th class="text-center" th:text="${indoor ? 'Indoor' : 'Outdoor'}">Outdoor</th>
			<th class="text-left">
				<div th:if="${wl2}" class="progress progress-perf pull-left">
					<div class="progress-bar progress-bar-perf" th:attrappend="class=${wlc < 0 ? '-w' : (wlc > 0 ? '-l' : _)}" role="progressbar" th:style="'width: ' + ${wl2.wonPctStr}" th:attr="aria-valuenow=${wl2.wonPct}" aria-valuemin="0" aria-valuemax="100">
						<a th:href="@{/playerProfile(playerId=${playerId2}, tab=matches, season=${season}, fromDate=${#temporals.format(fromDate, 'dd-MM-yyyy')}, toDate=${#temporals.format(toDate, 'dd-MM-yyyy')}, level=${level}, bestOf=${bestOf}, surface=${surface}, indoor=${indoor}, speed=${speed}, round=${round}, result=${result}, tournamentId=${tournamentId}, opponent=${h2h ? 'OPP_' + playerId1 : opponent}, countryId=${countryId}, outcome=played)}" th:title="|Show ${indoor ? 'Indoor' : 'Outdoor'} matches|">
							<span class="pct-data" th:text="${wl2.pctWL}">50% (10-10)</span>
							<span class="raw-data" th:text="${wl2.WLT}">10 - 10 / 20</span>
						</a>
					</div>
				</div>
			</th>
		</tr>
		</th:block>
		<th:block th:if="${speed == null}">
		<tr>
			<td colspan="3">&nbsp;</td>
		</tr>
		<tr>
			<td></td><th class="text-center">Court Speed Breakdown</th><td></td>
		</tr>
		<tr th:each="speed : ${perfSpeeds}" class="text-nowrap" th:with="wl1=${perf1.speedMatches.get(speed)}, wl2=${perf2.speedMatches.get(speed)}, wlc=${wl1 != null ? (wl2 != null ? wl2.compareTo(wl1) : 1) : -1}">
			<th class="text-right">
				<div th:if="${wl1}" class="progress progress-perf pull-right">
					<div class="progress-bar progress-bar-perf" th:attrappend="class=${wlc > 0 ? '-w' : (wlc < 0 ? '-l' : _)}" role="progressbar" th:style="'width: ' + ${wl1.wonPctStr}" th:attr="aria-valuenow=${wl1.wonPct}" aria-valuemin="0" aria-valuemax="100">
						<a th:href="@{/playerProfile(playerId=${playerId1}, tab=matches, season=${season}, fromDate=${#temporals.format(fromDate, 'dd-MM-yyyy')}, toDate=${#temporals.format(toDate, 'dd-MM-yyyy')}, level=${level}, bestOf=${bestOf}, surface=${surface}, indoor=${indoor}, speed=${speed.speed}, round=${round}, result=${result}, tournamentId=${tournamentId}, opponent=${h2h ? 'OPP_' + playerId2 : opponent}, countryId=${countryId}, outcome=played)}" th:title="|Show ${speed.text} court speed matches|">
							<span class="pct-data" th:text="${wl1.pctWL}">50% (10-10)</span>
							<span class="raw-data" th:text="${wl1.WLT}">10 - 10 / 20</span>
						</a>
					</div>
				</div>
			</th>
			<th class="text-center" th:text="${speed.text}" th:title="${speed.speedRange}">Outdoor</th>
			<th class="text-left">
				<div th:if="${wl2}" class="progress progress-perf pull-left">
					<div class="progress-bar progress-bar-perf" th:attrappend="class=${wlc < 0 ? '-w' : (wlc > 0 ? '-l' : _)}" role="progressbar" th:style="'width: ' + ${wl2.wonPctStr}" th:attr="aria-valuenow=${wl2.wonPct}" aria-valuemin="0" aria-valuemax="100">
						<a th:href="@{/playerProfile(playerId=${playerId2}, tab=matches, season=${season}, fromDate=${#temporals.format(fromDate, 'dd-MM-yyyy')}, toDate=${#temporals.format(toDate, 'dd-MM-yyyy')}, level=${level}, bestOf=${bestOf}, surface=${surface}, indoor=${indoor}, speed=${speed.speed}, round=${round}, result=${result}, tournamentId=${tournamentId}, opponent=${h2h ? 'OPP_' + playerId1 : opponent}, countryId=${countryId}, outcome=played)}" th:title="|Show ${speed.text} court speed matches|">
							<span class="pct-data" th:text="${wl2.pctWL}">50% (10-10)</span>
							<span class="raw-data" th:text="${wl2.WLT}">10 - 10 / 20</span>
						</a>
					</div>
				</div>
			</th>
		</tr>
		</th:block>
		<th:block th:if="${level == null || level.empty || level.length() > 1}">
		<tr>
			<td colspan="3">&nbsp;</td>
		</tr>
		<tr>
			<td></td><th class="text-center" title="Tournament Level Breakdown">Level Breakdown</th><td></td>
		</tr>
		<tr th:each="level : ${perfLevels}" class="text-nowrap" th:with="wl1=${perf1.levelMatches.get(level)}, wl2=${perf2.levelMatches.get(level)}, wlc=${wl1 != null ? (wl2 != null ? wl2.compareTo(wl1) : 1) : -1}">
			<th class="text-right">
				<div th:if="${wl1}" class="progress progress-perf pull-right">
					<div class="progress-bar progress-bar-perf" th:attrappend="class=${wlc > 0 ? '-w' : (wlc < 0 ? '-l' : _)}" role="progressbar" th:style="'width: ' + ${wl1.wonPctStr}" th:attr="aria-valuenow=${wl1.wonPct}" aria-valuemin="0" aria-valuemax="100">
						<a th:href="@{/playerProfile(playerId=${playerId1}, tab=matches, season=${season}, fromDate=${#temporals.format(fromDate, 'dd-MM-yyyy')}, toDate=${#temporals.format(toDate, 'dd-MM-yyyy')}, level=${level.code}, bestOf=${bestOf}, surface=${surface}, indoor=${indoor}, speed=${speed}, round=${round}, result=${result}, tournamentId=${tournamentId}, opponent=${h2h ? 'OPP_' + playerId2 : opponent}, countryId=${countryId}, outcome=played)}" th:title="|Show ${level.text} matches|">
							<span class="pct-data" th:text="${wl1.pctWL}">50% (10-10)</span>
							<span class="raw-data" th:text="${wl1.WLT}">10 - 10 / 20</span>
						</a>
					</div>
				</div>
			</th>
			<th class="text-center"><span class="label label-" th:attrappend="class=${level.code}" th:text="${level.text}">Grand Slam</span></th>
			<th class="text-left">
				<div th:if="${wl2}" class="progress progress-perf pull-left">
					<div class="progress-bar progress-bar-perf" th:attrappend="class=${wlc < 0 ? '-w' : (wlc > 0 ? '-l' : _)}" role="progressbar" th:style="'width: ' + ${wl2.wonPctStr}" th:attr="aria-valuenow=${wl2.wonPct}" aria-valuemin="0" aria-valuemax="100">
						<a th:href="@{/playerProfile(playerId=${playerId2}, tab=matches, season=${season}, fromDate=${#temporals.format(fromDate, 'dd-MM-yyyy')}, toDate=${#temporals.format(toDate, 'dd-MM-yyyy')}, level=${level.code}, bestOf=${bestOf}, surface=${surface}, indoor=${indoor}, speed=${speed}, round=${round}, result=${result}, tournamentId=${tournamentId}, opponent=${h2h ? 'OPP_' + playerId1 : opponent}, countryId=${countryId}, outcome=played)}" th:title="|Show ${level.text} matches|">
							<span class="pct-data" th:text="${wl2.pctWL}">50% (10-10)</span>
							<span class="raw-data" th:text="${wl2.WLT}">10 - 10 / 20</span>
						</a>
					</div>
				</div>
			</th>
		</tr>
		</th:block>
		<th:block th:if="${bestOf == null}">
			<tr>
				<td colspan="3">&nbsp;</td>
			</tr>
			<tr>
				<td></td><th class="text-center">Best of Breakdown</th><td></td>
			</tr>
			<tr th:each="bestOf : ${perfBestOfs}" class="text-nowrap" th:with="wl1=${perf1.bestOfMatches.get(bestOf)}, wl2=${perf2.bestOfMatches.get(bestOf)}, wlc=${wl1 != null ? (wl2 != null ? wl2.compareTo(wl1) : 1) : -1}">
				<th class="text-right">
					<div th:if="${wl1}" class="progress progress-perf pull-right">
						<div class="progress-bar progress-bar-perf" th:attrappend="class=${wlc > 0 ? '-w' : (wlc < 0 ? '-l' : _)}" role="progressbar" th:style="'width: ' + ${wl1.wonPctStr}" th:attr="aria-valuenow=${wl1.wonPct}" aria-valuemin="0" aria-valuemax="100">
							<a th:href="@{/playerProfile(playerId=${playerId1}, tab=matches, season=${season}, fromDate=${#temporals.format(fromDate, 'dd-MM-yyyy')}, toDate=${#temporals.format(toDate, 'dd-MM-yyyy')}, level=${level}, bestOf=${bestOf}, surface=${surface}, indoor=${indoor}, speed=${speed}, round=${round}, result=${result}, tournamentId=${tournamentId}, opponent=${h2h ? 'OPP_' + playerId2 : opponent}, countryId=${countryId}, outcome=played)}" th:title="|Show Best of ${bestOf} matches|">
								<span class="pct-data" th:text="${wl1.pctWL}">50% (10-10)</span>
								<span class="raw-data" th:text="${wl1.WLT}">10 - 10 / 20</span>
							</a>
						</div>
					</div>
				</th>
				<th class="text-center" th:text="|Best of ${bestOf}|">Best of 3</th>
				<th class="text-left">
					<div th:if="${wl2}" class="progress progress-perf pull-left">
						<div class="progress-bar progress-bar-perf" th:attrappend="class=${wlc < 0 ? '-w' : (wlc > 0 ? '-l' : _)}" role="progressbar" th:style="'width: ' + ${wl2.wonPctStr}" th:attr="aria-valuenow=${wl2.wonPct}" aria-valuemin="0" aria-valuemax="100">
							<a th:href="@{/playerProfile(playerId=${playerId2}, tab=matches, season=${season}, fromDate=${#temporals.format(fromDate, 'dd-MM-yyyy')}, toDate=${#temporals.format(toDate, 'dd-MM-yyyy')}, level=${level}, bestOf=${bestOf}, surface=${surface}, indoor=${indoor}, speed=${speed}, round=${round}, result=${result}, tournamentId=${tournamentId}, opponent=${h2h ? 'OPP_' + playerId1 : opponent}, countryId=${countryId}, outcome=played)}" th:title="|Show Best of ${bestOf} matches|">
								<span class="pct-data" th:text="${wl2.pctWL}">50% (10-10)</span>
								<span class="raw-data" th:text="${wl2.WLT}">10 - 10 / 20</span>
							</a>
						</div>
					</div>
				</th>
			</tr>
		</th:block>
		<tr>
			<td colspan="3">&nbsp;</td>
		</tr>
		<tr>
			<td></td><th class="text-center">Pressure Situations</th><td></td>
		</tr>
		<tr th:with="wl1=${perf1.decidingSets}, wl2=${perf2.decidingSets}, wlc=${wl2.compareTo(wl1)}">
			<th>
				<div th:unless="${wl1.empty}" class="progress progress-perf pull-right">
					<div class="progress-bar progress-bar-perf" th:attrappend="class=${wlc > 0 ? '-w' : (wlc < 0 ? '-l' : _)}" role="progressbar" th:style="'width: ' + ${wl1.wonPctStr}" th:attr="aria-valuenow=${wl1.wonPct}" aria-valuemin="0" aria-valuemax="100">
						<a th:href="@{/playerProfile(playerId=${playerId1}, tab=matches, season=${season}, fromDate=${#temporals.format(fromDate, 'dd-MM-yyyy')}, toDate=${#temporals.format(toDate, 'dd-MM-yyyy')}, level=${level}, bestOf=${bestOf}, surface=${surface}, indoor=${indoor}, speed=${speed}, round=${round}, result=${result}, tournamentId=${tournamentId}, opponent=${h2h ? 'OPP_' + playerId2 : opponent}, countryId=${countryId}, score='*DS', outcome=finished)}" title="Show deciding set matches">
							<span class="pct-data" th:text="${wl1.pctWL}">50% (10-10)</span>
							<span class="raw-data" th:text="${wl1.WLT}">10 - 10 / 20</span>
						</a>
					</div>
				</div>
			</th>
			<td class="text-center">Deciding Set</td>
			<th>
				<div th:unless="${wl2.empty}" class="progress progress-perf pull-left">
					<div class="progress-bar progress-bar-perf" th:attrappend="class=${wlc < 0 ? '-w' : (wlc > 0 ? '-l' : _)}" role="progressbar" th:style="'width: ' + ${wl2.wonPctStr}" th:attr="aria-valuenow=${wl2.wonPct}" aria-valuemin="0" aria-valuemax="100">
						<a th:href="@{/playerProfile(playerId=${playerId2}, tab=matches, season=${season}, fromDate=${#temporals.format(fromDate, 'dd-MM-yyyy')}, toDate=${#temporals.format(toDate, 'dd-MM-yyyy')}, level=${level}, bestOf=${bestOf}, surface=${surface}, indoor=${indoor}, speed=${speed}, round=${round}, result=${result}, tournamentId=${tournamentId}, opponent=${h2h ? 'OPP_' + playerId1 : opponent}, countryId=${countryId}, score='*DS', outcome=finished)}" title="Show deciding set matches">
							<span class="pct-data" th:text="${wl2.pctWL}">50% (10-10)</span>
							<span class="raw-data" th:text="${wl2.WLT}">10 - 10 / 20</span>
						</a>
					</div>
				</div>
			</th>
		</tr>
		<tr th:with="wl1=${perf1.fifthSets}, wl2=${perf2.fifthSets}, wlc=${wl2.compareTo(wl1)}">
			<th>
				<div th:unless="${wl1.empty}" class="progress progress-perf pull-right">
					<div class="progress-bar progress-bar-perf" th:attrappend="class=${wlc > 0 ? '-w' : (wlc < 0 ? '-l' : _)}" role="progressbar" th:style="'width: ' + ${wl1.wonPctStr}" th:attr="aria-valuenow=${wl1.wonPct}" aria-valuemin="0" aria-valuemax="100">
						<a th:href="@{/playerProfile(playerId=${playerId1}, tab=matches, season=${season}, fromDate=${#temporals.format(fromDate, 'dd-MM-yyyy')}, toDate=${#temporals.format(toDate, 'dd-MM-yyyy')}, level=${level}, bestOf=${bestOf}, surface=${surface}, indoor=${indoor}, speed=${speed}, round=${round}, result=${result}, tournamentId=${tournamentId}, opponent=${h2h ? 'OPP_' + playerId2 : opponent}, countryId=${countryId}, score='2:2+', outcome=finished)}" title="Show fifth set matches">
							<span class="pct-data" th:text="${wl1.pctWL}">50% (10-10)</span>
							<span class="raw-data" th:text="${wl1.WLT}">10 - 10 / 20</span>
						</a>
					</div>
				</div>
			</th>
			<td class="text-center">Fifth Set</td>
			<th>
				<div th:unless="${wl2.empty}" class="progress progress-perf pull-left">
					<div class="progress-bar progress-bar-perf" th:attrappend="class=${wlc < 0 ? '-w' : (wlc > 0 ? '-l' : _)}" role="progressbar" th:style="'width: ' + ${wl2.wonPctStr}" th:attr="aria-valuenow=${wl2.wonPct}" aria-valuemin="0" aria-valuemax="100">
						<a th:href="@{/playerProfile(playerId=${playerId2}, tab=matches, season=${season}, fromDate=${#temporals.format(fromDate, 'dd-MM-yyyy')}, toDate=${#temporals.format(toDate, 'dd-MM-yyyy')}, level=${level}, bestOf=${bestOf}, surface=${surface}, indoor=${indoor}, speed=${speed}, round=${round}, result=${result}, tournamentId=${tournamentId}, opponent=${h2h ? 'OPP_' + playerId1 : opponent}, countryId=${countryId}, score='2:2+', outcome=finished)}" title="Show fifth set matches">
							<span class="pct-data" th:text="${wl2.pctWL}">50% (10-10)</span>
							<span class="raw-data" th:text="${wl2.WLT}">10 - 10 / 20</span>
						</a>
					</div>
				</div>
			</th>
		</tr>
		<tr th:with="wl1=${perf1.afterWinningFirstSet}, wl2=${perf2.afterWinningFirstSet}, wlc=${wl2.compareTo(wl1)}">
			<th>
				<div th:unless="${wl1.empty}" class="progress progress-perf pull-right">
					<div class="progress-bar progress-bar-perf" th:attrappend="class=${wlc > 0 ? '-w' : (wlc < 0 ? '-l' : _)}" role="progressbar" th:style="'width: ' + ${wl1.wonPctStr}" th:attr="aria-valuenow=${wl1.wonPct}" aria-valuemin="0" aria-valuemax="100">
						<a th:href="@{/playerProfile(playerId=${playerId1}, tab=matches, season=${season}, fromDate=${#temporals.format(fromDate, 'dd-MM-yyyy')}, toDate=${#temporals.format(toDate, 'dd-MM-yyyy')}, level=${level}, bestOf=${bestOf}, surface=${surface}, indoor=${indoor}, speed=${speed}, round=${round}, result=${result}, tournamentId=${tournamentId}, opponent=${h2h ? 'OPP_' + playerId2 : opponent}, countryId=${countryId}, score='1:0+', outcome=played)}" title="Show after winning 1st set matches">
							<span class="pct-data" th:text="${wl1.pctWL}">50% (10-10)</span>
							<span class="raw-data" th:text="${wl1.WLT}">10 - 10 / 20</span>
						</a>
					</div>
				</div>
			</th>
			<td class="text-center">After Winning 1st Set</td>
			<th>
				<div th:unless="${wl2.empty}" class="progress progress-perf pull-left">
					<div class="progress-bar progress-bar-perf" th:attrappend="class=${wlc < 0 ? '-w' : (wlc > 0 ? '-l' : _)}" role="progressbar" th:style="'width: ' + ${wl2.wonPctStr}" th:attr="aria-valuenow=${wl2.wonPct}" aria-valuemin="0" aria-valuemax="100">
						<a th:href="@{/playerProfile(playerId=${playerId2}, tab=matches, season=${season}, fromDate=${#temporals.format(fromDate, 'dd-MM-yyyy')}, toDate=${#temporals.format(toDate, 'dd-MM-yyyy')}, level=${level}, bestOf=${bestOf}, surface=${surface}, indoor=${indoor}, speed=${speed}, round=${round}, result=${result}, tournamentId=${tournamentId}, opponent=${h2h ? 'OPP_' + playerId1 : opponent}, countryId=${countryId}, score='1:0+', outcome=played)}" title="Show after winning 1st set matches">
							<span class="pct-data" th:text="${wl2.pctWL}">50% (10-10)</span>
							<span class="raw-data" th:text="${wl2.WLT}">10 - 10 / 20</span>
						</a>
					</div>
				</div>
			</th>
		</tr>
		<tr th:with="wl1=${perf1.afterLosingFirstSet}, wl2=${perf2.afterLosingFirstSet}, wlc=${wl2.compareTo(wl1)}">
			<th>
				<div th:unless="${wl1.empty}" class="progress progress-perf pull-right">
					<div class="progress-bar progress-bar-perf" th:attrappend="class=${wlc > 0 ? '-w' : (wlc < 0 ? '-l' : _)}" role="progressbar" th:style="'width: ' + ${wl1.wonPctStr}" th:attr="aria-valuenow=${wl1.wonPct}" aria-valuemin="0" aria-valuemax="100">
						<a th:href="@{/playerProfile(playerId=${playerId1}, tab=matches, season=${season}, fromDate=${#temporals.format(fromDate, 'dd-MM-yyyy')}, toDate=${#temporals.format(toDate, 'dd-MM-yyyy')}, level=${level}, bestOf=${bestOf}, surface=${surface}, indoor=${indoor}, speed=${speed}, round=${round}, result=${result}, tournamentId=${tournamentId}, opponent=${h2h ? 'OPP_' + playerId2 : opponent}, countryId=${countryId}, score='0:1+', outcome=played)}" title="Show after losing 1st set matches">
							<span class="pct-data" th:text="${wl1.pctWL}">50% (10-10)</span>
							<span class="raw-data" th:text="${wl1.WLT}">10 - 10 / 20</span>
						</a>
					</div>
				</div>
			</th>
			<td class="text-center">After Losing 1st Set</td>
			<th>
				<div th:unless="${wl2.empty}" class="progress progress-perf pull-left">
					<div class="progress-bar progress-bar-perf" th:attrappend="class=${wlc < 0 ? '-w' : (wlc > 0 ? '-l' : _)}" role="progressbar" th:style="'width: ' + ${wl2.wonPctStr}" th:attr="aria-valuenow=${wl2.wonPct}" aria-valuemin="0" aria-valuemax="100">
						<a th:href="@{/playerProfile(playerId=${playerId2}, tab=matches, season=${season}, fromDate=${#temporals.format(fromDate, 'dd-MM-yyyy')}, toDate=${#temporals.format(toDate, 'dd-MM-yyyy')}, level=${level}, bestOf=${bestOf}, surface=${surface}, indoor=${indoor}, speed=${speed}, round=${round}, result=${result}, tournamentId=${tournamentId}, opponent=${h2h ? 'OPP_' + playerId1 : opponent}, countryId=${countryId}, score='0:1+', outcome=played)}" title="Show after losing 1st set matches">
							<span class="pct-data" th:text="${wl2.pctWL}">50% (10-10)</span>
							<span class="raw-data" th:text="${wl2.WLT}">10 - 10 / 20</span>
						</a>
					</div>
				</div>
			</th>
		</tr>
		<tr th:with="wl1=${perf1.tieBreaks}, wl2=${perf2.tieBreaks}, wlc=${wl2.compareTo(wl1)}">
			<th>
				<div th:unless="${wl1.empty}" class="progress progress-perf pull-right">
					<div class="progress-bar progress-bar-perf" th:attrappend="class=${wlc > 0 ? '-w' : (wlc < 0 ? '-l' : _)}" role="progressbar" th:style="'width: ' + ${wl1.wonPctStr}" th:attr="aria-valuenow=${wl1.wonPct}" aria-valuemin="0" aria-valuemax="100">
						<a th:href="@{/playerProfile(playerId=${playerId1}, tab=matches, season=${season}, fromDate=${#temporals.format(fromDate, 'dd-MM-yyyy')}, toDate=${#temporals.format(toDate, 'dd-MM-yyyy')}, level=${level}, bestOf=${bestOf}, surface=${surface}, indoor=${indoor}, speed=${speed}, round=${round}, result=${result}, tournamentId=${tournamentId}, opponent=${h2h ? 'OPP_' + playerId2 : opponent}, countryId=${countryId}, score='*TB')}" title="Show matches with tie break">
							<span class="pct-data" th:text="${wl1.pctWL}">50% (10-10)</span>
							<span class="raw-data" th:text="${wl1.WLT}">10 - 10 / 20</span>
						</a>
					</div>
				</div>
			</th>
			<td class="text-center">Tie Breaks</td>
			<th>
				<div th:unless="${wl2.empty}" class="progress progress-perf pull-left">
					<div class="progress-bar progress-bar-perf" th:attrappend="class=${wlc < 0 ? '-w' : (wlc > 0 ? '-l' : _)}" role="progressbar" th:style="'width: ' + ${wl2.wonPctStr}" th:attr="aria-valuenow=${wl2.wonPct}" aria-valuemin="0" aria-valuemax="100">
						<a th:href="@{/playerProfile(playerId=${playerId2}, tab=matches, season=${season}, fromDate=${#temporals.format(fromDate, 'dd-MM-yyyy')}, toDate=${#temporals.format(toDate, 'dd-MM-yyyy')}, level=${level}, bestOf=${bestOf}, surface=${surface}, indoor=${indoor}, speed=${speed}, round=${round}, result=${result}, tournamentId=${tournamentId}, opponent=${h2h ? 'OPP_' + playerId1 : opponent}, countryId=${countryId}, score='*TB')}" title="Show matches with tie break">
							<span class="pct-data" th:text="${wl2.pctWL}">50% (10-10)</span>
							<span class="raw-data" th:text="${wl2.WLT}">10 - 10 / 20</span>
						</a>
					</div>
				</div>
			</th>
		</tr>
		<tr th:with="wl1=${perf1.decidingSetTieBreaks}, wl2=${perf2.decidingSetTieBreaks}, wlc=${wl2.compareTo(wl1)}">
			<th>
				<div th:unless="${wl1.empty}" class="progress progress-perf pull-right">
					<div class="progress-bar progress-bar-perf" th:attrappend="class=${wlc > 0 ? '-w' : (wlc < 0 ? '-l' : _)}" role="progressbar" th:style="'width: ' + ${wl1.wonPctStr}" th:attr="aria-valuenow=${wl1.wonPct}" aria-valuemin="0" aria-valuemax="100">
						<a th:href="@{/playerProfile(playerId=${playerId1}, tab=matches, season=${season}, fromDate=${#temporals.format(fromDate, 'dd-MM-yyyy')}, toDate=${#temporals.format(toDate, 'dd-MM-yyyy')}, level=${level}, bestOf=${bestOf}, surface=${surface}, indoor=${indoor}, speed=${speed}, round=${round}, result=${result}, tournamentId=${tournamentId}, opponent=${h2h ? 'OPP_' + playerId2 : opponent}, countryId=${countryId}, score='*DSTB', outcome=finished)}" title="Show deciding set tie break matches">
							<span class="pct-data" th:text="${wl1.pctWL}">50% (10-10)</span>
							<span class="raw-data" th:text="${wl1.WLT}">10 - 10 / 20</span>
						</a>
					</div>
				</div>
			</th>
			<td class="text-center">Deciding Set Tie Breaks</td>
			<th>
				<div th:unless="${wl2.empty}" class="progress progress-perf pull-left">
					<div class="progress-bar progress-bar-perf" th:attrappend="class=${wlc < 0 ? '-w' : (wlc > 0 ? '-l' : _)}" role="progressbar" th:style="'width: ' + ${wl2.wonPctStr}" th:attr="aria-valuenow=${wl2.wonPct}" aria-valuemin="0" aria-valuemax="100">
						<a th:href="@{/playerProfile(playerId=${playerId2}, tab=matches, season=${season}, fromDate=${#temporals.format(fromDate, 'dd-MM-yyyy')}, toDate=${#temporals.format(toDate, 'dd-MM-yyyy')}, level=${level}, bestOf=${bestOf}, surface=${surface}, indoor=${indoor}, speed=${speed}, round=${round}, result=${result}, tournamentId=${tournamentId}, opponent=${h2h ? 'OPP_' + playerId1 : opponent}, countryId=${countryId}, score='*DSTB', outcome=finished)}" title="Show deciding set tie break matches">
							<span class="pct-data" th:text="${wl2.pctWL}">50% (10-10)</span>
							<span class="raw-data" th:text="${wl2.WLT}">10 - 10 / 20</span>
						</a>
					</div>
				</div>
			</th>
		</tr>
		<th:block th:unless="${perfOppositions.empty}">
		<tr>
			<td colspan="3">&nbsp;</td>
		</tr>
		<tr>
			<td></td><th class="text-center">Opposition Breakdown</th><td></td>
		</tr>
		<tr th:each="opposition : ${perfOppositions}" class="text-nowrap" th:with="wl1=${perf1.oppositionMatches.get(opposition)}, wl2=${perf2.oppositionMatches.get(opposition)}, wlc=${wl1 != null ? (wl2 != null ? wl2.compareTo(wl1) : 1) : -1}">
			<th class="text-right">
				<div th:if="${wl1}" class="progress progress-perf pull-right">
					<div class="progress-bar progress-bar-perf" th:attrappend="class=${wlc > 0 ? '-w' : (wlc < 0 ? '-l' : _)}" role="progressbar" th:style="'width: ' + ${wl1.wonPctStr}" th:attr="aria-valuenow=${wl1.wonPct}" aria-valuemin="0" aria-valuemax="100">
						<a th:href="@{/playerProfile(playerId=${playerId1}, tab=matches, season=${season}, fromDate=${#temporals.format(fromDate, 'dd-MM-yyyy')}, toDate=${#temporals.format(toDate, 'dd-MM-yyyy')}, level=${level}, bestOf=${bestOf}, surface=${surface}, indoor=${indoor}, speed=${speed}, round=${round}, result=${result}, tournamentId=${tournamentId}, opponent=${h2h ? 'OPP_' + playerId2 : opposition}, countryId=${countryId}, outcome=played)}" th:title="|Show ${opposition.text} matches|">
							<span class="pct-data" th:text="${wl1.pctWL}">50% (10-10)</span>
							<span class="raw-data" th:text="${wl1.WLT}">10 - 10 / 20</span>
						</a>
					</div>
				</div>
			</th>
			<td class="text-center" th:text="${opposition.text}">Vs No. 1</td>
			<th class="text-left">
				<div th:if="${wl2}" class="progress progress-perf pull-left">
					<div class="progress-bar progress-bar-perf" th:attrappend="class=${wlc < 0 ? '-w' : (wlc > 0 ? '-l' : _)}" role="progressbar" th:style="'width: ' + ${wl2.wonPctStr}" th:attr="aria-valuenow=${wl2.wonPct}" aria-valuemin="0" aria-valuemax="100">
						<a th:href="@{/playerProfile(playerId=${playerId2}, tab=matches, season=${season}, fromDate=${#temporals.format(fromDate, 'dd-MM-yyyy')}, toDate=${#temporals.format(toDate, 'dd-MM-yyyy')}, level=${level}, bestOf=${bestOf}, surface=${surface}, indoor=${indoor}, speed=${speed}, round=${round}, result=${result}, tournamentId=${tournamentId}, opponent=${h2h ? 'OPP_' + playerId1 : opposition}, countryId=${countryId}, outcome=played)}" th:title="|Show ${opposition.text} matches|">
							<span class="pct-data" th:text="${wl2.pctWL}">50% (10-10)</span>
							<span class="raw-data" th:text="${wl2.WLT}">10 - 10 / 20</span>
						</a>
					</div>
				</div>
			</th>
		</tr>
		</th:block>
		<th:block th:unless="${perfRounds.empty}">
		<tr>
			<td colspan="3">&nbsp;</td>
		</tr>
		<tr>
			<td></td><th class="text-center">Round Breakdown</th><td></td>
		</tr>
		<tr th:each="round : ${perfRounds}" class="text-nowrap" th:with="wl1=${perf1.roundMatches.get(round)}, wl2=${perf2.roundMatches.get(round)}, wlc=${wl1 != null ? (wl2 != null ? wl2.compareTo(wl1) : 1) : -1}">
			<th class="text-right">
				<div th:if="${wl1}" class="progress progress-perf pull-right">
					<div class="progress-bar progress-bar-season progress-bar-perf" th:attrappend="class=${wlc > 0 ? '-w' : (wlc < 0 ? '-l' : _)}" role="progressbar" th:style="'width: ' + ${wl1.wonPctStr}" th:attr="aria-valuenow=${wl1.wonPct}" aria-valuemin="0" aria-valuemax="100">
						<a th:href="@{/playerProfile(playerId=${playerId1}, tab=matches, season=${season}, fromDate=${#temporals.format(fromDate, 'dd-MM-yyyy')}, toDate=${#temporals.format(toDate, 'dd-MM-yyyy')}, level=${level != null && level != '' ? level : 'GFLMOAB'}, bestOf=${bestOf}, surface=${surface}, indoor=${indoor}, speed=${speed}, round=${round.code}, result=${result}, tournamentId=${tournamentId}, opponent=${h2h ? 'OPP_' + playerId2 : opponent}, countryId=${countryId}, outcome=played)}" th:title="|Show ${round.text} matches|">
							<span class="pct-data" th:text="${wl1.pctWL}">50% (10-10)</span>
							<span class="raw-data" th:text="${wl1.WLT}">10 - 10 / 20</span>
						</a>
					</div>
				</div>
			</th>
			<td class="text-center" th:text="${round.text}">Final</td>
			<th class="text-left">
				<div th:if="${wl2}" class="progress progress-perf pull-left">
					<div class="progress-bar progress-bar-perf" th:attrappend="class=${wlc < 0 ? '-w' : (wlc > 0 ? '-l' : _)}" role="progressbar" th:style="'width: ' + ${wl2.wonPctStr}" th:attr="aria-valuenow=${wl2.wonPct}" aria-valuemin="0" aria-valuemax="100">
						<a th:href="@{/playerProfile(playerId=${playerId2}, tab=matches, season=${season}, fromDate=${#temporals.format(fromDate, 'dd-MM-yyyy')}, toDate=${#temporals.format(toDate, 'dd-MM-yyyy')}, level=${level != null && level != '' ? level : 'GFLMOAB'}, bestOf=${bestOf}, surface=${surface}, indoor=${indoor}, speed=${speed}, round=${round.code}, result=${result}, tournamentId=${tournamentId}, opponent=${h2h ? 'OPP_' + playerId1 : opponent}, countryId=${countryId}, outcome=played)}" th:title="|Show ${round.text} matches|">
							<span class="pct-data" th:text="${wl2.pctWL}">50% (10-10)</span>
							<span class="raw-data" th:text="${wl2.WLT}">10 - 10 / 20</span>
						</a>
					</div>
				</div>
			</th>
		</tr>
		</th:block>
		<th:block th:unless="${perfScores.empty}">
			<tr>
				<td colspan="3">&nbsp;</td>
			</tr>
			<tr>
				<td></td><th class="text-center">Score Breakdown</th><td></td>
			</tr>
			<tr th:each="score : ${perfScores}" class="text-nowrap" th:with="wl1=${perf1.scoreCounts.get(score)}, wl2=${perf2.scoreCounts.get(score)}, wlc=${wl1 != null ? (wl2 != null ? wl2.compareTo(wl1) : 1) : -1}">
				<th class="text-right">
					<div th:if="${wl1}" class="progress progress-perf pull-right">
						<div class="progress-bar progress-bar-season progress-bar-perf" th:attrappend="class=${wlc > 0 ? '-w' : (wlc < 0 ? '-l' : _)}" role="progressbar" th:style="'width: ' + ${wl1.wonPctStr}" th:attr="aria-valuenow=${wl1.wonPct}" aria-valuemin="0" aria-valuemax="100">
							<a th:href="@{/playerProfile(playerId=${playerId1}, tab=matches, season=${season}, fromDate=${#temporals.format(fromDate, 'dd-MM-yyyy')}, toDate=${#temporals.format(toDate, 'dd-MM-yyyy')}, level=${level}, bestOf=${bestOf}, surface=${surface}, indoor=${indoor}, speed=${speed}, round=${round}, result=${result}, tournamentId=${tournamentId}, opponent=${h2h ? 'OPP_' + playerId2 : opponent}, countryId=${countryId}, score=${score.score}, outcome=finished)}" th:title="|Show ${score} matches|">
								<span class="pct-data" th:text="${wl1.pctWT()}">50%</span>
								<span class="raw-data" th:text="${wl1.WT}">10 / 20</span>
							</a>
						</div>
					</div>
				</th>
				<td class="text-center" th:text="${score}">2-0</td>
				<th class="text-left">
					<div th:if="${wl2}" class="progress progress-perf pull-left">
						<div class="progress-bar progress-bar-perf" th:attrappend="class=${wlc < 0 ? '-w' : (wlc > 0 ? '-l' : _)}" role="progressbar" th:style="'width: ' + ${wl2.wonPctStr}" th:attr="aria-valuenow=${wl2.wonPct}" aria-valuemin="0" aria-valuemax="100">
							<a th:href="@{/playerProfile(playerId=${playerId2}, tab=matches, season=${season}, fromDate=${#temporals.format(fromDate, 'dd-MM-yyyy')}, toDate=${#temporals.format(toDate, 'dd-MM-yyyy')}, level=${level}, bestOf=${bestOf}, surface=${surface}, indoor=${indoor}, speed=${speed}, round=${round}, result=${result}, tournamentId=${tournamentId}, opponent=${h2h ? 'OPP_' + playerId2 : opponent}, countryId=${countryId}, score=${score.score}, outcome=finished)}" th:title="|Show ${score} matches|">
								<span class="pct-data" th:text="${wl2.pctWT()}">50%</span>
								<span class="raw-data" th:text="${wl2.WT}">10 / 20</span>
							</a>
						</div>
					</div>
				</th>
			</tr>
		</th:block>
		<th:block th:unless="${perfResults.empty}">
		<tr>
			<td colspan="3">&nbsp;</td>
		</tr>
		<tr>
			<td></td><th class="text-center">Result Breakdown</th><td></td>
		</tr>
		<tr th:each="result : ${perfResults}" class="text-nowrap" th:with="wl1=${perf1.resultCounts.get(result)}, wl2=${perf2.resultCounts.get(result)}, wlc=${wl1 != null ? (wl2 != null ? wl2.compareTo(wl1) : 1) : -1}">
			<th class="text-right">
				<div th:if="${wl1}" class="progress progress-perf pull-right">
					<div class="progress-bar progress-bar-season progress-bar-perf" th:attrappend="class=${wlc > 0 ? '-w' : (wlc < 0 ? '-l' : _)}" role="progressbar" th:style="'width: ' + ${wl1.wonPctStr}" th:attr="aria-valuenow=${wl1.wonPct}" aria-valuemin="0" aria-valuemax="100">
						<a th:href="@{/playerProfile(playerId=${playerId1}, tab=events, season=${season}, fromDate=${#temporals.format(fromDate, 'dd-MM-yyyy')}, toDate=${#temporals.format(toDate, 'dd-MM-yyyy')}, level=${level}, bestOf=${bestOf}, surface=${surface}, indoor=${indoor}, speed=${speed}, tournamentId=${tournamentId}, result=${result.code})}" th:title="|Show ${result.text} tournaments|">
							<span class="pct-data" th:text="${wl1.pctWT()}">50%</span>
							<span class="raw-data" th:text="${wl1.WT}">10 / 20</span>
						</a>
					</div>
				</div>
			</th>
			<td class="text-center" th:text="${result.text}">Win</td>
			<th class="text-left">
				<div th:if="${wl2}" class="progress progress-perf pull-left">
					<div class="progress-bar progress-bar-perf" th:attrappend="class=${wlc < 0 ? '-w' : (wlc > 0 ? '-l' : _)}" role="progressbar" th:style="'width: ' + ${wl2.wonPctStr}" th:attr="aria-valuenow=${wl2.wonPct}" aria-valuemin="0" aria-valuemax="100">
						<a th:href="@{/playerProfile(playerId=${playerId2}, tab=events, season=${season}, fromDate=${#temporals.format(fromDate, 'dd-MM-yyyy')}, toDate=${#temporals.format(toDate, 'dd-MM-yyyy')}, level=${level}, bestOf=${bestOf}, surface=${surface}, indoor=${indoor}, speed=${speed}, tournamentId=${tournamentId}, result=${result.code})}" th:title="|Show ${result.text} tournaments|">
							<span class="pct-data" th:text="${wl2.pctWT()}">50%</span>
							<span class="raw-data" th:text="${wl2.WT}">10 / 20</span>
						</a>
					</div>
				</div>
			</th>
		</tr>
		</th:block>
	</table>
	<div th:unless="${perf1.empty && perf2.empty}" class="row">
		<div class="col-md-12 text-center">
			<button class="pct-data btn btn-default btn-xs" onclick="toggleStatsData('#h2hPerformance'); perfRawData = true" title="Show raw data: Won - Lost / Played"><i class="fa fa-hashtag"></i>&nbsp;&nbsp;Raw Data</button>
			<button class="raw-data btn btn-default btn-xs" onclick="toggleStatsData('#h2hPerformance'); perfRawData = false" title="Show percentage data: Pct. (Won-Lost)"><i class="fa fa-tasks"></i>&nbsp;&nbsp;Pct. Data</button>
		</div>
	</div>
	<th:block th:if="${perf1.empty && perf2.empty}"><p>No performance data available</p></th:block>
</div>
</th:block>