<th:block  xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="playerId1" type="java.lang.Integer"*/-->
<!--/*@thymesVar id="playerId2" type="java.lang.Integer"*/-->
<!--/*@thymesVar id="seasons" type="java.util.Set<java.lang.Integer>"*/-->
<!--/*@thymesVar id="season" type="java.lang.Integer"*/-->
<!--/*@thymesVar id="opponent" type="java.lang.Boolean"*/-->
<!--/*@thymesVar id="rawData" type="java.lang.Boolean"*/-->
<!--/*@thymesVar id="perf1" type="org.strangeforest.tcb.stats.model.PlayerPerformanceEx"*/-->
<!--/*@thymesVar id="perf2" type="org.strangeforest.tcb.stats.model.PlayerPerformanceEx"*/-->
<!--/*@thymesVar id="surfaces" type="java.util.Set<org.strangeforest.tcb.stats.model.Surface>"*/-->
<!--/*@thymesVar id="levels" type="java.util.Set<org.strangeforest.tcb.stats.model.TournamentLevel>"*/-->
<!--/*@thymesVar id="oppositions" type="java.util.Set<org.strangeforest.tcb.stats.service.Opponent>"*/-->
<!--/*@thymesVar id="rounds" type="java.util.Set<org.strangeforest.tcb.stats.model.Round>"*/-->
<!--/*@thymesVar id="_" type="java.lang.String"*/-->
<script type="text/javascript">
	var perfRawData = [(${rawData})];
	$(function() {
		$("#h2hPerformance").find(perfRawData ? ".pct-data" : ".raw-data").hide();
		$("#h2hPerformanceTable").find("span.label-surface").each(function() {
			var $label = $(this);
			var surface = $label.data("surface");
			$label.addClass("label-" + surfaceClassSuffix(surface));
		});
	});
	function reloadPerformance() {
		var url = "/h2hPerformance?playerId1=[(${playerId1})]&playerId2=[(${playerId2})]";
		url += "&season=" + $("#perfSeason").val();
		url += "&opponent=" + $("#perfOpponent").prop("checked");
		url += "&rawData=" + perfRawData;
		$("#performance").load(url);
	}
</script>
<style scoped="scoped">
	.label-overall {
		background-color: #555;
	}
	.progress-perf {
		width: 200px;
		background-color: #dddddd;
		margin-bottom: 0;
	}
	.progress-bar > a {
		color: white;
	}
</style>
<br/>
<div class="row">
	<div class="col-md-3 col-md-offset-4 col-xs-9">
		<div class="input-group">
			<label for="perfSeason" class="input-group-addon">Season:</label>
			<select id="perfSeason" class="form-control" onchange="reloadPerformance()">
				<option value="">All seasons</option>
				<option th:each="aSeason : ${seasons}" th:value="${aSeason}" value="2005" th:text="${aSeason}" th:selected="${aSeason == season}">2005</option>
			</select>
		</div>
	</div>
	<div class="col-md-1 col-xs-3">
		<div class="checkbox">
			<label data-toggle="tooltip" data-placement="top" title="Include performance only against H2H opponent">
				<input id="perfOpponent" type="checkbox" th:checked="${opponent}" onchange="reloadPerformance()"/> H2H
			</label>
		</div>
	</div>
</div>
<br/>
<div id="h2hPerformance">
	<table id="h2hPerformanceTable" th:unless="${perf1.empty && perf2.empty}" class="table table-condensed table-hover table-striped text-nowrap">
		<tr class="text-nowrap" th:with="wl1=${perf1.matches}, wl2=${perf2.matches}, wlc=${wl2.compareTo(wl1)}">
			<th class="text-right" width="40%">
				<div th:unless="${wl1.empty}" class="progress progress-perf pull-right">
					<div class="progress-bar progress-bar-perf" th:attrappend="class=${wlc > 0 ? '-w' : (wlc < 0 ? '-l' : _)}" role="progressbar" th:style="'width: ' + ${wl1.wonPctStr}" th:attr="aria-valuenow=${wl1.wonPct}" aria-valuemin="0" aria-valuemax="100">
						<a th:href="@{/playerProfile(playerId=${playerId1}, tab=matches, season=${season}, opponent=${opponent ? 'OPP_' + playerId2 : _}, outcome=played)}" title="Show matches">
							<span class="pct-data" th:text="${wl1.pctWL}">50% (10-10)</span>
							<span class="raw-data" th:text="${wl1.WLT}">10 - 10 / 20</span>
						</a>
					</div>
				</div>
			</th>
			<th class="text-center"><span class="label label-overall">Overall</span></th>
			<th class="text-left" width="40%">
				<div th:unless="${wl2.empty}" class="progress progress-perf pull-left">
					<div class="progress-bar progress-bar-perf" th:attrappend="class=${wlc < 0 ? '-w' : (wlc > 0 ? '-l' : _)}" role="progressbar" th:style="'width: ' + ${wl2.wonPctStr}" th:attr="aria-valuenow=${wl2.wonPct}" aria-valuemin="0" aria-valuemax="100">
						<a th:href="@{/playerProfile(playerId=${playerId2}, tab=matches, season=${season}, opponent=${opponent ? 'OPP_' + playerId1 : _}, outcome=played)}" title="Show matches">
							<span class="pct-data" th:text="${wl2.pctWL}">50% (10-10)</span>
							<span class="raw-data" th:text="${wl2.WLT}">10 - 10 / 20</span>
						</a>
					</div>
				</div>
			</th>
		</tr>
		<tr>
			<td colspan="3">&nbsp;</td>
		</tr>
		<tr>
			<td></td><th class="text-center">Surface Breakdown</th><td></td>
		</tr>
		<tr th:each="surface : ${surfaces}" class="text-nowrap" th:with="wl1=${perf1.surfaceMatches.get(surface)}, wl2=${perf2.surfaceMatches.get(surface)}, wlc=${wl1 != null ? (wl2 != null ? wl2.compareTo(wl1) : 1) : -1}">
			<th class="text-right">
				<div th:if="${wl1}" class="progress progress-perf pull-right">
					<div class="progress-bar progress-bar-perf" th:attrappend="class=${wlc > 0 ? '-w' : (wlc < 0 ? '-l' : _)}" th:data-surface="${surface.code}" role="progressbar" th:style="'width: ' + ${wl1.wonPctStr}" th:attr="aria-valuenow=${wl1.wonPct}" aria-valuemin="0" aria-valuemax="100">
						<a th:href="@{/playerProfile(playerId=${playerId1}, tab=matches, season=${season}, surface=${surface.code}, opponent=${opponent ? 'OPP_' + playerId2 : _}, outcome=played)}" th:title="|Show ${surface.text} matches|">
							<span class="pct-data" th:text="${wl1.pctWL}">50% (10-10)</span>
							<span class="raw-data" th:text="${wl1.WLT}">10 - 10 / 20</span>
						</a>
					</div>
				</div>
			</th>
			<th class="text-center"><span class="label label-surface" th:data-surface="${surface.code}" th:text="${surface.text}">Hard</span></th>
			<th class="text-left">
				<div th:if="${wl2}" class="progress progress-perf pull-left">
					<div class="progress-bar progress-bar-perf" th:attrappend="class=${wlc < 0 ? '-w' : (wlc > 0 ? '-l' : _)}" th:data-surface="${surface.code}" role="progressbar" th:style="'width: ' + ${wl2.wonPctStr}" th:attr="aria-valuenow=${wl2.wonPct}" aria-valuemin="0" aria-valuemax="100">
						<a th:href="@{/playerProfile(playerId=${playerId2}, tab=matches, season=${season}, surface=${surface.code}, opponent=${opponent ? 'OPP_' + playerId1 : _}, outcome=played)}" th:title="|Show ${surface.text} matches|">
							<span class="pct-data" th:text="${wl2.pctWL}">50% (10-10)</span>
							<span class="raw-data" th:text="${wl2.WLT}">10 - 10 / 20</span>
						</a>
					</div>
				</div>
			</th>
		</tr>
		<tr>
			<td colspan="3">&nbsp;</td>
		</tr>
		<tr>
			<td></td><th class="text-center" title="Tournament Level Breakdown">Level Breakdown</th><td></td>
		</tr>
		<tr th:each="level : ${levels}" class="text-nowrap" th:with="wl1=${perf1.levelMatches.get(level)}, wl2=${perf2.levelMatches.get(level)}, wlc=${wl1 != null ? (wl2 != null ? wl2.compareTo(wl1) : 1) : -1}">
			<th class="text-right">
				<div th:if="${wl1}" class="progress progress-perf pull-right">
					<div class="progress-bar progress-bar-perf" th:attrappend="class=${wlc > 0 ? '-w' : (wlc < 0 ? '-l' : _)}" role="progressbar" th:style="'width: ' + ${wl1.wonPctStr}" th:attr="aria-valuenow=${wl1.wonPct}" aria-valuemin="0" aria-valuemax="100">
						<a th:href="@{/playerProfile(playerId=${playerId1}, tab=matches, season=${season}, level=${level.code}, opponent=${opponent ? 'OPP_' + playerId2 : _}, outcome=played)}" th:title="|Show ${level.text} matches|">
							<span class="pct-data" th:text="${wl1.pctWL}">50% (10-10)</span>
							<span class="raw-data" th:text="${wl1.WLT}">10 - 10 / 20</span>
						</a>
					</div>
				</div>
			</th>
			<th class="text-center"><span class="label label-" th:attrappend="class=${level.code}" th:text="${level.text}">Grand Slam</span></th>
			<th class="text-left">
				<div th:if="${wl2}" class="progress progress-perf pull-left">
					<div class="progress-bar progress-bar-perf" th:attrappend="class=${wlc < 0 ? '-w' : (wlc > 0 ? '-l' : _)}" role="progressbar" th:style="'width: ' + ${wl2.wonPctStr}" th:attr="aria-valuenow=${wl2.wonPct}" aria-valuemin="0" aria-valuemax="100">
						<a th:href="@{/playerProfile(playerId=${playerId2}, tab=matches, season=${season}, level=${level.code}, opponent=${opponent ? 'OPP_' + playerId1 : _}, outcome=played)}" th:title="|Show ${level.text} matches|">
							<span class="pct-data" th:text="${wl2.pctWL}">50% (10-10)</span>
							<span class="raw-data" th:text="${wl2.WLT}">10 - 10 / 20</span>
						</a>
					</div>
				</div>
			</th>
		</tr>
		<th:block th:unless="${oppositions.empty}">
		<tr>
			<td colspan="3">&nbsp;</td>
		</tr>
		<tr>
			<td></td><th class="text-center">Opposition Breakdown</th><td></td>
		</tr>
		<tr th:each="opposition : ${oppositions}" class="text-nowrap" th:with="wl1=${perf1.oppositionMatches.get(opposition)}, wl2=${perf2.oppositionMatches.get(opposition)}, wlc=${wl1 != null ? (wl2 != null ? wl2.compareTo(wl1) : 1) : -1}">
			<th class="text-right">
				<div th:if="${wl1}" class="progress progress-perf pull-right">
					<div class="progress-bar progress-bar-perf" th:attrappend="class=${wlc > 0 ? '-w' : (wlc < 0 ? '-l' : _)}" role="progressbar" th:style="'width: ' + ${wl1.wonPctStr}" th:attr="aria-valuenow=${wl1.wonPct}" aria-valuemin="0" aria-valuemax="100">
						<a th:href="@{/playerProfile(playerId=${playerId1}, tab=matches, season=${season}, opponent=${opponent ? 'OPP_' + playerId2 : opposition}, outcome=played)}" th:title="|Show ${opposition.text} matches|">
							<span class="pct-data" th:text="${wl1.pctWL}">50% (10-10)</span>
							<span class="raw-data" th:text="${wl1.WLT}">10 - 10 / 20</span>
						</a>
					</div>
				</div>
			</th>
			<td class="text-center" th:text="${opposition.text}">Vs No. 1</td>
			<th class="text-left">
				<div th:if="${wl2}" class="progress progress-perf pull-left">
					<div class="progress-bar progress-bar-perf" th:attrappend="class=${wlc < 0 ? '-w' : (wlc > 0 ? '-l' : _)}" role="progressbar" th:style="'width: ' + ${wl2.wonPctStr}" th:attr="aria-valuenow=${wl2.wonPct}" aria-valuemin="0" aria-valuemax="100">
						<a th:href="@{/playerProfile(playerId=${playerId2}, tab=matches, season=${season}, opponent=${opponent ? 'OPP_' + playerId1 : opposition}, outcome=played)}" th:title="|Show ${opposition.text} matches|">
							<span class="pct-data" th:text="${wl2.pctWL}">50% (10-10)</span>
							<span class="raw-data" th:text="${wl2.WLT}">10 - 10 / 20</span>
						</a>
					</div>
				</div>
			</th>
		</tr>
		</th:block>
		<tr>
			<td colspan="3">&nbsp;</td>
		</tr>
		<tr>
			<td></td><th class="text-center">Round Breakdown</th><td></td>
		</tr>
		<tr th:each="round : ${rounds}" class="text-nowrap" th:with="wl1=${perf1.roundMatches.get(round)}, wl2=${perf2.roundMatches.get(round)}, wlc=${wl1 != null ? (wl2 != null ? wl2.compareTo(wl1) : 1) : -1}">
			<th class="text-right">
				<div th:if="${wl1}" class="progress progress-perf pull-right">
					<div class="progress-bar progress-bar-season progress-bar-perf" th:attrappend="class=${wlc > 0 ? '-w' : (wlc < 0 ? '-l' : _)}" role="progressbar" th:style="'width: ' + ${wl1.wonPctStr}" th:attr="aria-valuenow=${wl1.wonPct}" aria-valuemin="0" aria-valuemax="100">
						<a th:href="@{/playerProfile(playerId=${playerId1}, tab=matches, season=${season}, round=${round.code}, level=GFMOAB, opponent=${opponent ? 'OPP_' + playerId2 : _}, outcome=played)}" th:title="|Show ${round.text} matches|">
							<span class="pct-data" th:text="${wl1.pctWL}">50% (10-10)</span>
							<span class="raw-data" th:text="${wl1.WLT}">10 - 10 / 20</span>
						</a>
					</div>
				</div>
			</th>
			<td class="text-center" th:text="${round.text}">Final</td>
			<th class="text-left">
				<div th:if="${wl2}" class="progress progress-perf pull-left">
					<div class="progress-bar progress-bar-perf" th:attrappend="class=${wlc < 0 ? '-w' : (wlc > 0 ? '-l' : _)}" role="progressbar" th:style="'width: ' + ${wl2.wonPctStr}" th:attr="aria-valuenow=${wl2.wonPct}" aria-valuemin="0" aria-valuemax="100">
						<a th:href="@{/playerProfile(playerId=${playerId2}, tab=matches, season=${season}, round=${round.code}, level=GFMOAB, opponent=${opponent ? 'OPP_' + playerId1 : _}, outcome=played)}" th:title="|Show ${round.text} matches|">
							<span class="pct-data" th:text="${wl2.pctWL}">50% (10-10)</span>
							<span class="raw-data" th:text="${wl2.WLT}">10 - 10 / 20</span>
						</a>
					</div>
				</div>
			</th>
		</tr>
		<tr>
			<td colspan="3">&nbsp;</td>
		</tr>
		<tr>
			<td></td><th class="text-center">Pressure Situations</th><td></td>
		</tr>
		<tr th:with="wl1=${perf1.decidingSets}, wl2=${perf2.decidingSets}, wlc=${wl2.compareTo(wl1)}">
			<th>
				<div th:unless="${wl1.empty}" class="progress progress-perf pull-right">
					<div class="progress-bar progress-bar-perf" th:attrappend="class=${wlc > 0 ? '-w' : (wlc < 0 ? '-l' : _)}" role="progressbar" th:style="'width: ' + ${wl1.wonPctStr}" th:attr="aria-valuenow=${wl1.wonPct}" aria-valuemin="0" aria-valuemax="100">
						<span class="pct-data" th:text="${wl1.pctWL}">50% (10-10)</span>
						<span class="raw-data" th:text="${wl1.WLT}">10 - 10 / 20</span>
					</div>
				</div>
			</th>
			<td class="text-center">Deciding Set</td>
			<th>
				<div th:unless="${wl2.empty}" class="progress progress-perf pull-left">
					<div class="progress-bar progress-bar-perf" th:attrappend="class=${wlc < 0 ? '-w' : (wlc > 0 ? '-l' : _)}" role="progressbar" th:style="'width: ' + ${wl2.wonPctStr}" th:attr="aria-valuenow=${wl2.wonPct}" aria-valuemin="0" aria-valuemax="100">
						<span class="pct-data" th:text="${wl2.pctWL}">50% (10-10)</span>
						<span class="raw-data" th:text="${wl2.WLT}">10 - 10 / 20</span>
					</div>
				</div>
			</th>
		</tr>
		<tr th:with="wl1=${perf1.fifthSets}, wl2=${perf2.fifthSets}, wlc=${wl2.compareTo(wl1)}">
			<th>
				<div th:unless="${wl1.empty}" class="progress progress-perf pull-right">
					<div class="progress-bar progress-bar-perf" th:attrappend="class=${wlc > 0 ? '-w' : (wlc < 0 ? '-l' : _)}" role="progressbar" th:style="'width: ' + ${wl1.wonPctStr}" th:attr="aria-valuenow=${wl1.wonPct}" aria-valuemin="0" aria-valuemax="100">
						<a th:href="@{/playerProfile(playerId=${playerId1}, tab=matches, season=${season}, score='2:2+', opponent=${opponent ? 'OPP_' + playerId2 : _}, outcome=played)}" title="Show fifth set matches">
							<span class="pct-data" th:text="${wl1.pctWL}">50% (10-10)</span>
							<span class="raw-data" th:text="${wl1.WLT}">10 - 10 / 20</span>
						</a>
					</div>
				</div>
			</th>
			<td class="text-center">Fifth Set</td>
			<th>
				<div th:unless="${wl2.empty}" class="progress progress-perf pull-left">
					<div class="progress-bar progress-bar-perf" th:attrappend="class=${wlc < 0 ? '-w' : (wlc > 0 ? '-l' : _)}" role="progressbar" th:style="'width: ' + ${wl2.wonPctStr}" th:attr="aria-valuenow=${wl2.wonPct}" aria-valuemin="0" aria-valuemax="100">
						<a th:href="@{/playerProfile(playerId=${playerId2}, tab=matches, season=${season}, score='2:2+', opponent=${opponent ? 'OPP_' + playerId1 : _}, outcome=played)}" title="Show fifth set matches">
							<span class="pct-data" th:text="${wl2.pctWL}">50% (10-10)</span>
							<span class="raw-data" th:text="${wl2.WLT}">10 - 10 / 20</span>
						</a>
					</div>
				</div>
			</th>
		</tr>
		<tr th:with="wl1=${perf1.afterWinningFirstSet}, wl2=${perf2.afterWinningFirstSet}, wlc=${wl2.compareTo(wl1)}">
			<th>
				<div th:unless="${wl1.empty}" class="progress progress-perf pull-right">
					<div class="progress-bar progress-bar-perf" th:attrappend="class=${wlc > 0 ? '-w' : (wlc < 0 ? '-l' : _)}" role="progressbar" th:style="'width: ' + ${wl1.wonPctStr}" th:attr="aria-valuenow=${wl1.wonPct}" aria-valuemin="0" aria-valuemax="100">
						<a th:href="@{/playerProfile(playerId=${playerId1}, tab=matches, season=${season}, score='1:0+', opponent=${opponent ? 'OPP_' + playerId2 : _}, outcome=played)}" title="Show after winning 1st set matches">
							<span class="pct-data" th:text="${wl1.pctWL}">50% (10-10)</span>
							<span class="raw-data" th:text="${wl1.WLT}">10 - 10 / 20</span>
						</a>
					</div>
				</div>
			</th>
			<td class="text-center">After Winning 1st Set</td>
			<th>
				<div th:unless="${wl2.empty}" class="progress progress-perf pull-left">
					<div class="progress-bar progress-bar-perf" th:attrappend="class=${wlc < 0 ? '-w' : (wlc > 0 ? '-l' : _)}" role="progressbar" th:style="'width: ' + ${wl2.wonPctStr}" th:attr="aria-valuenow=${wl2.wonPct}" aria-valuemin="0" aria-valuemax="100">
						<a th:href="@{/playerProfile(playerId=${playerId2}, tab=matches, season=${season}, score='1:0+', opponent=${opponent ? 'OPP_' + playerId1 : _}, outcome=played)}" title="Show after winning 1st set matches">
							<span class="pct-data" th:text="${wl2.pctWL}">50% (10-10)</span>
							<span class="raw-data" th:text="${wl2.WLT}">10 - 10 / 20</span>
						</a>
					</div>
				</div>
			</th>
		</tr>
		<tr th:with="wl1=${perf1.afterLosingFirstSet}, wl2=${perf2.afterLosingFirstSet}, wlc=${wl2.compareTo(wl1)}">
			<th>
				<div th:unless="${wl1.empty}" class="progress progress-perf pull-right">
					<div class="progress-bar progress-bar-perf" th:attrappend="class=${wlc > 0 ? '-w' : (wlc < 0 ? '-l' : _)}" role="progressbar" th:style="'width: ' + ${wl1.wonPctStr}" th:attr="aria-valuenow=${wl1.wonPct}" aria-valuemin="0" aria-valuemax="100">
						<a th:href="@{/playerProfile(playerId=${playerId1}, tab=matches, season=${season}, score='0:1+', opponent=${opponent ? 'OPP_' + playerId2 : _}, outcome=played)}" title="Show after losing 1st set matches">
							<span class="pct-data" th:text="${wl1.pctWL}">50% (10-10)</span>
							<span class="raw-data" th:text="${wl1.WLT}">10 - 10 / 20</span>
						</a>
					</div>
				</div>
			</th>
			<td class="text-center">After Losing 1st Set</td>
			<th>
				<div th:unless="${wl2.empty}" class="progress progress-perf pull-left">
					<div class="progress-bar progress-bar-perf" th:attrappend="class=${wlc < 0 ? '-w' : (wlc > 0 ? '-l' : _)}" role="progressbar" th:style="'width: ' + ${wl2.wonPctStr}" th:attr="aria-valuenow=${wl2.wonPct}" aria-valuemin="0" aria-valuemax="100">
						<a th:href="@{/playerProfile(playerId=${playerId2}, tab=matches, season=${season}, score='0:1+', opponent=${opponent ? 'OPP_' + playerId1 : _}, outcome=played)}" title="Show after losing 1st set matches">
							<span class="pct-data" th:text="${wl2.pctWL}">50% (10-10)</span>
							<span class="raw-data" th:text="${wl2.WLT}">10 - 10 / 20</span>
						</a>
					</div>
				</div>
			</th>
		</tr>
		<tr th:with="wl1=${perf1.tieBreaks}, wl2=${perf2.tieBreaks}, wlc=${wl2.compareTo(wl1)}">
			<th>
				<div th:unless="${wl1.empty}" class="progress progress-perf pull-right">
					<div class="progress-bar progress-bar-perf" th:attrappend="class=${wlc > 0 ? '-w' : (wlc < 0 ? '-l' : _)}" role="progressbar" th:style="'width: ' + ${wl1.wonPctStr}" th:attr="aria-valuenow=${wl1.wonPct}" aria-valuemin="0" aria-valuemax="100">
						<span class="pct-data" th:text="${wl1.pctWL}">50% (10-10)</span>
						<span class="raw-data" th:text="${wl1.WLT}">10 - 10 / 20</span>
					</div>
				</div>
			</th>
			<td class="text-center">Tie Breaks</td>
			<th>
				<div th:unless="${wl2.empty}" class="progress progress-perf pull-left">
					<div class="progress-bar progress-bar-perf" th:attrappend="class=${wlc < 0 ? '-w' : (wlc > 0 ? '-l' : _)}" role="progressbar" th:style="'width: ' + ${wl2.wonPctStr}" th:attr="aria-valuenow=${wl2.wonPct}" aria-valuemin="0" aria-valuemax="100">
						<span class="pct-data" th:text="${wl2.pctWL}">50% (10-10)</span>
						<span class="raw-data" th:text="${wl2.WLT}">10 - 10 / 20</span>
					</div>
				</div>
			</th>
		</tr>
	</table>
	<div th:unless="${perf1.empty && perf2.empty}" class="row">
		<div class="col-md-12 text-center">
			<button class="pct-data btn btn-default btn-xs" onclick="toggleStatsData('#h2hPerformance'); perfRawData = true" title="Show raw data: Won - Lost / Played"><span class="glyphicon glyphicon-equalizer"></span>&nbsp;&nbsp;Raw Data</button>
			<button class="raw-data btn btn-default btn-xs" onclick="toggleStatsData('#h2hPerformance'); perfRawData = false" title="Show percentage data: Pct. (Won-Lost)"><span class="glyphicon glyphicon-tasks"></span>&nbsp;&nbsp;Pct. Data</button>
		</div>
	</div>
	<th:block th:if="${perf1.empty && perf2.empty}"><p>No performance data available</p></th:block>
</div>
</th:block>