<th:block xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="player1" type="org.strangeforest.tcb.stats.model.core.Player"*/-->
<!--/*@thymesVar id="player2" type="org.strangeforest.tcb.stats.model.core.Player"*/-->
<!--/*@thymesVar id="favoriteSurface1" type="org.strangeforest.tcb.stats.model.FavoriteSurface"*/-->
<!--/*@thymesVar id="favoriteSurface2" type="org.strangeforest.tcb.stats.model.FavoriteSurface"*/-->
<!--/*@thymesVar id="seasonCount1" type="java.lang.Integer"*/-->
<!--/*@thymesVar id="seasonCount2" type="java.lang.Integer"*/-->
<!--/*@thymesVar id="bestSeason1" type="java.lang.Integer"*/-->
<!--/*@thymesVar id="bestSeason2" type="java.lang.Integer"*/-->
<!--/*@thymesVar id="lastEvent1" type="org.strangeforest.tcb.stats.model.PlayerTournamentEvent"*/-->
<!--/*@thymesVar id="lastEvent2" type="org.strangeforest.tcb.stats.model.PlayerTournamentEvent"*/-->
<!--/*@thymesVar id="levels" type="java.util.Map"*/-->
<!--/*@thymesVar id="surfaces" type="java.util.Map"*/-->
<!--/*@thymesVar id="performance1" type="org.strangeforest.tcb.stats.model.PlayerPerformance"*/-->
<!--/*@thymesVar id="performance2" type="org.strangeforest.tcb.stats.model.PlayerPerformance"*/-->
<!--/*@thymesVar id="surfaceTitles1" type="java.util.Map<java.lang.String, java.lang.Integer>"*/-->
<!--/*@thymesVar id="surfaceTitles2" type="java.util.Map<java.lang.String, java.lang.Integer>"*/-->
<!--/*@thymesVar id="teamTitles1" type="java.util.Map<java.lang.String, java.lang.Integer>"*/-->
<!--/*@thymesVar id="teamTitles2" type="java.util.Map<java.lang.String, java.lang.Integer>"*/-->
<!--/*@thymesVar id="playerH2H1" type="org.strangeforest.tcb.stats.model.core.WonDrawLost"*/-->
<!--/*@thymesVar id="playerH2H2" type="org.strangeforest.tcb.stats.model.core.WonDrawLost"*/-->
<!--/*@thymesVar id="h2h" type="org.strangeforest.tcb.stats.model.H2H"*/-->
<!--/*@thymesVar id="adjustedH2H" type="org.strangeforest.tcb.stats.model.H2H"*/-->
<!--/*@thymesVar id="surfaceAdjH2H" type="org.strangeforest.tcb.stats.model.H2H"*/-->
<!--/*@thymesVar id="importanceAdjH2H" type="org.strangeforest.tcb.stats.model.H2H"*/-->
<script type="text/javascript">
	$(function() {
		decorateSurface("#favoriteSurface1, #favoriteSurface2, #lastEventSurface1, #lastEventSurface2");
	});
</script>
<br/>
<table class="table table-condensed text-nowrap">
	<style scoped="scoped">
		.label-overall {
			background-color: #555;
		}
		.progress-profile {
			width: 200px;
			background-color: #dddddd;
			margin-bottom: 0;
		}
		.progress-bar > a {
			color: white;
		}
		.player-title {
			vertical-align: text-top;
		}
		th.performance-bar {
			width: 10%;
		}
	</style>
	<!--/* General */-->
	<tr>
		<th class="text-right" colspan="2" width="40%"><a th:href="@{/playerProfile(playerId=${player1.id})}" th:text="${player1.name}">Roger Federer</a></th>
		<th class="text-center" width="20%">vs</th>
		<th class="text-left" colspan="2" width="40%"><a th:href="@{/playerProfile(playerId=${player2.id})}" th:text="${player2.name}">Rafael Nadal</a></th>
	</tr>
	<th:block th:unless="${h2h.empty}">
	<tr>
		<th class="text-right" colspan="2">
			<div class="progress progress-profile pull-right">
				<div class="progress-bar progress-bar-perf" th:attrappend="class=${h2h.wonPct1 > 50 ? '-w' : (h2h.wonPct1 < 50 ? '-l' : _)}" role="progressbar" th:style="|width: ${h2h.wonPctStr1}|" th:attr="aria-valuenow=${h2h.wonPct1}" aria-valuemin="0" aria-valuemax="100">
					<a th:href="@{/headToHead(playerId1=${player1.id}, playerId2=${player2.id}, tab=matches, outcome=played)}" th:text="|${#numbers.formatDecimal(h2h.won1, 1, 0)} (${h2h.wonPctStr1})|" title="Show H2H matches">11 (55.0%)</a>
				</div>
			</div>
		</th>
		<th class="text-center">H2H</th>
		<th class="text-left" colspan="2">
			<div class="progress progress-profile pull-left">
				<div class="progress-bar progress-bar-perf" th:attrappend="class=${h2h.wonPct2 > 50 ? '-w' : (h2h.wonPct2 < 50 ? '-l' : _)}" role="progressbar" th:style="|width: ${h2h.wonPctStr2}|" th:attr="aria-valuenow=${h2h.wonPct2}" aria-valuemin="0" aria-valuemax="100">
					<a th:href="@{/headToHead(playerId1=${player1.id}, playerId2=${player2.id}, tab=matches, outcome=played)}" th:text="|${#numbers.formatDecimal(h2h.won2, 1, 0)} (${h2h.wonPctStr2})|" title="Show H2H matches">9 (45.0%)</a>
				</div>
			</div>
		</th>
	</tr>
	</th:block>
	<th:block th:if="${h2h.total > 1}">
	<tr>
		<th class="text-right" colspan="2">
			<div class="progress progress-profile pull-right">
				<div class="progress-bar progress-bar-perf" th:attrappend="class=${adjustedH2H.wonPct1 > 50 ? '-w' : (adjustedH2H.wonPct1 < 50 ? '-l' : _)}" role="progressbar" th:style="|width: ${adjustedH2H.wonPctStr1}|" th:attr="aria-valuenow=${adjustedH2H.wonPct1}" aria-valuemin="0" aria-valuemax="100">
					<a th:href="@{/headToHead(playerId1=${player1.id}, playerId2=${player2.id}, tab=matches, outcome=played)}" th:text="|${#numbers.formatDecimal(adjustedH2H.won1, 1, 1)} (${adjustedH2H.wonPctStr1})|" title="Show H2H matches">11 (55.0%)</a>
				</div>
			</div>
		</th>
		<th class="text-center" th:title="#{h2h.adjustedH2H.title}">Adjusted H2H</th>
		<th class="text-left" colspan="2">
			<div class="progress progress-profile pull-left">
				<div class="progress-bar progress-bar-perf" th:attrappend="class=${adjustedH2H.wonPct2 > 50 ? '-w' : (adjustedH2H.wonPct2 < 50 ? '-l' : _)}" role="progressbar" th:style="|width: ${adjustedH2H.wonPctStr2}|" th:attr="aria-valuenow=${adjustedH2H.wonPct2}" aria-valuemin="0" aria-valuemax="100">
					<a th:href="@{/headToHead(playerId1=${player1.id}, playerId2=${player2.id}, tab=matches, outcome=played)}" th:text="|${#numbers.formatDecimal(adjustedH2H.won2, 1, 1)} (${adjustedH2H.wonPctStr2})|" title="Show H2H matches">9 (45.0%)</a>
				</div>
			</div>
		</th>
	</tr>
	<tr>
		<th class="text-right" colspan="2">
			<div class="progress progress-profile pull-right">
				<div class="progress-bar progress-bar-perf" th:attrappend="class=${surfaceAdjH2H.wonPct1 > 50 ? '-w' : (surfaceAdjH2H.wonPct1 < 50 ? '-l' : _)}" role="progressbar" th:style="|width: ${surfaceAdjH2H.wonPctStr1}|" th:attr="aria-valuenow=${surfaceAdjH2H.wonPct1}" aria-valuemin="0" aria-valuemax="100">
					<a th:href="@{/headToHead(playerId1=${player1.id}, playerId2=${player2.id}, tab=matches, outcome=played)}" th:text="|${#numbers.formatDecimal(surfaceAdjH2H.won1, 1, 1)} (${surfaceAdjH2H.wonPctStr1})|" title="Show H2H matches">11 (55.0%)</a>
				</div>
			</div>
		</th>
		<th class="text-center" th:title="#{h2h.surfaceAdjustedH2H.title}">Surface Adj. H2H</th>
		<th class="text-left" colspan="2">
			<div class="progress progress-profile pull-left">
				<div class="progress-bar progress-bar-perf" th:attrappend="class=${surfaceAdjH2H.wonPct2 > 50 ? '-w' : (surfaceAdjH2H.wonPct2 < 50 ? '-l' : _)}" role="progressbar" th:style="|width: ${surfaceAdjH2H.wonPctStr2}|" th:attr="aria-valuenow=${surfaceAdjH2H.wonPct2}" aria-valuemin="0" aria-valuemax="100">
					<a th:href="@{/headToHead(playerId1=${player1.id}, playerId2=${player2.id}, tab=matches, outcome=played)}" th:text="|${#numbers.formatDecimal(surfaceAdjH2H.won2, 1, 1)} (${surfaceAdjH2H.wonPctStr2})|" title="Show H2H matches">9 (45.0%)</a>
				</div>
			</div>
		</th>
	</tr>
	<tr>
		<th class="text-right" colspan="2">
			<div class="progress progress-profile pull-right">
				<div class="progress-bar progress-bar-perf" th:attrappend="class=${importanceAdjH2H.wonPct1 > 50 ? '-w' : (importanceAdjH2H.wonPct1 < 50 ? '-l' : _)}" role="progressbar" th:style="|width: ${importanceAdjH2H.wonPctStr1}|" th:attr="aria-valuenow=${importanceAdjH2H.wonPct1}" aria-valuemin="0" aria-valuemax="100">
					<a th:href="@{/headToHead(playerId1=${player1.id}, playerId2=${player2.id}, tab=matches, outcome=played)}" th:text="|${#numbers.formatDecimal(importanceAdjH2H.won1, 1, 1)} (${importanceAdjH2H.wonPctStr1})|" title="Show H2H matches">11 (55.0%)</a>
				</div>
			</div>
		</th>
		<th class="text-center" th:title="#{h2h.importanceAdjustedH2H.title}">Import. Adj. H2H</th>
		<th class="text-left" colspan="2">
			<div class="progress progress-profile pull-left">
				<div class="progress-bar progress-bar-perf" th:attrappend="class=${importanceAdjH2H.wonPct2 > 50 ? '-w' : (importanceAdjH2H.wonPct2 < 50 ? '-l' : _)}" role="progressbar" th:style="|width: ${importanceAdjH2H.wonPctStr2}|" th:attr="aria-valuenow=${importanceAdjH2H.wonPct2}" aria-valuemin="0" aria-valuemax="100">
					<a th:href="@{/headToHead(playerId1=${player1.id}, playerId2=${player2.id}, tab=matches, outcome=played)}" th:text="|${#numbers.formatDecimal(importanceAdjH2H.won2, 1, 1)} (${importanceAdjH2H.wonPctStr2})|" title="Show H2H matches">9 (45.0%)</a>
				</div>
			</div>
		</th>
	</tr>
	<tr><td colspan="5">&nbsp;</td></tr>
	</th:block>
	<tr th:if="${player1.dob != null || player2.dob != null}">
		<td class="text-right" colspan="2" th:text="${player1.age != null ? player1.age + ' (' + #temporals.format(player1.dob, 'dd-MM-yyyy') + (player1.dod != null ? ' - ' + #temporals.format(player1.dod, 'dd-MM-yyyy') : '') + ')' : _}">25 (1-1-1990)</td>
		<th class="text-center">Age</th>
		<td class="text-left" colspan="2" th:text="${player2.age != null ? player2.age + ' (' + #temporals.format(player2.dob, 'dd-MM-yyyy') + (player2.dod != null ? ' - ' + #temporals.format(player2.dod, 'dd-MM-yyyy') : '') + ')' : _}">25 (1-1-1990)</td>
	</tr>
	<tr>
		<td class="text-right" colspan="2"><img th:src="@{/images/flags/{code}.png(code=${player1.country.code})}" src="/images/flags/us.png" th:title="${player1.country.id}" title="USA" width="24" height="20"/> <span th:text="${player1.country.name}">United States</span></td>
		<th class="text-center">Country</th>
		<td class="text-left" colspan="2"><img th:src="@{/images/flags/{code}.png(code=${player2.country.code})}" src="/images/flags/us.png" th:title="${player2.country.id}" title="USA" width="24" height="20"/> <span th:text="${player2.country.name}">United States</span></td>
	</tr>
	<tr th:if="${player1.birthplace != null || player2.birthplace != null}">
		<td class="text-right" colspan="2" th:text="${player1.birthplace}">New York</td>
		<th class="text-center">Birthplace</th>
		<td class="text-left" colspan="2" th:text="${player2.birthplace}">New York</td>
	</tr>
	<tr th:if="${player1.residence != null || player2.residence != null}">
		<td class="text-right" colspan="2" th:text="${player1.residence}">New York</td>
		<th class="text-center">Residence</th>
		<td class="text-left" colspan="2" th:text="${player2.residence}">New York</td>
	</tr>
	<tr th:if="${player1.height > 0 || player2.height > 0}">
		<td class="text-right" colspan="2" th:text="${player1.height > 0 ? player1.height + ' cm' : _}">180 cm</td>
		<th class="text-center">Height</th>
		<td class="text-left" colspan="2" th:text="${player2.height > 0 ? player2.height + ' cm' : _}">180 cm</td>
	</tr>
	<tr th:if="${player1.weight > 0 || player2.weight > 0}">
		<td class="text-right" colspan="2" th:text="${player1.weight > 0 ? player1.weight + ' kg' : _}">80 kg</td>
		<th class="text-center">Weight</th>
		<td class="text-left" colspan="2" th:text="${player2.weight > 0 ? player2.weight + ' kg' : _}">80 kg</td>
	</tr>
	<!--/* Tennis */-->
	<tr th:if="${player1.hand != null || player2.hand != null}">
		<td class="text-right" colspan="2" th:text="${player1.hand != null ? player1.handName : _}">Right-handed</td>
		<th class="text-center">Plays</th>
		<td class="text-left" colspan="2" th:text="${player2.hand != null ? player2.handName : _}">Right-handed</td>
	</tr>
	<tr th:if="${player1.backhand != null || player2.backhand != null}">
		<td class="text-right" colspan="2" th:text="${player1.backhand != null ? player1.backhandName : _}">Two-handed</td>
		<th class="text-center">Backhand</th>
		<td class="text-left" colspan="2" th:text="${player2.backhand != null ? player2.backhandName : _}">Two-handed</td>
	</tr>
	<tr th:if="${!favoriteSurface1.empty || !favoriteSurface2.empty}">
		<td class="text-right" colspan="2"><span th:if="${!favoriteSurface1.empty}" id="favoriteSurface1" class="label" th:data-surface="${favoriteSurface1.code != null ? favoriteSurface1.code : _}"><span th:text="${favoriteSurface1}" th:title="${favoriteSurface1.surfaceGroup != null ? favoriteSurface1.surfaceGroup.surfacesText : _}">Hard</span> <span th:text="${#numbers.formatDecimal(favoriteSurface1.specialization, 0, 0)} + '%'" title="Surface specialization rating">25%</span></span></td>
		<th class="text-center">Favorite Surface</th>
		<td class="text-left" colspan="2"><span th:if="${!favoriteSurface2.empty}" id="favoriteSurface2" class="label" th:data-surface="${favoriteSurface2.code != null ? favoriteSurface2.code : _}"><span th:text="${favoriteSurface2}" th:title="${favoriteSurface2.surfaceGroup != null ? favoriteSurface2.surfaceGroup.surfacesText : _}">Hard</span> <span th:text="${#numbers.formatDecimal(favoriteSurface2.specialization, 0, 0)} + '%'" title="Surface specialization rating">25%</span></span></td>
	</tr>
	<tr th:if="${player1.coach != null || player2.coach != null}">
		<td class="text-right" colspan="2" th:text="${player1.coach}">Brad Gilbert</td>
		<th class="text-center">Coach</th>
		<td class="text-left" colspan="2" th:text="${player2.coach}">Brad Gilbert</td>
	</tr>
	<tr th:if="${player1.turnedPro > 0 || player2.turnedPro > 0}">
		<td class="text-right" colspan="2" th:text="${player1.turnedPro > 0 ? player1.turnedPro : _}">2005</td>
		<th class="text-center">Turned Pro</th>
		<td class="text-left" colspan="2" th:text="${player2.turnedPro > 0 ? player2.turnedPro : _}">2005</td>
	</tr>
	<tr th:if="${seasonCount1 > 0 || seasonCount2 > 0}">
		<td class="text-right" colspan="2"><a th:if="${seasonCount1 > 0}" th:href="@{/playerProfile(playerId=${player1.id}, tab=timeline)}" th:text="${seasonCount1}" title="Show timeline">10</a></td>
		<th class="text-center">Seasons</th>
		<td class="text-left" colspan="2"><a th:if="${seasonCount2 > 0}" th:href="@{/playerProfile(playerId=${player2.id}, tab=timeline)}" th:text="${seasonCount2}" title="Show timeline">10</a></td>
	</tr>
	<tr th:if="${player1.active || player2.active}">
		<td class="text-right" colspan="2">[(${player1.active ? 'Yes' : 'No'})] <img th:if="${player1.active}" src="/images/active.png" title="Active" width="12" height="12" style="vertical-align: 0"/></td>
		<th class="text-center">Active</th>
		<td class="text-left" colspan="2">[(${player2.active ? 'Yes' : 'No'})] <img th:if="${player2.active}" src="/images/active.png" title="Active" width="12" height="12" style="vertical-align: 0"/></td>
	</tr>
	<tr th:if="${(!player1.active && lastEvent1 != null) || (!player2.active && lastEvent2 != null)}">
		<td class="text-right" colspan="2" th:text="${!player1.active && lastEvent1 != null ? lastEvent1.season : _}">2010</td>
		<th class="text-center">Retired</th>
		<td class="text-left" colspan="2" th:text="${!player2.active && lastEvent2 != null ? lastEvent2.season : _}">2010</td>
	</tr>
	<tr th:if="${player1.prizeMoney != null || player2.prizeMoney != null}">
		<td class="text-right" colspan="2" th:text="${player1.prizeMoney}">US$ 1,000,000</td>
		<th class="text-center">Prize Money</th>
		<td class="text-left" colspan="2" th:text="${player2.prizeMoney}">US$ 1,000,000</td>
	</tr>
	<!--/* Social */-->
	<tr>
		<td class="text-right" colspan="2"><img src="/images/glyphicons-social-wikipedia-small.png" width="16" height="16"/> <a th:href="${player1.wikipedia != null ? player1.wikipedia : '/playerWikipediaUrl?playerId=' + player1.id}" href="https://en.wikipedia.org/wiki/Roger_Federer" target="_blank" rel="noopener noreferrer" class="external">Wikipedia</a></td>
		<th class="text-center">Wikipedia</th>
		<td class="text-left" colspan="2"><img src="/images/glyphicons-social-wikipedia-small.png" width="16" height="16"/> <a th:href="${player2.wikipedia != null ? player2.wikipedia : '/playerWikipediaUrl?playerId=' + player2.id}" href="https://en.wikipedia.org/wiki/Rafael_Nadal" target="_blank" rel="noopener noreferrer" class="external">Wikipedia</a></td>
	</tr>
	<tr th:if="${player1.webSite != null || player2.webSite != null}">
		<td class="text-right" colspan="2"><a th:if="${player1.webSite}" th:href="'http://' + ${player1.webSite}" href="http://www.johnsmith.com" target="_blank" rel="noopener noreferrer" class="external" th:text="${player1.webSite}">www.johnsmith.com</a></td>
		<th class="text-center">Web Site</th>
		<td class="text-left" colspan="2"><a th:if="${player2.webSite}" th:href="'http://' + ${player2.webSite}" href="http://www.johnsmith.com" target="_blank" rel="noopener noreferrer" class="external" th:text="${player2.webSite}">www.johnsmith.com</a></td>
	</tr>
	<tr th:if="${player1.facebook != null || player2.facebook != null}">
		<td class="text-right" colspan="2"><th:block th:if="${player1.facebook}"><img src="/images/glyphicons-social-facebook-small.png" width="16" height="16"/> <a th:href="'https://www.facebook.com/' + ${player1.facebook}" href="https://www.facebook.com/JohnSmith" target="_blank" rel="noopener noreferrer" class="external" th:text="${player1.facebook}">JohnSmith</a></th:block></td>
		<th class="text-center">Facebook</th>
		<td class="text-left" colspan="2"><th:block th:if="${player2.facebook}"><img src="/images/glyphicons-social-facebook-small.png" width="16" height="16"/> <a th:href="'https://www.facebook.com/' + ${player2.facebook}" href="https://www.facebook.com/JohnSmith" target="_blank" rel="noopener noreferrer" class="external" th:text="${player2.facebook}">JohnSmith</a></th:block></td>
	</tr>
	<tr th:if="${player1.twitter != null || player2.twitter != null}">
		<td class="text-right" colspan="2"><th:block th:if="${player1.twitter}"><img src="/images/glyphicons-social-twitter-small.png" width="16" height="16"/> <a th:href="'https://twitter.com/' + ${player1.twitter}" href="https://twitter.com/JohnSmith" target="_blank" rel="noopener noreferrer" class="external" th:text="'@'+ ${player1.twitter}">@JohnSmith</a></th:block></td>
		<th class="text-center">Twitter</th>
		<td class="text-left" colspan="2"><th:block th:if="${player2.twitter}"><img src="/images/glyphicons-social-twitter-small.png" width="16" height="16"/> <a th:href="'https://twitter.com/' + ${player2.twitter}" href="https://twitter.com/JohnSmith" target="_blank" rel="noopener noreferrer" class="external" th:text="'@'+ ${player2.twitter}">@JohnSmith</a></th:block></td>
	</tr>
	<tr th:if="${player1.nicknames != null || player2.nicknames != null}">
		<td class="text-right" colspan="2" th:text="${player1.nicknames}">Maestro</td>
		<th class="text-center">Nicknames</th>
		<td class="text-left" colspan="2" th:text="${player2.nicknames}">Bull</td>
	</tr>
	<tr><td colspan="5">&nbsp;</td></tr>
	<!--/* Titles */-->
	<tr th:if="${player1.titles > 0 || player2.titles > 0}">
		<td class="text-right" colspan="2">
			<div th:if="${player1.titles > 0}">
				<i class="fa fa-trophy fa-b"></i> <a class="label label-default player-title" th:text="${player1.titles}" th:href="@{/playerProfile(playerId=${player1.id}, tab=events, result=W)}" title="Show titles">10</a>
			</div>
		</td>
		<th class="text-center">Titles</th>
		<td class="text-left" colspan="2">
			<div th:if="${player2.titles > 0}">
				<a class="label label-default player-title" th:text="${player2.titles}" th:href="@{/playerProfile(playerId=${player2.id}, tab=events, result=W)}" title="Show titles">10</a> <i class="fa fa-trophy fa-b"></i>
			</div>
		</td>
	</tr>
	<tr th:if="${player1.grandSlams > 0 || player2.grandSlams > 0}">
		<td class="text-right" colspan="2">
			<div th:if="${player1.grandSlams > 0}">
				<i class="fa fa-trophy fa-b text-danger"></i> <a class="label label-danger player-title" th:text="${player1.grandSlams}" th:href="@{/playerProfile(playerId=${player1.id}, tab=events, level=G, result=W)}" title="Show Grand Slam titles">1</a>
			</div>
		</td>
		<th class="text-center">Grand Slams</th>
		<td class="text-left" colspan="2">
			<div th:if="${player2.grandSlams > 0}">
				<a class="label label-danger player-title" th:text="${player2.grandSlams}" th:href="@{/playerProfile(playerId=${player2.id}, tab=events, level=G, result=W)}" title="Show Grand Slam titles">1</a> <i class="fa fa-trophy fa-b text-danger"></i>
			</div>
		</td>
	</tr>
	<tr th:if="${player1.tourFinals > 0 || player2.tourFinals > 0}">
		<td class="text-right" colspan="2">
			<div th:if="${player1.tourFinals > 0}">
				<i class="fa fa-trophy fa-b text-warning"></i> <a class="label label-warning2 player-title" th:text="${player1.tourFinals}" th:href="@{/playerProfile(playerId=${player1.id}, tab=events, level=F, result=W)}" title="Show Tour Finals titles">1</a>
			</div>
		</td>
		<th class="text-center">Tour Finals</th>
		<td class="text-left" colspan="2">
			<div th:if="${player2.tourFinals > 0}">
				<a class="label label-warning2 player-title" th:text="${player2.tourFinals}" th:href="@{/playerProfile(playerId=${player2.id}, tab=events, level=F, result=W)}" title="Show Tour Finals titles">1</a> <i class="fa fa-trophy fa-b text-warning"></i>
			</div>
		</td>
	</tr>
	<tr th:if="${player1.altFinals > 0 || player2.altFinals > 0}">
		<td class="text-right" colspan="2">
			<div th:if="${player1.altFinals > 0}">
				<i class="fa fa-trophy fa-b text-warning"></i> <a class="label label-warning player-title" th:text="${player1.altFinals}" th:href="@{/playerProfile(playerId=${player1.id}, tab=events, level=L, result=W)}" title="Show Alternative Tour Finals titles">1</a>
			</div>
		</td>
		<th class="text-center" title="Alternative Tour Finals">Alt. Finals</th>
		<td class="text-left" colspan="2">
			<div th:if="${player2.altFinals > 0}">
				<a class="label label-warning player-title" th:text="${player2.altFinals}" th:href="@{/playerProfile(playerId=${player2.id}, tab=events, level=L, result=W)}" title="Show Alternative Tour Finals titles">1</a> <i class="fa fa-trophy fa-b text-warning"></i>
			</div>
		</td>
	</tr>
	<tr th:if="${player1.masters > 0 || player2.masters > 0}">
		<td class="text-right" colspan="2">
			<div th:if="${player1.masters > 0}">
				<i class="fa fa-trophy fa-b text-info"></i> <a class="label label-info player-title" th:text="${player1.masters}" th:href="@{/playerProfile(playerId=${player1.id}, tab=events, level=M, result=W)}" title="Show Masters titles">5</a>
			</div>
		</td>
		<th class="text-center">Masters</th>
		<td class="text-left" colspan="2">
			<div th:if="${player2.masters > 0}">
				<a class="label label-info player-title" th:text="${player2.masters}" th:href="@{/playerProfile(playerId=${player2.id}, tab=events, level=M, result=W)}" title="Show Masters titles">5</a> <i class="fa fa-trophy fa-b text-info"></i>
			</div>
		</td>
	</tr>
	<tr th:if="${player1.olympics > 0 || player2.olympics > 0}">
		<td class="text-right" colspan="2">
			<div th:if="${player1.olympics > 0}">
				<i class="fa fa-trophy fa-b text-success"></i> <a class="label label-success player-title" th:text="${player1.olympics}" th:href="@{/playerProfile(playerId=${player1.id}, tab=events, level=O, result=W)}" title="Show Olympics titles">1</a>
			</div>
		</td>
		<th class="text-center">Olympics</th>
		<td class="text-left" colspan="2">
			<div th:if="${player2.olympics > 0}">
				<a class="label label-success player-title" th:text="${player2.olympics}" th:href="@{/playerProfile(playerId=${player2.id}, tab=events, level=O, result=W)}" title="Show Olympics titles">1</a> <i class="fa fa-trophy fa-b text-success"></i>
			</div>
		</td>
	</tr>
	<tr th:if="${teamTitles1['D'] > 0 || teamTitles2['D'] > 0}">
		<td class="text-right" colspan="2">
			<div th:if="${teamTitles1['D'] > 0}">
				<i class="fa fa-trophy fa-b text-danger2"></i> <span class="label label-D player-title" th:text="${teamTitles1['D']}">1</span>
			</div>
		</td>
		<th class="text-center">Davis Cups</th>
		<td class="text-left" colspan="2">
			<div th:if="${teamTitles2['D'] > 0}">
				<a class="label label-D player-title" th:text="${teamTitles2['D']}">1</a> <i class="fa fa-trophy fa-b text-danger2"></i>
			</div>
		</td>
	</tr>
	<tr th:if="${teamTitles1['T'] > 0 || teamTitles2['T'] > 0}">
		<td class="text-right" colspan="2">
			<div th:if="${teamTitles1['T'] > 0}">
				<i class="fa fa-trophy fa-b text-danger2"></i> <span class="label label-T player-title" th:text="${teamTitles1['T']}">1</span>
			</div>
		</td>
		<th class="text-center">Team Cups</th>
		<td class="text-left" colspan="2">
			<div th:if="${teamTitles2['T'] > 0}">
				<a class="label label-T player-title" th:text="${teamTitles2['T']}">1</a> <i class="fa fa-trophy fa-b text-danger2"></i>
			</div>
		</td>
	</tr>
	<tr th:if="${player1.titles > 0 || player2.titles > 0 || !teamTitles1.empty || !teamTitles2.empty}"><td colspan="5">&nbsp;</td></tr>
	<!--/* Ranking */-->
	<tr th:if="${player1.currentRank > 0 || player2.currentRank > 0}">
		<td class="text-right" colspan="2" th:text="${player1.currentRank > 0 ? player1.currentRank + ' (' + player1.currentRankPoints + ')' : _}">10 (3000)</td>
		<th class="text-center">Current Rank</th>
		<td class="text-left" colspan="2" th:text="${player2.currentRank > 0 ? player2.currentRank + ' (' + player2.currentRankPoints + ')' : _}">10 (3000)</td>
	</tr>
	<tr th:if="${player1.bestRank > 0 || player2.bestRank > 0}">
		<td class="text-right" colspan="2"><th:block th:if="${player1.bestRank > 0}">[(${player1.bestRank})] (<a th:href="@{/rankingsTable(rankType=RANK, date=${#temporals.format(player1.bestRankDate, 'dd-MM-yyyy')})}" th:text="${#temporals.format(player1.bestRankDate, 'dd-MM-yyyy')}">01-01-2010</a>)</th:block></td>
		<th class="text-center">Best Rank</th>
		<td class="text-left" colspan="2"><th:block th:if="${player2.bestRank > 0}">[(${player2.bestRank})] (<a th:href="@{/rankingsTable(rankType=RANK, date=${#temporals.format(player2.bestRankDate, 'dd-MM-yyyy')})}" th:text="${#temporals.format(player2.bestRankDate, 'dd-MM-yyyy')}">01-01-2010</a>)</th:block></td>
	</tr>
	<tr th:if="${player1.currentEloRank > 0 || player2.currentEloRank > 0}">
		<td class="text-right" colspan="2" th:text="${player1.currentEloRank > 0 ? player1.currentEloRank + ' (' + player1.currentEloRating + ')' : _}">10 (2200)</td>
		<th class="text-center">Current Elo Rank</th>
		<td class="text-left" colspan="2" th:text="${player2.currentEloRank > 0 ? player2.currentEloRank + ' (' + player2.currentEloRating + ')' : _}">10 (2200)</td>
	</tr>
	<tr th:if="${player1.bestEloRank > 0 || player2.bestEloRank > 0}">
		<td class="text-right" colspan="2"><th:block th:if="${player1.bestEloRank > 0}">[(${player1.bestEloRank})] (<a th:href="@{/rankingsTable(rankType=ELO_RANK, date=${#temporals.format(player1.bestEloRankDate, 'dd-MM-yyyy')})}" th:text="${#temporals.format(player1.bestEloRankDate, 'dd-MM-yyyy')}">01-01-2010</a>)</th:block></td>
		<th class="text-center">Best Elo Rank</th>
		<td class="text-left" colspan="2"><th:block th:if="${player2.bestEloRank > 0}">[(${player2.bestEloRank})] (<a th:href="@{/rankingsTable(rankType=ELO_RANK, date=${#temporals.format(player2.bestEloRankDate, 'dd-MM-yyyy')})}" th:text="${#temporals.format(player2.bestEloRankDate, 'dd-MM-yyyy')}">01-01-2010</a>)</th:block></td>
	</tr>
	<tr th:if="${player1.bestEloRating > 0 || player2.bestEloRating > 0}">
		<td class="text-right" colspan="2"><th:block th:if="${player1.bestEloRating > 0}">[(${player1.bestEloRating})] (<a th:href="@{/rankingsTable(rankType=ELO_RANK, date=${#temporals.format(player1.bestEloRatingDate, 'dd-MM-yyyy')})}" th:text="${#temporals.format(player1.bestEloRatingDate, 'dd-MM-yyyy')}">01-01-2010</a>)</th:block></td>
		<th class="text-center">Peak Elo Rating</th>
		<td class="text-left" colspan="2"><th:block th:if="${player2.bestEloRating > 0}">[(${player2.bestEloRating})] (<a th:href="@{/rankingsTable(rankType=ELO_RANK, date=${#temporals.format(player2.bestEloRatingDate, 'dd-MM-yyyy')})}" th:text="${#temporals.format(player2.bestEloRatingDate, 'dd-MM-yyyy')}">01-01-2010</a>)</th:block></td>
	</tr>
	<tr th:if="${player1.goatPoints > 0 || player2.goatPoints > 0}">
		<td class="text-right" colspan="2"><th:block th:if="${player1.goatPoints > 0}">[(${player1.goatRank})] (<a th:href="@{/playerProfile(playerId=${player1.id}, tab=goatPoints)}" th:text="${player1.goatPoints}" title="Show GOAT points distribution">25</a>)</th:block></td>
		<th class="text-center">GOAT Rank</th>
		<td class="text-left" colspan="2"><th:block th:if="${player2.goatPoints > 0}">[(${player2.goatRank})] (<a th:href="@{/playerProfile(playerId=${player2.id}, tab=goatPoints)}" th:text="${player2.goatPoints}" title="Show GOAT points distribution">25</a>)</th:block></td>
	</tr>
	<tr th:if="${player1.weeksAtNo1 > 0 || player2.weeksAtNo1 > 0}">
		<td class="text-right" colspan="2" th:text="${player1.weeksAtNo1 > 0 ? player1.weeksAtNo1 : _}">50</td>
		<th class="text-center">Weeks at No. 1</th>
		<td class="text-left" colspan="2" th:text="${player2.weeksAtNo1 > 0 ? player2.weeksAtNo1 : _}">50</td>
	</tr>
	<tr th:if="${bestSeason1 != null || bestSeason2 != null || lastEvent1 != null || lastEvent2 != null}"><td colspan="5">&nbsp;</td></tr>
	<tr th:if="${bestSeason1 != null || bestSeason2 != null}">
		<td class="text-right" colspan="2"><a th:if="${bestSeason1}" th:href="@{/playerProfile(playerId=${player1.id}, tab=season, season=${bestSeason1})}" title="Show season highlights" th:text="${bestSeason1}">2015</a></td>
		<th class="text-center"><a th:href="@{/headToHead(playerId1=${player1.id}, playerId2=${player2.id}, tab=season, season1=${bestSeason1}, season2=${bestSeason2})}" title="Compare">Best Season</a></th>
		<td class="text-left" colspan="2"><a th:if="${bestSeason2}" th:href="@{/playerProfile(playerId=${player2.id}, tab=season, season=${bestSeason2})}" title="Show season highlights" th:text="${bestSeason2}">2015</a></td>
	</tr>
	<tr th:if="${lastEvent1 != null || lastEvent2 != null}">
		<td class="text-right" colspan="2" th:with="lastEvent=${lastEvent1}, playerId=${player1.id}">
			<th:block th:if="${lastEvent1}">
			<span style="vertical-align: middle" th:text="${#temporals.format(lastEvent.date, 'dd-MM-yyyy')}">15-07-2015</span>
			<a th:href="@{/tournamentEvent(tournamentEventId=${lastEvent.tournamentEventId})}" class="label label-" th:attrappend="class=${lastEvent.level}" th:text="${lastEvent.name}" th:title="${levels[lastEvent.level]}">Wimbledon</a>
			<span th:if="${lastEvent.surface}" id="lastEventSurface1" class="label" th:data-surface="${lastEvent.surface}">[(${surfaces[lastEvent.surface]})]<span th:if="${lastEvent.indoor && lastEvent.surface != 'P'}" title="Indoor"> (i)</span></span>
			<a th:href="@{/playerProfile(playerId=${playerId}, tab=matches, tournamentEventId=${lastEvent.tournamentEventId})}" class="label black bg-result-" th:attrappend="class=${lastEvent.result}" th:text="${lastEvent.result}" title="Show tournament matches">W</a>
			</th:block>
		</td>
		<th class="text-center">Last Appearance</th>
		<td class="text-left" colspan="2" th:with="lastEvent=${lastEvent2}, playerId=${player2.id}">
			<th:block th:if="${lastEvent2}">
			<span style="vertical-align: middle" th:text="${#temporals.format(lastEvent.date, 'dd-MM-yyyy')}">15-07-2015</span>
			<a th:href="@{/tournamentEvent(tournamentEventId=${lastEvent.tournamentEventId})}" class="label label-" th:attrappend="class=${lastEvent.level}" th:text="${lastEvent.name}" th:title="${levels[lastEvent.level]}">Wimbledon</a>
			<span th:if="${lastEvent.surface}" id="lastEventSurface1" class="label" th:data-surface="${lastEvent.surface}">[(${surfaces[lastEvent.surface]})]<span th:if="${lastEvent.indoor && lastEvent.surface != 'P'}" title="Indoor"> (i)</span></span>
			<a th:href="@{/playerProfile(playerId=${playerId}, tab=matches, tournamentEventId=${lastEvent.tournamentEventId})}" class="label black bg-result-" th:attrappend="class=${lastEvent.result}" th:text="${lastEvent.result}" title="Show tournament matches">W</a>
			</th:block>
		</td>
	</tr>
	<!-- Performance -->
	<th:block th:if="${!performance1.matches.empty || !performance2.matches.empty}">
	<tr><td colspan="5">&nbsp;</td></tr>
	<tr th:with="wl1=${performance1.matches}, wl2=${performance2.matches}, wlc=${!wl1.empty ? (!wl2.empty ? wl2.compareTo(wl1) : 1) : -1}">
		<th class="text-right">&nbsp;</th>
		<th class="text-right performance-bar">
			<div th:unless="${wl1.empty}" class="progress progress-profile pull-right">
				<div class="progress-bar progress-bar-perf" th:attrappend="class=${wlc > 0 ? '-w' : (wlc < 0 ? '-l' : _)}" role="progressbar" th:style="'width: ' + ${wl1.wonPctStr}" th:attr="aria-valuenow=${wl1.wonPct}" aria-valuemin="0" aria-valuemax="100">
					<a th:href="@{/playerProfile(playerId=${player1.id}, tab=matches, outcome=played)}" th:text="|${wl1.wonPctStr} (${wl1.WL})|" title="Show matches">50% (10-10)</a>
				</div>
			</div>
		</th>
		<th class="text-center"><span class="label label-overall">Overall</span></th>
		<th class="text-left performance-bar">
			<div th:unless="${wl2.empty}" class="progress progress-profile pull-left">
				<div class="progress-bar progress-bar-perf" th:attrappend="class=${wlc < 0 ? '-w' : (wlc > 0 ? '-l' : _)}" role="progressbar" th:style="'width: ' + ${wl2.wonPctStr}" th:attr="aria-valuenow=${wl2.wonPct}" aria-valuemin="0" aria-valuemax="100">
					<a th:href="@{/playerProfile(playerId=${player2.id}, tab=matches, outcome=played)}" th:text="|${wl2.wonPctStr} (${wl2.WL})|" title="Show matches">50% (10-10)</a>
				</div>
			</div>
		</th>
		<th class="text-right">&nbsp;</th>
	</tr>
	<tr th:if="${!performance1.hardMatches.empty || !performance2.hardMatches.empty}" th:with="wl1=${performance1.hardMatches}, wl2=${performance2.hardMatches}, wlc=${!wl1.empty ? (!wl2.empty ? wl2.compareTo(wl1) : 1) : -1}">
		<th class="text-right">
			<div th:if="${surfaceTitles1['H']}">
				<i class="fa fa-trophy fa-b text-primary"></i> <a class="label label-primary player-title" th:text="${surfaceTitles1['H']}" th:href="@{/playerProfile(playerId=${player1.id}, tab=events, surface=H, result=W)}" title="Show hard titles">1</a>
			</div>
		</th>
		<th class="text-right">
			<div th:unless="${wl1.empty}" class="progress progress-profile pull-right">
				<div class="progress-bar progress-bar-perf" th:attrappend="class=${wlc > 0 ? '-w' : (wlc < 0 ? '-l' : _)}" role="progressbar" th:style="'width: ' + ${wl1.wonPctStr}" th:attr="aria-valuenow=${wl1.wonPct}" aria-valuemin="0" aria-valuemax="100">
					<a th:href="@{/playerProfile(playerId=${player1.id}, tab=matches, surface=H, outcome=played)}" th:text="|${wl1.wonPctStr} (${wl1.WL})|" title="Show hard matches">50% (10-10)</a>
				</div>
			</div>
		</th>
		<th class="text-center"><span class="label label-primary">Hard</span></th>
		<th class="text-left">
			<div th:unless="${wl2.empty}" class="progress progress-profile pull-left">
				<div class="progress-bar progress-bar-perf" th:attrappend="class=${wlc < 0 ? '-w' : (wlc > 0 ? '-l' : _)}" role="progressbar" th:style="'width: ' + ${wl2.wonPctStr}" th:attr="aria-valuenow=${wl2.wonPct}" aria-valuemin="0" aria-valuemax="100">
					<a th:href="@{/playerProfile(playerId=${player2.id}, tab=matches, surface=H, outcome=played)}" th:text="|${wl2.wonPctStr} (${wl2.WL})|" title="Show hard matches">50% (10-10)</a>
				</div>
			</div>
		</th>
		<th class="text-left">
			<div th:if="${surfaceTitles2['H']}">
				<a class="label label-primary player-title" th:text="${surfaceTitles2['H']}" th:href="@{/playerProfile(playerId=${player2.id}, tab=events, surface=H, result=W)}" title="Show hard titles">1</a> <i class="fa fa-trophy fa-b text-primary"></i>
			</div>
		</th>
	</tr>
	<tr th:if="${!performance1.clayMatches.empty || !performance2.clayMatches.empty}" th:with="wl1=${performance1.clayMatches}, wl2=${performance2.clayMatches}, wlc=${!wl1.empty ? (!wl2.empty ? wl2.compareTo(wl1) : 1) : -1}">
		<th class="text-right">
			<div th:if="${surfaceTitles1['C']}">
				<i class="fa fa-trophy fa-b text-danger"></i> <a class="label label-danger player-title" th:text="${surfaceTitles1['C']}" th:href="@{/playerProfile(playerId=${player1.id}, tab=events, surface=C, result=W)}" title="Show clay titles">1</a>
			</div>
		</th>
		<th class="text-right">
			<div th:unless="${wl1.empty}" class="progress progress-profile pull-right">
				<div class="progress-bar progress-bar-perf" th:attrappend="class=${wlc > 0 ? '-w' : (wlc < 0 ? '-l' : _)}" role="progressbar" th:style="'width: ' + ${wl1.wonPctStr}" th:attr="aria-valuenow=${wl1.wonPct}" aria-valuemin="0" aria-valuemax="100">
					<a th:href="@{/playerProfile(playerId=${player1.id}, tab=matches, surface=C, outcome=played)}" th:text="|${wl1.wonPctStr} (${wl1.WL})|" title="Show clay matches">50% (10-10)</a>
				</div>
			</div>
		</th>
		<th class="text-center"><span class="label label-danger">Clay</span></th>
		<th class="text-left">
			<div th:unless="${wl2.empty}" class="progress progress-profile pull-left">
				<div class="progress-bar progress-bar-perf" th:attrappend="class=${wlc < 0 ? '-w' : (wlc > 0 ? '-l' : _)}" role="progressbar" th:style="'width: ' + ${wl2.wonPctStr}" th:attr="aria-valuenow=${wl2.wonPct}" aria-valuemin="0" aria-valuemax="100">
					<a th:href="@{/playerProfile(playerId=${player2.id}, tab=matches, surface=C, outcome=played)}" th:text="|${wl2.wonPctStr} (${wl2.WL})|" title="Show clay matches">50% (10-10)</a>
				</div>
			</div>
		</th>
		<th class="text-left">
			<div th:if="${surfaceTitles2['C']}">
				<a class="label label-danger player-title" th:text="${surfaceTitles2['C']}" th:href="@{/playerProfile(playerId=${player2.id}, tab=events, surface=C, result=W)}" title="Show clay titles">1</a> <i class="fa fa-trophy fa-b text-danger"></i>
			</div>
		</th>
	</tr>
	<tr th:if="${!performance1.grassMatches.empty || !performance2.grassMatches.empty}" th:with="wl1=${performance1.grassMatches}, wl2=${performance2.grassMatches}, wlc=${!wl1.empty ? (!wl2.empty ? wl2.compareTo(wl1) : 1) : -1}">
		<th class="text-right">
			<div th:if="${surfaceTitles1['G']}">
				<i class="fa fa-trophy fa-b text-success"></i> <a class="label label-success player-title" th:text="${surfaceTitles1['G']}" th:href="@{/playerProfile(playerId=${player1.id}, tab=events, surface=G, result=W)}" title="Show grass titles">1</a>
			</div>
		</th>
		<th class="text-right">
			<div th:unless="${wl1.empty}" class="progress progress-profile pull-right">
				<div class="progress-bar progress-bar-perf" th:attrappend="class=${wlc > 0 ? '-w' : (wlc < 0 ? '-l' : _)}" role="progressbar" th:style="'width: ' + ${wl1.wonPctStr}" th:attr="aria-valuenow=${wl1.wonPct}" aria-valuemin="0" aria-valuemax="100">
					<a th:href="@{/playerProfile(playerId=${player1.id}, tab=matches, surface=G, outcome=played)}" th:text="|${wl1.wonPctStr} (${wl1.WL})|" title="Show grass matches">50% (10-10)</a>
				</div>
			</div>
		</th>
		<th class="text-center"><span class="label label-success">Grass</span></th>
		<th class="text-left">
			<div th:unless="${wl2.empty}" class="progress progress-profile pull-left">
				<div class="progress-bar progress-bar-perf" th:attrappend="class=${wlc < 0 ? '-w' : (wlc > 0 ? '-l' : _)}" role="progressbar" th:style="'width: ' + ${wl2.wonPctStr}" th:attr="aria-valuenow=${wl2.wonPct}" aria-valuemin="0" aria-valuemax="100">
					<a th:href="@{/playerProfile(playerId=${player2.id}, tab=matches, surface=G, outcome=played)}" th:text="|${wl2.wonPctStr} (${wl2.WL})|" title="Show grass matches">50% (10-10)</a>
				</div>
			</div>
		</th>
		<th class="text-left">
			<div th:if="${surfaceTitles2['G']}">
				<a class="label label-success player-title" th:text="${surfaceTitles2['G']}" th:href="@{/playerProfile(playerId=${player2.id}, tab=events, surface=G, result=W)}" title="Show grass titles">1</a> <i class="fa fa-trophy fa-b text-success"></i>
			</div>
		</th>
	</tr>
	<tr th:if="${!performance1.carpetMatches.empty || !performance2.carpetMatches.empty}" th:with="wl1=${performance1.carpetMatches}, wl2=${performance2.carpetMatches}, wlc=${!wl1.empty ? (!wl2.empty ? wl2.compareTo(wl1) : 1) : -1}">
		<th class="text-right">
			<div th:if="${surfaceTitles1['P']}">
				<i class="fa fa-trophy fa-b text-warning"></i> <a class="label label-warning player-title" th:text="${surfaceTitles1['P']}" th:href="@{/playerProfile(playerId=${player1.id}, tab=events, surface=P, result=W)}" title="Show carpet titles">1</a>
			</div>
		</th>
		<th class="text-right">
			<div th:unless="${wl1.empty}" class="progress progress-profile pull-right">
				<div class="progress-bar progress-bar-perf" th:attrappend="class=${wlc > 0 ? '-w' : (wlc < 0 ? '-l' : _)}" role="progressbar" th:style="'width: ' + ${wl1.wonPctStr}" th:attr="aria-valuenow=${wl1.wonPct}" aria-valuemin="0" aria-valuemax="100">
					<a th:href="@{/playerProfile(playerId=${player1.id}, tab=matches, surface=P, outcome=played)}" th:text="|${wl1.wonPctStr} (${wl1.WL})|" title="Show carpet matches">50% (10-10)</a>
				</div>
			</div>
		</th>
		<th class="text-center"><span class="label label-warning">Carpet</span></th>
		<th class="text-left">
			<div th:unless="${wl2.empty}" class="progress progress-profile pull-left">
				<div class="progress-bar progress-bar-perf" th:attrappend="class=${wlc < 0 ? '-w' : (wlc > 0 ? '-l' : _)}" role="progressbar" th:style="'width: ' + ${wl2.wonPctStr}" th:attr="aria-valuenow=${wl2.wonPct}" aria-valuemin="0" aria-valuemax="100">
					<a th:href="@{/playerProfile(playerId=${player2.id}, tab=matches, surface=P, outcome=played)}" th:text="|${wl2.wonPctStr} (${wl2.WL})|" title="Show carpet matches">50% (10-10)</a>
				</div>
			</div>
		</th>
		<th class="text-left">
			<div th:if="${surfaceTitles2['P']}">
				<a class="label label-warning player-title" th:text="${surfaceTitles2['P']}" th:href="@{/playerProfile(playerId=${player2.id}, tab=events, surface=P, result=W)}" title="Show carpet titles">1</a> <i class="fa fa-trophy fa-b text-warning"></i>
			</div>
		</th>
	</tr>
	</th:block>
	<!--/* H2H */-->
	<th:block th:if="${playerH2H1 != null || playerH2H2 != null}">
	<tr><td colspan="5">&nbsp;</td></tr>
	<tr>
		<th class="text-right" colspan="2">
			<div th:if="${playerH2H1}" class="progress progress-profile pull-right" style="width: 250px">
				<div class="progress-bar progress-bar-profile progress-bar-success" role="progressbar" th:style="'width: ' + ${playerH2H1.rawWonPctStr}" th:attr="aria-valuenow=${playerH2H1.rawWonPct}" aria-valuemin="0" aria-valuemax="100">
					<a th:href="@{/playerProfile(playerId=${player1.id}, tab=rivalries, h2h=1, matches=3)}" th:text="${playerH2H1.won}" title="Show positive H2H rivalries">42</a>
				</div>
				<div class="progress-bar progress-bar-profile progress-bar-warning" role="progressbar" th:style="'width: ' + ${playerH2H1.rawDrawPctStr}" th:attr="aria-valuenow=${playerH2H1.rawDrawPct}" aria-valuemin="0" aria-valuemax="100">
					<a th:href="@{/playerProfile(playerId=${player1.id}, tab=rivalries, h2h=0, matches=3)}" th:text="${playerH2H1.draw}" title="Show draw H2H rivalries">4</a>
				</div>
				<div class="progress-bar progress-bar-profile progress-bar-danger" role="progressbar" th:style="'width: ' + ${playerH2H1.rawLostPctStr}" th:attr="aria-valuenow=${playerH2H1.rawLostPct}" aria-valuemin="0" aria-valuemax="100">
					<a th:href="@{/playerProfile(playerId=${player1.id}, tab=rivalries, h2h=-1, matches=3)}" th:text="${playerH2H1.lost}" title="Show negative H2H rivalries">1</a>
				</div>
			</div>
		</th>
		<th class="text-center" th:title="#{h2hSeries.notes}">H2H</th>
		<th class="text-left" colspan="2">
			<div th:if="${playerH2H2}" class="progress progress-profile pull-left" style="width: 250px">
				<div class="progress-bar progress-bar-profile progress-bar-success" role="progressbar" th:style="'width: ' + ${playerH2H2.rawWonPctStr}" th:attr="aria-valuenow=${playerH2H2.rawWonPct}" aria-valuemin="0" aria-valuemax="100">
					<a th:href="@{/playerProfile(playerId=${player2.id}, tab=rivalries, h2h=1, matches=3)}" th:text="${playerH2H2.won}" title="Show positive H2H rivalries">42</a>
				</div>
				<div class="progress-bar progress-bar-profile progress-bar-warning" role="progressbar" th:style="'width: ' + ${playerH2H2.rawDrawPctStr}" th:attr="aria-valuenow=${playerH2H2.rawDrawPct}" aria-valuemin="0" aria-valuemax="100">
					<a th:href="@{/playerProfile(playerId=${player2.id}, tab=rivalries, h2h=0, matches=3)}" th:text="${playerH2H2.draw}" title="Show draw H2H rivalries">4</a>
				</div>
				<div class="progress-bar progress-bar-profile progress-bar-danger" role="progressbar" th:style="'width: ' + ${playerH2H2.rawLostPctStr}" th:attr="aria-valuenow=${playerH2H2.rawLostPct}" aria-valuemin="0" aria-valuemax="100">
					<a th:href="@{/playerProfile(playerId=${player2.id}, tab=rivalries, h2h=-1, matches=3)}" th:text="${playerH2H2.lost}" title="Show negative H2H rivalries">1</a>
				</div>
			</div>
		</th>
	</tr>
	<tr>
		<td class="text-right" colspan="2"><span th:if="${playerH2H1}" th:text="${playerH2H1.wonPctStr}">75.4%</span></td>
		<th class="text-center" th:title="#{h2hSeries.notes}">H2H %</th>
		<td class="text-left" colspan="2"><span th:if="${playerH2H2}" th:text="${playerH2H2.wonPctStr}">75.4%</span></td>
	</tr>
	</th:block>
</table>
</th:block>