<th:block  xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="playerId1" type="java.lang.Integer"*/-->
<!--/*@thymesVar id="playerId2" type="java.lang.Integer"*/-->
<!--/*@thymesVar id="seasons" type="java.util.Set<java.lang.Integer>"*/-->
<!--/*@thymesVar id="levels" type="java.util.EnumSet<org.strangeforest.tcb.stats.model.TournamentLevel>"*/-->
<!--/*@thymesVar id="levelGroups" type="java.util.EnumSet<org.strangeforest.tcb.stats.model.TournamentLevelGroup>"*/-->
<!--/*@thymesVar id="surfaces" type="org.strangeforest.tcb.stats.model.Surface[]"*/-->
<!--/*@thymesVar id="season" type="java.lang.Integer"*/-->
<!--/*@thymesVar id="level" type="java.lang.String"*/-->
<!--/*@thymesVar id="surface" type="java.lang.String"*/-->
<!--/*@thymesVar id="stats1" type="org.strangeforest.tcb.stats.model.PlayerStats"*/-->
<!--/*@thymesVar id="stats2" type="org.strangeforest.tcb.stats.model.PlayerStats"*/-->
<!--/*@thymesVar id="statsFormatUtil" type="org.strangeforest.tcb.stats.controller.StatsFormatUtil"*/-->
<!--/*@thymesVar id="_" type="java.lang.String"*/-->
<script type="text/javascript">
	$(function() {
		$("#h2hStats").find(".raw-data").hide();
	});
	function reloadStats() {
		var url = "/h2hStats?playerId1=[[${playerId1}]]&playerId2=[[${playerId2}]]";
		url += "&season=" + $("#statsSeason").val();
		url += "&level=" + $("#statsLevel").val();
		url += "&surface=" + $("#statsSurface").val();
		$("#statistics").load(url);
	}
</script>
<style scoped="scoped">
	.stat {
		color: inherit;
	}
	.stat-w {
		color: seagreen;
	}
	.stat-l {
		color: crimson;
	}
</style>
<br/>
<div class="row">
	<div class="col-md-3">
		<div class="input-group">
			<label for="statsSeason" class="input-group-addon">Season:</label>
			<select id="statsSeason" class="form-control" onchange="reloadStats()">
				<option value="">All seasons</option>
				<option th:each="aSeason : ${seasons}" th:value="${aSeason}" value="2005" th:text="${aSeason}" th:selected="${aSeason == season}">2005</option>
			</select>
		</div>
	</div>
	<div class="col-md-3">
		<div class="input-group">
			<label for="statsLevel" class="input-group-addon">Level:</label>
			<select id="statsLevel" class="form-control" onchange="reloadStats()">
				<option value="">All levels</option>
				<option th:each="aLevel : ${levels}" th:value="${aLevel.code}" th:class="|bg-level-${aLevel.code}|" value="G" class="bg-level-G" th:text="${aLevel.text}" th:selected="${aLevel.code == level}">Grand Slam</option>
				<option th:each="levelGroup : ${levelGroups}" th:value="${levelGroup.codes}" value="GFMO" th:text="${levelGroup.text}" th:selected="${levelGroup.codes == level}">Big Tournaments</option>
			</select>
		</div>
	</div>
	<div class="col-md-3">
		<div class="input-group">
			<label for="statsSurface" class="input-group-addon">Surface:</label>
			<select id="statsSurface" class="form-control" onchange="reloadStats()">
				<option value="">All surfaces</option>
				<option th:each="aSurface : ${surfaces}" th:value="${aSurface.code}" th:class="|bg-surface-${aSurface.code}|" value="H" class="bg-surface-H" th:text="${aSurface.text}" th:selected="${aSurface.code == surface}">Hard</option>
			</select>
		</div>
	</div>
</div>
<br/>
<div id="h2hStats">
	<table th:unless="${stats1.empty && stats2.empty}" class="table table-condensed table-hover table-striped text-nowrap" th:with="hasPointsStats1=${stats1.hasPointStats()}, hasPointsStats2=${stats2.hasPointStats()}, hasPointsStats=${hasPointsStats1 || hasPointsStats2}, hasBothPointsStats=${hasPointsStats1 && hasPointsStats2}">
		<th:block th:if="${hasPointsStats}">
		<tr>
			<th class="pct-data text-right" width="40%"><span class="glyphicon glyphicon-scale"></span></th>
			<th class="raw-data text-right" width="40%"><span class="glyphicon glyphicon-equalizer"></span></th>
			<th class="text-center">Serve</th>
			<th class="pct-data text-left" width="40%"><span class="glyphicon glyphicon-scale"></span></th>
			<th class="raw-data text-left" width="40%"><span class="glyphicon glyphicon-equalizer"></span></th>
		</tr>
		<!-- Serve Pct. Data -->
		<tr class="pct-data" th:with="sc=${hasBothPointsStats ? statsFormatUtil.compare(stats1.acePct, stats2.acePct) : 0}">
			<th th:text="${hasPointsStats1 ? statsFormatUtil.formatPct(stats1.acePct) : _}" class="text-right stat" th:attrappend="class=${sc > 0 ? '-w' : (sc < 0 ? '-l' : _)}">10%</th>
			<td class="text-center">Ace %</td>
			<th th:text="${hasPointsStats2 ? statsFormatUtil.formatPct(stats2.acePct) : _}" class="text-left stat" th:attrappend="class=${sc < 0 ? '-w' : (sc > 0 ? '-l' : _)}">10%</th>
		</tr>
		<tr class="pct-data" th:with="sc=${hasBothPointsStats ? statsFormatUtil.compare(stats2.doubleFaultPct, stats1.doubleFaultPct) : 0}">
			<th th:text="${hasPointsStats1 ? statsFormatUtil.formatPct(stats1.doubleFaultPct) : _}" class="text-right stat" th:attrappend="class=${sc > 0 ? '-w' : (sc < 0 ? '-l' : _)}">3%</th>
			<td class="text-center">Double Fault %</td>
			<th th:text="${hasPointsStats2 ? statsFormatUtil.formatPct(stats2.doubleFaultPct) : _}" class="text-left stat" th:attrappend="class=${sc < 0 ? '-w' : (sc > 0 ? '-l' : _)}">3%</th>
		</tr>
		<tr class="pct-data" th:with="sc=${hasBothPointsStats ? statsFormatUtil.compare(stats1.firstServePct, stats2.firstServePct) : 0}">
			<th th:text="${hasPointsStats1 ? statsFormatUtil.formatPct(stats1.firstServePct) : _}" class="text-right stat" th:attrappend="class=${sc > 0 ? '-w' : (sc < 0 ? '-l' : _)}">64%</th>
			<td class="text-center">1st Serve</td>
			<th th:text="${hasPointsStats2 ? statsFormatUtil.formatPct(stats2.firstServePct) : _}" class="text-left stat" th:attrappend="class=${sc < 0 ? '-w' : (sc > 0 ? '-l' : _)}">64%</th>
		</tr>
		<tr class="pct-data" th:with="sc=${hasBothPointsStats ? statsFormatUtil.compare(stats1.firstServeWonPct, stats2.firstServeWonPct) : 0}">
			<th th:text="${hasPointsStats1 ? statsFormatUtil.formatPct(stats1.firstServeWonPct) : _}" class="text-right stat" th:attrappend="class=${sc > 0 ? '-w' : (sc < 0 ? '-l' : _)}">75%</th>
			<td class="text-center">1st Serve Won</td>
			<th th:text="${hasPointsStats2 ? statsFormatUtil.formatPct(stats2.firstServeWonPct) : _}" class="text-left stat" th:attrappend="class=${sc < 0 ? '-w' : (sc > 0 ? '-l' : _)}">75%</th>
		</tr>
		<tr class="pct-data" th:with="sc=${hasBothPointsStats ? statsFormatUtil.compare(stats1.secondServeWonPct, stats2.secondServeWonPct) : 0}">
			<th th:text="${hasPointsStats1 ? statsFormatUtil.formatPct(stats1.secondServeWonPct) : _}" class="text-right stat" th:attrappend="class=${sc > 0 ? '-w' : (sc < 0 ? '-l' : _)}">45%</th>
			<td class="text-center">2nd Serve Won</td>
			<th th:text="${hasPointsStats2 ? statsFormatUtil.formatPct(stats2.secondServeWonPct) : _}" class="text-left stat" th:attrappend="class=${sc < 0 ? '-w' : (sc > 0 ? '-l' : _)}">45%</th>
		</tr>
		<tr class="pct-data" th:with="sc=${hasBothPointsStats ? statsFormatUtil.compare(stats1.breakPointsSavedPct, stats2.breakPointsSavedPct) : 0}">
			<th th:text="${hasPointsStats1 ? statsFormatUtil.formatPct(stats1.breakPointsSavedPct) : _}" class="text-right stat" th:attrappend="class=${sc > 0 ? '-w' : (sc < 0 ? '-l' : _)}">35%</th>
			<td class="text-center">Break Points Saved</td>
			<th th:text="${hasPointsStats2 ? statsFormatUtil.formatPct(stats2.breakPointsSavedPct) : _}" class="text-left stat" th:attrappend="class=${sc < 0 ? '-w' : (sc > 0 ? '-l' : _)}">35%</th>
		</tr>
		<tr class="pct-data" th:with="sc=${hasBothPointsStats ? statsFormatUtil.compare(stats1.servicePointsWonPct, stats2.servicePointsWonPct) : 0}">
			<th th:text="${hasPointsStats1 ? statsFormatUtil.formatPct(stats1.servicePointsWonPct) : _}" class="text-right stat" th:attrappend="class=${sc > 0 ? '-w' : (sc < 0 ? '-l' : _)}">85%</th>
			<td class="text-center">Service Pts. Won</td>
			<th th:text="${hasPointsStats2 ? statsFormatUtil.formatPct(stats2.servicePointsWonPct) : _}" class="text-left stat" th:attrappend="class=${sc < 0 ? '-w' : (sc > 0 ? '-l' : _)}">85%</th>
		</tr>
		<tr class="pct-data" th:with="sc=${hasBothPointsStats ? statsFormatUtil.compare(stats1.serviceGamesWonPct, stats2.serviceGamesWonPct) : 0}">
			<th th:text="${hasPointsStats1 ? statsFormatUtil.formatPct(stats1.serviceGamesWonPct) : _}" class="text-right stat" th:attrappend="class=${sc > 0 ? '-w' : (sc < 0 ? '-l' : _)}">75%</th>
			<td class="text-center">Service Games Won</td>
			<th th:text="${hasPointsStats2 ? statsFormatUtil.formatPct(stats2.serviceGamesWonPct) : _}" class="text-left stat" th:attrappend="class=${sc < 0 ? '-w' : (sc > 0 ? '-l' : _)}">75%</th>
		</tr>
		<!-- Serve Raw Data -->
		<tr class="raw-data" th:with="sc=${hasBothPointsStats ? statsFormatUtil.compare(stats1.aces, stats2.aces) : 0}">
			<th th:text="${hasPointsStats1 ? stats1.aces : _}" class="text-right stat" th:attrappend="class=${sc > 0 ? '-w' : (sc < 0 ? '-l' : _)}">5</th>
			<td class="text-center">Aces</td>
			<th th:text="${hasPointsStats2 ? stats2.aces : _}" class="text-left stat" th:attrappend="class=${sc < 0 ? '-w' : (sc > 0 ? '-l' : _)}">5</th>
		</tr>
		<tr class="raw-data" th:with="sc=${hasBothPointsStats ? statsFormatUtil.compare(stats2.doubleFaults, stats1.doubleFaults) : 0}">
			<th th:text="${hasPointsStats1 ? stats1.doubleFaults : _}" class="text-right stat" th:attrappend="class=${sc > 0 ? '-w' : (sc < 0 ? '-l' : _)}">3</th>
			<td class="text-center">Double Faults</td>
			<th th:text="${hasPointsStats2 ? stats2.doubleFaults : _}" class="text-left stat" th:attrappend="class=${sc < 0 ? '-w' : (sc > 0 ? '-l' : _)}">3</th>
		</tr>
		<tr class="raw-data" th:with="sc=${hasBothPointsStats ? statsFormatUtil.compare(stats1.firstServePct, stats2.firstServePct) : 0}">
			<th th:text="${hasPointsStats1 ? stats1.firstServesIn + ' / ' + stats1.servicePoints : _}" class="text-right stat" th:attrappend="class=${sc > 0 ? '-w' : (sc < 0 ? '-l' : _)}">43 / 52</th>
			<td class="text-center">1st Serve In</td>
			<th th:text="${hasPointsStats2 ? stats2.firstServesIn + ' / ' + stats2.servicePoints : _}" class="text-left stat" th:attrappend="class=${sc < 0 ? '-w' : (sc > 0 ? '-l' : _)}">43 / 52</th>
		</tr>
		<tr class="raw-data" th:with="sc=${hasBothPointsStats ? statsFormatUtil.compare(stats1.firstServeWonPct, stats2.firstServeWonPct) : 0}">
			<th th:text="${hasPointsStats1 ? stats1.firstServesWon + ' / ' + stats1.firstServesIn : _}" class="text-right stat" th:attrappend="class=${sc > 0 ? '-w' : (sc < 0 ? '-l' : _)}">27 / 43</th>
			<td class="text-center">1st Serve Won</td>
			<th th:text="${hasPointsStats2 ? stats2.firstServesWon + ' / ' + stats2.firstServesIn : _}" class="text-left stat" th:attrappend="class=${sc < 0 ? '-w' : (sc > 0 ? '-l' : _)}">27 / 43</th>
		</tr>
		<tr class="raw-data" th:with="sc=${hasBothPointsStats ? statsFormatUtil.compare(stats1.secondServeWonPct, stats2.secondServeWonPct) : 0}">
			<th th:text="${hasPointsStats1 ? stats1.secondServesWon + ' / ' + stats1.secondServes : _}" class="text-right stat" th:attrappend="class=${sc > 0 ? '-w' : (sc < 0 ? '-l' : _)}">12 / 15</th>
			<td class="text-center">2nd Serve Won</td>
			<th th:text="${hasPointsStats2 ? stats2.secondServesWon + ' / ' + stats2.secondServes : _}" class="text-left stat" th:attrappend="class=${sc < 0 ? '-w' : (sc > 0 ? '-l' : _)}">12 / 15</th>
		</tr>
		<tr class="raw-data" th:with="sc=${hasBothPointsStats ? statsFormatUtil.compare(stats1.breakPointsSavedPct, stats2.breakPointsSavedPct) : 0}">
			<th th:text="${hasPointsStats1 ? stats1.breakPointsSaved + ' / ' + stats1.breakPointsFaced : _}" class="text-right stat" th:attrappend="class=${sc > 0 ? '-w' : (sc < 0 ? '-l' : _)}">1 / 2</th>
			<td class="text-center">Break Points Saved</td>
			<th th:text="${hasPointsStats2 ? stats2.breakPointsSaved + ' / ' + stats2.breakPointsFaced : _}" class="text-left stat" th:attrappend="class=${sc < 0 ? '-w' : (sc > 0 ? '-l' : _)}">1 / 2</th>
		</tr>
		<tr class="raw-data" th:with="sc=${hasBothPointsStats ? statsFormatUtil.compare(stats1.servicePointsWonPct, stats2.servicePointsWonPct) : 0}">
			<th th:text="${hasPointsStats1 ? stats1.servicePointsWon + ' / ' + stats1.servicePoints : _}" class="text-right stat" th:attrappend="class=${sc > 0 ? '-w' : (sc < 0 ? '-l' : _)}">39 / 52</th>
			<td class="text-center">Service Pts. Won</td>
			<th th:text="${hasPointsStats2 ? stats2.servicePointsWon + ' / ' + stats2.servicePoints : _}" class="text-left stat" th:attrappend="class=${sc < 0 ? '-w' : (sc > 0 ? '-l' : _)}">39 / 52</th>
		</tr>
		<tr class="raw-data" th:with="sc=${hasBothPointsStats ? statsFormatUtil.compare(stats1.serviceGamesWonPct, stats2.serviceGamesWonPct) : 0}">
			<th th:text="${hasPointsStats1 ? stats1.serviceGamesWon + ' / ' + stats1.serviceGames : _}" class="text-right stat" th:attrappend="class=${sc > 0 ? '-w' : (sc < 0 ? '-l' : _)}">12 / 15</th>
			<td class="text-center">Service Games Won</td>
			<th th:text="${hasPointsStats2 ? stats2.serviceGamesWon + ' / ' + stats2.serviceGames : _}" class="text-left stat" th:attrappend="class=${sc < 0 ? '-w' : (sc > 0 ? '-l' : _)}">12 / 15</th>
		</tr>
		<tr><td colspan="3">&nbsp;</td></tr>
		<tr>
			<th class="pct-data text-right"><span class="glyphicon glyphicon-scale"></span></th>
			<th class="raw-data text-right"><span class="glyphicon glyphicon-equalizer"></span></th>
			<th class="text-center">Return</th>
			<th class="pct-data text-left"><span class="glyphicon glyphicon-scale"></span></th>
			<th class="raw-data text-left"><span class="glyphicon glyphicon-equalizer"></span></th>
		</tr>
		<!-- Return Pct. Data -->
		<tr class="pct-data" th:with="sc=${hasBothPointsStats ? statsFormatUtil.compare(stats2.aceAgainstPct, stats1.aceAgainstPct) : 0}">
			<th th:text="${hasPointsStats1 ? statsFormatUtil.formatPct(stats1.aceAgainstPct) : _}" class="text-right stat" th:attrappend="class=${sc > 0 ? '-w' : (sc < 0 ? '-l' : _)}">10%</th>
			<td class="text-center">Ace Against %</td>
			<th th:text="${hasPointsStats2 ? statsFormatUtil.formatPct(stats2.aceAgainstPct) : _}" class="text-left stat" th:attrappend="class=${sc < 0 ? '-w' : (sc > 0 ? '-l' : _)}">10%</th>
		</tr>
		<tr class="pct-data" th:with="sc=${hasBothPointsStats ? statsFormatUtil.compare(stats1.doubleFaultAgainstPct, stats2.doubleFaultAgainstPct) : 0}">
			<th th:text="${hasPointsStats1 ? statsFormatUtil.formatPct(stats1.doubleFaultAgainstPct) : _}" class="text-right stat" th:attrappend="class=${sc > 0 ? '-w' : (sc < 0 ? '-l' : _)}">3%</th>
			<td class="text-center">Dbl. Flt. Against %</td>
			<th th:text="${hasPointsStats2 ? statsFormatUtil.formatPct(stats2.doubleFaultAgainstPct) : _}" class="text-left stat" th:attrappend="class=${sc < 0 ? '-w' : (sc > 0 ? '-l' : _)}">3%</th>
		</tr>
		<tr class="pct-data" th:with="sc=${hasBothPointsStats ? statsFormatUtil.compare(stats1.firstServeReturnPointsWonPct, stats2.firstServeReturnPointsWonPct) : 0}">
			<th th:text="${hasPointsStats1 ? statsFormatUtil.formatPct(stats1.firstServeReturnPointsWonPct) : _}" class="text-right stat" th:attrappend="class=${sc > 0 ? '-w' : (sc < 0 ? '-l' : _)}">28%</th>
			<td class="text-center">1st Srv. Rtn. Won</td>
			<th th:text="${hasPointsStats2 ? statsFormatUtil.formatPct(stats2.firstServeReturnPointsWonPct) : _}" class="text-left stat" th:attrappend="class=${sc < 0 ? '-w' : (sc > 0 ? '-l' : _)}">28%</th>
		</tr>
		<tr class="pct-data" th:with="sc=${hasBothPointsStats ? statsFormatUtil.compare(stats1.secondServeReturnPointsWonPct, stats2.secondServeReturnPointsWonPct) : 0}">
			<th th:text="${hasPointsStats1 ? statsFormatUtil.formatPct(stats1.secondServeReturnPointsWonPct) : _}" class="text-right stat" th:attrappend="class=${sc > 0 ? '-w' : (sc < 0 ? '-l' : _)}">22%</th>
			<td class="text-center">2nd Srv. Rtn. Won</td>
			<th th:text="${hasPointsStats2 ? statsFormatUtil.formatPct(stats2.secondServeReturnPointsWonPct) : _}" class="text-left stat" th:attrappend="class=${sc < 0 ? '-w' : (sc > 0 ? '-l' : _)}">22%</th>
		</tr>
		<tr class="pct-data" th:with="sc=${hasBothPointsStats ? statsFormatUtil.compare(stats1.breakPointsWonPct, stats2.breakPointsWonPct) : 0}">
			<th th:text="${hasPointsStats1 ? statsFormatUtil.formatPct(stats1.breakPointsWonPct) : _}" class="text-right stat" th:attrappend="class=${sc > 0 ? '-w' : (sc < 0 ? '-l' : _)}">35%</th>
			<td class="text-center">Break Points Won</td>
			<th th:text="${hasPointsStats2 ? statsFormatUtil.formatPct(stats2.breakPointsWonPct) : _}" class="text-left stat" th:attrappend="class=${sc < 0 ? '-w' : (sc > 0 ? '-l' : _)}">35%</th>
		</tr>
		<tr class="pct-data" th:with="sc=${hasBothPointsStats ? statsFormatUtil.compare(stats1.returnPointsWonPct, stats2.returnPointsWonPct) : 0}">
			<th th:text="${hasPointsStats1 ? statsFormatUtil.formatPct(stats1.returnPointsWonPct) : _}" class="text-right stat" th:attrappend="class=${sc > 0 ? '-w' : (sc < 0 ? '-l' : _)}">35%</th>
			<td class="text-center">Return Pts. Won</td>
			<th th:text="${hasPointsStats2 ? statsFormatUtil.formatPct(stats2.returnPointsWonPct) : _}" class="text-left stat" th:attrappend="class=${sc < 0 ? '-w' : (sc > 0 ? '-l' : _)}">35%</th>
		</tr>
		<tr class="pct-data" th:with="sc=${hasBothPointsStats ? statsFormatUtil.compare(stats1.returnGamesWonPct, stats2.returnGamesWonPct) : 0}">
			<th th:text="${hasPointsStats1 ? statsFormatUtil.formatPct(stats1.returnGamesWonPct) : _}" class="text-right stat" th:attrappend="class=${sc > 0 ? '-w' : (sc < 0 ? '-l' : _)}">35%</th>
			<td class="text-center">Return Games Won</td>
			<th th:text="${hasPointsStats2 ? statsFormatUtil.formatPct(stats2.returnGamesWonPct) : _}" class="text-left stat" th:attrappend="class=${sc < 0 ? '-w' : (sc > 0 ? '-l' : _)}">35%</th>
		</tr>
		<!-- Return Raw Data -->
		<tr class="raw-data"></tr>
		<tr class="raw-data" th:with="sc=${hasBothPointsStats ? statsFormatUtil.compare(stats2.acesAgainst, stats1.acesAgainst) : 0}">
			<th th:text="${hasPointsStats1 ? stats1.acesAgainst : _}" class="text-right stat" th:attrappend="class=${sc > 0 ? '-w' : (sc < 0 ? '-l' : _)}">5</th>
			<td class="text-center">Aces Against</td>
			<th th:text="${hasPointsStats2 ? stats2.acesAgainst : _}" class="text-left stat" th:attrappend="class=${sc < 0 ? '-w' : (sc > 0 ? '-l' : _)}">5</th>
		</tr>
		<tr class="raw-data" th:with="sc=${hasBothPointsStats ? statsFormatUtil.compare(stats1.doubleFaultsAgainst, stats2.doubleFaultsAgainst) : 0}">
			<th th:text="${hasPointsStats1 ? stats1.doubleFaultsAgainst : _}" class="text-right stat" th:attrappend="class=${sc > 0 ? '-w' : (sc < 0 ? '-l' : _)}">3</th>
			<td class="text-center">Dbl. Flts. Against</td>
			<th th:text="${hasPointsStats2 ? stats2.doubleFaultsAgainst : _}" class="text-left stat" th:attrappend="class=${sc < 0 ? '-w' : (sc > 0 ? '-l' : _)}">3</th>
		</tr>
		<tr class="raw-data" th:with="sc=${hasBothPointsStats ? statsFormatUtil.compare(stats1.firstServeReturnPointsWonPct, stats2.firstServeReturnPointsWonPct) : 0}">
			<th th:text="${hasPointsStats1 ? stats1.firstServeReturnPointsWon + ' / ' + stats1.firstServeReturnPoints : _}" class="text-right stat" th:attrappend="class=${sc > 0 ? '-w' : (sc < 0 ? '-l' : _)}">25 / 60</th>
			<td class="text-center">1st Srv. Rtn. Won</td>
			<th th:text="${hasPointsStats2 ? stats2.firstServeReturnPointsWon + ' / ' + stats2.firstServeReturnPoints : _}" class="text-left stat" th:attrappend="class=${sc < 0 ? '-w' : (sc > 0 ? '-l' : _)}">25 / 60</th>
		</tr>
		<tr class="raw-data" th:with="sc=${hasBothPointsStats ? statsFormatUtil.compare(stats1.secondServeReturnPointsWonPct, stats2.secondServeReturnPointsWonPct) : 0}">
			<th th:text="${hasPointsStats1 ? stats1.secondServeReturnPointsWon + ' / ' + stats1.secondServeReturnPoints : _}" class="text-right stat" th:attrappend="class=${sc > 0 ? '-w' : (sc < 0 ? '-l' : _)}">25 / 50</th>
			<td class="text-center">2nd Srv. Rtn. Won</td>
			<th th:text="${hasPointsStats2 ? stats2.secondServeReturnPointsWon + ' / ' + stats2.secondServeReturnPoints : _}" class="text-left stat" th:attrappend="class=${sc < 0 ? '-w' : (sc > 0 ? '-l' : _)}">25 / 50</th>
		</tr>
		<tr class="raw-data" th:with="sc=${hasBothPointsStats ? statsFormatUtil.compare(stats1.breakPointsWonPct, stats2.breakPointsWonPct) : 0}">
			<th th:text="${hasPointsStats1 ? stats1.breakPointsWon + ' / ' + stats1.breakPoints : _}" class="text-right stat" th:attrappend="class=${sc > 0 ? '-w' : (sc < 0 ? '-l' : _)}">0 / 0</th>
			<td class="text-center">Break Points Won</td>
			<th th:text="${hasPointsStats2 ? stats2.breakPointsWon + ' / ' + stats2.breakPoints : _}" class="text-left stat" th:attrappend="class=${sc < 0 ? '-w' : (sc > 0 ? '-l' : _)}">0 / 0</th>
		</tr>
		<tr class="raw-data" th:with="sc=${hasBothPointsStats ? statsFormatUtil.compare(stats1.returnPointsWonPct, stats2.returnPointsWonPct) : 0}">
			<th th:text="${hasPointsStats1 ? stats1.returnPointsWon + ' / ' + stats1.returnPoints : _}" class="text-right stat" th:attrappend="class=${sc > 0 ? '-w' : (sc < 0 ? '-l' : _)}">25 / 55</th>
			<td class="text-center">Return Pts. Won</td>
			<th th:text="${hasPointsStats2 ? stats2.returnPointsWon + ' / ' + stats2.returnPoints : _}" class="text-left stat" th:attrappend="class=${sc < 0 ? '-w' : (sc > 0 ? '-l' : _)}">25 / 55</th>
		</tr>
		<tr class="raw-data" th:with="sc=${hasBothPointsStats ? statsFormatUtil.compare(stats1.returnGamesWonPct, stats2.returnGamesWonPct) : 0}">
			<th th:text="${hasPointsStats1 ? stats1.returnGamesWon + ' / ' + stats1.returnGames : _}" class="text-right stat" th:attrappend="class=${sc > 0 ? '-w' : (sc < 0 ? '-l' : _)}">3 / 12</th>
			<td class="text-center">Return Games Won</td>
			<th th:text="${hasPointsStats2 ? stats2.returnGamesWon + ' / ' + stats2.returnGames : _}" class="text-left stat" th:attrappend="class=${sc < 0 ? '-w' : (sc > 0 ? '-l' : _)}">3 / 12</th>
		</tr>
		<tr></tr>
		<tr><td colspan="3">&nbsp;</td></tr>
		</th:block>
		<tr>
			<th class="pct-data text-right" width="40%"><span class="glyphicon glyphicon-scale"></span></th>
			<th class="raw-data text-right" width="40%"><span class="glyphicon glyphicon-equalizer"></span></th>
			<th class="text-center">Total</th>
			<th class="pct-data text-left" width="40%"><span class="glyphicon glyphicon-scale"></span></th>
			<th class="raw-data text-left" width="40%"><span class="glyphicon glyphicon-equalizer"></span></th>
		</tr>
		<!-- Total Pct. Data -->
		<th:block th:if="${hasPointsStats}">
			<tr th:with="sc=${hasBothPointsStats ? statsFormatUtil.compare(stats1.pointsDominanceRatio, stats2.pointsDominanceRatio) : 0}">
				<th th:text="${hasPointsStats1 ? statsFormatUtil.formatRatio(stats1.pointsDominanceRatio) : _}" class="text-right stat" th:attrappend="class=${sc > 0 ? '-w' : (sc < 0 ? '-l' : _)}">1.07</th>
				<td class="text-center" th:title="#{stats.pointsDominanceRatio.title}">Points Dominance</td>
				<th th:text="${hasPointsStats2 ? statsFormatUtil.formatRatio(stats2.pointsDominanceRatio) : _}" class="text-left stat" th:attrappend="class=${sc < 0 ? '-w' : (sc > 0 ? '-l' : _)}">1.07</th>
			</tr>
			<tr th:with="sc=${hasBothPointsStats ? statsFormatUtil.compare(stats1.gamesDominanceRatio, stats2.gamesDominanceRatio) : 0}">
				<th th:text="${hasPointsStats1 ? statsFormatUtil.formatRatio(stats1.gamesDominanceRatio) : _}" class="text-right stat" th:attrappend="class=${sc > 0 ? '-w' : (sc < 0 ? '-l' : _)}">1.07</th>
				<td class="text-center" th:title="#{stats.gamesDominanceRatio.title}">Games Dominance</td>
				<th th:text="${hasPointsStats2 ? statsFormatUtil.formatRatio(stats2.gamesDominanceRatio) : _}" class="text-left stat" th:attrappend="class=${sc < 0 ? '-w' : (sc > 0 ? '-l' : _)}">1.07</th>
			</tr>
			<tr th:with="sc=${hasBothPointsStats ? statsFormatUtil.compare(stats1.breakPointsRatio, stats2.breakPointsRatio) : 0}">
				<th th:text="${hasPointsStats1 ? statsFormatUtil.formatRatio(stats1.breakPointsRatio) : _}" class="text-right stat" th:attrappend="class=${sc > 0 ? '-w' : (sc < 0 ? '-l' : _)}">1.03</th>
				<td class="text-center" th:title="#{stats.breakPointsRatio.title}">Brk. Pts. Ratio</td>
				<th th:text="${hasPointsStats2 ? statsFormatUtil.formatRatio(stats2.breakPointsRatio) : _}" class="text-left stat" th:attrappend="class=${sc < 0 ? '-w' : (sc > 0 ? '-l' : _)}">1.03</th>
			</tr>
			<tr th:with="sc=${hasBothPointsStats ? statsFormatUtil.compare(stats1.overPerformingRatio, stats2.overPerformingRatio) : 0}">
				<th th:text="${hasPointsStats1 ? statsFormatUtil.formatRatio(stats1.overPerformingRatio) : _}" class="text-right stat" th:attrappend="class=${sc > 0 ? '-w' : (sc < 0 ? '-l' : _)}">1.01</th>
				<td class="text-center" th:title="#{stats.overPerformingRatio.title}">Over-Performing</td>
				<th th:text="${hasPointsStats2 ? statsFormatUtil.formatRatio(stats2.overPerformingRatio) : _}" class="text-left stat" th:attrappend="class=${sc < 0 ? '-w' : (sc > 0 ? '-l' : _)}">1.01</th>
			</tr>
			<tr class="pct-data" th:with="sc=${hasBothPointsStats ? statsFormatUtil.compare(stats1.totalPointsWonPct, stats2.totalPointsWonPct) : 0}">
				<th th:text="${hasPointsStats1 ? statsFormatUtil.formatPct(stats1.totalPointsWonPct) : _}" class="text-right stat" th:attrappend="class=${sc > 0 ? '-w' : (sc < 0 ? '-l' : _)}">56%</th>
				<td class="text-center">Total Pts. Won</td>
				<th th:text="${hasPointsStats2 ? statsFormatUtil.formatPct(stats2.totalPointsWonPct) : _}" class="text-left stat" th:attrappend="class=${sc < 0 ? '-w' : (sc > 0 ? '-l' : _)}">56%</th>
			</tr>
		</th:block>
		<tr class="pct-data" th:with="sc=${statsFormatUtil.compare(stats1.totalGamesWonPct, stats2.totalGamesWonPct)}">
			<th th:text="${!stats1.empty ? statsFormatUtil.formatPct(stats1.totalGamesWonPct) : _}" class="text-right stat" th:attrappend="class=${sc > 0 ? '-w' : (sc < 0 ? '-l' : _)}">58%</th>
			<td class="text-center">Total Games Won</td>
			<th th:text="${!stats2.empty ? statsFormatUtil.formatPct(stats2.totalGamesWonPct) : _}" class="text-left stat" th:attrappend="class=${sc < 0 ? '-w' : (sc > 0 ? '-l' : _)}">58%</th>
		</tr>
		<tr class="pct-data" th:with="sc=${statsFormatUtil.compare(stats1.setsWonPct, stats2.setsWonPct)}">
			<th th:text="${!stats1.empty ? statsFormatUtil.formatPct(stats1.setsWonPct) : _}" class="text-right stat" th:attrappend="class=${sc > 0 ? '-w' : (sc < 0 ? '-l' : _)}">62%</th>
			<td class="text-center">Sets Won</td>
			<th th:text="${!stats2.empty ? statsFormatUtil.formatPct(stats2.setsWonPct) : _}" class="text-left stat" th:attrappend="class=${sc < 0 ? '-w' : (sc > 0 ? '-l' : _)}">62%</th>
		</tr>
		<tr class="pct-data" th:with="sc=${statsFormatUtil.compare(stats1.matchesWonPct, stats2.matchesWonPct)}">
			<th th:text="${!stats1.empty ? statsFormatUtil.formatPct(stats1.matchesWonPct) : _}" class="text-right stat" th:attrappend="class=${sc > 0 ? '-w' : (sc < 0 ? '-l' : _)}">69%</th>
			<td class="text-center">Matches Won</td>
			<th th:text="${!stats2.empty ? statsFormatUtil.formatPct(stats2.matchesWonPct) : _}" class="text-left stat" th:attrappend="class=${sc < 0 ? '-w' : (sc > 0 ? '-l' : _)}">69%</th>
		</tr>
		<!-- Total Raw Data -->
		<th:block th:if="${hasPointsStats}">
			<tr class="raw-data" th:with="sc=${hasBothPointsStats ? statsFormatUtil.compare(stats1.totalPointsWonPct, stats2.totalPointsWonPct) : 0}">
				<th th:text="${hasPointsStats1 ? stats1.totalPointsWon + ' / ' + stats1.totalPoints : _}" class="text-right stat" th:attrappend="class=${sc > 0 ? '-w' : (sc < 0 ? '-l' : _)}">1299 / 2234</th>
				<td class="text-center">Total Pts. Won</td>
				<th th:text="${hasPointsStats2 ? stats2.totalPointsWon + ' / ' + stats2.totalPoints : _}" class="text-left stat" th:attrappend="class=${sc < 0 ? '-w' : (sc > 0 ? '-l' : _)}">1299 / 2234</th>
			</tr>
		</th:block>
		<tr th:unless="${hasPointsStats}" class="raw-data"></tr>
		<tr class="raw-data" th:with="sc=${statsFormatUtil.compare(stats1.totalGamesWonPct, stats2.totalGamesWonPct)}">
			<th th:text="${!stats1.empty ? stats1.totalGamesWon + ' / ' + stats1.totalGames : _}" class="text-right stat" th:attrappend="class=${sc > 0 ? '-w' : (sc < 0 ? '-l' : _)}">86 / 125</th>
			<td class="text-center">Total Games Won</td>
			<th th:text="${!stats2.empty ? stats2.totalGamesWon + ' / ' + stats2.totalGames : _}" class="text-left stat" th:attrappend="class=${sc < 0 ? '-w' : (sc > 0 ? '-l' : _)}">86 / 125</th>
		</tr>
		<tr class="raw-data" th:with="sc=${statsFormatUtil.compare(stats1.setsWonPct, stats2.setsWonPct)}">
			<th th:text="${!stats1.empty ? stats1.setsWon + ' / ' + stats1.sets : _}" class="text-right stat" th:attrappend="class=${sc > 0 ? '-w' : (sc < 0 ? '-l' : _)}">16 / 27</th>
			<td class="text-center">Sets Won</td>
			<th th:text="${!stats2.empty ? stats2.setsWon + ' / ' + stats2.sets : _}" class="text-left stat" th:attrappend="class=${sc < 0 ? '-w' : (sc > 0 ? '-l' : _)}">16 / 27</th>
		</tr>
		<tr class="raw-data" th:with="sc=${statsFormatUtil.compare(stats1.matchesWonPct, stats2.matchesWonPct)}">
			<th th:text="${!stats1.empty ? stats1.matchesWon + ' / ' + stats1.matches : _}" class="text-right stat" th:attrappend="class=${sc > 0 ? '-w' : (sc < 0 ? '-l' : _)}">6 / 10</th>
			<td class="text-center">Matches Won</td>
			<th th:text="${!stats2.empty ? stats2.matchesWon + ' / ' + stats2.matches : _}" class="text-left stat" th:attrappend="class=${sc < 0 ? '-w' : (sc > 0 ? '-l' : _)}">6 / 10</th>
		</tr>
	</table>
	<div th:unless="${stats1.empty && stats2.empty}" class="row">
		<div class="col-md-12 text-center">
			<button class="pct-data btn btn-default btn-xs" onclick="toggleStatsData('#h2hStats')" title="Show raw data"><span class="glyphicon glyphicon-equalizer"></span>&nbsp;&nbsp;Raw Data</button>
			<button class="raw-data btn btn-default btn-xs" onclick="toggleStatsData('#h2hStats')" title="Show percentage data"><span class="glyphicon glyphicon-scale"></span>&nbsp;&nbsp;Pct. Data</button>
		</div>
	</div>
	<p th:if="${stats1.empty && stats2.empty}">No statistics available</p>
</div>
</th:block>