<th:block  xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="playerId1" type="java.lang.Integer"*/-->
<!--/*@thymesVar id="playerId2" type="java.lang.Integer"*/-->
<!--/*@thymesVar id="season" type="java.lang.Integer"*/-->
<!--/*@thymesVar id="seasons" type="java.util.List<java.lang.Integer>"*/-->
<!--/*@thymesVar id="eventResults" type="java.util.List<org.strangeforest.tcb.stats.model.core.EventResult>"*/-->
<!--/*@thymesVar id="seasonHighlights1" type="java.util.Map<org.strangeforest.tcb.stats.model.core.EventResult, List<org.strangeforest.tcb.stats.model.PlayerTournamentEvent>>"*/-->
<!--/*@thymesVar id="seasonHighlights2" type="java.util.Map<org.strangeforest.tcb.stats.model.core.EventResult, List<org.strangeforest.tcb.stats.model.PlayerTournamentEvent>>"*/-->
<!--/*@thymesVar id="seasonPerf1" type="org.strangeforest.tcb.stats.model.PlayerPerformanceEx"*/-->
<!--/*@thymesVar id="seasonPerf2" type="org.strangeforest.tcb.stats.model.PlayerPerformanceEx"*/-->
<!--/*@thymesVar id="surfaces" type="java.util.Set<org.strangeforest.tcb.stats.model.core.Surface>"*/-->
<!--/*@thymesVar id="levels" type="java.util.Set<org.strangeforest.tcb.stats.model.core.TournamentLevel>"*/-->
<!--/*@thymesVar id="oppositions" type="java.util.Set<org.strangeforest.tcb.stats.service.Opponent>"*/-->
<!--/*@thymesVar id="rounds" type="java.util.Set<org.strangeforest.tcb.stats.model.core.Round>"*/-->
<!--/*@thymesVar id="seasonGOATPoints1" type="org.strangeforest.tcb.stats.model.PlayerSeasonGOATPoints"*/-->
<!--/*@thymesVar id="seasonGOATPoints2" type="org.strangeforest.tcb.stats.model.PlayerSeasonGOATPoints"*/-->
<th:block th:unless="${seasons.empty}">
<script type="text/javascript" th:inline="javascript">
	$(function() {
		$("#h2hSeasonTable").find("span.label-surface").each(function() {
			var $label = $(this);
			var surface = $label.data("surface");
			$label.addClass("label-" + surfaceClassSuffix(surface));
		});
	});
	function changeSeason() {
		$("#season").load("/h2hSeason?playerId1=[(${playerId1})]&playerId2=[(${playerId2})]&season=" + $("#seasonSeason").val());
	}
</script>
<style scoped="scoped">
	.label-overall {
		background-color: #555;
	}
	.progress-season {
		width: 200px;
		background-color: #dddddd;
		margin-bottom: 0;
	}
	.progress-bar > a {
		color: white;
	}
	a.highlight {
		display: inline-block;
		margin: 2px;
	}
</style>
<br/>
<div class="row">
	<div class="col-md-5 text-right">
		<a class="btn btn-default" th:href="@{/playerProfile(playerId=${playerId1}, tab=matches, season=${season})}" title="Show season matches">Matches</a>
		<a class="btn btn-default margin-left" th:href="@{/playerProfile(playerId=${playerId1}, tab=events, season=${season})}" title="Show season tournaments">Events</a>
	</div>
	<div class="col-md-2">
		<div class="input-group">
			<label for="seasonSeason" class="input-group-addon">Season:</label>
			<select id="seasonSeason" class="form-control" onchange="changeSeason()" data-toggle="tooltip" data-placement="top" title="Select season">
				<option th:each="aSeason : ${seasons}" th:value="${aSeason}" value="2015" th:text="${aSeason}" th:selected="${aSeason == season}">2015</option>
			</select>
		</div>
	</div>
	<div class="col-md-5 text-left">
		<a class="btn btn-default" th:href="@{/playerProfile(playerId=${playerId2}, tab=events, season=${season})}" title="Show season tournaments">Events</a>
		<a class="btn btn-default margin-left" th:href="@{/playerProfile(playerId=${playerId2}, tab=matches, season=${season})}" title="Show season matches">Matches</a>
	</div>
</div>
<br/>
<table id="h2hSeasonTable" class="table table-condensed">
	<!-- Highlights -->
	<th:block th:unless="${eventResults.empty}">
	<tr>
		<th width="40%">&nbsp;</th>
		<th class="text-center">Highlights</th>
		<th width="40%">&nbsp;</th>
	</tr>
	<tr th:each="eventResult : ${eventResults}">
		<th class="text-right">
			<a th:each="result : ${seasonHighlights1.get(eventResult)}" th:href="@{/tournamentEvent(tournamentEventId=${result.tournamentEventId})}" class="label highlight label-" th:attrappend="class=${result.level}" th:text="${result.name}" title="Show tournament event">Wimbledon</a>
		</th>
		<th class="text-center">
			<span class="label black bg-result-" th:attrappend="class=${eventResult}" th:text="${eventResult}">W</span>
		</th>
		<th class="text-left">
			<a th:each="result : ${seasonHighlights2.get(eventResult)}" th:href="@{/tournamentEvent(tournamentEventId=${result.tournamentEventId})}" class="label highlight label-" th:attrappend="class=${result.level}" th:text="${result.name}" title="Show tournament event">Wimbledon</a>
		</th>
	</tr>
	<tr>
		<td colspan="3">&nbsp;</td>
	</tr>
	</th:block>
	<tr>
		<td></td><th class="text-center">Performance</th><td></td>
	</tr>
	<tr class="text-nowrap" th:with="wl1=${seasonPerf1.matches}, wl2=${seasonPerf2.matches}, wlc=${wl2.compareTo(wl1)}">
		<th class="text-right" width="40%">
			<div th:unless="${wl1.empty}" class="progress progress-season pull-right">
				<div class="progress-bar progress-bar-perf" th:attrappend="class=${wlc > 0 ? '-w' : (wlc < 0 ? '-l' : _)}" role="progressbar" th:style="'width: ' + ${wl1.wonPctStr}" th:attr="aria-valuenow=${wl1.wonPct}" aria-valuemin="0" aria-valuemax="100">
					<a th:href="@{/playerProfile(playerId=${playerId1}, tab=matches, season=${season}, outcome=played)}" th:text="${wl1.pctWL}" title="Show season matches">50% (10-10)</a>
				</div>
			</div>
		</th>
		<th class="text-center"><span class="label label-overall">Overall</span></th>
		<th class="text-left" width="40%">
			<div th:unless="${wl2.empty}" class="progress progress-season pull-left">
				<div class="progress-bar progress-bar-perf" th:attrappend="class=${wlc < 0 ? '-w' : (wlc > 0 ? '-l' : _)}" role="progressbar" th:style="'width: ' + ${wl2.wonPctStr}" th:attr="aria-valuenow=${wl2.wonPct}" aria-valuemin="0" aria-valuemax="100">
					<a th:href="@{/playerProfile(playerId=${playerId2}, tab=matches, season=${season}, outcome=played)}" th:text="${wl2.pctWL}" title="Show season matches">50% (10-10)</a>
				</div>
			</div>
		</th>
	</tr>
	<tr>
		<td colspan="3">&nbsp;</td>
	</tr>
	<tr>
		<td></td><th class="text-center">Surface Breakdown</th><td></td>
	</tr>
	<tr th:each="surface : ${surfaces}" class="text-nowrap" th:with="wl1=${seasonPerf1.surfaceMatches.get(surface)}, wl2=${seasonPerf2.surfaceMatches.get(surface)}, wlc=${wl1 != null ? (wl2 != null ? wl2.compareTo(wl1) : 1) : -1}">
		<th class="text-right">
			<div th:if="${wl1}" class="progress progress-season pull-right">
				<div class="progress-bar progress-bar-perf" th:attrappend="class=${wlc > 0 ? '-w' : (wlc < 0 ? '-l' : _)}" th:data-surface="${surface.code}" role="progressbar" th:style="'width: ' + ${wl1.wonPctStr}" th:attr="aria-valuenow=${wl1.wonPct}" aria-valuemin="0" aria-valuemax="100">
					<a th:href="@{/playerProfile(playerId=${playerId1}, tab=matches, season=${season}, surface=${surface.code}, outcome=played)}" th:text="${wl1.pctWL}" th:title="|Show season ${surface.text} matches|">50% (10-10)</a>
				</div>
			</div>
		</th>
		<th class="text-center"><span class="label label-surface" th:data-surface="${surface.code}" th:text="${surface.text}">Hard</span></th>
		<th class="text-left">
			<div th:if="${wl2}" class="progress progress-season pull-left">
				<div class="progress-bar progress-bar-perf" th:attrappend="class=${wlc < 0 ? '-w' : (wlc > 0 ? '-l' : _)}" th:data-surface="${surface.code}" role="progressbar" th:style="'width: ' + ${wl2.wonPctStr}" th:attr="aria-valuenow=${wl2.wonPct}" aria-valuemin="0" aria-valuemax="100">
					<a th:href="@{/playerProfile(playerId=${playerId2}, tab=matches, season=${season}, surface=${surface.code}, outcome=played)}" th:text="${wl2.pctWL}" th:title="|Show season ${surface.text} matches|">50% (10-10)</a>
				</div>
			</div>
		</th>
	</tr>
	<tr>
		<td colspan="3">&nbsp;</td>
	</tr>
	<tr>
		<td></td><th class="text-center" title="Tournament Level Breakdown">Level Breakdown</th><td></td>
	</tr>
	<tr th:each="level : ${levels}" class="text-nowrap" th:with="wl1=${seasonPerf1.levelMatches.get(level)}, wl2=${seasonPerf2.levelMatches.get(level)}, wlc=${wl1 != null ? (wl2 != null ? wl2.compareTo(wl1) : 1) : -1}">
		<th class="text-right">
			<div th:if="${wl1}" class="progress progress-season pull-right">
				<div class="progress-bar progress-bar-perf" th:attrappend="class=${wlc > 0 ? '-w' : (wlc < 0 ? '-l' : _)}" role="progressbar" th:style="'width: ' + ${wl1.wonPctStr}" th:attr="aria-valuenow=${wl1.wonPct}" aria-valuemin="0" aria-valuemax="100">
					<a th:href="@{/playerProfile(playerId=${playerId1}, tab=matches, season=${season}, level=${level.code}, outcome=played)}" th:text="${wl1.pctWL}" th:title="|Show season ${level.text} matches|">50% (10-10)</a>
				</div>
			</div>
		</th>
		<th class="text-center"><span class="label label-" th:attrappend="class=${level.code}" th:text="${level.text}">Grand Slam</span></th>
		<th class="text-left">
			<div th:if="${wl2}" class="progress progress-season pull-left">
				<div class="progress-bar progress-bar-perf" th:attrappend="class=${wlc < 0 ? '-w' : (wlc > 0 ? '-l' : _)}" role="progressbar" th:style="'width: ' + ${wl2.wonPctStr}" th:attr="aria-valuenow=${wl2.wonPct}" aria-valuemin="0" aria-valuemax="100">
					<a th:href="@{/playerProfile(playerId=${playerId2}, tab=matches, season=${season}, level=${level.code}, outcome=played)}" th:text="${wl2.pctWL}" th:title="|Show season ${level.text} matches|">50% (10-10)</a>
				</div>
			</div>
		</th>
	</tr>
	<th:block th:unless="${oppositions.empty}">
	<tr>
		<td colspan="3">&nbsp;</td>
	</tr>
	<tr>
		<td></td><th class="text-center">Opposition Breakdown</th><td></td>
	</tr>
	<tr th:each="opposition : ${oppositions}" class="text-nowrap" th:with="wl1=${seasonPerf1.oppositionMatches.get(opposition)}, wl2=${seasonPerf2.oppositionMatches.get(opposition)}, wlc=${wl1 != null ? (wl2 != null ? wl2.compareTo(wl1) : 1) : -1}">
		<th class="text-right">
			<div th:if="${wl1}" class="progress progress-season pull-right">
				<div class="progress-bar progress-bar-perf" th:attrappend="class=${wlc > 0 ? '-w' : (wlc < 0 ? '-l' : _)}" role="progressbar" th:style="'width: ' + ${wl1.wonPctStr}" th:attr="aria-valuenow=${wl1.wonPct}" aria-valuemin="0" aria-valuemax="100">
					<a th:href="@{/playerProfile(playerId=${playerId1}, tab=matches, season=${season}, opponent=${opposition}, outcome=played)}" th:text="${wl1.pctWL}" th:title="|Show season ${opposition.text} matches|">50% (10-10)</a>
				</div>
			</div>
		</th>
		<td class="text-center" th:text="${opposition.text}">Vs No. 1</td>
		<th class="text-left">
			<div th:if="${wl2}" class="progress progress-season pull-left">
				<div class="progress-bar progress-bar-perf" th:attrappend="class=${wlc < 0 ? '-w' : (wlc > 0 ? '-l' : _)}" role="progressbar" th:style="'width: ' + ${wl2.wonPctStr}" th:attr="aria-valuenow=${wl2.wonPct}" aria-valuemin="0" aria-valuemax="100">
					<a th:href="@{/playerProfile(playerId=${playerId2}, tab=matches, season=${season}, opponent=${opposition}, outcome=played)}" th:text="${wl2.pctWL}" th:title="|Show season ${opposition.text} matches|">50% (10-10)</a>
				</div>
			</div>
		</th>
	</tr>
	</th:block>
	<tr>
		<td colspan="3">&nbsp;</td>
	</tr>
	<tr>
		<td></td><th class="text-center">Round Breakdown</th><td></td>
	</tr>
	<tr th:each="round : ${rounds}" class="text-nowrap" th:with="wl1=${seasonPerf1.roundMatches.get(round)}, wl2=${seasonPerf2.roundMatches.get(round)}, wlc=${wl1 != null ? (wl2 != null ? wl2.compareTo(wl1) : 1) : -1}">
		<th class="text-right">
			<div th:if="${wl1}" class="progress progress-season pull-right">
				<div class="progress-bar progress-bar-season progress-bar-perf" th:attrappend="class=${wlc > 0 ? '-w' : (wlc < 0 ? '-l' : _)}" role="progressbar" th:style="'width: ' + ${wl1.wonPctStr}" th:attr="aria-valuenow=${wl1.wonPct}" aria-valuemin="0" aria-valuemax="100">
					<a th:href="@{/playerProfile(playerId=${playerId1}, tab=matches, season=${season}, round=${round.code}, level=GFLMOAB, outcome=played)}" th:text="${wl1.pctWL}" th:title="|Show season ${round.text} matches|">50% (10-10)</a>
				</div>
			</div>
		</th>
		<td class="text-center" th:text="${round.text}">Final</td>
		<th class="text-left">
			<div th:if="${wl2}" class="progress progress-season pull-left">
				<div class="progress-bar progress-bar-perf" th:attrappend="class=${wlc < 0 ? '-w' : (wlc > 0 ? '-l' : _)}" role="progressbar" th:style="'width: ' + ${wl2.wonPctStr}" th:attr="aria-valuenow=${wl2.wonPct}" aria-valuemin="0" aria-valuemax="100">
					<a th:href="@{/playerProfile(playerId=${playerId2}, tab=matches, season=${season}, round=${round.code}, level=GFLMOAB, outcome=played)}" th:text="${wl2.pctWL}" th:title="|Show season ${round.text} matches|">50% (10-10)</a>
				</div>
			</div>
		</th>
	</tr>
	<!-- GOAT Points -->
	<th:block th:if="${seasonGOATPoints1 != null || seasonGOATPoints2 != null}" th:with="totalPoints1=${seasonGOATPoints1 != null ? seasonGOATPoints1.totalPoints : null}, totalPoints2=${seasonGOATPoints2 != null ? seasonGOATPoints2.totalPoints : null},
		tournamentPoints1=${seasonGOATPoints1 != null ? seasonGOATPoints1.tournamentPoints : null}, tournamentPoints2=${seasonGOATPoints2 != null ? seasonGOATPoints2.tournamentPoints : null},
		rankingPoints1=${seasonGOATPoints1 != null ? seasonGOATPoints1.rankingPoints : null}, rankingPoints2=${seasonGOATPoints2 != null ? seasonGOATPoints2.rankingPoints : null},
		achievementsPoints1=${seasonGOATPoints1 != null ? seasonGOATPoints1.achievementsPoints : null}, achievementsPoints2=${seasonGOATPoints2 != null ? seasonGOATPoints2.achievementsPoints : null}">
		<tr>
			<td colspan="3">&nbsp;</td>
		</tr>
		<tr>
			<td></td><th class="text-center">GOAT Points</th><td></td>
		</tr>
		<tr class="text-nowrap">
			<th class="text-right">
				<a th:if="${totalPoints1 != null}" th:href="@{/playerProfile(playerId=${playerId1}, tab=goatPoints, season=${season})}" class="label label-primary" th:text="${totalPoints1}" title="Show season GOAT points">35</a>
			</th>
			<td class="text-center" title="Total Points">Total</td>
			<th class="text-left">
				<a th:if="${totalPoints2 != null}" th:href="@{/playerProfile(playerId=${playerId2}, tab=goatPoints, season=${season})}" class="label label-primary" th:text="${totalPoints2}" title="Show season GOAT points">35</a>
			</th>
		</tr>
		<tr class="text-nowrap">
			<th class="text-right">
				<span th:if="${tournamentPoints1 != null}" class="label label-info" th:text="${tournamentPoints1}">25</span>
			</th>
			<td class="text-center" title="Tournament Points">Tournament</td>
			<th class="text-left">
				<span th:if="${tournamentPoints2 != null}" class="label label-info" th:text="${tournamentPoints2}">25</span>
			</th>
		</tr>
		<tr class="text-nowrap">
			<th class="text-right">
				<span th:if="${rankingPoints1 != null}" class="label label-info" th:text="${rankingPoints1}">25</span>
			</th>
			<td class="text-center" title="Ranking Points">Ranking</td>
			<th class="text-left">
				<span th:if="${rankingPoints2 != null}" class="label label-info" th:text="${rankingPoints2}">25</span>
			</th>
		</tr>
		<tr class="text-nowrap">
			<th class="text-right">
				<span th:if="${achievementsPoints1 != null}" class="label label-info" th:text="${achievementsPoints1}">25</span>
			</th>
			<td class="text-center" title="Achievements Points">Achievements</td>
			<th class="text-left">
				<span th:if="${achievementsPoints2 != null}" class="label label-info" th:text="${achievementsPoints2}">25</span>
			</th>
		</tr>
	</th:block>
</table>
</th:block>
<th:block th:if="${seasons.empty}"><br/><p>No seasons data available</p></th:block>
</th:block>