<th:block  xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="playerId1" type="java.lang.Integer"*/-->
<!--/*@thymesVar id="playerId2" type="java.lang.Integer"*/-->
<!--/*@thymesVar id="season" type="java.lang.Integer"*/-->
<!--/*@thymesVar id="seasons" type="java.util.List<java.lang.Integer>"*/-->
<!--/*@thymesVar id="eventResults" type="java.util.List<org.strangeforest.tcb.stats.model.EventResult>"*/-->
<!--/*@thymesVar id="seasonHighlights1" type="java.util.Map<org.strangeforest.tcb.stats.model.EventResult, List<org.strangeforest.tcb.stats.model.PlayerTournamentEvent>>"*/-->
<!--/*@thymesVar id="seasonHighlights2" type="java.util.Map<org.strangeforest.tcb.stats.model.EventResult, List<org.strangeforest.tcb.stats.model.PlayerTournamentEvent>>"*/-->
<!--/*@thymesVar id="surfaces" type="java.util.Set<org.strangeforest.tcb.stats.model.Surface>"*/-->
<!--/*@thymesVar id="levels" type="java.util.Set<org.strangeforest.tcb.stats.model.TournamentLevel>"*/-->
<!--/*@thymesVar id="oppositions" type="java.util.Set<org.strangeforest.tcb.stats.service.Opponent>"*/-->
<!--/*@thymesVar id="rounds" type="java.util.Set<org.strangeforest.tcb.stats.model.Round>"*/-->
<!--/*@thymesVar id="playerSeason1" type="org.strangeforest.tcb.stats.model.PlayerSeason"*/-->
<!--/*@thymesVar id="playerSeason2" type="org.strangeforest.tcb.stats.model.PlayerSeason"*/-->
<th:block th:unless="${seasons.empty}">
<script type="text/javascript" th:inline="javascript">
	$(function() {
		$("#h2hSeasonTable").find("div.progress-bar-surface").each(function() {
			var $progressBar = $(this);
			var surface = $progressBar.data("surface");
			$progressBar.addClass("progress-bar-" + surfaceClassSuffix(surface));
		});
	});
	function changeSeason() {
		$("#season").load("/h2hSeason?playerId1=[(${playerId1})]&playerId2=[(${playerId2})]&season=" + $("#seasonSeason").val());
	}
</script>
<style scoped="scoped">
	.progress-season {
		width: 200px;
		background-color: #dddddd;
		margin-bottom: 0;
	}
	.progress-bar-season {
		font-size: 14px;
	}
	.progress-bar-default {
		background-color: cornflowerblue;
	}
	.progress-bar-overall {
		background-color: #555;
	}
	.progress-bar > a {
		color: white;
	}
	a.highlight {
		display: inline-block;
		margin: 2px;
	}
</style>
<br/>
<div class="row">
	<div class="col-md-5 text-right">
		<a class="btn btn-default" th:href="@{/playerProfile(playerId=${playerId1}, tab=matches, season=${season})}" title="Show season matches">Matches</a>
		<a class="btn btn-default" th:href="@{/playerProfile(playerId=${playerId1}, tab=tournaments, season=${season})}" title="Show season tournaments" style="margin-left: 20px">Tournaments</a>
	</div>
	<div class="col-md-2">
		<div class="input-group">
			<label for="seasonSeason" class="input-group-addon">Season:</label>
			<select id="seasonSeason" class="form-control" onchange="changeSeason()" data-toggle="tooltip" data-placement="top" title="Select season">
				<option th:each="aSeason : ${seasons}" th:value="${aSeason}" value="2015" th:text="${aSeason}" th:selected="${aSeason == season}">2015</option>
			</select>
		</div>
	</div>
	<div class="col-md-5 text-left">
		<a class="btn btn-default" th:href="@{/playerProfile(playerId=${playerId2}, tab=tournaments, season=${season})}" title="Show season tournaments">Tournaments</a>
		<a class="btn btn-default" th:href="@{/playerProfile(playerId=${playerId2}, tab=matches, season=${season})}" title="Show season matches" style="margin-left: 20px">Matches</a>
	</div>
</div>
<br/>
<table id="h2hSeasonTable" class="table table-condensed">
	<th:block th:unless="${eventResults.empty}">
	<tr>
		<th width="40%">&nbsp;</th>
		<th class="text-center">Highlights</th>
		<th width="40%">&nbsp;</th>
	</tr>
	<tr th:each="eventResult : ${eventResults}">
		<th class="text-right">
			<a th:each="result : ${seasonHighlights1.get(eventResult)}" th:href="@{/tournamentEvent(tournamentEventId=${result.tournamentEventId})}" class="label highlight label-" th:attrappend="class=${result.level}" th:text="${result.name}" title="Show tournament event">Wimbledon</a>
		</th>
		<th class="text-center">
			<span class="label black bg-result-" th:attrappend="class=${eventResult}" th:text="${eventResult}">W</span>
		</th>
		<th class="text-left">
			<a th:each="result : ${seasonHighlights2.get(eventResult)}" th:href="@{/tournamentEvent(tournamentEventId=${result.tournamentEventId})}" class="label highlight label-" th:attrappend="class=${result.level}" th:text="${result.name}" title="Show tournament event">Wimbledon</a>
		</th>
	</tr>
	<tr>
		<td colspan="3">&nbsp;</td>
	</tr>
	</th:block>
	<tr class="text-nowrap">
		<th class="text-right" width="40%" th:with="wl=${playerSeason1.overall}">
			<div th:unless="${wl.empty}" class="progress progress-season pull-right">
				<div class="progress-bar progress-bar-season progress-bar-overall" role="progressbar" th:style="'width: ' + ${wl.wonPctStr}" th:attr="aria-valuenow=${wl.wonPct}" aria-valuemin="0" aria-valuemax="100">
					<a th:href="@{/playerProfile(playerId=${playerId1}, tab=matches, season=${season})}" th:text="|${wl.wonPctStr} (${wl.getWL()})|" title="Show season matches">73%</a>
				</div>
			</div>
		</th>
		<th class="text-center">Overall</th>
		<th class="text-left" width="40%" th:with="wl=${playerSeason2.overall}">
			<div th:unless="${wl.empty}" class="progress progress-season pull-left">
				<div class="progress-bar progress-bar-season progress-bar-overall" role="progressbar" th:style="'width: ' + ${wl.wonPctStr}" th:attr="aria-valuenow=${wl.wonPct}" aria-valuemin="0" aria-valuemax="100">
					<a th:href="@{/playerProfile(playerId=${playerId2}, tab=matches, season=${season})}" th:text="|${wl.wonPctStr} (${wl.getWL()})|" title="Show season matches">73%</a>
				</div>
			</div>
		</th>
	</tr>
	<tr th:each="surface : ${surfaces}" class="text-nowrap">
		<th class="text-right" th:with="wl=${playerSeason1.surfaceMatches.get(surface)}">
			<div th:if="${wl}" class="progress progress-season pull-right">
				<div class="progress-bar progress-bar-season progress-bar-surface" th:data-surface="${surface.code}" role="progressbar" th:style="'width: ' + ${wl.wonPctStr}" th:attr="aria-valuenow=${wl.wonPct}" aria-valuemin="0" aria-valuemax="100">
					<a th:href="@{/playerProfile(playerId=${playerId1}, tab=matches, season=${season}, surface=${surface.code})}" th:text="|${wl.wonPctStr} (${wl.getWL()})|" th:title="|Show season ${surface.text} matches|">73%</a>
				</div>
			</div>
		</th>
		<th class="text-center" th:text="${surface.text}">Hard</th>
		<th class="text-left" th:with="wl=${playerSeason2.surfaceMatches.get(surface)}">
			<div th:if="${wl}" class="progress progress-season pull-left">
				<div class="progress-bar progress-bar-season progress-bar-surface" th:data-surface="${surface.code}" role="progressbar" th:style="'width: ' + ${wl.wonPctStr}" th:attr="aria-valuenow=${wl.wonPct}" aria-valuemin="0" aria-valuemax="100">
					<a th:href="@{/playerProfile(playerId=${playerId2}, tab=matches, season=${season}, surface=${surface.code})}" th:text="|${wl.wonPctStr} (${wl.getWL()})|" th:title="|Show season ${surface.text} matches|">73%</a>
				</div>
			</div>
		</th>
	</tr>
	<tr>
		<td colspan="3">&nbsp;</td>
	</tr>
	<tr th:each="level : ${levels}" class="text-nowrap">
		<th class="text-right" th:with="wl=${playerSeason1.levelMatches.get(level)}">
			<div th:if="${wl}" class="progress progress-season pull-right">
				<div class="progress-bar progress-bar-season label-" th:attrappend="class=${level.code}" role="progressbar" th:style="'width: ' + ${wl.wonPctStr}" th:attr="aria-valuenow=${wl.wonPct}" aria-valuemin="0" aria-valuemax="100">
					<a th:href="@{/playerProfile(playerId=${playerId1}, tab=matches, season=${season}, level=${level.code})}" th:text="|${wl.wonPctStr} (${wl.getWL()})|" th:title="|Show season ${level.text} matches|">73%</a>
				</div>
			</div>
		</th>
		<th class="text-center" th:text="${level.text}">Grand Slam</th>
		<th class="text-left" th:with="wl=${playerSeason2.levelMatches.get(level)}">
			<div th:if="${wl}" class="progress progress-season pull-left">
				<div class="progress-bar progress-bar-season label-" th:attrappend="class=${level.code}" role="progressbar" th:style="'width: ' + ${wl.wonPctStr}" th:attr="aria-valuenow=${wl.wonPct}" aria-valuemin="0" aria-valuemax="100">
					<a th:href="@{/playerProfile(playerId=${playerId2}, tab=matches, season=${season}, level=${level.code})}" th:text="|${wl.wonPctStr} (${wl.getWL()})|" th:title="|Show season ${level.text} matches|">73%</a>
				</div>
			</div>
		</th>
	</tr>
	<th:block th:unless="${oppositions.empty}">
	<tr>
		<td colspan="3">&nbsp;</td>
	</tr>
	<tr th:each="opposition : ${oppositions}" class="text-nowrap">
		<th class="text-right" th:with="wl=${playerSeason1.oppositionMatches.get(opposition)}">
			<div th:if="${wl}" class="progress progress-season pull-right">
				<div class="progress-bar progress-bar-season progress-bar-default" role="progressbar" th:style="'width: ' + ${wl.wonPctStr}" th:attr="aria-valuenow=${wl.wonPct}" aria-valuemin="0" aria-valuemax="100">
					<a th:href="@{/playerProfile(playerId=${playerId1}, tab=matches, season=${season}, opponent=${opposition})}" th:text="|${wl.wonPctStr} (${wl.getWL()})|" th:title="|Show season ${opposition.text} matches|">73%</a>
				</div>
			</div>
		</th>
		<th class="text-center" th:text="${opposition.text}">Vs No. 1</th>
		<th class="text-left" th:with="wl=${playerSeason2.oppositionMatches.get(opposition)}">
			<div th:if="${wl}" class="progress progress-season pull-left">
				<div class="progress-bar progress-bar-season progress-bar-default" role="progressbar" th:style="'width: ' + ${wl.wonPctStr}" th:attr="aria-valuenow=${wl.wonPct}" aria-valuemin="0" aria-valuemax="100">
					<a th:href="@{/playerProfile(playerId=${playerId2}, tab=matches, season=${season}, opponent=${opposition})}" th:text="|${wl.wonPctStr} (${wl.getWL()})|" th:title="|Show season ${opposition.text} matches|">73%</a>
				</div>
			</div>
		</th>
	</tr>
	</th:block>
	<tr>
		<td colspan="3">&nbsp;</td>
	</tr>
	<tr th:each="round : ${rounds}" class="text-nowrap">
		<th class="text-right" th:with="wl=${playerSeason1.roundMatches.get(round)}">
			<div th:if="${wl}" class="progress progress-season pull-right">
				<div class="progress-bar progress-bar-season progress-bar-default" role="progressbar" th:style="'width: ' + ${wl.wonPctStr}" th:attr="aria-valuenow=${wl.wonPct}" aria-valuemin="0" aria-valuemax="100">
					<a th:href="@{/playerProfile(playerId=${playerId1}, tab=matches, season=${season}, round=${round.code})}" th:text="|${wl.wonPctStr} (${wl.getWL()})|" th:title="|Show season ${round.text} matches|">73%</a>
				</div>
			</div>
		</th>
		<th class="text-center" th:text="${round.text}">Final</th>
		<th class="text-left" th:with="wl=${playerSeason2.roundMatches.get(round)}">
			<div th:if="${wl}" class="progress progress-season pull-left">
				<div class="progress-bar progress-bar-season progress-bar-default" role="progressbar" th:style="'width: ' + ${wl.wonPctStr}" th:attr="aria-valuenow=${wl.wonPct}" aria-valuemin="0" aria-valuemax="100">
					<a th:href="@{/playerProfile(playerId=${playerId2}, tab=matches, season=${season}, round=${round.code})}" th:text="|${wl.wonPctStr} (${wl.getWL()})|" th:title="|Show season ${round.text} matches|">73%</a>
				</div>
			</div>
		</th>
	</tr>
</table>
</th:block>
<th:block th:if="${seasons.empty}"><br/><p>No seasons data available</p></th:block>
</th:block>