<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:with="bothPlayersSelected=${player1 != null && player2 != null}, anyPlayerSelected=${player1 != null || player2 != null}, neitherPlayerSelected=${player1 == null && player2 == null}, samePlayersSelected=${bothPlayersSelected && player1.id == player2.id}">
<!--/*@thymesVar id="player1" type="org.strangeforest.tcb.stats.model.core.Player"*/-->
<!--/*@thymesVar id="player2" type="org.strangeforest.tcb.stats.model.core.Player"*/-->
<!--/*@thymesVar id="tab" type="java.lang.String"*/-->
<!--/*@thymesVar id="season" type="java.lang.Integer"*/-->
<!--/*@thymesVar id="season1" type="java.lang.Integer"*/-->
<!--/*@thymesVar id="season2" type="java.lang.Integer"*/-->
<!--/*@thymesVar id="fromDate" type="java.time.LocalDate"*/-->
<!--/*@thymesVar id="toDate" type="java.time.LocalDate"*/-->
<!--/*@thymesVar id="level" type="java.lang.String"*/-->
<!--/*@thymesVar id="bestOf" type="java.lang.Integer"*/-->
<!--/*@thymesVar id="surface" type="java.lang.String"*/-->
<!--/*@thymesVar id="indoor" type="java.lang.Boolean"*/-->
<!--/*@thymesVar id="speed" type="java.lang.Integer"*/-->
<!--/*@thymesVar id="round" type="java.lang.String"*/-->
<!--/*@thymesVar id="tournamentId" type="java.lang.Integer"*/-->
<!--/*@thymesVar id="rankType" type="java.lang.String"*/-->
<!--/*@thymesVar id="params" type="org.strangeforest.tcb.stats.controller.ParamsUtil"*/-->
<head th:replace="fragments/head :: commonHead(${anyPlayerSelected} ? ${player1 != null ? player1.name : '?'} + ' vs ' +  ${player2 != null ? player2.name : '?'} : ~{::title/text()}, true, ~{::template})">
	<title>Head-to-Head</title>
	<template>
	<meta name="description" th:content="${(bothPlayersSelected ? player1.name + ' vs ' + player2.name : 'Head-to-Head') + ' at Ultimate Tennis Statistics'}"/>
	<script type="text/javascript" th:inline="javascript">
		var currentTab = "profiles";
		$(function() {
			$("#player1,#player2").autocomplete({
				source: "/autocompletePlayer",
				minLength: 2,
				select: function (event, ui) {
					if (ui.item) {
						$(this).attr("data-playerId", ui.item.id);
						var playerId1 = $("#player1").attr("data-playerId");
						var playerId2 = $("#player2").attr("data-playerId");
						if (playerId1 || playerId2) {
							var url = "/headToHead?tab=" + currentTab;
							if (playerId1)
								url += "&playerId1=" + playerId1;
							if (playerId2)
								url += "&playerId2=" + playerId2;
							window.location.href = url;
						}
					}
				}
			});
			$("#h2hPills").find("a").click(tabClick).on('shown.bs.tab', function(event) {
				currentTab = $(event.target).attr("href").substring(1);
			});
			[# th:if="${tab}" th:switch="${tab}"]
				[# th:case="'season'"]
				var $pill = $("#seasonPill");
				var url = $pill.data("url") + [(${params.param('season', season)})] + [(${params.param('season1', season1)})] + [(${params.param('season2', season2)})];
				loadTab($pill, url);
				[/]
				[# th:case="'matches'"]
				var $pill = $("#matchesPill");
				var url = $pill.data("url") + [(${params.param('season', season)})] + [(${params.param('fromDate', fromDate)})] + [(${params.param('toDate', toDate)})];
				url += [(${params.param('level', level)})] + [(${params.param('bestOf', bestOf)})] + [(${params.param('surface', surface)})] + [(${params.param('indoor', indoor)})] + [(${params.param('speed', speed)})] + [(${params.param('round', round)})] + [(${params.param('tournamentId', tournamentId)})];
				loadTab($pill, url);
				[/]
				[# th:case="'ranking'"]
				var $pill = $("#rankingPill");
				var url = $pill.data("url") + [(${params.param('rankType', rankType)})];
				loadTab($pill, url);
				[/]
				[# th:case="'performance'"]
				var $pill = $("#performancePill");
				var url = $pill.data("url") + [(${params.param('level', level)})] + [(${params.param('surface', surface)})] + [(${params.param('round', round)})];
				loadTab($pill, url);
				[/]
				[# th:case="'statistics'"]
				var $pill = $("#statisticsPill");
				var url = $pill.data("url") + [(${params.param('level', level)})] + [(${params.param('surface', surface)})] + [(${params.param('round', round)})];
				loadTab($pill, url);
				[/]
				[# th:case="'goatPoints'"]
				var $pill = $("#goatPointsPill");
				var url = $pill.data("url") + [(${params.param('surface', surface)})];
				loadTab($pill, url);
				[/]
				[# th:case="'hypotheticalMatchup'"]
				var $pill = $("#hypotheticalMatchupPill");
				var url = $pill.data("url") + [(${params.param('level', level)})] + [(${params.param('surface', surface)})] + [(${params.param('indoor', indoor)})] + [(${params.param('round', round)})];
				loadTab($pill, url);
				[/]
				[# th:case="*"]
				$("#[(${tab})]Pill").click();
				[/]
			[/]
			[# th:unless="${tab}"] $("#profilesPill").click(); [/]
			var $player1 = $("#player1");
			if (!$player1.val())
				$player1.focus();
			else {
				var $player2 = $("#player2");
				if (!$player2.val())
					$player2.focus();
			}
		});
		[# th:if="${bothPlayersSelected}"] function swapPlayers() {
			var tab = $("#h2hPills li.active a").attr("href");
			if (tab == "#")
				tab = $("#h2hPills li.active li.active a").attr("href");
			window.location.href = "/headToHead?playerId1=[(${player2.id})]&playerId2=[(${player1.id})]&tab=" + tab.substr(1);
		} [/]
	</script>
	</template>
</head>
<body class="container">
	<header th:include="fragments/header :: title"></header>
	<div class="row">
		<div class="col-md-6">
			<div class="input-group">
				<label for="player1" class="input-group-addon"><i class="fa fa-user"></i> Player 1:</label>
				<input id="player1" type="text" class="ui-widget search-field form-control" size="30" th:value="${player1 != null ? player1.name : _}" th:data-playerId="${player1 != null ? player1.id : _}" placeholder="Search Player 1"/>
			</div>
		</div>
		<div class="col-md-6">
			<div class="input-group">
				<label for="player2" class="input-group-addon"><i class="fa fa-user"></i> Player 2:</label>
				<input id="player2" type="text" class="ui-widget search-field form-control" size="30" th:value="${player2 != null ? player2.name : _}" th:data-playerId="${player2 != null ? player2.id : _}" placeholder="Search Player 2"/>
			</div>
		</div>
	</div>
	<div th:if="${anyPlayerSelected}" class="row">
		<div class="col-xs-5 text-left">
			<h3 th:if="${player1}">
				<img th:src="@{/images/flags/{code}.png(code=${player1.country.code})}" src="/images/flags/ch.png'" style="margin-top: -3px" th:title="${player1.country.id}" title="SUI" width="24" height="20"/>
				<a th:href="@{/playerProfile(playerId=${player1.id})}" th:text="${player1.name}">Roger Federer</a>
			</h3>
		</div>
		<div class="col-xs-2 text-center text-nowrap">
			<h3>
				<a th:if="${bothPlayersSelected && !samePlayersSelected}" href="javascript:swapPlayers()" title="Swap players"><h4 style="margin: 0" class="glyphicon glyphicon-transfer"></h4></a>
				vs
				<a th:if="${bothPlayersSelected && !samePlayersSelected}" th:href="@{/headToHead(name1=${player1.name}, name2=${player2.name})}" th:title="|Permalink to ${player1.name} vs ${player2.name} Rivalry|"><h4 style="margin: 0" class="glyphicon glyphicon-link"></h4></a>
			</h3>
		</div>
		<div class="col-xs-5 text-right">
			<h3 th:if="${player2}">
				<img th:src="@{/images/flags/{code}.png(code=${player2.country.code})}" src="/images/flags/es.png'" style="margin-top: -3px" th:title="${player2.country.id}" title="ESP" width="24" height="20"/>
				<a th:href="@{/playerProfile(playerId=${player2.id})}" th:text="${player2.name}">Rafael Nadal</a>
			</h3>
		</div>
	</div>
	<br th:if="${neitherPlayerSelected}"/>
	<div th:if="${neitherPlayerSelected}" class="alert alert-info">Please select players for H2H comparision.</div>
	<div th:if="${anyPlayerSelected && !bothPlayersSelected}" class="alert alert-info">Please select another player for H2H comparision.</div>
	<div th:if="${bothPlayersSelected && samePlayersSelected}" class="alert alert-warning">Cannot compare the same player!</div>
	<th:block th:if="${bothPlayersSelected && !samePlayersSelected}">
	<ul id="h2hPills" class="nav nav-pills tab-param" th:with="playerIdsParams='?playerId1=' + ${player1.id} + '&playerId2=' + ${player2.id}, playerIdParams='?playerId=' + ${player1.id} + '&playerId=' + ${player2.id}">
		<li><a id="profilesPill" data-toggle="pill" href="#profiles" th:data-url="'/h2hProfiles' + ${playerIdsParams}">Profiles</a></li>
		<li><a id="seasonPill" data-toggle="pill" href="#season" th:data-url="'/h2hSeason' + ${playerIdsParams}">Season</a></li>
		<li><a id="matchesPill" data-toggle="pill" href="#matches" th:data-url="'/h2hMatches' + ${playerIdsParams}">Matches</a></li>
		<li><a id="rankingPill" data-toggle="pill" href="#ranking" th:data-url="'/h2hRankings' + ${playerIdParams}">Ranking</a></li>
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#">Performance<span class="caret"></span></a>
			<ul class="dropdown-menu">
				<li><a id="performancePill" data-toggle="pill" href="#performance" th:data-url="'/h2hPerformance' + ${playerIdsParams}">Performance</a></li>
				<li><a id="performanceChartPill" data-toggle="pill" href="#performanceChart" th:data-url="'/h2hPerformanceChart' + ${playerIdParams}">Performance Chart</a></li>
			</ul>
		</li>
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#">Statistics<span class="caret"></span></a>
			<ul class="dropdown-menu">
				<li><a id="statisticsPill" data-toggle="pill" href="#statistics" th:data-url="'/h2hStats' + ${playerIdsParams}">Statistics</a></li>
				<li><a id="statisticsChartPill" data-toggle="pill" href="#statisticsChart" th:data-url="'/h2hStatsChart' + ${playerIdParams}">Statistics Chart</a></li>
			</ul>
		</li>
		<li><a id="goatPointsPill" data-toggle="pill" href="#goatPoints" th:data-url="'/h2hGOATPoints' + ${playerIdsParams}" title="GOAT Points Breakdown">GOAT Points</a></li>
		<li><a id="hypotheticalMatchupPill" data-toggle="pill" href="#hypotheticalMatchup" th:data-url="'/h2hHypotheticalMatchup' + ${playerIdsParams}">Hypothetical Matchup<sup class="cool-feature"></sup></a></li>
	</ul>
	<div class="tab-content">
		<div id="profiles" class="tab-pane fade"><div class="loading"></div></div>
		<div id="season" class="tab-pane fade"><div class="loading"></div></div>
		<div id="matches" class="tab-pane fade"><div class="loading"></div></div>
		<div id="ranking" class="tab-pane fade"><div class="loading"></div></div>
		<div id="performance" class="tab-pane fade"><div class="loading"></div></div>
		<div id="performanceChart" class="tab-pane fade"><div class="loading"></div></div>
		<div id="statistics" class="tab-pane fade"><div class="loading"></div></div>
		<div id="statisticsChart" class="tab-pane fade"><div class="loading"></div></div>
		<div id="goatPoints" class="tab-pane fade"><div class="loading"></div></div>
		<div id="hypotheticalMatchup" class="tab-pane fade"><div class="loading"></div></div>
	</div>
	</th:block>
	<th:block th:include="fragments/deviceDetector :: deviceDetectors"/>
	<footer th:include="fragments/footer :: copy"></footer>
</body>
</html>