<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="player1" type="org.strangeforest.tcb.stats.model.Player"*/-->
<!--/*@thymesVar id="playerRef1" type="java.lang.String"*/-->
<!--/*@thymesVar id="player2" type="org.strangeforest.tcb.stats.model.Player"*/-->
<!--/*@thymesVar id="playerRef2" type="java.lang.String"*/-->
<!--/*@thymesVar id="tab" type="java.lang.String"*/-->
<!--/*@thymesVar id="season" type="java.lang.Integer"*/-->
<!--/*@thymesVar id="level" type="java.lang.String"*/-->
<!--/*@thymesVar id="surface" type="java.lang.String"*/-->
<!--/*@thymesVar id="round" type="java.lang.String"*/-->
<head th:replace="fragments/head :: commonHead(${player1 != null || player2 != null} ? ${player1 != null ? player1.name : '?'} + ' vs ' +  ${player2 != null ? player2.name : '?'} : ~{::title/text()}, true, ~{::script}, _)">
	<title>Head-to-Head</title>
	<script type="text/javascript" th:inline="javascript">
		var currentTab = "profiles";
		$(function() {
			$("#player1,#player2").autocomplete({
				source: "/autocompletePlayer",
				minLength: 2,
				select: function (event, ui) {
					if (ui.item) {
						$(this).attr("data-playerId", ui.item.id);
						var playerId1 = $("#player1").attr("data-playerId");
						var playerId2 = $("#player2").attr("data-playerId");
						if (playerId1 || playerId2) {
							var url = "/headToHead?tab=" + currentTab;
							if (playerId1)
								url += "&playerId1=" + playerId1;
							if (playerId2)
								url += "&playerId2=" + playerId2;
							window.location = url;
						}
					}
				}
			});
			$("#h2hPills").find("a").click(tabClick).on('shown.bs.tab', function(event) {
				currentTab = $(event.target).attr("href").substring(1);
			});
			[# th:if="${tab}" th:switch="${tab}"]
				[# th:case="'matches'"]
				h2hMatches([[${season}]], [[${level}]], [[${surface}]], [[${round}]]);
				[/]
				[# th:case="*"]
				$([['#' + ${tab} + 'Pill']]).click();
				[/]
			[/]
			[# th:unless="${tab}"]
				$("#profilesPill").click();
			[/]
			var $player1 = $("#player1");
			if (!$player1.val())
				$player1.focus();
			else {
				var $player2 = $("#player2");
				if (!$player2.val())
					$player2.focus();
			}
		});
		function h2hMatches(season, level, surface, round) {
			var $pill = $("#matchesPill");
			var url = $pill.attr("data-url");
			if (season)
				url += "&season=" + season;
			if (level)
				url += "&level=" + level;
			if (surface)
				url += "&surface=" + surface;
			if (round)
				url += "&round=" + round;
			loadTab($pill, url)
		}
		function swapPlayers() {
			window.location.href = '/headToHead?playerId1=[[${player2.id}]]&playerId2=[[${player1.id}]]&tab=' + $("#h2hPills li.active a").attr("href").substr(1);
		}
	</script>
</head>
<body class="container" th:with="bothPlayersSelected=${player1 != null && player2 != null}, anyPlayerSelected=${player1 != null || player2 != null}, neitherPlayerSelected=${player1 == null && player2 == null}, samePlayersSelected=${bothPlayersSelected && player1.id == player2.id}">
	<header th:include="fragments/header :: title"></header>
	<div class="row">
		<div class="col-md-6">
			<div class="input-group">
				<label for="player1" class="input-group-addon">Player 1:</label>
				<input id="player1" type="text" class="ui-widget search-field form-control" size="30" th:value="${player1 != null ? player1.name : _}" th:data-playerId="${player1 != null ? player1.id : _}" placeholder="Search Player 1"/>
			</div>
		</div>
		<div class="col-md-6">
			<div class="input-group">
				<label for="player2" class="input-group-addon">Player 2:</label>
				<input id="player2" type="text" class="ui-widget search-field form-control" size="30" th:value="${player2 != null ? player2.name : _}" th:data-playerId="${player2 != null ? player2.id : _}" placeholder="Search Player 2"/>
			</div>
		</div>
	</div>
	<div th:if="${anyPlayerSelected}" class="row text-nowrap">
		<div class="col-xs-5 text-left">
			<h3 th:if="${player1}">
				<img th:src="@{/images/flags/{code}.png(code=${player1.country.code})}" src="/images/flags/ch.png'" style="margin-top: -3px" th:title="${player1.country.id}" title="SUI" width="24" height="20"/>
				<a th:href="'/playerProfile?playerId=' + ${player1.id}" th:text="${player1.name}">Roger Federer</a>
			</h3>
			<h3 th:if="${player1 == null && playerRef1 != null}" th:text="'Player ' + ${playerRef1}  + ' not found.'">Player not found.</h3>
		</div>
		<div class="col-xs-2 text-center">
			<h3>
				<a th:if="${bothPlayersSelected}" href="javascript:swapPlayers()" title="Swap players"><h4 style="margin: 0" class="glyphicon glyphicon-transfer"></h4></a>
				vs
				<a th:if="${bothPlayersSelected}" th:href="'/headToHead?name1=' + ${player1.name} + '&name2=' + ${player2.name}" th:title="|Permalink to ${player1.name} vs ${player2.name} Rivalry|"><h4 style="margin: 0" class="glyphicon glyphicon-link"></h4></a>
			</h3>
		</div>
		<div class="col-xs-5 text-right">
			<h3 th:if="${player2}">
				<img th:src="@{/images/flags/{code}.png(code=${player2.country.code})}" src="/images/flags/es.png'" style="margin-top: -3px" th:title="${player2.country.id}" title="ESP" width="24" height="20"/>
				<a th:href="'/playerProfile?playerId=' + ${player2.id}" th:text="${player2.name}">Rafael Nadal</a>
			</h3>
			<h3 th:if="${player2 == null && playerRef2 != null}" th:text="'Player ' + ${playerRef2}  + ' not found.'">Player not found.</h3>
		</div>
	</div>
	<br th:if="${neitherPlayerSelected}"/>
	<div th:if="${neitherPlayerSelected}" class="alert alert-info">Please select players for H2H comparision.</div>
	<div th:if="${anyPlayerSelected && !bothPlayersSelected}" class="alert alert-info">Please select another player for H2H comparision.</div>
	<div th:if="${bothPlayersSelected && samePlayersSelected}" class="alert alert-warning">Cannot compare the same player!</div>
	<th:block th:if="${bothPlayersSelected && !samePlayersSelected}">
	<ul id="h2hPills" class="nav nav-pills" th:with="playerIdsParams='?playerId1=' + ${player1.id} + '&playerId2=' + ${player2.id}">
		<li><a id="profilesPill" data-toggle="pill" href="#profiles" th:data-url="'/h2hProfiles' + ${playerIdsParams}">Profiles</a></li>
		<li><a id="matchesPill" data-toggle="pill" href="#matches" th:data-url="'/h2hMatches' + ${playerIdsParams}">Matches</a></li>
		<li><a id="performancePill" data-toggle="pill" href="#performance" th:data-url="'/h2hPerformance' + ${playerIdsParams}">Performance</a></li>
		<li><a id="statisticsPill" data-toggle="pill" href="#statistics" th:data-url="'/h2hStats' + ${playerIdsParams}">Statistics</a></li>
		<li><a id="goatPointsPill" data-toggle="pill" href="#goatPoints" th:data-url="'/h2hGOATPoints' + ${playerIdsParams}" title="GOAT Points Breakdown">GOAT Points</a></li>
		<li><a id="hypotheticalMatchupPill" data-toggle="pill" href="#hypotheticalMatchup" th:data-url="'/h2hHypotheticalMatchup' + ${playerIdsParams}">Hypothetical Matchup<sup class="cool-feature">&nbsp;Cool!</sup></a></li>
	</ul>
	<div class="tab-content">
		<div id="profiles" class="tab-pane fade"><div class="loading"></div></div>
		<div id="matches" class="tab-pane fade"><div class="loading"></div></div>
		<div id="performance" class="tab-pane fade"><div class="loading"></div></div>
		<div id="statistics" class="tab-pane fade"><div class="loading"></div></div>
		<div id="goatPoints" class="tab-pane fade"><div class="loading"></div></div>
		<div id="hypotheticalMatchup" class="tab-pane fade"><div class="loading"></div></div>
	</div>
	</th:block>
	<th:block th:include="fragments/deviceDetector :: deviceDetectors"/>
	<footer th:include="fragments/footer :: copy"></footer>
</body>
</html>