<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--@thymesVar id="seasons" type="java.util.List<java.lang.Integer>"-->
<!--@thymesVar id="levels" type="java.util.EnumSet<org.strangeforest.tcb.stats.model.TournamentLevel>"-->
<!--@thymesVar id="surfaces" type="org.strangeforest.tcb.stats.model.Surface[]"-->
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<title>Ultimate Tennis Statistics - Heads-to-Heads</title>
	<link th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
	<link th:href="@{/webjars/jquery-ui-themes/1.11.4/smoothness/jquery-ui.css}" rel="stylesheet" media="screen"/>
	<link th:href="@{/css/tennis-stats.css}" rel="stylesheet" media="screen"/>
	<script th:src="@{/webjars/jquery/2.2.2/jquery.min.js}"></script>
	<script th:src="@{/webjars/jquery-ui/1.11.4/jquery-ui.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/tennis-stats.js}"></script>
	<script type="text/javascript">
		/*<![CDATA[*/
		$(function() {
			autocompletePlayers("players", showHeadsToHeads);
			$("[data-toggle='tooltip']").tooltip();
		});
		function showHeadsToHeads() {
			var players = $.trim($("#players").val());
			var count = getPlayerCount(players);
			if (count >= 2) {
				var fromSeason = $("#fromSeason").val();
				var toSeason = $("#toSeason").val();
				var level = $("#level").val();
				var surface = $("#surface").val();
				var statsVsAll = $("#statsVsAll").prop("checked");
				var url = "/headsToHeadsTable?players=" + players + "&fromSeason=" + fromSeason + "&toSeason=" + toSeason + "&level=" + level + "&surface=" + surface + "&statsVsAll=" + statsVsAll;
				$.ajax(url).done(function(data) {
					$("#headsToHeadsDiv").html(data);
				});
			}
			else {
				var message = count == 1 ? "At least two players must be selected!" : "No player selected!";
				$("#headsToHeadsDiv").html("<div class='row'><div class='col-md-12'><div class='alert alert-warning'>" + message + "</div></div></div>");
			}
		}
		/*]]>*/
	</script>
</head>
<body class="container">
	<header th:include="fragments/header :: title"></header>
	<h3>Heads-to-Heads</h3>
	<div class="row">
		<div class="col-md-12">
			<div class="input-group">
				<label for="players" class="input-group-addon">Players:</label>
				<input id="players" type="text" class="ui-widget search-field form-control" placeholder="Search Players"/>
				<div class="input-group-btn" th:include="fragments/playerQuickPicks :: quickPicks"></div>
			</div>
		</div>
	</div>
	<div style="height: 5px"></div>
	<div class="row">
		<div class="col-md-4">
			<div class="input-group">
				<label for="fromSeason" class="input-group-addon">From:</label>
				<select id="fromSeason" class="form-control" data-toggle="tooltip" data-placement="top" title="Select from season">
					<option value="">All seasons</option>
					<option th:each="season : ${seasons}" th:value="${season}" value="2005" th:text="${season}">2005</option>
				</select>
				<label for="toSeason" class="input-group-addon">To:</label>
				<select id="toSeason" class="form-control" data-toggle="tooltip" data-placement="top" title="Select to season">
					<option value="">All seasons</option>
					<option th:each="season : ${seasons}" th:value="${season}" value="2005" th:text="${season}">2005</option>
				</select>
			</div>
		</div>
		<div class="col-md-2">
			<select id="level" class="form-control" data-toggle="tooltip" data-placement="top" title="Filter by tournament level">
				<option value="">All levels</option>
				<option th:each="level : ${levels}" th:value="${level.code}" th:class="|bg-level-${level.code}|" value="G" class="bg-level-G" th:text="${level.text}">Grand Slam</option>
			</select>
		</div>
		<div class="col-md-2">
			<select id="surface" class="form-control" data-toggle="tooltip" data-placement="top" title="Filter by surface">
				<option value="">All surfaces</option>
				<option th:each="surface : ${surfaces}" th:value="${surface.code}" th:class="|bg-surface-${surface.code}|" value="H" class="bg-surface-H" th:text="${surface.text}">Hard</option>
			</select>
		</div>
		<div class="col-md-2">
			<div class="checkbox">
				<label data-toggle="tooltip" data-placement="top" title="Show player statistics versus all or only between heads" class="text-nowrap">
					<input id="statsVsAll" type="checkbox"/> Stats vs All
				</label>
			</div>
		</div>
		<div class="col-md-2">
			<a class="btn btn-primary pull-right" href="#" role="button" onclick="showHeadsToHeads()">
				<span class="glyphicon glyphicon-th"></span>&nbsp;&nbsp;Show
			</a>
		</div>
	</div>
	<br/>
	<div id="headsToHeadsDiv"></div>
	<footer th:include="fragments/footer :: copy"></footer>
</body>
</html>