<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="seasons" type="java.util.List<java.lang.Integer>"*/-->
<!--/*@thymesVar id="levels" type="java.util.Set<org.strangeforest.tcb.stats.model.core.TournamentLevel>"*/-->
<!--/*@thymesVar id="levelGroups" type="java.util.Set<org.strangeforest.tcb.stats.model.core.TournamentLevelGroup>"*/-->
<!--/*@thymesVar id="surfaces" type="org.strangeforest.tcb.stats.model.core.Surface[]"*/-->
<!--/*@thymesVar id="surfaceGroups" type="org.strangeforest.tcb.stats.model.core.SurfaceGroup[]"*/-->
<!--/*@thymesVar id="speeds" type="org.strangeforest.tcb.stats.model.core.CourtSpeed[]"*/-->
<!--/*@thymesVar id="rounds" type="org.strangeforest.tcb.stats.model.core.Round[]"*/-->
<head th:replace="fragments/head :: commonHead(~{::title/text()}, false, ~{::template})">
	<title>Heads-to-Heads</title>
	<template>
	<meta name="description" content="Heads-to-heads amount a player group with statistics figures"/>
	<script type="text/javascript">
		$(function() {
			autocompletePlayers("players", showHeadsToHeads);
			$("[data-toggle='tooltip']").tooltip();
		});
		function showHeadsToHeads() {
			var players = $.trim($("#players").val());
			var count = getPlayerCount(players);
			if (count >= 2) {
				var fromSeason = $("#fromSeason").val();
				var toSeason = $("#toSeason").val();
				var level = $("#level").val();
				var bestOf = $("#bestOf").val();
				var surface = $("#surface").val();
				var indoor = $("#indoor").val();
				var speed = $("#speed").val();
				var round = encodeURIComponent($("#round").val());
				var statsVsAll = $("#statsVsAll").prop("checked");
				var rawData = window.h2hRawData !== undefined && window.h2hRawData;
				var url = "/headsToHeadsTable?players=" + players + "&fromSeason=" + fromSeason + "&toSeason=" + toSeason + "&level=" + level + "&bestOf=" + bestOf + "&surface=" + surface + "&indoor=" + indoor + "&speed=" + speed + "&round=" + round + "&statsVsAll=" + statsVsAll + "&rawData=" + rawData;
				$.ajax(url).done(function(data) {
					$("#headsToHeadsDiv").html(data);
				});
			}
			else {
				var message = count == 1 ? "At least two players must be selected!" : "No player selected!";
				$("#headsToHeadsDiv").html("<div class='row'><div class='col-md-12'><div class='alert alert-warning'>" + message + "</div></div></div>");
			}
		}
		function clearHeadsToHeadsFilter() {
			$("#fromSeason").val("");
			$("#toSeason").val("");
			$("#level").val("");
			$("#bestOf").val("");
			$("#surface").val("");
			$("#indoor").val("");
			$("#speed").val("");
			$("#round").val("");
			$("#statsVsAll").prop("checked", false);
		}
		function showStatsGroup(groupId) {
			var $playersStatsTable = $("#playersStatsTable");
			$playersStatsTable.find(".stats-group:not(.stats-group-" + groupId + ")").hide("fast");
			$playersStatsTable.find(".stats-group-" + groupId).show("fast");
		}
	</script>
	</template>
</head>
<body class="container">
	<header th:include="fragments/header :: title"></header>
	<h3><i class="fa fa-users"></i> Heads-to-Heads</h3>
	<div class="row">
		<div class="col-md-11">
			<div class="input-group">
				<label for="players" class="input-group-addon">Players:</label>
				<input id="players" type="text" class="ui-widget search-field form-control" placeholder="Search Players"/>
				<div class="input-group-btn" th:include="fragments/playerQuickPicks :: quickPicks"></div>
			</div>
		</div>
		<div class="col-md-1">
			<a class="btn btn-primary pull-right" href="#" role="button" onclick="showHeadsToHeads()">
				<i class="fa fa-th"></i>&nbsp;&nbsp;Show
			</a>
		</div>
	</div>
	<div class="row" style="margin-top: 5px">
		<div class="col-md-4">
			<div class="input-group">
				<label for="fromSeason" class="input-group-addon">From:</label>
				<select id="fromSeason" class="form-control" data-toggle="tooltip" data-placement="top" title="Select from season">
					<option value="">All seasons</option>
					<option th:each="season : ${seasons}" th:value="${season}" value="2005" th:text="${season}">2005</option>
				</select>
				<label for="toSeason" class="input-group-addon">To:</label>
				<select id="toSeason" class="form-control" data-toggle="tooltip" data-placement="top" title="Select to season">
					<option value="">All seasons</option>
					<option th:each="season : ${seasons}" th:value="${season}" value="2005" th:text="${season}">2005</option>
				</select>
			</div>
		</div>
		<div class="col-md-2">
			<select id="level" class="form-control" data-toggle="tooltip" data-placement="top" title="Filter by tournament level">
				<option value="">All levels</option>
				<option th:each="level : ${levels}" th:value="${level.code}" th:class="|bg-level-${level.code}|" value="G" class="bg-level-G" th:text="${level.text}">Grand Slam</option>
				<option th:each="levelGroup : ${levelGroups}" th:value="${levelGroup.codes}" value="GFLMO" th:text="${levelGroup.text}">Big Tournaments</option>
			</select>
		</div>
		<div class="col-md-2">
			<select id="surface" class="form-control" data-toggle="tooltip" data-placement="top" title="Filter by surface">
				<option value="">All surfaces</option>
				<option th:each="surface : ${surfaces}" th:value="${surface.code}" th:class="|bg-surface-${surface.code}|" value="H" class="bg-surface-H" th:text="${surface.text}">Hard</option>
				<option th:each="surfaceGroup : ${surfaceGroups}" th:value="${surfaceGroup.codes}" value="HGP" th:text="${surfaceGroup.text}">Fast (H, G, Cp)</option>
			</select>
		</div>
		<div class="col-md-2">
			<select id="speed" class="form-control" data-toggle="tooltip" data-placement="top" title="Filter by court speed">
				<option value="">All speeds</option>
				<option th:each="aSpeed : ${speeds}" th:value="${aSpeed.speed}" th:class="|points-${aSpeed.speed}|" style="color: white" value="50" class="points-50" th:text="${aSpeed.text}" th:selected="${aSpeed.speed == speed}">Medium</option>
			</select>
		</div>
	</div>
	<div class="row" style="margin-top: 5px">
		<div class="col-md-2">
			<select id="round" class="form-control" data-toggle="tooltip" data-placement="top" title="Filter by round">
				<option value="">All rounds</option>
				<option th:each="round : ${rounds}" th:value="${round.code}" th:class="|bg-result-${round.baseCode}|" value="F" class="bg-result-F" th:text="${round.text}">Final</option>
			</select>
		</div>
		<div class="col-md-2">
			<div class="checkbox">
				<label data-toggle="tooltip" data-placement="top" title="Show player statistics versus all or only between heads" class="text-nowrap">
					<input id="statsVsAll" type="checkbox"/> Stats vs All
				</label>
			</div>
		</div>
		<div class="col-md-2">
			<select id="bestOf" class="form-control" data-toggle="tooltip" data-placement="top" title="Filter by best of">
				<option value="">Best of any</option>
				<option value="3">Best of 3</option>
				<option value="5">Best of 5</option>
			</select>
		</div>
		<div class="col-md-2">
			<select id="indoor" class="form-control" data-toggle="tooltip" data-placement="top" title="Filter by outdoor / indoor">
				<option value="">Outdoor / Indoor</option>
				<option value="false">Outdoor</option>
				<option value="true">Indoor</option>
			</select>
		</div>
		<div class="col-md-1">
			<button type="button" class="btn btn-default" onclick="clearHeadsToHeadsFilter()" data-toggle="tooltip" data-placement="top" title="Clear all filters">
				<i class="fa fa-eraser"></i>&nbsp;&nbsp;Clear
			</button>
		</div>
	</div>
	<br/>
	<div id="headsToHeadsDiv"></div>
	<footer th:include="fragments/footer :: copy"></footer>
</body>
</html>