<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="player1" type="org.strangeforest.tcb.stats.model.Player"*/-->
<!--/*@thymesVar id="playerRef1" type="java.lang.String"*/-->
<!--/*@thymesVar id="player2" type="org.strangeforest.tcb.stats.model.Player"*/-->
<!--/*@thymesVar id="playerRef2" type="java.lang.String"*/-->
<!--/*@thymesVar id="tab" type="java.lang.String"*/-->
<head th:replace="fragments/head :: commonHead(${player1 != null || player2 != null} ? ${player1 != null ? player1.name : '?'} + ' vs ' +  ${player2 != null ? player2.name : '?'} : ~{::title/text()}, true, ~{::script}, _)">
	<title>Head-to-Head</title>
	<script type="text/javascript" th:inline="javascript">
		$(function() {
			$("#player1,#player2").autocomplete({
				source: "/autocompletePlayer",
				minLength: 2,
				select: function (event, ui) {
					if (ui.item) {
						$(this).attr("data-playerId", ui.item.id);
						var playerId1 = $("#player1").attr("data-playerId");
						var playerId2 = $("#player2").attr("data-playerId");
						if (playerId1 && playerId2)
							window.location = "/headToHead?playerId1=" + playerId1 + "&playerId2=" + playerId2;
					}
				}
			});
			$("#h2hPills").find("a").click(tabClick);
			[# th:if="${tab}"]
				$([['#' + ${tab} + 'Pill']]).click();
			[/]
			[# th:unless="${tab}"]
				$("#h2hPills").click();
			[/]
		});
		function toggleStatsData(selector) {
			$(selector).find(".pct-data, .raw-data").toggle();
		}
	</script>
</head>
<body class="container">
	<header th:include="fragments/header :: title"></header>
	<div class="row">
		<div class="col-md-6">
			<div class="input-group pull-left">
				<label for="player1" class="input-group-addon">Player 1:</label>
				<input id="player1" type="text" class="ui-widget search-field form-control" size="30" th:value="${player1 != null ? player1.name : _}" th:data-playerId="${player1 != null ? player1.id : _}" placeholder="Search Player 1"/>
			</div>
		</div>
		<div class="col-md-6">
			<div class="input-group pull-right">
				<label for="player2" class="input-group-addon">Player 2:</label>
				<input id="player2" type="text" class="ui-widget search-field form-control" size="30" th:value="${player2 != null ? player2.name : _}" th:data-playerId="${player2 != null ? player2.id : _}" placeholder="Search Player 2"/>
			</div>
		</div>
	</div>
	<th:block th:if="${player1 != null && player2 != null}">
	<div class="row">
		<div class="col-md-6">
			<div th:if="${player1}" class="text-nowrap">
				<img th:src="@{/images/flags/{code}.png(code=${player1.country.code})}" src="/images/flags/ch.png'" style="float: left; margin-top: 2px; margin-right: 8px" th:title="${player1.country.id}" title="SUI" width="24" height="20"/>
				<h3><a th:href="'/playerProfile?playerId=' + ${player1.id}" th:text="${player1.name}">Roger Federer</a></h3>
			</div>
			<h4 th:if="${player1 == null && playerRef1 != null}" th:text="'Player ' + ${playerRef1}  + ' not found.'">Player not found.</h4>
		</div>
		<div class="col-md-6">
			<div th:if="${player2}" class="text-nowrap">
				<img th:src="@{/images/flags/{code}.png(code=${player2.country.code})}" src="/images/flags/es.png'" style="float: left; margin-top: 2px; margin-right: 8px" th:title="${player2.country.id}" title="ESP" width="24" height="20"/>
				<h3><a th:href="'/playerProfile?playerId=' + ${player2.id}" th:text="${player2.name}">Rafael Nadal</a></h3>
			</div>
			<h4 th:if="${player2 == null && playerRef2 != null}" th:text="'Player ' + ${playerRef2}  + ' not found.'">Player not found.</h4>
		</div>
	<div>
	<ul id="h2hPills" class="nav nav-pills">
		<li><a id="profilePill" data-toggle="pill" href="#profile" th:attr="data-url='/h2hProfileTab?playerId1=' + ${player1.id} + '&playerId2=' + ${player1.id}">Profile</a></li>
	</ul>
	<div class="tab-content">
		<div id="profile" class="tab-pane fade"><div class="loading"></div></div>
	</div>
	</th:block>
	<th:block th:include="fragments/deviceDetector :: deviceDetectors"/>
	<footer th:include="fragments/footer :: copy"></footer>
</body>
</html>