<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="versions" type="java.util.Map<String, String>"*/-->
<!--/*@thymesVar id="seasons" type="java.util.List<java.lang.Integer>"*/-->
<!--/*@thymesVar id="levels" type="java.util.EnumSet<org.strangeforest.tcb.stats.model.TournamentLevel>"*/-->
<!--/*@thymesVar id="surfaces" type="org.strangeforest.tcb.stats.model.Surface[]"*/-->
<!--/*@thymesVar id="rounds" type="org.strangeforest.tcb.stats.model.Round[]"*/-->
<head th:replace="fragments/head :: commonHead(~{::title/text()}, false, ~{::script}, _)">
	<title>Heads-to-Heads</title>
	<script type="text/javascript">
		$(function() {
			autocompletePlayers("players", showHeadsToHeads);
			$("[data-toggle='tooltip']").tooltip();
		});
		function showHeadsToHeads() {
			var players = $.trim($("#players").val());
			var count = getPlayerCount(players);
			if (count >= 2) {
				var fromSeason = $("#fromSeason").val();
				var toSeason = $("#toSeason").val();
				var level = $("#level").val();
				var surface = $("#surface").val();
				var round = encodeURIComponent($("#round").val());
				var statsVsAll = $("#statsVsAll").prop("checked");
				var url = "/headsToHeadsTable?players=" + players + "&fromSeason=" + fromSeason + "&toSeason=" + toSeason + "&level=" + level + "&surface=" + surface + "&round=" + round + "&statsVsAll=" + statsVsAll;
				$.ajax(url).done(function(data) {
					$("#headsToHeadsDiv").html(data);
				});
			}
			else {
				var message = count == 1 ? "At least two players must be selected!" : "No player selected!";
				$("#headsToHeadsDiv").html("<div class='row'><div class='col-md-12'><div class='alert alert-warning'>" + message + "</div></div></div>");
			}
		}
	</script>
</head>
<body class="container">
	<header th:include="fragments/header :: title"></header>
	<h3>Heads-to-Heads</h3>
	<div class="row">
		<div class="col-md-11">
			<div class="input-group">
				<label for="players" class="input-group-addon">Players:</label>
				<input id="players" type="text" class="ui-widget search-field form-control" placeholder="Search Players"/>
				<div class="input-group-btn" th:include="fragments/playerQuickPicks :: quickPicks"></div>
			</div>
		</div>
		<div class="col-md-1">
			<a class="btn btn-primary pull-right" href="#" role="button" onclick="showHeadsToHeads()">
				<span class="glyphicon glyphicon-th"></span>&nbsp;&nbsp;Show
			</a>
		</div>
	</div>
	<div style="height: 5px"></div>
	<div class="row">
		<div class="col-md-4">
			<div class="input-group">
				<label for="fromSeason" class="input-group-addon">From:</label>
				<select id="fromSeason" class="form-control" data-toggle="tooltip" data-placement="top" title="Select from season">
					<option value="">All seasons</option>
					<option th:each="season : ${seasons}" th:value="${season}" value="2005" th:text="${season}">2005</option>
				</select>
				<label for="toSeason" class="input-group-addon">To:</label>
				<select id="toSeason" class="form-control" data-toggle="tooltip" data-placement="top" title="Select to season">
					<option value="">All seasons</option>
					<option th:each="season : ${seasons}" th:value="${season}" value="2005" th:text="${season}">2005</option>
				</select>
			</div>
		</div>
		<div class="col-md-2">
			<select id="level" class="form-control" data-toggle="tooltip" data-placement="top" title="Filter by tournament level">
				<option value="">All levels</option>
				<option th:each="level : ${levels}" th:value="${level.code}" th:class="|bg-level-${level.code}|" value="G" class="bg-level-G" th:text="${level.text}">Grand Slam</option>
			</select>
		</div>
		<div class="col-md-2">
			<select id="surface" class="form-control" data-toggle="tooltip" data-placement="top" title="Filter by surface">
				<option value="">All surfaces</option>
				<option th:each="surface : ${surfaces}" th:value="${surface.code}" th:class="|bg-surface-${surface.code}|" value="H" class="bg-surface-H" th:text="${surface.text}">Hard</option>
			</select>
		</div>
		<div class="col-md-2">
			<select id="round" class="form-control" data-toggle="tooltip" data-placement="top" title="Filter by round">
				<option value="">All rounds</option>
				<option th:each="round : ${rounds}" th:value="${round.code}" th:class="|bg-result-${round.baseCode}|" value="F" class="bg-result-F" th:text="${round.text}">Final</option>
			</select>
		</div>
		<div class="col-md-2">
			<div class="checkbox">
				<label data-toggle="tooltip" data-placement="top" title="Show player statistics versus all or only between heads" class="text-nowrap">
					<input id="statsVsAll" type="checkbox"/> Stats vs All
				</label>
			</div>
		</div>
	</div>
	<br/>
	<div id="headsToHeadsDiv"></div>
	<footer th:include="fragments/footer :: copy"></footer>
</body>
</html>