<th:block xmlns:th="http://www.thymeleaf.org" th:with="playerCount=${headsToHeads.playerCount}">
<!--/*@thymesVar id="fromSeason" type="java.lang.Integer"*/-->
<!--/*@thymesVar id="toSeason" type="java.lang.Integer"*/-->
<!--/*@thymesVar id="level" type="java.lang.String"*/-->
<!--/*@thymesVar id="bestOf" type="java.lang.Integer"*/-->
<!--/*@thymesVar id="surface" type="java.lang.String"*/-->
<!--/*@thymesVar id="indoor" type="java.lang.Boolean"*/-->
<!--/*@thymesVar id="speed" type="java.lang.Integer"*/-->
<!--/*@thymesVar id="round" type="java.lang.String"*/-->
<!--/*@thymesVar id="rawData" type="java.lang.Boolean"*/-->
<!--/*@thymesVar id="headsToHeads" type="org.strangeforest.tcb.stats.model.HeadsToHeads"*/-->
<!--/*@thymesVar id="categoryGroups" type="java.util.List<org.strangeforest.tcb.stats.model.core.StatsCategory.CategoryGroup>"*/-->
<!--/*@thymesVar id="playersStats" type="java.util.Map<java.lang.Integer, org.strangeforest.tcb.stats.model.PlayerStats>"*/-->
<!--/*@thymesVar id="hasPointStats" type="java.lang.Boolean"*/-->
<script type="text/javascript">
	$(function() {
		window.h2hRawData = [(${rawData})];
		$(h2hRawData ? ".pct-data" : ".raw-data").hide();
		showStatsGroup("Overview");
		$("#headsToHeadsTable").find("span.rivalry").each(function() {
			var $match = $(this);
			var match = {won: $match.data("won"), score: $match.data("score"), season: $match.data("season"), tournamentEventId: $match.data("tournamenteventid"), tournament: $match.data("tournament"),
				          level: $match.data("level"), surface: $match.data("surface"), indoor: $match.data("indoor"), round: $match.data("round")};
			var matchTitle = "Last Match <span class='label label-" + (match.won ? "won" : "lost") + "'>" + (match.won ? "Won" : "Lost") + "</span> [ " + formatScore(match.score) + " ]"
				+ "<br/><span class='text-nowrap'>at " + match.season + " " + tournamentEventFormatter(null, match) + " " + surfaceFormatter(null, match) + " " + match.round + "</span>";
			$match.tooltip({title: matchTitle, html: true, placement: "top"});
		});
	});
</script>
<style type="text/css">
	#headsToHeadsTable > thead > tr > th {
		border-bottom: 3px solid lightgray;
	}
	#headsToHeadsTable > tbody > tr > th, #playersStatsTable > tbody > tr > th {
		border-right: 3px solid lightgray;
		vertical-align: middle;
	}
	#headsToHeadsTable > tbody > tr > td, #playersStatsTable > tbody > tr > td {
		text-align: center;
		vertical-align: middle;
		padding: 5px 2px;
	}
	tr.first-row {
		border-top: 3px solid lightgray;
	}
	.tooltip-inner {
		background-color: #444444;
		max-width: 400px;
	}
</style>
<table id="headsToHeadsTable" class="table table-condensed table-hover table-bordered">
	<thead>
	<tr>
		<th style="border-right: 3px solid lightgray">Player</th>
		<th style="border-right: 3px solid lightgray; text-align: center">Totals</th>
		<th th:each="rivalry : ${headsToHeads.rivalries}" style="text-align: center">
			<a th:with="player=${rivalry.player1}" th:href="@{/playerProfile(playerId=${player.playerId})}" th:text="${playerCount <= 10 ? player.name : player.initials}" th:title="|Show ${player.name} profile|">Roger Federer</a>
		</th>
	</tr>
	</thead>
	<tbody class="text-nowrap">
	<tr th:unless="${headsToHeads.empty}" th:each="hRivalry : ${headsToHeads.rivalries}">
		<th th:with="player=${hRivalry.player1}">
			<img th:src="@{/images/flags/{code}.png(code=${player.country.code})}" src="/images/flags/ch.png'" th:title="${player.country.id}" title="SUI" width="24" height="20"/>
			<a th:href="@{/playerProfile(playerId=${player.playerId})}" th:text="${player.name}" title="Show profile">Roger Federer</a>
			<img th:if="${player.active}" src="/images/active.png" title="Active" width="12" height="12" style="vertical-align: 0"/>
		</th>
		<th style="text-align: center">
			<span class="raw-data" th:text="${hRivalry.wonLost.WLT}">11 - 9 / 20</span>
			<span class="pct-data" th:text="${hRivalry.wonLost.pctWL}">55.5% (11-9)</span>
		</th>
		<td th:each="vRivalry : ${headsToHeads.rivalries}" th:with="playerId1=${hRivalry.player1.playerId}, playerId2=${vRivalry.player1.playerId}, rivalry=${headsToHeads.getRivalry(playerId1, playerId2)}">
			<span th:if="${rivalry}" th:with="match=${rivalry.lastMatch}, url=@{/headToHead(playerId1=${playerId1}, playerId2=${playerId2}, tab=matches, fromDate=${fromSeason != null ? '01-01-' + fromSeason : _}, toDate=${toSeason != null ? '31-12-' + toSeason : _}, level=${level}, bestOf=${bestOf}, surface=${surface}, indoor=${indoor}, speed=${speed}, round=${round})}, title=${'Show ' + hRivalry.player1.name + ' - ' + vRivalry.player1.name + ' H2H matches'}" class="rivalry" th:attr="data-won=${match.winnerId == hRivalry.player1.playerId}, data-score=${match.score}, data-season=${match.season}, data-tournamenteventid=${match.tournamentEventId}, data-tournament=${match.tournament}, data-level=${match.level}, data-surface=${match.surface}, data-indoor=${match.indoor}, data-round=${match.round}">
				<a class="raw-data" th:href="${url}" th:text="${playerCount <= 10 ? rivalry.wonLost.WLT : rivalry.wonLost.WL}" th:title="${title}">4 - 2 / 6</a>
				<a class="pct-data" th:href="${url}" th:text="${playerCount <= 10 ? rivalry.wonLost.pctWL : rivalry.wonLost.wonPctStr}" th:title="${title}">66.7% (4-2)</a>
			</span>
		</td>
	</tr>
	<tr th:if="${headsToHeads.empty}">
		<td colspan="2" align="center">No data found</td>
	</tr>
	</tbody>
</table>
<th:block th:include="fragments/deviceDetector :: largeDeviceRequired('md')"/>
<table th:unless="${headsToHeads.empty}" id="playersStatsTable" class="table table-condensed table-hover table-bordered text-nowrap">
	<thead>
	<tr style="border-bottom: 3px solid lightgray">
		<th style="border-right: 3px solid lightgray">Player</th>
		<th th:each="rivalry : ${headsToHeads.rivalries}" style="text-align: center">
			<a th:with="player=${rivalry.player1}" th:href="@{/playerProfile(playerId=${player.playerId})}" th:text="${playerCount <= 10 ? player.name : player.initials}" th:title="|Show ${player.name} profile|">Roger Federer</a>
		</th>
	</tr>
	</thead>
	<th:block th:each="group : ${categoryGroups}" th:if="${hasPointStats || !group.needsStats}">
	<thead>
	<tr class="bg-info">
		<th th:colspan="${headsToHeads.rivalries.size() + 1}" style="padding: 2px 2px">
			<button class="btn btn-default btn-xs" th:onclick="'showStatsGroup(\'' + ${group.id} + '\')'" th:title="|Show ${group.name} statistics group|">[[${group.name}]]&nbsp;<i class="fa fa-angle-double-right"></i></button>
		</th>
	</tr>
	</thead>
	<tbody>
	<th:block th:each="subGroup : ${group.subGroups}" th:if="${hasPointStats || !subGroup.needsStats}">
	<tr th:each="category : ${subGroup.categories}" th:if="${hasPointStats || !category.needsStats}" th:class="${'stats-group stats-group-' + group.id + (categoryStat.first ? ' first-row' : '')}" th:with="indexMod3=${subGroupStat.index % 3}">
		<th class="stats-header stats-" th:attrappend="class=${indexMod3 == 0 ? 'serve' : (indexMod3 == 1 ? 'return' : 'total')}" th:title="#{${category.descriptionId}}" th:text="${category.title}">Ace %</th>
		<td th:each="hRivalry : ${headsToHeads.rivalries}" th:with="player=${hRivalry.player1}, stats=${playersStats.get(player.playerId)}" th:text="${!category.needsStats || stats.hasPointStats() ? category.getStatFormatted(stats) : _}" class="stats" th:attrappend="class=${category.hasRawData() ? ' pct-data' : _}">10%</td>
		<td th:if="${category.hasRawData()}" th:each="hRivalry : ${headsToHeads.rivalries}" th:with="player=${hRivalry.player1}, stats=${playersStats.get(player.playerId)}" th:text="${!category.needsStats || stats.hasPointStats() ? category.getStatUp(stats) + ' / ' + category.getStatDown(stats) : _}" class="raw-data stats">10 / 100</td>
	</tr>
	</th:block>
	</tbody>
	</th:block>
	<thead>
	<tr style="border-top: 3px solid lightgray">
		<th style="border-right: 3px solid lightgray">Player</th>
		<th th:each="rivalry : ${headsToHeads.rivalries}" style="text-align: center">
			<a th:with="player=${rivalry.player1}" th:href="@{/playerProfile(playerId=${player.playerId})}" th:text="${playerCount <= 10 ? player.name : player.initials}" th:title="|Show ${player.name} profile|">Roger Federer</a>
		</th>
	</tr>
	</thead>
</table>
<div th:unless="${headsToHeads.empty}" class="row">
	<div class="pct-data col-md-2">
		<button class="btn btn-default btn-xs" onclick="toggleStatsData(); window.h2hRawData = true" title="Show raw data"><i class="fa fa-hashtag"></i>&nbsp;&nbsp;Raw Data</button>
	</div>
	<div class="raw-data col-md-2">
		<button class="btn btn-default btn-xs" onclick="toggleStatsData(); window.h2hRawData = false" title="Show percentage data"><i class="fa fa-percent"></i>&nbsp;&nbsp;Pct. Data</button>
	</div>
</div>
</th:block>