<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="hasInProgressEvents" type="java.lang.Boolean"*/-->
<!--/*@thymesVar id="currentSeason" type="java.lang.Integer"*/-->
<!--/*@thymesVar id="playerOfTheWeek" type="org.strangeforest.tcb.stats.model.PlayerOfTheWeek"*/-->
<!--/*@thymesVar id="recordOfTheDay" type="org.strangeforest.tcb.stats.model.records.RecordOfTheDay"*/-->
<!--/*@thymesVar id="featuredBlogPost" type="org.strangeforest.tcb.stats.model.FeaturedContent"*/-->
<!--/*@thymesVar id="featuredPage" type="org.strangeforest.tcb.stats.model.FeaturedContent"*/-->
<!--/*@thymesVar id="levels" type="java.util.Map<String, String>"*/-->
<!--/*@thymesVar id="surfaces" type="java.util.Map<String, String>"*/-->
<!--/*@thymesVar id="goatTopN" type="java.util.List<org.strangeforest.tcb.stats.model.PlayerRanking>"*/-->
<head th:replace="fragments/head :: commonHead(null, true, ~{::template})">
	<template>
	<meta name="description" content="Ultimate Tennis Statistics and Tennis Crystal Ball match prediction and tournament forecasts"/>
	<script type="text/javascript" th:inline="javascript">
		$(function() {
			var device = detectDevice();
			var xl = deviceGreaterOrEqual(device, "xl");
			var lg = deviceGreaterOrEqual(device, "lg");
			var md = deviceGreaterOrEqual(device, "md");
			var sm = deviceGreaterOrEqual(device, "sm");
			[# th:if="${hasInProgressEvents}"]
			var $inProgressEventsTable = $("#inProgressEventsTable");
			setBootgridColumnsVisible($inProgressEventsTable, ["surface", "draw"], sm);
			setBootgridColumnsVisible($inProgressEventsTable, ["favorite2"], lg);
			if (!md)	setBootgridColumnsWidths($inProgressEventsTable, ["name"], [175]);
			if (xl) setBootgridColumnsWidths($inProgressEventsTable, ["surface"], [100]);
			$inProgressEventsTable.bootgrid({
				ajax: true,
				ajaxSettings: {
					method: "GET",
					cache: false
				},
				url: "/inProgressEventsTable",
				rowCount: [-1],
				navigation: 0,
				sorting: false,
				formatters: {
					"event": function(column, row) {
						return "<a href='/inProgressEventForecast?inProgressEventId=" + row.id + "' class='label label-" + row.level + "' title='Show full forecast'>" + row.name + "</a>";
					},
					"surface": function(column, row) {
						return formatSurface(row.surface, row.indoor) + (xl ? " " + formatSpeed(row.speed, row.surface) : "");
					},
					"favorite1":  function(column, row) {
						return formatFavorite(column, row.favorite1);
					},
					"favorite2":  function(column, row) {
						return formatFavorite(column, row.favorite2);
					},
					"forecast": function(column, row) {
						return "<a href='/inProgressEventForecast?inProgressEventId=" + row.id + "' class='label label-primary label-btn' title='Show full forecast'><i class='fa fa-eye'></i>&nbsp;&nbsp;Forecast</a>";
					}
				},
				labels: {
					loading: bootgridTemplateLoading
				}
			});
			[/]
			var $latestEvents = $("#latestEvents");
			setBootgridColumnsVisible($latestEvents, ["finalEx", "participation"], xl);
			setBootgridColumnsVisible($latestEvents, ["final"], lg && !xl);
			setBootgridColumnsVisible($latestEvents, ["winner"], !lg);
			setBootgridColumnsVisible($latestEvents, ["date", "draw"], sm);
			if (!lg) setBootgridColumnsWidths($latestEvents, ["name"], [175]);
			if (xl) setBootgridColumnsWidths($latestEvents, ["surface"], [100]);
			$latestEvents.bootgrid({
				ajax: true,
				ajaxSettings: {
					method: "GET",
					cache: false
				},
				url: "/tournamentEventsTable",
				rowCount: [10],
				navigation: 0,
				sorting: false,
				formatters: {
					"date": dateFormatter,
					"event": tournamentEventFormatterExtId,
					"level": levelFormatter,
					"surface": function(column, row) {
						return formatSurface(row.surface, row.indoor) + (xl ? " " + formatSpeed(row.speed, row.surface) : "");
					},
					"participation": participationFormatter,
					"final": finalFormatter,
					"finalEx": finalExFormatter,
					"winner": function(column, row) {
						return row.winner ? "<a href='/playerProfile?playerId=" + row.winner.id + "' title='Show profile'><strong>" + row.winner.name + "</strong></a>" : "";
					}
				},
				labels: {
					loading: bootgridTemplateLoading,
					noResults: "No tournament events found"
				}
			});
			setBootgridTitles($latestEvents, [
				{id: "participation", title: "[(#{event.participation.title})]"}
			]);
			decorateSurface("#titleSurface");
			bindPopovers();
			loadRankingTopN("RANK");
		});
	</script>
	<style type="text/css">
		body {
			background: url("/images/home-bg.jpg") repeat;
		}
		.carousel-indicators {
			left: 75%;
			bottom: -10px;
			width: 25%;
			margin-left: 0;
			padding-right: 10px !important;
			text-align: right;
		}
		.component-header {
			margin: 0;
		}
	</style>
	<script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "WebSite",
		"url": "https://www.ultimatetennisstatistics.com",
		"name": "Ultimate Tennis Statistics",
		"description": "Welcome to Ultimate Tennis Statistics, the ultimate tennis statistics destination for the die-hard tennis fans!",
		"genre": "Sports"
	}</script>
	</template>
</head>
<body class="container">
	<header th:include="fragments/header :: title"></header>
	<div class="row">
		<div class="col-lg-10 col-md-9">
			<h1 style="margin-top: 0; margin-bottom: 20px"><img src="/images/uts-logo.png" class="uts-logo" alt="UTS"/> <th:block th:include="fragments/promotion :: logo"/></h1>
			<p>
				Welcome to <th:block th:include="fragments/promotion :: logo"/>, the ultimate tennis statistics destination for the die-hard tennis fans!<br/>
				Be it latest or historical results, in-match statistics, records or all-time greats comparisons, Elo ratings or tournament forecasts, you will find it here. More details at <a href="/about" class="text-nowrap"><i class="fa fa-question-circle"></i> About</a> page.
			</p>
			<th:block th:include="fragments/ads :: responsive"/>
			<th:block th:if="${hasInProgressEvents}">
			<h4 class="text-nowrap" style="margin-top: 25px"><i class="fa fa-eye"></i> Latest Forecasts <sup style="font-size: 60%"><i class="text-muted">Powered by <th:block th:include="fragments/promotion :: tcb"/></i></sup></h4>
			<table id="inProgressEventsTable" class="table table-condensed table-hover table-striped" style="margin-bottom: 0">
				<thead>
				<tr>
					<th data-column-id="name" data-formatter="event" data-width="200">Tournament</th>
					<th data-column-id="surface" data-formatter="surface" data-width="80">Surface</th>
					<th data-column-id="draw" data-width="65">Draw</th>
					<th data-column-id="favorite1" data-formatter="favorite1" data-width="220">1-st Favorite</th>
					<th data-column-id="favorite2" data-formatter="favorite2" data-width="220">2-nd Favorite</th>
					<th data-column-id="forecast" data-formatter="forecast" data-width="95">Forecast</th>
				</tr>
				</thead>
			</table>
			<div class="pull-right" style="margin: 5px 10px">
				<a href="/inProgressEventsForecasts" class="label label-default" title="Full forecasts details">All Forecasts</a>
				<a href="/eloRatings" class="label label-B" title="Current Elo ratings">Elo Ratings</a>
			</div>
			</th:block>
			<h4 class="text-nowrap" style="margin-top: 25px"><i class="fa fa-calendar"></i> Latest Results</h4>
			<table id="latestEvents" class="table table-condensed table-hover table-striped" style="margin-bottom: 0">
				<thead>
				<tr>
					<th data-column-id="date" data-formatter="date" data-order="desc" data-width="85">Date</th>
					<th data-column-id="name" data-formatter="event" data-width="200">Tournament</th>
					<th data-column-id="surface" data-formatter="surface" data-width="80">Surface</th>
					<th data-column-id="draw" data-width="65">Draw</th>
					<th data-column-id="participation" data-formatter="participation" data-width="60" data-align="right" data-header-align="right">Part.</th>
					<th data-column-id="final" data-formatter="final" data-width="500">Final</th>
					<th data-column-id="finalEx" data-formatter="finalEx" data-visible="false" data-width="550">Final</th>
					<th data-column-id="winner" data-formatter="winner" data-width="200">Winner</th>
				</tr>
				</thead>
			</table>
			<div class="pull-right" style="margin: 5px 10px">
				<a href="/tournamentEvents" class="label label-default" title="Show more tournament results">More Results</a>
				<a th:href="@{/season(season=${currentSeason})}" class="label label-B" th:title="|Show season ${currentSeason} figures|">Season [(${currentSeason})]</a>
			</div>
			<br/>
			<div id="featuredCarousel" class="carousel slide" data-ride="carousel" style="height: 80px; margin-top: 15px">
				<ol class="carousel-indicators">
					<li data-target="#featuredCarousel" data-slide-to="0" class="carousel-indicator active"></li>
					<li data-target="#featuredCarousel" data-slide-to="1" class="carousel-indicator"></li>
					<li data-target="#featuredCarousel" data-slide-to="2" class="carousel-indicator"></li>
					<li data-target="#featuredCarousel" data-slide-to="3" class="carousel-indicator"></li>
				</ol>
				<div class="carousel-inner">
					<div class="item text-center active">
						<p><i class="fa fa-user"></i> Player of the Week</p>
						<p>
							<th:block th:include="fragments/player :: player(${playerOfTheWeek.player})"/>
							<th:block th:if="${playerOfTheWeek.title}" th:with="player=${playerOfTheWeek.player}, title=${playerOfTheWeek.title}"><br/>
								<a th:href="@{/playerProfile(playerId=${player.id}, tab=matches, tournamentEventId=${title.id})}" title="Show matches" style="vertical-align: middle"><i class="fa fa-trophy fa-b"></i></a>
								<a th:href="@{/tournamentEvent(tournamentEventId=${title.id})}" class="label label-" th:attrappend="class=${title.level}" th:text="${title.name}" th:title="${levels[title.level]}">Wimbledon</a>
								<span th:if="${title.surface}" id="titleSurface" class="label" th:data-surface="${title.surface}">[(${surfaces[title.surface]})]<span th:if="${title.indoor && title.surface != 'P'}" title="Indoor"> (i)</span></span>
							</th:block>
						</p>
					</div>
					<div class="item text-center">
						<p><i class="fa fa-book"></i> Record of the Day</p>
						<p th:with="record=${recordOfTheDay.record}, recordDetail=${recordOfTheDay.recordDetail}">
							<a th:href="@{/record(recordId=${record.id})}" title="Show record" th:text="${record.name}">Most Titles</a><br/>
							<th:block th:include="fragments/player :: playerRow(${recordDetail})"/><i class="fa fa-angle-double-right"></i>
							<a th:if="${recordDetail.detailUrl}" th:href="${recordDetail.detailUrl}" th:text="${recordDetail.detail.valueString}" title="Record details">109</a>
							<th:block th:unless="${recordDetail.detailUrl}" th:text="${recordDetail.detail.valueString}">109</th:block>
						</p>
					</div>
					<div class="item text-center">
						<p><i class="fa fa-pencil-square"></i> Featured Blog Post</p>
						<p><a th:href="@{/blog(post=${featuredBlogPost.value})}" th:utext="${featuredBlogPost.content}">New Blog Section</a></p>
					</div>
					<div class="item text-center">
						<p><i class="fa fa-anchor"></i> Featured Page</p>
						<p><a th:href="${featuredPage.value}" th:utext="${featuredPage.content}">GOAT List</a></p>
					</div>
				</div>
			</div>
			<h4 class="text-nowrap" style="margin-top: 10px"><i class="fa fa-star-o"></i> Latest New Features<sup class="new-feature"></sup></h4>
			<ul>
				<li>In-progress tournament Court Speed and Statistics Leaders - Find out the ongoing tournaments' court speeds and explore who has the most aces, the greatest serve % or the greatest service or return points won % so far</li>
				<li>New website logo - <img src="/images/uts-logo.png" width="50" height="15"/> Courtesy of and designed by <a href="mailto:crazysesirdzija@gmail.com" target="_blank">crazysesirdzija@gmail.com</a></li>
				<li><a href="/topMatchStats">Top Match Stats</a> - Top match statistics figures, like who and when had most aces, service or return points won in a single match</li>
				<li>In-match winning probabilities for a match, current set, current game, next set, service or return game and service or return point at Head-to-Head Hypothetical Matchup</li>
				<li><a href="/eloRatings">Elo Ratings</a> inactivity penalty redesigned to use a logistic function with tuned parameters for maximum predictability after comebacks from long injury breaks</li>
				<li>Adjusted H2H takes into account surface and importance skew in H2H matches and normalizes it (Federer vs Nadal <a href="/headToHead?name1=Roger%20Federer&name2=Rafael%20Nadal">Adjusted H2H</a>, details about formula at <a href="/glossary">Glossary</a> page and in the <a href="/blog?post=h2hSkew">Blog Post</a>)</li>
				<li>Court Speed Index in filters across the site as well as player performance breakdown by court speed (i.e. <a href="/playerProfile?name=Roger%20Federer&tab=performance" title="Federer performance breakdown">Federer</a>, <a href="/playerProfile?name=Novak%20Djokovic&tab=performance" title="Djokovic performance breakdown">Djokovic</a>, <a href="/playerProfile?name=Rafael%20Nadal&tab=performance" title="Nadal performance breakdown">Nadal</a>, more info in the <a href="/blog?post=big4CourtSpeed">Blog Post</a>)</li>
				<li>New Records for Different Masters Slot <a href="/record?recordId=DifferentMastersSlotTitles">Titles</a> (+2 'GOAT' Points) / <a href="/record?recordId=DifferentMastersSlotFinals">Finals</a> (Masters Slot is an order number (1-9) by date of the Masters event within the season) and <a href="/record?recordId=YoungestEndOfSeasonATPNo1">Youngest</a> / <a href="/record?recordId=OldestEndOfSeasonATPNo1">Oldest</a> year-end No. 1</li>
				<li>Court Speed Index (0 - 100) for tournaments and tournament events (more info about the formula used at <a href="/glossary">Glossary</a> page, visible by default on 1440+ pixels screens)</li>
				<li>New Records for the <a href="/records?category=LeastMostBreaksWinningTitle">Least Breaks Against / Most Breaks scored while Winning Title</a></li>
				<li>Player nicknames - Players are searchable by nicknames too: Maestro, Bull, Joker...</li>
				<li><a href="/greatestMatches">Greatest Matches</a> - Greatest matches of Open Era ranked by special <span th:title="#{match.greatnessScore.title}">Match Greatness Score</span> formula</li>
				<li>New Tournament Event Title Difficulty factor, representing how difficult was to win the title based on the strength of the opponents a winner has faced on the path to the title (more details about Title Difficulty algorithm at <a href="/glossary">Glossary</a> page), as well as new records: <a href="/records?category=MostTitlesAdjustedbyDifficulty">Most Titles Adjusted by Difficulty</a>, <a href="/records?category=HardestTitles">Hardest Titles</a> and <a href="/records?category=EasiestTitles">Easiest Titles</a></li>
			</ul>
			<th:block th:include="fragments/ads :: responsive"/>
		</div>
		<div class="col-lg-2 col-md-3">
			<div id="rankingTopN"></div>
			<div class="panel panel-default component text-center text-nowrap">
				<a href="/liveScores" title="Live scores"><strong>Live Scores</strong> <img src="/images/active.png" style="vertical-align: -5%" width="12" height="12"/></a> via<br/>
				<a href="http://www.livescore.in/" title="Livescore.in" target="_blank">Livescore.in</a>
			</div>
			<th:block th:include="fragments/goatTopN :: goatTopN"/>
			<th:block th:include="fragments/promotion :: facebook"/>
			<th:block th:include="fragments/promotion :: twitter('')"/>
			<br/>
			<th:block th:include="fragments/ads :: responsiveLink"/>
			<th:block th:include="fragments/promotion :: paypal"/>
			<th:block th:include="fragments/promotion :: license"/>
		</div>
	</div>
	<th:block th:include="fragments/deviceDetector :: deviceDetectors"/>
	<footer th:include="fragments/footer :: copy"></footer>
</body>
</html>