<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="hasInProgressEvents" type="java.lang.Boolean"*/-->
<!--/*@thymesVar id="currentSeason" type="java.lang.Integer"*/-->
<!--/*@thymesVar id="goatTopN" type="java.util.List<org.strangeforest.tcb.stats.model.PlayerRanking>"*/-->
<head th:replace="fragments/head :: commonHead(null, true, ~{::script}, ~{::style})">
	<script type="text/javascript" th:inline="javascript">
		$(function() {
			var device = detectDevice();
			var xl = deviceGreaterOrEqual(device, "xl");
			var lg = deviceGreaterOrEqual(device, "lg");
			var md = deviceGreaterOrEqual(device, "md");
			var sm = deviceGreaterOrEqual(device, "sm");
			[# th:if="${hasInProgressEvents}"]
			var $inProgressEventsTable = $("#inProgressEventsTable");
			setBootgridColumnsVisible($inProgressEventsTable, ["surface", "draw"], sm);
			setBootgridColumnsVisible($inProgressEventsTable, ["favorite2"], lg);
			if (!md)
				setBootgridColumnsWidths($inProgressEventsTable, ["name"], [175]);
			$inProgressEventsTable.bootgrid({
				ajax: true,
				ajaxSettings: {
					method: "GET",
					cache: false
				},
				url: "/inProgressEventsTable",
				rowCount: [-1],
				navigation: 0,
				sorting: false,
				formatters: {
					"event": function(column, row) {
						return "<a href='/inProgressEventForecast?inProgressEventId=" + row.id + "' class='label label-" + row.level + "' title='Show full forecast'>" + row.name + "</a>";
					},
					"surface": surfaceFormatter,
					"favorite1":  function(column, row) {
						return formatFavorite(column, row.favorite1);
					},
					"favorite2":  function(column, row) {
						return formatFavorite(column, row.favorite2);
					},
					"forecast": function(column, row) {
						return "<a href='/inProgressEventForecast?inProgressEventId=" + row.id + "' class='label label-primary label-btn' title='Show full forecast'><span class='glyphicon glyphicon-eye-open'></span>&nbsp;&nbsp;Forecast</a>";
					}
				},
				labels: {
					loading: bootgridTemplateLoading
				}
			});
			[/]
			var $latestEvents = $("#latestEvents");
			setBootgridColumnsVisible($latestEvents, ["finalEx"], xl);
			setBootgridColumnsVisible($latestEvents, ["final"], lg && !xl);
			setBootgridColumnsVisible($latestEvents, ["winner"], !lg);
			setBootgridColumnsVisible($latestEvents, ["date", "draw"], sm);
			if (!lg)
				setBootgridColumnsWidths($latestEvents, ["name"], [175]);
			$latestEvents.bootgrid({
				ajax: true,
				ajaxSettings: {
					method: "GET",
					cache: false
				},
				url: "/tournamentEventsTable",
				rowCount: [10],
				navigation: 0,
				sorting: false,
				formatters: {
					"date": dateFormatter,
					"event": tournamentEventFormatterExtId,
					"level": levelFormatter,
					"surface": surfaceFormatter,
					"final": finalFormatter,
					"finalEx": finalExFormatter,
					"winner": function(column, row) {
						return row.winner ? "<a href='/playerProfile?playerId=" + row.winner.id + "' title='Show profile'><strong>" + row.winner.name + "</strong></a>" : "";
					}
				},
				labels: {
					loading: bootgridTemplateLoading,
					noResults: "No tournaments found"
				}
			});
			bindPopovers();
			loadRankingTopN("POINTS");
		});
	</script>
	<style>
		body {
			background: url("/images/home-bg.jpg") repeat;
		}
		.component-header {
			margin: 0;
		}
	</style>
</head>
<body class="container">
	<header th:include="fragments/header :: title"></header>
	<div class="row">
		<div class="col-lg-10 col-md-9">
			<div>
				<h1 style="margin-top: 10px; margin-bottom: 20px"><span style="color: #dd7777">Ultimate</span> <span style="color: #22ddcc">Tennis</span> <span style="color: #4477cc">Statistics</span></h1>
			</div>
			<p>
				Welcome to <span style="color: #dd7777">Ultimate</span> <span style="color: #22ddcc">Tennis</span> <span style="color: #4477cc">Statistics</span>, the ultimate tennis statistics destination for the die-hard tennis fans!<br/>
				For more information please click <a href="/about">here <span class="glyphicon glyphicon-question-sign"></span></a>.
			</p>
			<th:block th:if="${hasInProgressEvents}">
			<h4 class="text-nowrap" style="margin-top: 25px"><span class="glyphicon glyphicon-eye-open" style="vertical-align: text-top"></span> Latest Forecasts</h4>
			<table id="inProgressEventsTable" class="table table-condensed table-hover table-striped" style="margin-bottom: 0">
				<thead>
				<tr>
					<th data-column-id="name" data-formatter="event" data-width="200">Tournament</th>
					<th data-column-id="surface" data-formatter="surface" data-width="80">Surface</th>
					<th data-column-id="draw" data-width="65">Draw</th>
					<th data-column-id="favorite1" data-formatter="favorite1" data-width="220">1-st Favorite</th>
					<th data-column-id="favorite2" data-formatter="favorite2" data-width="220">2-nd Favorite</th>
					<th data-column-id="forecast" data-formatter="forecast" data-width="95">Forecast</th>
				</tr>
				</thead>
			</table>
			<div class="pull-right" style="margin: 5px 10px">
				<a href="/inProgressEventsForecasts" class="label label-default" title="Full forecasts details">All Forecasts</a>
			</div>
			</th:block>
			<h4 class="text-nowrap" style="margin-top: 25px"><span class="glyphicon glyphicon-calendar"></span> Latest Results</h4>
			<table id="latestEvents" class="table table-condensed table-hover table-striped" style="margin-bottom: 0">
				<thead>
				<tr>
					<th data-column-id="date" data-formatter="date" data-order="desc" data-width="85">Date</th>
					<th data-column-id="name" data-formatter="event" data-width="200">Tournament</th>
					<th data-column-id="surface" data-formatter="surface" data-width="80">Surface</th>
					<th data-column-id="draw" data-width="65">Draw</th>
					<th data-column-id="final" data-formatter="final" data-width="500">Final</th>
					<th data-column-id="finalEx" data-formatter="finalEx" data-visible="false" data-width="550">Final</th>
					<th data-column-id="winner" data-formatter="winner" data-width="200">Winner</th>
				</tr>
				</thead>
			</table>
			<div class="pull-right">
				<a href="/tournamentEvents" class="label label-B" title="Show more tournament results">More Results</a>
				<a th:href="@{/season(season=${currentSeason})}" class="label label-default" th:title="|Show season ${currentSeason} figures|">Season [(${currentSeason})]</a>
			</div>
			<h4 class="text-nowrap" style="margin-top: 25px"><span class="glyphicon glyphicon-star-empty" style="vertical-align: text-top"></span> Latest New Features<sup class="new-feature">&nbsp;New!</sup></h4>
			<ul>
				<li>New Statistics Categories - Now over 80 different statistics categories at <a href="/statsLeaders">Statistics Leaders</a> and <a href="/statsChart">Statistics Chart</a>, including opponent rank and Elo ratings, match, set, game and point times and many more</li>
				<li>Following community feedback, many improvements are added across the site: Outdoor / Indoor differentiation of tournament events, filters by date range, outdoor/indoor, best-of 3/5 (for events, matches, stats...), Outdoor/Indoor, Best of 3/5 and Head-to-Head records, Outdoor/Indoor Elo Ratings and many other smaller improvements (thanks to @Starigniter from <a href="http://www.menstennisforums.com/" target="_blank">Man Tennis Forums</a> for excellent suggestions)</li>
				<li><a href="/tournaments?level=L">Alternative Tour Finals</a> - Dallas WCT Finals and Grand Slam Cup recognized as alternative tour Finals, weighted similarly as Masters tournaments</li>
				<li>Tweaked <a href="/goatList">'GOAT Points' Formula</a> - Big Wins points tweaked to be half based on opponent Elo rating, half on ATP ranking; Records, Performance and Statistics points tweaked to emphasize more relevant statistics</li>
				<li><a href="/inProgressEventsForecasts">Tournament Forecasts</a> enhancements - Improved match prediction accuracy, progressive <a href="https://en.wikipedia.org/wiki/Elo_rating_system" target="_blank">Elo rating</a> calculations as tournament goes and Tournament Favorites on the glance!</li>
				<li><a href="/tournaments">Tournaments</a> browser - Browse tournaments, see players with most titles, historical tournament levels and surfaces and average participation.</li>
				<li><a href="/topPerformers">Top Performers</a> and <a href="/statsLeaders">Statistics Leaders</a> enhancements - Much more filters: by season, by tournament level, by surface, by round, vs rank, vs age, vs hand/backhand, vs seeding, by height, by tournament and by country.</li>
				<li><a href="/record?recordId=RecordsGOATPoints">Records 'GOAT' Points</a> - 'GOAT' Points for selected records, see 'GOAT' Legend for the details</li>
			</ul>
			<h4 class="text-nowrap" style="margin-top: 25px"><span class="glyphicon glyphicon-bullhorn" style="vertical-align: text-top"></span> Tips<sup class="cool-feature">&nbsp;Cool!</sup></h4>
			<ul>
				<li><span style="color: #dd7777">Ultimate</span> <span style="color: #22ddcc">Tennis</span> <span style="color: #4477cc">Statistics</span> is a mobile-friendly web site, but to see it in its 'full glory', open it on the screen greater then 1440 pixels, in which case more data will show up and more columns with various details will be available in the data tables.</li>
				<li>On most pages with filter, there is a search box
					<div class="input-group" style="display: inline-table; vertical-align: -40%; width: 120px"><span class="icon glyphicon glyphicon-search input-group-addon"></span><input class="search-field form-control" placeholder="Search" type="text" disabled="disabled" style="margin-top: 1px; margin-bottom: -1px"></div>
					where players or tournaments can be quickly filtered by name. But if you type country code like USA, GBR, ESP, FRA, you can filter players by country too.
				</li>
				<li>On most data tables, clicking on a data cell will open a page with the details. Examples:<br/>
					<ul>
						<li>On 'GOAT' List page, clicking on a number of Grand Slam tournaments for the player will open the page with actual GSs won by the player.</li>
						<li>On Top Performers and Statistics Leaders pages, clicking on the statistics value will open the page with matches on which the value is based.</li>
						<li>On Records and Record page, clicking on the record value or details will open the page with data on which the record is based (i.e. clicking on Borg's 49 match winning streak record will reveal all Borg's 49 consecutive match wins as well as the loss that ended the streak).</li>
					</ul>
				</li>
				<li>Sometimes there are hidden columns in data tables. To activate them, click on the columns box
					<button class="btn btn-default" type="button" disabled="disabled" style="vertical-align: 20%"><span class="icon glyphicon glyphicon-th-list"></span> <span class="caret"></span></button>
					in the upper-right corner of the data table and check the hidden columns. Example: Best of (BO) column in Player profile Matches tab.</li>
			</ul>
		</div>
		<div class="col-lg-2 col-md-3">
			<div id="rankingTopN"></div>
			<div class="panel panel-default component text-center text-nowrap">
				<a href="/liveScores" title="Live scores"><strong>Live Scores</strong> <img src="/images/active.png" style="vertical-align: middle" width="12" height="12"/></a> via<br/>
				<a href="http://www.livescore.in/" title="Livescore.in" target="_blank">Livescore.in</a>
			</div>
			<th:block th:include="fragments/goatTopN :: goatTopN"/>
			<th:block th:include="fragments/promotion :: facebook"/>
			<th:block th:include="fragments/promotion :: twitter"/>
			<th:block th:include="fragments/promotion :: paypal"/>
		</div>
	</div>
	<th:block th:include="fragments/deviceDetector :: deviceDetectors"/>
	<footer th:include="fragments/footer :: copy"></footer>
</body>
</html>