<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<title>Ultimate Tennis Statistics</title>
	<link th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
</head>
<body class="container">
	<h1>Ultimate Tennis Statistics</h1>
	<h3><a th:href="rankingsChart">Rankings Chart</a></h3>
	<h3><a th:href="goatList">GOAT List</a></h3>
	<h3><a th:href="playerRecord">Player Record</a></h3>
</body>
</html>