<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: commonHead(~{::title/text()}, true, ~{::script}, _)">
	<title>Tournament Event Forecasts</title>
	<script type="text/javascript">
		$(function() {
			var $inProgressEventsTable = $("#inProgressEventsTable");
			var device = detectDevice();
			setBootgridColumnsVisible($inProgressEventsTable, ["playerCount", "strength", "averageEloRating"], deviceGreaterOrEqual(device, "lg"));
			setBootgridColumnsVisible($inProgressEventsTable, ["participation", "favorite2"], deviceGreaterOrEqual(device, "md"));
			setBootgridColumnsVisible($inProgressEventsTable, ["draw"], deviceGreaterOrEqual(device, "sm"));
			if (deviceGreaterOrEqual("md", device))
				setBootgridColumnsWidths($inProgressEventsTable, ["name"], [175]);
			$inProgressEventsTable.bootgrid({
				ajax: true,
				ajaxSettings: {
					method: "GET",
					cache: false
				},
				url: "/inProgressEventsTable",
				rowCount: [-1],
				navigation: 1,
				formatters: {
					"event": function(column, row) {
						return "<a href='/inProgressEventForecast?inProgressEventId=" + row.id + "' class='label label-" + row.level + "' title='Show full forecast'>" + row.name + "</a>";
					},
					"surface": surfaceFormatter,
					"participation": participationFormatter,
					"favorite1":  function(column, row) {
						return formatFavorite(column, row.favorite1);
					},
					"favorite2":  function(column, row) {
						return formatFavorite(column, row.favorite2);
					},
					"forecast": function(column, row) {
						return "<a href='/inProgressEventForecast?inProgressEventId=" + row.id + "' class='label label-primary label-btn' title='Show full forecast'><span class='glyphicon glyphicon-eye-open'></span>&nbsp;&nbsp;Forecast</a>";
					}
				},
				labels: {
					loading: bootgridTemplateLoading,
					noResults: "No in-progress tournaments found"
				},
				templates: {
					paginationItem: bootgridTemplatePaginationItem
				}
			});
			var $inProgressEventsTableHeader = $("#inProgressEventsTable-header");
			$inProgressEventsTableHeader.find("div.search").remove();
			setBootgridTitle($inProgressEventsTableHeader, $("#inProgressEventsTable-title"));
			setBootgridTitles($inProgressEventsTable, [
				{id: "playerCount", title: "Players"},
				{id: "participation", title: "[[#{event.participation.title}]]"},
				{id: "strength", title: "[[#{event.strength.title}]]"},
				{id: "averageEloRating", title: "[[#{event.averageEloRating.title}]]"}
			]);
			bindPopovers();
		});
	</script>
</head>
<body class="container">
	<header th:include="fragments/header :: title"></header>
	<h3 id="inProgressEventsTable-title" class="grid-title">Tournament Event Forecasts</h3>
	<table id="inProgressEventsTable" class="table table-condensed table-hover table-striped">
		<thead>
		<tr>
			<th data-column-id="date" data-formatter="date" data-order="desc" data-visible="false" data-width="85">Date</th>
			<th data-column-id="name" data-formatter="event" data-width="200">Tournament</th>
			<th data-column-id="surface" data-formatter="surface" data-width="80">Surface</th>
			<th data-column-id="draw" data-width="65">Draw</th>
			<th data-column-id="playerCount" data-type="numeric" data-width="55" data-align="right" data-header-align="right">Pls.</th>
			<th data-column-id="participation" data-formatter="participation" data-width="60" data-align="right" data-header-align="right">Part.</th>
			<th data-column-id="strength" data-type="numeric" data-width="50" data-align="right" data-header-align="right">Str.</th>
			<th data-column-id="averageEloRating" data-type="numeric" data-width="50" data-align="right" data-header-align="right">Elo</th>
			<th data-column-id="favorite1" data-formatter="favorite1" data-sortable="false" data-width="220">1-st Favorite</th>
			<th data-column-id="favorite2" data-formatter="favorite2" data-sortable="false" data-width="220">2-nd Favorite</th>
			<th data-column-id="forecast" data-formatter="forecast" data-sortable="false" data-width="95">Forecast</th>
		</tr>
		</thead>
	</table>
	<br/>
	<div th:include="fragments/aboutForecast :: aboutForecast"></div>
	<th:block th:include="fragments/deviceDetector :: deviceDetectors"/>
	<footer th:include="fragments/footer :: copy"></footer>
</body>
</html>