<th:block xmlns:th="http://www.thymeleaf.org">
	<!--/*@thymesVar id="inProgressEvent" type="org.strangeforest.tcb.stats.model.forecast.InProgressEvent"*/-->
	<!--/*@thymesVar id="results" type="org.strangeforest.tcb.stats.model.TournamentEventResults"*/-->
	<!--/*@thymesVar id="players" type="java.util.List<org.strangeforest.tcb.stats.model.MatchPlayer>"*/-->
	<!--/*@thymesVar id="playerId" type="java.lang.Integer"*/-->
	<!--/*@thymesVar id="priceFormat" type="org.strangeforest.tcb.stats.model.price.PriceFormat"*/-->
	<th:block th:unless="${results.isEmpty()}">
		<script type="text/javascript">
			$(function() {
				$("[data-toggle='tooltip']").tooltip();
			});
			function reloadProbableMatches() {
				var url = "/inProgressEventProbableMatches?inProgressEventId=[(${inProgressEvent.id + (priceFormat != null ? '&priceFormat=' + priceFormat : '')})]";
				var playerId = $("#pinnedPlayer").val();
				if (playerId) url += "&playerId=" + playerId;
				$("#probable").load(url);
			}
		</script>
		<br/>
		<div class="row">
			<div class="col-md-6">
				<div class="input-group">
					<label for="pinnedPlayer" class="input-group-addon" data-toggle="tooltip" data-placement="top" title="Choose player to pin, in order to see player's most probable rivals in the next rounds">Pinned player:</label>
					<select id="pinnedPlayer" class="form-control" onchange="reloadProbableMatches()">
						<option value=""></option>
						<option th:each="player : ${players}" th:with="seedAndEntry=${player.seedAndEntry()}" th:value="${player.id}" th:text="${(seedAndEntry != '' ? ('(' + seedAndEntry + ') ') : '') + player.name + ' (' + player.country.id + ')'}" th:selected="${player.id == playerId}">(1) Roger Federer (SUI)</option>
					</select>
				</div>
			</div>
		</div>
		<br/>
		<div th:include="fragments/eventResults :: eventResults('Prob', -1, true)"></div>
		<br/>
		<p>
			<em>+ Probable matches are determined by player pairs that are most probable to meet in the some round based on the draw, current tournament results and predictions for future results</em><br/>
			<em>++ Probabilities and odds in the probable matchup box represent probabilities for one player to win over the other, but only if the matchup really happens</em>
		</p>
	</th:block>
	<th:block th:if="${results.isEmpty()}">
		<br/>
		<div class="alert alert-warning">No probable matchups found</div>
	</th:block>
</th:block>