<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:with="inProgressEvent=${forecast.event}">
<!--/*@thymesVar id="inProgressEventId" type="java.lang.Integer"*/-->
<!--/*@thymesVar id="tab" type="java.lang.String"*/-->
<!--/*@thymesVar id="forecast" type="org.strangeforest.tcb.stats.model.InProgressEventForecast"*/-->
<!--/*@thymesVar id="levels" type="java.util.Map"*/-->
<!--/*@thymesVar id="surfaces" type="java.util.Map"*/-->
<!--/*@thymesVar id="priceFormats" type="org.strangeforest.tcb.stats.model.prediction.PriceFormat[]"*/-->
<!--/*@thymesVar id="priceFormat" type="org.strangeforest.tcb.stats.model.prediction.PriceFormat"*/-->
<head th:replace="fragments/head :: commonHead(${inProgressEvent.name} + ' Forecast', false, ~{::script}, ~{::style})">
	<script type="text/javascript" th:inline="javascript">
		$(function() {
			decorateSurface("#eventSurface");
			$("#inProgressEventPills").find("a").click(tabClick);
			[# th:if="${tab}"] $("#[(${tab})]Pill").click(); [/]
			bindPopovers();
			loadRankingTopN("POINTS", 20);
		});
		function priceFormatChanged() {
			var url = "/inProgressEventForecast?inProgressEventId=[(${inProgressEventId})]";
			var priceFormat = $("#priceFormat").val();
			if (priceFormat)
				url += "&priceFormat=" + priceFormat;
			window.location = url + "&tab=" + $("#inProgressEventPills li.active a").attr("href").substr(1);
		}
	</script>
	<style>
		table.forecast-table {
			width: auto;
		}
		table.forecast-table > thead > tr > th {
			height: 24px;
			vertical-align: middle;
			padding: 4px 5px;
		}
		table.forecast-table > tbody > tr > td {
			height: 24px;
			vertical-align: middle;
			padding: 1px 5px;
		}
		th.player-rank {
			text-align: right;
			color: #777777;
		}
		td.player-rank {
			text-align: right;
			color: #999999;
		}
		td.player-h2h {
			width: 20px;
			line-height: 1.0 !important;
			text-align: center;
			background-color: #e0f0ff;
			padding: 0 !important;
		}
		td.player-h2h:hover {
			background-color: #c0e0ff;
		}
		a.player-h2h {
			display: block;
			text-decoration: none;
		}
		td.player-noh2h {
			width: 20px;
		}
	</style>
</head>
<body class="container">
	<header th:include="fragments/header :: title"></header>
	<h3>[[${inProgressEvent.name}]] Forecast</h3>
	<div class="row">
		<div class="col-md-3">
			<table class="table table-condensed text-nowrap">
				<tr>
					<th>Level</th>
					<td><span class="label label-" th:attrappend="class=${inProgressEvent.level}" th:text="${levels[inProgressEvent.level]}">Grand Slam</span></td>
				</tr>
				<tr>
					<th>Surface</th>
					<td><span id="eventSurface" th:if="${inProgressEvent.surface}" class="label" th:data-surface="${inProgressEvent.surface}" th:text="${(inProgressEvent.indoor ? 'Indoor ' : '') + surfaces[inProgressEvent.surface]}">Hard</span></td>
				</tr>
				<tr>
					<th>Date</th>
					<td th:text="${#dates.format(inProgressEvent.date, 'dd-MM-yyyy')}">1-1-2017</td>
				</tr>
				<tr>
					<th>Draw</th>
					<td th:text="${inProgressEvent.draw}">KO 128</td>
				</tr>
			</table>
		</div>
		<div class="col-md-3">
			<table class="table table-condensed text-nowrap">
				<tr>
					<th>Players</th>
					<td th:text="${inProgressEvent.playerCount}">128</td>
				</tr>
				<tr th:title="#{event.participation.title}">
					<th>Participation</th>
					<td th:text="${#numbers.formatDecimal(100 * inProgressEvent.participation, 1, 1) + '%'}">67.3%</td>
				</tr>
				<tr th:title="#{event.strength.title}">
					<th>Strength</th>
					<td th:text="${inProgressEvent.strength}">1232</td>
				</tr>
				<tr th:title="#{event.averageEloRating.title}">
					<th>Average Elo Rating</th>
					<td th:text="${inProgressEvent.averageEloRating}">1954</td>
				</tr>
			</table>
		</div>
		<div class="col-md-4">
			<table class="table table-condensed text-nowrap">
				<tr th:if="${inProgressEvent.favorite1}">
					<th title="1-st Favorite">1-st Fav.</th>
					<td th:with="player=${inProgressEvent.favorite1}">
						<img th:src="@{/images/flags/{code}.png(code=${player.country.code})}" src="/images/flags/ch.png'" th:title="${player.country.id}" title="SUI" width="24" height="20"/>
						<a th:href="@{/playerProfile(playerId=${player.playerId})}" th:text="${player.name}" title="Show profile">Roger Federer</a>
						<span th:text="${#numbers.formatDecimal(100 * player.probability, 1, 1)} + '%'" th:title="${priceFormat != null ? 'Odds ' + player.getPrice(priceFormat) : _}">Roger Federer 45.3%</span>
					</td>
				</tr>
				<tr th:if="${inProgressEvent.favorite2}">
					<th title="2-nd Favorite">2-nd Fav.</th>
					<td th:with="player=${inProgressEvent.favorite2}">
						<img th:src="@{/images/flags/{code}.png(code=${player.country.code})}" src="/images/flags/ch.png'" th:title="${player.country.id}" title="SUI" width="24" height="20"/>
						<a th:href="@{/playerProfile(playerId=${player.playerId})}" th:text="${player.name}" title="Show profile">Roger Federer</a>
						<span th:text="${#numbers.formatDecimal(100 * player.probability, 1, 1)} + '%'" th:title="${priceFormat != null ? 'Odds ' + player.getPrice(priceFormat) : _}">Roger Federer 45.3%</span>
					</td>
				</tr>
				<tr th:if="${inProgressEvent.favorite3}">
					<th title="3-rd Favorite">3-rd Fav.</th>
					<td th:with="player=${inProgressEvent.favorite3}">
						<img th:src="@{/images/flags/{code}.png(code=${player.country.code})}" src="/images/flags/ch.png'" th:title="${player.country.id}" title="SUI" width="24" height="20"/>
						<a th:href="@{/playerProfile(playerId=${player.playerId})}" th:text="${player.name}" title="Show profile">Roger Federer</a>
						<span th:text="${#numbers.formatDecimal(100 * player.probability, 1, 1)} + '%'" th:title="${priceFormat != null ? 'Odds ' + player.getPrice(priceFormat) : _}">Roger Federer 45.3%</span>
					</td>
				</tr>
				<tr th:if="${inProgressEvent.favorite4}">
					<th title="4-th Favorite">4-th Fav.</th>
					<td th:with="player=${inProgressEvent.favorite4}">
						<img th:src="@{/images/flags/{code}.png(code=${player.country.code})}" src="/images/flags/ch.png'" th:title="${player.country.id}" title="SUI" width="24" height="20"/>
						<a th:href="@{/playerProfile(playerId=${player.playerId})}" th:text="${player.name}" title="Show profile">Roger Federer</a>
						<span th:text="${#numbers.formatDecimal(100 * player.probability, 1, 1)} + '%'" th:title="${priceFormat != null ? 'Odds ' + player.getPrice(priceFormat) : _}">Roger Federer 45.3%</span>
					</td>
				</tr>
			</table>
		</div>
		<div class="col-md-2">
			<table class="table table-condensed text-nowrap">
				<tr>
					<th>
						<a role="button" th:href="@{/tournament(tournamentId=${inProgressEvent.tournamentId})}" class="btn btn-info btn-sm" data-toggle="tooltip" data-placement="top" title="Tournament history">
							<span class="glyphicon glyphicon-calendar"></span>&nbsp;&nbsp;History
						</a>
					</th>
				</tr>
				<tr><td>&nbsp;</td></tr>
				<tr>
					<td>
						<label for="priceFormat" title="Choose odds format">Odds:</label>
						<select id="priceFormat" class="" onchange="priceFormatChanged()">
							<option value="">None</option>
							<option th:each="aPriceFormat : ${priceFormats}" th:value="${aPriceFormat}" value="DECIMAL" th:text="${aPriceFormat.text}" th:selected="${aPriceFormat == priceFormat}">Decimal</option>
						</select>
					</td>
				</tr>
			</table>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-10 col-md-9">
			<ul id="inProgressEventPills" class="nav nav-pills">
				<li><a id="resultsPill" data-toggle="pill" href="#results" th:data-url="'/inProgressEventResults?inProgressEventId=' + ${inProgressEvent.id}">Completed</a></li>
				<li th:each="baseResult : ${forecast.baseResults}" th:class="${baseResultStat.last ? 'active' : _}">
					<a th:id="'baseResult' + ${baseResult} + 'Pill'" data-toggle="pill" th:href="'#baseResult' + ${baseResult}" th:text="${baseResult}">W</a>
				</li>
				<li><a id="probablePill" data-toggle="pill" href="#probable" th:data-url="'/inProgressEventProbableMatches?inProgressEventId=' + ${inProgressEvent.id} + ${priceFormat != null ? '&priceFormat=' + priceFormat : ''}">Probable Matchups</a></li>
				<li><a id="favoritesPill" data-toggle="pill" href="#favorites" th:data-url="'/inProgressEventFavorites?inProgressEventId=' + ${inProgressEvent.id} + ${priceFormat != null ? '&priceFormat=' + priceFormat : ''}">Favorites<sup class="new-feature">&nbsp;New!</sup></a></li>
			</ul>
			<div class="tab-content">
				<div id="results" class="tab-pane fade"><div class="loading"></div></div>
				<div th:each="baseResult : ${forecast.baseResults}" th:id="'baseResult' + ${baseResult}" th:with="playersForecast=${forecast.getPlayersForecast(baseResult)}, prevPlayersForecast=${forecast.getPrevPlayersForecast(baseResult)}" class="tab-pane fade" th:attrappend="class=${baseResultStat.last ? ' in active' : _}">
					<br/>
					<table class="table table-condensed table-hover text-nowrap forecast-table" th:with="resultCount=${playersForecast.results.size() + (priceFormat != null ? 1 : 0)}, entryCount=${playersForecast.playerForecasts.size()}">
						<th:block th:each="playerForecast : ${playersForecast.playerForecasts}">
						<thead th:if="${playerForecastStat.index % 8 == 0}">
							<th:block th:if="${entryCount == 32}" th:with="halfIndex=${2 * playerForecastStat.index / entryCount}">
								<tr th:if="${playerForecastStat.index == halfIndex * entryCount / 2}" th:with="drawSection=${halfIndex == 0 ? 'Top Half' : 'Bottom Half'}">
									<th colspan="2" th:text="${drawSection}">Top Half</th>
									<th class="text-right" th:text="${#numbers.formatDecimal(playersForecast.getStrength(playerForecastStat.index, entryCount / 2), 1, 1)} + '%'" th:title="${drawSection} + ' strength'">25.4%</th>
									<th th:colspan="${3 + resultCount}">&nbsp;</th>
								</tr>
							</th:block>
							<th:block th:if="${entryCount >= 64}" th:with="quarterIndex=${4 * playerForecastStat.index / entryCount}">
							<tr th:if="${playerForecastStat.index == quarterIndex * entryCount / 4}" th:with="drawSection=${quarterIndex == 0 ? '1-st Quarter' : (quarterIndex == 1 ? '2-nd Quarter' : (quarterIndex == 2 ? '3-rd Quarter' : '4-th Quarter'))}">
								<th colspan="2" th:text="${drawSection}">First Half</th>
								<th class="text-right" th:text="${#numbers.formatDecimal(playersForecast.getStrength(playerForecastStat.index, entryCount / 4), 1, 1)} + '%'" th:title="${drawSection} + ' strength'">25.4%</th>
								<th th:colspan="${3 + resultCount}">&nbsp;</th>
							</tr>
							</th:block>
							<tr>
								<th class="text-right" title="Seed/Entry">S/E</th>
								<th th:colspan="${entryCount >= 16 ? 1 : 2}">Player</th>
								<th th:if="${entryCount >= 16}" class="text-right" th:text="${#numbers.formatDecimal(playersForecast.getStrength(playerForecastStat.index, 8), 1, 1)} + '%'" title="Draw section strength">25.4%</th>
								<th class="player-rank hidden-xs">Rank</th>
								<th class="player-rank hidden-xs">Elo</th>
								<th></th>
								<th th:each="result : ${playersForecast.results}" class="text-center" th:text="${result}">W</th>
								<th th:if="${priceFormat}" class="text-right" title="Tournament winning odds">Odds</th>
							</tr>
						</thead>
						<tr th:with="otherPlayer=${playersForecast.getOtherPlayer(playerForecastStat.index)}, current=${baseResult == 'Current'}, showH2H=${playerForecast != null && playerForecast.known && otherPlayer != null && otherPlayer.known}">
							<td class="text-right" th:text="${playerForecast.seedAndEntry()}">1</td>
							<th:block th:if="${playerForecast.known}">
							<td colspan="2">
								<img th:src="@{/images/flags/{code}.png(code=${playerForecast.country.code})}" src="/images/flags/ch.png'" th:title="${playerForecast.country.id}" title="SUI" width="24" height="20"/>
								<a th:href="@{/playerProfile(playerId=${playerForecast.id})}" th:text="${playerForecast.name}" style="vertical-align: middle" title="Show profile">Roger Federer</a>
							</td>
							<td th:text="${playerForecast.rank}" class="player-rank hidden-xs">1</td>
							<td th:with="playerForecastForElo=${(current || prevPlayersForecast == null ? playersForecast : prevPlayersForecast).getPlayerForecast(playerForecast.id)}, eloRatingDelta=${prevPlayersForecast != null ? playerForecastForElo.eloRatingDelta : null}" class="player-rank hidden-xs"><span th:if="${eloRatingDelta}" class="small">(<span th:if="${eloRatingDelta > 0}" class="positive">+[(${eloRatingDelta})]</span><span th:if="${eloRatingDelta < 0}" class="negative">[(${eloRatingDelta})]</span>) </span>[(${baseResultStat.first ? playerForecastForElo.eloRating : playerForecastForElo.nextEloRating})]</td>
							</th:block>
							<th:block th:if="${playerForecast.bye}">
							<td colspan="2">Bye</td>
							<td colspan="2" class="hidden-xs"></td>
							</th:block>
							<th:block th:if="${playerForecast.qualifier}">
							<td colspan="2">Qualifier</td>
							<td colspan="2" class="hidden-xs"></td>
							</th:block>
							<td th:if="${playerForecastStat.odd && showH2H}" rowspan="2" class="player-h2h">
								<a th:href="@{/headToHead(playerId1=${playerForecast.id}, playerId2=${otherPlayer.id}, tab=hypotheticalMatchup, level=${inProgressEvent.level}, surface=${inProgressEvent.surface}, round=${current ? forecast.maxResult : baseResult})}" class="player-h2h" title="Show Head-to-Head Hypothetical Matchup">H<br/>2<br/>H</a>
							</td>
							<td th:unless="${showH2H}" class="player-noh2h"></td>
							<td th:each="result : ${playersForecast.results}" th:with="probability=${playerForecast.getProbability(result)}" class="text-right" th:text="${probability != null ? #numbers.formatDecimal(probability, 1, 1) + '%' : _}" th:title="${priceFormat != null ? 'Odds ' + playerForecast.getPrice(result, priceFormat) : _}">58.2%</td>
							<td th:if="${priceFormat}" class="text-right" th:text="${playerForecast.getPrice('W', priceFormat)}">6.25</td>
						</tr>
						<thead th:if="${playerForecastStat.index % 8 == 7 && !playerForecastStat.last}">
							<tr><td th:colspan="${6 + resultCount}">&nbsp;</td></tr>
						</thead>
						</th:block>
					</table>
				</div>
				<div id="probable" class="tab-pane fade"><div class="loading"></div></div>
				<div id="favorites" class="tab-pane fade"><div class="loading"></div></div>
			</div>
			<br/>
			<div th:include="fragments/aboutForecast :: aboutForecast"></div>
		</div>
		<div class="col-lg-2 col-md-3">
			<div id="rankingTopN"></div>
		</div>
	</div>
	<th:block th:include="fragments/deviceDetector :: deviceDetectors"/>
	<footer th:include="fragments/footer :: copy"></footer>
</body>
</html>