<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: commonHead(~{::title/text()}, true, ~{::script}, _)">
	<title>Tournament Event Forecasts</title>
	<script type="text/javascript">
		$(function() {
			var $inProgressEventsTable = $("#inProgressEventsTable");
			var device = detectDevice();
			setBootgridColumnsVisible($inProgressEventsTable, ["playerCount", "participationPoints"], deviceGreaterOrEqual(device, "lg"));
			setBootgridColumnsVisible($inProgressEventsTable, ["favorite1"], deviceGreaterOrEqual(device, "sm"));
			setBootgridColumnsVisible($inProgressEventsTable, ["favorite2"], deviceGreaterOrEqual(device, "md"));
			if (deviceGreaterOrEqual("md", device))
				setBootgridColumnsWidths($inProgressEventsTable, ["name"], [175]);
			$inProgressEventsTable.bootgrid({
				ajax: true,
				ajaxSettings: {
					method: "GET",
					cache: false
				},
				url: "/inProgressEventsTable",
				rowCount: [-1],
				navigation: 0,
				sorting: false,
				formatters: {
					"event": function(column, row) {
						return "<a href='/inProgressEventForecast?inProgressEventId=" + row.id + "' class='label label-" + row.level + "' title='Show full forecast'>" + row.name + "</a>";
					},
					"surface": surfaceFormatter,
					"participationPct": participationFormatter,
					"favorite1":  function(column, row) {
						return formatFavorite(column, row.favorite1);
					},
					"favorite2":  function(column, row) {
						return formatFavorite(column, row.favorite2);
					},
					"forecast": function(column, row) {
						return "<a href='/inProgressEventForecast?inProgressEventId=" + row.id + "' class='label label-primary label-btn' title='Show full forecast'><span class='glyphicon glyphicon-eye-open'></span>&nbsp;&nbsp;Forecast</a>";
					}
				},
				labels: {
					loading: bootgridTemplateLoading,
					noResults: "No in-progress tournaments found"
				},
				templates: {
					paginationItem: bootgridTemplatePaginationItem
				}
			});
			setBootgridTitles($inProgressEventsTable, [
				{id: "playerCount", title: "Players"},
				{id: "participationPoints", title: "[[#{events.participationPoints.title}]]"},
				{id: "participationPct", title: "[[#{events.participationPercentage.title}]]"}
			]);
			bindPopovers();
		});
	</script>
</head>
<body class="container">
	<header th:include="fragments/header :: title"></header>
	<h3>Tournament Event Forecasts</h3>
	<table id="inProgressEventsTable" class="table table-condensed table-hover table-striped">
		<thead>
		<tr>
			<th data-column-id="name" data-formatter="event" data-width="200">Tournament</th>
			<th data-column-id="surface" data-formatter="surface" data-width="80">Surface</th>
			<th data-column-id="draw" data-width="65">Draw</th>
			<th data-column-id="playerCount" data-width="55">Pls.</th>
			<th data-column-id="participationPoints" data-type="numeric" data-width="70">P. Pts.</th>
			<th data-column-id="participationPct" data-formatter="participationPct" data-width="70">P. Pct.</th>
			<th data-column-id="favorite1" data-formatter="favorite1" data-width="220">1-st Favorite</th>
			<th data-column-id="favorite2" data-formatter="favorite2" data-width="220">2-nd Favorite</th>
			<th data-column-id="forecast" data-formatter="forecast" data-width="95">Forecast</th>
		</tr>
		</thead>
	</table>
	<br/>
	<div th:include="fragments/aboutForecast :: aboutForecast"></div>
	<th:block th:include="fragments/deviceDetector :: deviceDetectors"/>
	<footer th:include="fragments/footer :: copy"></footer>
</body>
</html>