<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: commonHead(~{::title/text()}, false, ~{::template})">
	<title>Live Scores</title>
	<template>
	<meta name="description" content="Live tennis scores via Livescore.in"/>
	<script th:src="@{/js/livescore.js}"></script>
	<script type="text/javascript" th:inline="javascript">
		$(function() {
			loadRankingTopN("RANK", 20);
		});
	</script>
	<style type="text/css">
		.component-header {
			margin: 0;
		}
	</style>
	</template>
</head>
<body class="container">
	<header th:include="fragments/header :: title"></header>
	<h3><img src="/images/active.png" class="fa-spin" style="vertical-align: 0" width="18" height="18"/> Live Scores via <a href="https://www.livescore.in" title="Livescore.in" target="_blank">Livescore.in</a></h3>
	<div class="row">
		<div class="col-lg-10 col-md-9">
			<iframe id="inscore-xdc-983043" src="https://www.livescore.in/free/983043/" width="624" height="500" frameborder="0" scrolling="no"></iframe>
		</div>
		<div class="col-lg-2 col-md-3">
			<div id="rankingTopN"></div>
		</div>
	</div>
	<footer th:include="fragments/footer :: copy"></footer>
</body>
</html>