<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="maintenanceMessage" type="java.lang.String>"*/-->
<head th:replace="fragments/head :: commonHead(null, false, _)"></head>
<body class="container">
	<br/>
	<h4 class="text-nowrap"><a href="/"><th:block th:include="fragments/promotion :: logo"/></a> - Down for Maintenance</h4>
	<p>Ultimate Tennis Statistics is down for maintenance and will be back soon.</p>
	<p th:text="${maintenanceMessage}">Maintenance message</p>
	<p>Please <a href="/">try again</a> later.</p>
	<img src="/images/maintenance.jpg" width="700" height="422" alt="Down for maintenance"/>
	<br/>
	<footer th:include="fragments/footer :: copy"></footer>
</body>
</html>