<div th:id="'matchStatsPopover-' + ${matchId}" xmlns:th="http://www.thymeleaf.org">
	<!--/*@thymesVar id="matchId" type="java.lang.Long"*/-->
	<!--/*@thymesVar id="categoryGroups" type="java.util.List<org.strangeforest.tcb.stats.model.core.StatsCategory.CategoryGroup>"*/-->
	<!--/*@thymesVar id="tab" type="java.lang.String"*/-->
	<!--/*@thymesVar id="matchStats" type="org.strangeforest.tcb.stats.model.MatchStats"*/-->
	<!--/*@thymesVar id="compare" type="java.lang.Boolean"*/-->
	<!--/*@thymesVar id="winnerCompareStats" type="org.strangeforest.tcb.stats.model.PlayerStats"*/-->
	<!--/*@thymesVar id="loserCompareStats" type="org.strangeforest.tcb.stats.model.PlayerStats"*/-->
	<!--/*@thymesVar id="match" type="org.strangeforest.tcb.stats.model.MatchInfo"*/-->
	<!--/*@thymesVar id="matchLevel" type="java.lang.String"*/-->
	<!--/*@thymesVar id="matchSurface" type="java.lang.String"*/-->
	<!--/*@thymesVar id="matchRound" type="java.lang.String"*/-->
	<!--/*@thymesVar id="compareSeason" type="java.lang.Boolean"*/-->
	<!--/*@thymesVar id="compareLevel" type="java.lang.Boolean"*/-->
	<!--/*@thymesVar id="compareSurface" type="java.lang.Boolean"*/-->
	<!--/*@thymesVar id="compareRound" type="java.lang.Boolean"*/-->
	<!--/*@thymesVar id="compareOpponent" type="java.lang.Boolean"*/-->
	<!--/*@thymesVar id="winnerRelativeTo" type="java.lang.String"*/-->
	<!--/*@thymesVar id="loserRelativeTo" type="java.lang.String"*/-->
	<script type="text/javascript">
		$(function() {
			var $matchStatsPopover = $("#matchStatsPopover-[(${matchId})]");
			$matchStatsPopover.find(".raw-data").hide();
			$matchStatsPopover.find(".nav-tabs a").click(function() {
				$(this).tab("show");
			});
			$("[data-toggle='tooltip']").tooltip();
		});
	</script>
	<th:block th:if="${matchStats}" th:with="hasPointStats=${matchStats.hasPointStats()}, winnerHasPointCompareStats=${winnerCompareStats != null && winnerCompareStats.hasPointStats()}, loserHasPointCompareStats=${loserCompareStats != null && loserCompareStats.hasPointStats()}">
	<div class="row">
		<div class="col-xs-5 text-left"><b th:text="${matchStats.winner}">Roger Federer</b></div>
		<div class="col-xs-2 text-center"><b>vs</b></div>
		<div class="col-xs-5 text-right"><b th:text="${matchStats.loser}">Rafael Nadal</b></div>
	</div>
	<ul th:id="|matchStats-${matchId}Tabs|" class="nav nav-tabs" style="text-align: center; margin-top: 10px">
		<li th:each="group : ${categoryGroups}" th:if="${hasPointStats || !group.needsStats}" th:class="${('matchStats-' + matchId + group.id == tab) || (tab == null && group.default) ? 'active' : _}" style="float:none; display:inline-block"><a data-toggle="tab" th:href="'#' + ${'matchStats-' + matchId + group.id}" th:text="${group.name}">Overview</a></li>
	</ul>
	<div class="tab-content">
		<div th:each="group : ${categoryGroups}" th:if="${hasPointStats || !group.needsStats}" th:id="${'matchStats-' + matchId + group.id}" class="tab-pane fade" th:attrappend="class=${('matchStats-' + matchId + group.id == tab) || (tab == null && group.default) ? ' in active' : _}">
			<table class="table table-condensed table-hover table-striped text-nowrap" th:with="winnerStats=${matchStats.winnerStats}, loserStats=${matchStats.loserStats}">
				<th:block th:each="subGroup : ${group.subGroups}" th:if="${hasPointStats || !subGroup.needsStats}" th:with="time=${subGroup.name == 'Time'}">
				<tr>
					<th:block th:if="${compare}">
						<th class="pct-data text-right" th:title="|${winnerRelativeTo} statistics|"><i th:unless="${time}" class="fa fa-thumb-tack"></i></th>
						<th class="pct-data text-right" title="Statistics difference"><i th:unless="${time}" class="fa fa-exchange"></i></th>
						<th class="pct-data text-right" title="Match statistics"><i th:unless="${time}" class="fa fa-percent"></i></th>
					</th:block>
					<th th:unless="${compare}" class="pct-data text-right"><i th:unless="${time}" class="fa fa-percent"></i></th>
					<th class="raw-data text-right"><i class="fa fa-hashtag"></i></th>
					<th th:text="${subGroup.name}" class="text-center">Serve</th>
					<th:block th:if="${compare}">
						<th class="pct-data text-left" title="Match statistics"><i class="fa fa-percent"></i></th>
						<th class="pct-data text-left" title="Statistics difference"><i class="fa fa-exchange"></i></th>
						<th class="pct-data text-left" th:title="|${loserRelativeTo} statistics|"><i class="fa fa-thumb-tack"></i></th>
					</th:block>
					<th th:unless="${compare}" class="pct-data text-left"><i class="fa fa-percent"></i></th>
					<th class="raw-data text-left"><i class="fa fa-hashtag"></i></th>
				</tr>
				<tr th:each="category : ${subGroup.categories}" th:if="${hasPointStats || !category.needsStats}">
					<th th:if="${winnerCompareStats}" th:text="${!category.time && (winnerHasPointCompareStats || !category.needsStats) ? category.getStatFormatted(winnerCompareStats) : _}" class="pct-data text-right">10%</th>
					<th th:if="${winnerCompareStats}" th:text="${!category.time && (winnerHasPointCompareStats || !category.needsStats) ? category.getStatDiffFormatted(winnerCompareStats, winnerStats) : _}" class="pct-data text-right " th:attrappend="class=${category.getStatDiffClass(winnerCompareStats, winnerStats)}">0%</th>
					<th th:text="${!category.time ? category.getStatFormatted(winnerStats) : _}" class="text-right" th:attrappend="class=${category.hasRawData() ? ' pct-data' : _}">10%</th>
					<th th:if="${category.hasRawData()}" th:text="${category.getStatUp(winnerStats) + ' / ' + category.getStatDown(winnerStats)}" class="raw-data text-right">10 / 100</th>
					<td th:title="#{${category.descriptionId}}" th:text="${category.title}" class="text-center">Ace %</td>
					<th th:if="${category.hasRawData()}" th:text="${category.getStatUp(loserStats) + ' / ' + category.getStatDown(loserStats)}" class="raw-data text-left">10 / 100</th>
					<th th:text="${category.getStatFormatted(loserStats)}" class="text-left" th:attrappend="class=${category.hasRawData() ? ' pct-data' : _}">10%</th>
					<th th:if="${loserCompareStats}" th:text="${loserHasPointCompareStats || !category.needsStats ? category.getStatDiffFormatted(loserCompareStats, loserStats) : _}" class="pct-data text-left " th:attrappend="class=${category.getStatDiffClass(loserCompareStats, loserStats)}">0%</th>
					<th th:if="${loserCompareStats}" th:text="${loserHasPointCompareStats || !category.needsStats ? category.getStatFormatted(loserCompareStats) : _}" class="pct-data text-left">10%</th>
				</tr>
				</th:block>
			</table>
		</div>
	</div>
	</th:block>
	<th:block th:unless="${matchStats}"><p>No statistics available</p></th:block>
	<div class="row">
		<div th:if="${matchStats}" class="col-md-8 text-nowrap">
			<button class="pct-data btn btn-default btn-xs" th:onclick="|toggleStatsData('#matchStatsPopover-${matchId}')|" title="Show raw data"><i class="fa fa-hashtag"></i>&nbsp;&nbsp;Raw Data</button>
			<button class="raw-data btn btn-default btn-xs" th:onclick="|toggleStatsData('#matchStatsPopover-${matchId}')|" title="Show percentage data"><i class="fa fa-percent"></i>&nbsp;&nbsp;Pct. Data</button>
			&nbsp;&nbsp;<button class="btn btn-default btn-xs" th:onclick="|compareMatchStats(${matchId}, ${compare})|" title="Compare statistics"><i class="fa fa-balance-scale" style="font-size: 110%"></i>&nbsp;&nbsp;Compare</button>
		</div>
		<div class="col-md-4">
			<button class="btn btn-default btn-xs pull-right" th:onclick="|$('#matchStats-${matchId}').click()|"><i class="fa fa-close fa-b"></i>&nbsp;&nbsp;Close</button>
		</div>
	</div>
	<style scoped="scoped">
		.next-control {
			margin-left: 15px;
		}
	</style>
	<div th:if="${compare}">
		<div class="pull-left">
			<div class="checkbox">
				<label data-toggle="tooltip" data-placement="top" th:title="|Compare with ${match.season} statistics|">
					<input th:id="|matchStats-${matchId}CompareSeason|" type="checkbox" th:checked="${compareSeason}" th:onchange="|compareMatchStats(${matchId})|"/> [[${match.season}]]
				</label>
			</div>
		</div>
		<div class="pull-left next-control">
			<div class="checkbox">
				<label data-toggle="tooltip" data-placement="top" th:title="|Compare with ${matchLevel} statistics|">
					<input th:id="|matchStats-${matchId}CompareLevel|" type="checkbox" th:checked="${compareLevel}" th:onchange="|compareMatchStats(${matchId})|"/> [[${matchLevel}]]
				</label>
			</div>
		</div>
		<div th:if="${matchSurface}" class="pull-left next-control">
			<div class="checkbox">
				<label data-toggle="tooltip" data-placement="top" th:title="|Compare with ${matchSurface} statistics|">
					<input th:id="|matchStats-${matchId}CompareSurface|" type="checkbox" th:checked="${compareSurface}" th:onchange="|compareMatchStats(${matchId})|"/> [[${matchSurface}]]
				</label>
			</div>
		</div>
		<div class="pull-left next-control">
			<div class="checkbox">
				<label data-toggle="tooltip" data-placement="top" th:title="|Compare with ${matchRound} statistics|">
					<input th:id="|matchStats-${matchId}CompareRound|" type="checkbox" th:checked="${compareRound}" th:onchange="|compareMatchStats(${matchId})|"/> [[${matchRound}]]
				</label>
			</div>
		</div>
		<div class="pull-left next-control">
			<div class="checkbox">
				<label data-toggle="tooltip" data-placement="top" title="Compare with opponent statistics">
					<input th:id="|matchStats-${matchId}CompareOpponent|" type="checkbox" th:checked="${compareOpponent}" th:onchange="|compareMatchStats(${matchId})|"/> Opponent
				</label>
			</div>
		</div>
	</div>
</div>