<br/>
<th:block xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="playerId" type="java.lang.Integer"*/-->
<!--/*@thymesVar id="timeline" type="org.strangeforest.tcb.stats.model.PlayerTimeline"*/-->
<!--/*@thymesVar id="rankTypes" type="org.strangeforest.tcb.stats.model.core.RankType[]"*/-->
<script type="text/javascript">
	$(function() {
		// Tournaments
		var $tournamentsBody = $("#bigTournamentsBody, #otherTournamentsBody");
		$tournamentsBody.find("div.surface").each(function() {
			var $surface = $(this);
			var surface = $surface.text();
			var indoor = $surface.data("indoor");
			var multi = $surface.siblings().length > 0;
			$surface.html((multi ? surfaceShortName(surface) : surfaceName(surface)) + (surface !== 'P' && indoor ? " <span title='Indoor'>(i)</span>" : ""));
			$surface.addClass("label-" + surfaceClassSuffix(surface));
			if (multi)
				$surface.tooltip({title: formatSurface(surface, indoor), html: true});
		});
		$tournamentsBody.find("a.tournament").each(function() {
			var $tournament = $(this);
			var level = $tournament.data("level");
			$tournament.addClass("label-" + level);
			$tournament.attr("title", levelName(level));
		});
		$tournamentsBody.find("a[data-level], a[data-surface]").each(function() {
			var $result = $(this);
			var level = $result.data("level");
			var surface = $result.data("surface");
			var indoor = $result.data("indoor");
			var title = "";
			if (level)
				title += "<span class='label label-" + level + "'>" + levelName(level) + "</span>";
			if (surface) {
				if (level)
					title += " ";
				title += formatSurface(surface, indoor);
			}
			$result.tooltip({title: title, html: true});
		});
		bindTimelineExtraData("ranking", "/playerTimelineRanking");
		bindTimelineExtraData("eloRanking", "/playerTimelineEloRanking");
		bindTimelineExtraData("performance", "/playerTimelinePerformance");
		bindTimelineExtraData("statistics", "/playerTimelineStats", function() { timelineShowStatsGroup("Overview"); });
	});
	function bindTimelineExtraData(elementPrefix, url, onLoad) {
		var $head = $("#" + elementPrefix + "Head");
		$head.find(".raw-data").hide();
		var $body = $("#" + elementPrefix + "Body");
		$body.on("shown.bs.collapse", function () {
			if (!$body.hasClass("loaded")) {
				$($body).load(url + "?playerId=[(${playerId})]&seasons=[[${#strings.listJoin(timeline.seasons, ",")}]]", function () {
					if (onLoad)
						onLoad();
					$body.find(".raw-data").hide();
					$body.addClass("loaded");
				});
			}
			$head.find(".btn-stats").css("display", "inline");
			$("html, body").scrollTop($(document).height() - $(window).height());
		}).on("hidden.bs.collapse", function () {
			$head.find(".btn-stats").hide();
		});
	}
	function reloadEloRankingTimeline() {
		var $body = $("#eloRankingBody");
		var url = "/playerTimelineEloRanking?playerId=[(${playerId})]&seasons=[[${#strings.listJoin(timeline.seasons, ',')}]]";
		var rankType = $("#timelineEloRankingType").val();
		if (rankType) url += "&rankType=" + rankType;
		$($body).load(url, function () {
			var rawData = $("#timelineEloRankingAt:hidden").length > 0;
			$body.find(rawData ? ".pct-data" : ".raw-data").hide();
			$body.addClass("loaded");
		});
		$("#eloRankingHead").find(".btn-stats").css("display", "inline");
	}
	function timelineShowStatsGroup(groupId) {
		var $body = $("#statisticsBody");
		$body.find(".stats-group:not(.stats-group-" + groupId + ")").hide("fast");
		$body.find(".stats-group-" + groupId).show("fast");
	}
</script>
<style th:inline="css">
	[# th:if="${timeline.seasonCount > 21}" th:with="newWidth=${1400 + 42 * (timeline.seasonCount - 21)}"]
	@media (min-width: [(${newWidth + 30})]px) {
		.container {
			width: [(${newWidth})]px;
		}
	}
	[/]
</style>
<style scoped="scoped">
	th.season {
		text-align: center;
	}
	a.season {
		color: white;
	}
	tr.first-row {
		border-top: 3px solid lightgray;
	}
	span.absent {
		color: gray;
	}
</style>
<th:block th:include="fragments/deviceDetector :: largeDeviceRequired('md')"/>
<table id="timelineTable" class="table table-condensed table-hover table-bordered text-nowrap">
	<thead>
	<tr class="bg-primary">
		<th>Tournament</th>
		<th>Surface</th>
		<th th:each="season : ${timeline.seasons}" class="season">
			<a th:href="@{/playerProfile(playerId=${playerId}, tab=season, season=${season})}" th:text="${season}" class="season" title="Show season">2015</a>
		</th>
	</tr>
	</thead>
	<th:block th:unless="${timeline.empty}">
	<tbody id="bigTournamentsBody">
	<tr th:each="tournament : ${timeline.bigTournaments}" th:class="${tournament.firstByLevel ? 'first-row' : ''}">
		<th:block th:include="fragments/playerTournamentTimeline :: playerTournamentTimeline(tournament=${tournament})"/>
	</tr>
	</tbody>
	<thead>
	<tr class="bg-primary">
		<th>Tournament</th>
		<th>Surface</th>
		<th th:each="season : ${timeline.seasons}" class="season">
			<a th:href="@{/playerProfile(playerId=${playerId}, tab=season, season=${season})}" th:text="${season}" class="season" title="Show season">2015</a>
		</th>
	</tr>
	</thead>
	<tbody id="otherTournamentsBody">
	<tr th:each="tournament : ${timeline.otherTournaments}" th:class="${tournament.firstByLevel ? 'first-row' : ''}">
		<th:block th:include="fragments/playerTournamentTimeline :: playerTournamentTimeline(tournament=${tournament})"/>
	</tr>
	</tbody>
	<thead>
	<tr class="bg-primary" style="border-bottom: 3px solid lightgray">
		<th>Timeline</th>
		<th class="text-center">Career</th>
		<th th:each="season : ${timeline.seasons}" class="season">
			<a th:href="@{/playerProfile(playerId=${playerId}, tab=season, season=${season})}" th:text="${season}" class="season" title="Show season">2015</a>
		</th>
	</tr>
	</thead>
	<tbody th:with="titles=${timeline.titles}, entries=${timeline.entries}, yearEndRanks=${timeline.yearEndRanks}, bestEloRatings=${timeline.bestEloRatings}, goatPoints=${timeline.goatPoints}">
		<!-- Titles -->
		<tr th:unless="${titles.empty}">
			<td class="stats-header stats-general">Titles</td>
			<td th:text="${titles.get(null)}" class="stats">25</td>
			<td th:each="season : ${timeline.seasons}" th:text="${titles.get(season)}" class="stats" align="center">5</td>
		</tr>
		<!-- Entries -->
		<tr th:unless="${entries.empty}">
			<td class="stats-header stats-general">Entries</td>
			<td th:text="${entries.get(null)}" class="stats">155</td>
			<td th:each="season : ${timeline.seasons}" th:text="${entries.get(season)}" class="stats" align="center">25</td>
		</tr>
		<!-- Year-end Rank -->
		<tr th:unless="${yearEndRanks.empty}">
			<td class="stats-header stats-general">Year-End Rank</td>
			<td th:text="${yearEndRanks.get(null)}" class="stats">5</td>
			<td th:each="season : ${timeline.seasons}" th:text="${yearEndRanks.get(season)}" class="stats" align="center">5</td>
		</tr>
		<!-- Best Elo Rating -->
		<tr th:unless="${bestEloRatings.empty}">
			<td class="stats-header stats-general">Peak Elo Rating</td>
			<td th:text="${bestEloRatings.get(null)}" class="stats">2350</td>
			<td th:each="season : ${timeline.seasons}" th:text="${bestEloRatings.get(season)}" class="stats" align="center">5</td>
		</tr>
		<!-- GOAT Points -->
		<tr th:unless="${goatPoints.empty}">
			<td class="stats-header stats-general">GOAT Points</td>
			<td th:text="${goatPoints.get(null)}" class="stats">155</td>
			<td th:each="season : ${timeline.seasons}" th:text="${goatPoints.get(season)}" class="stats" align="center">25</td>
		</tr>
	</tbody>
	<thead id="rankingHead">
	<tr class="bg-primary">
		<th>
			<button id="timelineRanking" class="btn btn-info btn-xs" data-toggle="collapse" data-target="#rankingBody" title="Toggle seasons ATP ranking"><i class="fa fa-tasks fa-b"></i>&nbsp;&nbsp;Ranking&nbsp;&nbsp;<i class="fa fa-chevron-down"></i></button>
			<div class="btn-stats" style="display: none">
				<button class="pct-data btn btn-info btn-xs" onclick="toggleStatsData('#rankingHead, #rankingBody')" title="Show ranking at position"><i class="fa fa-at"></i>&nbsp;&nbsp;At Position</button>
				<button class="raw-data btn btn-info btn-xs" onclick="toggleStatsData('#rankingHead, #rankingBody')" title="Show ranking in top N"><i class="fa fa-level-up"></i>&nbsp;&nbsp;In Top N</button>
			</div>
		</th>
		<th class="text-center">Career</th>
		<th th:each="season : ${timeline.seasons}" class="season">
			<a th:href="@{playerProfile(playerId=${playerId}, tab=season, season=${season})}" th:text="${season}" class="season" title="Show season">2015</a>
		</th>
	</tr>
	</thead>
	<tbody id="rankingBody"></tbody>
	<thead id="eloRankingHead">
	<tr class="bg-primary">
		<th>
			<button id="timelineEloRanking" class="btn btn-info btn-xs" data-toggle="collapse" data-target="#eloRankingBody" title="Toggle seasons Elo ranking"><i class="fa fa-tasks fa-b"></i>&nbsp;&nbsp;Elo Ranking&nbsp;&nbsp;<i class="fa fa-chevron-down"></i></button>
			<select id="timelineEloRankingType" class="form-control btn-stats" style="display: none; width: 100px; height: 24px; padding: 2px 5px" onchange="reloadEloRankingTimeline()" data-toggle="tooltip" data-placement="top" title="Select Elo ranking type">
				<option th:each="rankType : ${rankTypes}" th:unless="${rankType.points}" th:value="${rankType}" value="ELO_RATING" th:class="${rankType.surface != null ? 'bg-surface-' + rankType.surface.code : _}" th:text="${rankType.pointsType.shortText}">Overall</option>
			</select>
			<div class="btn-stats" style="display: none">
				<button id="timelineEloRankingAt" class="pct-data btn btn-info btn-xs" onclick="toggleStatsData('#eloRankingHead, #eloRankingBody')" title="Show Elo ranking at position"><i class="fa fa-at"></i>&nbsp;&nbsp;At Position</button>
				<button class="raw-data btn btn-info btn-xs" onclick="toggleStatsData('#eloRankingHead, #eloRankingBody')" title="Show Elo ranking in top N"><i class="fa fa-level-up"></i>&nbsp;&nbsp;In Top N</button>
			</div>
		</th>
		<th class="text-center">Career</th>
		<th th:each="season : ${timeline.seasons}" class="season">
			<a th:href="@{playerProfile(playerId=${playerId}, tab=season, season=${season})}" th:text="${season}" class="season" title="Show season">2015</a>
		</th>
	</tr>
	</thead>
	<tbody id="eloRankingBody"></tbody>
	<thead id="performanceHead">
	<tr class="bg-primary">
		<th>
			<button id="timelinePerf" class="btn btn-info btn-xs" data-toggle="collapse" data-target="#performanceBody" title="Toggle seasons performance"><i class="fa fa-tasks fa-b"></i>&nbsp;&nbsp;Performance&nbsp;&nbsp;<i class="fa fa-chevron-down"></i></button>
			<div class="btn-stats" style="display: none">
				<button class="pct-data btn btn-info btn-xs" onclick="toggleStatsData('#performanceHead, #performanceBody')" title="Show raw data"><i class="fa fa-hashtag"></i>&nbsp;&nbsp;Raw Data</button>
				<button class="raw-data btn btn-info btn-xs" onclick="toggleStatsData('#performanceHead, #performanceBody')" title="Show percentage data"><i class="fa fa-percent"></i>&nbsp;&nbsp;Pct. Data</button>
			</div>
		</th>
		<th class="text-center">Career</th>
		<th th:each="season : ${timeline.seasons}" class="season">
			<a th:href="@{playerProfile(playerId=${playerId}, tab=season, season=${season})}" th:text="${season}" class="season" title="Show season">2015</a>
		</th>
	</tr>
	</thead>
	<tbody id="performanceBody"></tbody>
	<thead id="statisticsHead">
	<tr class="bg-primary">
		<th>
			<button id="timelineStats" class="btn btn-info btn-xs" data-toggle="collapse" data-target="#statisticsBody" title="Toggle seasons statistics"><span class="glyphicon glyphicon-stats"></span>&nbsp;&nbsp;Statistics&nbsp;&nbsp;<i class="fa fa-chevron-down"></i></button>
			<div class="btn-stats" style="display: none">
				<button class="pct-data btn btn-info btn-xs" onclick="toggleStatsData('#statisticsHead, #statisticsBody')" title="Show raw data"><i class="fa fa-hashtag"></i>&nbsp;&nbsp;Raw Data</button>
				<button class="raw-data btn btn-info btn-xs" onclick="toggleStatsData('#statisticsHead, #statisticsBody')" title="Show percentage data"><i class="fa fa-percent"></i>&nbsp;&nbsp;Pct. Data</button>
			</div>
		</th>
		<th class="text-center">Career</th>
		<th th:each="season : ${timeline.seasons}" class="season">
			<a th:href="@{playerProfile(playerId=${playerId}, tab=season, season=${season})}" th:text="${season}" class="season" title="Show season">2015</a>
		</th>
	</tr>
	</thead>
	<tbody id="statisticsBody"></tbody>
	</th:block>
	<tbody th:if="${timeline.empty}">
	<tr>
		<td colspan="2" align="center">No data found</td>
	</tr>
	</tbody>
</table>
</th:block>