<br/>
<th:block xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="playerId" type="java.lang.Integer"*/-->
<!--/*@thymesVar id="playerName" type="java.lang.String"*/-->
<!--/*@thymesVar id="levels" type="java.util.EnumSet<org.strangeforest.tcb.stats.model.core.TournamentLevel>"*/-->
<!--/*@thymesVar id="levelGroups" type="java.util.EnumSet<org.strangeforest.tcb.stats.model.core.TournamentLevelGroup>"*/-->
<!--/*@thymesVar id="surfaces" type="org.strangeforest.tcb.stats.model.core.Surface[]"*/-->
<!--/*@thymesVar id="surfaceGroups" type="org.strangeforest.tcb.stats.model.core.SurfaceGroup[]"*/-->
<!--/*@thymesVar id="results" type="org.strangeforest.tcb.stats.model.core.EventResult[]"*/-->
<!--/*@thymesVar id="categoryClasses" type="java.util.Map<java.lang.String, java.util.List<org.strangeforest.tcb.stats.model.core.StatsCategory>>"*/-->
<script type="text/javascript">
	var lastTournamentsStatsFilter;
	$(function() {
		var $tournamentsTable = $("#tournamentsTable");
		var device = detectDevice();
		setBootgridColumnsWidths($tournamentsTable, ["name"], [device === "xs" ? 150 : 200]);
		$tournamentsTable.bootgrid({
			ajax: true,
			ajaxSettings: {
				method: "GET",
				cache: false
			},
			url: "/playerTournamentsTable?playerId=[(${playerId})]",
			requestHandler: function(request) {
				request.level = $("#tournamentsLevel").val();
				request.surface = $("#tournamentsSurface").val();
				request.result = $("#tournamentsResult").val();
				lastTournamentsStatsFilter = tournamentsStatsFilter();
				if (lastTournamentsStatsFilter.hasFilter()) {
					request.statsCategory = lastTournamentsStatsFilter.category;
					request.statsFrom = lastTournamentsStatsFilter.from;
					request.statsTo = lastTournamentsStatsFilter.to;
				}
				return request;
			},
			rowCount: [15, 25, 50, -1],
			formatters: {
				"tournament": tournamentFormatter,
				"levels": function(column, row) {
					var levels = row.levels;
					var s = "";
					for (var i = 0, count = Math.min(2, levels.length); i < count; i++) {
						if (s !== "") s += " ";
						s += "<a href='/playerProfile?playerId=[(${playerId})]&tab=events&tournamentId=" + row.id + "&level=" + levels[i] + "' class='label label-" + levels[i] + "' title='Show tournament events'>" + levelName(levels[i]) + "</a>";
					}
					return s;
				},
				"surfaces": function(column, row) {
					var surfaces = row.surfaces;
					var multi = surfaces.length > 1;
					var s = "";
					for (var i = 0, count = Math.min(3, surfaces.length); i < count; i++) {
						if (s !== "") s += " ";
						var surface = surfaces[i];
						s += "<a href='/playerProfile?playerId=[(${playerId})]&tab=events&tournamentId=" + row.id + "&surface=" + surface + "' class='label label-" + surfaceClassSuffix(surface) + "' title='Show tournament events'>" + (multi ? surfaceShortName(surface) : surfaceName(surface)) + "</a>";
					}
					return s;
				},
				"eventCount": function(column, row) {
					return "<a href='/playerProfile?playerId=[(${playerId})]&tab=events&tournamentId=" + row.id + "' title='Show tournament events'>" + row.eventCount + "</a>";
				},
				"stats": function(column, row) {
					return "<a id='tournamentStats-" + row.id + "' href='#' class='label label-info label-btn' onclick='showTournamentStats(" + row.id + ", event)' title='[[${playerName}]] " + row.name + " Statistics'><span class='glyphicon glyphicon-stats'></span>&nbsp;&nbsp;Stats</a>";
				}
			},
			labels: {
				loading: bootgridTemplateLoading,
				noResults: "No tournaments found"
			},
			templates: {
				paginationItem: bootgridTemplatePaginationItem
			}
		}).on("load.rs.jquery.bootgrid", function() {
			updateTournamentsStatsCategoryStat();
		}).on("loaded.rs.jquery.bootgrid", function() {
			$("#tournamentsStats").popover("destroy").removeClass("loaded");
		});
		var $tournamentsTableHeader = $("#tournamentsTable-header");
		var $search = $tournamentsTableHeader.find("div.search");
		$search.before($("#tournamentsStats").remove());
		$search.after($("#tournamentsClear").remove());
		$("[data-toggle='tooltip']").tooltip();
	});
	function reloadTournaments() {
		$("#tournamentsTable").bootgrid("reload");
	}
	function tournamentsStatsFilter() {
		return new StatsFilter($("#tournamentsStatsCategory"), $("#tournamentsStatsFrom"), $("#tournamentsStatsTo"))
	}
	function tournamentsStatsFilterChanged() {
		if (!lastTournamentsStatsFilter.equals(tournamentsStatsFilter()))
			reloadTournaments();
	}
	function updateTournamentsStatsCategoryStat() {
		var $category = $("#tournamentsStatsCategory");
		var $label = $("#tournamentsStatsCategoryLabel");
		var category = $category.val();
		if (category) {
			var url = "/playerTournamentsStat" + tournamentsParams();
			url += "&statsCategory=" + category;
			$.get(url, function (data) {
				var type = $category.find(":selected").data("type");
				var stat = parseFloat(data);
				switch (type) {
					case "PERCENTAGE": stat = stat.toFixed(1) + "%"; break;
					case "RATIO1": stat = stat.toFixed(0); break;
					case "RATIO2": stat = stat.toFixed(1); break;
					case "RATIO3": stat = stat.toFixed(2); break;
					case "TIME": stat = Math.floor(stat / 60) + ":" + Math.round(stat % 60); break;
				}
				$label.html(stat);
			});
		}
		else
			$label.html("");
	}
	function tournamentsStatsCategoryChanged() {
		updateTournamentsStatsCategoryStat();
		tournamentsStatsFilterChanged();
	}
	function clearTournamentsFilter() {
		$("#tournamentsLevel").val("");
		$("#tournamentsSurface").val("");
		$("#tournamentsResult").val("");
		$("#tournamentsStatsCategory").val("");
		$("#tournamentsStatsFrom").val("");
		$("#tournamentsStatsTo").val("");
		$("#tournamentsTable").bootgrid("search", "");
		reloadTournaments();
	}
	function tournamentsParams() {
		var params = "?playerId=[(${playerId})]";
		params += "&level=" + $("#tournamentsLevel").val();
		params += "&surface=" + $("#tournamentsSurface").val();
		params += "&result=" + encodeURIComponent($("#tournamentsResult").val());
		params += "&searchPhrase=" + $("#tournamentsTable-header").find("input.search-field").val();
		return params;
	}
	function showTournamentsStats(event) {
		var $tournamentsStats = $("#tournamentsStats");
		if (!$tournamentsStats.hasClass("loaded")) {
			event.preventDefault();
			var url = "/tournamentsStats" + tournamentsParams();
			var statsFilter = tournamentsStatsFilter();
			if (statsFilter.hasFilter()) {
				url += "&statsCategory=" + statsFilter.category;
				url += "&statsFrom=" + statsFilter.from;
				url += "&statsTo=" + statsFilter.to;
			}
			$.get(url, function(data) {
				$tournamentsStats.addClass("loaded").popover({content: data, html: true, placement: "auto left"});
				$tournamentsStats.on("show.bs.popover", function() { $(this).data("bs.popover").tip().css("max-width", "1000px"); }).click();
				$tournamentsStats.data("statsURL", url);
			});
		}
	}
	function showTournamentStats(tournamentId, event) {
		var $tournamentStats = $("#tournamentStats-" + tournamentId);
		if (!$tournamentStats.hasClass("loaded")) {
			event.preventDefault();
			var url = "/tournamentPlayerStats?playerId=[(${playerId})]&tournamentId=" + tournamentId;
			$.get(url, function(data) {
				$tournamentStats.addClass("loaded").popover({content: data, html: true, placement: "auto right"});
				$tournamentStats.on("show.bs.popover", function() { $(this).data("bs.popover").tip().css("max-width", "1000px"); }).click();
				$tournamentStats.data("statsURL", url);
			});
		}
	}
</script>
<div class="row">
	<div class="col-md-2">
		<select id="tournamentsLevel" class="form-control" onchange="reloadTournaments()" data-toggle="tooltip" data-placement="top" title="Filter by tournament level">
			<option value="">All levels</option>
			<option th:each="level : ${levels}" th:value="${level.code}" th:class="|bg-level-${level.code}|" value="G" class="bg-level-G" th:text="${level.text}">Grand Slam</option>
			<option th:each="levelGroup : ${levelGroups}" th:value="${levelGroup.codes}" value="GFLMO" th:text="${levelGroup.text}">Big Tournaments</option>
		</select>
	</div>
	<div class="col-md-2">
		<select id="tournamentsSurface" class="form-control" onchange="reloadTournaments()" data-toggle="tooltip" data-placement="top" title="Filter by surface">
			<option value="">All surfaces</option>
			<option th:each="surface : ${surfaces}" th:value="${surface.code}" th:class="|bg-surface-${surface.code}|" value="H" class="bg-surface-H" th:text="${surface.text}">Hard</option>
			<option th:each="surfaceGroup : ${surfaceGroups}" th:value="${surfaceGroup.codes}" value="HGP" th:text="${surfaceGroup.text}">Fast (H, G, Cp)</option>
		</select>
	</div>
	<div class="col-md-2">
		<select id="tournamentsResult" class="form-control" onchange="reloadTournaments()" data-toggle="tooltip" data-placement="top" title="Filter by result">
			<option value="">All results</option>
			<option th:each="result : ${results}" th:value="${result.code}" th:class="|bg-result-${result.baseCode}|" value="W" class="bg-result-W" th:text="${result.text}">Win</option>
		</select>
	</div>
	<div class="col-md-2">
		<div data-toggle="tooltip" data-placement="auto" title="Advanced filters">
			<button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#tournamentsAdvancedFilter">
				<i class="fa fa-folder-open"></i>&nbsp;&nbsp;Adv.&nbsp;&nbsp;<i class="fa fa-chevron-down"></i>
			</button>
		</div>
	</div>
</div>
<div id="tournamentsAdvancedFilter" class="row margin-top collapse">
	<div class="col-md-7">
		<div class="input-group">
			<select id="tournamentsStatsCategory" style="width: 220px" class="form-control" onchange="tournamentsStatsCategoryChanged()" data-toggle="tooltip" data-placement="top" title="Select statistics category">
				<option value="">Select statistics category</option>
				<optgroup th:each="categoryClass : ${categoryClasses}" th:label="${categoryClass.key}" label="Serve">
					<option th:each="category : ${categoryClass.value}" th:value="${category.name}" value="aces" th:data-type="${category.type}" data-type="COUNT" th:text="${category.title}" th:title="#{__${category.descriptionId}__}">Aces</option>
				</optgroup>
			</select>
			<label id="tournamentsStatsCategoryLabel" for="tournamentsStatsCategory" class="input-group-addon" style="width: 75px" data-toggle="tooltip" data-placement="top" title="Statistics category value for the selected filter"></label>
			<label for="tournamentsStatsFrom" class="input-group-addon">From:</label>
			<input id="tournamentsStatsFrom" type="text" maxlength="6" class="form-control" oninput="tournamentsStatsFilterChanged()" onchange="tournamentsStatsFilterChanged()"/>
			<label id="tournamentsStatsRange" for="tournamentsStatsTo" class="input-group-addon">To:</label>
			<input id="tournamentsStatsTo" type="text" maxlength="6" class="form-control" oninput="tournamentsStatsFilterChanged()" onchange="tournamentsStatsFilterChanged()"/>
		</div>
	</div>
</div>
<button id="tournamentsStats" type="button" class="btn btn-info grid-control margin-right" onclick="showTournamentsStats(event)" data-toggle="tooltip" data-placement="top" th:title="|${playerName} Statistics (for the selected tournaments)|">
	<span class="glyphicon glyphicon-stats"></span>&nbsp;&nbsp;Stats
</button>
<button id="tournamentsClear" type="button" class="btn btn-default grid-control margin-right" onclick="clearTournamentsFilter()" data-toggle="tooltip" data-placement="top" title="Clear all filters">
	<i class="fa fa-eraser"></i>&nbsp;&nbsp;Clear
</button>
<table id="tournamentsTable" class="table table-condensed table-hover table-striped">
	<thead>
	<tr>
		<th data-column-id="name" data-formatter="tournament" data-width="200">Tournament</th>
		<th data-column-id="levels" data-formatter="levels" data-width="140">Level</th>
		<th data-column-id="surfaces" data-formatter="surfaces" data-width="110">Surface</th>
		<th data-column-id="eventCount" data-formatter="eventCount" data-width="75">Events</th>
		<th data-column-id="seasons" data-width="200" data-sortable="false">Seasons</th>
		<th data-column-id="stats" data-formatter="stats" data-sortable="false" data-width="75">Stats</th>
	</tr>
	</thead>
</table>
</th:block>