<br/>
<th:block xmlns:th="http://www.thymeleaf.org">
	<!--/*@thymesVar id="playerId" type="java.lang.Integer"*/-->
	<!--/*@thymesVar id="seasons" type="java.util.List<java.lang.Integer>"*/-->
	<!--/*@thymesVar id="levels" type="java.util.EnumSet<org.strangeforest.tcb.stats.model.TournamentLevel>"*/-->
	<!--/*@thymesVar id="surfaces" type="org.strangeforest.tcb.stats.model.Surface[]"*/-->
	<!--/*@thymesVar id="tournaments" type="java.util.List<org.strangeforest.tcb.stats.model.TournamentItem>"*/-->
	<!--/*@thymesVar id="season" type="java.lang.Integer"*/-->
	<!--/*@thymesVar id="level" type="java.lang.String"*/-->
	<!--/*@thymesVar id="surface" type="java.lang.String"*/-->
	<!--/*@thymesVar id="result" type="java.lang.String"*/-->
	<script type="text/javascript" th:inline="javascript">
		/*<![CDATA[*/
		$(function() {
			$("[data-toggle='tooltip']").tooltip();
			$("#tournamentsTable").bootgrid({
				ajax: true,
				ajaxSettings: {
					method: "GET",
					cache: false
				},
				url: "/playerTournamentsTable?playerId=[[${playerId}]]",
				requestHandler: function (request) {
					request.season = $("#season").val();
					request.level = $("#level").val();
					request.surface = $("#surface").val();
					request.tournamentId = $("#tournament").val();
					request.result = $("#result").val();
					return request;
				},
				rowCount: [10, 20, 50, -1],
				formatters: {
					"date": dateFormatter,
					"tournament": tournamentFormatter,
					"surface": surfaceFormatter,
					"result": function(column, row) {
						return "<a class='label black bg-result-" + row.result + "' href='/playerProfile?playerId=[[${playerId}]]&tournamentEventId=" + row.tournamentEventId + "' title='Show tournament matches'>" + row.result + "</a>"
					},
					"stats": function(column, row) {
						return "<a id='eventStats-" + row.tournamentEventId + "' href='#' class='label label-info glyphicon glyphicon-stats' onclick='showEventStats(" + row.tournamentEventId + ", event)' title='" + row.name + " " + row.season + " Statistics'> Stats</a>";
					}
				},
				labels: {
					noResults: "No tournaments found"
				}
			});
		});
		function reloadTournaments() {
			$("#tournamentsTable").bootgrid("reload");
		}
		function clearTournamentsFilter() {
			$("#season").val("");
			$("#level").val("");
			$("#surface").val("");
			$("#tournament").val("");
			$("#result").val("");
			$("#tournamentsTable").bootgrid("search", "");
			reloadTournaments();
		}
		function showEventStats(tournamentEventId, event) {
			var $eventStats = $("#eventStats-" + tournamentEventId);
			if (!$eventStats.hasClass("loaded")) {
				event.preventDefault();
				$.get("eventStats?playerId=[[${playerId}]]&tournamentEventId=" + tournamentEventId, function(data) {
					$eventStats.addClass("loaded").popover({content: data, html: true, placement: "auto right"});
					$eventStats.on("show.bs.popover", function() { $(this).data("bs.popover").tip().css("max-width", "800px"); }).click();
				});
			}
		}
		/*]]>*/
	</script>
	<div class="row">
		<div class="col-md-2">
			<select id="season" class="form-control" onchange="reloadTournaments()" data-toggle="tooltip" data-placement="top" title="Filter seasons">
				<option value="">All seasons</option>
				<option th:each="aSeason : ${seasons}" th:value="${aSeason}" value="2005" th:text="${aSeason}" th:selected="${aSeason == season}">2005</option>
			</select>
		</div>
		<div class="col-md-2">
			<select id="level" class="form-control" onchange="reloadTournaments()" data-toggle="tooltip" data-placement="top" title="Filter by tournament level">
				<option value="">All levels</option>
				<option th:each="aLevel : ${levels}" th:value="${aLevel.code}" th:class="|bg-level-${aLevel.code}|" value="G" class="bg-level-G" th:text="${aLevel.text}" th:selected="${aLevel.code == level}">Grand Slam</option>
			</select>
		</div>
		<div class="col-md-2">
			<select id="surface" class="form-control" onchange="reloadTournaments()" data-toggle="tooltip" data-placement="top" title="Filter by surface">
				<option value="">All surfaces</option>
				<option th:each="aSurface : ${surfaces}" th:value="${aSurface.code}" th:class="|bg-surface-${aSurface.code}|" value="H" class="bg-surface-H" th:text="${aSurface.text}" th:selected="${aSurface.code == surface}">Hard</option>
			</select>
		</div>
		<div class="col-md-2">
			<select id="tournament" class="form-control" onchange="reloadTournaments()" data-toggle="tooltip" data-placement="top" title="Filter tournaments">
				<option value="">All tournaments</option>
				<option th:each="tournament : ${tournaments}" th:if="${tournament.level != 'D' and tournament.level != 'T'}" th:value="${tournament.id}" value="101" th:text="${tournament.name}" th:class="'bg-level-' + ${tournament.level}">Wimbledon</option>
			</select>
		</div>
		<div class="col-md-2">
			<select id="result" class="form-control" onchange="reloadTournaments()" data-toggle="tooltip" data-placement="top" title="Filter by result">
				<option value="">All results</option>
				<option value="W" class="bg-result-W" th:selected="${result == 'W'}">Win</option>
				<option value="F" class="bg-result-F" th:selected="${result == 'F'}">Final</option>
				<option value="F+" class="bg-result-F" th:selected="${result == 'F+'}">Final +</option>
				<option value="SF" class="bg-result-SF" th:selected="${result == 'SF'}">Semi-Final</option>
				<option value="SF+" class="bg-result-SF" th:selected="${result == 'SF+'}">Semi-Final +</option>
				<option value="QF" class="bg-result-QF" th:selected="${result == 'QF'}">Quarter-Final</option>
				<option value="QF+" class="bg-result-QF" th:selected="${result == 'QF+'}">Quarter-Final +</option>
				<option value="R16" class="bg-result-R16" th:selected="${result == 'R16'}">Round of 16</option>
				<option value="R16+" class="bg-result-R16" th:selected="${result == 'R16+'}">Round of 16 +</option>
				<option value="R32" class="bg-result-R32" th:selected="${result == 'R32'}">Round of 32</option>
				<option value="R32+" class="bg-result-R32" th:selected="${result == 'R32+'}">Round of 32 +</option>
				<option value="R64" class="bg-result-R64" th:selected="${result == 'R64'}">Round of 64</option>
				<option value="R64+" class="bg-result-R64" th:selected="${result == 'R64+'}">Round of 64 +</option>
				<option value="R128" class="bg-result-R128" th:selected="${result == 'R128'}">Round of 128</option>
				<option value="RR" class="bg-result-RR" th:selected="${result == 'RR'}">Round-Robin</option>
				<option value="BR" class="bg-result-BR" th:selected="${result == 'BR'}">Bronze Medal</option>
				<option value="BR+" class="bg-result-BR" th:selected="${result == 'BR+'}">Any Medal</option>
			</select>
		</div>
		<div class="col-md-1">
			<button type="button" class="btn btn-default" onclick="clearTournamentsFilter()" data-toggle="tooltip" data-placement="top" title="Clear all filters">
				<span class="glyphicon glyphicon-remove"></span> Clear
			</button>
		</div>
	</div>
	<table id="tournamentsTable" class="table table-condensed table-hover table-striped">
		<thead>
		<tr>
			<th data-column-id="season" data-type="numeric" data-width="60">Season</th>
			<th data-column-id="date" data-formatter="date" data-order="desc" data-width="80">Date</th>
			<th data-column-id="name" data-formatter="tournament" data-width="200">Tournament</th>
			<th data-column-id="surface" data-formatter="surface" data-width="80">Surface</th>
			<th data-column-id="draw" data-width="80">Draw</th>
			<th data-column-id="result" data-formatter="result" data-width="60" data-align="center" data-header-align="center">Result</th>
			<th data-column-id="stats" data-formatter="stats" data-sortable="false" data-width="50">Stats</th>
		</tr>
		</thead>
	</table>
</th:block>