<br/>
<th:block xmlns:th="http://www.thymeleaf.org">
	<!--@thymesVar id="highlights" type="org.strangeforest.tcb.stats.model.RankingHighlights"-->
	<!--@thymesVar id="seasons" type="java.util.List<java.lang.Integer>"-->
	<script th:src="@{/js/tennis-stats.js}"></script>
	<script th:src="@{/js/ranking-chart.js}"></script>
	<script type="text/javascript" th:inline="javascript">
		/*<![CDATA[*/
		$(document.body).append("<script type='text/javascript' src='https://www.google.com/jsapi?callback=loadGoogleCharts'>&lt;/script>");
		var isRank, bySeason, chartData, logScale, pointCount;
		function loadGoogleCharts() {
			google.load("visualization", "1.0", {packages:["corechart"], callback: function() {
				drawChart();
			}});
		}
		function drawChart() {
			var rankType = $("#rankType").val();
			var timeSpan = $("#rankingTimeSpan").val();
			bySeason = $("#rankingBySeason").prop("checked");
			isRank = rankType == "RANK" || rankType == "ELO_RANK";
			var dataUrl = "/playerRankingsTable?playerId=[[${playerId}]]&rankType=" + rankType + "&timeSpan=" + timeSpan;
			if (timeSpan != "1")
				dataUrl += "&bySeason=" + bySeason;
			else
				bySeason = false;
			if (timeSpan == "CS") {
				if (bySeason)
					dataUrl += "&fromSeason=" + $("#rankingFromSeason").val() + "&toSeason=" + $("#rankingToSeason").val();
				else {
					var fromDate = getDate("rankingFromDate");
					if (fromDate == null)
						return;
					var toDate = getDate("rankingToDate");
					if (toDate == null)
						return;
					dataUrl += "&fromDate=" + fromDate + "&toDate=" + toDate;
				}
			}
			if (timeSpan == "CR")
				dataUrl += "&byAge=" + $("#rankingByAge").prop("checked");
			if (rankType == "POINTS")
				dataUrl += "&compensatePoints=" + $("#compensatePoints").prop("checked");
			var $loading = $("#rankChartLoading");
			$loading.show();
			$.ajax(dataUrl).done(function(json) {
				chartData = new google.visualization.DataTable(JSON.stringify(json));
				logScale = isRank ? useLogScale(json) : false;
				pointCount = json.rows.length;
				var width = $("#rankChartSize").slider("value");
				showChart(chartData, "rankChart", width, isRank, bySeason, logScale, pointCount, "none");
			}).always(function() {
				$loading.hide().css("position", "absolute").css("z-index", "100");
			});
		}
		function onRankingTimeSpanChange() {
			var timeSpan = $("#rankingTimeSpan").val();
			var bySeason = $("#rankingBySeason").prop("checked");
			$("#rankingBySeasonDiv").css("display", timeSpan != "1" ? "block" : "none");
			$("#rankingDateRange").css("display", timeSpan == "CS" && !bySeason ? "block" : "none");
			$("#rankingSeasonRange").css("display", timeSpan == "CS" && bySeason ? "block" : "none");
			$("#rankingByAgeDiv").css("display", timeSpan == "CR" ? "block" : "none");
		}
		function onRankTypeChange() {
			$("#compensatePointsDiv").css("visibility", $("#rankType").val() == "POINTS" ? "visible" : "hidden");
		}
		$(function() {
			dateRangePicker("rankingFromDate", "rankingToDate");
			$("#rankChartSize").slider({
				min: 500,
				max: 1500,
				value: 1000,
				step: 100,
				slide: function(event, ui) {
					showChart(chartData, "rankChart", ui.value, isRank, bySeason, logScale, pointCount, "none");
				}
			});
			onRankingTimeSpanChange();
			onRankTypeChange();
			$("[data-toggle='tooltip']").tooltip();
		});
		/*]]>*/
	</script>
	<style scoped="scoped">
		.checkbox {
			margin-top: 7px;
			margin-bottom: 7px;
		}
	</style>
	<div class="row">
		<div class="col-md-3">
			<div class="input-group">
				<label for="rankingTimeSpan" class="input-group-addon">Time span:</label>
				<select id="rankingTimeSpan" class="form-control" onchange="onRankingTimeSpanChange()">
					<option value="CR">Career</option>
					<option value="1">Last 52 weeks</option>
					<option value="2">Last two years</option>
					<option value="3">Last three years</option>
					<option value="5">Last five years</option>
					<option value="10">Last ten years</option>
					<option value="CS">Custom</option>
				</select>
			</div>
		</div>
		<div id="rankingBySeasonDiv" class="col-md-2">
			<div class="checkbox">
				<label data-toggle="tooltip" data-placement="top" title="Show chart by season (year-end)">
					<input id="rankingBySeason" type="checkbox" onchange="onRankingTimeSpanChange()"/> By season
				</label>
			</div>
		</div>
		<div id="rankingDateRange" class="col-md-4" style="display: none">
			<div class="input-group">
				<label for="rankingFromDate" class="input-group-addon">From:</label>
				<input type="text" id="rankingFromDate" maxlength="10" class="form-control"/>
				<label for="rankingToDate" class="input-group-addon">To:</label>
				<input type="text" id="rankingToDate" maxlength="10" class="form-control"/>
			</div>
		</div>
		<div id="rankingSeasonRange" class="col-md-4" style="display: none">
			<div class="input-group">
				<label for="rankingFromSeason" class="input-group-addon">From:</label>
				<select id="rankingFromSeason" class="form-control" data-toggle="tooltip" data-placement="top" title="Select from season">
					<option value="">All seasons</option>
					<option th:each="season : ${seasons}" th:value="${season}" value="2005" th:text="${season}">2005</option>
				</select>
				<label for="rankingToSeason" class="input-group-addon">To:</label>
				<select id="rankingToSeason" class="form-control" data-toggle="tooltip" data-placement="top" title="Select to season">
					<option value="">All seasons</option>
					<option th:each="season : ${seasons}" th:value="${season}" value="2005" th:text="${season}">2005</option>
				</select>
			</div>
		</div>
		<div id="rankingByAgeDiv" class="col-md-2">
			<div class="checkbox">
				<label data-toggle="tooltip" data-placement="top" title="Show chart by age">
					<input id="rankingByAge" type="checkbox"/> By age
				</label>
			</div>
		</div>
	</div>
	<div style="height: 5px"></div>
	<div class="row">
		<div class="col-md-3">
			<div class="input-group">
				<label for="rankType" class="input-group-addon">Rank type:</label>
				<select id="rankType" class="form-control" onchange="onRankTypeChange()">
					<option value="RANK">ATP Ranking</option>
					<option value="POINTS">ATP Points</option>
					<option value="ELO_RANK">Elo Ranking</option>
					<option value="ELO_RATING">Elo Rating</option>
					<option value="GOAT_POINTS">GOAT points</option>
				</select>
			</div>
		</div>
		<div class="col-md-2">
			<div id="compensatePointsDiv" class="checkbox">
				<label data-toggle="tooltip" data-placement="top" title="Compensate ranking points before 2009 to match new ATP ranking system">
					<input id="compensatePoints" type="checkbox"/> Compensate points
				</label>
			</div>
		</div>
		<div class="col-md-2">
			<div id="rankChartSize" style="margin-top: 6px"></div>
			<div style="text-align: center; opacity: 0.5">Chart size</div>
		</div>
		<div class="col-md-2">
			<a class="btn btn-primary pull-right" href="#" role="button" onclick="drawChart()">
				<span class="glyphicon glyphicon-signal"></span>&nbsp;&nbsp;Draw Chart
			</a>
		</div>
	</div>
	<div class="row">
		<div class="row col-md-9 text-center">
			<div id="rankChartLoading" style="width: 100%; display: none">
				<br/>
				<img src="/images/loading.gif" width="128" height="128" alt="Loading chart..."/>
				<br/>
			</div>
		</div>
	</div>
	<div id="rankChart"></div>
	<div class="row">
		<div class="col-md-4">
			<h4>Ranking Highlights</h4>
			<table class="table table-condensed text-nowrap">
				<tr th:if="${highlights.currentRank > 0}">
					<th>Current Rank</th>
					<td th:text="${highlights.currentRank} + ' (' + ${highlights.currentRankPoints} + ')'">10 (3000)</td>
				</tr>
				<tr th:if="${highlights.bestRank > 0}">
					<th>Best Rank</th>
					<td th:text="${highlights.bestRank} + ' (' + ${#dates.format(highlights.bestRankDate, 'dd-MM-yyyy')} + ')'">5 (1.1.2010)</td>
				</tr>
				<tr th:if="${highlights.bestRankPoints > 0}">
					<th>Best Rank Points</th>
					<td th:text="${highlights.bestRankPoints} + ' (' + ${#dates.format(highlights.bestRankPointsDate, 'dd-MM-yyyy')} + ')'">5000 (1.1.2011)</td>
				</tr>
				<tr th:if="${highlights.bestYearEndRank > 0}">
					<th>Best Year-End Rank</th>
					<td th:text="${highlights.bestYearEndRank} + ' (' + ${highlights.bestYearEndRankSeasons} + ')'">10 (2001, 2003)</td>
				</tr>
				<tr th:if="${highlights.bestYearEndRankPoints > 0}">
					<th>Best Year-End Rank Points</th>
					<td th:text="${highlights.bestYearEndRankPoints} + ' (' + ${highlights.bestYearEndRankPointsSeasons} + ')'">3450 (2001, 2003)</td>
				</tr>
				<tr th:if="${highlights.mostFrequentRank}" th:with="mostFrequentRank=${highlights.mostFrequentRank}">
					<th>Most Frequent Rank</th>
					<td th:text="${mostFrequentRank.rank} + ' (' + ${#numbers.formatInteger(mostFrequentRank.duration, 0)} + ' week' + ${mostFrequentRank.duration > 1 ? 's' : ''} + ')'">10 (20 weeks)</td>
				</tr>
				<tr th:if="${highlights.mostFrequentYearEndRank}" th:with="mostFrequentRank=${highlights.mostFrequentYearEndRank}">
					<th>Most Frequent Year-End Rank</th>
					<td th:text="${mostFrequentRank.rank} + ' (' + ${mostFrequentRank.duration} + ' year' + ${mostFrequentRank.duration > 1 ? 's' : ''} + ')'">10 (3 years)</td>
				</tr>
				<tr th:if="${highlights.goatRankPoints > 0}">
					<th>GOAT Rank</th>
					<td th:text="${highlights.goatRank} + ' (' + ${highlights.goatRankPoints} + ')'">50 (2500)</td>
				</tr>
			</table>
		</div>
		<th:block th:if="${highlights.weeksInTop100 > 0}">
		<div class="col-md-1">&nbsp;</div>
		<div class="col-md-3">
			<h4>Weeks</h4>
			<table class="table table-condensed text-nowrap">
				<tr th:if="${highlights.weeksAtNo1 > 0}">
					<th>At No. 1</th>
					<td th:text="${highlights.weeksAtNo1}">50</td>
				</tr>
				<tr th:if="${highlights.weeksInTop5 > 0}">
					<th>In Top 5</th>
					<td th:text="${highlights.weeksInTop5}">100</td>
				</tr>
				<tr th:if="${highlights.weeksInTop10 > 0}">
					<th>In Top 10</th>
					<td th:text="${highlights.weeksInTop10}">200</td>
				</tr>
				<tr th:if="${highlights.weeksInTop20 > 0}">
					<th>In Top 20</th>
					<td th:text="${highlights.weeksInTop20}">300</td>
				</tr>
				<tr th:if="${highlights.weeksInTop50 > 0}">
					<th>In Top 50</th>
					<td th:text="${highlights.weeksInTop50}">400</td>
				</tr>
				<tr th:if="${highlights.weeksInTop100 > 0}">
					<th>In Top 100</th>
					<td th:text="${highlights.weeksInTop100}">500</td>
				</tr>
			</table>
		</div>
		</th:block>
		<th:block th:if="${highlights.yearEndsInTop100 > 0}">
		<div class="col-md-1">&nbsp;</div>
		<div class="col-md-3">
			<h4>Year-Ends</h4>
			<table class="table table-condensed text-nowrap">
				<tr th:if="${highlights.yearEndsAtNo1 > 0}">
					<th>At No. 1</th>
					<td th:text="${highlights.yearEndsAtNo1}">50</td>
				</tr>
				<tr th:if="${highlights.yearEndsInTop5 > 0}">
					<th>In Top 5</th>
					<td th:text="${highlights.yearEndsInTop5}">100</td>
				</tr>
				<tr th:if="${highlights.yearEndsInTop10 > 0}">
					<th>In Top 10</th>
					<td th:text="${highlights.yearEndsInTop10}">200</td>
				</tr>
				<tr th:if="${highlights.yearEndsInTop20 > 0}">
					<th>In Top 20</th>
					<td th:text="${highlights.yearEndsInTop20}">300</td>
				</tr>
				<tr th:if="${highlights.yearEndsInTop50 > 0}">
					<th>In Top 50</th>
					<td th:text="${highlights.yearEndsInTop50}">400</td>
				</tr>
				<tr th:if="${highlights.yearEndsInTop100 > 0}">
					<th>In Top 100</th>
					<td th:text="${highlights.yearEndsInTop100}">500</td>
				</tr>
			</table>
		</div>
		</th:block>
	</div>
</th:block>