<th:block  xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="playerId" type="int[]"*/-->
<!--/*@thymesVar id="seasons" type="java.util.List<java.lang.Integer>"*/-->
<!--/*@thymesVar id="categoryClasses" type="java.util.Map<java.lang.String, java.util.List<org.strangeforest.tcb.stats.model.core.PerformanceCategory>>"*/-->
<script th:src="@{/js/tennis-chart.js}"></script>
<script type="text/javascript">
	var perfChartData, perfPointCount;
	function loadGoogleChartsForPerf() {
		google.load("visualization", "1.0", {packages:["corechart"], "language": "en", callback: function() {
			drawPerformanceChart();
		}});
	}
	function drawPerformanceChart() {
		var category = $("#perfCategory").val();
		var dataUrl = "[[@{/playerPerformanceTable(playerId=${playerId})}]]".replace("&amp;", "&") + "&category=" + category;
		dataUrl += "&fromSeason=" + $("#perfFromSeason").val() + "&toSeason=" + $("#perfToSeason").val();
		dataUrl += "&byAge=" + $("#perfByAge").prop("checked");
		var $loading = $("#perfChartLoading");
		$loading.show();
		$.ajax(dataUrl).done(function(json) {
			perfChartData = new google.visualization.DataTable(JSON.stringify(json));
			perfPointCount = json.rows.length;
			var width = $("#perfChartSize").slider("value");
			showPerformanceChart(perfChartData, "perfChart", width, perfPointCount, "[(${playerId.length > 1 ? 'bottom' : 'none'})]");
		}).always(function() {
			$loading.hide().css("position", "absolute").css("z-index", "100");
		});
	}
	$(function() {
		$("#perfChartSize").slider({
			min: 500,
			max: 1500,
			value: defaultChartWOLegendSize(detectDevice()),
			step: 50,
			slide: function(event, ui) {
				showPerformanceChart(perfChartData, "perfChart", ui.value, perfPointCount, "[(${playerId.length > 1 ? 'bottom' : 'none'})]");
			}
		});
		onPerfSeasonRangeChange();
		$("[data-toggle='tooltip']").tooltip();
	});
	function onPerfSeasonRangeChange() {
		$("#perfByAgeDiv").css("display", $("#perfFromSeason").val() == "" && $("#perfToSeason").val() == "" ? "block" : "none");
	}
</script>
<script async defer type="text/javascript" src="https://www.google.com/jsapi?callback=loadGoogleChartsForPerf"></script>
<style scoped="scoped">
	.checkbox {
		margin-top: 7px;
		margin-bottom: 7px;
	}
</style>
<br/>
<div class="row">
	<div class="col-md-4">
		<div class="input-group">
			<label for="perfCategory" class="input-group-addon">Category:</label>
			<select id="perfCategory" class="form-control">
				<optgroup th:each="categoryClass : ${categoryClasses}" th:label="${categoryClass.key}" label="Performance">
					<option th:each="category : ${categoryClass.value}" th:value="${category.name}" value="matches" th:class="${category.cssClass}" th:text="${category.title}">Overall</option>
				</optgroup>
			</select>
		</div>
	</div>
</div>
<div class="row" style="margin-top: 5px">
	<div class="col-md-4">
		<div class="input-group">
			<label for="perfFromSeason" class="input-group-addon">From:</label>
			<select id="perfFromSeason" class="form-control" onchange="onPerfSeasonRangeChange()">
				<option value="">All seasons</option>
				<option th:each="season : ${seasons}" th:value="${season}" value="2005" th:text="${season}">2005</option>
			</select>
			<label for="perfToSeason" class="input-group-addon">To:</label>
			<select id="perfToSeason" class="form-control" onchange="onPerfSeasonRangeChange()">
				<option value="">All seasons</option>
				<option th:each="season : ${seasons}" th:value="${season}" value="2005" th:text="${season}">2005</option>
			</select>
		</div>
	</div>
	<div class="col-md-1">
		<div id="perfByAgeDiv" class="checkbox">
			<label data-toggle="tooltip" data-placement="top" title="Show chart by age">
				<input id="perfByAge" type="checkbox"/> By age
			</label>
		</div>
	</div>
	<div class="col-md-2">
		<div id="perfChartSize" style="margin-top: 6px"></div>
		<div style="text-align: center; opacity: 0.5">Chart size</div>
	</div>
	<div class="col-md-2">
		<a class="btn btn-primary pull-right" href="#" role="button" onclick="drawPerformanceChart()">
			<i class="fa fa-bar-chart"></i>&nbsp;&nbsp;Draw Chart
		</a>
	</div>
</div>
<div class="row" style="margin-top: 5px">
	<div class="row col-md-9 text-center">
		<div id="loading" style="width: 100%; display: none">
			<br/>
			<img src="/images/loading-chart.gif" width="128" height="128" alt="Loading chart..."/>
			<br/>
		</div>
	</div>
</div>
<div id="perfChart"></div>
</th:block>