<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--@thymesVar id="player" type="org.strangeforest.tcb.stats.model.Player"-->
<!--@thymesVar id="seasons" type="java.util.List<java.lang.Integer>"-->
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<title th:text="'Ultimate Tennis Statistics - ' + (${player} ? ${player.name} : 'Player Profile')">Ultimate Tennis Statistics - Player Profile</title>
	<link th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
	<link th:href="@{/webjars/jquery-ui-themes/1.11.4/smoothness/jquery-ui.css}" rel="stylesheet" media="screen"/>
	<link th:href="@{/webjars/jquery.bootgrid/1.2.0/dist/jquery.bootgrid.min.css}" rel="stylesheet" media="screen"/>
	<script th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
	<script th:src="@{/webjars/jquery-ui/1.11.4/jquery-ui.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/3.3.5/js/bootstrap.min.js}"></script>
	<script th:src="@{/webjars/jquery.bootgrid/1.2.0/dist/jquery.bootgrid.min.js}"></script>
	<script th:src="@{/js/formatters.js}"></script>
	<style th:inline="text">
		.ui-autocomplete {
			max-height: 600px; overflow-y: auto; overflow-x: hidden;
		}
		.ui-autocomplete-loading {
			background: white url("[[@{/images/ui-anim_basic_16x16.gif}]]") right center no-repeat;
		}
		.no-wrap {
			white-space: nowrap;
			overflow: hidden;
		}
	</style>
	<script type="text/javascript">
		/*<![CDATA[*/
		$(function() {
			$("#player").autocomplete({
				source: "autocompletePlayer",
				minLength: 2,
				select: function(event, ui) {
					if (ui.item)
						window.location = "playerProfile?playerId=" + ui.item.id;
				}
			}).focus();
		});
		/*]]>*/
	</script>
</head>
<body class="container">
	<h1><a href="/">Ultimate Tennis Statistics</a></h1>
	<div class="row">
		<div th:if="${player}" class="col-md-8"><h3 th:text="${player.name}">Player Profile</h3></div>
		<div class="ui-widget input-group col-md-4">
			<label for="player" class="input-group-addon">Player:</label>
			<input id="player" type="text" class="search-field form-control" placeholder="Search Player"/>
		</div>
	</div>
	<div th:if="${player}">
		<div class="row">
			<div class="col-md-3">
				<table class="table table-condensed no-wrap">
					<!--/* General */-->
					<tr th:if="${player.dob}">
						<th>Age</th>
						<td th:text="|${player.age} (${#dates.format(player.dob, 'dd-MM-yyyy')})|">25 (1-1-1990)</td>
					</tr>
					<tr>
						<th>Country</th>
						<td><img th:src="@{/flags/{code}.png(code=${player.countryCode})}" src="/flags/us.png" th:title="${player.countryId}" title="USA" width="24" height="24"/> <span th:text="${player.countryName}">United States</span></td>
					</tr>
					<tr th:if="${player.birthplace}">
						<th>Birthplace</th>
						<td th:text="${player.birthplace}">New York</td>
					</tr>
					<tr th:if="${player.residence}">
						<th>Residence</th>
						<td th:text="${player.residence}">New York</td>
					</tr>
					<tr th:if="${player.height > 0}">
						<th>Height</th>
						<td th:text="|${player.height} cm|">180 cm</td>
					</tr>
					<tr th:if="${player.weight > 0}">
						<th>Weight</th>
						<td th:text="|${player.weight} kg|">80 kg</td>
					</tr>
					<tr th:if="${player.hand}">
						<th>Plays</th>
						<td th:text="${player.handName}">Right-handed</td>
					</tr>
					<tr th:if="${player.backhand}">
						<th>Backhand</th>
						<td th:text="${player.backhandName}">Two-handed</td>
					</tr>
				</table>
			</div>
			<div class="col-md-1">&nbsp;</div>
			<div class="col-md-3">
				<table class="table table-condensed no-wrap">
					<!--/* Titles */-->
					<tr th:if="${player.titles > 0}">
						<th>Titles</th>
						<td width="100%"><span class="label label-default" th:text="${player.titles}">10</span></td>
					</tr>
					<tr th:if="${player.grandSlams > 0}">
						<th>Grand Slams</th>
						<td><span class="label label-danger" th:text="${player.grandSlams}">1</span></td>
					</tr>
					<tr th:if="${player.tourFinals > 0}">
						<th>Tour Finals</th>
						<td><span class="label label-warning" th:text="${player.tourFinals}">1</span></td>
					</tr>
					<tr th:if="${player.masters > 0}">
						<th>Masters</th>
						<td><span class="label label-info" th:text="${player.masters}">5</span></td>
					</tr>
					<tr th:if="${player.olympics > 0}">
						<th>Olympics</th>
						<td><span class="label label-success" th:text="${player.olympics}">1</span></td>
					</tr>
					<!--/* Ranking */-->
					<tr th:if="${player.currentRank > 0}">
						<th>Current Rank</th>
						<td th:text="${player.currentRank} + ' (' + ${player.currentRankPoints} + ')'">10 (3000)</td>
					</tr>
					<tr th:if="${player.bestRank > 0}">
						<th>Best Rank</th>
						<td th:text="${player.bestRank} + ' (' + ${#dates.format(player.bestRankDate, 'dd-MM-yyyy')} + ')'">5 (1.1.2010)</td>
					</tr>
					<tr th:if="${player.bestRankPoints > 0}">
						<th>Best Rank Points</th>
						<td th:text="${player.bestRankPoints} + ' (' + ${#dates.format(player.bestRankPointsDate, 'dd-MM-yyyy')} + ')'">5000 (1.1.2011)</td>
					</tr>
					<tr th:if="${player.goatRankPoints > 0}">
						<th>GOAT Rank</th>
						<td th:text="${player.goatRank} + ' (' + ${player.goatRankPoints} + ')'">50 (2500)</td>
					</tr>
				</table>
			</div>
			<div class="col-md-1">&nbsp;</div>
			<div class="col-md-4">
				<table class="table table-condensed no-wrap">
					<!--/* Tennis */-->
					<tr th:if="${player.turnedPro > 0}">
						<th>Turned Pro</th>
						<td th:text="${player.turnedPro}">2005</td>
					</tr>
					<tr th:if="${player.coach}">
						<th>Coach</th>
						<td th:text="${player.coach}">Brad Gilbert</td>
					</tr>
 					<!--/* Social */-->
					<tr th:if="${player.webSite}">
						<th>Web Site</th>
						<td><a th:href="'http://' + ${player.webSite}" href="http://www.johnsmith.com" target="_blank" th:text="${player.webSite}">www.johnsmith.com</a></td>
					</tr>
					<tr th:if="${player.twitter}">
						<th>Twitter</th>
						<td><a th:href="'https://twitter.com/' + ${player.twitter}" href="https://twitter.com/JohnSmith" target="_blank" th:text="'@'+ ${player.twitter}">@JohnSmith</a></td>
					</tr>
					<tr th:if="${player.facebook}">
						<th>Facebook</th>
						<td><a th:href="'https://www.facebook.com/' + ${player.facebook}" href="https://www.facebook.com/JohnSmith" target="_blank" th:text="${player.facebook}">JohnSmith</a></td>
					</tr>
				</table>
			</div>
		</div>

		<!--/* Tournament Results */-->
		<script type="text/javascript" th:inline="javascript">
			/*<![CDATA[*/
			$(function() {
				$(document).ready(function(){
					$('[data-toggle="tooltip"]').tooltip();
				});
				$("#resultsTable").bootgrid({
					ajax: true,
					ajaxSettings: {
						method: "GET",
						cache: false
					},
					url: "/playerResultsTable?playerId=[[${player.id}]]",
					requestHandler: function (request) {
						request.season = $("#season").val();
						request.level = $("#level").val();
						request.surface = $("#surface").val();
						request.result = $("#result").val();
						return request;
					},
					rowCount: [10, 20, 50, -1],
					formatters: {
						"date": dateFormatter,
						"level": levelFormatter,
						"surface": surfaceFormatter,
						"result": function(column, row) {
							return "<a href='/playerMatches?playerId=[[${player.id}]]&tournamentEventId=" + row.tournamentEventId + "'>" + row.result + "</a>"
						}
					}
				});
			});
			function reloadResults() {
				$("#resultsTable").bootgrid("reload");
			}
			function clearResultsFilter() {
				$("#season").val("");
				$("#level").val("");
				$("#surface").val("");
				$("#result").val("");
				$("#resultsTable").bootgrid("search", "");
				reloadResults();
			}
			/*]]>*/
		</script>
		<div class="row">
			<div class="col-md-3"><h4>Tournament Results</h4></div>
			<div class="col-md-2">
				<select id="season" class="form-control" onchange="reloadResults()" data-toggle="tooltip" data-placement="top" title="Filter seasons">
					<option value="">All seasons</option>
					<option th:each="season : ${seasons}" th:value="${season}" value="2005" th:text="${season}">2005</option>
				</select>
			</div>
			<div class="col-md-2">
				<select id="level" class="form-control" onchange="reloadResults()" data-toggle="tooltip" data-placement="top" title="Filter by tournament level">
					<option value="">All levels</option>
					<option value="G" class="bg-danger">Grand Slam</option>
					<option value="F" class="bg-warning">Tour Finals</option>
					<option value="M" class="bg-info">Masters</option>
					<option value="O" class="bg-success">Olympics</option>
					<option value="A" class="bg-default">ATP</option>
				</select>
			</div>
			<div class="col-md-2">
				<select id="surface" class="form-control" onchange="reloadResults()" data-toggle="tooltip" data-placement="top" title="Filter by surface">
					<option value="">All surfaces</option>
					<option value="H" class="bg-primary">Hard</option>
					<option value="C" class="bg-danger">Clay</option>
					<option value="G" class="bg-success">Grass</option>
					<option value="P" class="bg-warning">Carpet</option>
				</select>
			</div>
			<div class="col-md-2">
				<select id="result" class="form-control" onchange="reloadResults()" data-toggle="tooltip" data-placement="top" title="Filter by result">
					<option value="">All results</option>
					<option value="W">Win</option>
					<option value="F">Final</option>
					<option value="SF">Semi-final</option>
					<option value="QF">Quarter-final</option>
					<option value="R16">Round of 16</option>
					<option value="R32">Round of 32</option>
					<option value="R64">Round of 64</option>
					<option value="R128">Round of 128</option>
					<option value="RR">Round-Robin</option>
				</select>
			</div>
			<div class="col-md-1">
				<button type="button" class="btn btn-default" onclick="clearResultsFilter()" data-toggle="tooltip" data-placement="top" title="Clear all filters">
					<span class="glyphicon glyphicon-remove"></span> Clear
				</button>
			</div>
		</div>
		<table id="resultsTable" class="table table-condensed table-hover table-striped">
			<thead>
				<tr>
					<th data-column-id="season" data-converter="numeric" data-sortable="false" data-width="50">Season</th>
					<th data-column-id="date" data-formatter="date" data-order="desc" data-width="80">Date</th>
					<th data-column-id="level" data-formatter="level" data-width="100">Level</th>
					<th data-column-id="surface" data-formatter="surface" data-width="80">Surface</th>
					<th data-column-id="name" data-width="200">Tournament</th>
					<th data-column-id="result" data-formatter="result" data-order="desc" data-width="50">Result</th>
				</tr>
			</thead>
		</table>
	</div>
</body>
</html>