<th:block xmlns:th="http://www.thymeleaf.org" th:with="hasPointStats=${careerStats.hasPointStats()}">
<!--/*@thymesVar id="categoryGroups" type="java.util.List<org.strangeforest.tcb.stats.model.StatsCategory.CategoryGroup>"*/-->
<!--/*@thymesVar id="careerStats" type="org.strangeforest.tcb.stats.model.PlayerStats"*/-->
<!--/*@thymesVar id="seasons" type="java.util.List<java.lang.Integer>"*/-->
<!--/*@thymesVar id="seasonsStats" type="java.util.Map<java.lang.Integer, org.strangeforest.tcb.stats.model.PlayerStats>"*/-->
<th:block th:each="group : ${categoryGroups}" th:if="${hasPointStats || !group.needsStats}">
	<tr class="bg-info">
		<td th:colspan="${2 + seasons.size()}" style="padding: 2px 5px">
			<button class="btn btn-default btn-xs" th:onclick="'timelineShowStatsGroup(\'' + ${group.id} + '\')'" th:title="|Show ${group.name} statistics group|"><span class="glyphicon glyphicon-scale"></span>&nbsp;&nbsp;[[${group.name}]]&nbsp;<span class="glyphicon glyphicon-menu-right"></span></button>
		</td>
	</tr>
	<th:block th:each="subGroup : ${group.subGroups}" th:if="${hasPointStats || !subGroup.needsStats}">
	<tr th:each="category : ${subGroup.categories}" th:if="${hasPointStats || !category.needsStats}" th:class="${'stats-group stats-group-' + group.id + (categoryStat.first ? ' first-row' : '')}" th:with="indexMod3=${subGroupStat.index % 3}">
		<td class="stats-header stats-" th:attrappend="class=${indexMod3 == 0 ? 'serve' : (indexMod3 == 1 ? 'return' : 'total')}" th:title="#{${category.descriptionId}}" th:text="${category.title}">Ace %</td>
		<td th:text="${hasPointStats || !category.needsStats ? category.getStatFormatted(careerStats) : _}" class="stats" th:attrappend="class=${category.hasRawData() ? ' pct-data' : _}">10%</td>
		<td th:each="season : ${seasons}" th:with="stats=${seasonsStats.get(season)}" th:text="${!category.needsStats || stats.hasPointStats() ? category.getStatFormatted(stats) : _}" class="stats" th:attrappend="class=${category.hasRawData() ? ' pct-data' : _}">10%</td>
		<td th:if="${category.hasRawData()}" th:text="${hasPointStats || !category.needsStats ? category.getStatUp(careerStats) + ' / ' + category.getStatDown(careerStats) : _}" class="raw-data stats">10 / 100</td>
		<td th:if="${category.hasRawData()}" th:each="season : ${seasons}" th:with="stats=${seasonsStats.get(season)}" th:text="${!category.needsStats || stats.hasPointStats() ? category.getStatUp(stats) + ' / ' + category.getStatDown(stats) : _}" class="raw-data stats">10 / 100</td>
	</tr>
	</th:block>
</th:block>
</th:block>