<th:block xmlns:th="http://www.thymeleaf.org">
	<!--/*@thymesVar id="playerId" type="java.lang.Integer"*/-->
	<!--/*@thymesVar id="levels" type="java.util.EnumSet<org.strangeforest.tcb.stats.model.TournamentLevel>"*/-->
	<!--/*@thymesVar id="surfaces" type="org.strangeforest.tcb.stats.model.Surface[]"*/-->
	<!--/*@thymesVar id="rounds" type="org.strangeforest.tcb.stats.model.Round[]"*/-->
	<script type="text/javascript" th:inline="javascript">
		/*<![CDATA[*/
		$(function() {
			var $rivalriesTable = $("#rivalriesTable");
			$rivalriesTable.bootgrid({
				ajax: true,
				ajaxSettings: {
					method: "GET",
					cache: false
				},
				url: "/playerRivalriesTable?playerId=[[${playerId}]]",
				requestHandler: function (request) {
					request.level = $("#rivalryLevel").val();
					request.surface = $("#rivalrySurface").val();
					request.round = $("#rivalryRound").val();
					return request;
				},
				rowCount: [10, 20, 50, -1],
				formatters: {
					"player": playerCountryFormatter,
					"matches": function(column, row) {
						return "<a href='/playerProfile?playerId=[[${playerId}]]&opponentId=" + row.playerId + rivalryFilterParams() + "' title='Show rivalry matches'>" + row.matches + "</a>"
					},
					"wonPctStr": function(column, row) {
						return "<span data-won-pct='" + row.wonPctClass + "'>" + row.wonPctStr + "</span>";
					},
					"lastMatch": function(column, row) {
						var match = row.lastMatch;
						var won = match.winnerId == [[${playerId}]];
						return "<span class='label label-" + (won ? "won" : "lost") + "'>" + (won ? "Won" : "Lost") + "</span> [ " + match.score + " ] at " +
							match.season + " " + tournamentEventFormatter(column, match) + " " + surfaceFormatter(column, match) + " " + match.round;
					},
					"stats": function(column, row) {
						return "<a id='rivalryStats-" + row.playerId + "' href='#' class='label label-info glyphicon glyphicon-stats' onclick='showRivalryStats(" + row.playerId + ", event)' title='" + row.name + " Rivalry Statistics'> Stats</a>";
					}
				},
				labels: {
					noResults: "No rivalries found"
				},
				templates: {
					paginationItem: bootgridTemplatePaginationItem
				}
			}).on("loaded.rs.jquery.bootgrid", function() {
				$rivalriesTable.find("span[data-won-pct]").each(function () {
					var $span = $(this);
					$span.parent().addClass("bg-won-" + $span.data("won-pct"));
				});
			});
			var $matchesTableHeader = $("#rivalriesTable-header");
			$matchesTableHeader.find("div.search").before($("#rivalryLevelDiv").remove()).before($("#rivalrySurfaceDiv").remove()).before($("#rivalryRoundDiv").remove()).after($("#clearRivalryFilterButton").remove());
			var $actionBar = $matchesTableHeader.find("div.actionBar");
			$actionBar.removeClass("col-sm-12").addClass("col-sm-11");
			$actionBar.before($("#rivalriesTitle").remove());
		});
		function reloadRivalries() {
			$("#rivalriesTable").bootgrid("reload");
		}
		function clearRivalryFilter() {
			$("#rivalryLevel").val("");
			$("#rivalrySurface").val("");
			$("#rivalryRound").val("");
			$("#rivalriesTable").bootgrid("search", "");
			reloadRivalries();
		}
		function showRivalryStats(opponentId, event) {
			var $rivalryStats = $("#rivalryStats-" + opponentId);
			if (!$rivalryStats.hasClass("loaded")) {
				event.preventDefault();
				$.get("rivalryStats?playerId=[[${playerId}]]&opponentId=" + opponentId + rivalryFilterParams(), function(data) {
					$rivalryStats.addClass("loaded").popover({content: data, html: true, placement: "auto right"});
					$rivalryStats.on("show.bs.popover", function() { $(this).data("bs.popover").tip().css("max-width", "800px"); }).click();
				});
			}
		}
		function rivalryFilterParams() {
			var params = "";
			var level = $("#rivalryLevel").val();
			if (level)
				params += "&level=" + level;
			var surface = $("#rivalrySurface").val();
			if (surface)
				params += "&surface=" + surface;
			var round = $("#rivalryRound").val();
			if (round)
				params += "&round=" + round;
			return params;
		}
		/*]]>*/
	</script>
	<div id="rivalriesTitle" class="col-sm-1" style="font-size: large; font-weight: bold">Rivalries</div>
	<div id="rivalryLevelDiv" class="btn-group" style="margin-right: 20px">
		<select id="rivalryLevel" class="form-control" onchange="reloadRivalries()" data-toggle="tooltip" data-placement="top" title="Filter by tournament level">
			<option value="">All levels</option>
			<option th:each="level : ${levels}" th:value="${level.code}" th:class="|bg-level-${level.code}|" value="G" class="bg-level-G" th:text="${level.text}">Grand Slam</option>
		</select>
	</div>
	<div id="rivalrySurfaceDiv" class="btn-group" style="margin-right: 20px">
		<select id="rivalrySurface" class="form-control" onchange="reloadRivalries()" data-toggle="tooltip" data-placement="top" title="Filter by surface">
			<option value="">All surfaces</option>
			<option th:each="surface : ${surfaces}" th:value="${surface.code}" th:class="|bg-surface-${surface.code}|" value="H" class="bg-surface-H" th:text="${surface.text}">Hard</option>
		</select>
	</div>
	<div id="rivalryRoundDiv" class="btn-group" style="margin-right: 20px">
		<select id="rivalryRound" class="form-control" onchange="reloadRivalries()" data-toggle="tooltip" data-placement="top" title="Filter by round">
			<option value="">All rounds</option>
			<option th:each="round : ${rounds}" th:value="${round.code}" th:class="|bg-result-${round.baseCode}|" value="F" class="bg-result-F" th:text="${round.text}">Final</option>
		</select>
	</div>
	<div id="clearRivalryFilterButton" class="btn-group" style="margin-right: 20px">
		<button type="button" class="btn btn-default" onclick="clearRivalryFilter()" data-toggle="tooltip" data-placement="top" title="Clear all filters">
			<span class="glyphicon glyphicon-remove"></span> Clear
		</button>
	</div>
	<table id="rivalriesTable" class="table table-condensed table-hover table-striped">
		<thead>
		<tr>
			<th data-column-id="name" data-formatter="player" data-sortable="false" data-width="120">Opponent</th>
			<th data-column-id="bestRank" data-type="numeric" data-width="60" data-align="right" data-header-align="right">Best Rank</th>
			<th data-column-id="matches" data-formatter="matches" data-order="desc" data-width="55" data-align="right" data-header-align="right">Matches</th>
			<th data-column-id="won" data-type="numeric" data-width="40" data-align="right" data-header-align="right">Won</th>
			<th data-column-id="lost" data-type="numeric" data-width="40" data-align="right" data-header-align="right">Lost</th>
			<th data-column-id="wonPctStr" data-formatter="wonPctStr" data-width="50" data-align="right" data-header-align="right">Win %</th>
			<th data-column-id="lastMatch" data-formatter="lastMatch" data-sortable="false" data-width="250">Last Match</th>
			<th data-column-id="stats" data-formatter="stats" data-sortable="false" data-width="50">Stats</th>
		</tr>
		</thead>
	</table>
</th:block>