<!--@thymesVar id="timeline" type="org.strangeforest.tcb.stats.model.PlayerTimeline"-->
<br/>
<th:block xmlns:th="http://www.thymeleaf.org">
	<script type="text/javascript" th:inline="javascript">
		/*<![CDATA[*/
		$(function() {
			var $timelineTable = $("#timelineTable");
			$timelineTable.find("span.surface").each(function() {
				var $surface = $(this);
				var surface = $surface.text();
				$surface.text(surfaceName(surface));
				$surface.addClass("label-" + surfaceClassSuffix(surface));
			});
			$timelineTable.find("span.level").each(function() {
				var $tournament = $(this);
				var level = $tournament.data("level");
				$tournament.addClass("label-" + levelClassSuffix(level));
			});
			$timelineTable.find("a[data-surface]").each(function() {
				var $result = $(this);
				var surface = $result.data("surface");
				$result.tooltip({title: "<span class='label label-" + surfaceClassSuffix(surface) + "'>" + surfaceName(surface) + "</span>", html: true});
			});
		});
		function reloadMatches() {
			$("#matchesTable").bootgrid("reload");
		}
		function clearMatchesFilter() {
			$("#matchesSeason").val("");
			$("#matchesLevel").val("");
			$("#matchesSurface").val("");
			$("#matchesTournament").val("");
			$("#tournamentEvent").val("");
			$("#matchesTable").bootgrid("search", "");
			reloadMatches();
		}
		/*]]>*/
	</script>
	<style scoped="scoped">
		.first-by-level {
			border-top: 3px solid lightgray;
		}
		span.absent {
			color: gray;
		}
	</style>
	<table id="timelineTable" class="table table-condensed table-hover table-bordered">
		<thead>
			<tr>
				<th>Tournament</th>
				<th>Surface</th>
				<th th:each="season : ${timeline.seasons}" th:text="${season}" align="center">2015</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="tournament : ${timeline.tournaments}" th:class="${tournament.firstByLevel ? 'first-by-level' : ''}">
				<td th:class="'bg-level-' + ${tournament.maxLevel}" class="bg-level-G">
					<span class="label level" th:attr="data-level=${tournament.maxLevel}" data-level="G" th:text="${tournament.name}">Wimbledon</span>
				</td>
				<td th:class="'no-wrap bg-level-' + ${tournament.maxLevel}" class="bg-level-G">
					<span th:each="surface : ${tournament.surfaces}" th:text="${surface}" class="label surface">G</span>
				</td>
				<td th:each="item : ${tournament.items}" th:class="${item.result != null ? 'bg-result-' + item.result : ''}" class="bg-result-W" align="center">
					<a th:if="${item.result}" th:text="${item.result}" th:href="'javascript:playerMatches(' + ${item.tournamentEventId} + ')'"
					   th:attr="data-surface=${tournament.surfaces.size() > 1 ? item.surface : ''}">W</a>
					<span th:unless="${item.result}" class="absent">A</span>
				</td>
			</tr>
			<tr th:if="${timeline.empty}">
				<td colspan="2" align="center">No results found!</td>
			</tr>
		</tbody>
	</table>
</th:block>