<th:block  xmlns:th="http://www.thymeleaf.org">
<!--@thymesVar id="seasons" type="java.util.List<java.lang.Integer>"-->
<!--@thymesVar id="surfaces" type="java.util.List<org.strangeforest.tcb.stats.model.Option>"-->
<!--@thymesVar id="season" type="java.lang.Integer"-->
<!--@thymesVar id="surface" type="java.lang.String"-->
<script type="text/javascript" th:inline="javascript">
	/*<![CDATA[*/
	function reloadStats() {
		var url = "/playerStatsTab?playerId=[[${playerId}]]";
		var season = $("#statsSeason").val();
		if (season != "")
			url += "&season=" + season;
		var surface = $("#statsSurface").val();
		if (surface != "")
			url += "&surface=" + surface;
		$("#statistics").load(url);
	}
	/*]]>*/
</script>
<br/>
<div class="row">
	<div class="col-md-3">
		<div class="input-group">
			<label for="statsSeason" class="input-group-addon">Season:</label>
			<select id="statsSeason" class="form-control" onchange="reloadStats()" data-toggle="tooltip" data-placement="top" title="Select season">
				<option value="">All seasons</option>
				<option th:each="aSeason : ${seasons}" th:value="${aSeason}" value="2005" th:text="${aSeason}" th:selected="${aSeason == season}">2005</option>
			</select>
		</div>
	</div>
	<div class="col-md-3">
		<div class="input-group">
			<label for="statsSurface" class="input-group-addon">Surface:</label>
			<select id="statsSurface" class="form-control" onchange="reloadStats()" data-toggle="tooltip" data-placement="top" title="Select surface">
				<option value="">All surfaces</option>
				<option th:each="option : ${surfaces}" th:value="${option.value}" th:class="|bg-surface-${option.value}|" value="H" class="bg-surface-H" th:text="${option.text}" th:selected="${option.value == surface}">Hard</option>
			</select>
		</div>
	</div>
</div>
<br/>
<div th:include="fragments/playerStats :: playerStats(elementId='playerStatsTab', popover=false, buttonId=null)"></div>
</th:block>