<br/>
<th:block xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="playerId" type="int[]"*/-->
<!--/*@thymesVar id="rankType" type="java.lang.String"*/-->
<!--/*@thymesVar id="fromDate" type="java.lang.String"*/-->
<!--/*@thymesVar id="toDate" type="java.lang.String"*/-->
<!--/*@thymesVar id="highlights" type="org.strangeforest.tcb.stats.model.RankingHighlights"*/-->
<!--/*@thymesVar id="seasons" type="java.util.List<java.lang.Integer>"*/-->
<!--/*@thymesVar id="rankCategories" type="org.strangeforest.tcb.stats.model.core.RankCategory[]"*/-->
<script th:src="@{/js/tennis-chart.js}"></script>
<script type="text/javascript">
	var rankChartData, bySeason, rankPointCount, isRank, logScale;
	function loadGoogleChartsForRanking() {
		google.load("visualization", "1.0", {packages:["corechart"], "language": "en", callback: function() {
			drawRankingChart();
		}});
	}
	function drawRankingChart() {
		bySeason = $("#rankingBySeason").prop("checked") && $("#rankingTimeSpan").val() != "1";
		isRank = $("#rankType").val().endsWith("RANK");
		var rankingUrlParams = rankingsChartUrlParams();
		if (rankingUrlParams == null) return;
		var url = "[(@{/playerRankingsTable(playerId=${playerId})})]" + rankingUrlParams;
		var $loading = $("#rankChartLoading");
		$loading.show();
		$.ajax(url).done(function(json) {
			rankChartData = new google.visualization.DataTable(JSON.stringify(json));
			logScale = isRank ? useLogScale(json) : false;
			rankPointCount = json.rows.length;
			var width = $("#rankChartSize").slider("value");
			showRankingChart(rankChartData, "rankChart", width, bySeason, rankPointCount, isRank, logScale, "[(${playerId.length > 1 ? 'bottom' : 'none'})]");
		}).always(function() {
			$loading.hide().css("position", "absolute").css("z-index", "100");
		});
	}
	function rankingsChartUrlParams() {
		var rankType = $("#rankType").val();
		var timeSpan = $("#rankingTimeSpan").val();
		var params = "&rankType=" + rankType + "&timeSpan=" + timeSpan;
		var bySeason = $("#rankingBySeason").prop("checked") && timeSpan != "1";
		if (bySeason) params += "&bySeason=" + bySeason;
		if (timeSpan == "CS") {
			if (bySeason) {
				var fromSeason = $("#rankingFromSeason").val();
				if (fromSeason) params += "&fromSeason=" + fromSeason;
				var toSeason = $("#rankingToSeason").val();
				if (toSeason) params += "&toSeason=" + toSeason;
			}
			else {
				var fromDate = getDate("rankingFromDate", "from date");
				if (fromDate == null) return;
				else if (fromDate) params += "&fromDate=" + fromDate;
				var toDate = getDate("rankingToDate", "to date");
				if (toDate == null) return;
				else if (toDate) params += "&toDate=" + toDate;
			}
		}
		var byAge = $("#rankingByAge").prop("checked");
		if (byAge && timeSpan == "CR") params += "&byAge=" + byAge;
		var compensatePoints = $("#compensatePoints").prop("checked");
		if (compensatePoints && rankType == "POINTS") params += "&compensatePoints=" + compensatePoints;
		return params;
	}
	function onRankingTimeSpanChange() {
		var timeSpan = $("#rankingTimeSpan").val();
		var bySeason = $("#rankingBySeason").prop("checked");
		$("#rankingBySeasonDiv").css("display", timeSpan != "1" ? "block" : "none");
		$("#rankingDateRange").css("display", timeSpan == "CS" && !bySeason ? "table" : "none");
		$("#rankingSeasonRange").css("display", timeSpan == "CS" && bySeason ? "table" : "none");
		$("#rankingByAgeDiv").css("display", timeSpan == "CR" ? "block" : "none");
	}
	function onRankTypeChange() {
		$("#compensatePointsDiv").css("visibility", $("#rankType").val() == "POINTS" ? "visible" : "hidden");
	}
	$(function() {
		dateRangePicker("rankingFromDate", "rankingToDate", "[(${!seasons.empty ? (seasons.get(seasons.size()-1) + ':' + seasons.get(0)) : _})]");
		$("#rankChartSize").slider({
			min: 500,
			max: 1500,
			value: defaultChartWOLegendSize(detectDevice()),
			step: 50,
			slide: function(event, ui) {
				showRankingChart(rankChartData, "rankChart", ui.value, bySeason, rankPointCount, isRank, logScale, "[(${playerId.length > 1 ? 'bottom' : 'none'})]");
			}
		});
		onRankingTimeSpanChange();
		onRankTypeChange();
		$("[data-toggle='tooltip']").tooltip();
		bindPopovers();
	});
</script>
<script async defer type="text/javascript" src="https://www.google.com/jsapi?callback=loadGoogleChartsForRanking"></script>
<style scoped="scoped">
	.checkbox {
		margin-top: 7px;
		margin-bottom: 7px;
	}
</style>
<div class="row">
	<div class="col-md-3">
		<div class="input-group">
			<label for="rankType" class="input-group-addon">Rank type:</label>
			<select id="rankType" class="form-control" onchange="onRankTypeChange()">
				<optgroup th:each="rankCategory : ${rankCategories}" th:label="${rankCategory.text}" label="ATP">
					<option th:each="aRankType : ${rankCategory.rankTypes}" th:value="${aRankType}" th:class="${aRankType.surface == null ? _ : 'bg-surface-' + aRankType.surface.code}" value="RANK" th:text="${aRankType.text}" th:selected="${aRankType.name() == rankType}">ATP Ranking</option>
				</optgroup>
			</select>
		</div>
	</div>
	<div class="col-md-2">
		<div id="compensatePointsDiv" class="checkbox">
			<label data-toggle="tooltip" data-placement="top" title="Compensate ranking points before 2009 to match new ATP ranking system">
				<input id="compensatePoints" type="checkbox"/> Compensate points
			</label>
		</div>
	</div>
	<div class="col-md-2">
		<div id="rankChartSize" style="margin-top: 6px"></div>
		<div style="text-align: center; opacity: 0.5; height: 15px">Chart size</div>
	</div>
	<div class="col-md-2">
		<a class="btn btn-primary pull-right" href="#" role="button" onclick="drawRankingChart()">
			<i class="fa fa-bar-chart"></i>&nbsp;&nbsp;Draw Chart
		</a>
	</div>
</div>
<div class="row" style="margin-top: 5px">
	<div class="col-md-3">
		<div class="input-group">
			<label for="rankingTimeSpan" class="input-group-addon">Time span:</label>
			<select id="rankingTimeSpan" class="form-control" onchange="onRankingTimeSpanChange()">
				<option value="CR">Career</option>
				<option value="1">Last 52 weeks</option>
				<option value="2">Last two years</option>
				<option value="3">Last three years</option>
				<option value="5">Last five years</option>
				<option value="10">Last ten years</option>
				<option value="CS" th:selected="${fromDate != null || toDate != null}">Custom</option>
			</select>
		</div>
	</div>
	<div class="col-md-2">
		<div id="rankingBySeasonDiv" class="checkbox">
			<label data-toggle="tooltip" data-placement="top" title="Show chart by season (year-end)">
				<input id="rankingBySeason" type="checkbox" onchange="onRankingTimeSpanChange()"/> By season
			</label>
		</div>
	</div>
	<div class="col-md-4">
		<div id="rankingDateRange" class="input-group" style="display: none">
			<label for="rankingFromDate" class="input-group-addon">From:</label>
			<input id="rankingFromDate" type="text" maxlength="10" class="form-control" th:value="${fromDate}"/>
			<label for="rankingToDate" class="input-group-addon">To:</label>
			<input id="rankingToDate" type="text" maxlength="10" class="form-control" th:value="${toDate}"/>
		</div>
		<div id="rankingSeasonRange" class="input-group" style="display: none">
			<label for="rankingFromSeason" class="input-group-addon">From:</label>
			<select id="rankingFromSeason" class="form-control">
				<option value="">All seasons</option>
				<option th:each="season : ${seasons}" th:value="${season}" value="2005" th:text="${season}">2005</option>
			</select>
			<label for="rankingToSeason" class="input-group-addon">To:</label>
			<select id="rankingToSeason" class="form-control">
				<option value="">All seasons</option>
				<option th:each="season : ${seasons}" th:value="${season}" value="2005" th:text="${season}">2005</option>
			</select>
		</div>
		<div id="rankingByAgeDiv" class="checkbox">
			<label data-toggle="tooltip" data-placement="top" title="Show chart by age">
				<input id="rankingByAge" type="checkbox"/> By age
			</label>
		</div>
	</div>
</div>
<div class="row" style="margin-top: 5px">
	<div class="row col-md-9 text-center">
		<div id="rankChartLoading" style="width: 100%; display: none">
			<br/>
			<img src="/images/loading-chart.gif" width="128" height="128" alt="Loading chart..."/>
			<br/>
		</div>
	</div>
</div>
<div id="rankChart"></div>
<div th:if="${highlights}" class="row">
	<div class="col-md-5">
		<h4>Ranking Highlights</h4>
		<table class="table table-condensed text-nowrap">
			<tr th:if="${highlights.currentRank > 0}">
				<th>Current Rank</th>
				<td th:text="${highlights.currentRank} + ' (' + ${highlights.currentRankPoints} + ')'">10 (3000)</td>
			</tr>
			<tr th:if="${highlights.bestRank > 0}">
				<th>Best Rank</th>
				<td th:text="${highlights.bestRank} + ' (' + ${#temporals.format(highlights.bestRankDate, 'dd-MM-yyyy')} + ')'">5 (01-01-2010)</td>
			</tr>
			<tr th:if="${highlights.bestRankPoints > 0}">
				<th>Most Rank Points</th>
				<td th:text="${highlights.bestRankPoints} + ' (' + ${#temporals.format(highlights.bestRankPointsDate, 'dd-MM-yyyy')} + ')'">5000 (01-01-2011)</td>
			</tr>
			<tr th:if="${highlights.bestYearEndRank > 0}">
				<th>Best Year-End Rank</th>
				<td th:text="${highlights.bestYearEndRank} + ' (' + ${highlights.bestYearEndRankSeasons} + ')'">10 (2001, 2003)</td>
			</tr>
			<tr th:if="${highlights.bestYearEndRankPoints > 0}">
				<th>Most Year-End Rank Points</th>
				<td th:text="${highlights.bestYearEndRankPoints} + ' (' + ${highlights.bestYearEndRankPointsSeasons} + ')'">3450 (2001, 2003)</td>
			</tr>
			<tr th:if="${highlights.mostFrequentRank}" th:with="mostFrequentRank=${highlights.mostFrequentRank}">
				<th>Most Frequent Rank</th>
				<td th:text="${mostFrequentRank.rank} + ' (' + ${#numbers.formatInteger(mostFrequentRank.duration, 0)} + ' week' + ${mostFrequentRank.duration > 1 ? 's' : ''} + ')'">10 (20 weeks)</td>
			</tr>
			<tr th:if="${highlights.mostFrequentYearEndRank}" th:with="mostFrequentRank=${highlights.mostFrequentYearEndRank}">
				<th>Most Frequent Year-End Rank</th>
				<td th:text="${mostFrequentRank.rank} + ' (' + ${mostFrequentRank.duration} + ' year' + ${mostFrequentRank.duration > 1 ? 's' : ''} + ')'">10 (3 years)</td>
			</tr>
			<tr th:if="${highlights.goatPoints > 0}">
				<th>GOAT Rank</th>
				<td>
					<th:block th:text="${highlights.goatRank}">50</th:block>
					(<a th:href="@{/playerProfile(playerId=${playerId}, tab=goatPoints)}" th:text="${highlights.goatPoints}" title="Show GOAT points distribution">25</a>)
				</td>
			</tr>
		</table>
	</div>
	<div class="col-md-2">
		<th:block th:if="${highlights.weeksInTop100 > 0}">
		<h4>Weeks</h4>
		<table class="table table-condensed text-nowrap">
			<tr th:if="${highlights.weeksAtNo1 > 0}">
				<th>At No. 1</th>
				<td th:text="${highlights.weeksAtNo1}" align="right">50</td>
			</tr>
			<tr th:if="${highlights.weeksInTop5 > 0}">
				<th>In Top 5</th>
				<td th:text="${highlights.weeksInTop5}" align="right">100</td>
			</tr>
			<tr th:if="${highlights.weeksInTop10 > 0}">
				<th>In Top 10</th>
				<td th:text="${highlights.weeksInTop10}" align="right">200</td>
			</tr>
			<tr th:if="${highlights.weeksInTop20 > 0}">
				<th>In Top 20</th>
				<td th:text="${highlights.weeksInTop20}" align="right">300</td>
			</tr>
			<tr th:if="${highlights.weeksInTop50 > 0}">
				<th>In Top 50</th>
				<td th:text="${highlights.weeksInTop50}" align="right">400</td>
			</tr>
			<tr th:if="${highlights.weeksInTop100 > 0}">
				<th>In Top 100</th>
				<td th:text="${highlights.weeksInTop100}" align="right">500</td>
			</tr>
		</table>
		</th:block>
		<th:block th:if="${highlights.yearEndsInTop100 > 0}">
		<h4>Year-Ends</h4>
		<table class="table table-condensed text-nowrap">
			<tr th:if="${highlights.yearEndsAtNo1 > 0}">
				<th>At No. 1</th>
				<td th:text="${highlights.yearEndsAtNo1}" align="right">1</td>
			</tr>
			<tr th:if="${highlights.yearEndsInTop5 > 0}">
				<th>In Top 5</th>
				<td th:text="${highlights.yearEndsInTop5}" align="right">1</td>
			</tr>
			<tr th:if="${highlights.yearEndsInTop10 > 0}">
				<th>In Top 10</th>
				<td th:text="${highlights.yearEndsInTop10}" align="right">2</td>
			</tr>
			<tr th:if="${highlights.yearEndsInTop20 > 0}">
				<th>In Top 20</th>
				<td th:text="${highlights.yearEndsInTop20}" align="right">3</td>
			</tr>
			<tr th:if="${highlights.yearEndsInTop50 > 0}">
				<th>In Top 50</th>
				<td th:text="${highlights.yearEndsInTop50}" align="right">4</td>
			</tr>
			<tr th:if="${highlights.yearEndsInTop100 > 0}">
				<th>In Top 100</th>
				<td th:text="${highlights.yearEndsInTop100}" align="right">5</td>
			</tr>
		</table>
		</th:block>
	</div>
	<div th:if="${highlights.hasElo()}" class="col-md-5">
		<h4>Elo Ranking</h4>
		<table class="table table-condensed text-nowrap" th:with="hasCurrent=${highlights.hasCurrentElo()}">
			<tr>
				<th>Elo</th>
				<th th:if="${hasCurrent}" class="text-right">Current</th>
				<th class="text-right">Best Rank</th>
				<th class="text-right">Peak Rating</th>
			</tr>
			<th:block th:with="elo=${highlights.elo}">
			<tr th:unless="${elo.empty}">
				<th>Overall</th>
				<td th:if="${hasCurrent}" th:text="${elo.currentRank > 0 ? elo.currentRank + ' (' + elo.currentRating + ')' : _}" align="right">5 (2210)</td>
				<td th:text="${elo.bestRank > 0 ? elo.bestRank + ' (' + #temporals.format(elo.bestRankDate, 'dd-MM-yyyy') + ')' : _}" align="right">5 (01-01-2010)</td>
				<td th:text="${elo.bestRating > 0 ? elo.bestRating + ' (' + #temporals.format(elo.bestRatingDate, 'dd-MM-yyyy') + ')' : _}" align="right">2450 (01-01-2011)</td>
			</tr>
			</th:block>
			<th:block th:with="elo=${highlights.hardElo}">
			<tr class="bg-surface-H" th:unless="${elo.empty}">
				<th>Hard</th>
				<td th:if="${hasCurrent}" th:text="${elo.currentRank > 0 ? elo.currentRank + ' (' + elo.currentRating + ')' : _}" align="right">5 (2210)</td>
				<td th:text="${elo.bestRank > 0 ? elo.bestRank + ' (' + #temporals.format(elo.bestRankDate, 'dd-MM-yyyy') + ')' : _}" align="right">5 (01-01-2010)</td>
				<td th:text="${elo.bestRating > 0 ? elo.bestRating + ' (' + #temporals.format(elo.bestRatingDate, 'dd-MM-yyyy') + ')' : _}" align="right">2450 (01-01-2011)</td>
			</tr>
			</th:block>
			<th:block th:with="elo=${highlights.clayElo}">
			<tr class="bg-surface-C" th:unless="${elo.empty}">
				<th>Clay</th>
				<td th:if="${hasCurrent}" th:text="${elo.currentRank > 0 ? elo.currentRank + ' (' + elo.currentRating + ')' : _}" align="right">5 (2210)</td>
				<td th:text="${elo.bestRank > 0 ? elo.bestRank + ' (' + #temporals.format(elo.bestRankDate, 'dd-MM-yyyy') + ')' : _}" align="right">5 (01-01-2010)</td>
				<td th:text="${elo.bestRating > 0 ? elo.bestRating + ' (' + #temporals.format(elo.bestRatingDate, 'dd-MM-yyyy') + ')' : _}" align="right">2450 (01-01-2011)</td>
			</tr>
			</th:block>
			<th:block th:with="elo=${highlights.grassElo}">
			<tr class="bg-surface-G" th:unless="${elo.empty}">
				<th>Grass</th>
				<td th:if="${hasCurrent}" th:text="${elo.currentRank > 0 ? elo.currentRank + ' (' + elo.currentRating + ')' : _}" align="right">5 (2210)</td>
				<td th:text="${elo.bestRank > 0 ? elo.bestRank + ' (' + #temporals.format(elo.bestRankDate, 'dd-MM-yyyy') + ')' : _}" align="right">5 (01-01-2010)</td>
				<td th:text="${elo.bestRating > 0 ? elo.bestRating + ' (' + #temporals.format(elo.bestRatingDate, 'dd-MM-yyyy') + ')' : _}" align="right">2450 (01-01-2011)</td>
			</tr>
			</th:block>
			<th:block th:with="elo=${highlights.carpetElo}">
			<tr class="bg-surface-P" th:unless="${elo.empty}">
				<th>Carpet</th>
				<td th:if="${hasCurrent}" th:text="${elo.currentRank > 0 ? elo.currentRank + ' (' + elo.currentRating + ')' : _}" align="right">5 (2210)</td>
				<td th:text="${elo.bestRank > 0 ? elo.bestRank + ' (' + #temporals.format(elo.bestRankDate, 'dd-MM-yyyy') + ')' : _}" align="right">5 (01-01-2010)</td>
				<td th:text="${elo.bestRating > 0 ? elo.bestRating + ' (' + #temporals.format(elo.bestRatingDate, 'dd-MM-yyyy') + ')' : _}" align="right">2450 (01-01-2011)</td>
			</tr>
			</th:block>
			<th:block th:with="elo=${highlights.outdoorElo}">
			<tr th:unless="${elo.empty}">
				<th>Outdoor</th>
				<td th:if="${hasCurrent}" th:text="${elo.currentRank > 0 ? elo.currentRank + ' (' + elo.currentRating + ')' : _}" align="right">5 (2210)</td>
				<td th:text="${elo.bestRank > 0 ? elo.bestRank + ' (' + #temporals.format(elo.bestRankDate, 'dd-MM-yyyy') + ')' : _}" align="right">5 (01-01-2010)</td>
				<td th:text="${elo.bestRating > 0 ? elo.bestRating + ' (' + #temporals.format(elo.bestRatingDate, 'dd-MM-yyyy') + ')' : _}" align="right">2450 (01-01-2011)</td>
			</tr>
			</th:block>
			<th:block th:with="elo=${highlights.indoorElo}">
			<tr th:unless="${elo.empty}">
				<th>Indoor</th>
				<td th:if="${hasCurrent}" th:text="${elo.currentRank > 0 ? elo.currentRank + ' (' + elo.currentRating + ')' : _}" align="right">5 (2210)</td>
				<td th:text="${elo.bestRank > 0 ? elo.bestRank + ' (' + #temporals.format(elo.bestRankDate, 'dd-MM-yyyy') + ')' : _}" align="right">5 (01-01-2010)</td>
				<td th:text="${elo.bestRating > 0 ? elo.bestRating + ' (' + #temporals.format(elo.bestRatingDate, 'dd-MM-yyyy') + ')' : _}" align="right">2450 (01-01-2011)</td>
			</tr>
			</th:block>
			<th:block th:with="elo=${highlights.setElo}">
			<tr th:unless="${elo.empty}">
				<th>Set</th>
				<td th:if="${hasCurrent}" th:text="${elo.currentRank > 0 ? elo.currentRank + ' (' + elo.currentRating + ')' : _}" align="right">5 (2210)</td>
				<td th:text="${elo.bestRank > 0 ? elo.bestRank + ' (' + #temporals.format(elo.bestRankDate, 'dd-MM-yyyy') + ')' : _}" align="right">5 (01-01-2010)</td>
				<td th:text="${elo.bestRating > 0 ? elo.bestRating + ' (' + #temporals.format(elo.bestRatingDate, 'dd-MM-yyyy') + ')' : _}" align="right">2450 (01-01-2011)</td>
			</tr>
			</th:block>
			<th:block th:with="elo=${highlights.serviceGameElo}">
			<tr th:unless="${elo.empty}">
				<th>Service Game</th>
				<td th:if="${hasCurrent}" th:text="${elo.currentRank > 0 ? elo.currentRank + ' (' + elo.currentRating + ')' : _}" align="right">5 (2210)</td>
				<td th:text="${elo.bestRank > 0 ? elo.bestRank + ' (' + #temporals.format(elo.bestRankDate, 'dd-MM-yyyy') + ')' : _}" align="right">5 (01-01-2010)</td>
				<td th:text="${elo.bestRating > 0 ? elo.bestRating + ' (' + #temporals.format(elo.bestRatingDate, 'dd-MM-yyyy') + ')' : _}" align="right">2450 (01-01-2011)</td>
			</tr>
			</th:block>
			<th:block th:with="elo=${highlights.returnGameElo}">
			<tr th:unless="${elo.empty}">
				<th>Return Game</th>
				<td th:if="${hasCurrent}" th:text="${elo.currentRank > 0 ? elo.currentRank + ' (' + elo.currentRating + ')' : _}" align="right">5 (2210)</td>
				<td th:text="${elo.bestRank > 0 ? elo.bestRank + ' (' + #temporals.format(elo.bestRankDate, 'dd-MM-yyyy') + ')' : _}" align="right">5 (01-01-2010)</td>
				<td th:text="${elo.bestRating > 0 ? elo.bestRating + ' (' + #temporals.format(elo.bestRatingDate, 'dd-MM-yyyy') + ')' : _}" align="right">2450 (01-01-2011)</td>
			</tr>
			</th:block>
			<th:block th:with="elo=${highlights.tieBreakElo}">
			<tr th:unless="${elo.empty}">
				<th>Tie Break</th>
				<td th:if="${hasCurrent}" th:text="${elo.currentRank > 0 ? elo.currentRank + ' (' + elo.currentRating + ')' : _}" align="right">5 (2210)</td>
				<td th:text="${elo.bestRank > 0 ? elo.bestRank + ' (' + #temporals.format(elo.bestRankDate, 'dd-MM-yyyy') + ')' : _}" align="right">5 (01-01-2010)</td>
				<td th:text="${elo.bestRating > 0 ? elo.bestRating + ' (' + #temporals.format(elo.bestRatingDate, 'dd-MM-yyyy') + ')' : _}" align="right">2450 (01-01-2011)</td>
			</tr>
			</th:block>
		</table>
		<th:block th:include="fragments/aboutElo :: aboutElo('left')"/>
		<div th:include="fragments/aboutElo :: aboutEloFormula"></div>
	</div>
</div>
</th:block>