<br/>
<th:block xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="playerId" type="java.lang.Integer"*/-->
<!--/*@thymesVar id="playerName" type="java.lang.String"*/-->
<!--/*@thymesVar id="seasons" type="java.util.List<java.lang.Integer>"*/-->
<!--/*@thymesVar id="levels" type="java.util.Set<org.strangeforest.tcb.stats.model.core.TournamentLevel>"*/-->
<!--/*@thymesVar id="levelGroups" type="java.util.Set<org.strangeforest.tcb.stats.model.core.TournamentLevelGroup>"*/-->
<!--/*@thymesVar id="surfaces" type="org.strangeforest.tcb.stats.model.core.Surface[]"*/-->
<!--/*@thymesVar id="surfaceGroups" type="org.strangeforest.tcb.stats.model.core.SurfaceGroup[]"*/-->
<!--/*@thymesVar id="speeds" type="org.strangeforest.tcb.stats.model.core.CourtSpeed[]"*/-->
<!--/*@thymesVar id="rounds" type="org.strangeforest.tcb.stats.model.core.Round[]"*/-->
<!--/*@thymesVar id="results" type="org.strangeforest.tcb.stats.model.core.EventResult[]"*/-->
<!--/*@thymesVar id="opponentCategories" type="java.util.Map<org.strangeforest.tcb.stats.service.Opponent.OpponentCategory, List<org.strangeforest.tcb.stats.service.Opponent>>"*/-->
<!--/*@thymesVar id="tournaments" type="java.util.List<org.strangeforest.tcb.stats.model.core.TournamentItem>"*/-->
<!--/*@thymesVar id="tournamentEvents" type="java.util.List<org.strangeforest.tcb.stats.model.core.TournamentEventItem>"*/-->
<!--/*@thymesVar id="season" type="java.lang.Integer"*/-->
<!--/*@thymesVar id="fromDate" type="java.time.LocalDate"*/-->
<!--/*@thymesVar id="toDate" type="java.time.LocalDate"*/-->
<!--/*@thymesVar id="level" type="java.lang.String"*/-->
<!--/*@thymesVar id="bestOf" type="java.lang.Integer"*/-->
<!--/*@thymesVar id="surface" type="java.lang.String"*/-->
<!--/*@thymesVar id="indoor" type="java.lang.Boolean"*/-->
<!--/*@thymesVar id="speed" type="java.lang.Integer"*/-->
<!--/*@thymesVar id="round" type="java.lang.String"*/-->
<!--/*@thymesVar id="result" type="java.lang.String"*/-->
<!--/*@thymesVar id="opponent" type="java.lang.String>"*/-->
<!--/*@thymesVar id="opponentName" type="java.lang.String>"*/-->
<!--/*@thymesVar id="tournamentId" type="java.lang.Integer>"*/-->
<!--/*@thymesVar id="tournamentEventId" type="java.lang.Integer>"*/-->
<!--/*@thymesVar id="outcome" type="java.lang.String"*/-->
<!--/*@thymesVar id="score" type="java.lang.String"*/-->
<!--/*@thymesVar id="countryId" type="java.lang.String"*/-->
<!--/*@thymesVar id="bigWin" type="java.lang.Boolean"*/-->
<!--/*@thymesVar id="searchPhrase" type="java.lang.String"*/-->
<!--/*@thymesVar id="categoryClasses" type="java.util.Map<java.lang.String, java.util.List<org.strangeforest.tcb.stats.model.core.StatsCategory>>"*/-->
<!--/*@thymesVar id="countries" type="java.util.List<com.neovisionaries.i18n.CountryCode>"*/-->
<script type="text/javascript">
	var isChrome = navigator.userAgent.toLowerCase().indexOf("chrome") > -1;
	var lastMatchesStatsFilter;
	$(function() {
		var $matchesTable = $("#matchesTable");
		var device = detectDevice();
		setBootgridColumnsVisible($matchesTable, ["matchEx", "h2h"], deviceGreaterOrEqual(device, "xl"));
		setBootgridColumnsVisible($matchesTable, ["match"], deviceLessOrEqual(device, "lg"));
		setBootgridColumnsVisible($matchesTable, ["wonLost"], deviceGreaterOrEqual(device, "lg"));
		setBootgridColumnsVisible($matchesTable, ["stats"], deviceGreaterOrEqual(device, "md"));
		setBootgridColumnsVisible($matchesTable, ["surface"], deviceGreaterOrEqual(device, "sm"));
		setBootgridColumnsVisible($matchesTable, ["bigWinPoints"], [(${bigWin})]);
		if (deviceLessOrEqual(device, "sm"))
			setBootgridColumnsWidths($matchesTable, ["tournament", "match", "score"], [150, 250, 125]);
		$matchesTable.bootgrid({
			ajax: true,
			ajaxSettings: {
				method: "GET",
				cache: false
			},
			url: "/matchesTable?playerId=[(${playerId})]",
			requestHandler: function(request) {
				request.season = $("#matchesSeason").val();
				request.fromDate = $("#matchesFromDate").val();
				request.toDate = $("#matchesToDate").val();
				request.level = $("#matchesLevel").val();
				request.bestOf = $("#matchesBestOf").val();
				request.surface = $("#matchesSurface").val();
				request.indoor = $("#matchesIndoor").val();
				request.speed = $("#matchesSpeed").val();
				request.round = $("#matchesRound").val();
				request.result = $("#matchesResult").val();
				request.opponent = $("#matchesOpponent").val();
				request.tournamentId = $("#matchesTournament").val();
				request.tournamentEventId = $("#matchesTournamentEvent").val();
				request.outcome = $("#matchesOutcome").val();
				request.score = $("#matchesScore").val();
				lastMatchesStatsFilter = matchesStatsFilter();
				if (lastMatchesStatsFilter.hasFilter()) {
					request.statsCategory = lastMatchesStatsFilter.category;
					request.statsFrom = lastMatchesStatsFilter.from;
					request.statsTo = lastMatchesStatsFilter.to;
				}
				request.countryId = $("#matchesCountry").val();
				request.bigWin = $("#matchesBigWin").prop("checked");
				return request;
			},
			rowCount: [15, 25, 50, -1],
			formatters: {
				"date": dateFormatter,
				"tournament": tournamentEventFormatter,
				"surface": surfaceFormatter,
				"speed": speedFormatter,
				"wonLost": wonLostFormatter([(${playerId})]),
				"match": matchFormatter([(${playerId})]),
				"matchEx": matchExFormatter([(${playerId})]),
				"score": scoreFormatter,
				"bigWinPoints": function(column, row) {
					var bigWinPoints = row.bigWinPoints;
					return bigWinPoints >= 0 ? bigWinPoints.toFixed(2) : "";
				},
				"stats": function(column, row) {
					return row.hasStats ? "<a id='matchStats-" + row.id + "' href='#' class='label label-info label-btn' onclick='showMatchStats(" + row.id + ", event)' title='Match Statistics'><span class='glyphicon glyphicon-stats'></span>&nbsp;&nbsp;Stats</a>" : "";
				},
				"h2h": function(column, row) {
					return "<a href='/headToHead?playerId1=[(${playerId})]&playerId2=" + (row.winner.id === [(${playerId})] ? row.loser.id : row.winner.id) + "' class='label label-primary label-btn'" + (isChrome ? " style='padding: 3px 7px'" : "") + " title='Show Head-to-Head'>H2H</a>"
				}
			},
			labels: {
				loading: bootgridTemplateLoading,
				noResults: "No matches found"
			},
			templates: {
				paginationItem: bootgridTemplatePaginationItem
			}
		}).bootgrid("search", "[(${searchPhrase})]").on("load.rs.jquery.bootgrid", function() {
			updateMatchesStatsCategoryStat();
		}).on("loaded.rs.jquery.bootgrid", function() {
			$("#matchesStats").popover("destroy").removeClass("loaded");
		});
		var $search = $("#matchesTable-header").find("div.search");
		$search.before($("#matchesTournamentDiv").remove());
		$search.before($("#matchesTournamentEventDiv").remove());
		$search.before($("#matchesOutcomeDiv").remove());
		$search.before($("#matchesStats").remove());
		dateRangePicker("matchesFromDate", "matchesToDate", "[(${!seasons.empty ? (seasons.get(seasons.size()-1) + ':' + seasons.get(0)) : _})]");
		setBootgridTitles($matchesTable, [
			{id: "speed", title: "[[#{event.courtSpeed.title}]]"},
			{id: "bestOf", title: "Best of"},
			{id: "bigWinPoints", title: "Big Win GOAT Points"}
		]);
		$("[data-toggle='tooltip']").tooltip();
	});
	function reloadMatches() {
		if (validateMatchesFilter())
			$("#matchesTable").bootgrid("reload");
	}
	function matchesStatsFilter() {
		return new StatsFilter($("#matchesStatsCategory"), $("#matchesStatsFrom"), $("#matchesStatsTo"))
	}
	function validateMatchesFilter() {
		return getDate("matchesFromDate", "from date") !== null && getDate("matchesToDate", "to date") !== null && validateStatsFilter($("#matchesStatsFrom"), $("#matchesStatsTo"), $("#matchesStatsRange"));
	}
	function matchesStatsFilterChanged() {
		if (!lastMatchesStatsFilter.equals(matchesStatsFilter()))
			reloadMatches();
	}
	function updateMatchesStatsCategoryStat() {
		var $category = $("#matchesStatsCategory");
		var $label = $("#matchesStatsCategoryLabel");
		var category = $category.val();
		if (category) {
			var url = "/matchesStat" + matchStatsParams();
			url += "&statsCategory=" + category;
			$.get(url, function (data) {
				var type = $category.find(":selected").data("type");
				var stat = parseFloat(data);
				switch (type) {
					case "PERCENTAGE": stat = stat.toFixed(1) + "%"; break;
					case "RATIO1": stat = stat.toFixed(0); break;
					case "RATIO2": stat = stat.toFixed(1); break;
					case "RATIO3": stat = stat.toFixed(2); break;
					case "TIME": stat = Math.floor(stat / 60) + ":" + Math.round(stat % 60); break;
				}
				$label.html(stat);
			});
		}
		else
			$label.html("");
	}
	function matchesStatsCategoryChanged() {
		updateMatchesStatsCategoryStat();
		matchesStatsFilterChanged();
	}
	function clearMatchesFilter() {
		$("#matchesSeason").val("");
		$("#matchesFromDate").val("");
		$("#matchesToDate").val("");
		$("#matchesLevel").val("");
		$("#matchesBestOf").val("");
		$("#matchesSurface").val("");
		$("#matchesIndoor").val("");
		$("#matchesSpeed").val("");
		$("#matchesRound").val("");
		$("#matchesResult").val("");
		$("#matchesOpponent").val("");
		$("#matchesTournament").val("");
		$("#matchesTournamentEvent").val("");
		$("#matchesOutcome").val("");
		$("#matchesScore").val("");
		$("#matchesStatsCategory").val("");
		$("#matchesStatsFrom").val("");
		$("#matchesStatsTo").val("");
		$("#matchesCountry").val("");
		$("#matchesBigWin").prop("checked", false);
		$("#matchesTable").bootgrid("search", "");
		reloadMatches();
	}
	function matchStatsParams() {
		var params = "?playerId=[(${playerId})]";
		params += "&season=" + $("#matchesSeason").val();
		params += "&fromDate=" + $("#matchesFromDate").val();
		params += "&toDate=" + $("#matchesToDate").val();
		params += "&level=" + $("#matchesLevel").val();
		params += "&bestOf=" + $("#matchesBestOf").val();
		params += "&surface=" + $("#matchesSurface").val();
		params += "&indoor=" + $("#matchesIndoor").val();
		params += "&speed=" + $("#matchesSpeed").val();
		params += "&round=" + encodeURIComponent($("#matchesRound").val());
		params += "&result=" + encodeURIComponent($("#matchesResult").val());
		params += "&opponent=" + $("#matchesOpponent").val();
		params += "&tournamentId=" + $("#matchesTournament").val();
		params += "&tournamentEventId=" + $("#matchesTournamentEvent").val();
		params += "&outcome=" + $("#matchesOutcome").val();
		params += "&score=" + encodeURIComponent($("#matchesScore").val());
		params += "&countryId=" + $("#matchesCountry").val();
		params += "&bigWin=" + $("#matchesBigWin").prop("checked");
		params += "&searchPhrase=" + $("#matchesTable-header").find("input.search-field").val();
		return params;
	}
	function showMatchesStats(event) {
		if (!validateMatchesFilter())
			return;
		var $matchesStats = $("#matchesStats");
		if (!$matchesStats.hasClass("loaded")) {
			event.preventDefault();
			var url = "/matchesStats" + matchStatsParams();
			var statsFilter = matchesStatsFilter();
			if (statsFilter.hasFilter()) {
				url += "&statsCategory=" + statsFilter.category;
				url += "&statsFrom=" + statsFilter.from;
				url += "&statsTo=" + statsFilter.to;
			}
			$.get(url, function(data) {
				$matchesStats.addClass("loaded").popover({content: data, html: true, placement: "auto left"});
				$matchesStats.on("show.bs.popover", function() { $(this).data("bs.popover").tip().css("max-width", "1000px"); }).click();
				$matchesStats.data("statsURL", url);
			});
		}
	}
</script>
<style scoped="scoped">
	.option-won {
		background-color: #e0ffe0;
	}
	.option-lost {
		background-color: #ffe8e8;
	}
	.option-abd {
		background-color: #ffffd0;
	}
</style>
<div class="row">
	<div class="col-md-2">
		<select id="matchesSeason" class="form-control" onchange="reloadMatches()" data-toggle="tooltip" data-placement="top" title="Select career or filter by season">
			<option value="">Career</option>
			<option value="-1" th:selected="${season == -1}">Last 52 weeks</option>
			<option th:each="aSeason : ${seasons}" th:value="${aSeason}" value="2005" th:text="${aSeason}" th:selected="${aSeason == season}">2005</option>
		</select>
	</div>
	<div class="col-md-2">
		<select id="matchesLevel" class="form-control" onchange="reloadMatches()" data-toggle="tooltip" data-placement="top" title="Filter by tournament level">
			<option value="">All levels</option>
			<option th:each="aLevel : ${levels}" th:value="${aLevel.code}" th:class="|bg-level-${aLevel.code}|" value="G" class="bg-level-G" th:text="${aLevel.text}" th:selected="${aLevel.code == level}">Grand Slam</option>
			<option th:each="levelGroup : ${levelGroups}" th:value="${levelGroup.codes}" value="GFLMO" th:text="${levelGroup.text}" th:selected="${levelGroup.codes == level}">Big Tournaments</option>
		</select>
	</div>
	<div class="col-md-2">
		<select id="matchesSurface" class="form-control" onchange="reloadMatches()" data-toggle="tooltip" data-placement="top" title="Filter by surface">
			<option value="">All surfaces</option>
			<option th:each="aSurface : ${surfaces}" th:value="${aSurface.code}" th:class="|bg-surface-${aSurface.code}|" value="H" class="bg-surface-H" th:text="${aSurface.text}" th:selected="${aSurface.code == surface}">Hard</option>
			<option th:each="surfaceGroup : ${surfaceGroups}" th:value="${surfaceGroup.codes}" value="HGP" th:text="${surfaceGroup.text}" th:selected="${surfaceGroup.codes.length() > 1 && surfaceGroup.codes == surface}">Fast (H, G, Cp)</option>
		</select>
	</div>
	<div class="col-md-2">
		<select id="matchesRound" class="form-control" onchange="reloadMatches()" data-toggle="tooltip" data-placement="top" title="Filter by round">
			<option value="">All rounds</option>
			<option th:each="aRound : ${rounds}" th:value="${aRound.code}" th:class="|bg-result-${aRound.baseCode}|" value="F" class="bg-result-F" th:text="${aRound.text}" th:selected="${aRound.code == round}">Final</option>
		</select>
	</div>
	<div class="col-md-2">
		<select id="matchesOpponent" class="form-control" onchange="reloadMatches()" data-toggle="tooltip" data-placement="top" title="Filter by opponent">
			<option value="">Vs all</option>
			<optgroup th:each="opponentCategory : ${opponentCategories}" th:label="${opponentCategory.key.text}" label="Rank">
				<option th:each="anOpponent : ${opponentCategory.value}" th:value="${anOpponent}" value="NO_1" th:text="${anOpponent.text}" th:selected="${anOpponent.name() == opponent}">Vs No. 1</option>
			</optgroup>
			<optgroup th:if="${opponent != null && opponent.startsWith('OPP_')}" label="Vs Player">
				<option th:value="${opponent}" th:text="${'Vs ' + opponentName}" selected="selected">Vs Roger Federer</option>
			</optgroup>
		</select>
	</div>
	<div class="col-md-2">
		<button type="button" class="btn btn-default margin-right" onclick="clearMatchesFilter()" data-toggle="tooltip" data-placement="top" title="Clear all filters">
			<i class="fa fa-eraser"></i>
		</button>
		<span data-toggle="tooltip" data-placement="auto" title="Advanced filters">
			<button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#matchesAdvancedFilter">
				Adv.&nbsp;&nbsp;<i class="fa fa-chevron-down"></i>
			</button>
		</span>
	</div>
</div>
<div id="matchesAdvancedFilter" class="collapse" th:attrappend="class=${fromDate != null || toDate != null || bestOf != null || indoor != null || speed != null || (countryId != null && countryId != '') || (result != null && result != '') || (score != null && score != '') || bigWin ? ' in' : _}">
	<div class="row margin-top">
		<div class="col-md-4">
			<div id="matchesDateRange" class="input-group">
				<label for="matchesFromDate" class="input-group-addon">From:</label>
				<input id="matchesFromDate" type="text" maxlength="10" class="form-control" th:value="${#temporals.format(fromDate, 'dd-MM-yyyy')}" onchange="reloadMatches()"/>
				<label for="matchesToDate" class="input-group-addon">To:</label>
				<input id="matchesToDate" type="text" maxlength="10" class="form-control" th:value="${#temporals.format(toDate, 'dd-MM-yyyy')}" onchange="reloadMatches()"/>
			</div>
		</div>
		<div class="col-md-2">
			<select id="matchesIndoor" class="form-control" onchange="reloadMatches()" data-toggle="tooltip" data-placement="top" title="Filter by outdoor / indoor">
				<option value="">Outdoor / Indoor</option>
				<option value="false" th:selected="${indoor == false}">Outdoor</option>
				<option value="true" th:selected="${indoor}">Indoor</option>
			</select>
		</div>
		<div class="col-md-2">
			<select id="matchesResult" class="form-control" onchange="reloadMatches()" data-toggle="tooltip" data-placement="top" title="Filter by tournament result">
				<option value="">All results</option>
				<option th:each="aResult : ${results}" th:value="${aResult.code}" th:class="|bg-result-${aResult.baseCode}|" value="W" class="bg-result-W" th:text="${aResult.text}" th:selected="${aResult.code == result}">Win</option>
			</select>
		</div>
		<div class="col-md-3">
			<select id="matchesCountry" class="form-control" onchange="reloadMatches()" data-toggle="tooltip" data-placement="top" title="Filter by opponent country">
				<option value="">Vs all countries</option>
				<option th:each="aCountry : ${countries}" th:value="${aCountry.alpha3}" value="SUI" th:text="${aCountry.name}" th:selected="${aCountry.alpha3 == countryId}">Switzerland</option>
			</select>
		</div>
	</div>
	<div class="row margin-top">
		<div class="col-md-2">
			<select id="matchesBestOf" class="form-control" onchange="reloadMatches()" data-toggle="tooltip" data-placement="top" title="Filter by best of">
				<option value="">Best of any</option>
				<option value="3" th:selected="${bestOf == 3}">Best of 3</option>
				<option value="5" th:selected="${bestOf == 5}">Best of 5</option>
			</select>
		</div>
		<div class="col-md-2">
			<select id="matchesScore" class="form-control" onchange="reloadMatches()" data-toggle="tooltip" data-placement="top" title="Filter by match score">
				<option value="">All scores</option>
				<optgroup label="Best of 3">
					<option value="2:0" th:selected="${score == '2:0'}">2:0</option>
					<option value="2:1" th:selected="${score == '2:1'}">2:1</option>
					<option value="1:2" th:selected="${score == '1:2'}">1:2</option>
					<option value="0:2" th:selected="${score == '0:2'}">0:2</option>
				</optgroup>
				<optgroup label="Best of 5">
					<option value="3:0" th:selected="${score == '3:0'}">3:0</option>
					<option value="3:1" th:selected="${score == '3:1'}">3:1</option>
					<option value="3:2" th:selected="${score == '3:2'}">3:2</option>
					<option value="2:3" th:selected="${score == '2:3'}">2:3</option>
					<option value="1:3" th:selected="${score == '1:3'}">1:3</option>
					<option value="0:3" th:selected="${score == '0:3'}">0:3</option>
				</optgroup>
				<optgroup label="After">
					<option value="1:0+" th:selected="${score == '1:0+'}">After 1:0</option>
					<option value="0:1+" th:selected="${score == '0:1+'}">After 0:1</option>
					<option value="1:1+" th:selected="${score == '1:1+'}">After 1:1</option>
					<option value="2:0+" th:selected="${score == '2:0+'}">After 2:0</option>
					<option value="0:2+" th:selected="${score == '0:2+'}">After 0:2</option>
					<option value="2:1+" th:selected="${score == '2:1+'}">After 2:1</option>
					<option value="1:2+" th:selected="${score == '1:2+'}">After 1:2</option>
					<option value="2:2+" th:selected="${score == '2:2+'}">After 2:2</option>
				</optgroup>
				<optgroup label="Misc">
					<option value="*SS" th:selected="${score == '*SS'}">Straight Sets</option>
					<option value="*DS" th:selected="${score == '*DS'}">Deciding Set</option>
					<option value="*TB" th:selected="${score == '*TB'}">Tie Break</option>
					<option value="*TBW" th:selected="${score == '*TBW'}">Tie Break Won</option>
					<option value="*TBL" th:selected="${score == '*TBL'}">Tie Break Lost</option>
					<option value="*DSTB" th:selected="${score == '*DSTB'}">Dec. Set TB</option>
				</optgroup>
				<optgroup label="Set Score">
					<option value="*6:0" th:selected="${score == '*6:0'}">6:0 Set</option>
					<option value="*0:6" th:selected="${score == '*0:6'}">0:6 Set</option>
					<option value="*6:1" th:selected="${score == '*6:1'}">6:1 Set</option>
					<option value="*1:6" th:selected="${score == '*1:6'}">1:6 Set</option>
					<option value="*7:5" th:selected="${score == '*7:5'}">7:5 Set</option>
					<option value="*5:7" th:selected="${score == '*5:7'}">5:7 Set</option>
				</optgroup>
			</select>
		</div>
		<div class="col-md-2">
			<select id="matchesSpeed" class="form-control" onchange="reloadMatches()" data-toggle="tooltip" data-placement="top" title="Filter by court speed">
				<option value="">All speeds</option>
				<option th:each="aSpeed : ${speeds}" th:value="${aSpeed.speed}" th:class="|points-${aSpeed.speed}|" style="color: white" value="50" class="points-50" th:text="${aSpeed.text}" th:selected="${aSpeed.speed == speed}">Medium</option>
			</select>
		</div>
		<div class="col-md-1">
			<div class="checkbox text-nowrap">
				<label data-toggle="tooltip" data-placement="top" title="Filter Big Wins for Big Win GOAT Points">
					<input id="matchesBigWin" type="checkbox" th:checked="${bigWin}" onchange="reloadMatches()"/> Big win
				</label>
			</div>
		</div>
	</div>
	<div class="row margin-top">
		<div class="col-md-7">
			<div class="input-group">
				<select id="matchesStatsCategory" style="width: 220px" class="form-control" onchange="matchesStatsCategoryChanged()" data-toggle="tooltip" data-placement="top" title="Select statistics category">
					<option value="">Select statistics category</option>
					<optgroup th:each="categoryClass : ${categoryClasses}" th:label="${categoryClass.key}" label="Serve">
						<option th:each="category : ${categoryClass.value}" th:unless="${category.name.startsWith('matches')}" th:value="${category.name}" value="aces" th:data-type="${category.type}" data-type="COUNT" th:text="${category.title}" th:title="#{__${category.descriptionId}__}">Aces</option>
					</optgroup>
				</select>
				<label id="matchesStatsCategoryLabel" for="matchesStatsCategory" class="input-group-addon" style="width: 75px" data-toggle="tooltip" data-placement="top" title="Statistics category value for the selected filter"></label>
				<label for="matchesStatsFrom" class="input-group-addon">From:</label>
				<input id="matchesStatsFrom" type="text" maxlength="6" class="form-control" oninput="matchesStatsFilterChanged()" onchange="matchesStatsFilterChanged()"/>
				<label id="matchesStatsRange" for="matchesStatsTo" class="input-group-addon">To:</label>
				<input id="matchesStatsTo" type="text" maxlength="6" class="form-control" oninput="matchesStatsFilterChanged()" onchange="matchesStatsFilterChanged()"/>
			</div>
		</div>
	</div>
</div>
<div id="matchesTournamentDiv" class="btn-group pull-left margin-right no-margin-left" style="width: 210px">
	<select id="matchesTournament" class="form-control" onchange="reloadMatches()" data-toggle="tooltip" data-placement="top" title="Filter by tournament">
		<option value="">All tournaments</option>
		<option th:each="tournament : ${tournaments}" th:value="${tournament.id}" value="101" th:text="${tournament.name}" th:class="'bg-level-' + ${tournament.level}" th:selected="${tournament.id == tournamentId}">Wimbledon</option>
	</select>
</div>
<div id="matchesTournamentEventDiv" class="btn-group pull-left margin-right" style="width: 240px">
	<select id="matchesTournamentEvent" class="form-control" onchange="reloadMatches()" data-toggle="tooltip" data-placement="top" title="Filter by tournament event">
		<option value="">All events</option>
		<option th:each="tournamentEvent : ${tournamentEvents}" th:value="${tournamentEvent.id}" value="1001" th:text="|${tournamentEvent.name} ${tournamentEvent.season}|" th:class="'bg-level-' + ${tournamentEvent.level}" th:selected="${tournamentEvent.id == tournamentEventId}">Wimbledon 2008</option>
	</select>
</div>
<div id="matchesOutcomeDiv" class="btn-group pull-left margin-right">
	<select id="matchesOutcome" class="form-control" onchange="reloadMatches()" data-toggle="tooltip" data-placement="top" title="Filter by outcome">
		<option value="">All matches</option>
		<option value="won" th:selected="${outcome == 'won'}" class="option-won">Won</option>
		<option value="lost" th:selected="${outcome == 'lost'}" class="option-lost">Lost</option>
		<option value="played" th:selected="${outcome == 'played'}">Played</option>
		<option value="wonplayed" th:selected="${outcome == 'wonplayed'}" class="option-won">Played & won</option>
		<option value="lostplayed" th:selected="${outcome == 'lostplayed'}" class="option-lost">Played & lost</option>
		<option value="finished" th:selected="${outcome == 'finished'}">Finished</option>
		<option value="wonfinished" th:selected="${outcome == 'wonfinished'}" class="option-won">Finished & won</option>
		<option value="lostfinished" th:selected="${outcome == 'lostfinished'}" class="option-lost">Finished & lost</option>
		<option value="notFinished" th:selected="${outcome == 'notFinished'}">Not finished</option>
		<option value="wonnotFinished" th:selected="${outcome == 'wonnotFinished'}" class="option-won">Not finished & won</option>
		<option value="lostnotFinished" th:selected="${outcome == 'lostnotFinished'}" class="option-lost">Not finished & lost</option>
		<option value="RET" th:selected="${outcome == 'RET'}">Retirement</option>
		<option value="wonRET" th:selected="${outcome == 'wonRET'}" class="option-won">Won by retirement</option>
		<option value="lostRET" th:selected="${outcome == 'lostRET'}" class="option-lost">Lost by retirement</option>
		<option value="W/O" th:selected="${outcome == 'W/O'}">Walkover</option>
		<option value="wonW/O" th:selected="${outcome == 'wonW/O'}" class="option-won">Won by walkover</option>
		<option value="lostW/O" th:selected="${outcome == 'lostW/O'}" class="option-lost">Lost by walkover</option>
		<option value="DEF" th:selected="${outcome == 'DEF'}">Defaulting</option>
		<option value="wonDEF" th:selected="${outcome == 'wonDEF'}" class="option-won">Won by defaulting</option>
		<option value="lostDEF" th:selected="${outcome == 'lostDEF'}" class="option-lost">Lost by defaulting</option>
		<option value="ABD" th:selected="${outcome == 'ABD'}" class="option-abd">Abandoned</option>
		<option value="notPlayed" th:selected="${outcome == 'notPlayed'}">Not played</option>
	</select>
</div>
<button id="matchesStats" type="button" class="btn btn-info grid-control margin-right" onclick="showMatchesStats(event)" data-toggle="tooltip" data-placement="top" th:title="|${playerName} Statistics (for the selected matches)|">
	<span class="glyphicon glyphicon-stats"></span>&nbsp;&nbsp;Stats
</button>
<table id="matchesTable" class="table table-condensed table-hover table-striped">
	<thead>
	<tr>
		<th data-column-id="date" data-formatter="date" data-order="desc" data-width="85">Date</th>
		<th data-column-id="tournament" data-formatter="tournament" data-width="175">Tournament</th>
		<th data-column-id="surface" data-formatter="surface" data-width="80">Surface</th>
		<th data-column-id="speed" data-formatter="speed" data-visible="false" data-width="70" data-align="center" data-header-align="center">Speed</th>
		<th data-column-id="round" data-width="75">Round</th>
		<th data-column-id="wonLost" data-formatter="wonLost" data-width="55">W/L</th>
		<th data-column-id="match" data-formatter="match" data-sortable="false" data-width="300">Match</th>
		<th data-column-id="matchEx" data-formatter="matchEx" data-sortable="false" data-visible="false" data-width="500">Match Details</th>
		<th data-column-id="bestOf" data-width="50" data-visible="false">BO</th>
		<th data-column-id="score" data-formatter="score" data-sortable="false" data-width="175">Score</th>
		<th data-column-id="bigWinPoints" data-formatter="bigWinPoints" data-sortable="true" data-visible="false" data-width="50">BW</th>
		<th data-column-id="stats" data-formatter="stats" data-sortable="false" data-width="75">Stats</th>
		<th data-column-id="h2h" data-formatter="h2h" data-sortable="false" data-visible="false" data-width="55" data-css-class="h2h-column">H2H</th>
	</tr>
	</thead>
</table>
</th:block>