<th:block xmlns:th="http://www.thymeleaf.org">
	<!--@thymesVar id="careerStats" type="org.strangeforest.tcb.stats.model.PlayerStats"-->
	<!--@thymesVar id="seasons" type="java.util.List<java.lang.Integer>"-->
	<!--@thymesVar id="seasonsStats" type="java.util.Map<java.lang.Integer, org.strangeforest.tcb.stats.model.PlayerStats>"-->
	<!-- Serve -->
	<th:block th:if="${careerStats.hasPointStats()}">
	<tr class="pct-data first-row">
		<td class="stats-header stats-serve">Ace %</td>
		<td th:text="${#numbers.formatDecimal(careerStats.acePct, 1, 1) + '%'}" class="stats">4.5%</td>
		<td th:each="season : ${seasons}" th:with="stats=${seasonsStats.get(season)}" th:text="${stats.hasPointStats() ? #numbers.formatDecimal(stats.acePct, 1, 1) + '%' : ''}" class="stats">4.5%</td>
	</tr>
	<tr class="raw-data first-row">
		<td class="stats-header stats-serve">Aces</td>
		<td th:text="${careerStats.aces}" class="stats">456</td>
		<td th:each="season : ${seasons}" th:with="stats=${seasonsStats.get(season)}" th:text="${stats.hasPointStats() ? stats.aces : ''}" class="stats">456</td>
	</tr>
	<tr class="pct-data">
		<td class="stats-header stats-serve">Double Fault %</td>
		<td th:text="${#numbers.formatDecimal(careerStats.doubleFaultPct, 1, 1) + '%'}" class="stats">2.5%</td>
		<td th:each="season : ${seasons}" th:with="stats=${seasonsStats.get(season)}" th:text="${stats.hasPointStats() ? #numbers.formatDecimal(stats.doubleFaultPct, 1, 1) + '%' : ''}" class="stats">2.5%</td>
	</tr>
	<tr class="raw-data">
		<td class="stats-header stats-serve">Double Faults</td>
		<td th:text="${careerStats.doubleFaults}" class="stats">256</td>
		<td th:each="season : ${seasons}" th:with="stats=${seasonsStats.get(season)}" th:text="${stats.hasPointStats() ? stats.doubleFaults : ''}" class="stats">256</td>
	</tr>
	<tr class="pct-data">
		<td class="stats-header stats-serve">1st Serve</td>
		<td th:text="${#numbers.formatDecimal(careerStats.firstServePct, 1, 1) + '%'}" class="stats">84.5%</td>
		<td th:each="season : ${seasons}" th:with="stats=${seasonsStats.get(season)}" th:text="${stats.hasPointStats() ? #numbers.formatDecimal(stats.firstServePct, 1, 1) + '%' : ''}" class="stats">84.5%</td>
	</tr>
	<tr class="raw-data">
		<td class="stats-header stats-serve">1st Serve In</td>
		<td th:text="${careerStats.firstServesIn + '/' + careerStats.servicePoints}" class="stats">333/444</td>
		<td th:each="season : ${seasons}" th:with="stats=${seasonsStats.get(season)}" th:text="${stats.hasPointStats() ? stats.firstServesIn + '/' + stats.servicePoints : ''}" class="stats">333/444</td>
	</tr>
	<tr class="pct-data">
		<td class="stats-header stats-serve">1st Serve Won</td>
		<td th:text="${#numbers.formatDecimal(careerStats.firstServeWonPct, 1, 1) + '%'}" class="stats">84.5%</td>
		<td th:each="season : ${seasons}" th:with="stats=${seasonsStats.get(season)}" th:text="${stats.hasPointStats() ? #numbers.formatDecimal(stats.firstServeWonPct, 1, 1) + '%' : ''}" class="stats">84.5%</td>
	</tr>
	<tr class="raw-data">
		<td class="stats-header stats-serve">1st Serve Won</td>
		<td th:text="${careerStats.firstServesWon + '/' + careerStats.firstServesIn}" class="stats">333/444</td>
		<td th:each="season : ${seasons}" th:with="stats=${seasonsStats.get(season)}" th:text="${stats.hasPointStats() ? stats.firstServesWon + '/' + stats.firstServesIn : ''}" class="stats">333/444</td>
	</tr>
	<tr class="pct-data">
		<td class="stats-header stats-serve">2nd Serve Won</td>
		<td th:text="${#numbers.formatDecimal(careerStats.secondServeWonPct, 1, 1) + '%'}" class="stats">84.5%</td>
		<td th:each="season : ${seasons}" th:with="stats=${seasonsStats.get(season)}" th:text="${stats.hasPointStats() ? #numbers.formatDecimal(stats.secondServeWonPct, 1, 1) + '%' : ''}" class="stats">84.5%</td>
	</tr>
	<tr class="raw-data">
		<td class="stats-header stats-serve">2nd Serve Won</td>
		<td th:text="${careerStats.secondServesWon + '/' + careerStats.secondServes}" class="stats">333/444</td>
		<td th:each="season : ${seasons}" th:with="stats=${seasonsStats.get(season)}" th:text="${stats.hasPointStats() ? stats.secondServesWon + '/' + stats.secondServes : ''}" class="stats">333/444</td>
	</tr>
	<tr class="pct-data">
		<td class="stats-header stats-serve">Break Points Saved</td>
		<td th:text="${careerStats.breakPointsSavedPct != null ? #numbers.formatDecimal(careerStats.breakPointsSavedPct, 1, 1) + '%' : ''}" class="stats">84.5%</td>
		<td th:each="season : ${seasons}" th:with="stats=${seasonsStats.get(season)}" th:text="${stats.hasPointStats() and stats.breakPointsSavedPct != null ? #numbers.formatDecimal(stats.breakPointsSavedPct, 1, 1) + '%' : ''}" class="stats">84.5%</td>
	</tr>
	<tr class="raw-data">
		<td class="stats-header stats-serve">Break Points Saved</td>
		<td th:text="${careerStats.breakPointsSaved + '/' + careerStats.breakPointsFaced}" class="stats">333/444</td>
		<td th:each="season : ${seasons}" th:with="stats=${seasonsStats.get(season)}" th:text="${stats.hasPointStats() ? stats.breakPointsSaved + '/' + stats.breakPointsFaced : ''}" class="stats">333/444</td>
	</tr>
	<tr class="pct-data">
		<td class="stats-header stats-serve">Service Pts. Won</td>
		<td th:text="${#numbers.formatDecimal(careerStats.servicePointsWonPct, 1, 1) + '%'}" class="stats">84.5%</td>
		<td th:each="season : ${seasons}" th:with="stats=${seasonsStats.get(season)}" th:text="${stats.hasPointStats() ? #numbers.formatDecimal(stats.servicePointsWonPct, 1, 1) + '%' : ''}" class="stats">84.5%</td>
	</tr>
	<tr class="raw-data">
		<td class="stats-header stats-serve">Service Pts. Won</td>
		<td th:text="${careerStats.servicePointsWon + '/' + careerStats.servicePoints}" class="stats">333/444</td>
		<td th:each="season : ${seasons}" th:with="stats=${seasonsStats.get(season)}" th:text="${stats.hasPointStats() ? stats.servicePointsWon + '/' + stats.servicePoints : ''}" class="stats">333/444</td>
	</tr>
	<tr class="pct-data">
		<td class="stats-header stats-serve">Service Games Won</td>
		<td th:text="${#numbers.formatDecimal(careerStats.serviceGamesWonPct, 1, 1) + '%'}" class="stats">84.5%</td>
		<td th:each="season : ${seasons}" th:with="stats=${seasonsStats.get(season)}" th:text="${stats.hasPointStats() ? #numbers.formatDecimal(stats.serviceGamesWonPct, 1, 1) + '%' : ''}" class="stats">84.5%</td>
	</tr>
	<tr class="raw-data">
		<td class="stats-header stats-serve">Service Games Won</td>
		<td th:text="${careerStats.serviceGamesWon + '/' + careerStats.serviceGames}" class="stats">333/444</td>
		<td th:each="season : ${seasons}" th:with="stats=${seasonsStats.get(season)}" th:text="${stats.hasPointStats() ? stats.serviceGamesWon + '/' + stats.serviceGames : ''}" class="stats">333/444</td>
	</tr>
	<!-- Return -->
	<tr class="pct-data first-row">
		<td class="stats-header stats-return">Ace Against %</td>
		<td th:text="${#numbers.formatDecimal(careerStats.aceAgainstPct, 1, 1) + '%'}" class="stats">4.5%</td>
		<td th:each="season : ${seasons}" th:with="stats=${seasonsStats.get(season)}" th:text="${stats.hasPointStats() ? #numbers.formatDecimal(stats.aceAgainstPct, 1, 1) + '%' : ''}" class="stats">4.5%</td>
	</tr>
	<tr class="raw-data first-row">
		<td class="stats-header stats-return">Aces Against</td>
		<td th:text="${careerStats.acesAgainst}" class="stats">333</td>
		<td th:each="season : ${seasons}" th:with="stats=${seasonsStats.get(season)}" th:text="${stats.hasPointStats() ? stats.acesAgainst : ''}" class="stats">33</td>
	</tr>
	<tr class="pct-data">
		<td class="stats-header stats-return">Dbl. Flt. Against %</td>
		<td th:text="${#numbers.formatDecimal(careerStats.doubleFaultAgainstPct, 1, 1) + '%'}" class="stats">4.5%</td>
		<td th:each="season : ${seasons}" th:with="stats=${seasonsStats.get(season)}" th:text="${stats.hasPointStats() ? #numbers.formatDecimal(stats.doubleFaultAgainstPct, 1, 1) + '%' : ''}" class="stats">4.5%</td>
	</tr>
	<tr class="raw-data">
		<td class="stats-header stats-return">Dbl. Flts. Against</td>
		<td th:text="${careerStats.doubleFaultsAgainst}" class="stats">333</td>
		<td th:each="season : ${seasons}" th:with="stats=${seasonsStats.get(season)}" th:text="${stats.hasPointStats() ? stats.doubleFaultsAgainst : ''}" class="stats">33</td>
	</tr>
	<tr class="pct-data">
		<td class="stats-header stats-return">1st Srv. Rtn. Won</td>
		<td th:text="${#numbers.formatDecimal(careerStats.firstServeReturnPointsWonPct, 1, 1) + '%'}" class="stats">84.5%</td>
		<td th:each="season : ${seasons}" th:with="stats=${seasonsStats.get(season)}" th:text="${stats.hasPointStats() ? #numbers.formatDecimal(stats.firstServeReturnPointsWonPct, 1, 1) + '%' : ''}" class="stats">84.5%</td>
	</tr>
	<tr class="raw-data">
		<td class="stats-header stats-return">1st Srv. Rtn. Won</td>
		<td th:text="${careerStats.firstServeReturnPointsWon + '/' + careerStats.firstServeReturnPoints}" class="stats">333/444</td>
		<td th:each="season : ${seasons}" th:with="stats=${seasonsStats.get(season)}" th:text="${stats.hasPointStats() ? stats.firstServeReturnPointsWon + '/' + stats.firstServeReturnPoints : ''}" class="stats">333/444</td>
	</tr>
	<tr class="pct-data">
		<td class="stats-header stats-return">2nd Srv. Rtn. Won</td>
		<td th:text="${#numbers.formatDecimal(careerStats.secondServeReturnPointsWonPct, 1, 1) + '%'}" class="stats">84.5%</td>
		<td th:each="season : ${seasons}" th:with="stats=${seasonsStats.get(season)}" th:text="${stats.hasPointStats() ? #numbers.formatDecimal(stats.secondServeReturnPointsWonPct, 1, 1) + '%' : ''}" class="stats">84.5%</td>
	</tr>
	<tr class="raw-data">
		<td class="stats-header stats-return">2nd Srv. Rtn. Won</td>
		<td th:text="${careerStats.secondServeReturnPointsWon + '/' + careerStats.secondServeReturnPoints}" class="stats">333/444</td>
		<td th:each="season : ${seasons}" th:with="stats=${seasonsStats.get(season)}" th:text="${stats.hasPointStats() ? stats.secondServeReturnPointsWon + '/' + stats.secondServeReturnPoints : ''}" class="stats">333/444</td>
	</tr>
	<tr class="pct-data">
		<td class="stats-header stats-return">Break Points</td>
		<td th:text="${careerStats.breakPointsWonPct != null ? #numbers.formatDecimal(careerStats.breakPointsWonPct, 1, 1) + '%' : ''}" class="stats">84.5%</td>
		<td th:each="season : ${seasons}" th:with="stats=${seasonsStats.get(season)}" th:text="${stats.hasPointStats() and stats.breakPointsWonPct != null ? #numbers.formatDecimal(stats.breakPointsWonPct, 1, 1) + '%' : ''}" class="stats">84.5%</td>
	</tr>
	<tr class="raw-data">
		<td class="stats-header stats-return">Break Points</td>
		<td th:text="${careerStats.breakPointsWon + '/' + careerStats.breakPoints}" class="stats">333/444</td>
		<td th:each="season : ${seasons}" th:with="stats=${seasonsStats.get(season)}" th:text="${stats.hasPointStats() ? stats.breakPointsWon + '/' + stats.breakPoints : ''}" class="stats">333/444</td>
	</tr>
	<tr class="pct-data">
		<td class="stats-header stats-return">Return Pts. Won</td>
		<td th:text="${#numbers.formatDecimal(careerStats.returnPointsWonPct, 1, 1) + '%'}" class="stats">84.5%</td>
		<td th:each="season : ${seasons}" th:with="stats=${seasonsStats.get(season)}" th:text="${stats.hasPointStats() ? #numbers.formatDecimal(stats.returnPointsWonPct, 1, 1) + '%' : ''}" class="stats">84.5%</td>
	</tr>
	<tr class="raw-data">
		<td class="stats-header stats-return">Return Pts. Won</td>
		<td th:text="${careerStats.returnPointsWon + '/' + careerStats.returnPoints}" class="stats">333/444</td>
		<td th:each="season : ${seasons}" th:with="stats=${seasonsStats.get(season)}" th:text="${stats.hasPointStats() ? stats.returnPointsWon + '/' + stats.returnPoints : ''}" class="stats">333/444</td>
	</tr>
	<tr class="pct-data">
		<td class="stats-header stats-return">Return Games Won</td>
		<td th:text="${#numbers.formatDecimal(careerStats.returnGamesWonPct, 1, 1) + '%'}" class="stats">84.5%</td>
		<td th:each="season : ${seasons}" th:with="stats=${seasonsStats.get(season)}" th:text="${stats.hasPointStats() ? #numbers.formatDecimal(stats.returnGamesWonPct, 1, 1) + '%' : ''}" class="stats">84.5%</td>
	</tr>
	<tr class="raw-data">
		<td class="stats-header stats-return">Return Games Won</td>
		<td th:text="${careerStats.returnGamesWon + '/' + careerStats.returnGames}" class="stats">333/444</td>
		<td th:each="season : ${seasons}" th:with="stats=${seasonsStats.get(season)}" th:text="${stats.hasPointStats() ? stats.returnGamesWon + '/' + stats.returnGames : ''}" class="stats">333/444</td>
	</tr>
	<!-- Total -->
	<tr class="first-row">
		<td class="stats-header stats-total" th:title="#{stats.pointsDominanceRatio.title}">Points Dominance</td>
		<td th:text="${#numbers.formatDecimal(careerStats.pointsDominanceRatio, 1, 2)}" class="stats">1.12</td>
		<td th:each="season : ${seasons}" th:with="stats=${seasonsStats.get(season)}" th:text="${stats.hasPointStats() ? #numbers.formatDecimal(stats.pointsDominanceRatio, 1, 2) : ''}" class="stats">1.12</td>
	</tr>
	<tr>
		<td class="stats-header stats-total" th:title="#{stats.gamesDominanceRatio.title}">Games Dominance</td>
		<td th:text="${#numbers.formatDecimal(careerStats.gamesDominanceRatio, 1, 2)}" class="stats">1.12</td>
		<td th:each="season : ${seasons}" th:with="stats=${seasonsStats.get(season)}" th:text="${stats.hasPointStats() ? #numbers.formatDecimal(stats.gamesDominanceRatio, 1, 2) : ''}" class="stats">1.12</td>
	</tr>
	<tr>
		<td class="stats-header stats-total" th:title="#{stats.breakPointsRatio.title}">Brk. Pts. Ratio</td>
		<td th:text="${careerStats.breakPointsRatio != null ? #numbers.formatDecimal(careerStats.breakPointsRatio, 1, 2) : ''}" class="stats">1.12</td>
		<td th:each="season : ${seasons}" th:with="stats=${seasonsStats.get(season)}" th:text="${stats.hasPointStats() and stats.breakPointsRatio != null ? #numbers.formatDecimal(stats.breakPointsRatio, 1, 2) : ''}" class="stats">1.12</td>
	</tr>
	<tr>
		<td class="stats-header stats-total" th:title="#{stats.overPerformingRatio.title}">Over-Performing</td>
		<td th:text="${careerStats.overPerformingRatio != null ? #numbers.formatDecimal(careerStats.overPerformingRatio, 1, 2) : ''}" class="stats">1.12</td>
		<td th:each="season : ${seasons}" th:with="stats=${seasonsStats.get(season)}" th:text="${stats.hasPointStats() and stats.overPerformingRatio != null ? #numbers.formatDecimal(stats.overPerformingRatio, 1, 2) : ''}" class="stats">1.12</td>
	</tr>
	<tr class="pct-data">
		<td class="stats-header stats-total">Total Pts. Won</td>
		<td th:text="${#numbers.formatDecimal(careerStats.totalPointsWonPct, 1, 1) + '%'}" class="stats">84.5%</td>
		<td th:each="season : ${seasons}" th:with="stats=${seasonsStats.get(season)}" th:text="${stats.hasPointStats() ? #numbers.formatDecimal(stats.totalPointsWonPct, 1, 1) + '%' : ''}" class="stats">84.5%</td>
	</tr>
	<tr class="raw-data">
		<td class="stats-header stats-total">Total Pts. Won</td>
		<td th:text="${careerStats.totalPointsWon + '/' + careerStats.totalPoints}" class="stats">333/444</td>
		<td th:each="season : ${seasons}" th:with="stats=${seasonsStats.get(season)}" th:text="${stats.hasPointStats() ? stats.totalPointsWon + '/' + stats.totalPoints : ''}" class="stats">333/444</td>
	</tr>
	</th:block>
	<tr class="pct-data">
		<td class="stats-header stats-total">Total Games Won</td>
		<td th:text="${#numbers.formatDecimal(careerStats.totalGamesWonPct, 1, 1) + '%'}" class="stats">84.5%</td>
		<td th:each="season : ${seasons}" th:with="stats=${seasonsStats.get(season)}" th:text="${#numbers.formatDecimal(stats.totalGamesWonPct, 1, 1) + '%'}" class="stats">84.5%</td>
	</tr>
	<tr class="raw-data">
		<td class="stats-header stats-total">Total Games Won</td>
		<td th:text="${careerStats.totalGamesWon + '/' + careerStats.totalGames}" class="stats">333/444</td>
		<td th:each="season : ${seasons}" th:with="stats=${seasonsStats.get(season)}" th:text="${stats.totalGamesWon + '/' + stats.totalGames}" class="stats">333/444</td>
	</tr>
	<tr class="pct-data">
		<td class="stats-header stats-total">Sets Won</td>
		<td th:text="${#numbers.formatDecimal(careerStats.setsWonPct, 1, 1) + '%'}" class="stats">84.5%</td>
		<td th:each="season : ${seasons}" th:with="stats=${seasonsStats.get(season)}" th:text="${#numbers.formatDecimal(stats.setsWonPct, 1, 1) + '%'}" class="stats">84.5%</td>
	</tr>
	<tr class="raw-data">
		<td class="stats-header stats-total">Sets Won</td>
		<td th:text="${careerStats.setsWon + '/' + careerStats.sets}" class="stats">333/444</td>
		<td th:each="season : ${seasons}" th:with="stats=${seasonsStats.get(season)}" th:text="${stats.setsWon + '/' + stats.sets}" class="stats">333/444</td>
	</tr>
	<tr class="pct-data">
		<td class="stats-header stats-total">Matches Won</td>
		<td th:text="${#numbers.formatDecimal(careerStats.matchesWonPct, 1, 1) + '%'}" class="stats">84.5%</td>
		<td th:each="season : ${seasons}" th:with="stats=${seasonsStats.get(season)}" th:text="${#numbers.formatDecimal(stats.matchesWonPct, 1, 1) + '%'}" class="stats">84.5%</td>
	</tr>
	<tr class="raw-data">
		<td class="stats-header stats-total">Matches Won</td>
		<td th:text="${careerStats.matchesWon + '/' + careerStats.matches}" class="stats">56/66</td>
		<td th:each="season : ${seasons}" th:with="stats=${seasonsStats.get(season)}" th:text="${stats.matchesWon + '/' + stats.matches}" class="stats">56/66</td>
	</tr>
</th:block>