<br/>
<th:block xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="playerId" type="java.lang.Integer"*/-->
<!--/*@thymesVar id="playerName" type="java.lang.String"*/-->
<!--/*@thymesVar id="seasons" type="java.util.List<java.lang.Integer>"*/-->
<!--/*@thymesVar id="levels" type="java.util.Set<org.strangeforest.tcb.stats.model.core.TournamentLevel>"*/-->
<!--/*@thymesVar id="levelGroups" type="java.util.Set<org.strangeforest.tcb.stats.model.core.TournamentLevelGroup>"*/-->
<!--/*@thymesVar id="surfaces" type="org.strangeforest.tcb.stats.model.core.Surface[]"*/-->
<!--/*@thymesVar id="surfaceGroups" type="org.strangeforest.tcb.stats.model.core.SurfaceGroup[]"*/-->
<!--/*@thymesVar id="speeds" type="org.strangeforest.tcb.stats.model.core.CourtSpeed[]"*/-->
<!--/*@thymesVar id="rounds" type="org.strangeforest.tcb.stats.model.core.Round[]"*/-->
<!--/*@thymesVar id="tournaments" type="java.util.List<org.strangeforest.tcb.stats.model.core.TournamentItem>"*/-->
<!--/*@thymesVar id="countries" type="java.util.List<com.neovisionaries.i18n.CountryCode>"*/-->
<!--/*@thymesVar id="season" type="java.lang.Integer"*/-->
<!--/*@thymesVar id="level" type="java.lang.String"*/-->
<!--/*@thymesVar id="surface" type="java.lang.String"*/-->
<!--/*@thymesVar id="opponent" type="java.lang.String"*/-->
<!--/*@thymesVar id="h2h" type="java.lang.Integer"*/-->
<!--/*@thymesVar id="matches" type="java.lang.Integer"*/-->
<script type="text/javascript">
	var isChrome = navigator.userAgent.toLowerCase().indexOf("chrome") > -1;
	$(function() {
		var $rivalriesTable = $("#rivalriesTable");
		var device = detectDevice();
		setBootgridColumnsVisible($rivalriesTable, ["lastMatch"], deviceGreaterOrEqual(device, "lg"));
		setBootgridColumnsVisible($rivalriesTable, ["bestRank"], deviceGreaterOrEqual(device, "sm"));
		if (deviceLessOrEqual(device, "xs"))
			setBootgridColumnsWidths($rivalriesTable, ["name"], [150]);
		$rivalriesTable.bootgrid({
			ajax: true,
			ajaxSettings: {
				method: "GET",
				cache: false
			},
			url: "/playerRivalriesTable?playerId=[(${playerId})]",
			requestHandler: function(request) {
				request.season = $("#rivalrySeason").val();
				request.fromSeason = $("#rivalryFromSeason").val();
				request.toSeason = $("#rivalryToSeason").val();
				request.level = $("#rivalryLevel").val();
				request.bestOf = $("#rivalryBestOf").val();
				request.surface = $("#rivalrySurface").val();
				request.indoor = $("#rivalryIndoor").val();
				request.speed = $("#rivalrySpeed").val();
				request.round = $("#rivalryRound").val();
				request.tournamentId = $("#rivalryTournament").val();
				request.opponent = $("#rivalryOpponent").val();
				request.countryId = $("#rivalryCountry").val();
				request.h2h = $("#rivalryH2H").val();
				request.matches = $("#rivalryMatches").val();
				return request;
			},
			rowCount: [15, 25, 50, -1],
			formatters: {
				"player": playerCountryFormatter,
				"matches": function(column, row) {
					return "<a href='" + playerMatchesUrl(row.playerId) + "' title='Show rivalry matches'>" + row.matches + "</a>"
				},
				"matchesWon": function(column, row) {
					return "<a href='" + playerMatchesUrl(row.playerId, 'won') + "' title='Show rivalry won matches'>" + row.won + "</a>"
				},
				"matchesLost": function(column, row) {
					return "<a href='" + playerMatchesUrl(row.playerId, 'lost') + "' title='Show rivalry lost matches'>" + row.lost + "</a>"
				},
				"wonPctStr": function(column, row) {
					return "<span data-won-pct='" + row.wonPctClass + "'>" + row.wonPctStr + "</span>";
				},
				"lastMatch": function(column, row) {
					var match = row.lastMatch;
					var won = match.winnerId == [(${playerId})];
					return "<span class='label label-" + (won ? "won" : "lost") + "'>" + (won ? "W" : "L") + "</span> [ " + formatScore(match.score) + " ] at " +
						match.season + " " + tournamentEventFormatter(column, match) + " " + surfaceFormatter(column, match) + " " + match.round;
				},
				"stats": function(column, row) {
					return "<a id='rivalryStats-" + row.playerId + "' href='#' class='label label-info label-btn' onclick='showRivalryStats(" + row.playerId + ", event)' title='[[${playerName}]] vs " + row.name + " Rivalry Statistics'><span class='glyphicon glyphicon-stats'></span>&nbsp;&nbsp;Stats</a>";
				},
				"h2h": function(column, row) {
					return "<a href='/headToHead?playerId1=[(${playerId})]&playerId2=" + row.playerId + "' class='label label-primary label-btn'" + (isChrome ? " style='padding: 3px 7px'" : "") + " title='Show Head-to-Head'>H2H</a>"
				}
			},
			labels: {
				loading: bootgridTemplateLoading,
				noResults: "No rivalries found"
			},
			templates: {
				paginationItem: bootgridTemplatePaginationItem
			}
		}).on("loaded.rs.jquery.bootgrid", function() {
			$rivalriesTable.find("span[data-won-pct]").each(function() {
				var $span = $(this);
				$span.parent().addClass("bg-won-" + $span.data("won-pct"));
			});
		});
		var $search = $("#rivalriesTable-header").find("div.search");
		$search.before($("#rivalryH2HDiv").remove());
		$search.before($("#rivalryMatchesDiv").remove());
		$search.after($("#clearRivalryFilterButton").remove());
		$("[data-toggle='tooltip']").tooltip();
	});
	function rivalrySeasonChanged() {
		if ($("#rivalrySeason").val()) {
			$("#rivalryFromSeason").val("");
			$("#rivalryToSeason").val("");
		}
	}
	function rivalrySeasonsChanged() {
		if ($("#rivalryFromSeason").val() || $("#rivalryToSeason").val())
			$("#rivalrySeason").val("");
	}
	function reloadRivalries() {
		$("#rivalriesTable").bootgrid("reload");
	}
	function clearRivalryFilter() {
		$("#rivalrySeason").val("");
		$("#rivalryFromSeason").val("");
		$("#rivalryToSeason").val("");
		$("#rivalryLevel").val("");
		$("#rivalryBestOf").val("");
		$("#rivalrySurface").val("");
		$("#rivalryIndoor").val("");
		$("#rivalrySpeed").val("");
		$("#rivalryRound").val("");
		$("#rivalryTournament").val("");
		$("#rivalryOpponent").val("");
		$("#rivalryCountry").val("");
		$("#rivalryH2H").val("");
		$("#rivalryMatches").val("");
		$("#rivalriesTable").bootgrid("search", "");
		reloadRivalries();
	}
	function showRivalryStats(opponentId, event) {
		var $rivalryStats = $("#rivalryStats-" + opponentId);
		if (!$rivalryStats.hasClass("loaded")) {
			event.preventDefault();
			var url = "rivalryStats?playerId=[(${playerId})]&opponentId=" + opponentId + rivalryFilterParams();
			$.get(url, function(data) {
				$rivalryStats.addClass("loaded").popover({content: data, html: true, placement: "auto right"});
				$rivalryStats.on("show.bs.popover", function() { $(this).data("bs.popover").tip().css("max-width", "1000px"); }).click();
				$rivalryStats.data("statsURL", url);
			});
		}
	}
	function rivalryFilterParams() {
		var params = "";
		var season = $("#rivalrySeason").val();
		if (season) params += "&season=" + season;
		var fromSeason = $("#rivalryFromSeason").val();
		if (fromSeason) params += "&fromDate=01-01-" + fromSeason;
		var toSeason = $("#rivalryToSeason").val();
		if (toSeason) params += "&toDate=31-12-" + toSeason;
		var level = $("#rivalryLevel").val();
		if (level) params += "&level=" + level;
		var bestOf = $("#rivalryBestOf").val();
		if (bestOf) params += "&bestOf=" + bestOf;
		var surface = $("#rivalrySurface").val();
		if (surface) params += "&surface=" + surface;
		var indoor = $("#rivalryIndoor").val();
		if (indoor) params += "&indoor=" + indoor;
		var speed = $("#rivalrySpeed").val();
		if (speed) params += "&speed=" + speed;
		var round = $("#rivalryRound").val();
		if (round) params += "&round=" + encodeURIComponent(round);
		var tournamentId = $("#rivalryTournament").val();
		if (tournamentId) params += "&tournamentId=" + tournamentId;
		return params;
	}
	function playerMatchesUrl(opponentId, outcome) {
		var url = "/playerProfile?playerId=[(${playerId})]&tab=matches&opponent=OPP_" + opponentId;
		if (outcome)
			url += "&outcome=" + outcome + "played";
		url += rivalryFilterParams();
		return url;
	}
</script>
<style scoped="scoped">
	.bg-positive {
		background-color: #e0ffe0;
	}
	.bg-draw {
		background-color: #ffffd0;
	}
	.bg-negative {
		background-color: #ffe8e8;
	}
</style>
<div class="row">
	<div class="col-md-2">
		<select id="rivalrySeason" class="form-control" onchange="rivalrySeasonChanged(); reloadRivalries()" data-toggle="tooltip" data-placement="top" title="Select career or filter by season">
			<option value="">Career</option>
			<option value="-1" th:selected="${season == -1}">Last 52 weeks</option>
			<option th:each="aSeason : ${seasons}" th:value="${aSeason}" value="2005" th:text="${aSeason}" th:selected="${aSeason == season}">2005</option>
		</select>
	</div>
	<div class="col-md-2">
		<select id="rivalryLevel" class="form-control" onchange="reloadRivalries()" data-toggle="tooltip" data-placement="top" title="Filter by tournament level">
			<option value="">All levels</option>
			<option th:each="aLevel : ${levels}" th:value="${aLevel.code}" th:class="|bg-level-${aLevel.code}|" value="G" class="bg-level-G" th:text="${aLevel.text}" th:selected="${aLevel.code == level}">Grand Slam</option>
			<option th:each="levelGroup : ${levelGroups}" th:value="${levelGroup.codes}" value="GFLMO" th:text="${levelGroup.text}" th:selected="${levelGroup.codes == level}">Big Tournaments</option>
		</select>
	</div>
	<div class="col-md-2">
		<select id="rivalrySurface" class="form-control" onchange="reloadRivalries()" data-toggle="tooltip" data-placement="top" title="Filter by surface">
			<option value="">All surfaces</option>
			<option th:each="aSurface : ${surfaces}" th:value="${aSurface.code}" th:class="|bg-surface-${aSurface.code}|" value="H" class="bg-surface-H" th:text="${aSurface.text}" th:selected="${aSurface.code == surface}">Hard</option>
			<option th:each="surfaceGroup : ${surfaceGroups}" th:value="${surfaceGroup.codes}" value="HGP" th:text="${surfaceGroup.text}" th:selected="${surfaceGroup.codes.length() > 1 && surfaceGroup.codes == surface}">Fast (H, G, Cp)</option>
		</select>
	</div>
	<div class="col-md-2">
		<select id="rivalryRound" class="form-control" onchange="reloadRivalries()" data-toggle="tooltip" data-placement="top" title="Filter by round">
			<option value="">All rounds</option>
			<option th:each="round : ${rounds}" th:value="${round.code}" th:class="|bg-result-${round.baseCode}|" value="F" class="bg-result-F" th:text="${round.text}">Final</option>
		</select>
	</div>
	<div class="col-md-2">
		<select id="rivalryOpponent" class="form-control" onchange="reloadRivalries()" data-toggle="tooltip" data-placement="top" title="Filter by opponent best ranking">
			<option value="">Vs all</option>
			<optgroup label="Vs Best Rank">
				<option value="1" th:selected="${opponent == '1'}">Vs once No. 1</option>
				<option value="2" th:selected="${opponent == '2'}">Vs once Top 2</option>
				<option value="3" th:selected="${opponent == '3'}">Vs once Top 3</option>
				<option value="5" th:selected="${opponent == '5'}">Vs once Top 5</option>
				<option value="10" th:selected="${opponent == '10'}">Vs once Top 10</option>
				<option value="20" th:selected="${opponent == '20'}">Vs once Top 20</option>
			</optgroup>
			<optgroup label="Vs Playing Style">
				<option value="RIGHT_HANDED" th:selected="${opponent == 'RIGHT_HANDED'}">Vs Right-handed</option>
				<option value="LEFT_HANDED" th:selected="${opponent == 'LEFT_HANDED'}">Vs Left-handed</option>
				<option value="BACKHAND_2" th:selected="${opponent == 'BACKHAND_2'}">Vs Two-handed bh.</option>
				<option value="BACKHAND_1" th:selected="${opponent == 'BACKHAND_1'}">Vs One-handed bh.</option>
			</optgroup>
		</select>
	</div>
	<div class="col-md-2">
		<div data-toggle="tooltip" data-placement="auto" title="Advanced filters">
			<button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#rivalryAdvancedFilter">
				<i class="fa fa-folder-open"></i>&nbsp;&nbsp;Adv.&nbsp;&nbsp;<i class="fa fa-chevron-down"></i>
			</button>
		</div>
	</div>
</div>
<div id="rivalryAdvancedFilter" class="collapse">
	<div class="row margin-top">
		<div class="col-md-4">
			<div id="rivalrySeasonRange" class="input-group">
				<label for="rivalryFromSeason" class="input-group-addon">From:</label>
				<select id="rivalryFromSeason" class="form-control" onchange="rivalrySeasonsChanged(); reloadRivalries()">
					<option value="">All seasons</option>
					<option th:each="aSeason : ${seasons}" th:value="${aSeason}" value="2005" th:text="${aSeason}">2005</option>
				</select>
				<label for="rivalryToSeason" class="input-group-addon">To:</label>
				<select id="rivalryToSeason" class="form-control" onchange="rivalrySeasonsChanged(); reloadRivalries()">
					<option value="">All seasons</option>
					<option th:each="aSeason : ${seasons}" th:value="${aSeason}" value="2005" th:text="${aSeason}">2005</option>
				</select>
			</div>
		</div>
		<div class="col-md-2">
			<select id="rivalryIndoor" class="form-control" onchange="reloadRivalries()" data-toggle="tooltip" data-placement="top" title="Filter by outdoor / indoor">
				<option value="">Outdoor / Indoor</option>
				<option value="false">Outdoor</option>
				<option value="true">Indoor</option>
			</select>
		</div>
		<div class="col-md-2">
			<select id="rivalryBestOf" class="form-control" onchange="reloadRivalries()" data-toggle="tooltip" data-placement="top" title="Filter by best of">
				<option value="">Best of any</option>
				<option value="3">Best of 3</option>
				<option value="5">Best of 5</option>
			</select>
		</div>
		<div class="col-md-3">
			<select id="rivalryCountry" class="form-control" onchange="reloadRivalries()" data-toggle="tooltip" data-placement="top" title="Filter by opponent country">
				<option value="">Vs all countries</option>
				<option th:each="aCountry : ${countries}" th:value="${aCountry.alpha3}" value="SUI" th:text="${aCountry.name}">Switzerland</option>
			</select>
		</div>
	</div>
	<div class="row margin-top">
		<div class="col-md-4">
			<select id="rivalryTournament" class="form-control" onchange="reloadRivalries()" data-toggle="tooltip" data-placement="top" title="Filter by tournament">
				<option value="">All tournaments</option>
				<option th:each="tournament : ${tournaments}" th:if="${tournament.level != 'D' and tournament.level != 'T'}" th:value="${tournament.id}" value="101" th:text="${tournament.name}" th:class="'bg-level-' + ${tournament.level}">Wimbledon</option>
			</select>
		</div>
		<div class="col-md-2">
			<select id="rivalrySpeed" class="form-control" onchange="reloadRivalries()" data-toggle="tooltip" data-placement="top" title="Filter by court speed">
				<option value="">All speeds</option>
				<option th:each="aSpeed : ${speeds}" th:value="${aSpeed.speed}" th:class="|points-${aSpeed.speed}|" style="color: white" value="50" class="points-50" th:text="${aSpeed.text}">Medium</option>
			</select>
		</div>
	</div>
</div>
<div id="rivalryH2HDiv" class="btn-group pull-left margin-right no-margin-left">
	<select id="rivalryH2H" class="form-control" onchange="reloadRivalries()" data-toggle="tooltip" data-placement="top" title="Filter by H2H score">
		<option value="">All H2Hs</option>
		<option value="1" th:selected="${h2h == 1}" class="bg-positive">Positive H2H</option>
		<option value="0" th:selected="${h2h == 0}" class="bg-draw">Draw H2H</option>
		<option value="-1" th:selected="${h2h == -1}" class="bg-negative">Negative H2H</option>
	</select>
</div>
<div id="rivalryMatchesDiv" class="btn-group pull-left margin-right">
	<select id="rivalryMatches" class="form-control" onchange="reloadRivalries()" data-toggle="tooltip" data-placement="top" title="Filter by minimum rivalry matches">
		<option value="">All rivalries</option>
		<option value="3" th:selected="${matches == 3}">3+ matches</option>
		<option value="5" th:selected="${matches == 5}">5+ matches</option>
		<option value="10" th:selected="${matches == 10}">10+ matches</option>
		<option value="20" th:selected="${matches == 20}">20+ matches</option>
	</select>
</div>
<div id="clearRivalryFilterButton" class="btn-group margin-right">
	<button type="button" class="btn btn-default" onclick="clearRivalryFilter()" data-toggle="tooltip" data-placement="top" title="Clear all filters">
		<i class="fa fa-eraser"></i>&nbsp;&nbsp;Clear
	</button>
</div>
<style scoped="scoped">
	td.h2h-column {
		padding: 4px;
	}
</style>
<table id="rivalriesTable" class="table table-condensed table-hover table-striped">
	<thead>
	<tr>
		<th data-column-id="name" data-formatter="player" data-sortable="false" data-width="200">Opponent</th>
		<th data-column-id="bestRank" data-type="numeric" data-width="100" data-align="right" data-header-align="right">Best Rank</th>
		<th data-column-id="matches" data-formatter="matches" data-order="desc" data-width="90" data-align="right" data-header-align="right">Matches</th>
		<th data-column-id="won" data-formatter="matchesWon" data-width="60" data-align="right" data-header-align="right">Won</th>
		<th data-column-id="lost" data-formatter="matchesLost" data-width="60" data-align="right" data-header-align="right">Lost</th>
		<th data-column-id="wonPctStr" data-formatter="wonPctStr" data-width="70" data-align="right" data-header-align="right">Win %</th>
		<th data-column-id="lastMatch" data-formatter="lastMatch" data-sortable="false" data-width="450">Last Match</th>
		<th data-column-id="stats" data-formatter="stats" data-sortable="false" data-width="75">Stats</th>
		<th data-column-id="h2h" data-formatter="h2h" data-sortable="false" data-width="55" data-css-class="h2h-column">H2H</th>
	</tr>
	</thead>
</table>
</th:block>