<br/>
<th:block xmlns:th="http://www.thymeleaf.org">
	<!--@thymesVar id="timeline" type="org.strangeforest.tcb.stats.model.PlayerTimeline"-->
	<script type="text/javascript" th:inline="javascript">
		/*<![CDATA[*/
		$(function() {
			// Tournaments
			var $tournamentsBody = $("#bigTournamentsBody, #otherTournamentsBody");
			$tournamentsBody.find("span.surface").each(function() {
				var $surface = $(this);
				var surface = $surface.text();
				$surface.text(surfaceName(surface));
				$surface.addClass("label-" + surfaceClassSuffix(surface));
			});
			$tournamentsBody.find("span.level").each(function() {
				var $tournament = $(this);
				var level = $tournament.data("level");
				$tournament.addClass("label-" + levelClassSuffix(level));
			});
			$tournamentsBody.find("a[data-level], a[data-surface]").each(function() {
				var $result = $(this);
				var level = $result.data("level");
				var surface = $result.data("surface");
				var title = "";
				if (level)
					title += "<span class='label label-" + levelClassSuffix(level) + "'>" + levelName(level) + "</span>";
				if (surface) {
					if (level)
						title += " ";
					title += "<span class='label label-" + surfaceClassSuffix(surface) + "'>" + surfaceName(surface) + "</span>";
				}
				$result.tooltip({title: title, html: true});
			});
			bindTimelineExtraData("performance", "/playerTimelinePerformance");
			bindTimelineExtraData("statistics", "/playerTimelineStats");
		});
		function bindTimelineExtraData(elementPrefix, url) {
			var $head = $("#" + elementPrefix + "Head");
			$head.find(".raw-data").hide();
			var $body = $("#" + elementPrefix + "Body");
			$body.on("shown.bs.collapse", function () {
				if (!$body.hasClass("loaded")) {
					$($body).load(url + "?playerId=[[${playerId}]]&seasons=" + [[${#strings.listJoin(timeline.seasons, ",")}]], function () {
						$body.find(".raw-data").hide();
						$body.addClass("loaded");
					});
				}
				$head.find(".btn-stats").css("display", "inline");
				$("html, body").scrollTop($(document).height() - $(window).height());
			}).on("hidden.bs.collapse", function () {
				$head.find(".btn-stats").hide();
			});
		}
		/*]]>*/
	</script>
	<style scoped="scoped">
		th.season {
			text-align: center;
		}
		tr.first-row {
			border-top: 3px solid lightgray;
		}
		span.absent {
			color: gray;
		}
		td.stats-header {
			font-size: smaller;
		}
		td.stats {
			font-size: smaller;
			text-align: center;
		}
		td.stats-general {
			background-color: #f0ffff;
		}
		td.stats-perf {
			background-color: #f4f4ff;
		}
		td.stats-pressure {
			background-color: #fff4f4;
		}
		td.stats-serve {
			background-color: #fff0f8;
		}
		td.stats-return {
			background-color: #f0fff8;
		}
		td.stats-total {
			background-color: #ffffe8;
		}
	</style>
	<table id="timelineTable" class="table table-condensed table-hover table-bordered text-nowrap">
		<thead>
			<tr class="bg-primary">
				<th>Tournament</th>
				<th>Surface</th>
				<th th:each="season : ${timeline.seasons}" th:text="${season}" class="season">2015</th>
			</tr>
		</thead>
		<th:block th:unless="${timeline.empty}">
		<tbody id="bigTournamentsBody">
			<tr th:each="tournament : ${timeline.bigTournaments}" th:class="${tournament.firstByLevel ? 'first-row' : ''}">
				<th:block th:include="fragments/playerTournamentTimeline :: playerTournamentTimeline(tournament=${tournament})"/>
			</tr>
		</tbody>
		<thead>
			<tr class="bg-primary">
				<th>Tournament</th>
				<th>Surface</th>
				<th th:each="season : ${timeline.seasons}" th:text="${season}" class="season">2015</th>
			</tr>
		</thead>
		<tbody id="otherTournamentsBody">
			<tr th:each="tournament : ${timeline.otherTournaments}" th:class="${tournament.firstByLevel ? 'first-row' : ''}">
				<th:block th:include="fragments/playerTournamentTimeline :: playerTournamentTimeline(tournament=${tournament})"/>
			</tr>
		</tbody>
		<thead id="performanceHead">
			<tr class="bg-primary">
				<th>
					<button id="timelinePerf" class="btn btn-info btn-xs glyphicon glyphicon-stats" data-toggle="collapse" data-target="#performanceBody" title="Toggle seasons performance"> Performance</button>
					<div class="btn-stats" style="display: none">
						<button class="pct-data btn btn-info btn-xs glyphicon glyphicon-equalizer" onclick="toggleStatsData('#performanceHead, #performanceBody')"> Raw Data</button>
						<button class="raw-data btn btn-info btn-xs glyphicon glyphicon-scale" onclick="toggleStatsData('#performanceHead, #performanceBody')"> Pct. Data</button>
					</div>
				</th>
				<th class="text-center">Career</th>
				<th th:each="season : ${timeline.seasons}" th:text="${season}" class="season">2015</th>
			</tr>
		</thead>
		<tbody id="performanceBody"></tbody>
		<thead id="statisticsHead">
			<tr class="bg-primary">
				<th>
					<button id="timelineStats" class="btn btn-info btn-xs glyphicon glyphicon-stats" data-toggle="collapse" data-target="#statisticsBody" title="Toggle seasons statistics"> Stats</button>
					<div class="btn-stats" style="display: none">
						<button class="pct-data btn btn-info btn-xs glyphicon glyphicon-equalizer" onclick="toggleStatsData('#statisticsHead, #statisticsBody')"> Raw Data</button>
						<button class="raw-data btn btn-info btn-xs glyphicon glyphicon-scale" onclick="toggleStatsData('#statisticsHead, #statisticsBody')"> Pct. Data</button>
					</div>
				</th>
				<th class="text-center">Career</th>
				<th th:each="season : ${timeline.seasons}" th:text="${season}" class="season">2015</th>
			</tr>
		</thead>
		<tbody id="statisticsBody"></tbody>
		</th:block>
		<tbody th:if="${timeline.empty}">
			<tr>
				<td colspan="2" align="center">No data found</td>
			</tr>
		</tbody>
	</table>
</th:block>