<br/>
<th:block xmlns:th="http://www.thymeleaf.org">
	<!--/*@thymesVar id="playerId" type="java.lang.Integer"*/-->
	<!--/*@thymesVar id="levelResults" type="java.util.Map<java.lang.String, java.util.List<java.lang.String>>"*/-->
	<!--/*@thymesVar id="levelResultCount" type="java.lang.Integer"*/-->
	<!--/*@thymesVar id="goatPoints" type="org.strangeforest.tcb.stats.model.PlayerGOATPoints"*/-->
	<!--/*@thymesVar id="highlightSeason" type="java.lang.Integer"*/-->
	<script type="text/javascript">
		$(function() {
			var $goatPointsTable = $("#goatPointsTable");
			$goatPointsTable.find("th.level").each(function() {
				var $level = $(this);
				var level = $level.data("level");
				$level.addClass("bg-level-" + level);
				if (!$level.hasClass("points"))
					$level.html(level == 'B' ? '250' : levelName(level));
			});
			$goatPointsTable.find("th.result").each(function() {
				var $result = $(this);
				$result.addClass("bg-result-" + $result.data("result"));
			});
			$("[data-toggle='collapse']").click(collapseClick);
		});
	</script>
	<style scoped="scoped">
		th.grand-total {
			background-color: tomato;
		}
		th.total {
			background-color: orange;
		}
		th.tournament {
			background-color: palegreen;
		}
		th.ranking {
			background-color: paleturquoise;
		}
		th.achievements {
			background-color: pink;
		}
		.first-header {
			border-top: 2px solid lightgray;
		}
		.first-column {
			border-left: 2px solid lightgray;
		}
		.last-column {
			border-right: 2px solid lightgray;
		}
		.valign-middle {
			vertical-align: middle;
		}
		.points {
			text-align: right;
		}
		.highlight {
			background-color: #e8f4ff;
			border: 3px solid darkblue;
		}
		.result {
			width: 50px;
		}
	</style>
	<th:block th:include="fragments/deviceDetector :: largeDeviceRequired('md')"/>
	<table id="goatPointsTable" class="table table-condensed table-hover table-bordered text-nowrap">
		<thead>
		<tr>
			<th colspan="2" rowspan="2" class="first-header first-column text-center valign-middle grand-total">GOAT Points</th>
			<th th:colspan="${levelResultCount + 2}" class="first-header first-column text-center tournament">Tournament</th>
			<th colspan="3" rowspan="2" class="first-header first-column text-center valign-middle ranking">Ranking</th>
			<th colspan="3" rowspan="2" class="first-header first-column last-column text-center valign-middle achievements">Achievements</th>
		</tr>
		<tr>
			<th th:each="level : ${levelResults}" th:colspan="${level.value.size()}" class="level first-column text-center" th:data-level="${level.key}" th:text="${level.key}">G</th>
			<th title="Davis Cup and World Team Cup" class="first-column text-center bg-level-D">D&amp;T</th>
			<th title="Tournament Level" class="first-column tournament">Level</th>
		</tr>
		<tr>
			<th class="first-column total">Season</th>
			<th class="first-column total" title="Total Points">Pts</th>
			<th:block th:each="level : ${levelResults}">
				<th th:each="result : ${level.value}" class="result text-center" th:attrappend="class=${resultStat.first ? ' first-column' : ''}" th:data-result="${result}" th:text="${result}">W</th>
			</th:block>
			<th title="Number of match wins in finals" class="first-column text-center bg-result-W">MW</th>
			<th class="first-column tournament" title="Tournament Points">T Pts</th>
			<th class="first-column ranking" title="Year-End Rank Points">YER Pts</th>
			<th class="ranking" title="Weeks at No. 1 Points (rounded for season, rounded sum of unrounded values for career)">W@1 Pts</th>
			<th class="first-column ranking" title="Ranking Points">R Pts</th>
			<th class="first-column achievements" title="Big Wins Points (rounded for season, rounded sum of unrounded values for career)">BW Pts</th>
			<th class="achievements" title="Season Grand Slam Points">GS Pts</th>
			<th class="first-column last-column achievements" title="Achievements Points">A Pts</th>
		</tr>
		</thead>
		<tbody>
		<tr th:each="season : ${goatPoints.getPlayerSeasonsPoints()}" th:class="${season.season == highlightSeason ? 'highlight' : _}">
			<th class="first-column points-" th:attrappend="class=${season.totalPointsRounded}">
				<a th:href="'playerProfile?playerId=' + ${playerId} + '&amp;tab=tournaments&amp;season=' + ${season.season}" th:text="${season.season}" style="color: darkblue" title="Show season results">2000</a>
			</th>
			<th class="points first-column points-" th:attrappend="class=${season.totalPointsRounded}" th:text="${season.totalPoints}">50</th>
			<th:block th:each="level : ${levelResults}">
				<td th:each="result : ${level.value}" class="points" th:attrappend="class=${resultStat.first ? ' first-column' : ''}" th:text="${season.getTournamentItem(level.key, result)}">1</td>
			</th:block>
			<td class="points first-column" th:text="${season.getTournamentItem('T', 'W')}">2</td>
			<td class="points first-column" th:text="${season.tournamentPoints}">35</td>
			<td class="points first-column" th:text="${season.yearEndRankPoints}">8</td>
			<td class="points" th:text="${season.weeksAtNo1Points}">5</td>
			<td class="points first-column" th:text="${season.rankingPoints}">13</td>
			<td class="points first-column" th:text="${season.bigWinsPoints}">4</td>
			<td class="points" th:text="${season.grandSlamPoints}">0</td>
			<td class="points first-column last-column" th:text="${season.achievementsPoints}">4</td>
		</tr>
		</tbody>
		<thead>
		<tr>
			<th class="first-header first-column total">All Seasons</th>
			<th class="points first-header first-column total" th:text="${goatPoints.seasonsPoints}">250</th>
			<th:block th:each="level : ${levelResults}">
				<th th:each="result : ${level.value}" class="level points first-header" th:attrappend="class=${resultStat.first ? ' first-column' : ''}" th:data-level="${level.key}" th:text="${goatPoints.getTournamentItem(level.key, result)}">1</th>
			</th:block>
			<th class="points first-header first-column bg-level-D" th:text="${goatPoints.getTournamentItem('T', 'W')}">4</th>
			<th class="points first-header first-column tournament" title="Total Tournament Points" th:text="${goatPoints.tournamentPoints}">235</th>
			<th class="points first-header first-column ranking" th:text="${goatPoints.yearEndRankPoints}">8</th>
			<th class="points first-header ranking" th:text="${goatPoints.weeksAtNo1Points}">5</th>
			<th class="points first-header first-column ranking" th:text="${goatPoints.seasonsRankingPoints}">13</th>
			<th class="points first-header first-column achievements" th:text="${goatPoints.bigWinsPoints}">4</th>
			<th class="points first-header achievements" th:text="${goatPoints.seasonsGrandSlamPoints}">0</th>
			<th class="points first-header first-column last-column achievements" th:text="${goatPoints.seasonsAchievementsPoints}">4</th>
		</tr>
		</thead>
		<th:block th:if="${goatPoints.careerRankingPoints > 0}">
		<tbody>
		<tr th:if="${goatPoints.bestRankPoints > 0}">
			<td class="first-column"></td>
			<td class="points first-column" th:text="${goatPoints.bestRankPoints}"></td>
			<td th:colspan="${levelResultCount + 2}" class="first-column"></td>
			<td colspan="2" class="first-column">Best Rank</td>
			<td class="points first-column" th:text="${goatPoints.bestRankPoints}"></td>
			<td colspan="3" class="first-column last-column"></td>
		</tr>
		<tr th:if="${goatPoints.bestEloRatingPoints > 0}">
			<td class="first-column"></td>
			<td class="points first-column" th:text="${goatPoints.bestEloRatingPoints}"></td>
			<td th:colspan="${levelResultCount + 2}" class="first-column"></td>
			<td colspan="2" class="first-column">Best Elo Rating</td>
			<td class="points first-column" th:text="${goatPoints.bestEloRatingPoints}"></td>
			<td colspan="3" class="first-column last-column"></td>
		</tr>
		</tbody>
		<thead>
		<tr>
			<th class="first-header first-column ranking" title="Career Ranking Points">Career Rnk.</th>
			<th class="points first-header first-column ranking" th:text="${goatPoints.careerRankingPoints}"></th>
			<th th:colspan="${levelResultCount + 2}" class="first-header first-column"></th>
			<th colspan="2" class="first-header first-column ranking" title="Total Ranking Points">Total Ranking</th>
			<th class="points first-header first-column ranking" th:text="${goatPoints.rankingPoints}"></th>
			<th colspan="3" class="first-header first-column last-column"></th>
		</tr>
		</thead>
		</th:block>
		<th:block th:if="${goatPoints.careerAchievementsPoints > 0}">
		<tbody>
		<tr th:if="${goatPoints.h2hPoints > 0}">
			<td class="first-column"></td>
			<td class="points first-column" th:text="${goatPoints.h2hPoints}"></td>
			<td th:colspan="${levelResultCount + 5}" class="first-column"></td>
			<td colspan="2" class="first-column">Head-to-Head</td>
			<td class="points first-column last-column" th:text="${goatPoints.h2hPoints}"></td>
		</tr>
		<tr th:if="${goatPoints.careerGrandSlamPoints > 0}">
			<td class="first-column"></td>
			<td class="points first-column" th:text="${goatPoints.careerGrandSlamPoints}"></td>
			<td th:colspan="${levelResultCount + 5}" class="first-column"></td>
			<td colspan="2" class="first-column" title="Career Grand Slam and Grand Slam Holder Points">Grand Slam</td>
			<td class="points first-column last-column" th:text="${goatPoints.careerGrandSlamPoints}"></td>
		</tr>
		<tr th:if="${goatPoints.bestSeasonPoints > 0}">
			<td class="first-column"></td>
			<td class="points first-column" th:text="${goatPoints.bestSeasonPoints}"></td>
			<td th:colspan="${levelResultCount + 5}" class="first-column"></td>
			<td colspan="2" class="first-column">Best Seasons</td>
			<td class="points first-column last-column" th:text="${goatPoints.bestSeasonPoints}"></td>
		</tr>
		<tr th:if="${goatPoints.greatestRivalriesPoints > 0}">
			<td class="first-column"></td>
			<td class="points first-column" th:text="${goatPoints.greatestRivalriesPoints}"></td>
			<td th:colspan="${levelResultCount + 5}" class="first-column"></td>
			<td colspan="2" class="first-column">Greatest Rivalries</td>
			<td class="points first-column last-column" th:text="${goatPoints.greatestRivalriesPoints}"></td>
		</tr>
		<tr th:if="${goatPoints.performancePoints > 0}">
			<td class="first-column"></td>
			<td class="points first-column" th:text="${goatPoints.performancePoints}"></td>
			<td th:colspan="${levelResultCount + 5}" class="first-column"></td>
			<td colspan="2" class="first-column">Performance</td>
			<td class="points first-column last-column" th:text="${goatPoints.performancePoints}"></td>
		</tr>
		<tr th:if="${goatPoints.statisticsPoints > 0}">
			<td class="first-column"></td>
			<td class="points first-column" th:text="${goatPoints.statisticsPoints}"></td>
			<td th:colspan="${levelResultCount + 5}" class="first-column"></td>
			<td colspan="2" class="first-column">Statistics</td>
			<td class="points first-column last-column" th:text="${goatPoints.statisticsPoints}"></td>
		</tr>
		</tbody>
		<thead>
		<tr>
			<th class="first-header first-column achievements" title="Career Achievements Points">Career Ach.</th>
			<th class="points first-header first-column achievements" th:text="${goatPoints.careerAchievementsPoints}"></th>
			<th th:colspan="${levelResultCount + 5}" class="first-header first-column"></th>
			<th colspan="2" class="first-header first-column achievements" title="Total Achievements Points">Total Achievements</th>
			<th class="points first-header first-column last-column achievements" th:text="${goatPoints.achievementsPoints}"></th>
		</tr>
		</thead>
		</th:block>
		<thead>
		<tr>
			<th class="first-header first-column grand-total">Total</th>
			<th class="points first-header first-column grand-total" th:text="${goatPoints.totalPoints}"></th>
			<th th:colspan="${levelResultCount + 8}" class="first-header first-column last-column"></th>
		</tr>
		</thead>
	</table>
	<br/>
	<button type="button" class="btn btn-info btn-sm" data-toggle="collapse" data-target="#goatLegend" data-url="/goatLegend">GOAT Pts. Legend&nbsp;&nbsp;<span class="glyphicon glyphicon-chevron-down"></span></button>
	<div id="goatLegend" class="collapse">Loading... <img src="/images/ui-anim_basic_16x16.gif" width="16" height="16"/></div>
</th:block>