<br/>
<th:block xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="playerId" type="java.lang.Integer"*/-->
<!--/*@thymesVar id="playerName" type="java.lang.String"*/-->
<!--/*@thymesVar id="levels" type="java.util.Set<org.strangeforest.tcb.stats.model.core.TournamentLevel>"*/-->
<!--/*@thymesVar id="levelGroups" type="java.util.Set<org.strangeforest.tcb.stats.model.core.TournamentLevelGroup>"*/-->
<!--/*@thymesVar id="surfaces" type="org.strangeforest.tcb.stats.model.core.Surface[]"*/-->
<!--/*@thymesVar id="surfaceGroups" type="org.strangeforest.tcb.stats.model.core.SurfaceGroup[]"*/-->
<!--/*@thymesVar id="speeds" type="org.strangeforest.tcb.stats.model.core.CourtSpeed[]"*/-->
<!--/*@thymesVar id="results" type="org.strangeforest.tcb.stats.model.core.EventResult[]"*/-->
<!--/*@thymesVar id="level" type="java.lang.String"*/-->
<!--/*@thymesVar id="surface" type="java.lang.String"*/-->
<!--/*@thymesVar id="indoor" type="java.lang.Boolean"*/-->
<!--/*@thymesVar id="result" type="java.lang.String"*/-->
<script type="text/javascript">
	$(function() {
		var $tournamentsTable = $("#tournamentsTable");
		var device = detectDevice();
		setBootgridColumnsVisible($tournamentsTable, ["speeds"], deviceGreaterOrEqual(device, "xl"));
		setBootgridColumnsVisible($tournamentsTable, ["seasons"], deviceGreaterOrEqual(device, "lg"));
		setBootgridColumnsVisible($tournamentsTable, ["lastResult", "titles"], deviceGreaterOrEqual(device, "md"));
		setBootgridColumnsVisible($tournamentsTable, ["wonPct", "bestResult", "stats"], deviceGreaterOrEqual(device, "sm"));
		setBootgridColumnsWidths($tournamentsTable, ["name"], [device === "xs" ? 150 : 200]);
		$tournamentsTable.bootgrid({
			ajax: true,
			ajaxSettings: {
				method: "GET",
				cache: false
			},
			url: "/playerTournamentsTable?playerId=[(${playerId})]",
			requestHandler: function(request) {
				request.level = $("#tournamentsLevel").val();
				request.surface = $("#tournamentsSurface").val();
				request.indoor = $("#tournamentsIndoor").val();
				request.speed = $("#tournamentsSpeed").val();
				request.result = $("#tournamentsResult").val();
				return request;
			},
			rowCount: [15, 25, 50, -1],
			formatters: {
				"tournament": tournamentFormatter,
				"levels": function(column, row) {
					var levels = row.levels;
					var s = "";
					for (var i = 0, count = Math.min(2, levels.length); i < count; i++) {
						if (s !== "") s += " ";
						var name = levelName(levels[i]);
						s += "<a href='/playerProfile" + tournamentsParams("level", levels[i]) + "&tab=events&tournamentId=" + row.id + "' class='label label-" + levels[i] + "' title='Show " + name + " tournament events'>" + name + "</a>";
					}
					return s;
				},
				"surfaces": function(column, row) {
					var surfaces = row.surfaces;
					var multi = surfaces.length > 1;
					var s = "";
					for (var i = 0, count = Math.min(3, surfaces.length); i < count; i++) {
						if (s !== "") s += " ";
						var surface = surfaces[i];
						var name = surfaceName(surface);
						s += "<a href='/playerProfile" + tournamentsParams("surface", surface) + "&tab=events&tournamentId=" + row.id + "' class='label label-" + surfaceClassSuffix(surface) + "' title='Show " + name + " tournament events'>" + (multi ? surfaceShortName(surface) : name) + "</a>";
					}
					return s;
				},
				"speeds": speedsFormatter,
				"eventCount": function(column, row) {
					return "<a href='/playerProfile" + tournamentsParams() + "&tab=events&tournamentId=" + row.id + "' title='Show tournament events'>" + row.eventCount + "</a>";
				},
				"seasons": seasonsFormatter,
				"bestResult": function(column, row) {
					return "<a class='label black bg-result-" + row.bestResult + "' href='/playerProfile" + tournamentsParams() + "&tab=events&tournamentId=" + row.id + "&result=" + row.bestResult + "' title='Show best result events'>" + row.bestResult + "</a>"
				},
				"lastResult": function(column, row) {
					return "<a class='label black bg-result-" + row.lastResult + "' href='/playerProfile?playerId=[(${playerId})]&tab=matches&tournamentEventId=" + row.lastTournamentEventId + "' title='Show last event matches'>" + row.lastResult + "</a>"
				},
				"wonPct": function(column, row) {
					return "<a href='/playerProfile" + tournamentsParams() + "&tab=performance&tournamentId=" + row.id + "' title='" + row.wonLost + "'>" + row.wonPct + "</a>";
				},
				"titles": function(column, row) {
					var titles = row.titles;
					return titles > 0 ? "<a href='/playerProfile" + tournamentsParams("result", "W") + "&tab=events&tournamentId=" + row.id + "' title='Show titles'>" + titles + "</a>" : "";
				},
				"stats": function(column, row) {
					return "<a id='tournamentStats-" + row.id + "' href='#' class='label label-info label-btn' onclick='showTournamentStats(" + row.id + ", event)' title='[[${playerName}]] " + row.name + " Statistics'><span class='glyphicon glyphicon-stats'></span>&nbsp;&nbsp;Stats</a>";
				}
			},
			labels: {
				loading: bootgridTemplateLoading,
				noResults: "No tournaments found"
			},
			templates: {
				paginationItem: bootgridTemplatePaginationItem
			}
		}).on("loaded.rs.jquery.bootgrid", function() {
			$("#tournamentsStats").popover("destroy").removeClass("loaded");
		});
		var $tournamentsTableHeader = $("#tournamentsTable-header");
		var $search = $tournamentsTableHeader.find("div.search");
		$search.before($("#tournamentsEvents").remove());
		$search.before($("#tournamentsStats").remove());
		$search.after($("#tournamentsClear").remove());
		setBootgridTitles($tournamentsTable, [
			{id: "speeds", title: "[[#{event.courtSpeed.title}]]"},
			{id: "bestResult", title: "Best result"},
			{id: "lastResult", title: "Last result"},
			{id: "titles", title: "Titles"}
		]);
		$tournamentsTable.find("th[data-column-id='titles'] > a > span.text").html("<i class='fa fa-trophy'></i>");
		$("[data-toggle='tooltip']").tooltip();
	});
	function reloadTournaments() {
		$("#tournamentsTable").bootgrid("reload");
	}
	function clearTournamentsFilter() {
		$("#tournamentsLevel").val("");
		$("#tournamentsSurface").val("");
		$("#tournamentsIndoor").val("");
		$("#tournamentsSpeed").val("");
		$("#tournamentsResult").val("");
		$("#tournamentsTable").bootgrid("search", "");
		reloadTournaments();
	}
	function tournamentsParams(param, value) {
		var params = "?playerId=[(${playerId})]";
		var level = $("#tournamentsLevel").val();
		if (level && param !== "level") params += "&level=" + level;
		var surface = $("#tournamentsSurface").val();
		if (surface && param !== "surface") params += "&surface=" + surface;
		var indoor = $("#tournamentsIndoor").val();
		if (indoor && param !== "indoor") params += "&indoor=" + indoor;
		var speed = $("#tournamentsSpeed").val();
		if (speed) params += "&speed=" + speed;
		var result = $("#tournamentsResult").val();
		if (result && param !== "result") params += "&result=" + encodeURIComponent(result);
		if (param)
			params += "&" + param + "=" + value;
		return params;
	}
	function showTournamentsEvents() {
		window.location.href = "/playerProfile" + tournamentsParams() + "&tab=events";
	}
	function showTournamentsStats(event) {
		var $tournamentsStats = $("#tournamentsStats");
		if (!$tournamentsStats.hasClass("loaded")) {
			event.preventDefault();
			var url = "/tournamentsStats" + tournamentsParams() + "&searchPhrase=" + $("#tournamentsTable-header").find("input.search-field").val();
			$.get(url, function(data) {
				$tournamentsStats.addClass("loaded").popover({content: data, html: true, placement: "auto left"});
				$tournamentsStats.on("show.bs.popover", function() { $(this).data("bs.popover").tip().css("max-width", "1000px"); }).click();
				$tournamentsStats.data("statsURL", url);
			});
		}
	}
	function showTournamentStats(tournamentId, event) {
		var $tournamentStats = $("#tournamentStats-" + tournamentId);
		if (!$tournamentStats.hasClass("loaded")) {
			event.preventDefault();
			var url = "/tournamentPlayerStats" + tournamentsParams() + "&tournamentId=" + tournamentId + "&searchPhrase=" + $("#tournamentsTable-header").find("input.search-field").val();
			$.get(url, function(data) {
				$tournamentStats.addClass("loaded").popover({content: data, html: true, placement: "auto right"});
				$tournamentStats.on("show.bs.popover", function() { $(this).data("bs.popover").tip().css("max-width", "1000px"); }).click();
				$tournamentStats.data("statsURL", url);
			});
		}
	}
</script>
<div class="row">
	<div class="col-md-2">
		<select id="tournamentsLevel" class="form-control" onchange="reloadTournaments()" data-toggle="tooltip" data-placement="top" title="Filter by tournament level">
			<option value="">All levels</option>
			<option th:each="aLevel : ${levels}" th:value="${aLevel.code}" th:class="|bg-level-${aLevel.code}|" value="G" class="bg-level-G" th:text="${aLevel.text}" th:selected="${aLevel.code == level}">Grand Slam</option>
			<option th:each="levelGroup : ${levelGroups}" th:value="${levelGroup.codes}" value="GFLMO" th:text="${levelGroup.text}" th:selected="${levelGroup.codes == level}">Big Tournaments</option>
		</select>
	</div>
	<div class="col-md-2">
		<select id="tournamentsSurface" class="form-control" onchange="reloadTournaments()" data-toggle="tooltip" data-placement="top" title="Filter by surface">
			<option value="">All surfaces</option>
			<option th:each="aSurface : ${surfaces}" th:value="${aSurface.code}" th:class="|bg-surface-${aSurface.code}|" value="H" class="bg-surface-H" th:text="${aSurface.text}" th:selected="${aSurface.code == surface}">Hard</option>
			<option th:each="surfaceGroup : ${surfaceGroups}" th:value="${surfaceGroup.codes}" value="HGP" th:text="${surfaceGroup.text}" th:selected="${surfaceGroup.codes.length() > 1 && surfaceGroup.codes == surface}">Fast (H, G, Cp)</option>
		</select>
	</div>
	<div class="col-md-2">
		<select id="tournamentsIndoor" class="form-control" onchange="reloadTournaments()" data-toggle="tooltip" data-placement="top" title="Filter by outdoor / indoor">
			<option value="">Outdoor / Indoor</option>
			<option value="false" th:selected="${indoor == false}">Outdoor</option>
			<option value="true" th:selected="${indoor}">Indoor</option>
		</select>
	</div>
	<div class="col-md-2">
		<select id="tournamentsSpeed" class="form-control" onchange="reloadTournaments()" data-toggle="tooltip" data-placement="top" title="Filter by court speed">
			<option value="">All speeds</option>
			<option th:each="aSpeed : ${speeds}" th:value="${aSpeed.speed}" th:class="|points-${aSpeed.speed}|" style="color: white" value="50" class="points-50" th:text="${aSpeed.text}">Medium</option>
		</select>
	</div>
	<div class="col-md-2">
		<select id="tournamentsResult" class="form-control" onchange="reloadTournaments()" data-toggle="tooltip" data-placement="top" title="Filter by result">
			<option value="">All results</option>
			<option th:each="aResult : ${results}" th:value="${aResult.code}" th:class="|bg-result-${aResult.baseCode}|" value="W" class="bg-result-W" th:text="${aResult.text}" th:selected="${aResult.code == result}">Win</option>
		</select>
	</div>
</div>
<button id="tournamentsEvents" type="button" class="btn btn-info grid-control margin-right" onclick="showTournamentsEvents()" data-toggle="tooltip" data-placement="top" th:title="|${playerName} Tournament Events (for the selected tournaments)|">
	<span class="glyphicon glyphicon-list"></span>&nbsp;&nbsp;Events
</button>
<button id="tournamentsStats" type="button" class="btn btn-info grid-control margin-right" onclick="showTournamentsStats(event)" data-toggle="tooltip" data-placement="top" th:title="|${playerName} Statistics (for the selected tournaments)|">
	<span class="glyphicon glyphicon-stats"></span>&nbsp;&nbsp;Stats
</button>
<button id="tournamentsClear" type="button" class="btn btn-default grid-control margin-right" onclick="clearTournamentsFilter()" data-toggle="tooltip" data-placement="top" title="Clear all filters">
	<i class="fa fa-eraser"></i>&nbsp;&nbsp;Clear
</button>
<table id="tournamentsTable" class="table table-condensed table-hover table-striped">
	<thead>
	<tr>
		<th data-column-id="name" data-formatter="tournament" data-width="200">Tournament</th>
		<th data-column-id="levels" data-formatter="levels" data-width="140">Level</th>
		<th data-column-id="surfaces" data-formatter="surfaces" data-width="110">Surface</th>
		<th data-column-id="speeds" data-formatter="speeds" data-width="70">Speed</th>
		<th data-column-id="eventCount" data-formatter="eventCount" data-width="75">Events</th>
		<th data-column-id="seasons" data-formatter="seasons" data-width="180" data-sortable="false">Seasons</th>
		<th data-column-id="bestResult" data-formatter="bestResult" data-width="60" data-align="center" data-header-align="center">Best</th>
		<th data-column-id="lastResult" data-formatter="lastResult" data-width="60" data-align="center" data-header-align="center">Last</th>
		<th data-column-id="wonPct" data-formatter="wonPct" data-width="60" data-align="right" data-header-align="right">W%</th>
		<th data-column-id="titles" data-formatter="titles" data-width="40" data-align="center" data-header-align="right">T</th>
		<th data-column-id="stats" data-formatter="stats" data-sortable="false" data-width="75">Stats</th>
	</tr>
	</thead>
</table>
</th:block>