<br/>
<th:block xmlns:th="http://www.thymeleaf.org">
	<!--/*@thymesVar id="playerId" type="java.lang.Integer"*/-->
	<!--/*@thymesVar id="surfaces" type="org.strangeforest.tcb.stats.model.core.Surface[]"*/-->
	<!--/*@thymesVar id="surface" type="java.lang.String"*/-->
	<!--/*@thymesVar id="levelResults" type="java.util.Map<java.lang.String, java.util.List<java.lang.String>>"*/-->
	<!--/*@thymesVar id="levelResultCount" type="java.lang.Integer"*/-->
	<!--/*@thymesVar id="goatPoints" type="org.strangeforest.tcb.stats.model.PlayerGOATPoints"*/-->
	<!--/*@thymesVar id="highlightSeason" type="java.lang.Integer"*/-->
	<script type="text/javascript">
		$(function() {
			var $goatPointsTable = $("#goatPointsTable");
			$goatPointsTable.find("th.level").each(function() {
				var $level = $(this);
				var level = $level.data("level");
				$level.addClass("bg-level-" + level);
				if (!$level.hasClass("points")) {
					$level.html(level === "B" ? "250" : levelName(level));
					if (level === "F")
						$level.prop("title", "Tour Finals (including alternative Tour Finals)");
				}
			});
			$goatPointsTable.find("th.result").each(function() {
				var $result = $(this);
				$result.addClass("bg-result-" + $result.data("result"));
			});
			$("[data-toggle='collapse']").click(collapseClick);
		});
		function reloadPlayerGOATPoints() {
			var url = "/playerGOATPoints?playerId=[(${playerId})]";
			var surface = $("#goatPointsSurface").val();
			if (surface) url += "&surface=" + surface;
			$("#goatPoints").load(url);
		}
	</script>
	<style scoped="scoped">
		th.grand-total {
			background-color: tomato;
		}
		th.total {
			background-color: orange;
		}
		th.tournament {
			background-color: palegreen;
		}
		th.ranking {
			background-color: paleturquoise;
		}
		th.achievements {
			background-color: pink;
		}
		.first-header {
			border-top: 2px solid lightgray !important;
		}
		.first-column {
			border-left: 2px solid lightgray !important;
		}
		.last-column {
			border-right: 2px solid lightgray !important;
		}
		.valign-middle {
			vertical-align: middle;
		}
		.points {
			text-align: right;
		}
		.points-link {
			color: darkblue;
		}
		.points-link[href]:hover,
		.points-link[href]:focus {
			color: navy;
		}
		.highlight-season {
			background-color: #e8f4ff;
			border: 3px solid darkblue;
		}
		.result {
			width: 50px;
		}
	</style>
	<th:block th:include="fragments/deviceDetector :: largeDeviceRequired('md')"/>
	<table id="goatPointsTable" class="table table-condensed table-hover table-bordered text-nowrap">
		<thead>
		<tr>
			<th colspan="2" class="first-header first-column text-center valign-middle grand-total" style="padding: 3px">
				<select id="goatPointsSurface" class="form-control" style="height: 24px; padding: 2px 5px" onchange="reloadPlayerGOATPoints()" data-toggle="tooltip" data-placement="top" title="Select overall or GOAT Points by surface">
					<option value="">Overall</option>
					<option th:each="aSurface : ${surfaces}" th:value="${aSurface.code}" th:selected="${aSurface.code == surface}" th:class="|bg-surface-${aSurface.code}|" value="H" class="bg-surface-H" th:text="${aSurface.text}">Hard</option>
				</select>
			</th>
			<th th:colspan="${levelResultCount + 2}" class="first-header first-column text-center tournament">Tournament</th>
			<th colspan="4" rowspan="2" class="first-header first-column text-center valign-middle ranking">Ranking</th>
			<th colspan="3" rowspan="2" class="first-header first-column last-column text-center valign-middle achievements">Achievements</th>
		</tr>
		<tr>
			<th colspan="2" class="first-column text-center valign-middle grand-total">GOAT Points</th>
			<th th:each="level : ${levelResults}" th:colspan="${level.value.size()}" class="level first-column text-center" th:data-level="${level.key}" th:text="${level.key}">G</th>
			<th title="Davis Cup and Team Cups" class="first-column text-center small bg-level-D">D&amp;T</th>
			<th title="Tournament Level" class="first-column tournament">Level</th>
		</tr>
		<tr>
			<th class="first-column total">Season</th>
			<th class="first-column total" th:title="#{goatPoints.total.title}">Pts</th>
			<th:block th:each="level : ${levelResults}">
				<th th:each="result : ${level.value}" th:with="fRR=${level.key == 'F' && result =='RR'}" class="result text-center" th:attrappend="class=${(resultStat.first ? ' first-column' : '') + (fRR ? ' small' : '')}" th:data-result="${result}" th:text="${result}" th:title="${fRR ? 'Number of Round-Robin wins' : _}">W</th>
			</th:block>
			<th class="first-column text-center small bg-result-W" title="Number of match wins in finals">MW</th>
			<th class="first-column text-center tournament" th:title="#{goatPoints.tournament.title}">Pts</th>
			<th class="first-column text-center ranking" th:title="#{goatPoints.yearEndRanking.title}">YER P</th>
			<th class="text-center ranking" th:title="#{goatPoints.weeksAtNo1.title}">W@1 P</th>
			<th class="text-center ranking" th:title="#{goatPoints.weeksAtEloTopN.title}">W@E5 P</th>
			<th class="first-column text-center ranking" th:title="#{goatPoints.ranking.title}">Rnk P</th>
			<th class="first-column text-center achievements" th:title="#{goatPoints.bigWins.title}">BW P</th>
			<th class="text-center achievements" th:title="#{goatPoints.seasonGS.title}">GS P</th>
			<th class="first-column last-column text-center achievements" th:title="#{goatPoints.achievements.title}">Ach P</th>
		</tr>
		</thead>
		<tbody>
		<tr th:each="season : ${goatPoints.playerSeasonsPoints}" th:class="${season.season == highlightSeason ? 'highlight-season' : _}" th:with="breakdown=${season.tournamentBreakdown}">
			<th class="first-column points-" th:attrappend="class=${season.totalPointsRounded}">
				<a th:href="@{/playerProfile(playerId=${playerId}, tab=season, season=${season.season})}" th:text="${season.season}" class="points-link" title="Show season">2000</a>
			</th>
			<th class="points first-column points-" th:attrappend="class=${surface == null ? season.totalPointsRounded : season.totalPointsRounded}" th:text="${season.totalPoints}">50</th>
			<th:block th:each="level : ${levelResults}">
				<td th:each="result : ${level.value}" class="points" th:attrappend="class=${resultStat.first ? ' first-column' : ''}">
					<th:block th:if="${breakdown.hasItem(level.key, result)}" th:with="aLevel=${breakdown.getLevel(level.key, result)}, resultCount=${breakdown.getResultCount(level.key, result)}">
						<a th:unless="${result == 'RR'}" th:href="@{/playerProfile(playerId=${playerId}, tab=events, season=${season.season}, level=${aLevel}, surface=${surface}, result=${result})}" th:text="${resultCount}" title="Show results">1</a>
						<a th:if="${result == 'RR'}" th:href="@{/playerProfile(playerId=${playerId}, tab=matches, season=${season.season}, level=${aLevel}, surface=${surface}, round='RR', outcome='won')}" th:text="${resultCount}" class="small" title="Show Round-Robin wins">1</a>
					</th:block>
				</td>
			</th:block>
			<td class="points first-column"><a th:href="@{/playerProfile(playerId=${playerId}, tab=matches, season=${season.season}, level='DT', surface=${surface}, round='F', outcome='won')}" th:text="${breakdown.getResultCount('T', 'W')}" class="small" title="Show matches">2</a></td>
			<td class="points first-column" th:text="${season.tournamentPoints}">35</td>
			<td class="points first-column" th:text="${season.yearEndRankPoints}">8</td>
			<td class="points" th:text="${#numbers.formatDecimal(season.weeksAtNo1Points, 1, 1)}">5.2</td>
			<td class="points" th:text="${#numbers.formatDecimal(season.weeksAtEloTopNPoints, 1, 1)}">5.2</td>
			<td class="points first-column" th:text="${season.rankingPoints}">13</td>
			<td class="points first-column"><a th:href="@{/playerProfile(playerId=${playerId}, tab=matches, season=${season.season}, surface=${surface}, bigWin=true)}" th:text="${#numbers.formatDecimal(season.bigWinsPoints, 1, 1)}" title="Show Big Win matches">4.5</a></td>
			<td class="points" th:text="${season.grandSlamPoints}">0</td>
			<td class="points first-column last-column" th:text="${season.achievementsPoints}">4</td>
		</tr>
		</tbody>
		<thead>
		<tr th:with="breakdown=${goatPoints.tournamentBreakdown}">
			<th class="first-header first-column total">All Seasons</th>
			<th class="points first-header first-column total" th:text="${goatPoints.seasonsPoints}">250</th>
			<th:block th:each="level : ${levelResults}">
				<th th:each="result : ${level.value}" class="level points first-header" th:attrappend="class=${resultStat.first ? ' first-column' : ''}" th:data-level="${level.key}">
					<th:block th:if="${breakdown.hasItem(level.key, result)}" th:with="aLevel=${breakdown.getLevel(level.key, result)}, resultCount=${breakdown.getResultCount(level.key, result)}">
						<a th:unless="${result == 'RR'}" th:href="@{/playerProfile(playerId=${playerId}, tab=events, level=${aLevel}, surface=${surface}, result=${result})}" th:text="${resultCount}" title="Show results">1</a>
						<a th:if="${result == 'RR'}" th:href="@{/playerProfile(playerId=${playerId}, tab=matches, level=${aLevel}, surface=${surface}, round='RR', outcome='won')}" th:text="${resultCount}" class="small" title="Show Round-Robin wins">1</a>
					</th:block>
				</th>
			</th:block>
			<th class="points first-header first-column bg-level-D"><a th:href="@{/playerProfile(playerId=${playerId}, tab=matches, level='DT', surface=${surface}, round='F', outcome='won')}" th:text="${breakdown.getResultCount('T', 'W')}" class="small" title="Show matches">4</a></th>
			<th class="points first-header first-column tournament" th:title="#{goatPoints.totalTournament.title}" th:text="${goatPoints.tournamentPoints}">235</th>
			<th class="points first-header first-column ranking" th:text="${goatPoints.yearEndRankPoints}">8</th>
			<th class="points first-header ranking" th:text="${goatPoints.weeksAtNo1Points}">5</th>
			<th class="points first-header ranking" th:text="${goatPoints.weeksAtEloTopNPoints}">5</th>
			<th class="points first-header first-column ranking" th:text="${goatPoints.seasonsRankingPoints}">13</th>
			<th class="points first-header first-column achievements"><a th:href="@{/playerProfile(playerId=${playerId}, tab=matches, surface=${surface}, bigWin=true)}" th:text="${goatPoints.bigWinsPoints}" title="Show Big Win matches">4</a></th>
			<th class="points first-header achievements" th:text="${goatPoints.seasonsGrandSlamPoints}">0</th>
			<th class="points first-header first-column last-column achievements" th:text="${goatPoints.seasonsAchievementsPoints}">4</th>
		</tr>
		</thead>
		<th:block th:if="${goatPoints.careerRankingPoints > 0}">
		<tbody>
		<tr th:if="${goatPoints.bestRankPoints > 0}">
			<td class="first-column"></td>
			<td class="points first-column" th:text="${goatPoints.bestRankPoints}"></td>
			<td th:colspan="${levelResultCount + 2}" class="first-column"></td>
			<td colspan="3" class="first-column">Best Rank</td>
			<td class="points first-column" th:text="${goatPoints.bestRankPoints}"></td>
			<td colspan="3" class="first-column last-column"></td>
		</tr>
		<tr th:if="${goatPoints.bestEloRatingPoints > 0}">
			<td class="first-column"></td>
			<td class="points first-column" th:text="${goatPoints.bestEloRatingPoints}"></td>
			<td th:colspan="${levelResultCount + 2}" class="first-column"></td>
			<td colspan="3" class="first-column">Peak Elo Rating</td>
			<td class="points first-column" th:text="${goatPoints.bestEloRatingPoints}"></td>
			<td colspan="3" class="first-column last-column"></td>
		</tr>
		</tbody>
		<thead>
		<tr>
			<th class="first-header first-column ranking" th:title="#{goatPoints.careerRanking.title}">Career Rnk</th>
			<th class="points first-header first-column ranking" th:text="${goatPoints.careerRankingPoints}"></th>
			<th th:colspan="${levelResultCount + 2}" class="first-header first-column"></th>
			<th colspan="3" class="first-header first-column ranking" th:title="#{goatPoints.totalRanking.title}">Total Ranking</th>
			<th class="points first-header first-column ranking" th:text="${goatPoints.rankingPoints}"></th>
			<th colspan="3" class="first-header first-column last-column"></th>
		</tr>
		</thead>
		</th:block>
		<th:block th:if="${goatPoints.careerAchievementsPoints > 0}">
		<tbody>
		<tr th:if="${goatPoints.careerGrandSlamPoints > 0}">
			<td class="first-column"></td>
			<td class="points first-column" th:text="${goatPoints.careerGrandSlamPoints}"></td>
			<td th:colspan="${levelResultCount + 6}" class="first-column"></td>
			<td colspan="2" class="first-column" th:title="#{goatPoints.careerGS.title}">Grand Slam</td>
			<td class="points first-column last-column" th:text="${goatPoints.careerGrandSlamPoints}"></td>
		</tr>
		<tr th:if="${goatPoints.h2hPoints > 0}">
			<td class="first-column"></td>
			<td class="points first-column" th:text="${goatPoints.h2hPoints}"></td>
			<td th:colspan="${levelResultCount + 6}" class="first-column"></td>
			<td colspan="2" class="first-column">Head-to-Head</td>
			<td class="points first-column last-column" th:text="${goatPoints.h2hPoints}"></td>
		</tr>
		<tr th:if="${goatPoints.recordsPoints > 0}">
			<td class="first-column"></td>
			<td class="points first-column" th:text="${goatPoints.recordsPoints}"></td>
			<td th:colspan="${levelResultCount + 6}" class="first-column"></td>
			<td colspan="2" class="first-column">Records</td>
			<td class="points first-column last-column" th:text="${goatPoints.recordsPoints}"></td>
		</tr>
		<tr th:if="${goatPoints.bestSeasonPoints > 0}">
			<td class="first-column"></td>
			<td class="points first-column" th:text="${goatPoints.bestSeasonPoints}"></td>
			<td th:colspan="${levelResultCount + 6}" class="first-column"></td>
			<td colspan="2" class="first-column">Best Seasons</td>
			<td class="points first-column last-column" th:text="${goatPoints.bestSeasonPoints}"></td>
		</tr>
		<tr th:if="${goatPoints.greatestRivalriesPoints > 0}">
			<td class="first-column"></td>
			<td class="points first-column" th:text="${goatPoints.greatestRivalriesPoints}"></td>
			<td th:colspan="${levelResultCount + 6}" class="first-column"></td>
			<td colspan="2" class="first-column">Greatest Rivalries</td>
			<td class="points first-column last-column" th:text="${goatPoints.greatestRivalriesPoints}"></td>
		</tr>
		<tr th:if="${goatPoints.performancePoints > 0}">
			<td class="first-column"></td>
			<td class="points first-column" th:text="${goatPoints.performancePoints}"></td>
			<td th:colspan="${levelResultCount + 6}" class="first-column"></td>
			<td colspan="2" class="first-column">Performance</td>
			<td class="points first-column last-column" th:text="${goatPoints.performancePoints}"></td>
		</tr>
		<tr th:if="${goatPoints.statisticsPoints > 0}">
			<td class="first-column"></td>
			<td class="points first-column" th:text="${goatPoints.statisticsPoints}"></td>
			<td th:colspan="${levelResultCount + 6}" class="first-column"></td>
			<td colspan="2" class="first-column">Statistics</td>
			<td class="points first-column last-column" th:text="${goatPoints.statisticsPoints}"></td>
		</tr>
		</tbody>
		<thead>
		<tr>
			<th class="first-header first-column achievements" th:title="#{goatPoints.careerAchievements.title}">Career Ach</th>
			<th class="points first-header first-column achievements" th:text="${goatPoints.careerAchievementsPoints}"></th>
			<th th:colspan="${levelResultCount + 6}" class="first-header first-column"></th>
			<th colspan="2" class="first-header first-column achievements" th:title="#{goatPoints.totalAchievements.title}">Total Achievements</th>
			<th class="points first-header first-column last-column achievements" th:text="${goatPoints.achievementsPoints}"></th>
		</tr>
		</thead>
		</th:block>
		<thead>
		<tr>
			<th class="first-header first-column grand-total">Total</th>
			<th class="points first-header first-column grand-total" th:text="${goatPoints.totalPoints}"></th>
			<th th:colspan="${levelResultCount + 9}" class="first-header first-column last-column"></th>
		</tr>
		</thead>
	</table>
	<br/>
	<button type="button" class="btn btn-info btn-sm" data-toggle="collapse" data-target="#goatLegend" th:data-url="@{/goatLegend(surface=${surface})}">GOAT Pts. Legend&nbsp;&nbsp;<i class="fa fa-chevron-down"></i></button>
	<div id="goatLegend" class="collapse">Loading... <img src="/images/ui-anim_basic_16x16.gif" width="16" height="16"/></div>
</th:block>