<th:block  xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="player" type="org.strangeforest.tcb.stats.model.Player"*/-->
<br/>
<div class="row">
	<div class="col-md-3">
		<table class="table table-condensed text-nowrap">
			<!--/* General */-->
			<tr th:if="${player.dob}">
				<th>Age</th>
				<td th:text="|${player.age} (${#dates.format(player.dob, 'dd-MM-yyyy')})|">25 (1-1-1990)</td>
			</tr>
			<tr>
				<th>Country</th>
				<td><img th:src="@{/images/flags/{code}.png(code=${player.countryCode})}" src="/images/flags/us.png" th:title="${player.countryId}" title="USA" width="24" height="20"/> <span th:text="${player.countryName}">United States</span></td>
			</tr>
			<tr th:if="${player.birthplace}">
				<th>Birthplace</th>
				<td th:text="${player.birthplace}">New York</td>
			</tr>
			<tr th:if="${player.residence}">
				<th>Residence</th>
				<td th:text="${player.residence}">New York</td>
			</tr>
			<tr th:if="${player.height > 0}">
				<th>Height</th>
				<td th:text="|${player.height} cm|">180 cm</td>
			</tr>
			<tr th:if="${player.weight > 0}">
				<th>Weight</th>
				<td th:text="|${player.weight} kg|">80 kg</td>
			</tr>
			<tr th:if="${player.hand}">
				<th>Plays</th>
				<td th:text="${player.handName}">Right-handed</td>
			</tr>
			<tr th:if="${player.backhand}">
				<th>Backhand</th>
				<td th:text="${player.backhandName}">Two-handed</td>
			</tr>
		</table>
	</div>
	<div class="col-md-1">&nbsp;</div>
	<div class="col-md-3">
		<table class="table table-condensed text-nowrap">
			<!--/* Titles */-->
			<tr th:if="${player.titles > 0}">
				<th>Titles</th>
				<td width="100%"><a class="label label-default" th:text="${player.titles}" th:href="'/playerProfile?playerId=' + ${player.id} + '&amp;result=W'" title="Show titles">10</a></td>
			</tr>
			<tr th:if="${player.grandSlams > 0}">
				<th>Grand Slams</th>
				<td><a class="label label-danger" th:text="${player.grandSlams}" th:href="'/playerProfile?playerId=' + ${player.id} + '&amp;level=G&amp;result=W'" title="Show Grand Slam titles">1</a></td>
			</tr>
			<tr th:if="${player.tourFinals > 0}">
				<th>Tour Finals</th>
				<td><a class="label label-warning" th:text="${player.tourFinals}" th:href="'/playerProfile?playerId=' + ${player.id} + '&amp;level=F&amp;result=W'" title="Show Tour Finals titles">1</a></td>
			</tr>
			<tr th:if="${player.masters > 0}">
				<th>Masters</th>
				<td><a class="label label-info" th:text="${player.masters}" th:href="'/playerProfile?playerId=' + ${player.id} + '&amp;level=M&amp;result=W'" title="Show Masters titles">5</a></td>
			</tr>
			<tr th:if="${player.olympics > 0}">
				<th>Olympics</th>
				<td><a class="label label-success" th:text="${player.olympics}" th:href="'/playerProfile?playerId=' + ${player.id} + '&amp;level=O&amp;result=W'" title="Show Olympics titles">1</a></td>
			</tr>
			<!--/* Ranking */-->
			<tr th:if="${player.currentRank > 0}">
				<th>Current Rank</th>
				<td th:text="${player.currentRank} + ' (' + ${player.currentRankPoints} + ')'">10 (3000)</td>
			</tr>
			<tr th:if="${player.bestRank > 0}">
				<th>Best Rank</th>
				<td th:text="${player.bestRank} + ' (' + ${#dates.format(player.bestRankDate, 'dd-MM-yyyy')} + ')'">5 (1.1.2010)</td>
			</tr>
			<tr th:if="${player.goatPoints > 0}">
				<th>GOAT Rank</th>
				<td>
					<th:block th:text="${player.goatRank}">50</th:block>
					(<a th:href="'/playerProfile?playerId=' + ${player.id} + '&amp;goatPoints=true'" th:text="${player.goatPoints}" title="Show GOAT points distribution">25</a>)
				</td>
			</tr>
			<tr th:if="${player.weeksAtNo1 > 0}">
				<th>Weeks at No. 1</th>
				<td th:text="${player.weeksAtNo1}">50</td>
			</tr>
		</table>
	</div>
	<div class="col-md-1">&nbsp;</div>
	<div class="col-md-4">
		<table class="table table-condensed text-nowrap">
			<!--/* Tennis */-->
			<tr>
				<th>Active</th>
				<td th:text="${player.active ? 'Yes' : 'No'}">Yes</td>
			</tr>
			<tr th:if="${player.turnedPro > 0}">
				<th>Turned Pro</th>
				<td th:text="${player.turnedPro}">2005</td>
			</tr>
			<tr th:if="${player.coach}">
				<th>Coach</th>
				<td th:text="${player.coach}">Brad Gilbert</td>
			</tr>
         <!--/* Social */-->
			<tr th:if="${player.webSite}">
				<th>Web Site</th>
				<td><a th:href="'http://' + ${player.webSite}" href="http://www.johnsmith.com" target="_blank" th:text="${player.webSite}">www.johnsmith.com</a></td>
			</tr>
			<tr th:if="${player.twitter}">
				<th>Twitter</th>
				<td><a th:href="'https://twitter.com/' + ${player.twitter}" href="https://twitter.com/JohnSmith" target="_blank" th:text="'@'+ ${player.twitter}">@JohnSmith</a></td>
			</tr>
			<tr th:if="${player.facebook}">
				<th>Facebook</th>
				<td><a th:href="'https://www.facebook.com/' + ${player.facebook}" href="https://www.facebook.com/JohnSmith" target="_blank" th:text="${player.facebook}">JohnSmith</a></td>
			</tr>
		</table>
	</div>
</div>
</th:block>