<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="player" type="org.strangeforest.tcb.stats.model.Player"*/-->
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<title th:text="'Ultimate Tennis Statistics - ' + (${player} ? ${player.name} : 'Player') + ' Record'">Ultimate Tennis Statistics - Player Record</title>
	<link th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
	<link th:href="@{/webjars/jquery-ui-themes/1.11.4/smoothness/jquery-ui.css}" rel="stylesheet" media="screen"/>
	<link th:href="@{/webjars/jquery.bootgrid/1.2.0/dist/jquery.bootgrid.min.css}" rel="stylesheet" media="screen"/>
	<script th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
	<script th:src="@{/webjars/jquery-ui/1.11.4/jquery-ui.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/3.3.5/js/bootstrap.min.js}"></script>
	<script th:src="@{/webjars/jquery.bootgrid/1.2.0/dist/jquery.bootgrid.min.js}"></script>
	<style>
		.ui-autocomplete {
			max-height: 600px; overflow-y: auto; overflow-x: hidden;
		}
		.ui-autocomplete-loading {
			background: white url("http://jquery-ui.googlecode.com/svn/tags/1.8.2/themes/smoothness/images/ui-anim_basic_16x16.gif") right center no-repeat;
		}
		.no-wrap {
			white-space: nowrap;
			overflow: hidden;
		}
	</style>
	<script type="text/javascript">
		/*<![CDATA[*/
		$(function() {
			$("#player").autocomplete({
				source: "autocompletePlayer",
				minLength: 2,
				select: function(event, ui) {
					if (ui.item)
						window.location = "playerRecord?id=" + ui.item.id;
				}
			}).focus();
		});
		/*]]>*/
	</script>
</head>
<body class="container">
	<h1><a href="/">Ultimate Tennis Statistics</a></h1>
	<div class="ui-widget">
		<label for="player">Player: </label>
		<input id="player" size="50"/>
	</div>
	<div th:if="${player}">
		<h3 th:text="|${player.name} Record|">Player Record</h3>
		<div style="display: inline-block; vertical-align: top">
			<table class="table table-condensed">
				<!--/* General */-->
				<tr>
					<th class="no-wrap">Name</th>
					<td th:text="${player.name}" width="100%">Player</td>
				</tr>
				<tr>
					<th class="no-wrap">Age</th>
					<td th:text="|${player.age} (${#dates.format(player.dob, 'dd-MM-yyyy')})|">25 (1-1-1990)</td>
				</tr>
				<tr>
					<th class="no-wrap">Country</th>
					<td><img th:src="@{/flags/{code}.png(code=${player.countryCode})}" src="/flags/us.png" th:title="${player.countryId}" title="USA" width="24" height="24"/> <span th:text="${player.countryName}">United States</span></td>
				</tr>
				<tr th:if="${player.birthplace}">
					<th class="no-wrap">Birthplace</th>
					<td th:text="${player.birthplace}">New York</td>
				</tr>
				<tr th:if="${player.residence}">
					<th class="no-wrap">Residence</th>
					<td th:text="${player.residence}">New York</td>
				</tr>
				<tr th:if="${player.height > 0}">
					<th class="no-wrap">Height</th>
					<td th:text="|${player.height} cm|">180 cm</td>
				</tr>
				<tr th:if="${player.weight > 0}">
					<th class="no-wrap">Weight</th>
					<td th:text="|${player.weight} kg|">80 kg</td>
				</tr>

				<!--/* Tennis */-->
				<tr th:if="${player.hand}">
					<th class="no-wrap">Hand</th>
					<td th:text="${player.handName}">Right-handed</td>
				</tr>
				<tr th:if="${player.backhand}">
					<th class="no-wrap">Backhand</th>
					<td th:text="${player.backhandName}">Two-handed</td>
				</tr>
				<tr th:if="${player.turnedPro > 0}">
					<th class="no-wrap">Turned Pro</th>
					<td th:text="${player.turnedPro}">2005</td>
				</tr>
				<tr th:if="${player.coach}">
					<th class="no-wrap">Coach</th>
					<td th:text="${player.coach}">Brad Gilbert</td>
				</tr>

				<!--/* Social */-->
				<tr th:if="${player.webSite}">
					<th class="no-wrap">Web Site</th>
					<td th:text="${player.webSite}">www.johnsmith.com</td>
				</tr>
				<tr th:if="${player.twitter}">
					<th class="no-wrap">Twitter</th>
					<td th:text="${player.twitter}">twitter</td>
				</tr>
				<tr th:if="${player.facebook}">
					<th class="no-wrap">Facebook</th>
					<td th:text="${player.facebook}">facebook</td>
				</tr>
			</table>
		</div>
		<div style="display: inline-block; width: 10%">&nbsp;</div>
		<div style="display: inline-block">
			<table class="table table-condensed">
				<!--/* Titles */-->
				<tr th:if="${player.titles > 0}">
					<th class="no-wrap">Titles</th>
					<td th:text="${player.titles}" width="100%">10</td>
				</tr>
				<tr th:if="${player.grandSlams > 0}">
					<th class="no-wrap">Grand Slams</th>
					<td th:text="${player.grandSlams}">1</td>
				</tr>
				<tr th:if="${player.tourFinals > 0}">
					<th class="no-wrap">Tour Finals</th>
					<td th:text="${player.tourFinals}">1</td>
				</tr>
				<tr th:if="${player.masters > 0}">
					<th class="no-wrap">Masters</th>
					<td th:text="${player.masters}">5</td>
				</tr>
				<tr th:if="${player.olympics > 0}">
					<th class="no-wrap">Olympics</th>
					<td th:text="${player.olympics}">1</td>
				</tr>

				<!--/* Ranking */-->
				<tr th:if="${player.currentRank > 0}">
					<th class="no-wrap">Current Rank</th>
					<td th:text="${player.currentRank} + ' (' + ${player.currentRankPoints} + ')'">10 (3000)</td>
				</tr>
				<tr th:if="${player.bestRank > 0}">
					<th class="no-wrap">Best Rank</th>
					<td th:text="${player.bestRank} + ' (' + ${#dates.format(player.bestRankDate, 'dd-MM-yyyy')} + ')'">5 (1.1.2010)</td>
				</tr>
				<tr th:if="${player.bestRankPoints > 0}">
					<th class="no-wrap">Best Rank Points</th>
					<td th:text="${player.bestRankPoints} + ' (' + ${#dates.format(player.bestRankPointsDate, 'dd-MM-yyyy')} + ')'">5000 (1.1.2011)</td>
				</tr>
				<tr th:if="${player.goatRankPoints > 0}">
					<th class="no-wrap">GOAT Rank</th>
					<td th:text="${player.goatRank} + ' (' + ${player.goatRankPoints} + ')'">50 (2500)</td>
				</tr>
			</table>
		</div>
		<h3 style="position: absolute">Tournament Results</h3>
		<script type="text/javascript" th:inline="javascript">
			/*<![CDATA[*/
			$(function() {
				$("#resultsTable").bootgrid({
					ajax: true,
					ajaxSettings: {
						method: "GET",
						cache: false
					},
					url: "/playerResults?playerId=[[${player.id}]]",
					rowCount: [10, 20, 50, -1]
				});
			});
			/*]]>*/
		</script>
		<table id="resultsTable" class="table table-condensed table-hover table-striped">
			<thead>
				<tr>
					<th data-column-id="season" data-type="numeric" data-sortable="false" data-width="50">Season</th>
					<th data-column-id="date" data-sortable="false" data-width="80">Date</th>
					<th data-column-id="levelName" data-sortable="false" data-width="100">Level</th>
					<th data-column-id="name" data-sortable="false" data-width="250">Tournament</th>
					<th data-column-id="result" data-sortable="false" data-width="50">Result</th>
				</tr>
			</thead>
		</table>
	</div>
</body>
</html>