<th:block  xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="playerId" type="int[]"*/-->
<!--/*@thymesVar id="seasons" type="java.util.List<java.lang.Integer>"*/-->
<!--/*@thymesVar id="surfaces" type="org.strangeforest.tcb.stats.model.Surface[]"*/-->
<!--/*@thymesVar id="surfaceGroups" type="org.strangeforest.tcb.stats.model.SurfaceGroup[]"*/-->
<!--/*@thymesVar id="categoryClasses" type="java.util.Map<java.lang.String, java.util.List<org.strangeforest.tcb.stats.model.StatsCategory>>"*/-->
<!--/*@thymesVar id="categoryTypes" type="java.util.Map<java.lang.String, java.lang.String>"*/-->
<script src="/js/tennis-chart.js"></script>
<script type="text/javascript" th:inline="javascript">
	var categoryTypes = [[${categoryTypes}]];
</script>
<script type="text/javascript">
	var statsChartData, statsPointCount, isPct;
	function loadGoogleChartsForStats() {
		google.load("visualization", "1.0", {packages:["corechart"], callback: function() {
			drawStatsChart();
		}});
	}
	function drawStatsChart() {
		var category = $("#statsCategory").val();
		var dataUrl = "[[@{/playerStatisticsTable(playerId=${playerId})}]]".replace("&amp;", "&") + "&category=" + category + "&surface=" + $("#statsChartSurface").val();
		dataUrl += "&fromSeason=" + $("#statsFromSeason").val() + "&toSeason=" + $("#statsToSeason").val();
		dataUrl += "&byAge=" + $("#statsByAge").prop("checked");
		var $loading = $("#statsChartLoading");
		$loading.show();
		$.ajax(dataUrl).done(function(json) {
			statsChartData = new google.visualization.DataTable(JSON.stringify(json));
			statsPointCount = json.rows.length;
			isPct = categoryTypes[category] == "PERCENTAGE";
			var width = $("#statsChartSize").slider("value");
			showStatsChart(statsChartData, "statsChart", width, statsPointCount, isPct, "[[${playerId.length > 1 ? 'bottom' : 'none'}]]");
		}).always(function() {
			$loading.hide().css("position", "absolute").css("z-index", "100");
		});
	}
	$(function() {
		$("#statsChartSize").slider({
			min: 500,
			max: 1500,
			value: defaultChartWOLegendSize(detectDevice()),
			step: 50,
			slide: function(event, ui) {
				showStatsChart(statsChartData, "statsChart", ui.value, statsPointCount, isPct, "[[${playerId.length > 1 ? 'bottom' : 'none'}]]");
			}
		});
		onStatsSeasonRangeChange();
		$("[data-toggle='tooltip']").tooltip();
	});
	function onStatsSeasonRangeChange() {
		$("#statsByAgeDiv").css("display", $("#statsFromSeason").val() == "" && $("#statsToSeason").val() == "" ? "block" : "none");
	}
</script>
<script async defer type="text/javascript" src="https://www.google.com/jsapi?callback=loadGoogleChartsForStats"></script>
<style scoped="scoped">
	.checkbox {
		margin-top: 7px;
		margin-bottom: 7px;
	}
</style>
<br/>
<div class="row">
	<div class="col-md-4">
		<div class="input-group">
			<label for="statsCategory" class="input-group-addon">Category:</label>
			<select id="statsCategory" class="form-control">
				<optgroup th:each="categoryClass : ${categoryClasses}" th:label="${categoryClass.key}" label="Serve">
					<option th:each="category : ${categoryClass.value}" th:value="${category.name}" value="aces" th:text="${category.title}" th:title="#{__${category.descriptionId}__}">Aces</option>
				</optgroup>
			</select>
		</div>
	</div>
	<div class="col-md-3">
		<div class="input-group">
			<label for="statsChartSurface" class="input-group-addon">Surface:</label>
			<select id="statsChartSurface" class="form-control">
				<option value="">All surfaces</option>
				<option th:each="surface : ${surfaces}" th:value="${surface.code}" th:class="|bg-surface-${surface.code}|" value="H" class="bg-surface-H" th:text="${surface.text}">Hard</option>
				<option th:each="surfaceGroup : ${surfaceGroups}" th:value="${surfaceGroup.codes}" value="HGP" th:text="${surfaceGroup.text}">Fast (H, G, Cp)</option>
			</select>
		</div>
	</div>
</div>
<div style="height: 5px"></div>
<div class="row">
	<div class="col-md-4">
		<div class="input-group">
			<label for="statsFromSeason" class="input-group-addon">From:</label>
			<select id="statsFromSeason" class="form-control" onchange="onStatsSeasonRangeChange()">
				<option value="">All seasons</option>
				<option th:each="season : ${seasons}" th:value="${season}" value="2005" th:text="${season}">2005</option>
			</select>
			<label for="statsToSeason" class="input-group-addon">To:</label>
			<select id="statsToSeason" class="form-control" onchange="onStatsSeasonRangeChange()">
				<option value="">All seasons</option>
				<option th:each="season : ${seasons}" th:value="${season}" value="2005" th:text="${season}">2005</option>
			</select>
		</div>
	</div>
	<div class="col-md-1">
		<div id="statsByAgeDiv" class="checkbox">
			<label data-toggle="tooltip" data-placement="top" title="Show chart by age">
				<input id="statsByAge" type="checkbox"/> By age
			</label>
		</div>
	</div>
	<div class="col-md-2">
		<div id="statsChartSize" style="margin-top: 6px"></div>
		<div style="text-align: center; opacity: 0.5">Chart size</div>
	</div>
	<div class="col-md-2">
		<a class="btn btn-primary pull-right" href="#" role="button" onclick="drawStatsChart()">
			<span class="glyphicon glyphicon-signal"></span>&nbsp;&nbsp;Draw Chart
		</a>
	</div>
</div>
<div class="row">
	<div class="row col-md-9 text-center">
		<div id="loading" style="width: 100%; display: none">
			<br/>
			<img src="/images/loading-chart.gif" width="128" height="128" alt="Loading chart..."/>
			<br/>
		</div>
	</div>
</div>
<div id="statsChart"></div>
</th:block>