<br/>
<th:block xmlns:th="http://www.thymeleaf.org">
	<script th:src="@{/js/tennis-stats.js}"></script>
	<script th:src="@{/js/ranking-chart.js}"></script>
	<script type="text/javascript" th:inline="javascript">
		/*<![CDATA[*/
		$(document.body).append("<script type='text/javascript' src='https://www.google.com/jsapi?callback=loadGoogleCharts'>&lt;/script>");
		var isRank, bySeason, chartData, logScale, pointCount;
		function loadGoogleCharts() {
			google.load("visualization", "1.0", {packages:["corechart"], callback: function() {
				drawChart();
			}});
		}
		function drawChart() {
			var rankType = $("#rankType").val();
			var timeSpan = $("#rankingTimeSpan").val();
			bySeason = $("#rankingBySeason").prop("checked");
			isRank = rankType == "RANK";
			var dataUrl = "/playerRankingsTable?playerId=[[${playerId}]]&rankType=" + rankType + "&timeSpan=" + timeSpan;
			if (timeSpan != "1")
				dataUrl += "&bySeason=" + bySeason;
			else
				bySeason = false;
			if (timeSpan == "CS") {
				if (bySeason)
					dataUrl += "&fromSeason=" + $("#rankingFromSeason").val() + "&toSeason=" + $("#rankingToSeason").val();
				else {
					var fromDate = getDate("rankingFromDate");
					if (fromDate == null)
						return;
					var toDate = getDate("rankingToDate");
					if (toDate == null)
						return;
					dataUrl += "&fromDate=" + fromDate + "&toDate=" + toDate;
				}
			}
			if (timeSpan == "CR")
				dataUrl += "&byAge=" + $("#rankingByAge").prop("checked");
			if (rankType == "POINTS")
				dataUrl += "&compensatePoints=" + $("#compensatePoints").prop("checked");
			var $loading = $("#rankChartLoading");
			$loading.show();
			$.ajax(dataUrl).done(function(json) {
				chartData = new google.visualization.DataTable(JSON.stringify(json));
				logScale = isRank ? useLogScale(json) : false;
				pointCount = json.rows.length;
				var width = $("#rankChartSize").slider("value");
				showChart(chartData, "rankChart", width, isRank, bySeason, logScale, pointCount, "none");
			}).always(function() {
				$loading.hide().css("position", "absolute").css("z-index", "100");
			});
		}
		function onRankingTimeSpanChange() {
			var timeSpan = $("#rankingTimeSpan").val();
			var bySeason = $("#rankingBySeason").prop("checked");
			$("#rankingBySeasonDiv").css("display", timeSpan != "1" ? "block" : "none");
			$("#rankingDateRange").css("display", timeSpan == "CS" && !bySeason ? "block" : "none");
			$("#rankingSeasonRange").css("display", timeSpan == "CS" && bySeason ? "block" : "none");
			$("#rankingByAgeDiv").css("display", timeSpan == "CR" ? "block" : "none");
		}
		function onRankTypeChange() {
			$("#compensatePointsDiv").css("visibility", $("#rankType").val() == "POINTS" ? "visible" : "hidden");
		}
		$(function() {
			dateRangePicker("rankingFromDate", "rankingToDate");
			$("#rankChartSize").slider({
				min: 500,
				max: 1500,
				value: 1000,
				step: 100,
				slide: function(event, ui) {
					showChart(chartData, "rankChart", ui.value, isRank, bySeason, logScale, pointCount, "none");
				}
			});
			onRankingTimeSpanChange();
			onRankTypeChange();
			$("[data-toggle='tooltip']").tooltip();
		});
		/*]]>*/
	</script>
	<style scoped="scoped">
		.checkbox {
			margin-top: 7px;
			margin-bottom: 7px;
		}
	</style>
	<div class="row">
		<div class="col-md-3">
			<div class="input-group">
				<label for="rankingTimeSpan" class="input-group-addon">Time span:</label>
				<select id="rankingTimeSpan" class="form-control" onchange="onRankingTimeSpanChange()">
					<option value="CR">Career</option>
					<option value="1">Last 52 weeks</option>
					<option value="2">Last two years</option>
					<option value="3">Last three years</option>
					<option value="5">Last five years</option>
					<option value="10">Last ten years</option>
					<option value="CS">Custom</option>
				</select>
			</div>
		</div>
		<div id="rankingBySeasonDiv" class="col-md-2">
			<div class="checkbox">
				<label data-toggle="tooltip" data-placement="top" title="Show chart by season (year-end)">
					<input id="rankingBySeason" type="checkbox" onchange="onTimeSpanChange()"/> By season
				</label>
			</div>
		</div>
		<div id="rankingDateRange" class="col-md-4">
			<div class="input-group">
				<label for="rankingFromDate" class="input-group-addon">From:</label>
				<input type="text" id="rankingFromDate" maxlength="10" class="form-control"/>
				<label for="rankingToDate" class="input-group-addon">To:</label>
				<input type="text" id="rankingToDate" maxlength="10" class="form-control"/>
			</div>
		</div>
		<div id="rankingSeasonRange" class="col-md-4">
			<div class="input-group">
				<label for="rankingFromSeason" class="input-group-addon">From:</label>
				<select id="rankingFromSeason" class="form-control" data-toggle="tooltip" data-placement="top" title="Select from season">
					<option value="">All seasons</option>
					<option th:each="season : ${seasons}" th:value="${season}" value="2005" th:text="${season}">2005</option>
				</select>
				<label for="rankingToSeason" class="input-group-addon">To:</label>
				<select id="rankingToSeason" class="form-control" data-toggle="tooltip" data-placement="top" title="Select to season">
					<option value="">All seasons</option>
					<option th:each="season : ${seasons}" th:value="${season}" value="2005" th:text="${season}">2005</option>
				</select>
			</div>
		</div>
		<div id="rankingByAgeDiv" class="col-md-2">
			<div class="checkbox">
				<label data-toggle="tooltip" data-placement="top" title="Show chart by age">
					<input id="rankingByAge" type="checkbox"/> By age
				</label>
			</div>
		</div>
	</div>
	<div style="height: 5px"></div>
	<div class="row">
		<div class="col-md-3">
			<div class="input-group">
				<label for="rankType" class="input-group-addon">Rank type:</label>
				<select id="rankType" class="form-control" onchange="onRankTypeChange()">
					<option value="RANK">Ordinal rank</option>
					<option value="POINTS">Ranking points</option>
					<option value="GOAT_POINTS">GOAT points</option>
				</select>
			</div>
		</div>
		<div class="col-md-2">
			<div id="compensatePointsDiv" class="checkbox">
				<label data-toggle="tooltip" data-placement="top" title="Compensate ranking points before 2009 to match new ATP ranking system">
					<input id="compensatePoints" type="checkbox"/> Compensate points
				</label>
			</div>
		</div>
		<div class="col-md-2">
			<div id="rankChartSize" style="margin-top: 6px"></div>
			<div style="text-align: center; opacity: 0.5">Chart size</div>
		</div>
		<div class="col-md-2">
			<a class="btn btn-primary pull-right" href="#" role="button" onclick="drawChart()">
				<span class="glyphicon glyphicon-signal"></span>&nbsp;&nbsp;Draw Chart
			</a>
		</div>
	</div>
	<div class="row">
		<div class="row col-md-9 text-center">
			<div id="rankChartLoading" style="width: 100%; display: none">
				<br/>
				<img src="/images/loading.gif" width="128" height="128" alt="Loading chart..."/>
				<br/>
			</div>
		</div>
	</div>
	<div id="rankChart"></div>
</th:block>