<th:block  xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="playerId" type="java.lang.Integer"*/-->
<!--/*@thymesVar id="season" type="java.lang.Integer"*/-->
<!--/*@thymesVar id="seasons" type="java.util.List<java.lang.Integer>"*/-->
<!--/*@thymesVar id="seasonHighlights" type="java.util.Map<org.strangeforest.tcb.stats.model.EventResult, List<org.strangeforest.tcb.stats.model.PlayerTournamentEvent>>"*/-->
<!--/*@thymesVar id="seasonPerf" type="org.strangeforest.tcb.stats.model.PlayerPerformanceEx"*/-->
<!--/*@thymesVar id="seasonGOATPoints" type="org.strangeforest.tcb.stats.model.PlayerSeasonGOATPoints"*/-->
<th:block th:unless="${seasons.empty}">
<script type="text/javascript" th:inline="javascript">
	$(function() {
		$("#playerSeasonSurface").find("div.progress-bar").each(function() {
			var $progressBar = $(this);
			var surface = $progressBar.data("surface");
			$progressBar.addClass("progress-bar-" + surfaceClassSuffix(surface));
		});
	});
	function changeSeason() {
		$("#season").load("/playerSeason?playerId=[(${playerId})]&season=" + $("#seasonSeason").val());
	}
</script>
<style scoped="scoped">
	.progress-season {
		background-color: #dddddd;
		margin-bottom: 0;
	}
	.progress-bar > a {
		color: white;
	}
	a.highlight {
		display: inline-block;
		margin: 2px;
	}
</style>
<br/>
<div class="row">
	<div class="col-md-3">
		<div class="input-group">
			<label for="seasonSeason" class="input-group-addon">Season:</label>
			<select id="seasonSeason" class="form-control" onchange="changeSeason()" data-toggle="tooltip" data-placement="top" title="Select season">
				<option th:each="aSeason : ${seasons}" th:value="${aSeason}" value="2015" th:text="${aSeason}" th:selected="${aSeason == season}">2015</option>
			</select>
		</div>
	</div>
	<div class="col-md-3">
		<a class="btn btn-default" th:href="@{/playerProfile(playerId=${playerId}, tab=tournaments, season=${season})}" title="Show season tournaments">Tournaments</a>
		<a class="btn btn-default margin-left" th:href="@{/playerProfile(playerId=${playerId}, tab=matches, season=${season})}" title="Show season matches">Matches</a>
	</div>
</div>
<br/>
<table th:unless="${seasonHighlights.empty}" class="table table-condensed table-striped">
	<tr>
		<th colspan="2">Highlights</th>
	</tr>
	<tr th:each="resultHighlights : ${seasonHighlights}">
		<th>
			<a class="label highlight black bg-result-" th:attrappend="class=${resultHighlights.key.code}" th:href="@{/playerProfile(playerId=${playerId}, tab=tournaments, season=${season}, result=${resultHighlights.key.code})}" th:text="${resultHighlights.key.code}" th:title="|Show season ${resultHighlights.key.text} results|">W</a>
		</th>
		<th width="100%">
			<a th:each="result : ${resultHighlights.value}" th:href="@{/tournamentEvent(tournamentEventId=${result.tournamentEventId})}" class="label highlight label-" th:attrappend="class=${result.level}" th:text="${result.name}" title="Show tournament event">Wimbledon</a>
		</th>
	</tr>
</table>
<div class="row">
	<div class="col-md-3">
		<table id="playerSeasonSurface" class="table table-condensed table-striped text-nowrap">
			<tr>
				<th>Overall</th>
				<th th:with="wl=${seasonPerf.matches}">
					<div th:unless="${wl.empty}" class="progress progress-season">
						<div class="progress-bar progress-bar-overall" role="progressbar" th:style="'width: ' + ${wl.wonPctStr}" th:attr="aria-valuenow=${wl.wonPct}" aria-valuemin="0" aria-valuemax="100">
							<a th:href="@{/playerProfile(playerId=${playerId}, tab=matches, season=${season}, outcome=played)}" th:text="${wl.pctWL}" title="Show season matches">50% (10-10)</a>
						</div>
					</div>
				</th>
			</tr>
			<tr>
				<th colspan="2">&nbsp;</th>
			</tr>
			<tr>
				<th colspan="2">Surface Breakdown</th>
			</tr>
			<tr th:each="surfaceWL : ${seasonPerf.surfaceMatches}" th:with="surface=${surfaceWL.key}, wl=${surfaceWL.value}">
				<td th:text="${surface.text}">Hard</td>
				<th>
					<div class="progress progress-season">
						<div class="progress-bar progress-bar-perf" th:data-surface="${surface.code}" role="progressbar" th:style="'width: ' + ${wl.wonPctStr}" th:attr="aria-valuenow=${wl.wonPct}" aria-valuemin="0" aria-valuemax="100">
							<a th:href="@{/playerProfile(playerId=${playerId}, tab=matches, season=${season}, surface=${surface.code}, outcome=played)}" th:text="${wl.pctWL}" th:title="|Show season ${surface.text} matches|">50% (10-10)</a>
						</div>
					</div>
				</th>
			</tr>
		</table>
	</div>
	<div class="col-md-3">
		<table class="table table-condensed table-striped text-nowrap">
			<tr>
				<th colspan="2">Tournament Level Breakdown</th>
			</tr>
			<tr th:each="levelWL : ${seasonPerf.levelMatches}" th:with="level=${levelWL.key}, wl=${levelWL.value}">
				<td th:text="${level.text}">Grand Slam</td>
				<th>
					<div class="progress progress-season">
						<div class="progress-bar progress-bar-perf label-" th:attrappend="class=${level.code}" role="progressbar" th:style="'width: ' + ${wl.wonPctStr}" th:attr="aria-valuenow=${wl.wonPct}" aria-valuemin="0" aria-valuemax="100">
							<a th:href="@{/playerProfile(playerId=${playerId}, tab=matches, season=${season}, level=${level.code}, outcome=played)}" th:text="${wl.pctWL}" th:title="|Show season ${level.text} matches|">50% (10-10)</a>
						</div>
					</div>
				</th>
			</tr>
		</table>
	</div>
	<div class="col-md-3">
		<table class="table table-condensed table-striped text-nowrap">
			<tr>
				<th colspan="2">Opposition Breakdown</th>
			</tr>
			<tr th:each="oppositionWL : ${seasonPerf.oppositionMatches}" th:with="opposition=${oppositionWL.key}, wl=${oppositionWL.value}">
				<td th:text="${opposition.text}">Vs No. 1</td>
				<th>
					<div class="progress progress-season">
						<div class="progress-bar progress-bar-perf-def" role="progressbar" th:style="'width: ' + ${wl.wonPctStr}" th:attr="aria-valuenow=${wl.wonPct}" aria-valuemin="0" aria-valuemax="100">
							<a th:href="@{/playerProfile(playerId=${playerId}, tab=matches, season=${season}, opponent=${opposition}, outcome=played)}" th:text="${wl.pctWL}" th:title="|Show season ${opposition.text} matches|">50% (10-10)</a>
						</div>
					</div>
				</th>
			</tr>
		</table>
	</div>
	<div class="col-md-3">
		<table class="table table-condensed table-striped text-nowrap">
			<tr>
				<th colspan="2">Round Breakdown</th>
			</tr>
			<tr th:each="roundWL : ${seasonPerf.roundMatches}" th:with="round=${roundWL.key}, wl=${roundWL.value}">
				<td th:text="${round.text}">Final</td>
				<th>
					<div class="progress progress-season">
						<div class="progress-bar progress-bar-perf-def" role="progressbar" th:style="'width: ' + ${wl.wonPctStr}" th:attr="aria-valuenow=${wl.wonPct}" aria-valuemin="0" aria-valuemax="100">
							<a th:href="@{/playerProfile(playerId=${playerId}, tab=matches, season=${season}, round=${round.code}, level=GFMOAB, outcome=played)}" th:text="${wl.pctWL}" th:title="|Show season ${round.text} matches|">50% (10-10)</a>
						</div>
					</div>
				</th>
			</tr>
		</table>
	</div>
</div>
<div th:if="${seasonGOATPoints}" class="row">
	<div class="col-md-12">
		<span class="text-nowrap" style="margin-left: 5px; margin-right: 10px"><strong>GOAT Points</strong> <a th:href="@{/playerProfile(playerId=${playerId}, tab=goatPoints, season=${season})}" class="label label-primary" th:text="${seasonGOATPoints.totalPoints}" title="Show season GOAT points">35</a></span>
		<span class="text-nowrap" style="margin-right: 5px" th:if="${seasonGOATPoints.tournamentPoints > 0}">Tournament Pts. <span class="label label-info" th:text="${seasonGOATPoints.tournamentPoints}">25</span></span>
		<span class="text-nowrap" style="margin-right: 5px" th:if="${seasonGOATPoints.rankingPoints > 0}">Ranking Pts. <span class="label label-info" th:text="${seasonGOATPoints.rankingPoints}"
			th:title="${(seasonGOATPoints.yearEndRankPoints > 0 ? 'Year-end ranking: ' + seasonGOATPoints.yearEndRankPoints : '') + (seasonGOATPoints.weeksAtNo1Points > 0 ? ' Weeks at No. 1: ' + seasonGOATPoints.weeksAtNo1Points : '') + (seasonGOATPoints.weeksAtEloTopNPoints > 0 ? ' Weeks at Elo Top 5: ' + seasonGOATPoints.weeksAtEloTopNPoints : '')}">5</span></span>
		<span class="text-nowrap" th:if="${seasonGOATPoints.achievementsPoints > 0}">Achievements Pts. <span class="label label-info" th:text="${seasonGOATPoints.achievementsPoints}"
			th:title="${(seasonGOATPoints.bigWinsPoints > 0 ? 'Big wins: ' + seasonGOATPoints.bigWinsPoints : '') + (seasonGOATPoints.grandSlamPoints > 0 ? ' Grand Slam: ' + seasonGOATPoints.grandSlamPoints : '')}">5</span></span>
	</div>
</div>
</th:block>
<th:block th:if="${seasons.empty}"><br/><p>No seasons data available</p></th:block>
</th:block>