<th:block  xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="playerId" type="java.lang.Integer"*/-->
<!--/*@thymesVar id="season" type="java.lang.Integer"*/-->
<!--/*@thymesVar id="seasons" type="java.util.List<java.lang.Integer>"*/-->
<!--/*@thymesVar id="seasonHighlights" type="java.util.Map<org.strangeforest.tcb.stats.model.EventResult, List<org.strangeforest.tcb.stats.model.PlayerTournamentEvent>>"*/-->
<!--/*@thymesVar id="playerSeason" type="org.strangeforest.tcb.stats.model.PlayerSeason"*/-->
<script type="text/javascript" th:inline="javascript">
	$(function() {
		$("#playerSeasonSurface").find("div.progress-bar").each(function() {
			var $progressBar = $(this);
			var surface = $progressBar.data("surface");
			$progressBar.addClass("progress-bar-" + surfaceClassSuffix(surface));
		});
	});
	function changeSeason() {
		$("#season").load("/playerSeason?playerId=[(${playerId})]&season=" + $("#seasonSeason").val());
	}
</script>
<style scoped="scoped">
	.progress-season {
		background-color: #dddddd;
		margin-bottom: 0;
	}
	.progress-bar-season {
		font-size: 14px;
	}
	.progress-bar-default {
		background-color: cornflowerblue;
	}
	.progress-bar-overall {
		background-color: #555;
	}
	.progress-bar > a {
		color: white;
	}
	a.highlight {
		display: inline-block;
		margin: 2px;
	}
</style>
<br/>
<div class="row">
	<div class="col-md-3">
		<div class="input-group">
			<label for="seasonSeason" class="input-group-addon">Season:</label>
			<select id="seasonSeason" class="form-control" onchange="changeSeason()" data-toggle="tooltip" data-placement="top" title="Select season">
				<option th:each="aSeason : ${seasons}" th:value="${aSeason}" value="2015" th:text="${aSeason}" th:selected="${aSeason == season}">2015</option>
			</select>
		</div>
	</div>
</div>
<br/>
<table th:unless="${seasonHighlights.empty}" class="table table-condensed">
	<tr>
		<th colspan="2">Highlights</th>
	</tr>
	<tr th:each="resultHighlights : ${seasonHighlights}">
		<th>
			<a class="label highlight black bg-result-" th:attrappend="class=${resultHighlights.key.code}" th:href="@{/playerProfile(playerId=${playerId}, tab=tournaments, season=${season}, result=${resultHighlights.key.code})}" th:text="${resultHighlights.key.code}" th:title="|Show season ${resultHighlights.key.text} results|">W</a>
		</th>
		<th width="100%">
			<a th:each="result : ${resultHighlights.value}" th:href="@{/tournamentEvent(tournamentEventId=${result.tournamentEventId})}" class="label highlight label-" th:attrappend="class=${result.level}" th:text="${result.name}" title="Show tournament event">Wimbledon</a>
		</th>
	</tr>
</table>
<div class="row">
	<div class="col-md-3">
		<table id="playerSeasonSurface" class="table table-condensed text-nowrap">
			<tr>
				<th>Overall</th>
				<th th:with="wl=${playerSeason.overall}">
					<div th:unless="${wl.empty}" class="progress progress-season">
						<div class="progress-bar progress-bar-season progress-bar-overall" role="progressbar" th:style="'width: ' + ${wl.wonPctStr}" th:attr="aria-valuenow=${wl.wonPct}" aria-valuemin="0" aria-valuemax="100">
							<a th:href="@{/playerProfile(playerId=${playerId}, tab=matches, season=${season})}" th:text="|${wl.wonPctStr} (${wl.getWL()})|" title="Show season matches">73%</a>
						</div>
					</div>
				</th>
			</tr>
			<tr th:each="surfaceWL : ${playerSeason.surfaceMatches}" th:with="surface=${surfaceWL.key}, wl=${surfaceWL.value}">
				<th th:text="${surface.text}">Hard</th>
				<th>
					<div class="progress progress-season">
						<div class="progress-bar progress-bar-season" th:data-surface="${surface.code}" role="progressbar" th:style="'width: ' + ${wl.wonPctStr}" th:attr="aria-valuenow=${wl.wonPct}" aria-valuemin="0" aria-valuemax="100">
							<a th:href="@{/playerProfile(playerId=${playerId}, tab=matches, season=${season}, surface=${surface.code})}" th:text="|${wl.wonPctStr} (${wl.getWL()})|" th:title="|Show season ${surface.text} matches|">73%</a>
						</div>
					</div>
				</th>
			</tr>
		</table>
	</div>
	<div class="col-md-3">
		<table class="table table-condensed text-nowrap">
			<tr th:each="levelWL : ${playerSeason.levelMatches}" th:with="level=${levelWL.key}, wl=${levelWL.value}">
				<th th:text="${level.text}">Grand Slam</th>
				<th>
					<div class="progress progress-season">
						<div class="progress-bar progress-bar-season label-" th:attrappend="class=${level.code}" role="progressbar" th:style="'width: ' + ${wl.wonPctStr}" th:attr="aria-valuenow=${wl.wonPct}" aria-valuemin="0" aria-valuemax="100">
							<a th:href="@{/playerProfile(playerId=${playerId}, tab=matches, season=${season}, level=${level.code})}" th:text="|${wl.wonPctStr} (${wl.getWL()})|" th:title="|Show season ${level.text} matches|">73%</a>
						</div>
					</div>
				</th>
			</tr>
		</table>
	</div>
	<div class="col-md-3">
		<table class="table table-condensed text-nowrap">
			<tr th:each="oppositionWL : ${playerSeason.oppositionMatches}" th:with="opposition=${oppositionWL.key}, wl=${oppositionWL.value}">
				<th th:text="${opposition.text}">Vs No. 1</th>
				<th>
					<div class="progress progress-season">
						<div class="progress-bar progress-bar-season progress-bar-default" role="progressbar" th:style="'width: ' + ${wl.wonPctStr}" th:attr="aria-valuenow=${wl.wonPct}" aria-valuemin="0" aria-valuemax="100">
							<a th:href="@{/playerProfile(playerId=${playerId}, tab=matches, season=${season}, opponent=${opposition})}" th:text="|${wl.wonPctStr} (${wl.getWL()})|" th:title="|Show season ${opposition.text} matches|">73%</a>
						</div>
					</div>
				</th>
			</tr>
		</table>
	</div>
	<div class="col-md-3">
		<table class="table table-condensed text-nowrap">
			<tr th:each="roundWL : ${playerSeason.roundMatches}" th:with="round=${roundWL.key}, wl=${roundWL.value}">
				<th th:text="${round.text}">Final</th>
				<th>
					<div class="progress progress-season">
						<div class="progress-bar progress-bar-season progress-bar-default" role="progressbar" th:style="'width: ' + ${wl.wonPctStr}" th:attr="aria-valuenow=${wl.wonPct}" aria-valuemin="0" aria-valuemax="100">
							<a th:href="@{/playerProfile(playerId=${playerId}, tab=matches, season=${season}, round=${round.code})}" th:text="|${wl.wonPctStr} (${wl.getWL()})|" th:title="|Show season ${round.text} matches|">73%</a>
						</div>
					</div>
				</th>
			</tr>
		</table>
	</div>
</div>
</th:block>