<th:block xmlns:th="http://www.thymeleaf.org">
	<!--/*@thymesVar id="playerId" type="java.lang.Integer"*/-->
	<!--/*@thymesVar id="recordCategories" type="java.util.List<org.strangeforest.tcb.stats.model.records.RecordCategory>"*/-->
	<!--/*@thymesVar id="infamousRecordCategories" type="java.util.List<org.strangeforest.tcb.stats.model.records.RecordCategory>"*/-->
	<script type="text/javascript">
		$(function() {
			$("#playerRecordsTable").bootgrid({
				ajax: true,
				ajaxSettings: {
					method: "GET",
					cache: false
				},
				url: "/playerRecordsTable?playerId=[[${playerId}]]",
				requestHandler: function (request) {
					var infamous = $("#infamous").prop("checked");
					request.category = !infamous ? $("#category").val() : $("#infamousCategory").val();
					request.infamous = infamous;
					return request;
				},
				sorting: false,
				rowCount: [15, 20, 50, -1],
				formatters: {
					"record": recordFormatter,
					"details": function(column, row) {
						var details = row.details;
						var len = details.length;
						var s = "";
						for (var i = 0; i < len; i++) {
							var detail = details[i];
							s = s ? s + ", " : "";
							if (detail)
								s += detail;
						}
						return s;
					},
					"recordHolders": recordHoldersFormatter
				},
				labels: {
					loading: bootgridTemplateLoading,
					noResults: "No records found"
				},
				templates: {
					paginationItem: bootgridTemplatePaginationItem
				}
			});
			showRecordCategories();
			var $playerRecordsTableHeader = $("#playerRecordsTable-header");
			$playerRecordsTableHeader.find(".actionBar").css("padding-left", "0");
			$playerRecordsTableHeader.find("div.search").before($("#categoryDiv").remove()).before($("#infamousDiv").remove());
			$("[data-toggle='tooltip']").tooltip();
		});
		function showRecordCategories() {
			var infamous = $("#infamous").prop("checked");
			$("#categoryControl").css("display", infamous ? "none" : "");
			$("#infamousRecordControl").css("display", infamous ? "" : "none");
		}
		function infamousChanged() {
			showRecordCategories();
			reloadPlayerRecordsTable();
		}
		function reloadPlayerRecordsTable() {
			$("#playerRecordsTable").bootgrid("reload");
		}
	</script>
	<div id="categoryDiv" class="col-sm-7" style="padding-left: 0">
		<div id="categoryControl" class="input-group pull-left">
			<label for="category" class="input-group-addon">Category:</label>
			<select id="category" class="form-control" onchange="reloadPlayerRecordsTable()" data-toggle="tooltip" data-placement="top" title="Select Record Category">
				<option value="">All Records</option>
				<option th:each="recordCategory : ${recordCategories}" th:value="${recordCategory.name}" value="Most Matches" th:text="${recordCategory.name}">Most Matches</option>
			</select>
		</div>
		<div id="infamousRecordControl" class="input-group pull-left" style="display: none">
			<label for="infamousCategory" class="input-group-addon">Infamous:</label>
			<select id="infamousCategory" class="form-control" onchange="reloadPlayerRecordsTable()" data-toggle="tooltip" data-placement="top" title="Select Infamous Record">
				<option value="">All Infamous Records</option>
				<option th:each="recordCategory : ${infamousRecordCategories}" th:value="${recordCategory.name}" value="Most Matches" th:text="${recordCategory.name}">Most Matches</option>
			</select>
		</div>
	</div>
	<div id="infamousDiv" class="col-sm-1">
		<div class="checkbox">
			<label data-toggle="tooltip" data-placement="top" title="Show famous or infamous records">
				<input id="infamous" type="checkbox" onchange="infamousChanged()"/> Infamous
			</label>
		</div>
	</div>
	<table id="playerRecordsTable" class="table table-condensed table-hover table-striped">
		<thead>
		<tr>
			<th data-column-id="record" data-formatter="record" data-width="300">Record</th>
			<th data-column-id="value" data-align="right" data-header-align="right" data-width="130">Result</th>
			<th data-column-id="details" data-formatter="details" data-width="150">Details</th>
			<th data-column-id="recordHolders" data-formatter="recordHolders" data-width="250">Tied With</th>
		</tr>
		</thead>
	</table>
</th:block>