<br/>
<th:block xmlns:th="http://www.thymeleaf.org">
	<!--/*@thymesVar id="playerId" type="java.lang.Integer"*/-->
	<!--/*@thymesVar id="playerName" type="java.lang.String"*/-->
	<!--/*@thymesVar id="seasons" type="java.util.List<java.lang.Integer>"*/-->
	<!--/*@thymesVar id="levels" type="java.util.EnumSet<org.strangeforest.tcb.stats.model.TournamentLevel>"*/-->
	<!--/*@thymesVar id="surfaces" type="org.strangeforest.tcb.stats.model.Surface[]"*/-->
	<!--/*@thymesVar id="rounds" type="org.strangeforest.tcb.stats.model.Round[]"*/-->
	<!--/*@thymesVar id="tournaments" type="java.util.List<org.strangeforest.tcb.stats.model.TournamentItem>"*/-->
	<!--/*@thymesVar id="tournamentEvents" type="java.util.List<org.strangeforest.tcb.stats.model.TournamentEventItem>"*/-->
	<!--/*@thymesVar id="level" type="java.lang.String"*/-->
	<!--/*@thymesVar id="surface" type="java.lang.String"*/-->
	<!--/*@thymesVar id="round" type="java.lang.String"*/-->
	<!--/*@thymesVar id="opponentId" type="java.lang.Integer>"*/-->
	<!--/*@thymesVar id="opponentName" type="java.lang.String>"*/-->
	<!--/*@thymesVar id="tournamentEventId" type="java.lang.Integer>"*/-->
	<!--/*@thymesVar id="outcome" type="java.lang.String"*/-->
	<script type="text/javascript">
		$(function() {
			var $matchesTable = $("#matchesTable");
			var device = detectDevice();
			setBootgridColumnsVisible($matchesTable, ["stats"], deviceGreaterOrEqual(device, "md"));
			setBootgridColumnsVisible($matchesTable, ["surface"], deviceGreaterOrEqual(device, "sm"));
			if (!deviceGreaterOrEqual(device, "md"))
				setBootgridColumnsWidths($matchesTable, ["tournament", "match", "score"], [150, 250, 125]);
			$matchesTable.bootgrid({
				ajax: true,
				ajaxSettings: {
					method: "GET",
					cache: false
				},
				url: "/matchesTable?playerId=[[${playerId}]]",
				requestHandler: function (request) {
					request.season = $("#matchesSeason").val();
					request.level = $("#matchesLevel").val();
					request.surface = $("#matchesSurface").val();
					request.round = $("#matchesRound").val();
					request.opponent = $("#matchesOpponent").val();
					request.tournamentId = $("#matchesTournament").val();
					request.tournamentEventId = $("#matchesTournamentEvent").val();
					request.outcome = $("#matchesOutcome").val();
					return request;
				},
				rowCount: [10, 20, 50, -1],
				formatters: {
					"date": dateFormatter,
					"tournament": tournamentEventFormatter,
					"surface": surfaceFormatter,
					"match": matchFormatter,
					"stats": function(column, row) {
						return row.hasStats ? "<a id='matchStats-" + row.id + "' href='#' class='label label-info glyphicon glyphicon-stats' onclick='showMatchStats(" + row.id + ", event)' title='Match Statistics'> Stats</a>" : "";
					}
				},
				labels: {
					loading: bootgridTemplateLoading,
					noResults: "No matches found"
				},
				templates: {
					paginationItem: bootgridTemplatePaginationItem
				}
			}).on("loaded.rs.jquery.bootgrid", function() {
				$("#matchesStats").popover("destroy").removeClass("loaded");
			});
			var $matchesTableHeader = $("#matchesTable-header");
			$matchesTableHeader.find("div.search").before($("#matchesStats").remove());
			var $actionBar = $matchesTableHeader.find("div.actionBar");
			$actionBar.removeClass("col-sm-12").addClass("col-sm-5");
			$actionBar.before($("#matchesTournamentDiv").remove());
			$actionBar.before($("#matchesTournamentEventDiv").remove());
			$actionBar.before($("#matchesOutcomeDiv").remove());
			$("[data-toggle='tooltip']").tooltip();
		});
		function reloadMatches() {
			$("#matchesTable").bootgrid("reload");
		}
		function clearMatchesFilter() {
			$("#matchesSeason").val("");
			$("#matchesLevel").val("");
			$("#matchesSurface").val("");
			$("#matchesRound").val("");
			$("#matchesOpponent").val("");
			$("#matchesTournament").val("");
			$("#matchesTournamentEvent").val("");
			$("#matchesOutcome").val("");
			$("#matchesTable").bootgrid("search", "");
			reloadMatches();
		}
		function showMatchesStats(event) {
			var $matchesStats = $("#matchesStats");
			if (!$matchesStats.hasClass("loaded")) {
				event.preventDefault();
				var url = "/matchesStats?playerId=[[${playerId}]]";
				url += "&season=" + $("#matchesSeason").val();
				url += "&level=" + $("#matchesLevel").val();
				url += "&surface=" + $("#matchesSurface").val();
				url += "&round=" + $("#matchesRound").val();
				url += "&opponent=" + $("#matchesOpponent").val();
				url += "&tournamentId=" + $("#matchesTournament").val();
				url += "&tournamentEventId=" + $("#matchesTournamentEvent").val();
				url += "&outcome=" + $("#matchesOutcome").val();
				url += "&searchPhrase=" + $("#matchesTable-header").find("input.search-field").val();
				$.get(url, function(data) {
					$matchesStats.addClass("loaded").popover({content: data, html: true, placement: "auto left"});
					$matchesStats.on("show.bs.popover", function() { $(this).data("bs.popover").tip().css("max-width", "1000px"); }).click();
					$matchesStats.data("statsURL", url);
				});
			}
		}
	</script>
	<div class="row">
		<div class="col-md-2">
			<select id="matchesSeason" class="form-control" onchange="reloadMatches()" data-toggle="tooltip" data-placement="top" title="Filter seasons">
				<option value="">All seasons</option>
				<option th:each="season : ${seasons}" th:value="${season}" value="2005" th:text="${season}">2005</option>
			</select>
		</div>
		<div class="col-md-2">
			<select id="matchesLevel" class="form-control" onchange="reloadMatches()" data-toggle="tooltip" data-placement="top" title="Filter by tournament level">
				<option value="">All levels</option>
				<option th:each="aLevel : ${levels}" th:value="${aLevel.code}" th:class="|bg-level-${aLevel.code}|" value="G" class="bg-level-G" th:text="${aLevel.text}" th:selected="${aLevel.code == level}">Grand Slam</option>
			</select>
		</div>
		<div class="col-md-2">
			<select id="matchesSurface" class="form-control" onchange="reloadMatches()" data-toggle="tooltip" data-placement="top" title="Filter by surface">
				<option value="">All surfaces</option>
				<option th:each="aSurface : ${surfaces}" th:value="${aSurface.code}" th:class="|bg-surface-${aSurface.code}|" value="H" class="bg-surface-H" th:text="${aSurface.text}" th:selected="${aSurface.code == surface}">Hard</option>
			</select>
		</div>
		<div class="col-md-2">
			<select id="matchesRound" class="form-control" onchange="reloadMatches()" data-toggle="tooltip" data-placement="top" title="Filter by round">
				<option value="">All rounds</option>
				<option th:each="aRound : ${rounds}" th:value="${aRound.code}" th:class="|bg-result-${aRound.baseCode}|" value="F" class="bg-result-F" th:text="${aRound.text}" th:selected="${aRound.code == round}">Final</option>
			</select>
		</div>
		<div class="col-md-2">
			<select id="matchesOpponent" class="form-control" onchange="reloadMatches()" data-toggle="tooltip" data-placement="top" title="Filter by opponent">
				<option value="">Vs All</option>
				<option value="NO_1">Vs No. 1</option>
				<option value="TOP_5">Vs Top 5</option>
				<option value="TOP_10">Vs Top 10</option>
				<option value="TOP_20">Vs Top 20</option>
				<option value="TOP_50">Vs Top 50</option>
				<option value="TOP_100">Vs Top 100</option>
				<option value="RIGHT_HANDED">Vs Right-handed</option>
				<option value="LEFT_HANDED">Vs Left-handed</option>
				<option value="BACKHAND_2">Vs Two-handed bh.</option>
				<option value="BACKHAND_1">Vs One-handed bh.</option>
				<option value="SEEDED">Vs Seeded</option>
				<option value="UNSEEDED">Vs Unseeded</option>
				<option value="QUALIFIER">Vs Qualifier</option>
				<option value="WILD_CARD">Vs Wild-Card</option>
				<option value="LUCKY_LOSER">Vs Lucky-Loser</option>
				<option value="PROTECTED_RANKING">Vs Protected Ranking</option>
				<option value="SPECIAL_EXEMPT">Vs Special Exempt</option>
				<option th:if="${opponentId != null}" th:value="${'OPP_' + opponentId}" th:text="${'Vs ' + opponentName}" selected="selected">Vs Roger Federer</option>
			</select>
		</div>
		<div class="col-md-1">
			<button type="button" class="btn btn-default" onclick="clearMatchesFilter()" data-toggle="tooltip" data-placement="top" title="Clear all filters">
				<span class="glyphicon glyphicon-remove"></span> Clear
			</button>
		</div>
	</div>
	<div id="matchesTournamentDiv" class="col-sm-2" style="padding-left: 0">
		<select id="matchesTournament" class="form-control" onchange="reloadMatches()" data-toggle="tooltip" data-placement="top" title="Filter tournaments">
			<option value="">All tournaments</option>
			<option th:each="tournament : ${tournaments}" th:value="${tournament.id}" value="101" th:text="${tournament.name}" th:class="'bg-level-' + ${tournament.level}">Wimbledon</option>
		</select>
	</div>
	<div id="matchesTournamentEventDiv" class="col-sm-3">
		<select id="matchesTournamentEvent" class="form-control" onchange="reloadMatches()" data-toggle="tooltip" data-placement="top" title="Filter tournament events">
			<option value="">All events</option>
			<option th:each="tournamentEvent : ${tournamentEvents}" th:value="${tournamentEvent.id}" value="1001" th:text="|${tournamentEvent.name} ${tournamentEvent.season}|"
			        th:selected="${tournamentEvent.id == tournamentEventId}">Wimbledon 2008</option>
		</select>
	</div>
	<div id="matchesOutcomeDiv" class="col-md-2">
		<select id="matchesOutcome" class="form-control" onchange="reloadMatches()" data-toggle="tooltip" data-placement="top" title="Filter by outcome">
			<option value="">All matches</option>
			<option value="won" th:selected="${outcome == 'won'}">Won</option>
			<option value="lost" th:selected="${outcome == 'lost'}">Lost</option>
			<option value="wonRET">Won by retirement</option>
			<option value="lostRET">Lost by retirement</option>
			<option value="wonW/O">Won by walkover</option>
			<option value="lostW/O">Lost by walkover</option>
			<option value="wonDEF">Won by defaulting</option>
			<option value="lostDEF">Lost by defaulting</option>
			<option value="ABD">Abandoned</option>
		</select>
	</div>
	<button id="matchesStats" type="button" class="btn btn-info grid-control" style="margin-right: 20px" onclick="showMatchesStats(event)" data-toggle="tooltip" data-placement="top" th:title="|${playerName} Statistics (for the selected matches)|">
		<span class="glyphicon glyphicon-stats"></span> Stats
	</button>
	<table id="matchesTable" class="table table-condensed table-hover table-striped">
		<thead>
		<tr>
			<th data-column-id="date" data-formatter="date" data-order="desc" data-width="85">Date</th>
			<th data-column-id="tournament" data-formatter="tournament" data-width="175">Tournament</th>
			<th data-column-id="surface" data-formatter="surface" data-width="80">Surface</th>
			<th data-column-id="round" data-width="75">Round</th>
			<th data-column-id="match" data-formatter="match" data-sortable="false" data-width="300">Match</th>
			<th data-column-id="score" data-sortable="false" data-width="175">Score</th>
			<th data-column-id="stats" data-formatter="stats" data-sortable="false" data-width="80">Stats</th>
		</tr>
		</thead>
	</table>
</th:block>