<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="versions" type="java.util.Map<String, String>"*/-->
<!--/*@thymesVar id="player" type="org.strangeforest.tcb.stats.model.Player"*/-->
<!--/*@thymesVar id="playerRef" type="java.lang.String"*/-->
<!--/*@thymesVar id="season" type="java.lang.Integer"*/-->
<!--/*@thymesVar id="level" type="java.lang.String"*/-->
<!--/*@thymesVar id="surface" type="java.lang.String"*/-->
<!--/*@thymesVar id="result" type="java.lang.String"*/-->
<!--/*@thymesVar id="round" type="java.lang.String"*/-->
<!--/*@thymesVar id="tournamentEventId" type="java.lang.Integer>"*/-->
<!--/*@thymesVar id="opponentId" type="java.lang.Integer"*/-->
<!--/*@thymesVar id="tab" type="java.lang.String"*/-->
<head th:replace="fragments/head :: commonHead(${player} ? ${player.name} : ~{::title/text()}, true, ~{::script}, _)">
	<title>Player Profile</title>
	<script type="text/javascript" th:inline="javascript">
		$(function() {
			$("#player").autocomplete({
				source: "/autocompletePlayer",
				minLength: 2,
				select: function(event, ui) {
					if (ui.item)
						window.location = "/playerProfile?playerId=" + ui.item.id;
				}
			}).focus();
			$("[data-toggle=pill]").click(tabClick);
			[# th:if="${tab}" th:switch="${tab}"]
				[# th:case="'matches'"]
					playerMatches([[${level}]], [[${surface}]], [[${round}]], [[${tournamentEventId}]], [[${opponentId}]]);
				[/]
				[# th:case="'tournaments'"]
					playerTournaments([[${season}]], [[${level}]], [[${result}]]);
				[/]
				[# th:case="*"]
					$([['#' + ${tab} + 'Pill']]).click();
				[/]
			[/]
			[# th:unless="${tab}"]
				$("#profilePill").click();
			[/]
		});
		function playerTournaments(season, level, result) {
			var $pill = $("#tournamentsPill");
			var url = $pill.attr("data-url");
			if (season)
				url += "&season=" + season;
			if (level)
				url += "&level=" + level;
			if (result)
				url += "&result=" + result;
			loadTab($pill, url)
		}
		function playerMatches(level, surface, round, tournamentEventId, opponentId) {
			var $pill = $("#matchesPill");
			var url = $pill.attr("data-url");
			if (level)
				url += "&level=" + level;
			if (surface)
				url += "&surface=" + surface;
			if (round)
				url += "&round=" + round;
			if (tournamentEventId)
				url += "&tournamentEventId=" + tournamentEventId;
			if (opponentId)
				url += "&opponentId=" + opponentId;
			loadTab($pill, url)
		}
		function toggleStatsData(selector) {
			$(selector).find(".pct-data, .raw-data").toggle();
		}
	</script>
</head>
<body class="container">
	<header th:include="fragments/header :: title"></header>
	<th:block th:if="${player}">
		<img th:src="@{/images/flags/{code}.png(code=${player.countryCode})}" src="/images/flags/ch.png'" style="float: left; margin-top: 2px; margin-right: 8px" th:title="${player.countryId}" title="SUI" width="24" height="20"/>
		<h3 th:text="${player.name}">Roger Federer</h3>
		<ul id="playerPills" class="nav nav-pills">
			<li><a id="profilePill" data-toggle="pill" href="#profile" data-url="/playerProfileTab?playerId=" th:attrappend="data-url=${player.id}">Profile</a></li>
			<li><a id="tournamentsPill" data-toggle="pill" href="#tournaments" data-url="/playerTournaments?playerId=" th:attrappend="data-url=${player.id}">Tournaments</a></li>
			<li><a id="matchesPill" data-toggle="pill" href="#matches" data-url="/playerMatches?playerId=" th:attrappend="data-url=${player.id}">Matches</a></li>
			<li><a data-toggle="pill" href="#timeline" data-url="/playerTimeline?playerId=" th:attrappend="data-url=${player.id}">Timeline</a></li>
			<li><a data-toggle="pill" href="#rivalries" data-url="/playerRivalries?playerId=" th:attrappend="data-url=${player.id}">Rivalries</a></li>
			<li><a data-toggle="pill" href="#ranking" data-url="/playerRankings?playerId=" th:attrappend="data-url=${player.id}">Ranking</a></li>
			<li><a data-toggle="pill" href="#performance" data-url="/playerPerformance?playerId=" th:attrappend="data-url=${player.id}">Performance</a></li>
			<li><a data-toggle="pill" href="#performanceChart" data-url="/playerPerformanceChart?playerId=" th:attrappend="data-url=${player.id}" title="Performance Chart">Perf. Chart</a></li>
			<li><a data-toggle="pill" href="#statistics" data-url="/playerStatsTab?playerId=" th:attrappend="data-url=${player.id}">Statistics</a></li>
			<li><a data-toggle="pill" href="#statisticsChart" data-url="/playerStatsChart?playerId=" th:attrappend="data-url=${player.id}" title="Statistics Chart">Stats. Chart</a></li>
			<li><a id="goatPointsPill" data-toggle="pill" href="#goatPoints" data-url="/playerGOATPoints?playerId=" th:attrappend="data-url=${player.id}" title="GOAT Points Breakdown">GOAT Points<sup class="new-feature">&nbsp;New!</sup></a></li>
			<li><a data-toggle="pill" href="#records" data-url="/playerRecords?playerId=" th:attrappend="data-url=${player.id}">Records<sup class="new-feature">&nbsp;New!</sup></a></li>
		</ul>
		<div class="tab-content">
			<div id="profile" class="tab-pane fade"><br/>Loading...</div>
			<div id="tournaments" class="tab-pane fade"><br/>Loading...</div>
			<div id="matches" class="tab-pane fade"><br/>Loading...</div>
			<div id="timeline" class="tab-pane fade"><br/>Loading...</div>
			<div id="rivalries" class="tab-pane fade"><br/>Loading...</div>
			<div id="ranking" class="tab-pane fade"><br/>Loading...</div>
			<div id="performance" class="tab-pane fade"><br/>Loading...</div>
			<div id="performanceChart" class="tab-pane fade"><br/>Loading...</div>
			<div id="statistics" class="tab-pane fade"><br/>Loading...</div>
			<div id="statisticsChart" class="tab-pane fade"><br/>Loading...</div>
			<div id="goatPoints" class="tab-pane fade"><br/>Loading...</div>
			<div id="records" class="tab-pane fade"><br/>Loading...</div>
		</div>
	</th:block>
	<h4 th:unless="${player}" th:text="'Player ' + ${playerRef}  + ' not found.'">Player bot found.</h4>
	<footer th:include="fragments/footer :: copy"></footer>
</body>
</html>