<th:block  xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="player" type="org.strangeforest.tcb.stats.model.core.Player"*/-->
<!--/*@thymesVar id="favoriteSurface" type="org.strangeforest.tcb.stats.model.FavoriteSurface"*/-->
<!--/*@thymesVar id="seasonCount" type="java.lang.Integer"*/-->
<!--/*@thymesVar id="bestSeason" type="java.lang.Integer"*/-->
<!--/*@thymesVar id="lastEvent" type="org.strangeforest.tcb.stats.model.PlayerTournamentEvent"*/-->
<!--/*@thymesVar id="levels" type="java.util.Map"*/-->
<!--/*@thymesVar id="surfaces" type="java.util.Map"*/-->
<!--/*@thymesVar id="performance" type="org.strangeforest.tcb.stats.model.PlayerPerformance"*/-->
<!--/*@thymesVar id="surfaceTitles" type="java.util.Map<java.lang.String, java.lang.Integer>"*/-->
<!--/*@thymesVar id="playerH2H" type="org.strangeforest.tcb.stats.model.core.WonDrawLost"*/-->
<script type="text/javascript">
	$(function() {
		$("#h2hPlayer").autocomplete({
			source: "/autocompletePlayer",
			minLength: 2,
			select: function (event, ui) {
				if (ui.item)
					window.location.href = "/headToHead?playerId1=[(${player.id})]&playerId2=" + ui.item.id;
			}
		});
		decorateSurface("#favoriteSurface, #lastEventSurface");
	});
</script>
<style type="text/css">
	a.player-title {
		vertical-align: text-top;
	}
</style>
<br/>
<div class="row">
	<div class="col-md-4 col-lg-3">
		<table class="table table-condensed text-nowrap">
			<!--/* General */-->
			<tr th:if="${player.dob}">
				<th>Age</th>
				<td th:text="|${player.age} (${#temporals.format(player.dob, 'dd-MM-yyyy')})|">25 (1-1-1990)</td>
			</tr>
			<tr>
				<th>Country</th>
				<td><img th:src="@{/images/flags/{code}.png(code=${player.country.code})}" src="/images/flags/us.png" th:title="${player.country.id}" title="USA" width="24" height="20"/> <span th:text="${player.country.name}">United States</span></td>
			</tr>
			<tr th:if="${player.birthplace}">
				<th>Birthplace</th>
				<td th:text="${player.birthplace}">New York</td>
			</tr>
			<tr th:if="${player.residence}">
				<th>Residence</th>
				<td th:text="${player.residence}">New York</td>
			</tr>
			<tr th:if="${player.height > 0}">
				<th>Height</th>
				<td th:text="|${player.height} cm|">180 cm</td>
			</tr>
			<tr th:if="${player.weight > 0}">
				<th>Weight</th>
				<td th:text="|${player.weight} kg|">80 kg</td>
			</tr>
			<!--/* Tennis */-->
			<tr th:if="${player.hand}">
				<th>Plays</th>
				<td th:text="${player.handName}">Right-handed</td>
			</tr>
			<tr th:if="${player.backhand}">
				<th>Backhand</th>
				<td th:text="${player.backhandName}">Two-handed</td>
			</tr>
			<tr th:if="${!favoriteSurface.empty}">
				<th>Favorite Surface</th>
				<td><span id="favoriteSurface" class="label" th:data-surface="${favoriteSurface.code != null ? favoriteSurface.code : _}"><span th:text="${favoriteSurface}" th:title="${favoriteSurface.surfaceGroup != null ? favoriteSurface.surfaceGroup.surfacesText : _}">Hard</span> <span th:text="${#numbers.formatDecimal(favoriteSurface.specialization, 0, 0)} + '%'" title="Surface specialization rating">25%</span></span></td>
			</tr>
			<tr th:if="${player.coach}">
				<th>Coach</th>
				<td th:text="${player.coach}">Brad Gilbert</td>
			</tr>
			<tr th:if="${player.turnedPro > 0}">
				<th>Turned Pro</th>
				<td th:text="${player.turnedPro}">2005</td>
			</tr>
			<tr th:if="${seasonCount > 0}">
				<th>Seasons</th>
				<td><a th:href="@{/playerProfile(playerId=${player.id}, tab=timeline)}" th:text="${seasonCount}" title="Show timeline">10</a></td>
			</tr>
			<tr th:if="${player.active}">
				<th>Active</th>
				<td>Yes <img th:if="${player.active}" src="/images/active.png" title="Active" width="12" height="12" style="vertical-align: 0"/></td>
			</tr>
			<tr th:if="${!player.active && lastEvent != null}">
				<th>Retired</th>
				<td th:text="${lastEvent.season}">2010</td>
			</tr>
			<tr th:if="${player.prizeMoney}">
				<th>Prize Money</th>
				<td th:text="${player.prizeMoney}" style="white-space: normal !important">US$ 1,000,000</td>
			</tr>
			<!--/* Social */-->
			<tr>
				<th>Wikipedia</th>
				<td><img src="/images/glyphicons-social-wikipedia-small.png" width="16" height="16"/> <a th:href="${player.wikipedia != null ? player.wikipedia : '/playerWikipediaUrl?playerId=' + player.id}" href="https://en.wikipedia.org/wiki/Roger_Federer" target="_blank" class="external">Wikipedia</a></td>
			</tr>
			<tr th:if="${player.webSite}">
				<th>Web Site</th>
				<td><a th:href="'http://' + ${player.webSite}" href="http://www.johnsmith.com" target="_blank" class="external">[(${player.webSite})]</a></td>
			</tr>
			<tr th:if="${player.facebook}">
				<th>Facebook</th>
				<td><img src="/images/glyphicons-social-facebook-small.png" width="16" height="16"/> <a th:href="'https://www.facebook.com/' + ${player.facebook}" href="https://www.facebook.com/JohnSmith" target="_blank" class="external">[(${player.facebook})]</a></td>
			</tr>
			<tr th:if="${player.twitter}">
				<th>Twitter</th>
				<td><img src="/images/glyphicons-social-twitter-small.png" width="16" height="16"/> <a th:href="'https://twitter.com/' + ${player.twitter}" href="https://twitter.com/JohnSmith" target="_blank" class="external" th:text="'@'+ ${player.twitter}">@JohnSmith</a></td>
			</tr>
			<tr th:if="${player.nicknames}">
				<th>Nicknames</th>
				<td th:text="${player.nicknames}">Maestro</td>
			</tr>
		</table>
	</div>
	<div class="col-lg-1">&nbsp;</div>
	<div class="col-md-4 col-lg-3">
		<table class="table table-condensed text-nowrap">
			<!--/* Titles */-->
			<tr th:if="${player.titles > 0}">
				<th>Titles</th>
				<td width="100%"><a class="label label-default player-title" th:text="${player.titles}" th:href="@{/playerProfile(playerId=${player.id}, tab=events, result=W)}" title="Show titles">10</a> <i class="fa fa-trophy fa-b"></i></td>
			</tr>
			<tr th:if="${player.grandSlams > 0}">
				<th>Grand Slams</th>
				<td><a class="label label-danger player-title" th:text="${player.grandSlams}" th:href="@{/playerProfile(playerId=${player.id}, tab=events, level=G, result=W)}" title="Show Grand Slam titles">1</a> <i class="fa fa-trophy fa-b text-danger"></i></td>
			</tr>
			<tr th:if="${player.tourFinals > 0}">
				<th>Tour Finals</th>
				<td><a class="label label-warning2 player-title" th:text="${player.tourFinals}" th:href="@{/playerProfile(playerId=${player.id}, tab=events, level=F, result=W)}" title="Show Tour Finals titles">1</a> <i class="fa fa-trophy fa-b text-warning"></i></td>
			</tr>
			<tr th:if="${player.altFinals > 0}">
				<th title="Alternative Tour Finals">Alt. Finals</th>
				<td><a class="label label-warning player-title" th:text="${player.altFinals}" th:href="@{/playerProfile(playerId=${player.id}, tab=events, level=L, result=W)}" title="Show Alternative Tour Finals titles">1</a> <i class="fa fa-trophy fa-b text-warning"></i></td>
			</tr>
			<tr th:if="${player.masters > 0}">
				<th>Masters</th>
				<td><a class="label label-info player-title" th:text="${player.masters}" th:href="@{/playerProfile(playerId=${player.id}, tab=events, level=M, result=W)}" title="Show Masters titles">5</a> <i class="fa fa-trophy fa-b text-info"></i></td>
			</tr>
			<tr th:if="${player.olympics > 0}">
				<th>Olympics</th>
				<td><a class="label label-success player-title" th:text="${player.olympics}" th:href="@{/playerProfile(playerId=${player.id}, tab=events, level=O, result=W)}" title="Show Olympics titles">1</a> <i class="fa fa-trophy fa-b text-success"></i></td>
			</tr>
			<tr th:if="${player.titles > 0}"><td colspan="2">&nbsp;</td></tr>
			<!--/* Ranking */-->
			<tr th:if="${player.currentRank > 0}">
				<th>Current Rank</th>
				<td th:text="${player.currentRank + ' (' + player.currentRankPoints + ')'}">10 (3000)</td>
			</tr>
			<tr th:if="${player.bestRank > 0}">
				<th>Best Rank</th>
				<td>[(${player.bestRank})] (<a th:href="@{/rankingsTable(rankType=RANK, date=${#temporals.format(player.bestRankDate, 'dd-MM-yyyy')})}" th:text="${#temporals.format(player.bestRankDate, 'dd-MM-yyyy')}">01-01-2010</a>)</td>
			</tr>
			<tr th:if="${player.currentEloRank > 0}">
				<th>Current Elo Rank</th>
				<td th:text="${player.currentEloRank + ' (' + player.currentEloRating + ')'}">10 (2100)</td>
			</tr>
			<tr th:if="${player.bestEloRank > 0}">
				<th>Best Elo Rank</th>
				<td>[(${player.bestEloRank})] (<a th:href="@{/rankingsTable(rankType=ELO_RANK, date=${#temporals.format(player.bestEloRankDate, 'dd-MM-yyyy')})}" th:text="${#temporals.format(player.bestEloRankDate, 'dd-MM-yyyy')}">01-01-2010</a>)</td>
			</tr>
			<tr th:if="${player.bestEloRating > 0}">
				<th>Peak Elo Rating</th>
				<td>[(${player.bestEloRating})] (<a th:href="@{/rankingsTable(rankType=ELO_RANK, date=${#temporals.format(player.bestEloRatingDate, 'dd-MM-yyyy')})}" th:text="${#temporals.format(player.bestEloRatingDate, 'dd-MM-yyyy')}">01-01-2010</a>)</td>
			</tr>
			<tr th:if="${player.goatPoints > 0}">
				<th>GOAT Rank</th>
				<td>[(${player.goatRank})] (<a th:href="@{/playerProfile(playerId=${player.id}, tab=goatPoints)}" th:text="${player.goatPoints}" title="Show GOAT points distribution">25</a>)</td>
			</tr>
			<tr th:if="${player.weeksAtNo1 > 0}">
				<th>Weeks at No. 1</th>
				<td th:text="${player.weeksAtNo1}">50</td>
			</tr>
			<tr th:if="${bestSeason != null || lastEvent != null}"><td colspan="2">&nbsp;</td></tr>
			<tr th:if="${bestSeason}">
				<th>Best Season</th>
				<td><a th:href="@{/playerProfile(playerId=${player.id}, tab=season, season=${bestSeason})}" title="Show season highlights" th:text="${bestSeason}">2015</a></td>
			</tr>
			<th:block th:if="${lastEvent}">
			<tr>
				<th>Last Appearance</th>
				<td th:text="${#temporals.format(lastEvent.date, 'dd-MM-yyyy')}">15-07-2015</td>
			</tr>
			<tr>
				<td colspan="2">
					<a th:href="@{/tournamentEvent(tournamentEventId=${lastEvent.tournamentEventId})}" class="label label-" th:attrappend="class=${lastEvent.level}" th:text="${lastEvent.name}" th:title="${levels[lastEvent.level]}">Wimbledon</a>
					<span th:if="${lastEvent.surface}" id="lastEventSurface" class="label" th:data-surface="${lastEvent.surface}">[(${surfaces[lastEvent.surface]})]<span th:if="${lastEvent.indoor && lastEvent.surface != 'P'}" title="Indoor"> (i)</span></span>
					<a th:href="@{/playerProfile(playerId=${player.id}, tab=matches, tournamentEventId=${lastEvent.tournamentEventId})}" class="label black bg-result-" th:attrappend="class=${lastEvent.result}" th:text="${lastEvent.result}" title="Show tournament matches">W</a>
				</td>
			</tr>
			</th:block>
		</table>
	</div>
	<div class="col-lg-1">&nbsp;</div>
	<div class="col-md-4">
		<style scoped="scoped">
			.progress-profile {
				background-color: #dddddd;
				margin-bottom: 0;
			}
			.progress-bar-profile {
				font-size: 14px;
			}
			.progress-bar > a {
				color: white;
			}
		</style>
		<th:block th:with="wl=${performance.matches}">
		<table th:unless="${wl.empty}" class="table table-condensed text-nowrap">
			<tr>
				<th>Overall</th>
				<th width="100%">
					<div class="progress progress-profile">
						<div class="progress-bar progress-bar-overall" th:attrappend="class=${player.active ? ' progress-bar-striped' : ''}" role="progressbar" th:style="'width: ' + ${wl.wonPctStr}" th:attr="aria-valuenow=${wl.wonPct}" aria-valuemin="0" aria-valuemax="100">
							<a th:href="@{/playerProfile(playerId=${player.id}, tab=matches, outcome=played)}" th:text="${wl.pctWL}" title="Show matches">50% (10-10)</a>
						</div>
					</div>
				</th>
				<th th:unless="${surfaceTitles.empty}"></th>
			</tr>
			</th:block>
			<th:block th:with="wl=${performance.hardMatches}">
			<tr th:unless="${wl.empty}">
				<th>Hard</th>
				<th>
					<div class="progress progress-profile">
						<div class="progress-bar progress-bar-profile progress-bar-primary" th:attrappend="class=${player.active ? ' progress-bar-striped' : ''}" role="progressbar" th:style="'width: ' + ${wl.wonPctStr}" th:attr="aria-valuenow=${wl.wonPct}" aria-valuemin="0" aria-valuemax="100">
							<a th:href="@{/playerProfile(playerId=${player.id}, tab=matches, surface=H, outcome=played)}" th:text="${wl.pctWL}" title="Show hard matches">50% (10-10)</a>
						</div>
					</div>
				</th>
				<th th:if="${surfaceTitles['H']}">
					<a class="label label-primary player-title" th:text="${surfaceTitles['H']}" th:href="@{/playerProfile(playerId=${player.id}, tab=events, surface=H, result=W)}" title="Show hard titles">1</a> <i class="fa fa-trophy fa-b text-primary"></i>
				</th>
			</tr>
			</th:block>
			<th:block th:with="wl=${performance.clayMatches}">
			<tr th:unless="${wl.empty}">
				<th>Clay</th>
				<th>
					<div class="progress progress-profile">
						<div class="progress-bar progress-bar-profile progress-bar-danger" th:attrappend="class=${player.active ? ' progress-bar-striped' : ''}" role="progressbar" th:style="'width: ' + ${wl.wonPctStr}" th:attr="aria-valuenow=${wl.wonPct}" aria-valuemin="0" aria-valuemax="100">
							<a th:href="@{/playerProfile(playerId=${player.id}, tab=matches, surface=C, outcome=played)}" th:text="${wl.pctWL}" title="Show clay matches">50% (10-10)</a>
						</div>
					</div>
				</th>
				<th th:if="${surfaceTitles['C']}">
					<a class="label label-danger player-title" th:text="${surfaceTitles['C']}" th:href="@{/playerProfile(playerId=${player.id}, tab=events, surface=C, result=W)}" title="Show clay titles">1</a> <i class="fa fa-trophy fa-b text-danger"></i>
				</th>
			</tr>
			</th:block>
			<th:block th:with="wl=${performance.grassMatches}">
			<tr th:unless="${wl.empty}">
				<th>Grass</th>
				<th>
					<div class="progress progress-profile">
						<div class="progress-bar progress-bar-profile progress-bar-success" th:attrappend="class=${player.active ? ' progress-bar-striped' : ''}" role="progressbar" th:style="'width: ' + ${wl.wonPctStr}" th:attr="aria-valuenow=${wl.wonPct}" aria-valuemin="0" aria-valuemax="100">
							<a th:href="@{/playerProfile(playerId=${player.id}, tab=matches, surface=G, outcome=played)}" th:text="${wl.pctWL}" title="Show grass matches">50% (10-10)</a>
						</div>
					</div>
				</th>
				<th th:if="${surfaceTitles['G']}">
					<a class="label label-success player-title" th:text="${surfaceTitles['G']}" th:href="@{/playerProfile(playerId=${player.id}, tab=events, surface=G, result=W)}" title="Show grass titles">1</a> <i class="fa fa-trophy fa-b text-success"></i>
				</th>
			</tr>
			</th:block>
			<th:block th:with="wl=${performance.carpetMatches}">
			<tr th:unless="${wl.empty}">
				<th>Carpet</th>
				<th>
					<div class="progress progress-profile">
						<div class="progress-bar progress-bar-profile progress-bar-warning" th:attrappend="class=${player.active ? ' progress-bar-striped' : ''}" role="progressbar" th:style="'width: ' + ${wl.wonPctStr}" th:attr="aria-valuenow=${wl.wonPct}" aria-valuemin="0" aria-valuemax="100">
							<a th:href="@{/playerProfile(playerId=${player.id}, tab=matches, surface=P, outcome=played)}" th:text="${wl.pctWL}" title="Show carpet matches">50% (10-10)</a>
						</div>
					</div>
				</th>
				<th th:if="${surfaceTitles['P']}">
					<a class="label label-warning player-title" th:text="${surfaceTitles['P']}" th:href="@{/playerProfile(playerId=${player.id}, tab=events, surface=P, result=W)}" title="Show carpet titles">1</a> <i class="fa fa-trophy fa-b text-warning"></i>
				</th>
			</tr>
		</table>
		</th:block>
		<!--/* H2H */-->
		<th:block th:if="${playerH2H}">
		<br/>
		<table class="table table-condensed text-nowrap">
			<tr>
				<th th:title="#{h2hSeries.notes}">H2H</th>
				<th width="100%">
					<div class="progress progress-profile">
						<div class="progress-bar progress-bar-profile progress-bar-success" role="progressbar" th:style="'width: ' + ${playerH2H.rawWonPctStr}" th:attr="aria-valuenow=${playerH2H.rawWonPct}" aria-valuemin="0" aria-valuemax="100">
							<a th:href="@{/playerProfile(playerId=${player.id}, tab=rivalries, h2h=1, matches=3)}" th:text="${playerH2H.won}" title="Show positive H2H rivalries">42</a>
						</div>
						<div class="progress-bar progress-bar-profile progress-bar-warning" role="progressbar" th:style="'width: ' + ${playerH2H.rawDrawPctStr}" th:attr="aria-valuenow=${playerH2H.rawDrawPct}" aria-valuemin="0" aria-valuemax="100">
							<a th:href="@{/playerProfile(playerId=${player.id}, tab=rivalries, h2h=0, matches=3)}" th:text="${playerH2H.draw}" title="Show draw H2H rivalries">4</a>
						</div>
						<div class="progress-bar progress-bar-profile progress-bar-danger" role="progressbar" th:style="'width: ' + ${playerH2H.rawLostPctStr}" th:attr="aria-valuenow=${playerH2H.rawLostPct}" aria-valuemin="0" aria-valuemax="100">
							<a th:href="@{/playerProfile(playerId=${player.id}, tab=rivalries, h2h=-1, matches=3)}" th:text="${playerH2H.lost}" title="Show negative H2H rivalries">1</a>
						</div>
					</div>
				</th>
			</tr>
			<tr>
				<th th:title="#{h2hSeries.notes}">H2H %</th>
				<td th:text="${playerH2H.wonPctStr}">75.4%</td>
			</tr>
		</table>
		</th:block>
		<div class="input-group">
			<label for="h2hPlayer" class="input-group-addon">H2H with:</label>
			<input id="h2hPlayer" type="text" class="ui-widget search-field form-control" size="30" placeholder="Search Player"/>
		</div>
	</div>
</div>
</th:block>