<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="player" type="org.strangeforest.tcb.stats.model.core.Player"*/-->
<!--/*@thymesVar id="tab" type="java.lang.String"*/-->
<!--/*@thymesVar id="season" type="java.lang.Integer"*/-->
<!--/*@thymesVar id="fromDate" type="java.time.LocalDate"*/-->
<!--/*@thymesVar id="toDate" type="java.time.LocalDate"*/-->
<!--/*@thymesVar id="level" type="java.lang.String"*/-->
<!--/*@thymesVar id="bestOf" type="java.lang.Integer"*/-->
<!--/*@thymesVar id="surface" type="java.lang.String"*/-->
<!--/*@thymesVar id="indoor" type="java.lang.Boolean"*/-->
<!--/*@thymesVar id="speed" type="java.lang.Integer"*/-->
<!--/*@thymesVar id="result" type="java.lang.String"*/-->
<!--/*@thymesVar id="round" type="java.lang.String"*/-->
<!--/*@thymesVar id="opponent" type="java.lang.String"*/-->
<!--/*@thymesVar id="tournamentId" type="java.lang.Integer>"*/-->
<!--/*@thymesVar id="tournamentEventId" type="java.lang.Integer>"*/-->
<!--/*@thymesVar id="outcome" type="java.lang.String"*/-->
<!--/*@thymesVar id="score" type="java.lang.String"*/-->
<!--/*@thymesVar id="countryId" type="java.lang.String"*/-->
<!--/*@thymesVar id="bigWin" type="java.lang.Boolean"*/-->
<!--/*@thymesVar id="h2h" type="java.lang.Integer"*/-->
<!--/*@thymesVar id="matches" type="java.lang.Integer"*/-->
<!--/*@thymesVar id="rankType" type="java.lang.String"*/-->
<!--/*@thymesVar id="bySeason" type="java.lang.Boolean"*/-->
<!--/*@thymesVar id="infamous" type="java.lang.Boolean"*/-->
<!--/*@thymesVar id="searchPhrase" type="java.lang.String"*/-->
<!--/*@thymesVar id="params" type="org.strangeforest.tcb.stats.controller.ParamsUtil"*/-->
<head th:replace="fragments/head :: commonHead(${player.name}, true, ~{::template})">
	<title>Player Profile</title>
	<template>
	<meta name="description" th:content="|${player.name} profile at Ultimate Tennis Statistics|"/>
	<script type="text/javascript" th:inline="javascript">
		$(function() {
			$("#playerPills").find("a").click(tabClick);
			[# th:if="${tab}" th:switch="${tab}"]
				[# th:case="'season'"]
				var $pill = $("#seasonPill");
				var url = $pill.data("url") + [(${params.param('season', season)})];
				loadTab($pill, url);
				[/]
				[# th:case="'events'"]
				var $pill = $("#eventsPill");
				var url = $pill.data("url") + [(${params.param('season', season)})] + [(${params.param('fromDate', fromDate)})] + [(${params.param('toDate', toDate)})];
				url += [(${params.param('level', level)})] + [(${params.param('surface', surface)})] + [(${params.param('indoor', indoor)})] + [(${params.param('speed', speed)})] + [(${params.param('result', result)})] + [(${params.param('tournamentId', tournamentId)})];
				loadTab($pill, url);
				[/]
				[# th:case="'matches'"]
				var $pill = $("#matchesPill");
				var url = $pill.data("url") + [(${params.param('season', season)})] + [(${params.param('fromDate', fromDate)})] + [(${params.param('toDate', toDate)})];
				url += [(${params.param('level', level)})] + [(${params.param('bestOf', bestOf)})] + [(${params.param('surface', surface)})] + [(${params.param('indoor', indoor)})] + [(${params.param('speed', speed)})] + [(${params.param('result', result)})] + [(${params.param('round', round)})] + [(${params.param('opponent', opponent)})];
				url += [(${params.param('tournamentId', tournamentId)})] + [(${params.param('tournamentEventId', tournamentEventId)})] + [(${params.param('outcome', outcome)})] + [(${params.param('score', score)})] + [(${params.param('countryId', countryId)})] + [(${params.param('bigWin', bigWin)})] + [(${params.param('searchPhrase', searchPhrase)})];
				loadTab($pill, url)
				[/]
				[# th:case="'rivalries'"]
				var $pill = $("#rivalriesPill");
				var url = $pill.data("url") + [(${params.param('season', season)})] + [(${params.param('level', level)})] + [(${params.param('surface', surface)})] + [(${params.param('opponent', opponent)})] + [(${params.param('h2h', h2h)})] + [(${params.param('matches', matches)})];
				loadTab($pill, url)
				[/]
				[# th:case="'ranking'"]
				var $pill = $("#rankingPill");
				var url = $pill.data("url") + [(${params.param('rankType', rankType)})] + [(${params.param('season', season)})] + [(${params.param('bySeason', bySeason)})];
				loadTab($pill, url);
				[/]
				[# th:case="'performance'"]
				var $pill = $("#performancePill");
				var url = $pill.data("url") + [(${params.param('season', season)})] + [(${params.param('level', level)})] + [(${params.param('surface', surface)})] + [(${params.param('indoor', indoor)})] + [(${params.param('speed', speed)})] + [(${params.param('result', result)})] + [(${params.param('tournamentId', tournamentId)})];
				loadTab($pill, url);
				[/]
				[# th:case="'statistics'"]
				var $pill = $("#statisticsPill");
				var url = $pill.data("url") + [(${params.param('season', season)})] + [(${params.param('level', level)})] + [(${params.param('surface', surface)})] + [(${params.param('indoor', indoor)})] + [(${params.param('speed', speed)})];
				loadTab($pill, url);
				[/]
				[# th:case="'tournaments'"]
				var $pill = $("#tournamentsPill");
				var url = $pill.data("url") + [(${params.param('level', level)})] + [(${params.param('surface', surface)})] + [(${params.param('indoor', indoor)})] + [(${params.param('result', result)})];
				loadTab($pill, url);
				[/]
				[# th:case="'goatPoints'"]
				var $pill = $("#goatPointsPill");
				var url = $pill.data("url") + [(${params.param('season', season)})] + [(${params.param('surface', surface)})];
				loadTab($pill, url);
				[/]
				[# th:case="'records'"]
				var $pill = $("#recordsPill");
				var url = $pill.data("url") + [(${params.param('infamous', infamous)})];
				loadTab($pill, url);
				[/]
				[# th:case="*"]
				$("#[(${tab})]Pill").click();
				[/]
			[/]
			[# th:unless="${tab}"] $("#profilePill").click(); [/]
		});
	</script>
	</template>
</head>
<body class="container">
	<header th:include="fragments/header :: title"></header>
	<h3>
		<img th:src="@{/images/flags/{code}.png(code=${player.country.code})}" src="/images/flags/ch.png'" style="float: left; margin-top: 2px; margin-right: 8px" th:title="${player.country.id}" title="SUI" width="24" height="20"/>
		<th:block th:text="${player.name}">Roger Federer</th:block> <a th:href="@{/playerProfile(name=${player.name})}" th:title="|Permalink to ${player.name} profile|"><h4 style="margin: 0" class="glyphicon glyphicon-link"></h4></a>
	</h3>
	<ul id="playerPills" class="nav nav-pills tab-param">
		<li><a id="profilePill" data-toggle="pill" href="#profile" th:data-url="'/playerProfileTab?playerId=' + ${player.id}">Profile</a></li>
		<li><a id="seasonPill" data-toggle="pill" href="#season" th:data-url="'/playerSeason?playerId=' + ${player.id}">Season</a></li>
		<li><a id="eventsPill" data-toggle="pill" href="#events" th:data-url="'/playerEvents?playerId=' + ${player.id}">Events</a></li>
		<li><a id="matchesPill" data-toggle="pill" href="#matches" th:data-url="'/playerMatches?playerId=' + ${player.id}">Matches</a></li>
		<li><a id="timelinePill" data-toggle="pill" href="#timeline" th:data-url="'/playerTimeline?playerId=' + ${player.id}">Timeline</a></li>
		<li><a id="rivalriesPill" data-toggle="pill" href="#rivalries" th:data-url="'/playerRivalries?playerId=' + ${player.id}">Rivalries</a></li>
		<li><a id="rankingPill" data-toggle="pill" href="#ranking" th:data-url="'/playerRankings?playerId=' + ${player.id}">Ranking</a></li>
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#">Performance<span class="caret"></span></a>
			<ul class="dropdown-menu">
				<li><a id="performancePill" data-toggle="pill" href="#performance" th:data-url="'/playerPerformance?playerId=' + ${player.id}">Performance</a></li>
				<li><a id="performanceChartPill" data-toggle="pill" href="#performanceChart" th:data-url="'/playerPerformanceChart?playerId=' + ${player.id}">Performance Chart</a></li>
			</ul>
		</li>
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#">Statistics<span class="caret"></span></a>
			<ul class="dropdown-menu">
				<li><a id="statisticsPill" data-toggle="pill" href="#statistics" th:data-url="'/playerStatsTab?playerId=' + ${player.id}">Statistics</a></li>
				<li><a id="statisticsChartPill" data-toggle="pill" href="#statisticsChart" th:data-url="'/playerStatsChart?playerId=' + ${player.id}">Statistics Chart</a></li>
			</ul>
		</li>
		<li><a id="tournamentsPill" data-toggle="pill" href="#tournaments" th:data-url="'/playerTournaments?playerId=' + ${player.id}">Tournaments</a></li>
		<li><a id="goatPointsPill" data-toggle="pill" href="#goatPoints" th:data-url="'/playerGOATPoints?playerId=' + ${player.id}" title="GOAT Points Breakdown">GOAT Points</a></li>
		<li><a id="recordsPill" data-toggle="pill" href="#records" th:data-url="'/playerRecords?playerId=' + ${player.id}">Records</a></li>
	</ul>
	<div class="tab-content">
		<div id="profile" class="tab-pane fade"><div class="loading"></div></div>
		<div id="season" class="tab-pane fade"><div class="loading"></div></div>
		<div id="events" class="tab-pane fade"><div class="loading"></div></div>
		<div id="matches" class="tab-pane fade"><div class="loading"></div></div>
		<div id="timeline" class="tab-pane fade"><div class="loading"></div></div>
		<div id="rivalries" class="tab-pane fade"><div class="loading"></div></div>
		<div id="ranking" class="tab-pane fade"><div class="loading"></div></div>
		<div id="performance" class="tab-pane fade"><div class="loading"></div></div>
		<div id="performanceChart" class="tab-pane fade"><div class="loading"></div></div>
		<div id="statistics" class="tab-pane fade"><div class="loading"></div></div>
		<div id="statisticsChart" class="tab-pane fade"><div class="loading"></div></div>
		<div id="tournaments" class="tab-pane fade"><div class="loading"></div></div>
		<div id="goatPoints" class="tab-pane fade"><div class="loading"></div></div>
		<div id="records" class="tab-pane fade"><div class="loading"></div></div>
	</div>
	<th:block th:include="fragments/deviceDetector :: deviceDetectors"/>
	<footer th:include="fragments/footer :: copy"></footer>
</body>
</html>