<th:block  xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="playerId" type="java.lang.Integer"*/-->
<!--/*@thymesVar id="seasons" type="java.util.List<java.lang.Integer>"*/-->
<!--/*@thymesVar id="levels" type="java.util.Set<org.strangeforest.tcb.stats.model.core.TournamentLevel>"*/-->
<!--/*@thymesVar id="levelGroups" type="java.util.Set<org.strangeforest.tcb.stats.model.core.TournamentLevelGroup>"*/-->
<!--/*@thymesVar id="surfaces" type="org.strangeforest.tcb.stats.model.core.Surface[]"*/-->
<!--/*@thymesVar id="surfaceGroups" type="org.strangeforest.tcb.stats.model.core.SurfaceGroup[]"*/-->
<!--/*@thymesVar id="speeds" type="org.strangeforest.tcb.stats.model.core.CourtSpeed[]"*/-->
<!--/*@thymesVar id="rounds" type="org.strangeforest.tcb.stats.model.core.Round[]"*/-->
<!--/*@thymesVar id="results" type="org.strangeforest.tcb.stats.model.core.EventResult[]"*/-->
<!--/*@thymesVar id="tournaments" type="java.util.List<org.strangeforest.tcb.stats.model.core.TournamentItem>"*/-->
<!--/*@thymesVar id="opponentCategories" type="java.util.Map<org.strangeforest.tcb.stats.service.Opponent.OpponentCategory, List<org.strangeforest.tcb.stats.service.Opponent>>"*/-->
<!--/*@thymesVar id="countries" type="java.util.List<com.neovisionaries.i18n.CountryCode>"*/-->
<!--/*@thymesVar id="season" type="java.lang.Integer"*/-->
<!--/*@thymesVar id="fromDate" type="java.time.LocalDate"*/-->
<!--/*@thymesVar id="toDate" type="java.time.LocalDate"*/-->
<!--/*@thymesVar id="level" type="java.lang.String"*/-->
<!--/*@thymesVar id="bestOf" type="java.lang.Integer"*/-->
<!--/*@thymesVar id="surface" type="java.lang.String"*/-->
<!--/*@thymesVar id="indoor" type="java.lang.Boolean"*/-->
<!--/*@thymesVar id="speed" type="java.lang.Integer"*/-->
<!--/*@thymesVar id="round" type="java.lang.String>"*/-->
<!--/*@thymesVar id="result" type="java.lang.String"*/-->
<!--/*@thymesVar id="tournamentId" type="java.lang.Integer>"*/-->
<!--/*@thymesVar id="opponent" type="java.lang.String>"*/-->
<!--/*@thymesVar id="countryId" type="java.lang.String>"*/-->
<!--/*@thymesVar id="advFilter" type="java.lang.Boolean"*/-->
<!--/*@thymesVar id="rawData" type="java.lang.Boolean"*/-->
<!--/*@thymesVar id="perf" type="org.strangeforest.tcb.stats.model.PlayerPerformanceEx"*/-->
<script type="text/javascript">
	var perfRawData = [(${rawData})];
	$(function() {
		$("#playerPerformance").find(perfRawData ? ".pct-data" : ".raw-data").hide();
		$("#playerPerfSurface").find("div.progress-bar").each(function() {
			var $progressBar = $(this);
			var surface = $progressBar.data("surface");
			$progressBar.addClass("progress-bar-" + surfaceClassSuffix(surface));
		});
		dateRangePicker("perfFromDate", "perfToDate", "[(${!seasons.empty ? (seasons.get(seasons.size()-1) + ':' + seasons.get(0)) : _})]");
		$("[data-toggle='tooltip']").tooltip();
	});
	function reloadPerformance() {
		if (!validatePerformanceFilter())
			return;
		var url = "/playerPerformance?playerId=[(${playerId})]";
		url += "&season=" + $("#perfSeason").val();
		url += "&fromDate=" + $("#perfFromDate").val();
		url += "&toDate=" + $("#perfToDate").val();
		url += "&level=" + $("#perfLevel").val();
		url += "&bestOf=" + $("#perfBestOf").val();
		url += "&surface=" + $("#perfSurface").val();
		url += "&indoor=" + $("#perfIndoor").val();
		url += "&speed=" + $("#perfSpeed").val();
		url += "&round=" + encodeURIComponent($("#perfRound").val());
		url += "&result=" + encodeURIComponent($("#perfResult").val());
		url += "&tournamentId=" + $("#perfTournament").val();
		url += "&opponent=" + $("#perfOpponent").val();
		url += "&countryId=" + $("#perfCountry").val();
		url += "&advFilter=" + $("#perfAdvancedFilter").hasClass("in");
		url += "&rawData=" + perfRawData;
		$("#performance").load(url);
	}
	function validatePerformanceFilter() {
		return getDate("perfFromDate", "from date") !== null && getDate("perfToDate", "to date") !== null;
	}
	function clearPerformanceFilter() {
		$("#perfSeason").val("");
		$("#perfFromDate").val("");
		$("#perfToDate").val("");
		$("#perfLevel").val("");
		$("#perfBestOf").val("");
		$("#perfSurface").val("");
		$("#perfIndoor").val("");
		$("#perfSpeed").val("");
		$("#perfRound").val("");
		$("#perfResult").val("");
		$("#perfTournament").val("");
		$("#perfOpponent").val("");
		$("#perfCountry").val("");
		reloadPerformance();
	}
</script>
<style scoped="scoped">
	.progress-perf {
		background-color: #dddddd;
		margin-bottom: 0;
	}
	.progress-bar > a {
		color: white;
	}
</style>
<br/>
<div class="row">
	<div class="col-md-2">
		<select id="perfSeason" class="form-control" onchange="reloadPerformance()" data-toggle="tooltip" data-placement="top" title="Select career or filter by season">
			<option value="">Career</option>
			<option value="-1" th:selected="${season == -1}">Last 52 weeks</option>
			<option th:each="aSeason : ${seasons}" th:value="${aSeason}" value="2005" th:text="${aSeason}" th:selected="${aSeason == season}">2005</option>
		</select>
	</div>
	<div class="col-md-2">
		<select id="perfLevel" class="form-control" onchange="reloadPerformance()" data-toggle="tooltip" data-placement="top" title="Filter by tournament level">
			<option value="">All levels</option>
			<option th:each="aLevel : ${levels}" th:value="${aLevel.code}" th:class="|bg-level-${aLevel.code}|" value="G" class="bg-level-G" th:text="${aLevel.text}" th:selected="${aLevel.code == level}">Grand Slam</option>
			<option th:each="levelGroup : ${levelGroups}" th:value="${levelGroup.codes}" value="GFLMO" th:text="${levelGroup.text}" th:selected="${levelGroup.codes == level}">Big Tournaments</option>
		</select>
	</div>
	<div class="col-md-2">
		<select id="perfSurface" class="form-control" onchange="reloadPerformance()" data-toggle="tooltip" data-placement="top" title="Filter by surface">
			<option value="">All surfaces</option>
			<option th:each="aSurface : ${surfaces}" th:value="${aSurface.code}" th:class="|bg-surface-${aSurface.code}|" value="H" class="bg-surface-H" th:text="${aSurface.text}" th:selected="${aSurface.code == surface}">Hard</option>
			<option th:each="surfaceGroup : ${surfaceGroups}" th:value="${surfaceGroup.codes}" value="HGP" th:text="${surfaceGroup.text}" th:selected="${surfaceGroup.codes.length() > 1 && surfaceGroup.codes == surface}">Fast (H, G, Cp)</option>
		</select>
	</div>
	<div class="col-md-2">
		<select id="perfRound" class="form-control" onchange="reloadPerformance()" data-toggle="tooltip" data-placement="top" title="Filter by round">
			<option value="">All rounds</option>
			<option th:each="aRound : ${rounds}" th:value="${aRound.code}" th:class="|bg-result-${aRound.baseCode}|" value="F" class="bg-result-F" th:text="${aRound.text}" th:selected="${aRound.code == round}">Final</option>
		</select>
	</div>
	<div class="col-md-2">
		<select id="perfOpponent" class="form-control" onchange="reloadPerformance()" data-toggle="tooltip" data-placement="top" title="Filter by opponent">
			<option value="">Vs all</option>
			<optgroup th:each="opponentCategory : ${opponentCategories}" th:label="${opponentCategory.key.text}" label="Rank">
				<option th:each="anOpponent : ${opponentCategory.value}" th:value="${anOpponent}" value="NO_1" th:text="${anOpponent.text}" th:selected="${anOpponent.name() == opponent}">Vs No. 1</option>
			</optgroup>
		</select>
	</div>
	<div class="col-md-1">
		<button type="button" class="btn btn-default" onclick="clearPerformanceFilter()" data-toggle="tooltip" data-placement="top" title="Clear all filters">
			<i class="fa fa-eraser"></i>
		</button>
	</div>
	<div class="col-md-1">
		<div class="pull-right" data-toggle="tooltip" data-placement="auto" title="Advanced filters">
			<button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#perfAdvancedFilter">
				Adv.&nbsp;&nbsp;<i class="fa fa-chevron-down"></i>
			</button>
		</div>
	</div>
</div>
<div id="perfAdvancedFilter" class="collapse" th:attrappend="class=${advFilter || fromDate != null || toDate != null || bestOf != null || indoor != null || speed != null || (countryId != null && countryId != '') || (result != null && result != '') || tournamentId != null ? ' in' : _}">
	<div class="row margin-top">
		<div class="col-md-4">
			<div id="perfDateRange" class="input-group">
				<label for="perfFromDate" class="input-group-addon">From:</label>
				<input id="perfFromDate" type="text" maxlength="10" class="form-control" th:value="${#temporals.format(fromDate, 'dd-MM-yyyy')}" onchange="reloadPerformance()"/>
				<label for="perfToDate" class="input-group-addon">To:</label>
				<input id="perfToDate" type="text" maxlength="10" class="form-control" th:value="${#temporals.format(toDate, 'dd-MM-yyyy')}" onchange="reloadPerformance()"/>
			</div>
		</div>
		<div class="col-md-2">
			<select id="perfIndoor" class="form-control" onchange="reloadPerformance()" data-toggle="tooltip" data-placement="top" title="Filter by outdoor / indoor">
				<option value="">Outdoor / Indoor</option>
				<option value="false" th:selected="${indoor == false}">Outdoor</option>
				<option value="true" th:selected="${indoor}">Indoor</option>
			</select>
		</div>
		<div class="col-md-2">
			<select id="perfResult" class="form-control" onchange="reloadPerformance()" data-toggle="tooltip" data-placement="top" title="Filter by tournament result">
				<option value="">All results</option>
				<option th:each="aResult : ${results}" th:value="${aResult.code}" th:class="|bg-result-${aResult.baseCode}|" value="W" class="bg-result-W" th:text="${aResult.text}" th:selected="${aResult.code == result}">Win</option>
			</select>
		</div>
		<div class="col-md-3">
			<select id="perfCountry" class="form-control" onchange="reloadPerformance()" data-toggle="tooltip" data-placement="top" title="Filter by opponent country">
				<option value="">Vs all countries</option>
				<option th:each="country : ${countries}" th:value="${country.alpha3}" value="SUI" th:text="${country.name}" th:selected="${country.alpha3 == countryId}">Switzerland</option>
			</select>
		</div>
	</div>
	<div class="row margin-top">
		<div class="col-md-2">
			<select id="perfBestOf" class="form-control" onchange="reloadPerformance()" data-toggle="tooltip" data-placement="top" title="Filter by best of">
				<option value="">Best of any</option>
				<option value="3" th:selected="${bestOf == 3}">Best of 3</option>
				<option value="5" th:selected="${bestOf == 5}">Best of 5</option>
			</select>
		</div>
		<div class="col-md-2">
			<select id="perfSpeed" class="form-control" onchange="reloadPerformance()" data-toggle="tooltip" data-placement="top" title="Filter by court speed">
				<option value="">All speeds</option>
				<option th:each="aSpeed : ${speeds}" th:value="${aSpeed.speed}" th:class="|points-${aSpeed.speed}|" style="color: white" value="50" class="points-50" th:text="${aSpeed.text}" th:selected="${aSpeed.speed == speed}">Medium</option>
			</select>
		</div>
		<div class="col-md-3">
			<select id="perfTournament" class="form-control" onchange="reloadPerformance()" data-toggle="tooltip" data-placement="top" title="Filter by tournament">
				<option value="">All tournaments</option>
				<option th:each="tournament : ${tournaments}" th:value="${tournament.id}" value="101" th:text="${tournament.name}" th:class="'bg-level-' + ${tournament.level}" th:selected="${tournament.id == tournamentId}">Wimbledon</option>
			</select>
		</div>
	</div>
</div>
<br/>
<div id="playerPerformance">
	<div th:unless="${perf.empty}" class="text-nowrap">
		<div class="row">
			<div class="col-lg-4 col-sm-6">
				<table id="playerPerfSurface" class="table table-condensed table-striped">
					<tr>
						<th width="40%">Overall</th>
						<th th:with="wl=${perf.matches}">
							<div th:unless="${wl.empty}" class="progress progress-perf">
								<div class="progress-bar progress-bar-overall" role="progressbar" th:style="'width: ' + ${wl.wonPctStr}" th:attr="aria-valuenow=${wl.wonPct}" aria-valuemin="0" aria-valuemax="100">
									<a th:href="@{/playerProfile(playerId=${playerId}, tab=matches, season=${season}, fromDate=${#temporals.format(fromDate, 'dd-MM-yyyy')}, toDate=${#temporals.format(toDate, 'dd-MM-yyyy')}, level=${level}, bestOf=${bestOf}, surface=${surface}, indoor=${indoor}, speed=${speed}, round=${round}, result=${result}, tournamentId=${tournamentId}, opponent=${opponent}, countryId=${countryId}, outcome=played)}" title="Show matches">
										<span class="pct-data" th:text="${wl.pctWL}">50% (10-10)</span>
										<span class="raw-data" th:text="${wl.WLT}">10 - 10 / 20</span>
									</a>
								</div>
							</div>
						</th>
					</tr>
					<tr>
						<th colspan="2">&nbsp;</th>
					</tr>
					<tr>
						<th colspan="2">Surface Breakdown</th>
					</tr>
					<tr th:each="surfaceWL : ${perf.surfaceMatches}" th:with="surface=${surfaceWL.key}, wl=${surfaceWL.value}">
						<td th:text="${surface.text}">Hard</td>
						<th>
							<div class="progress progress-perf">
								<div class="progress-bar progress-bar-perf" th:data-surface="${surface.code}" role="progressbar" th:style="'width: ' + ${wl.wonPctStr}" th:attr="aria-valuenow=${wl.wonPct}" aria-valuemin="0" aria-valuemax="100">
									<a th:href="@{/playerProfile(playerId=${playerId}, tab=matches, season=${season}, fromDate=${#temporals.format(fromDate, 'dd-MM-yyyy')}, toDate=${#temporals.format(toDate, 'dd-MM-yyyy')}, level=${level}, bestOf=${bestOf}, surface=${surface.code}, indoor=${indoor}, speed=${speed}, round=${round}, result=${result}, tournamentId=${tournamentId}, opponent=${opponent}, countryId=${countryId}, outcome=played)}" th:title="|Show ${surface.text} matches|">
										<span class="pct-data" th:text="${wl.pctWL}">50% (10-10)</span>
										<span class="raw-data" th:text="${wl.WLT}">10 - 10 / 20</span>
									</a>
								</div>
							</div>
						</th>
					</tr>
				</table>
			</div>
			<div class="col-lg-4 col-sm-6">
				<table class="table table-condensed table-striped">
					<tr>
						<th colspan="2">Tournament Level Breakdown</th>
					</tr>
					<tr th:each="levelWL : ${perf.levelMatches}" th:with="level=${levelWL.key}, wl=${levelWL.value}">
						<td width="40%" th:text="${level.text}">Grand Slam</td>
						<th>
							<div class="progress progress-perf">
								<div class="progress-bar progress-bar-perf label-" th:attrappend="class=${level.code}" role="progressbar" th:style="'width: ' + ${wl.wonPctStr}" th:attr="aria-valuenow=${wl.wonPct}" aria-valuemin="0" aria-valuemax="100">
									<a th:href="@{/playerProfile(playerId=${playerId}, tab=matches, season=${season}, fromDate=${#temporals.format(fromDate, 'dd-MM-yyyy')}, toDate=${#temporals.format(toDate, 'dd-MM-yyyy')}, level=${level.code}, bestOf=${bestOf}, surface=${surface}, indoor=${indoor}, speed=${speed}, round=${round}, result=${result}, tournamentId=${tournamentId}, opponent=${opponent}, countryId=${countryId}, outcome=played)}" th:title="|Show ${level.text} matches|">
										<span class="pct-data" th:text="${wl.pctWL}">50% (10-10)</span>
										<span class="raw-data" th:text="${wl.WLT}">10 - 10 / 20</span>
									</a>
								</div>
							</div>
						</th>
					</tr>
				</table>
			</div>
			<div class="col-lg-4 col-sm-6">
				<table class="table table-condensed table-striped">
					<tr>
						<th colspan="2">Pressure Situations</th>
					</tr>
					<tr>
						<td width="40%">Deciding Set</td>
						<th th:with="wl=${perf.decidingSets}">
							<div th:unless="${wl.empty}" class="progress progress-perf">
								<div class="progress-bar progress-bar-perf-def" role="progressbar" th:style="'width: ' + ${wl.wonPctStr}" th:attr="aria-valuenow=${wl.wonPct}" aria-valuemin="0" aria-valuemax="100">
									<a th:href="@{/playerProfile(playerId=${playerId}, tab=matches, season=${season}, fromDate=${#temporals.format(fromDate, 'dd-MM-yyyy')}, toDate=${#temporals.format(toDate, 'dd-MM-yyyy')}, level=${level}, bestOf=${bestOf}, surface=${surface}, indoor=${indoor}, speed=${speed}, round=${round}, result=${result}, tournamentId=${tournamentId}, opponent=${opponent}, countryId=${countryId}, score='*DS', outcome=finished)}" title="Show deciding set matches">
										<span class="pct-data" th:text="${wl.pctWL}">50% (10-10)</span>
										<span class="raw-data" th:text="${wl.WLT}">10 - 10 / 20</span>
									</a>
								</div>
							</div>
						</th>
					</tr>
					<tr>
						<td>Fifth Set</td>
						<th th:with="wl=${perf.fifthSets}">
							<div th:unless="${wl.empty}" class="progress progress-perf">
								<div class="progress-bar progress-bar-perf-def" role="progressbar" th:style="'width: ' + ${wl.wonPctStr}" th:attr="aria-valuenow=${wl.wonPct}" aria-valuemin="0" aria-valuemax="100">
									<a th:href="@{/playerProfile(playerId=${playerId}, tab=matches, season=${season}, fromDate=${#temporals.format(fromDate, 'dd-MM-yyyy')}, toDate=${#temporals.format(toDate, 'dd-MM-yyyy')}, level=${level}, bestOf=${bestOf}, surface=${surface}, indoor=${indoor}, speed=${speed}, round=${round}, result=${result}, tournamentId=${tournamentId}, opponent=${opponent}, countryId=${countryId}, score='2:2+', outcome=finished)}" title="Show fifth set matches">
										<span class="pct-data" th:text="${wl.pctWL}">50% (10-10)</span>
										<span class="raw-data" th:text="${wl.WLT}">10 - 10 / 20</span>
									</a>
								</div>
							</div>
						</th>
					</tr>
					<tr>
						<td>After Winning 1st Set</td>
						<th th:with="wl=${perf.afterWinningFirstSet}">
							<div th:unless="${wl.empty}" class="progress progress-perf">
								<div class="progress-bar progress-bar-perf-def" role="progressbar" th:style="'width: ' + ${wl.wonPctStr}" th:attr="aria-valuenow=${wl.wonPct}" aria-valuemin="0" aria-valuemax="100">
									<a th:href="@{/playerProfile(playerId=${playerId}, tab=matches, season=${season}, fromDate=${#temporals.format(fromDate, 'dd-MM-yyyy')}, toDate=${#temporals.format(toDate, 'dd-MM-yyyy')}, level=${level}, bestOf=${bestOf}, surface=${surface}, indoor=${indoor}, speed=${speed}, round=${round}, result=${result}, tournamentId=${tournamentId}, opponent=${opponent}, countryId=${countryId}, score='1:0+', outcome=played)}" title="Show after winning 1st set matches">
										<span class="pct-data" th:text="${wl.pctWL}">50% (10-10)</span>
										<span class="raw-data" th:text="${wl.WLT}">10 - 10 / 20</span>
									</a>
								</div>
							</div>
						</th>
					</tr>
					<tr>
						<td>After Losing 1st Set</td>
						<th th:with="wl=${perf.afterLosingFirstSet}">
							<div th:unless="${wl.empty}" class="progress progress-perf">
								<div class="progress-bar progress-bar-perf-def" role="progressbar" th:style="'width: ' + ${wl.wonPctStr}" th:attr="aria-valuenow=${wl.wonPct}" aria-valuemin="0" aria-valuemax="100">
									<a th:href="@{/playerProfile(playerId=${playerId}, tab=matches, season=${season}, fromDate=${#temporals.format(fromDate, 'dd-MM-yyyy')}, toDate=${#temporals.format(toDate, 'dd-MM-yyyy')}, level=${level}, bestOf=${bestOf}, surface=${surface}, indoor=${indoor}, speed=${speed}, round=${round}, result=${result}, tournamentId=${tournamentId}, opponent=${opponent}, countryId=${countryId}, score='0:1+', outcome=played)}" title="Show after losing 1st set matches">
										<span class="pct-data" th:text="${wl.pctWL}">50% (10-10)</span>
										<span class="raw-data" th:text="${wl.WLT}">10 - 10 / 20</span>
									</a>
								</div>
							</div>
						</th>
					</tr>
					<tr>
						<td>Tie Breaks</td>
						<th th:with="wl=${perf.tieBreaks}">
							<div th:unless="${wl.empty}" class="progress progress-perf">
								<div class="progress-bar progress-bar-perf-def" role="progressbar" th:style="'width: ' + ${wl.wonPctStr}" th:attr="aria-valuenow=${wl.wonPct}" aria-valuemin="0" aria-valuemax="100">
									<a th:href="@{/playerProfile(playerId=${playerId}, tab=matches, season=${season}, fromDate=${#temporals.format(fromDate, 'dd-MM-yyyy')}, toDate=${#temporals.format(toDate, 'dd-MM-yyyy')}, level=${level}, bestOf=${bestOf}, surface=${surface}, indoor=${indoor}, speed=${speed}, round=${round}, result=${result}, tournamentId=${tournamentId}, opponent=${opponent}, countryId=${countryId}, score='*TB')}" title="Show matches with tie break">
										<span class="pct-data" th:text="${wl.pctWL}">50% (10-10)</span>
										<span class="raw-data" th:text="${wl.WLT}">10 - 10 / 20</span>
									</a>
								</div>
							</div>
						</th>
					</tr>
					<tr>
						<td width="40%">Deciding Set Tie Breaks</td>
						<th th:with="wl=${perf.decidingSetTieBreaks}">
							<div th:unless="${wl.empty}" class="progress progress-perf">
								<div class="progress-bar progress-bar-perf-def" role="progressbar" th:style="'width: ' + ${wl.wonPctStr}" th:attr="aria-valuenow=${wl.wonPct}" aria-valuemin="0" aria-valuemax="100">
									<a th:href="@{/playerProfile(playerId=${playerId}, tab=matches, season=${season}, fromDate=${#temporals.format(fromDate, 'dd-MM-yyyy')}, toDate=${#temporals.format(toDate, 'dd-MM-yyyy')}, level=${level}, bestOf=${bestOf}, surface=${surface}, indoor=${indoor}, speed=${speed}, round=${round}, result=${result}, tournamentId=${tournamentId}, opponent=${opponent}, countryId=${countryId}, score='*DSTB', outcome=finished)}" title="Show deciding set tie break matches">
										<span class="pct-data" th:text="${wl.pctWL}">50% (10-10)</span>
										<span class="raw-data" th:text="${wl.WLT}">10 - 10 / 20</span>
									</a>
								</div>
							</div>
						</th>
					</tr>
				</table>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4 col-sm-6">
				<table class="table table-condensed table-striped">
					<tr>
						<th colspan="2">Outdoor / Indoor Breakdown</th>
					</tr>
					<tr th:each="indoorWL : ${perf.outdoorIndoorMatches}" th:with="indoor=${indoorWL.key}, wl=${indoorWL.value}">
						<td width="40%" th:text="${indoor ? 'Indoor' : 'Outdoor'}">Outdoor</td>
						<th>
							<div class="progress progress-perf">
								<div class="progress-bar progress-bar-perf-def" role="progressbar" th:style="'width: ' + ${wl.wonPctStr}" th:attr="aria-valuenow=${wl.wonPct}" aria-valuemin="0" aria-valuemax="100">
									<a th:href="@{/playerProfile(playerId=${playerId}, tab=matches, season=${season}, fromDate=${#temporals.format(fromDate, 'dd-MM-yyyy')}, toDate=${#temporals.format(toDate, 'dd-MM-yyyy')}, level=${level}, bestOf=${bestOf}, surface=${surface}, indoor=${indoor}, speed=${speed}, round=${round}, result=${result}, tournamentId=${tournamentId}, opponent=${opponent}, countryId=${countryId}, outcome=played)}" th:title="|Show ${indoor ? 'Indoor' : 'Outdoor'} matches|">
										<span class="pct-data" th:text="${wl.pctWL}">50% (10-10)</span>
										<span class="raw-data" th:text="${wl.WLT}">10 - 10 / 20</span>
									</a>
								</div>
							</div>
						</th>
					</tr>
				</table>
				<table class="table table-condensed table-striped">
					<tr>
						<th colspan="2">Best of Breakdown</th>
					</tr>
					<tr th:each="bestOfWL : ${perf.bestOfMatches}" th:with="bestOf=${bestOfWL.key}, wl=${bestOfWL.value}">
						<td width="40%" th:text="|Best of ${bestOf}|">Best of 3</td>
						<th>
							<div class="progress progress-perf">
								<div class="progress-bar progress-bar-perf-def" role="progressbar" th:style="'width: ' + ${wl.wonPctStr}" th:attr="aria-valuenow=${wl.wonPct}" aria-valuemin="0" aria-valuemax="100">
									<a th:href="@{/playerProfile(playerId=${playerId}, tab=matches, season=${season}, fromDate=${#temporals.format(fromDate, 'dd-MM-yyyy')}, toDate=${#temporals.format(toDate, 'dd-MM-yyyy')}, level=${level}, bestOf=${bestOf}, surface=${surface}, indoor=${indoor}, speed=${speed}, round=${round}, result=${result}, tournamentId=${tournamentId}, opponent=${opponent}, countryId=${countryId}, outcome=played)}" th:title="|Show Best of ${bestOf} matches|">
										<span class="pct-data" th:text="${wl.pctWL}">50% (10-10)</span>
										<span class="raw-data" th:text="${wl.WLT}">10 - 10 / 20</span>
									</a>
								</div>
							</div>
						</th>
					</tr>
				</table>
			</div>
			<div class="col-lg-4 col-sm-6">
				<table class="table table-condensed table-striped">
					<tr>
						<th colspan="2">Opposition Breakdown</th>
					</tr>
					<tr th:each="oppositionWL : ${perf.oppositionMatches}" th:with="opposition=${oppositionWL.key}, wl=${oppositionWL.value}">
						<td width="40%" th:text="${opposition.text}">Vs No. 1</td>
						<th>
							<div class="progress progress-perf">
								<div class="progress-bar progress-bar-perf-def" role="progressbar" th:style="'width: ' + ${wl.wonPctStr}" th:attr="aria-valuenow=${wl.wonPct}" aria-valuemin="0" aria-valuemax="100">
									<a th:href="@{/playerProfile(playerId=${playerId}, tab=matches, season=${season}, fromDate=${#temporals.format(fromDate, 'dd-MM-yyyy')}, toDate=${#temporals.format(toDate, 'dd-MM-yyyy')}, level=${level}, bestOf=${bestOf}, surface=${surface}, indoor=${indoor}, speed=${speed}, round=${round}, result=${result}, tournamentId=${tournamentId}, opponent=${opposition}, countryId=${countryId}, outcome=played)}" th:title="|Show ${opposition.text} matches|">
										<span class="pct-data" th:text="${wl.pctWL}">50% (10-10)</span>
										<span class="raw-data" th:text="${wl.WLT}">10 - 10 / 20</span>
									</a>
								</div>
							</div>
						</th>
					</tr>
				</table>
			</div>
			<div class="col-lg-4 col-sm-6">
				<table class="table table-condensed table-striped">
					<tr>
						<th colspan="2">Round Breakdown</th>
					</tr>
					<tr th:each="roundWL : ${perf.roundMatches}" th:with="round=${roundWL.key}, wl=${roundWL.value}">
						<td width="40%" th:text="${round.text}">Final</td>
						<th>
							<div class="progress progress-perf">
								<div class="progress-bar progress-bar-perf-def" role="progressbar" th:style="'width: ' + ${wl.wonPctStr}" th:attr="aria-valuenow=${wl.wonPct}" aria-valuemin="0" aria-valuemax="100">
									<a th:href="@{/playerProfile(playerId=${playerId}, tab=matches, season=${season}, fromDate=${#temporals.format(fromDate, 'dd-MM-yyyy')}, toDate=${#temporals.format(toDate, 'dd-MM-yyyy')}, level=${level != null && level != '' ? level : 'GFLMOAB'}, bestOf=${bestOf}, surface=${surface}, indoor=${indoor}, speed=${speed}, round=${round.code}, result=${result}, tournamentId=${tournamentId}, opponent=${opponent}, countryId=${countryId}, outcome=played)}" th:title="|Show ${round.text} matches|">
										<span class="pct-data" th:text="${wl.pctWL}">50% (10-10)</span>
										<span class="raw-data" th:text="${wl.WLT}">10 - 10 / 20</span>
									</a>
								</div>
							</div>
						</th>
					</tr>
				</table>
			</div>
		</div>
		<div class="row">
			<div th:unless="${perf.speedMatches.empty}" class="col-lg-4 col-sm-6">
				<table class="table table-condensed table-striped">
					<tr>
						<th colspan="2">Court Speed Breakdown</th>
					</tr>
					<tr th:each="speedWL : ${perf.speedMatches}" th:with="speed=${speedWL.key}, wl=${speedWL.value}">
						<td width="40%" th:text="${speed.text}" th:title="${speed.speedRange}">Medium</td>
						<th>
							<div class="progress progress-perf">
								<div class="progress-bar progress-bar-perf-def" role="progressbar" th:style="'width: ' + ${wl.wonPctStr}" th:attr="aria-valuenow=${wl.wonPct}" aria-valuemin="0" aria-valuemax="100">
									<a th:href="@{/playerProfile(playerId=${playerId}, tab=matches, season=${season}, fromDate=${#temporals.format(fromDate, 'dd-MM-yyyy')}, toDate=${#temporals.format(toDate, 'dd-MM-yyyy')}, level=${level}, bestOf=${bestOf}, surface=${surface}, indoor=${indoor}, speed=${speed.speed}, round=${round}, result=${result}, tournamentId=${tournamentId}, opponent=${opponent}, countryId=${countryId}, outcome=played)}" th:title="|Show ${speed.text} matches|">
										<span class="pct-data" th:text="${wl.pctWT()}">50%</span>
										<span class="raw-data" th:text="${wl.WT}">10 / 20</span>
									</a>
								</div>
							</div>
						</th>
					</tr>
				</table>
			</div>
			<div th:unless="${perf.scoreCounts.empty}" class="col-lg-4 col-sm-6">
				<table class="table table-condensed table-striped">
					<tr>
						<th colspan="2">Score Breakdown</th>
					</tr>
					<tr th:each="scoreWL : ${perf.scoreCounts}" th:with="score=${scoreWL.key}, wl=${scoreWL.value}">
						<td width="40%" th:text="${score}">2-0</td>
						<th>
							<div class="progress progress-perf">
								<div class="progress-bar progress-bar-perf-def" role="progressbar" th:style="'width: ' + ${wl.wonPctStr}" th:attr="aria-valuenow=${wl.wonPct}" aria-valuemin="0" aria-valuemax="100">
									<a th:href="@{/playerProfile(playerId=${playerId}, tab=matches, season=${season}, fromDate=${#temporals.format(fromDate, 'dd-MM-yyyy')}, toDate=${#temporals.format(toDate, 'dd-MM-yyyy')}, level=${level}, bestOf=${bestOf}, surface=${surface}, indoor=${indoor}, speed=${speed}, round=${round}, result=${result}, tournamentId=${tournamentId}, opponent=${opponent}, countryId=${countryId}, score=${score.score}, outcome=finished)}" th:title="|Show ${score} matches|">
										<span class="pct-data" th:text="${wl.pctWT()}">50%</span>
										<span class="raw-data" th:text="${wl.WT}">10 / 20</span>
									</a>
								</div>
							</div>
						</th>
					</tr>
				</table>
			</div>
			<div th:unless="${perf.resultCounts.empty}" class="col-lg-4 col-sm-6">
				<table class="table table-condensed table-striped">
					<tr>
						<th colspan="2">Result Breakdown</th>
					</tr>
					<tr th:each="resultWL : ${perf.resultCounts}" th:with="result=${resultWL.key}, wl=${resultWL.value}">
						<td width="40%" th:text="${result.text}">Win</td>
						<th>
							<div class="progress progress-perf">
								<div class="progress-bar progress-bar-perf-def" role="progressbar" th:style="'width: ' + ${wl.wonPctStr}" th:attr="aria-valuenow=${wl.wonPct}" aria-valuemin="0" aria-valuemax="100">
									<a th:href="@{/playerProfile(playerId=${playerId}, tab=events, season=${season}, fromDate=${#temporals.format(fromDate, 'dd-MM-yyyy')}, toDate=${#temporals.format(toDate, 'dd-MM-yyyy')}, level=${level}, bestOf=${bestOf}, surface=${surface}, indoor=${indoor}, speed=${speed}, tournamentId=${tournamentId}, result=${result.code})}" th:title="|Show ${result.text} tournaments|">
										<span class="pct-data" th:text="${wl.pctWT()}">50%</span>
										<span class="raw-data" th:text="${wl.WT}">10 / 20</span>
									</a>
								</div>
							</div>
						</th>
					</tr>
				</table>
			</div>
		</div>
	</div>
	<div th:unless="${perf.empty}" class="row">
		<div class="pct-data col-md-3">
			<button class="btn btn-default btn-xs" onclick="toggleStatsData('#playerPerformance'); perfRawData = true" title="Show raw data: Won - Lost / Played"><i class="fa fa-hashtag"></i>&nbsp;&nbsp;Raw Data</button>
		</div>
		<div class="raw-data col-md-3">
			<button class="btn btn-default btn-xs" onclick="toggleStatsData('#playerPerformance'); perfRawData = false" title="Show percentage data: Pct. (Won-Lost)"><i class="fa fa-tasks"></i>&nbsp;&nbsp;Pct. Data</button>
		</div>
	</div>
	<th:block th:if="${perf.empty}"><p>No performance data available</p></th:block>
</div>
</th:block>