<th:block xmlns:th="http://www.thymeleaf.org" th:fragment="rankingTopN">
<!--/*@thymesVar id="rankTypes" type="org.strangeforest.tcb.stats.model.core.RankType[]"*/-->
<!--/*@thymesVar id="rankType" type="org.strangeforest.tcb.stats.model.core.RankType"*/-->
<!--/*@thymesVar id="count" type="java.lang.Integer"*/-->
<!--/*@thymesVar id="date" type="java.time.LocalDate"*/-->
<!--/*@thymesVar id="rankingTopN" type="java.util.List<org.strangeforest.tcb.stats.model.PlayerRanking>"*/-->
<!--/*@thymesVar id="surfaces" type="org.strangeforest.tcb.stats.model.core.Surface[]"*/-->
<style>
	button.rank-type {
		padding: 0 4px;
		background-color: inherit;
		font-size: inherit;
	}
	td.top-rank {
		width: 25px;
		text-align: right;
	}
	td.top-player {
		padding: 3px 3px !important;
		max-width: 100px;
	}
	td.top-points {
		text-align: right;
	}
</style>
<div class="panel panel-default component text-nowrap">
	<div class="panel-heading" style="padding: 6px 8px">
		<h4 class="text-center text-nowrap component-header">
			<div class="pull-left">
				<div>Top [(${rankingTopN.size()})]</div>
				<div class="text-muted" style="font-size: 60%" th:text="${#temporals.format(date, 'dd-MM-yyyy')}">01-11-2015</div>
			</div>
			<div class="btn-group" th:attrappend="class=${rankType.surface != null ? ' bg-surface-' + rankType.surface.code : _}" style="margin-left: 4px">
				<button type="button" class="btn btn-default rank-type">[(${rankType.name() == 'RANK' ? 'ATP' : 'Elo'})]</button>
				<button type="button" class="btn btn-default dropdown-toggle rank-type" data-toggle="dropdown">
					<span class="caret"></span>
				</button>
				<ul id="rankingTopNSelect" class="dropdown-menu" role="menu">
					<li th:each="aRankType : ${rankTypes}" th:unless="${aRankType.points || (aRankType.surface != null && aRankType.surface.name() == 'CARPET')}"><a href="#" th:class="${aRankType.surface != null ? 'bg-surface-' + aRankType.surface.code : _}" th:onclick="'event.preventDefault(); loadRankingTopN(\'' + ${aRankType} + '\', ' + ${count} + ')'" th:text="${aRankType.shortText}" th:title="${aRankType.text}">ATP</a></li>
				</ul>
			</div>
			<a th:href="@{/rankingsTable(rankType=${rankType})}" style="vertical-align: text-top" title="Full Rankings Table"><i class="fa fa-search-plus"></i></a>
		</h4>
	</div>
	<table class="table table-condensed table-hover table-striped small">
		<thead>
		<tr th:class="${rankType.surface != null ? 'bg-surface-' + rankType.surface.code : _}">
			<th class="text-right" th:title="${rankType.text}">R.</th>
			<th>Name</th>
			<th class="text-right" th:title="${rankType.pointsType.text}">Pts.</th>
		</tr>
		</thead>
		<tbody>
		<tr th:each="player : ${rankingTopN}">
			<td th:text="${player.rank}" class="top-rank">1</td>
			<td class="top-player">
				<img th:src="@{/images/flags/{code}.png(code=${player.country.code})}" src="/images/flags/ch.png'" th:title="${player.country.id}" title="SUI" width="24" height="20"/>
				<a th:href="@{/playerProfile(playerId=${player.playerId})}" th:text="${player.name}" style="vertical-align: middle" title="Show profile">Federer</a>
			</td>
			<td th:text="${player.points}" class="top-points">1000</td>
		</tr>
		</tbody>
	</table>
</div>
</th:block>