<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="versions" type="java.util.Map<String, String>"*/-->
<!--/*@thymesVar id="seasons" type="java.util.List<java.lang.Integer>"*/-->
<head th:replace="fragments/head :: commonHead(~{::title/text()}, false, ~{::script}, ~{::style})">
	<title>Rankings Chart</title>
	<script th:src="@{/js/tennis-chart.js}"></script>
	<script type="text/javascript" src="https://www.google.com/jsapi"></script>
	<script type="text/javascript">
		google.load("visualization", "1.0", {packages:["corechart"]});
		var chartData, bySeason, pointCount, isRank, logScale, legendPosition;
		function drawChart() {
			var players = $.trim($("#players").val());
			if (getPlayerCount(players) >= 1)
				doDrawChart();
			else
				$("#rankChart").html("<div class='row'><div class='col-md-10'><div class='alert alert-warning'>No player selected!</div></div></div>");
		}
		function doDrawChart() {
			var players = $("#players").val();
			var rankType = $("#rankType").val();
			var timeSpan = $("#timeSpan").val();
			bySeason = $("#bySeason").prop("checked");
			isRank = rankType == "RANK" || rankType == "ELO_RANK";
			var dataUrl = "/playerRankingsTable?players=" + players + "&rankType=" + rankType + "&timeSpan=" + timeSpan;
			if (timeSpan != "1")
				dataUrl += "&bySeason=" + bySeason;
			else
				bySeason = false;
			if (timeSpan == "CS") {
				if (bySeason)
					dataUrl += "&fromSeason=" + $("#fromSeason").val() + "&toSeason=" + $("#toSeason").val();
				else {
					var fromDate = getDate("fromDate");
					if (fromDate == null)
						return;
					var toDate = getDate("toDate");
					if (toDate == null)
						return;
					dataUrl += "&fromDate=" + fromDate + "&toDate=" + toDate;
				}
			}
			if (timeSpan == "CR")
				dataUrl += "&byAge=" + $("#byAge").prop("checked");
			if (rankType == "POINTS")
				dataUrl += "&compensatePoints=" + $("#compensatePoints").prop("checked");
			$("#rankChart").html("");
			var $loading = $("#loading");
			$loading.show();
			$.ajax(dataUrl).done(function(json) {
				chartData = new google.visualization.DataTable(JSON.stringify(json));
				logScale = isRank ? useLogScale(json) : false;
				pointCount = json.rows.length;
				legendPosition = json.cols.length < 5 ? "bottom" : "right";
				var width = $("#rankChartSize").slider("value");
				showRankingChart(chartData, "rankChart", width, bySeason, pointCount, isRank, logScale, legendPosition);
			}).always(function() {
				$loading.hide().css("position", "absolute").css("z-index", "100");
			});
		}
		function onTimeSpanChange() {
			var timeSpan = $("#timeSpan").val();
			var bySeason = $("#bySeason").prop("checked");
			$("#bySeasonDiv").css("display", timeSpan != "1" ? "block" : "none");
			$("#dateRange").css("display", timeSpan == "CS" && !bySeason ? "block" : "none");
			$("#seasonRange").css("display", timeSpan == "CS" && bySeason ? "block" : "none");
			$("#byAgeDiv").css("display", timeSpan == "CR" ? "block" : "none");
		}
		function onRankTypeChange() {
			$("#compensatePointsDiv").css("visibility", $("#rankType").val() == "POINTS" ? "visible" : "hidden");
		}
		$(function() {
			autocompletePlayers("players", drawChart);
			dateRangePicker("fromDate", "toDate");
			$("#rankChartSize").slider({
				min: 500,
				max: 1500,
				value: 1000,
				step: 100,
				slide: function(event, ui) {
					showRankingChart(chartData, "rankChart", ui.value, bySeason, pointCount, isRank, logScale, legendPosition);
				}
			});
			onTimeSpanChange();
			onRankTypeChange();
			$("[data-toggle='tooltip']").tooltip();
		});
	</script>
	<style>
		.checkbox {
			margin-top: 7px;
			margin-bottom: 7px;
		}
	</style>
</head>
<body class="container">
	<header th:include="fragments/header :: title"></header>
	<h3>Rankings Chart</h3>
	<div class="row">
		<div class="col-md-10">
			<div class="input-group">
				<label for="players" class="input-group-addon">Players:</label>
				<input id="players" type="text" class="ui-widget search-field form-control" placeholder="Search Players"/>
				<div class="input-group-btn" th:include="fragments/playerQuickPicks :: quickPicks"></div>
			</div>
		</div>
	</div>
	<div style="height: 5px"></div>
	<div class="row">
		<div class="col-md-3">
			<div class="input-group">
				<label for="timeSpan" class="input-group-addon">Time span:</label>
				<select id="timeSpan" class="form-control" onchange="onTimeSpanChange()">
					<option value="CR">Career</option>
					<option value="1">Last 52 weeks</option>
					<option value="2">Last two years</option>
					<option value="3">Last three years</option>
					<option value="5">Last five years</option>
					<option value="10">Last ten years</option>
					<option value="CS">Custom</option>
				</select>
			</div>
		</div>
		<div id="bySeasonDiv" class="col-md-2">
			<div class="checkbox">
				<label data-toggle="tooltip" data-placement="top" title="Show chart by season (year-end)">
					<input id="bySeason" type="checkbox" onchange="onTimeSpanChange()"/> By season
				</label>
			</div>
		</div>
		<div id="dateRange" class="col-md-4" style="display: none">
			<div class="input-group">
				<label for="fromDate" class="input-group-addon">From:</label>
				<input type="text" id="fromDate" maxlength="10" class="form-control"/>
				<label for="toDate" class="input-group-addon">To:</label>
				<input type="text" id="toDate" maxlength="10" class="form-control"/>
			</div>
		</div>
		<div id="seasonRange" class="col-md-4" style="display: none">
			<div class="input-group">
				<label for="fromSeason" class="input-group-addon">From:</label>
				<select id="fromSeason" class="form-control">
					<option value="">All seasons</option>
					<option th:each="season : ${seasons}" th:value="${season}" value="2005" th:text="${season}">2005</option>
				</select>
				<label for="toSeason" class="input-group-addon">To:</label>
				<select id="toSeason" class="form-control">
					<option value="">All seasons</option>
					<option th:each="season : ${seasons}" th:value="${season}" value="2005" th:text="${season}">2005</option>
				</select>
			</div>
		</div>
		<div id="byAgeDiv" class="col-md-2">
			<div class="checkbox">
				<label data-toggle="tooltip" data-placement="top" title="Show chart by age">
					<input id="byAge" type="checkbox"/> By age
				</label>
			</div>
		</div>
	</div>
	<div style="height: 5px"></div>
	<div class="row">
		<div class="col-md-3">
			<div class="input-group">
				<label for="rankType" class="input-group-addon">Rank type:</label>
				<select id="rankType" class="form-control" onchange="onRankTypeChange()">
					<option value="RANK">ATP Ranking</option>
					<option value="POINTS">ATP Points</option>
					<option value="ELO_RANK">Elo Ranking</option>
					<option value="ELO_RATING">Elo Rating</option>
					<option value="GOAT_POINTS">GOAT points</option>
				</select>
			</div>
		</div>
		<div class="col-md-3">
			<div id="compensatePointsDiv" class="checkbox">
				<label data-toggle="tooltip" data-placement="top" title="Compensate ranking points before 2009 to match new ATP ranking system">
					<input id="compensatePoints" type="checkbox"/> Compensate points
				</label>
			</div>
		</div>
		<div class="col-md-2">
			<div id="rankChartSize" style="margin-top: 6px"></div>
			<div style="text-align: center; opacity: 0.5">Chart size</div>
		</div>
		<div class="col-md-2">
			<a class="btn btn-primary pull-right" href="#" role="button" onclick="drawChart()">
				<span class="glyphicon glyphicon-signal"></span>&nbsp;&nbsp;Draw Chart
			</a>
		</div>
	</div>
	<div class="row">
		<div class="row col-md-10 text-center">
			<div id="loading" style="width: 100%; display: none">
				<br/>
				<img src="/images/loading.gif" width="128" height="128" alt="Loading chart..."/>
				<br/>
			</div>
		</div>
	</div>
	<div id="rankChart"></div>
	<footer th:include="fragments/footer :: copy"></footer>
</body>
</html>