<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="surfaces" type="org.strangeforest.tcb.stats.model.Surface[]"*/-->
<!--/*@thymesVar id="seasons" type="java.util.List<java.lang.Integer>"*/-->
<!--/*@thymesVar id="rankType" type="org.strangeforest.tcb.stats.model.RankType"*/-->
<!--/*@thymesVar id="season" type="java.lang.Integer"*/-->
<!--/*@thymesVar id="date" type="java.util.Date"*/-->
<!--/*@thymesVar id="dates" type="java.util.List<java.util.Date>"*/-->
<head th:replace="fragments/head :: commonHead(~{::title/text()}, true, ~{::script}, ~{::style})">
	<title>Rankings Table</title>
	<script type="text/javascript" th:inline="javascript">
		$(function() {
			[# th:if=${dates}]populateDates([(${season})], [[${dates}]]);[/]
			var $rankingsTable = $("#rankingsTable");
			var device = detectDevice();
			setBootgridColumnsVisible($rankingsTable, ["bestRank", "rankDiff", "pointsDiff"], deviceGreaterOrEqual(device, "sm"));
			setBootgridColumnsWidths($rankingsTable, ["name"], [device == "xs" ? 150 : (device == "sm" ? 200 : (device == "md" ? 300 : 400))]);
			$rankingsTable.bootgrid({
				ajax: true,
				ajaxSettings: {
					method: "GET",
					cache: false
				},
				url: "/rankingsTableTable",
				requestHandler: function(request) {
					request.rankType = $("#rankType").val();
					var season = $("#season").val();
					if (season != "")
						request.season = season;
					var date = $("#date").val();
					if (date != "")
						request.date = date;
					return request;
				},
				rowCount: [20, 50, 100, -1],
				searchSettings: {
					delay: 300,
					characters: 2
				},
				formatters: {
					"rank": function(column, row) {
						return row.rank >= row.bestRank ? row.rank + " <span class='career-high' title='Career high ranking'>CH</span>" : row.rank;
					},
					"bestRank": function(column, row) {
						var date = row.bestRankDate;
						return date ? ("<span title='" + formatDate(date) + "'>" + row.bestRank + "</span>") : row.bestRank;
					},
					"country": countryFormatter,
					"player": playerFormatter,
					"rankDiff": function(column, row) { return formatDiff(row.rankDiff); },
					"pointsDiff": function(column, row) { return row.points > 0 ? formatDiff(row.pointsDiff) : ""; },
					"points": function(column, row) {
						var points = row.points;
						return points > 0 ? (points >= row.bestPoints ? "<span class='career-high' title='Career high ranking'>CH</span> " + points : points) : "";
					}
				},
				labels: {
					loading: bootgridTemplateLoading,
					noResults: "No rankings found"
				},
				templates: {
					paginationItem: bootgridTemplatePaginationItem
				}
			});
			var $rankingsTableHeader = $("#rankingsTable-header");
			var $search = $rankingsTableHeader.find("div.search");
			$search.before($("#rankTypeDiv").remove());
			$search.before($("#seasonDiv").remove());
			$search.before($("#dateDiv").remove());
			setBootgridTitle($rankingsTableHeader, $("#rankingsTable-title"));
			rankTypeChanged([(${dates != null})]);
			$("[data-toggle='tooltip']").tooltip();
			bindPopovers();
		});
		function rankTypeChanged(skipDatesLoad) {
			var rankType = $("#rankType").val();
			var $rankingsTable = $("#rankingsTable");
			$rankingsTable.find("th[data-column-id='points'] > a > span.text").html(rankType == "POINTS" ? "Points" : "Elo Rating");
			$rankingsTable.find("th[data-column-id='pointsDiff'] > a > span.text").html(rankType == "POINTS" ? "Pts. +/-" : "Elo +/-");
			$("#eloInfo").css("display", rankType == "ELO_RATING" ? "inline" : "none");
			seasonChanged(skipDatesLoad);
		}
		function seasonChanged(skipDatesLoad) {
			var season = $("#season").val();
			var $date = $("#date");
			var current = season == "";
			$date.prop("disabled", current);
			$("#prevDate, #nextDate").prop("disabled", current);
			if (current)
				$date.find("option").remove();
			else if (!skipDatesLoad) {
				$date.find("option").remove();
				var url = "/seasonRankingDates?rankType=" + $("#rankType").val() + "&season=" + season;
				$.get(url, function (data) {
					populateDates(season, data);
				});
			}
		}
		function populateDates(season, dates) {
			var $date = $("#date");
			$date.append("<option value=''>" + (season == new Date().getFullYear() ? "Current" : "Year-end") + "</option>");
			for (var i = 0; i < dates.length; i++) {
				var date = formatDate(dates[i]);
				$date.append("<option value='" + date + "'" + (date == "[(${#dates.format(date, 'dd-MM-yyyy')})]" ? " selected='selected'" : "") + ">" + date + "</option>");
			}
		}
		function prevRankingDate() {
			var $date = $("#date");
			var prevDate = $date.find("option:selected").next().val();
			if (prevDate) {
				$date.val(prevDate);
				reloadRankings();
			}
		}
		function nextRankingDate() {
			var $date = $("#date");
			var nextDate = $date.find("option:selected").prev().val();
			if (nextDate) {
				$date.val(nextDate);
				reloadRankings();
			}
		}
		function reloadRankings() {
			$("#rankingsTable").bootgrid("reload");
		}
		function formatDiff(diff) {
			if (diff !== undefined)
				return "<span class='" + (diff > 0 ? "positive" : (diff < 0 ? "negative" : "no-diff")) + " small'>" + (diff > 0 ? "+" + diff : (diff < 0 ? diff : "-"))  + "</span>";
			else
				return "<span class='positive small'>+</span>";
		}
	</script>
	<style>
		.career-high {
			background-color: coral;
			color: white;
			font-size: x-small;
			padding: 0 2px;
			border-radius: 3px;
			vertical-align: text-top;
		}
	</style>
</head>
<body class="container">
	<header th:include="fragments/header :: title"></header>
	<h3 id="rankingsTable-title" class="grid-title">Rankings Table</h3>
	<div id="rankTypeDiv" class="btn-group margin-right">
		<select id="rankType" class="form-control" onchange="rankTypeChanged(); reloadRankings()" data-toggle="tooltip" data-placement="top" title="Select ranking type">
			<option value="POINTS" th:selected="${rankType != null && rankType.name() == 'POINTS'}">ATP Ranking</option>
			<option value="ELO_RATING" th:selected="${rankType != null && rankType.name() == 'ELO_RATING'}">Elo Ranking</option>
			<option th:each="surface : ${surfaces}" th:value="|${surface}_ELO_RATING|" th:class="|bg-surface-${surface.code}|" value="HARD_ELO_RATING" class="bg-surface-H" th:text="|${surface.text} Elo Ranking|" th:selected="${rankType != null && rankType.name() == (surface + '_ELO_RATING')}">Hard Elo Ranking</option>
		</select>
	</div>
	<div id="seasonDiv" class="btn-group margin-right">
		<select id="season" class="form-control" onchange="seasonChanged(); reloadRankings()" data-toggle="tooltip" data-placement="top" title="Select season">
			<option value="">Current</option>
			<option th:each="aSeason : ${seasons}" th:value="${aSeason}" value="2015" th:text="${aSeason}" th:selected="${aSeason == season}">2015</option>
		</select>
	</div>
	<div id="dateDiv" class="btn-group margin-right">
		<button id="prevDate" type="button" class="pull-left btn btn-default" onclick="prevRankingDate()" data-toggle="tooltip" data-placement="top" title="Previous date">
			<span class="glyphicon glyphicon-backward"></span>
		</button>
		<select id="date" class="form-control pull-left" style="width: 125px" onchange="reloadRankings()" data-toggle="tooltip" data-placement="top" title="Select date"></select>
		<button id="nextDate" type="button" class="pull-right btn btn-default" onclick="nextRankingDate()" data-toggle="tooltip" data-placement="top" title="Next date">
			<span class="glyphicon glyphicon-forward"></span>
		</button>
	</div>
	<table id="rankingsTable" class="table table-condensed table-hover table-striped">
		<thead>
		<tr>
			<th data-column-id="rank" data-formatter="rank" data-width="65">Rank</th>
			<th data-column-id="bestRank" data-formatter="bestRank" data-width="100">Best Rank</th>
			<th data-column-id="country" data-formatter="country" data-width="85" data-sortable="false">Country</th>
			<th data-column-id="name" data-formatter="player" data-width="250" data-sortable="false">Name</th>
			<th data-column-id="rankDiff" data-formatter="rankDiff" data-width="50" data-align="right" data-header-align="right">+/-</th>
			<th data-column-id="pointsDiff" data-formatter="pointsDiff" data-width="75" data-align="right" data-header-align="right">Pts. +/-</th>
			<th data-column-id="points" data-formatter="points" data-width="100" data-align="right" data-header-align="right">Points</th>
		</tr>
		</thead>
	</table>
	<div id="eloInfo" style="display: none">
		<em><strong>*</strong> <a href="https://en.wikipedia.org/wiki/Elo_rating_system" target="_blank">Elo rating</a> considers opponent rating as well, meaning wins over quality opponents are worth more then wins over lesser rated players.<br/>Ultimate Tennis Statistics use sophisticated tennis-customized <a href="#" data-toggle="popover" data-trigger="focus" data-placement="top" data-popover="#eloRatingPopover">Elo rating formula</a>.</em>
	</div>
	<th:block th:include="fragments/deviceDetector :: deviceDetectors"/>
	<footer th:include="fragments/footer :: copy"></footer>
	<div th:include="fragments/aboutElo :: aboutElo"></div>
</body>
</html>