<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="record" type="org.strangeforest.tcb.stats.model.records.Record"*/-->
<!--/*@thymesVar id="active" type="java.lang.Boolean"*/-->
<head th:replace="fragments/head :: commonHead(${record.name}, true, ~{::script}, _)">
	<script type="text/javascript" th:inline="javascript">
		$(function() {
			$("#recordTable").bootgrid({
				ajax: true,
				ajaxSettings: {
					method: "GET",
					cache: false
				},
				url: "/recordTable?recordId=" + [[${record.id}]],
				requestHandler: function (request) {
					request.active = $("#active").prop("checked");
					return request;
				},
				sorting: false,
				rowCount: [20, 50, -1],
				formatters: {
					"country": countryFormatter,
					"player": playerFormatter,
					"tournament": tournamentFormatter,
					"tournamentEvent": tournamentEventFormatter,
					"startTournamentEvent": startTournamentEventFormatter,
					"endTournamentEvent": endTournamentEventFormatter,
					"date": dateFormatter,
					"startDate": function(column, row) { return formatDate(row.startDate); },
					"endDate": function(column, row) { return formatDate(row.endDate); },
					"player2": function(column, row) { return playerCountryFormatter(column, row.player2); }
				},
				templates: {
					paginationItem: bootgridTemplatePaginationItem
				}
			});
			var $recordTableHeader = $("#recordTable-header");
			$recordTableHeader.find("div.search").before($("#activeDiv").remove()).remove();
			setBootgridTitle($recordTableHeader, $("#recordTable-title"));
			$("[data-toggle='tooltip']").tooltip();
		});
		function reloadRecordTable() {
			$("#recordTable").bootgrid("reload");
		}
	</script>
</head>
<body class="container">
	<header th:include="fragments/header :: title"></header>
	<h3 id="recordTable-title" class="grid-title" th:text="${record.name}">Record</h3>
	<div id="activeDiv" class="btn-group" style="margin-right: 20px">
		<div class="checkbox">
			<label data-toggle="tooltip" data-placement="top" title="Show only active players">
				<input id="active" type="checkbox" onchange="reloadRecordTable()" th:checked="${active}"/> Active players
			</label>
		</div>
	</div>
	<table th:if="${record}" id="recordTable" class="table table-condensed table-hover table-striped">
		<thead>
		<tr>
			<th data-column-id="rank" data-type="numeric" data-width="45">Rank</th>
			<th data-column-id="country" data-formatter="country" data-width="60">Country</th>
			<th data-column-id="name" data-formatter="player" data-width="180">Name</th>
			<th th:each="column : ${record.getColumnInfos()}" th:attr="data-column-id=${column.name},data-type=${column.type},data-formatter=${column.formatter},data-width=${column.width},data-align=${column.align},data-header-align=${column.align}" th:text="${column.caption}">Value</th>
		</tr>
		</thead>
	</table>
	<footer th:include="fragments/footer :: copy"></footer>
</body>
</html>