<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="recordCount" type="java.lang.Integer"*/-->
<!--/*@thymesVar id="recordCategories" type="java.util.List<org.strangeforest.tcb.stats.model.records.RecordCategory>"*/-->
<!--/*@thymesVar id="infamousRecordCategories" type="java.util.List<org.strangeforest.tcb.stats.model.records.RecordCategory>"*/-->
<head th:replace="fragments/head :: commonHead(~{::title/text()}, true, ~{::script}, _)">
	<title>Records Book</title>
	<script type="text/javascript">
		$(function() {
			$("#recordsTable").bootgrid({
				ajax: true,
				ajaxSettings: {
					method: "GET",
					cache: false
				},
				url: "/recordsTable",
				requestHandler: function (request) {
					var infamous = $("#infamous").prop("checked");
					request.category = !infamous ? $("#category").val() : $("#infamousCategory").val();
					request.infamous = infamous;
					return request;
				},
				sorting: false,
				rowCount: [20, 50, -1],
				formatters: {
					"record": recordFormatter,
					"recordHolders": recordHoldersFormatter
				},
				labels: {
					loading: bootgridTemplateLoading,
					noResults: "No records found"
				},
				templates: {
					paginationItem: bootgridTemplatePaginationItem
				}
			});
			showRecordCategories();
			var $recordsTableHeader = $("#recordsTable-header");
			$recordsTableHeader.find(".actionBar").css("padding-left", "0");
			$recordsTableHeader.find("div.search").before($("#categoryDiv").remove()).before($("#infamousDiv").remove());
			$("[data-toggle='tooltip']").tooltip();
		});
		function showRecordCategories() {
			var infamous = $("#infamous").prop("checked");
			$("#categoryControl").css("display", infamous ? "none" : "");
			$("#infamousRecordControl").css("display", infamous ? "" : "none");
		}
		function infamousChanged() {
			showRecordCategories();
			reloadRecordsTable();
		}
		function reloadRecordsTable() {
			$("#recordsTable").bootgrid("reload");
		}
	</script>
</head>
<body class="container">
	<header th:include="fragments/header :: title"></header>
	<div class="text-nowrap" style="margin-bottom: 20px">
		<h3 style="float: left; margin-top: 5px">Records Book</h3>
		<h5 style="font-style: italic" th:text="'&nbsp;' + ${recordCount} + ' Different Records!'">&nbsp;100 Different Records</h5>
	</div>
	<th:block th:include="fragments/deviceDetector :: largeDeviceRequired('sm')"/>
	<div id="categoryDiv" class="col-sm-7" style="padding-left: 0">
		<div id="categoryControl" class="input-group" style="float: left">
			<label for="category" class="input-group-addon">Category:</label>
			<select id="category" class="form-control" onchange="reloadRecordsTable()" data-toggle="tooltip" data-placement="top" title="Select Record Category">
				<option value="">All Records</option>
				<option th:each="recordCategory : ${recordCategories}" th:value="${recordCategory.name}" value="Most Matches" th:text="${recordCategory.name}">Most Matches</option>
			</select>
		</div>
		<div id="infamousRecordControl" class="input-group" style="float: left; display: none">
			<label for="infamousCategory" class="input-group-addon">Infamous:</label>
			<select id="infamousCategory" class="form-control" onchange="reloadRecordsTable()" data-toggle="tooltip" data-placement="top" title="Select Infamous Record">
				<option value="">All Infamous Records</option>
				<option th:each="recordCategory : ${infamousRecordCategories}" th:value="${recordCategory.name}" value="Most Matches" th:text="${recordCategory.name}">Most Matches</option>
			</select>
		</div>
	</div>
	<div id="infamousDiv" class="col-sm-1">
		<div class="checkbox">
			<label data-toggle="tooltip" data-placement="top" title="Show famous or infamous records">
				<input id="infamous" type="checkbox" onchange="infamousChanged()"/> Infamous
			</label>
		</div>
	</div>
	<table id="recordsTable" class="table table-condensed table-hover table-striped">
		<thead>
		<tr>
			<th data-column-id="record" data-formatter="record" data-width="300">Record</th>
			<th data-column-id="value" data-align="right" data-header-align="right" data-width="130">Result</th>
			<th data-column-id="recordHolders" data-formatter="recordHolders" data-width="400">Record Holder(s)</th>
		</tr>
		</thead>
	</table>
	<p>
		<em><strong>*</strong> Refreshed every Monday</em>
	</p>
	<footer th:include="fragments/footer :: copy"></footer>
</body>
</html>