<th:block xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="recordsGOATPoints" type="java.util.Map<String, java.util.Map<String, String>>"*/-->
<h3>Records GOAT Points
<button class="btn btn-default btn-xs pull-right" onclick="$('#recordsGOATPoints').click()"><span class="glyphicon glyphicon-remove"></span>&nbsp;&nbsp;Close</button>
</h3>
<div th:each="categoryPoints : ${recordsGOATPoints}">
	<strong th:text="${categoryPoints.key}">Titles</strong>
	<table class="table table-condensed table-hover table-striped text-nowrap">
		<thead>
		<tr>
			<th width="100%">Record</th>
			<th>Points</th>
		</tr>
		</thead>
		<tbody>
		<tr th:each="recordPoints : ${categoryPoints.value}">
			<td th:text="${recordPoints.key}">Most Titles</td>
			<td th:text="${recordPoints.value}">1</td>
		</tr>
		</tbody>
	</table>
</div>
</th:block>