<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="record" type="org.strangeforest.tcb.stats.model.records.Record"*/-->
<!--/*@thymesVar id="active" type="java.lang.Boolean"*/-->
<!--/*@thymesVar id="goatPoints" type="java.util.List<org.strangeforest.tcb.stats.model.RankGOATPoints>"*/-->
<head th:replace="fragments/head :: commonHead(${record.name}, true, ~{::template})">
	<template>
	<meta name="description" th:content="${record.name} + ' at Ultimate Tennis Statistics'"/>
	<script type="text/javascript">
		$(function() {
			$("#recordTable").bootgrid({
				ajax: true,
				ajaxSettings: {
					method: "GET",
					cache: false
				},
				url: "/recordTable?recordId=[(${record.id})]",
				requestHandler: function(request) {
					request.active = $("#active").prop("checked");
					return request;
				},
				sorting: false,
				rowCount: [20, 50, 100, -1],
				formatters: {
					"country": countryFormatter,
					"player": playerFormatter,
					"valueUrl": recordValueFormatter,
					"tournament": function (column, row) {
						return "<a href='/tournament?tournamentId=" + row.tournamentId + "' class='label label-" + row.level + "' title='" + levelName(row.level) + "'>" + row.tournament + "</a>";
					},
					"tournamentEvent": tournamentEventFormatter,
					"startTournamentEvent": startTournamentEventFormatter,
					"endTournamentEvent": endTournamentEventFormatter,
					"date": dateFormatter,
					"startDate": function(column, row) { return formatDate(row.startDate); },
					"endDate": function(column, row) { return formatDate(row.endDate); },
					"player2": function(column, row) { return playerCountryFormatter(column, row.player2); },
					"factor": function(column, row) { return formatRecordDetail(row.value.toFixed(1), row.detailUrl); },
					"factor2": function(column, row) { return formatRecordDetail(row.value.toFixed(2), row.detailUrl); },
					"factor3": function(column, row) { return formatRecordDetail(row.value.toFixed(3), row.detailUrl); }
				},
				labels: {
					loading: bootgridTemplateLoading,
					noResults: "Record has not been set"
				},
				templates: {
					paginationItem: bootgridTemplatePaginationItem,
				}
			});
			var $recordTableHeader = $("#recordTable-header");
			$recordTableHeader.find("div.row").after($("ol.tsbreadcrumb").remove());
			$recordTableHeader.find("div.search").before($("#activeDiv").remove()).remove();
			setBootgridTitle($recordTableHeader, $("#recordTable-title"));
			$("[data-toggle='tooltip']").tooltip();
		});
		function reloadRecordTable() {
			$("#recordTable").bootgrid("reload");
		}
	</script>
	</template>
</head>
<body class="container">
	<header th:include="fragments/header :: title"></header>
	<th:block th:include="fragments/ads :: responsive"/>
	<h3 th:text="${record.name}">Record</h3>
	<ol id="recordTable-title" class="grid-title breadcrumb-title">
		<li><a href="/records">Records</a></li>
		<li><a th:href="@{/records(category=${record.category.id})}" th:text="${record.category.name}">Titles</a></li>
		<li class="active" th:text="${record.name}">Most Titles</li>
	</ol>
	<div id="activeDiv" class="btn-group margin-right">
		<div class="checkbox">
			<label data-toggle="tooltip" data-placement="top" title="Show only active players">
				<input id="active" type="checkbox" onchange="reloadRecordTable()" th:checked="${active}"/> Active players
			</label>
		</div>
	</div>
	<table th:if="${record}" id="recordTable" class="table table-condensed table-hover table-striped">
		<thead>
		<tr>
			<th data-column-id="rank" data-type="numeric" data-width="65">Rank</th>
			<th data-column-id="country" data-formatter="country" data-width="85">Country</th>
			<th data-column-id="name" data-formatter="player" data-width="200">Name</th>
			<th th:each="column : ${record.getColumnInfos()}" th:attr="data-column-id=${column.name}, data-type=${column.type}, data-formatter=${column.formatter}, data-width=${column.width}, data-align=${column.align}, data-header-align=${column.align}" th:text="${column.caption}">Value</th>
		</tr>
		</thead>
	</table>
	<p th:if="${record.notes}"><i th:text="'* ' + ${record.notes}">* Minimum 100 matches</i></p>
	<div th:unless="${goatPoints.empty}">
		<br/>
		<strong>GOAT Points for this Record</strong>
		<table class="table table-condensed table-hover table-striped" style="width: auto">
			<thead>
			<tr>
				<th>Record Rank</th>
				<th class="text-center">Points</th>
			</tr>
			</thead>
			<tbody>
			<tr th:each="point : ${goatPoints}">
				<td class="text-center" th:text="${point.rank}">1</td>
				<td class="text-center" th:text="${point.goatPoints}">8</td>
			</tr>
			</tbody>
		</table>
	</div>
	<footer th:include="fragments/footer :: copy"></footer>
</body>
</html>