<th:block xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="recordsGOATPoints" type="java.util.Map<String, java.util.Map<Record, String>>"*/-->
<div th:each="categoryPoints : ${recordsGOATPoints}">
	<strong th:text="${categoryPoints.key}">Titles</strong>
	<button class="btn btn-default btn-xs pull-right" onclick="$('#recordsGOATPoints').click()" title="Close"><i class="fa fa-close"></i></button>
	<table class="table table-condensed table-hover table-striped text-nowrap">
		<thead>
		<tr>
			<th>Record</th>
			<th width="80">Points</th>
		</tr>
		</thead>
		<tbody>
		<tr th:each="recordPoints : ${categoryPoints.value}">
			<td th:with="record=${recordPoints.key}"><a th:href="@{/record(recordId=${record.id})}" th:text="${record.name}" title="Show record">Most Titles</a></td>
			<td th:text="${recordPoints.value}">1</td>
		</tr>
		</tbody>
	</table>
</div>
</th:block>