<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="record" type="org.strangeforest.tcb.stats.model.records.Record"*/-->
<!--/*@thymesVar id="active" type="java.lang.Boolean"*/-->
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<title th:text="'Ultimate Tennis Statistics - ' + ${record.name}">Ultimate Tennis Statistics</title>
	<link th:href="@{|/webjars/bootstrap/${versions['bootstrap']}/css/bootstrap.min.css|}" rel="stylesheet" media="screen"/>
	<link th:href="@{|/webjars/jquery-ui-themes/${versions['jquery-ui']}/smoothness/jquery-ui.css|}" rel="stylesheet" media="screen"/>
	<link th:href="@{|/webjars/jquery-bootgrid/${versions['bootgrid']}/dist/jquery.bootgrid.min.css|}" rel="stylesheet" media="screen"/>
	<link th:href="@{/css/tennis-stats.css}" rel="stylesheet" media="screen"/>
	<script th:src="@{|/webjars/jquery/${versions['jquery']}/jquery.min.js|}"></script>
	<script th:src="@{|/webjars/jquery-ui/${versions['jquery-ui']}/jquery-ui.min.js|}"></script>
	<script th:src="@{|/webjars/bootstrap/${versions['bootstrap']}/js/bootstrap.min.js|}"></script>
	<script th:src="@{|/webjars/jquery-bootgrid/${versions['bootgrid']}/dist/jquery.bootgrid.min.js|}"></script>
	<script th:src="@{/js/tennis-stats.js}"></script>
	<script type="text/javascript" th:inline="javascript">
		/*<![CDATA[*/
		$(function() {
			$("#recordTable").bootgrid({
				ajax: true,
				ajaxSettings: {
					method: "GET",
					cache: false
				},
				url: "/recordTable?recordId=" + [[${record.id}]],
				requestHandler: function (request) {
					request.active = $("#active").prop("checked");
					return request;
				},
				sorting: false,
				rowCount: [20, 50, -1],
				formatters: {
					"country": countryFormatter,
					"player": playerFormatter,
					"tournament": tournamentFormatter,
					"tournamentEvent": tournamentEventFormatter,
					"startTournamentEvent": startTournamentEventFormatter,
					"endTournamentEvent": endTournamentEventFormatter,
					"date": dateFormatter,
					"startDate": function(column, row) { return formatDate(row.startDate); },
					"endDate": function(column, row) { return formatDate(row.endDate); },
					"player2": function(column, row) { return playerCountryFormatter(column, row.player2); }
				},
				templates: {
					paginationItem: bootgridTemplatePaginationItem
				}
			});
			$("#recordTable-header").find("div.search").before($("#activeDiv").remove()).remove();
			$("[data-toggle='tooltip']").tooltip();
		});
		function reloadRecordTable() {
			$("#recordTable").bootgrid("reload");
		}
		/*]]>*/
	</script>
</head>
<body class="container">
	<header th:include="fragments/header :: title"></header>
	<h3 th:text="${record.name}">Record</h3>
	<div id="activeDiv" class="btn-group" style="margin-right: 20px">
		<div class="checkbox">
			<label data-toggle="tooltip" data-placement="top" title="Show only active players">
				<input id="active" type="checkbox" onchange="reloadRecordTable()" th:checked="${active}"/> Active players
			</label>
		</div>
	</div>
	<table th:if="${record}" id="recordTable" class="table table-condensed table-hover table-striped">
		<thead>
		<tr>
			<th data-column-id="rank" data-type="numeric" data-width="45">Rank</th>
			<th data-column-id="country" data-formatter="country" data-width="60">Country</th>
			<th data-column-id="name" data-formatter="player" data-width="180">Name</th>
			<th th:each="column : ${record.getColumnInfos()}" th:attr="data-column-id=${column.name},data-type=${column.type},data-formatter=${column.formatter},data-width=${column.width},data-align=${column.align},data-header-align=${column.align}" th:text="${column.caption}">Value</th>
		</tr>
		</thead>
	</table>
	<footer th:include="fragments/footer :: copy"></footer>
</body>
</html>