<th:block xmlns:th="http://www.thymeleaf.org">
<!--@thymesVar id="rivalryCluster" type="org.strangeforest.tcb.stats.model.RivalryCluster"-->
	<script type="text/javascript">
		/*<![CDATA[*/
		$(function() {
			var $table = $("#rivalryClusterTable");
			$table.find(hiddenData).hide();
			$table.find("span.rivalry").each(function() {
				var $match = $(this);
				var match = {won: $match.data("won"), score: $match.data("score"), season: $match.data("season"), tournament: $match.data("tournament"),
					          level: $match.data("level"), surface: $match.data("surface"), round: $match.data("round")};
				var matchTitle = "<span class='label label-" + (match.won ? "won" : "lost") + "'>" + (match.won ? "Won" : "Lost") + "</span> [ " + match.score + " ]"
					+ "<br/><span class='text-nowrap'>at " + match.season + " " + tournamentFormatter(null, match) + " " + surfaceFormatter(null, match) + " " + match.round + "</span>";
				$match.tooltip({title: matchTitle, html: true, placement: "top"});
			});
		});
		/*]]>*/
	</script>
	<style>
		#rivalryClusterTable > thead > tr > th {
			border-bottom: 3px solid lightgray;
		}
		#rivalryClusterTable > tbody > tr > th {
			border-right: 3px solid lightgray;
			vertical-align: middle;
		}
		#rivalryClusterTable > tbody > tr > td {
			text-align: center;
			vertical-align: middle;
			padding: 5px 2px;
		}
		.tooltip-inner {
			background-color: #444444;
			max-width: 400px;
		}
	</style>
	<table id="rivalryClusterTable" class="table table-condensed table-hover table-bordered" th:with="playerCount=${rivalryCluster.playerCount}">
		<thead id="rivalryClusterVerticalHeader">
			<tr class="player-vertical">
				<th style="border-right: 3px solid lightgray">Player</th>
				<th style="border-right: 3px solid lightgray; text-align: center">Totals</th>
				<th th:each="rivalry : ${rivalryCluster.clusterRivalries}" style="text-align: center">
					<a th:with="player=${rivalry.player1}" th:href="'/playerProfile?playerId=' + ${player.playerId}" th:text="${playerCount &lt;= 10 ? player.name : player.initials}" title="Show profile">Roger Federer</a>
				</th>
			</tr>
		</thead>
		<tbody class="text-nowrap">
			<tr th:unless="${rivalryCluster.empty}" th:each="hRivalry : ${rivalryCluster.clusterRivalries}">
				<th th:with="player=${hRivalry.player1}">
					<img th:src="'/images/flags/' + ${player.countryCode} + '.png'" src="/images/flags/ch.png'" th:title="${player.countryId}" title="SUI" width="24" height="20"/>
					<a th:href="'/playerProfile?playerId=' + ${player.playerId}" th:text="${player.name}" title="Show profile">Roger Federer</a>
				</th>
				<th style="text-align: center">
					<span class="raw-data" th:text="${hRivalry.wonLost.WLT}">11 - 9 / 20</span>
					<span class="pct-data" th:text="${hRivalry.wonLost.wonPctStr}">55.5%</span>
				</th>
				<td th:each="vRivalry : ${rivalryCluster.clusterRivalries}" th:with="playerId1=${hRivalry.player1.playerId}, playerId2=${vRivalry.player1.playerId}, rivalry=${rivalryCluster.getRivalry(playerId1, playerId2)}">
					<span th:if="${rivalry != null}" th:with="match=${rivalry.lastMatch}, url=${'/playerProfile?playerId=' + playerId1 + '&amp;opponentId=' + playerId2}, title=${'Show ' + hRivalry.player1.name + ' - ' + vRivalry.player1.name + ' matches'}" class="rivalry" th:attr="data-won=${match.winnerId == hRivalry.player1.playerId}, data-score=${match.score}, data-season=${match.season}, data-tournament=${match.tournament}, data-level=${match.level}, data-surface=${match.surface}, data-round=${match.round}">
						<a class="raw-data" th:href="${url}" th:text="${playerCount &lt;= 10 ? rivalry.wonLost.WLT : rivalry.wonLost.WL}" th:title="${title}">4 - 2 / 6</a>
						<a class="pct-data" th:href="${url}" th:text="${rivalry.wonLost.wonPctStr}" th:title="${title}">66.7%</a>
					</span>
				</td>
			</tr>
			<tr th:if="${rivalryCluster.empty}">
				<td colspan="2" align="center">No data found</td>
			</tr>
		</tbody>
	</table>
</th:block>