<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<title>Ultimate Tennis Statistics - Rivalry Cluster</title>
	<link th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
	<link th:href="@{/webjars/jquery-ui-themes/1.11.4/smoothness/jquery-ui.css}" rel="stylesheet" media="screen"/>
	<link th:href="@{/css/tennis-stats.css}" rel="stylesheet" media="screen"/>
	<script th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
	<script th:src="@{/webjars/jquery-ui/1.11.4/jquery-ui.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/3.3.5/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/formatters.js}"></script>
	<script th:src="@{/js/tcbUtil.js}"></script>
	<script type="text/javascript">
		/*<![CDATA[*/
		function showRivalryCluster() {
			var players = $.trim($("#players").val());
			var count = getPlayerCount(players);
			if (count >= 2) {
				var fromDate = getDate("fromDate");
				if (fromDate == null)
					return;
				var toDate = getDate("toDate");
				if (toDate == null)
					return;
				var level = $("#level").val();
				var surface = $("#surface").val();
				var url = "/rivalryClusterTable?players=" + players + "&fromDate=" + fromDate + "&toDate=" + toDate + "&level=" + level + "&surface=" + surface;
				$.ajax(url).done(function(data) {
					$("#rivalryClusterDiv").html(data);
				});
			}
			else {
				var message = count == 1 ? "At least two players must be selected!" : "No player selected!";
				$("#rivalryClusterDiv").html("<div class='row'><div class='col-md-12'><div class='alert alert-warning'>" + message + "</div></div></div>");
			}
		}
		function getPlayerCount(players) {
			var a = split(players);
			var count = 0;
			for (var i = 0; i < a.length; i++) {
				if ($.trim(a[i]) != "")
					count++;
			}
			return count;
		}
		var hiddenData = ".pct-data";
		function toggleStatsData() {
			hiddenData = hiddenData == ".pct-data" ? ".raw-data" : ".pct-data";
			$(".pct-data, .raw-data").toggle();
		}
		$(function() {
			autocompletePlayers("players", showRivalryCluster);
			dateRangePicker("fromDate", "toDate");
		});
		/*]]>*/
	</script>
</head>
<body class="container">
	<div th:include="fragments/header :: title"></div>
	<h3>Rivalry Cluster</h3>
	<div class="row">
		<div class="col-md-12">
			<div class="ui-widget input-group">
				<label for="players" class="input-group-addon">Players:</label>
				<input id="players" type="text" class="search-field form-control" placeholder="Search Players"/>
			</div>
		</div>
	</div>
	<div style="height: 5px"></div>
	<div class="row">
		<div class="col-md-4">
			<div class="input-group">
				<label for="fromDate" class="input-group-addon">From:</label>
				<input type="text" id="fromDate" maxlength="10" class="form-control"/>
				<label for="toDate" class="input-group-addon">To:</label>
				<input type="text" id="toDate" maxlength="10" class="form-control"/>
			</div>
		</div>
		<div class="col-md-2">
			<select id="level" class="form-control" data-toggle="tooltip" data-placement="top" title="Filter by tournament level">
				<option value="">All levels</option>
				<option value="G" class="bg-level-G">Grand Slam</option>
				<option value="F" class="bg-level-F">Tour Finals</option>
				<option value="M" class="bg-level-M">Masters</option>
				<option value="A" class="bg-level-A">ATP</option>
				<option value="O" class="bg-level-O">Olympics</option>
				<option value="D" class="bg-level-D">Davis Cup</option>
			</select>
		</div>
		<div class="col-md-2">
			<select id="surface" class="form-control" data-toggle="tooltip" data-placement="top" title="Filter by surface">
				<option value="">All surfaces</option>
				<option value="H" class="bg-surface-H">Hard</option>
				<option value="C" class="bg-surface-C">Clay</option>
				<option value="G" class="bg-surface-G">Grass</option>
				<option value="P" class="bg-surface-P">Carpet</option>
			</select>
		</div>
		<div class="col-md-2">
			<a class="pct-data btn btn-default" href="#" role="button" onclick="toggleStatsData()" style="display: none">
				<span class="glyphicon glyphicon-equalizer"></span> Raw Data
			</a>
			<a class="raw-data btn btn-default" href="#" role="button" onclick="toggleStatsData()">
				<span class="glyphicon glyphicon-scale"></span> Pct. Data
			</a>
		</div>
		<div class="col-md-2">
			<a class="btn btn-primary pull-right" href="#" role="button" onclick="showRivalryCluster()">
				<span class="glyphicon glyphicon-th"></span>&nbsp;&nbsp;Show
			</a>
		</div>
	</div>
	<br/>
	<div id="rivalryClusterDiv"></div>
	<div th:include="fragments/footer :: copy"></div>
</body>
</html>