<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<title>Ultimate Tennis Statistics - Rivalry Cluster</title>
	<link th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
	<link th:href="@{/webjars/jquery-ui-themes/1.11.4/smoothness/jquery-ui.css}" rel="stylesheet" media="screen"/>
	<link th:href="@{/css/tennis-stats.css}" rel="stylesheet" media="screen"/>
	<script th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
	<script th:src="@{/webjars/jquery-ui/1.11.4/jquery-ui.min.js}"></script>
	<script th:src="@{/js/rankingChart.js}"></script>
	<script type="text/javascript">
		/*<![CDATA[*/
		function showRivalryCluster() {
			var players = $.trim($("#players").val());
			if (players.length >= 2) {
				var fromDate = getDate("fromDate");
				if (fromDate == null)
					return;
				var toDate = getDate("toDate");
				if (toDate == null)
					return;
				var url = "/rivalryClusterTable?players=" + players + "&fromDate=" + fromDate + "&toDate=" + toDate;
				$("#rivalryClusterTable").load(url);
			}
			else {
				var message = players.length == 1 ? "Only one player selected!" : "No player selected!";
				$("#rivalryClusterTable").html("<div class='row'><div class='alert alert-warning col-md-9'>" + message + "</div></div>");
			}
		}
		$(function() {
			function split(val) {
				return val.split(/,\s*/);
			}
			function extractLast(term) {
				return split(term).pop();
			}
			$("#players").bind("keydown", function(event) {
				if (event.keyCode === $.ui.keyCode.ENTER && !$(this).autocomplete("instance").menu.active)
				   drawChart();
				else if (event.keyCode === $.ui.keyCode.TAB && $(this).autocomplete("instance").menu.active)
					event.preventDefault();
			}).autocomplete({
				source: function(request, response) {
					$.getJSON("/autocompletePlayer", {
						term: extractLast(request.term)
					}, response);
				},
				search: function() {
					var term = extractLast(this.value);
					if (term.length < 2) {
						return false;
					}
				},
				focus: function() {
					return false;
				},
				select: function(event, ui) {
					var terms = split(this.value);
					terms.pop();
					terms.push(ui.item.value);
					terms.push("");
					this.value = terms.join(", ");
					return false;
				}
			});
			$("#fromDate").datepicker({
				defaultDate: "-1y", maxDate: "0", changeMonth: true, changeYear: true, showWeek: true, firstDay: 1, dateFormat: "dd-mm-yy",
				onClose: function(selectedDate) {
					$("#toDate").datepicker("option", "minDate", selectedDate);
				}
			});
			$("#toDate").datepicker({
				defaultDate: "0", maxDate: "0", changeMonth: true, changeYear: true, showWeek: true, firstDay: 1, dateFormat: "dd-mm-yy",
				onClose: function(selectedDate) {
					$("#fromDate").datepicker("option", "maxDate", selectedDate);
				}
			});
			$("div.ui-datepicker").css({fontSize: "12px"});
		});
		/*]]>*/
	</script>
</head>
<body class="container">
	<div th:include="fragments/header :: title"></div>
	<h3>Rivalry Cluster</h3>
	<div class="row">
		<div class="col-md-9">
			<div class="ui-widget input-group">
				<label for="players" class="input-group-addon">Players:</label>
				<input id="players" type="text" class="search-field form-control" placeholder="Search Players"/>
			</div>
		</div>
	</div>
	<div style="height: 5px"></div>
	<div class="row">
		<div class="col-md-4">
			<div class="input-group">
				<label for="fromDate" class="input-group-addon">From:</label>
				<input type="text" id="fromDate" maxlength="10" class="form-control"/>
				<label for="toDate" class="input-group-addon">To:</label>
				<input type="text" id="toDate" maxlength="10" class="form-control"/>
			</div>
		</div>
		<div class="col-md-2">
			<a class="btn btn-primary pull-right" href="#" role="button" onclick="showRivalryCluster()">
				<span class="glyphicon glyphicon-th"></span>&nbsp;&nbsp;Show
			</a>
		</div>
	</div>
	<br/>
	<div id="rivalryClusterTable"></div>
	<div th:include="fragments/footer :: copy"></div>
</body>
</html>