<th:block xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="season" type="java.lang.Integer"*/-->
<!--/*@thymesVar id="categoryClasses" type="java.util.Map<java.lang.String, java.util.List<org.strangeforest.tcb.stats.model.core.PerformanceCategory>>"*/-->
<!--/*@thymesVar id="levels" type="java.util.Set<org.strangeforest.tcb.stats.model.core.TournamentLevel>"*/-->
<!--/*@thymesVar id="levelGroups" type="java.util.Set<org.strangeforest.tcb.stats.model.core.TournamentLevelGroup>"*/-->
<!--/*@thymesVar id="surfaces" type="org.strangeforest.tcb.stats.model.core.Surface[]"*/-->
<!--/*@thymesVar id="surfaceGroups" type="org.strangeforest.tcb.stats.model.core.SurfaceGroup[]"*/-->
<!--/*@thymesVar id="speeds" type="org.strangeforest.tcb.stats.model.core.CourtSpeed[]"*/-->
<!--/*@thymesVar id="rounds" type="org.strangeforest.tcb.stats.model.core.Round[]"*/-->
<!--/*@thymesVar id="results" type="org.strangeforest.tcb.stats.model.core.EventResult[]"*/-->
<!--/*@thymesVar id="tournaments" type="java.util.List<org.strangeforest.tcb.stats.model.core.TournamentItem>"*/-->
<!--/*@thymesVar id="opponentCategories" type="java.util.Map<org.strangeforest.tcb.stats.service.Opponent.OpponentCategory, List<org.strangeforest.tcb.stats.service.Opponent>>"*/-->
<!--/*@thymesVar id="countries" type="java.util.List<com.neovisionaries.i18n.CountryCode>"*/-->
<script type="text/javascript">
	$(function() {
		var $topPerformersTable = $("#topPerformersTable");
		var device = detectDevice();
		setBootgridColumnsVisible($topPerformersTable, ["won", "lost", "played"], deviceGreaterOrEqual(device, "sm"));
		setBootgridColumnsWidths($topPerformersTable, ["name"], [device == "xs" ? 200 : (device == "sm" ? 250 : (device == "md" ? 300 : 400))]);
		$topPerformersTable.bootgrid({
			ajax: true,
			ajaxSettings: {
				method: "GET",
				cache: false
			},
			url: "/topPerformersTable?season=[(${season})]",
			requestHandler: function(request) {
				request.category = $("#perfCategory").val();
				request.fromDate = $("#perfFromDate").val();
				request.toDate = $("#perfToDate").val();
				request.level = $("#perfLevel").val();
				request.bestOf = $("#perfBestOf").val();
				request.surface = $("#perfSurface").val();
				request.indoor = $("#perfIndoor").val();
				request.speed = $("#perfSpeed").val();
				request.round = $("#perfRound").val();
				request.result = $("#perfResult").val();
				request.tournamentId = $("#perfTournament").val();
				request.opponent = $("#perfOpponent").val();
				request.countryId = $("#perfCountry").val();
				request.minEntries = $("#perfMinEntriesOverride").val();
				return request;
			},
			rowCount: [15, 25, 50, -1],
			searchSettings: {
				delay: 300,
				characters: 2
			},
			formatters: {
				"country": countryFormatter,
				"player": playerFormatter,
				"won": function(column, row) {
					return "<a href='" + performancePlayerMatchesUrl(row.playerId, "W", "perf") + "' title='Show matches'>" + row.won + "</a>";
				},
				"lost": function(column, row) {
					return "<a href='" + performancePlayerMatchesUrl(row.playerId, "L", "perf") + "' title='Show matches'>" + row.lost + "</a>";
				},
				"played": function(column, row) {
					return "<a href='" + performancePlayerMatchesUrl(row.playerId, "", "perf") + "' title='Show matches'>" + row.played + "</a>";
				}
			},
			labels: {
				loading: bootgridTemplateLoading,
				noResults: "No performance results found"
			},
			templates: {
				paginationItem: bootgridTemplatePaginationItem
			}
		});
		var $topPerformersTableHeader = $("#topPerformersTable-header");
		var $search = $topPerformersTableHeader.find("div.search");
		$search.before($("#perfLevelDiv").remove());
		$search.before($("#perfSurfaceDiv").remove());
		$search.before($("#perfRoundDiv").remove());
		$search.after($("#perfClearDiv").remove());
		$topPerformersTableHeader.find("div.actions").after($("#perfAdvancedFilterDiv").remove());
		perfCategoryChanged();
		dateRangePicker("perfFromDate", "perfToDate", "[(${season})]");
		$("[data-toggle='tooltip']").tooltip();
	});
	function perfCategoryChanged() {
		var $category = $("#perfCategory");
		$("#topPerformersTable").find("th[data-column-id='wonLostPct'] > a > span.text").html($category.find("option[value='" + $category.val() + "']").html());
		var url = "/topPerformersMinEntries?category=" + $category.val() + "&season=[(${season})]";
		var fromDate = getDate("perfFromDate", "from date");
		if (fromDate) url += "&fromDate=" + fromDate;
		else if (fromDate === null) return false;
		var toDate = getDate("perfToDate", "to date");
		if (toDate) url += "&toDate=" + toDate;
		else if (toDate === null) return false;
		url += "&level=" + $("#perfLevel").val();
		url += "&bestOf=" + $("#perfBestOf").val();
		url += "&surface=" + $("#perfSurface").val();
		url += "&indoor=" + $("#perfIndoor").val();
		url += "&speed=" + $("#perfSpeed").val();
		url += "&round=" + encodeURIComponent($("#perfRound").val());
		url += "&result=" + encodeURIComponent($("#perfResult").val());
		url += "&tournamentId=" + $("#perfTournament").val();
		url += "&opponent=" + $("#perfOpponent").val();
		url += "&countryId=" + $("#perfCountry").val();
		var $minEntries = $("#perfMinEntriesOverride");
		if (!validateNumber($minEntries))
			return false;
		var minEntries = $minEntries.val();
		if (minEntries && minEntries < 2) {
			$minEntries.tooltip({title: "Minimum entries must be greater or equal to 2", placement: "bottom"}).tooltip("show");
			$minEntries.focus();
			return false;
		}
		url += "&minEntries=" + minEntries;
		$.get(url, function (data) {
			$("#perfMinEntries").html(data);
		});
		return true;
	}
	function reloadTopPerformers() {
		if (perfCategoryChanged())
			$("#topPerformersTable").bootgrid("reload");
	}
	function perfLevelChanged() {
		setPerfCategoriesVisible("level-category", !$("#perfLevel").val());
	}
	function perfSurfaceChanged() {
		var visible = !$("#perfSurface").val();
		setPerfCategoriesVisible("surface-category", visible);
		$("#perfCategory").find("optgroup[label='Surface Performance']").css("display", visible ? "block" : "none");
	}
	function perfRoundChanged() {
		setPerfCategoriesVisible("round-category", !$("#perfRound").val());
	}
	function perfOpponentChanged() {
		var opponent = $("#perfOpponent").val();
		setPerfCategoriesVisible("topn-category", opponent != "NO_1" && !opponent.startsWith("TOP_"));
	}
	function setPerfCategoriesVisible(cssClass, visible) {
		var $category = $("#perfCategory");
		$category.find("option." + cssClass).each(function () {
			var $this = $(this);
			if ($this.is(':selected'))
				$category.val("matches");
			$this.css("display", visible ? "block" : "none");
		});
	}
	function clearTopPerformersFilter() {
		$("#perfFromDate").val("");
		$("#perfToDate").val("");
		$("#perfLevel").val(""); perfLevelChanged();
		$("#perfBestOf").val("");
		$("#perfSurface").val(""); perfSurfaceChanged();
		$("#perfIndoor").val("");
		$("#perfSpeed").val("");
		$("#perfRound").val(""); perfRoundChanged();
		$("#perfResult").val("");
		$("#perfOpponent").val(""); perfOpponentChanged();
		$("#perfTournament").val("");
		$("#perfCountry").val("");
		$("#perfMinEntriesOverride").val("");
		$("#topPerformersTable").bootgrid("search", "");
		reloadTopPerformers();
	}
</script>
<div class="row margin-top">
	<div class="col-md-8">
		<h3 class="text-nowrap" style="display: inline">Top Performers</h3>
	</div>
	<div class="col-md-4">
		<div class="input-group" data-toggle="tooltip" data-placement="top" title="Select performance category">
			<label for="perfCategory" class="input-group-addon">Category:</label>
			<select id="perfCategory" class="form-control" onchange="reloadTopPerformers()">
				<optgroup th:each="categoryClass : ${categoryClasses}" th:label="${categoryClass.key}" label="Performance">
					<option th:each="category : ${categoryClass.value}" th:value="${category.name}" value="matches" th:class="${category.cssClass}" th:text="${category.title}">Overall Matches</option>
				</optgroup>
			</select>
		</div>
	</div>
</div>
<div id="perfAdvancedFilter" class="collapse">
	<div class="row margin-top">
		<div class="col-md-2">
			<select id="perfOpponent" class="form-control" onchange="perfOpponentChanged(); reloadTopPerformers()" data-toggle="tooltip" data-placement="top" title="Filter by opponent">
				<option value="">Vs all</option>
				<optgroup th:each="opponentCategory : ${opponentCategories}" th:label="${opponentCategory.key.text}" label="Rank">
					<option th:each="opponent : ${opponentCategory.value}" th:value="${opponent}" value="NO_1" th:text="${opponent.text}">Vs No. 1</option>
				</optgroup>
			</select>
		</div>
		<div class="col-md-2">
			<select id="perfSpeed" class="form-control" onchange="reloadTopPerformers()" data-toggle="tooltip" data-placement="top" title="Filter by court speed">
				<option value="">All speeds</option>
				<option th:each="aSpeed : ${speeds}" th:value="${aSpeed.speed}" th:class="|points-${aSpeed.speed}|" style="color: white" value="50" class="points-50" th:text="${aSpeed.text}">Medium</option>
			</select>
		</div>
		<div class="col-md-3">
			<select id="perfTournament" class="form-control" onchange="reloadTopPerformers()" data-toggle="tooltip" data-placement="top" title="Filter by tournament">
				<option value="">All tournaments</option>
				<option th:each="tournament : ${tournaments}" th:if="${tournament.level != 'D' and tournament.level != 'T'}" th:value="${tournament.id}" value="101" th:text="${tournament.name}" th:class="'bg-level-' + ${tournament.level}">Wimbledon</option>
			</select>
		</div>
		<div class="col-md-3">
			<select id="perfCountry" class="form-control" onchange="reloadTopPerformers()" data-toggle="tooltip" data-placement="top" title="Filter by opponent country">
				<option value="">Vs all countries</option>
				<option th:each="country : ${countries}" th:value="${country.alpha3}" value="SUI" th:text="${country.name}">Switzerland</option>
			</select>
		</div>
		<div class="col-md-2">
			<div class="input-group" data-toggle="tooltip" data-placement="top" title="Override minimum entries">
				<label for="perfMinEntriesOverride" class="input-group-addon">Min. entr.:</label>
				<input id="perfMinEntriesOverride" type="text" size="6" class="form-control" oninput="reloadTopPerformers()" onchange="reloadTopPerformers()"/>
			</div>
		</div>
	</div>
	<div class="row margin-top">
		<div class="col-md-2">
			<select id="perfBestOf" class="form-control" onchange="reloadTopPerformers()" data-toggle="tooltip" data-placement="top" title="Filter by best of">
				<option value="">Best of any</option>
				<option value="3">Best of 3</option>
				<option value="5">Best of 5</option>
			</select>
		</div>
		<div class="col-md-2">
			<select id="perfIndoor" class="form-control" onchange="reloadTopPerformers()" data-toggle="tooltip" data-placement="top" title="Filter by outdoor / indoor">
				<option value="">Outdoor / Indoor</option>
				<option value="false">Outdoor</option>
				<option value="true">Indoor</option>
			</select>
		</div>
		<div class="col-md-2">
			<select id="perfResult" class="form-control" onchange="reloadTopPerformers()" data-toggle="tooltip" data-placement="top" title="Filter by tournament result">
				<option value="">All results</option>
				<option th:each="aResult : ${results}" th:value="${aResult.code}" th:class="|bg-result-${aResult.baseCode}|" value="W" class="bg-result-W" th:text="${aResult.text}">Win</option>
			</select>
		</div>
		<div class="col-md-4">
			<div id="perfDateRange" class="input-group">
				<label for="perfFromDate" class="input-group-addon">From:</label>
				<input id="perfFromDate" type="text" maxlength="10" class="form-control" onchange="reloadTopPerformers()"/>
				<label for="perfToDate" class="input-group-addon">To:</label>
				<input id="perfToDate" type="text" maxlength="10" class="form-control" onchange="reloadTopPerformers()"/>
			</div>
		</div>
	</div>
</div>
<div id="perfLevelDiv" class="btn-group pull-left margin-right no-margin-left">
	<select id="perfLevel" class="form-control" onchange="perfLevelChanged(); reloadTopPerformers()" data-toggle="tooltip" data-placement="top" title="Filter by tournament level">
		<option value="">All levels</option>
		<option th:each="level : ${levels}" th:value="${level.code}" th:class="|bg-level-${level.code}|" value="G" class="bg-level-G" th:text="${level.text}">Grand Slam</option>
		<option th:each="levelGroup : ${levelGroups}" th:value="${levelGroup.codes}" value="GFLMO" th:text="${levelGroup.text}">Big Tournaments</option>
	</select>
</div>
<div id="perfSurfaceDiv" class="btn-group pull-left margin-right">
	<select id="perfSurface" class="form-control" onchange="perfSurfaceChanged(); reloadTopPerformers()" data-toggle="tooltip" data-placement="top" title="Filter by surface">
		<option value="">All surfaces</option>
		<option th:each="surface : ${surfaces}" th:value="${surface.code}" th:class="|bg-surface-${surface.code}|" value="H" class="bg-surface-H" th:text="${surface.text}">Hard</option>
		<option th:each="surfaceGroup : ${surfaceGroups}" th:value="${surfaceGroup.codes}" value="HGP" th:text="${surfaceGroup.text}">Fast (H, G, Cp)</option>
	</select>
</div>
<div id="perfRoundDiv" class="btn-group pull-left margin-right">
	<select id="perfRound" class="form-control" onchange="perfRoundChanged(); reloadTopPerformers()" data-toggle="tooltip" data-placement="top" title="Filter by round">
		<option value="">All rounds</option>
		<option th:each="round : ${rounds}" th:value="${round.code}" th:class="|bg-result-${round.baseCode}|" value="F" class="bg-result-F" th:text="${round.text}">Final</option>
	</select>
</div>
<div id="perfClearDiv" class="btn-group margin-right">
	<button type="button" class="btn btn-default" onclick="clearTopPerformersFilter()" data-toggle="tooltip" data-placement="top" title="Clear all filters">
		<i class="fa fa-eraser"></i>
	</button>
</div>
<div id="perfAdvancedFilterDiv" class="btn-group margin-left no-margin-right">
	<div class="pull-right" data-toggle="tooltip" data-placement="auto" title="Advanced filters">
		<button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#perfAdvancedFilter">
			Adv.&nbsp;&nbsp;<i class="fa fa-chevron-up"></i>
		</button>
	</div>
</div>
<input id="perfSeason" type="hidden" th:value="${season}"/>
<table id="topPerformersTable" class="table table-condensed table-hover table-striped">
	<thead>
	<tr>
		<th data-column-id="rank" data-type="numeric" data-sortable="false" data-width="65">Rank</th>
		<th data-column-id="country" data-formatter="country" data-sortable="false" data-width="85">Country</th>
		<th data-column-id="name" data-formatter="player" data-sortable="false" data-width="250">Name</th>
		<th data-column-id="wonLostPct" data-order="desc" data-width="190" data-align="right" data-header-align="right">Pct.</th>
		<th data-column-id="won" data-formatter="won" data-width="70" data-align="right" data-header-align="right">Won</th>
		<th data-column-id="lost" data-formatter="lost" data-width="70" data-align="right" data-header-align="right">Lost</th>
		<th data-column-id="played" data-formatter="played" data-width="75" data-align="right" data-header-align="right">Played</th>
	</tr>
	</thead>
</table>
<p><i>* Minimum <span id="perfMinEntries">10 matches</span></i></p>
</th:block>