<th:block xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="season" type="java.lang.Integer"*/-->
<!--/*@thymesVar id="categoryClasses" type="java.util.Map<java.lang.String, java.util.List<org.strangeforest.tcb.stats.model.core.StatsCategory>>"*/-->
<!--/*@thymesVar id="levels" type="java.util.Set<org.strangeforest.tcb.stats.model.core.TournamentLevel>"*/-->
<!--/*@thymesVar id="levelGroups" type="java.util.Set<org.strangeforest.tcb.stats.model.core.TournamentLevelGroup>"*/-->
<!--/*@thymesVar id="surfaces" type="org.strangeforest.tcb.stats.model.core.Surface[]"*/-->
<!--/*@thymesVar id="surfaceGroups" type="org.strangeforest.tcb.stats.model.core.SurfaceGroup[]"*/-->
<!--/*@thymesVar id="speeds" type="org.strangeforest.tcb.stats.model.core.CourtSpeed[]"*/-->
<!--/*@thymesVar id="rounds" type="org.strangeforest.tcb.stats.model.core.Round[]"*/-->
<!--/*@thymesVar id="results" type="org.strangeforest.tcb.stats.model.core.EventResult[]"*/-->
<!--/*@thymesVar id="tournaments" type="java.util.List<org.strangeforest.tcb.stats.model.core.TournamentItem>"*/-->
<!--/*@thymesVar id="opponentCategories" type="java.util.Map<org.strangeforest.tcb.stats.service.Opponent.OpponentCategory, List<org.strangeforest.tcb.stats.service.Opponent>>"*/-->
<!--/*@thymesVar id="countries" type="java.util.List<com.neovisionaries.i18n.CountryCode>"*/-->
<!--/*@thymesVar id="level" type="java.lang.String"*/-->
<!--/*@thymesVar id="bestOf" type="java.lang.Integer"*/-->
<!--/*@thymesVar id="surface" type="java.lang.String"*/-->
<!--/*@thymesVar id="indoor" type="java.lang.Boolean"*/-->
<!--/*@thymesVar id="round" type="java.lang.String"*/-->
<!--/*@thymesVar id="tournamentId" type="java.lang.Integer"*/-->
<script type="text/javascript">
	$(function() {
		var $statsLeadersTable = $("#statsLeadersTable");
		var device = detectDevice();
		setBootgridColumnsWidths($statsLeadersTable, ["name"], [device == "xs" ? 200 : (device == "sm" ? 250 : (device == "md" ? 300 : 400))]);
		$statsLeadersTable.bootgrid({
			ajax: true,
			ajaxSettings: {
				method: "GET",
				cache: false
			},
			url: "/statsLeadersTable?season=[(${season})]",
			requestHandler: function(request) {
				request.category = $("#statsCategory").val();
				request.fromDate = $("#statsFromDate").val();
				request.toDate = $("#statsToDate").val();
				request.level = $("#statsLevel").val();
				request.bestOf = $("#statsBestOf").val();
				request.surface = $("#statsSurface").val();
				request.indoor = $("#statsIndoor").val();
				request.speed = $("#statsSpeed").val();
				request.round = $("#statsRound").val();
				request.result = $("#statsResult").val();
				request.tournamentId = $("#statsTournament").val();
				request.opponent = $("#statsOpponent").val();
				request.countryId = $("#statsCountry").val();
				request.minEntries = $("#statsMinEntriesOverride").val();
				return request;
			},
			rowCount: [15, 25, 50, -1],
			searchSettings: {
				delay: 300,
				characters: 2
			},
			formatters: {
				"country": countryFormatter,
				"player": playerFormatter,
				"value": function(column, row) {
					return "<a href='" + statisticsPlayerMatchesUrl(row.playerId, "stats") + "' title='Show matches'>" + row.value + "</a>";
				}
			},
			labels: {
				loading: bootgridTemplateLoading,
				noResults: "No statistics found"
			},
			templates: {
				paginationItem: bootgridTemplatePaginationItem
			}
		});
		var $statsLeadersTableHeader = $("#statsLeadersTable-header");
		var $search = $statsLeadersTableHeader.find("div.search");
		$search.before($("#statsLevelDiv").remove());
		$search.before($("#statsSurfaceDiv").remove());
		$search.before($("#statsRoundDiv").remove());
		$search.after($("#statsClearDiv").remove());
		$statsLeadersTableHeader.find("div.actions").after($("#statsAdvancedFilterDiv").remove());
		statsCategoryChanged();
		dateRangePicker("statsFromDate", "statsToDate", "[(${season})]");
		$("[data-toggle='tooltip']").tooltip();
	});
	function statsCategoryChanged() {
		var $category = $("#statsCategory");
		$("#statsLeadersTable").find("th[data-column-id='value'] > a > span.text").html($category.find("option[value='" + $category.val() + "']").html());
		var url = "/statsLeadersMinEntries?category=" + $category.val() + "&season=[(${season})]";
		var fromDate = getDate("statsFromDate", "from date");
		if (fromDate) url += "&fromDate=" + fromDate;
		else if (fromDate === null) return false;
		var toDate = getDate("statsToDate", "to date");
		if (toDate) url += "&toDate=" + toDate;
		else if (toDate === null) return false;
		url += "&level=" + $("#statsLevel").val();
		url += "&bestOf=" + $("#statsBestOf").val();
		url += "&surface=" + $("#statsSurface").val();
		url += "&indoor=" + $("#statsIndoor").val();
		url += "&speed=" + $("#statsSpeed").val();
		url += "&round=" + encodeURIComponent($("#statsRound").val());
		url += "&result=" + encodeURIComponent($("#statsResult").val());
		url += "&tournamentId=" + $("#statsTournament").val();
		url += "&opponent=" + $("#statsOpponent").val();
		url += "&countryId=" + $("#statsCountry").val();
		var $minEntries = $("#statsMinEntriesOverride");
		if (!validateNumber($minEntries))
			return false;
		var minEntries = $minEntries.val();
		if (minEntries && minEntries < 2) {
			$minEntries.tooltip({title: "Minimum entries must be greater or equal to 2", placement: "bottom"}).tooltip("show");
			$minEntries.focus();
			return false;
		}
		url += "&minEntries=" + minEntries;
		$.get(url, function (data) {
			$("#statsMinEntries").html(data);
		});
			return true;
	}
	function reloadStatsLeaders() {
		if (statsCategoryChanged())
			$("#statsLeadersTable").bootgrid("reload");
	}
	function clearStatsLeadersFilter() {
		$("#statsFromDate").val("");
		$("#statsToDate").val("");
		$("#statsLevel").val("");
		$("#statsBestOf").val("");
		$("#statsSurface").val("");
		$("#statsIndoor").val("");
		$("#statsSpeed").val("");
		$("#statsRound").val("");
		$("#statsResult").val("");
		$("#statsOpponent").val("");
		$("#statsTournament").val("");
		$("#statsCountry").val("");
		$("#statsMinEntriesOverride").val("");
		$("#statsLeadersTable").bootgrid("search", "");
		reloadStatsLeaders();
	}
</script>
<div class="row margin-top">
	<div class="col-md-8">
		<h3 class="text-nowrap" style="display: inline">Statistics Leaders</h3>
	</div>
	<div class="col-md-4">
		<div class="input-group" data-toggle="tooltip" data-placement="top" title="Select statistics category">
			<label for="statsCategory" class="input-group-addon">Category:</label>
			<select id="statsCategory" class="form-control" onchange="reloadStatsLeaders()">
				<optgroup th:each="categoryClass : ${categoryClasses}" th:label="${categoryClass.key}" label="Serve">
					<option th:each="category : ${categoryClass.value}" th:value="${category.name}" value="aces" th:text="${category.title}" th:title="#{__${category.descriptionId}__}">Aces</option>
				</optgroup>
			</select>
		</div>
	</div>
</div>
<div id="statsAdvancedFilter" class="collapse" th:attrappend="class=${bestOf != null || indoor != null || speed != null || tournamentId != null ? ' in' : _}">
	<div class="row margin-top">
		<div class="col-md-2">
			<select id="statsOpponent" class="form-control" onchange="reloadStatsLeaders()" data-toggle="tooltip" data-placement="top" title="Filter by opponent">
				<option value="">Vs all</option>
				<optgroup th:each="opponentCategory : ${opponentCategories}" th:label="${opponentCategory.key.text}" label="Rank">
					<option th:each="opponent : ${opponentCategory.value}" th:value="${opponent}" value="NO_1" th:text="${opponent.text}">Vs No. 1</option>
				</optgroup>
			</select>
		</div>
		<div class="col-md-2">
			<select id="statsSpeed" class="form-control" onchange="reloadStatsLeaders()" data-toggle="tooltip" data-placement="top" title="Filter by court speed">
				<option value="">All speeds</option>
				<option th:each="aSpeed : ${speeds}" th:value="${aSpeed.speed}" th:class="|points-${aSpeed.speed}|" style="color: white" value="50" class="points-50" th:text="${aSpeed.text}" th:selected="${aSpeed.speed == speed}">Medium</option>
			</select>
		</div>
		<div class="col-md-3">
			<select id="statsTournament" class="form-control" onchange="reloadStatsLeaders()" data-toggle="tooltip" data-placement="top" title="Filter by tournament">
				<option value="">All tournaments</option>
				<option th:each="tournament : ${tournaments}" th:if="${tournament.level != 'D' and tournament.level != 'T'}" th:value="${tournament.id}" value="101" th:text="${tournament.name}" th:class="'bg-level-' + ${tournament.level}" th:selected="${tournament.id == tournamentId}">Wimbledon</option>
			</select>
		</div>
		<div class="col-md-3">
			<select id="statsCountry" class="form-control" onchange="reloadStatsLeaders()" data-toggle="tooltip" data-placement="top" title="Filter by opponent country">
				<option value="">Vs all countries</option>
				<option th:each="country : ${countries}" th:value="${country.alpha3}" value="SUI" th:text="${country.name}">Switzerland</option>
			</select>
		</div>
		<div class="col-md-2">
			<div class="input-group" data-toggle="tooltip" data-placement="top" title="Override minimum entries">
				<label for="statsMinEntriesOverride" class="input-group-addon">Min. entr.:</label>
				<input id="statsMinEntriesOverride" type="text" size="8" class="form-control" oninput="reloadStatsLeaders()" onchange="reloadStatsLeaders()"/>
			</div>
		</div>
	</div>
	<div class="row margin-top">
		<div class="col-md-2">
			<select id="statsBestOf" class="form-control" onchange="reloadStatsLeaders()" data-toggle="tooltip" data-placement="top" title="Filter by best of">
				<option value="">Best of any</option>
				<option value="3" th:selected="${bestOf == 3}">Best of 3</option>
				<option value="5" th:selected="${bestOf == 5}">Best of 5</option>
			</select>
		</div>
		<div class="col-md-2">
			<select id="statsIndoor" class="form-control" onchange="reloadStatsLeaders()" data-toggle="tooltip" data-placement="top" title="Filter by outdoor / indoor">
				<option value="">Outdoor / Indoor</option>
				<option value="false" th:selected="${indoor == false}">Outdoor</option>
				<option value="true" th:selected="${indoor}">Indoor</option>
			</select>
		</div>
		<div class="col-md-2">
			<select id="statsResult" class="form-control" onchange="reloadStatsLeaders()" data-toggle="tooltip" data-placement="top" title="Filter by tournament result">
				<option value="">All results</option>
				<option th:each="aResult : ${results}" th:value="${aResult.code}" th:class="|bg-result-${aResult.baseCode}|" value="W" class="bg-result-W" th:text="${aResult.text}">Win</option>
			</select>
		</div>
		<div class="col-md-4">
			<div id="statsDateRange" class="input-group">
				<label for="statsFromDate" class="input-group-addon">From:</label>
				<input id="statsFromDate" type="text" maxlength="10" class="form-control" onchange="reloadStatsLeaders()"/>
				<label for="statsToDate" class="input-group-addon">To:</label>
				<input id="statsToDate" type="text" maxlength="10" class="form-control" onchange="reloadStatsLeaders()"/>
			</div>
		</div>
	</div>
</div>
<div id="statsLevelDiv" class="btn-group pull-left margin-right no-margin-left">
	<select id="statsLevel" class="form-control" onchange="reloadStatsLeaders()" data-toggle="tooltip" data-placement="top" title="Filter by tournament level">
		<option value="">All levels</option>
		<option th:each="aLevel : ${levels}" th:value="${aLevel.code}" th:class="|bg-level-${aLevel.code}|" value="G" class="bg-level-G" th:text="${aLevel.text}" th:selected="${aLevel.code == level}">Grand Slam</option>
		<option th:each="levelGroup : ${levelGroups}" th:value="${levelGroup.codes}" value="GFLMO" th:text="${levelGroup.text}" th:selected="${levelGroup.codes == level}">Big Tournaments</option>
	</select>
</div>
<div id="statsSurfaceDiv" class="btn-group pull-left margin-right">
	<select id="statsSurface" class="form-control" onchange="reloadStatsLeaders()" data-toggle="tooltip" data-placement="top" title="Filter by surface">
		<option value="">All surfaces</option>
		<option th:each="aSurface : ${surfaces}" th:value="${aSurface.code}" th:class="|bg-surface-${aSurface.code}|" value="H" class="bg-surface-H" th:text="${aSurface.text}" th:selected="${aSurface.code == surface}">Hard</option>
		<option th:each="surfaceGroup : ${surfaceGroups}" th:value="${surfaceGroup.codes}" value="HGP" th:text="${surfaceGroup.text}" th:selected="${surfaceGroup.codes.length() > 1 && surfaceGroup.codes == surface}">Fast (H, G, Cp)</option>
	</select>
</div>
<div id="statsRoundDiv" class="btn-group pull-left margin-right">
	<select id="statsRound" class="form-control" onchange="reloadStatsLeaders()" data-toggle="tooltip" data-placement="top" title="Filter by round">
		<option value="">All rounds</option>
		<option th:each="aRound : ${rounds}" th:value="${aRound.code}" th:class="|bg-result-${aRound.baseCode}|" value="F" class="bg-result-F" th:text="${aRound.text}" th:selected="${aRound.code == round}">Final</option>
	</select>
</div>
<div id="statsClearDiv" class="btn-group margin-right">
	<button type="button" class="btn btn-default" onclick="clearStatsLeadersFilter()" data-toggle="tooltip" data-placement="top" title="Clear all filters">
		<i class="fa fa-eraser"></i>
	</button>
</div>
<div id="statsAdvancedFilterDiv" class="btn-group margin-left no-margin-right">
	<div class="pull-right" data-toggle="tooltip" data-placement="auto" title="Advanced filters">
		<button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#statsAdvancedFilter">
			Adv.&nbsp;&nbsp;<i class="fa fa-chevron-up"></i>
		</button>
	</div>
</div>
<input id="statsSeason" type="hidden" th:value="${season}"/>
<table id="statsLeadersTable" class="table table-condensed table-hover table-striped">
	<thead>
	<tr>
		<th data-column-id="rank" data-type="numeric" data-sortable="false" data-width="65">Rank</th>
		<th data-column-id="country" data-formatter="country" data-sortable="false" data-width="85">Country</th>
		<th data-column-id="name" data-formatter="player" data-sortable="false" data-width="250">Name</th>
		<th data-column-id="value" data-formatter="value" data-order="desc" data-width="200" data-align="right" data-header-align="right">Value</th>
	</tr>
	</thead>
</table>
<p><i>* Minimum <span id="statsMinEntries">10 matches</span></i></p>
</th:block>