<th:block xmlns:th="http://www.thymeleaf.org">
	<!--/*@thymesVar id="season" type="java.lang.Integer"*/-->
	<!--/*@thymesVar id="categoryClasses" type="java.util.Map<java.lang.String, java.util.List<org.strangeforest.tcb.stats.model.PerformanceCategory>>"*/-->
	<script type="text/javascript">
		$(function() {
			var $topPerformersTable = $("#topPerformersTable");
			var device = detectDevice();
			setBootgridColumnsVisible($topPerformersTable, ["won", "lost", "played"], deviceGreaterOrEqual(device, "sm"));
			setBootgridColumnsWidths($topPerformersTable, ["name"], [device == "xs" ? 200 : (device == "sm" ? 250 : (device == "md" ? 300 : 400))]);
			$topPerformersTable.bootgrid({
				ajax: true,
				ajaxSettings: {
					method: "GET",
					cache: false
				},
				url: "/topPerformersTable?season=[[${season}]]",
				requestHandler: function(request) {
					request.category = $("#performanceCategory").val();
					return request;
				},
				rowCount: [15, 20, 50, -1],
				searchSettings: {
					delay: 300,
					characters: 2
				},
				formatters: {
					"country": countryFormatter,
					"player": playerFormatter
				},
				labels: {
					loading: bootgridTemplateLoading,
					noResults: "No performance results found"
				},
				templates: {
					paginationItem: bootgridTemplatePaginationItem
				}
			});
			var $topPerformersTableHeader = $("#topPerformersTable-header");
			$topPerformersTableHeader.find("div.search").before($("#performanceCategoryDiv").remove());
			setBootgridTitle($topPerformersTableHeader, $("#topPerformersTable-title"));
			performanceCategoryChanged();
			$("[data-toggle='tooltip']").tooltip();
		});
		function performanceCategoryChanged() {
			var $category = $("#performanceCategory");
			$("#topPerformersTable").find("th[data-column-id='wonLostPct'] > a > span.text").html($category.find("option[value='" + $category.val() + "']").html());
			var url = "/topPerformersMinEntries?category=" + $category.val() + "&season=[[${season}]]";
			$.get(url, function (data) {
				$("#performanceMinEntries").html(data);
			});
		}
		function reloadTopPerformers() {
			performanceCategoryChanged();
			$("#topPerformersTable").bootgrid("reload");
		}
	</script>
	<h3 id="topPerformersTable-title" class="grid-title">Top Performers</h3>
	<div id="performanceCategoryDiv" class="btn-group" style="margin-right: 20px">
		<select id="performanceCategory" class="form-control" onchange="reloadTopPerformers()" data-toggle="tooltip" data-placement="top" title="Select performance category">
			<optgroup th:each="categoryClass : ${categoryClasses}" th:label="${categoryClass.key}" label="Performance">
				<option th:each="category : ${categoryClass.value}" th:value="${category.name}" value="matches" th:class="${category.cssClass}" th:text="${category.title}">Overall Matches</option>
			</optgroup>
		</select>
	</div>
	<table id="topPerformersTable" class="table table-condensed table-hover table-striped">
		<thead>
		<tr>
			<th data-column-id="rank" data-type="numeric" data-sortable="false" data-width="65">Rank</th>
			<th data-column-id="country" data-formatter="country" data-sortable="false" data-width="85">Country</th>
			<th data-column-id="name" data-formatter="player" data-sortable="false" data-width="250">Name</th>
			<th data-column-id="wonLostPct" data-order="desc" data-width="175" data-align="right" data-header-align="right">Pct.</th>
			<th data-column-id="won" data-type="numeric" data-width="70" data-align="right" data-header-align="right">Won</th>
			<th data-column-id="lost" data-type="numeric" data-width="70" data-align="right" data-header-align="right">Lost</th>
			<th data-column-id="played" data-type="numeric" data-width="75" data-align="right" data-header-align="right">Played</th>
		</tr>
		</thead>
	</table>
	<p><i>* Minimum <span id="performanceMinEntries">10 matches</span></i></p>
</th:block>