<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: commonHead(~{::title/text()}, true, ~{::template})">
	<title>Seasons</title>
	<template>
	<meta name="description" content="Tennis Open Era seasons on the glance"/>
	<script type="text/javascript">
		$(function() {
			var $seasonsTable = $("#seasonsTable");
			var device = detectDevice();
			setBootgridColumnsVisible($seasonsTable, ["outdoorCount", "indoorCount", "speed"], deviceGreaterOrEqual(device, "xl"));
			setBootgridColumnsVisible($seasonsTable, ["surfaces", "dominantAge"], deviceGreaterOrEqual(device, "lg"));
			setBootgridColumnsVisible($seasonsTable, ["bestPlayer"], deviceGreaterOrEqual(device, "md"));
			setBootgridColumnsVisible($seasonsTable, ["hardCount", "clayCount", "grassCount", "carpetCount"], deviceGreaterOrEqual(device, "sm"));
			$seasonsTable.bootgrid({
				ajax: true,
				ajaxSettings: {
					method: "GET",
					cache: false
				},
				url: "/seasonsTable",
				rowCount: [20, 50, 100, -1],
				searchSettings: {
					delay: 300,
					characters: 2
				},
				formatters: {
					"season": function(column, row) {
						return "<a href='/season?season=" + row.season + "' title='Show season'>" + row.season + "</a>";
					},
					"tournamentCount": tournamentCountFormatter("tournamentCount", ""),
					"grandSlamCount": tournamentCountFormatter("grandSlamCount", "&level=G"),
					"tourFinalsCount": tournamentCountFormatter("tourFinalsCount", "&level=FL"),
					"mastersCount": tournamentCountFormatter("mastersCount", "&level=M"),
					"olympicsCount": tournamentCountFormatter("olympicsCount", "&level=O"),
					"atp500Count": tournamentCountFormatter("atp500Count", "&level=A"),
					"atp250Count": tournamentCountFormatter("atp250Count", "&level=B"),
					"hardCount": tournamentCountFormatter("hardCount", "&surface=H"),
					"clayCount": tournamentCountFormatter("clayCount", "&surface=C"),
					"grassCount": tournamentCountFormatter("grassCount", "&surface=G"),
					"carpetCount": tournamentCountFormatter("carpetCount", "&surface=P"),
					"outdoorCount": tournamentCountFormatter("outdoorCount", "&indoor=false"),
					"indoorCount": tournamentCountFormatter("indoorCount", "&indoor=true"),
					"surfaces": function(column, row) {
						return "<div class='progress'>"
							+ "<div class='progress-bar progress-bar-default' role='progressbar' style='width: " + row.hardPct + "' data-toggle='tooltip' data-placement='top' title='Hard " + row.hardPct + "'>" + row.hardPct + "</div>"
							+ "<div class='progress-bar progress-bar-warning' role='progressbar' style='width: " + row.carpetPct + "' data-toggle='tooltip' data-placement='top' title='Carpet " + row.carpetPct + "'>" + row.carpetPct + "</div>"
							+ "<div class='progress-bar progress-bar-danger' role='progressbar' style='width: " + row.clayPct + "' data-toggle='tooltip' data-placement='top' title='Clay " + row.clayPct + "'>" + row.clayPct + "</div>"
							+ "<div class='progress-bar progress-bar-success' role='progressbar' style='width: " + row.grassPct + "' data-toggle='tooltip' data-placement='top' title='Grass " + row.grassPct + "'>" + row.grassPct + "</div>"
							+ "</div>";
					},
					"speed": speedFormatter,
					"player": function(column, row) {
						return playerCountryFormatter(column, row.bestPlayer);
					},
					"dominantAge": function(column, row) {
						var age = row.dominantAge;
						return "<span class='label points-" + (10 * Math.max(1, Math.min(age - 20, 10))) + "'>" + age + "</span>";
					}
				},
				labels: {
					loading: bootgridTemplateLoading,
					noResults: "No seasons found"
				},
				templates: {
					paginationItem: bootgridTemplatePaginationItem
				}
			});
			var $seasonsTableHeader = $("#seasonsTable-header");
			$seasonsTableHeader.find("div.search").remove();
			setBootgridTitle($seasonsTableHeader, $("#seasonsTable-title"));
			setBootgridTitles($seasonsTable, [
				{id: "tournamentCount", title: "Tournaments"},
				{id: "grandSlamCount", title: "Grand Slam tournaments"},
				{id: "tourFinalsCount", title: "Tour Finals tournaments (including alternative Tour Finals)"},
				{id: "mastersCount", title: "Masters tournaments"},
				{id: "olympicsCount", title: "Olympics tournaments"},
				{id: "atp500Count", title: "ATP 500 tournaments"},
				{id: "atp250Count", title: "ATP 250 tournaments"},
				{id: "hardCount", title: "Hard tournaments"},
				{id: "clayCount", title: "Clay tournaments"},
				{id: "grassCount", title: "Grass tournaments"},
				{id: "carpetCount", title: "Carpet tournaments"},
				{id: "outdoorCount", title: "Outdoor tournaments"},
				{id: "indoorCount", title: "Indoor tournaments"},
				{id: "speed", title: "[[#{event.courtSpeed.title}]]"},
				{id: "bestPlayer", title: "Player with most GOAT points in the season"},
				{id: "dominantAge", title: "Dominant age - weighted average age of dominant players in the season"}
			]);
		});
		function tournamentCountFormatter(attr, params) {
			return function(column, row) {
				var count = row[attr];
				return count > 0 ? "<a href='/season?season=" + row.season + "&tab=events" + params + "'>" + count + "</a>" : "";
			};
		}
	</script>
	<style type="text/css">
		.progress {
			margin-bottom: 0;
		}
	</style>
	</template>
</head>
<body class="container">
	<header th:include="fragments/header :: title"></header>
	<h3 id="seasonsTable-title" class="grid-title"><i class="fa fa-clone"></i> Seasons</h3>
	<table id="seasonsTable" class="table table-condensed table-hover table-striped">
		<thead>
		<tr>
			<th data-column-id="season" data-formatter="season" data-order="desc" data-width="80">Season</th>
			<th data-column-id="tournamentCount" data-formatter="tournamentCount" data-width="50" data-align="right" data-header-align="right">T</th>
			<th data-column-id="grandSlamCount" data-formatter="grandSlamCount" data-width="50" data-align="right" data-header-align="right">GS</th>
			<th data-column-id="tourFinalsCount" data-formatter="tourFinalsCount" data-width="50" data-align="right" data-header-align="right">TF</th>
			<th data-column-id="mastersCount" data-formatter="mastersCount" data-width="50" data-align="right" data-header-align="right">M</th>
			<th data-column-id="olympicsCount" data-formatter="olympicsCount" data-width="50" data-align="right" data-header-align="right">O</th>
			<th data-column-id="atp500Count" data-formatter="atp500Count" data-width="50" data-align="right" data-header-align="right">500</th>
			<th data-column-id="atp250Count" data-formatter="atp250Count" data-width="50" data-align="right" data-header-align="right">250</th>
			<th data-column-id="hardCount" data-formatter="hardCount" data-width="50" data-align="right" data-header-align="right" data-header-css-class="bg-surface-H">H</th>
			<th data-column-id="clayCount" data-formatter="clayCount" data-width="50" data-align="right" data-header-align="right" data-header-css-class="bg-surface-C">C</th>
			<th data-column-id="grassCount" data-formatter="grassCount" data-width="50" data-align="right" data-header-align="right" data-header-css-class="bg-surface-G">G</th>
			<th data-column-id="carpetCount" data-formatter="carpetCount" data-width="50" data-align="right" data-header-align="right" data-header-css-class="bg-surface-P">P</th>
			<th data-column-id="outdoorCount" data-formatter="outdoorCount" data-width="55" data-align="right" data-header-align="right" data-visible="false">Out</th>
			<th data-column-id="indoorCount" data-formatter="indoorCount" data-width="55" data-align="right" data-header-align="right" data-visible="false">In</th>
			<th data-column-id="matchCount" data-type="numeric" data-width="90" data-align="right" data-header-align="right">Matches</th>
			<th data-column-id="surfaces" data-formatter="surfaces" data-sortable="false" data-width="200" data-align="center" data-header-align="center">Surfaces</th>
			<th data-column-id="speed" data-formatter="speed" data-width="70" data-align="center" data-header-align="center">Speed</th>
			<th data-column-id="bestPlayer" data-formatter="player" data-sortable="false" data-width="150">Best Player</th>
			<th data-column-id="dominantAge" data-formatter="dominantAge" data-sortable="false" data-width="55" data-align="right" data-header-align="right">Age</th>
		</tr>
		</thead>
	</table>
	<th:block th:include="fragments/deviceDetector :: deviceDetectors"/>
	<footer th:include="fragments/footer :: copy"></footer>
</body>
</html>