<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="category" type="java.lang.String"*/-->
<!--/*@thymesVar id="categoryClasses" type="java.util.Map<java.lang.String, java.util.List<org.strangeforest.tcb.stats.model.core.StatsCategory>>"*/-->
<!--/*@thymesVar id="seasons" type="java.util.List<java.lang.Integer>"*/-->
<!--/*@thymesVar id="levels" type="java.util.Set<org.strangeforest.tcb.stats.model.core.TournamentLevel>"*/-->
<!--/*@thymesVar id="levelGroups" type="java.util.Set<org.strangeforest.tcb.stats.model.core.TournamentLevelGroup>"*/-->
<!--/*@thymesVar id="surfaces" type="org.strangeforest.tcb.stats.model.core.Surface[]"*/-->
<!--/*@thymesVar id="surfaceGroups" type="org.strangeforest.tcb.stats.model.core.SurfaceGroup[]"*/-->
<!--/*@thymesVar id="speeds" type="org.strangeforest.tcb.stats.model.core.CourtSpeed[]"*/-->
<!--/*@thymesVar id="rounds" type="org.strangeforest.tcb.stats.model.core.Round[]"*/-->
<!--/*@thymesVar id="results" type="org.strangeforest.tcb.stats.model.core.EventResult[]"*/-->
<!--/*@thymesVar id="tournaments" type="java.util.List<org.strangeforest.tcb.stats.model.core.TournamentItem>"*/-->
<!--/*@thymesVar id="opponentCategories" type="java.util.Map<org.strangeforest.tcb.stats.service.Opponent.OpponentCategory, List<org.strangeforest.tcb.stats.service.Opponent>>"*/-->
<!--/*@thymesVar id="countries" type="java.util.List<com.neovisionaries.i18n.CountryCode>"*/-->
<head th:replace="fragments/head :: commonHead(~{::title/text()}, true, ~{::template})">
	<title>Statistics Leaders</title>
	<template>
	<meta name="description" content="Tennis statistics leaders by more than 80 figures filtered by various filters"/>
	<script type="text/javascript">
		$(function() {
			var $statsLeadersTable = $("#statsLeadersTable");
			var device = detectDevice();
			setBootgridColumnsWidths($statsLeadersTable, ["name"], [device === "xs" ? 200 : (device === "sm" ? 250 : (device === "md" ? 300 : 400))]);
			$statsLeadersTable.bootgrid({
				ajax: true,
				ajaxSettings: {
					method: "GET",
					cache: false
				},
				url: "/statsLeadersTable",
				requestHandler: function(request) {
					request.category = $("#category").val();
					request.season = $("#season").val();
					request.fromDate = $("#fromDate").val();
					request.toDate = $("#toDate").val();
					request.level = $("#level").val();
					request.bestOf = $("#bestOf").val();
					request.surface = $("#surface").val();
					request.indoor = $("#indoor").val();
					request.speed = $("#speed").val();
					request.round = $("#round").val();
					request.result = $("#result").val();
					request.tournamentId = $("#tournament").val();
					request.opponent = $("#opponent").val();
					request.countryId = $("#country").val();
					request.minEntries = $("#minEntriesOverride").val();
					var active = $("#active").prop("checked");
					if (active)
						request.active = active;
					return request;
				},
				rowCount: [20, 50, 100, -1],
				searchSettings: {
					delay: 300,
					characters: 2
				},
				formatters: {
					"country": countryFormatter,
					"player": playerFormatter,
					"value": function(column, row) {
						return "<a href='" + statisticsPlayerMatchesUrl(row.playerId) + "' title='Show matches'>" + row.value + "</a>";
					}
				},
				labels: {
					loading: bootgridTemplateLoading,
					noResults: "No statistics found"
				},
				templates: {
					paginationItem: bootgridTemplatePaginationItem
				}
			});
			var $search = $("#statsLeadersTable-header").find("div.search");
			$search.before($("#activeDiv").remove());
			$search.after($("#clearDiv").remove());
			categoryChanged();
			dateRangePicker("fromDate", "toDate", "[(${!seasons.empty ? (seasons.get(seasons.size()-1) + ':' + seasons.get(0)) : _})]");
			$("[data-toggle='tooltip']").tooltip();
		});
		function categoryChanged() {
			var $category = $("#category");
			$("#statsLeadersTable").find("th[data-column-id='value'] > a > span.text").html($category.find("option[value='" + $category.val() + "']").html());
			var url = "/statsLeadersMinEntries?category=" + $category.val();
			url += "&season=" + $("#season").val();
			var fromDate = getDate("fromDate", "from date");
			if (fromDate) url += "&fromDate=" + fromDate;
			else if (fromDate === null) return false;
			var toDate = getDate("toDate", "to date");
			if (toDate) url += "&toDate=" + toDate;
			else if (toDate === null) return false;
			url += "&level=" + $("#level").val();
			url += "&bestOf=" + $("#bestOf").val();
			url += "&surface=" + $("#surface").val();
			url += "&indoor=" + $("#indoor").val();
			url += "&speed=" + $("#speed").val();
			url += "&round=" + encodeURIComponent($("#round").val());
			url += "&result=" + encodeURIComponent($("#result").val());
			url += "&tournamentId=" + $("#tournament").val();
			url += "&opponent=" + $("#opponent").val();
			url += "&countryId=" + $("#country").val();
			var $minEntries = $("#minEntriesOverride");
			if (!validateNumber($minEntries))
				return false;
			var minEntries = $minEntries.val();
			if (minEntries && minEntries < 2) {
				$minEntries.tooltip({title: "Minimum entries must be greater or equal to 2", placement: "bottom"}).tooltip("show");
				$minEntries.focus();
				return false;
			}
			url += "&minEntries=" + minEntries;
			$.get(url, function (data) {
				$("#minEntries").html(data);
			});
			return true;
		}
		function reloadStatsLeaders() {
			if (categoryChanged())
				$("#statsLeadersTable").bootgrid("reload");
		}
		function dateFilterChanged() {
			var $active = $("#active");
			var hasDateFilter = $("#season").val() || $("#fromDate").val() || $("#toDate").val();
			if (hasDateFilter)
				$active.prop("checked", false);
			$active.prop("disabled", hasDateFilter);
		}
		function clearStatsLeadersFilter() {
			$("#season").val("");
			$("#fromDate").val("");
			$("#toDate").val(""); dateFilterChanged();
			$("#level").val("");
			$("#bestOf").val("");
			$("#surface").val("");
			$("#indoor").val("");
			$("#speed").val("");
			$("#round").val("");
			$("#result").val("");
			$("#opponent").val("");
			$("#tournament").val("");
			$("#country").val("");
			$("#minEntriesOverride").val("");
			$("#active").prop("checked", false);
			$("#statsLeadersTable").bootgrid("search", "");
			reloadStatsLeaders();
		}
	</script>
	</template>
</head>
<body class="container">
	<header th:include="fragments/header :: title"></header>
	<div class="row">
		<div class="col-md-8">
			<h3 class="text-nowrap" style="display: inline"><span class="glyphicon glyphicon-stats"></span> Statistics Leaders</h3>
		</div>
		<div class="col-md-4">
			<div class="input-group" data-toggle="tooltip" data-placement="top" title="Select statistics category">
				<label for="category" class="input-group-addon">Category:</label>
				<select id="category" class="form-control" onchange="reloadStatsLeaders()">
					<optgroup th:each="categoryClass : ${categoryClasses}" th:label="${categoryClass.key}" label="Serve">
						<option th:each="aCategory : ${categoryClass.value}" th:value="${aCategory.name}" value="aces" th:text="${aCategory.title}" th:title="#{__${aCategory.descriptionId}__}" th:selected="${aCategory.name == category}">Aces</option>
					</optgroup>
				</select>
			</div>
		</div>
	</div>
	<div class="row margin-top">
		<div class="col-md-2">
			<select id="season" class="form-control" onchange="dateFilterChanged(); reloadStatsLeaders()" data-toggle="tooltip" data-placement="top" title="Select career or filter by season">
				<option value="">Career</option>
				<option value="-1">Last 52 weeks</option>
				<option th:each="season : ${seasons}" th:value="${season}" value="2005" th:text="${season}">2005</option>
			</select>
		</div>
		<div class="col-md-2">
			<select id="level" class="form-control" onchange="reloadStatsLeaders()" data-toggle="tooltip" data-placement="top" title="Filter by tournament level">
				<option value="">All levels</option>
				<option th:each="level : ${levels}" th:value="${level.code}" th:class="|bg-level-${level.code}|" value="G" class="bg-level-G" th:text="${level.text}">Grand Slam</option>
				<option th:each="levelGroup : ${levelGroups}" th:value="${levelGroup.codes}" value="GFLMO" th:text="${levelGroup.text}">Big Tournaments</option>
			</select>
		</div>
		<div class="col-md-2">
			<select id="surface" class="form-control" onchange="reloadStatsLeaders()" data-toggle="tooltip" data-placement="top" title="Filter by surface">
				<option value="">All surfaces</option>
				<option th:each="surface : ${surfaces}" th:value="${surface.code}" th:class="|bg-surface-${surface.code}|" value="H" class="bg-surface-H" th:text="${surface.text}">Hard</option>
				<option th:each="surfaceGroup : ${surfaceGroups}" th:value="${surfaceGroup.codes}" value="HGP" th:text="${surfaceGroup.text}">Fast (H, G, Cp)</option>
			</select>
		</div>
		<div class="col-md-2">
			<select id="round" class="form-control" onchange="reloadStatsLeaders()" data-toggle="tooltip" data-placement="top" title="Filter by round">
				<option value="">All rounds</option>
				<option th:each="round : ${rounds}" th:value="${round.code}" th:class="|bg-result-${round.baseCode}|" value="F" class="bg-result-F" th:text="${round.text}">Final</option>
			</select>
		</div>
		<div class="col-md-2">
			<select id="opponent" class="form-control" onchange="reloadStatsLeaders()" data-toggle="tooltip" data-placement="top" title="Filter by opponent">
				<option value="">Vs all</option>
				<optgroup th:each="opponentCategory : ${opponentCategories}" th:label="${opponentCategory.key.text}" label="Rank">
					<option th:each="opponent : ${opponentCategory.value}" th:value="${opponent}" value="NO_1" th:text="${opponent.text}">Vs No. 1</option>
				</optgroup>
			</select>
		</div>
		<div class="col-md-2">
			<div class="pull-right" data-toggle="tooltip" data-placement="auto" title="Advanced filters">
				<button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#advancedFilter">
					<i class="fa fa-folder-open"></i>&nbsp;&nbsp;Adv.&nbsp;&nbsp;<i class="fa fa-chevron-down"></i>
				</button>
			</div>
		</div>
	</div>
	<div id="advancedFilter" class="collapse">
		<div class="row margin-top">
			<div class="col-md-4">
				<div id="dateRange" class="input-group">
					<label for="fromDate" class="input-group-addon">From:</label>
					<input id="fromDate" type="text" maxlength="10" class="form-control" onchange="dateFilterChanged(); reloadStatsLeaders()"/>
					<label for="toDate" class="input-group-addon">To:</label>
					<input id="toDate" type="text" maxlength="10" class="form-control" onchange="dateFilterChanged(); reloadStatsLeaders()"/>
				</div>
			</div>
			<div class="col-md-2">
				<select id="indoor" class="form-control" onchange="reloadStatsLeaders()" data-toggle="tooltip" data-placement="top" title="Filter by outdoor / indoor">
					<option value="">Outdoor / Indoor</option>
					<option value="false">Outdoor</option>
					<option value="true">Indoor</option>
				</select>
			</div>
			<div class="col-md-2">
				<select id="result" class="form-control" onchange="reloadStatsLeaders()" data-toggle="tooltip" data-placement="top" title="Filter by tournament result">
					<option value="">All results</option>
					<option th:each="aResult : ${results}" th:value="${aResult.code}" th:class="|bg-result-${aResult.baseCode}|" value="W" class="bg-result-W" th:text="${aResult.text}">Win</option>
				</select>
			</div>
			<div class="col-md-3">
				<select id="country" class="form-control" onchange="reloadStatsLeaders()" data-toggle="tooltip" data-placement="top" title="Filter by opponent country">
					<option value="">Vs all countries</option>
					<option th:each="country : ${countries}" th:value="${country.alpha3}" value="SUI" th:text="${country.name}">Switzerland</option>
				</select>
			</div>
		</div>
		<div class="row margin-top">
			<div class="col-md-2">
				<select id="bestOf" class="form-control" onchange="reloadStatsLeaders()" data-toggle="tooltip" data-placement="top" title="Filter by best of">
					<option value="">Best of any</option>
					<option value="3">Best of 3</option>
					<option value="5">Best of 5</option>
				</select>
			</div>
			<div class="col-md-2">
				<select id="speed" class="form-control" onchange="reloadStatsLeaders()" data-toggle="tooltip" data-placement="top" title="Filter by court speed">
					<option value="">All speeds</option>
					<option th:each="aSpeed : ${speeds}" th:value="${aSpeed.speed}" th:class="|points-${aSpeed.speed}|" style="color: white" value="50" class="points-50" th:text="${aSpeed.text}">Medium</option>
				</select>
			</div>
			<div class="col-md-3">
				<select id="tournament" class="form-control" onchange="reloadStatsLeaders()" data-toggle="tooltip" data-placement="top" title="Filter by tournament">
					<option value="">All tournaments</option>
					<option th:each="tournament : ${tournaments}" th:if="${tournament.level != 'D' and tournament.level != 'T'}" th:value="${tournament.id}" value="101" th:text="${tournament.name}" th:class="'bg-level-' + ${tournament.level}">Wimbledon</option>
				</select>
			</div>
			<div class="col-md-3">
				<div class="input-group" data-toggle="tooltip" data-placement="top" title="Override minimum entries">
					<label for="minEntriesOverride" class="input-group-addon">Min. entries:</label>
					<input id="minEntriesOverride" type="text" size="8" class="form-control" oninput="reloadStatsLeaders()" onchange="reloadStatsLeaders()"/>
				</div>
			</div>
		</div>
	</div>
	<div id="activeDiv" class="btn-group margin-right">
		<div class="checkbox">
			<label data-toggle="tooltip" data-placement="top" title="Show only active players">
				<input id="active" type="checkbox" onchange="reloadStatsLeaders()"/> Active
			</label>
		</div>
	</div>
	<div id="clearDiv" class="btn-group margin-right">
		<button type="button" class="btn btn-default" onclick="clearStatsLeadersFilter()" data-toggle="tooltip" data-placement="top" title="Clear all filters">
			<i class="fa fa-eraser"></i>&nbsp;&nbsp;Clear
		</button>
	</div>
	<table id="statsLeadersTable" class="table table-condensed table-hover table-striped">
		<thead>
		<tr>
			<th data-column-id="rank" data-type="numeric" data-sortable="false" data-width="65">Rank</th>
			<th data-column-id="country" data-formatter="country" data-sortable="false" data-width="85">Country</th>
			<th data-column-id="name" data-formatter="player" data-sortable="false" data-width="250">Name</th>
			<th data-column-id="value" data-formatter="value" data-order="desc" data-width="200" data-align="right" data-header-align="right">Value</th>
		</tr>
		</thead>
	</table>
	<p><i>* Minimum <span id="minEntries">100 matches</span></i></p>
	<th:block th:include="fragments/deviceDetector :: deviceDetectors"/>
	<footer th:include="fragments/footer :: copy"></footer>
</body>
</html>