<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="categoryClasses" type="java.util.Map<java.lang.String, java.util.List<org.strangeforest.tcb.stats.model.StatsCategory>>"*/-->
<!--/*@thymesVar id="categoryTypes" type="java.util.Map<java.lang.String, java.lang.String>"*/-->
<!--/*@thymesVar id="surfaces" type="org.strangeforest.tcb.stats.model.Surface[]"*/-->
<!--/*@thymesVar id="seasons" type="java.util.List<java.lang.Integer>"*/-->
<head th:replace="fragments/head :: commonHead(~{::title/text()}, false, ~{::script}, ~{::style})">
	<title>Statistics Chart</title>
	<script th:src="@{/js/tennis-chart.js}"></script>
	<script type="text/javascript" src="https://www.google.com/jsapi"></script>
	<script type="text/javascript" th:inline="javascript">
		google.load("visualization", "1.0", {packages:["corechart"]});
		var chartData, pointCount, isPct, legendPosition;
		var categoryTypes = [[${categoryTypes}]];
		function drawChart() {
			var players = $.trim($("#players").val());
			if (getPlayerCount(players) >= 1)
				doDrawChart();
			else
				$("#statsChart").html("<div class='row'><div class='col-md-10'><div class='alert alert-warning'>No player selected!</div></div></div>");
		}
		function doDrawChart() {
			var players = $("#players").val();
			var category = $("#category").val();
			var dataUrl = "/playerStatisticsTable?players=" + players + "&category=" + category + "&surface=" + $("#surface").val();
			dataUrl += "&fromSeason=" + $("#fromSeason").val() + "&toSeason=" + $("#toSeason").val();
			dataUrl += "&byAge=" + $("#byAge").prop("checked");
			$("#statsChart").html("");
			var $loading = $("#loading");
			$loading.show();
			$.ajax(dataUrl).done(function(json) {
				chartData = new google.visualization.DataTable(JSON.stringify(json));
				pointCount = json.rows.length;
				isPct = categoryTypes[category] == "PERCENTAGE";
				legendPosition = json.cols.length < 4 ? "bottom" : "right";
				var width = $("#statsChartSize").slider("value");
				showStatsChart(chartData, "statsChart", width, pointCount, isPct, legendPosition);
			}).always(function() {
				$loading.hide().css("position", "absolute").css("z-index", "100");
			});
		}
		$(function() {
			autocompletePlayers("players", drawChart);
			$("#statsChartSize").slider({
				min: 500,
				max: 1500,
				value: defaultChartSize(detectDevice()),
				step: 50,
				slide: function(event, ui) {
					showStatsChart(chartData, "statsChart", ui.value, pointCount, isPct, legendPosition);
				}
			});
			onSeasonRangeChange();
			$("[data-toggle='tooltip']").tooltip();
		});
		function onSeasonRangeChange() {
			$("#byAgeDiv").css("display", $("#fromSeason").val() == "" && $("#toSeason").val() == "" ? "block" : "none");
		}
	</script>
	<style>
		.checkbox {
			margin-top: 7px;
			margin-bottom: 7px;
		}
	</style>
</head>
<body class="container">
	<header th:include="fragments/header :: title"></header>
	<h3>Statistics Chart</h3>
	<div class="row">
		<div class="col-md-10">
			<div class="input-group">
				<label for="players" class="input-group-addon">Players:</label>
				<input id="players" type="text" class="ui-widget search-field form-control" placeholder="Search Players"/>
				<div class="input-group-btn" th:include="fragments/playerQuickPicks :: quickPicks"></div>
			</div>
		</div>
	</div>
	<div style="height: 5px"></div>
	<div class="row">
		<div class="col-md-4">
			<div class="input-group">
				<label for="category" class="input-group-addon">Category:</label>
				<select id="category" class="form-control">
					<optgroup th:each="categoryClass : ${categoryClasses}" th:label="${categoryClass.key}" label="Serve">
						<option th:each="category : ${categoryClass.value}" th:value="${category.name}" value="aces" th:text="${category.title}" th:title="#{__${category.descriptionId}__}">Aces</option>
					</optgroup>
				</select>
			</div>
		</div>
		<div class="col-md-3">
			<div class="input-group">
				<label for="surface" class="input-group-addon">Surface:</label>
				<select id="surface" class="form-control">
					<option value="">All surfaces</option>
					<option th:each="surface : ${surfaces}" th:value="${surface.code}" th:class="|bg-surface-${surface.code}|" value="H" class="bg-surface-H" th:text="${surface.text}">Hard</option>
				</select>
			</div>
		</div>
	</div>
	<div style="height: 5px"></div>
	<div class="row">
		<div class="col-md-4">
			<div class="input-group">
				<label for="fromSeason" class="input-group-addon">From:</label>
				<select id="fromSeason" class="form-control" onchange="onSeasonRangeChange()">
					<option value="">All seasons</option>
					<option th:each="season : ${seasons}" th:value="${season}" value="2005" th:text="${season}">2005</option>
				</select>
				<label for="toSeason" class="input-group-addon">To:</label>
				<select id="toSeason" class="form-control" onchange="onSeasonRangeChange()">
					<option value="">All seasons</option>
					<option th:each="season : ${seasons}" th:value="${season}" value="2005" th:text="${season}">2005</option>
				</select>
			</div>
		</div>
		<div class="col-md-2">
			<div id="byAgeDiv" class="checkbox">
				<label data-toggle="tooltip" data-placement="top" title="Show chart by age">
					<input id="byAge" type="checkbox"/> By age
				</label>
			</div>
		</div>
		<div class="col-md-2">
			<div id="statsChartSize" style="margin-top: 6px"></div>
			<div style="text-align: center; opacity: 0.5">Chart size</div>
		</div>
		<div class="col-md-2">
			<a class="btn btn-primary pull-right" href="#" role="button" onclick="drawChart()">
				<span class="glyphicon glyphicon-signal"></span>&nbsp;&nbsp;Draw Chart
			</a>
		</div>
	</div>
	<div class="row">
		<div class="row col-md-10 text-center">
			<div id="loading" style="width: 100%; display: none">
				<br/>
				<img src="/images/loading.gif" width="128" height="128" alt="Loading chart..."/>
				<br/>
			</div>
		</div>
	</div>
	<div id="statsChart"></div>
	<th:block th:include="fragments/deviceDetector :: deviceDetectors"/>
	<footer th:include="fragments/footer :: copy"></footer>
</body>
</html>