<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--@thymesVar id="seasons" type="java.util.List<java.lang.Integer>"-->
<!--@thymesVar id="surfaces" type="java.util.List<org.strangeforest.tcb.stats.model.Option>"-->
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<title>Ultimate Tennis Statistics - Statistics Leaders</title>
	<link th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
	<link th:href="@{/webjars/jquery-ui-themes/1.11.4/smoothness/jquery-ui.css}" rel="stylesheet" media="screen"/>
	<link th:href="@{/webjars/jquery.bootgrid/1.2.0/dist/jquery.bootgrid.min.css}" rel="stylesheet" media="screen"/>
	<link th:href="@{/css/tennis-stats.css}" rel="stylesheet" media="screen"/>
	<script th:src="@{/webjars/jquery/2.2.1/jquery.min.js}"></script>
	<script th:src="@{/webjars/jquery-ui/1.11.4/jquery-ui.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}"></script>
	<script th:src="@{/webjars/jquery.bootgrid/1.2.0/dist/jquery.bootgrid.min.js}"></script>
	<script th:src="@{/js/tennis-stats.js}"></script>
	<script type="text/javascript">
		/*<![CDATA[*/
		$(function() {
			$("#statsLeadersTable").bootgrid({
				ajax: true,
				ajaxSettings: {
					method: "GET",
					cache: false
				},
				url: "/statsLeadersTable",
				requestHandler: function (request) {
					request.category = $("#category").val();
					var season = $("#season").val();
					if (season != "")
						request.season = season;
					var surface = $("#surface").val();
					if (surface != "")
						request.surface = surface;
					return request;
				},
				rowCount: [10, 20, 50, -1],
				searchSettings: {
					delay: 300,
					characters: 2
				},
				formatters: {
					"country": countryFormatter,
					"player": playerFormatter
				}
			});
			$("#statsLeadersTable-header").find("div.search").before($("#categoryDiv").remove()).before($("#seasonDiv").remove()).before($("#surfaceDiv").remove());
			categoryChanged();
			$("[data-toggle='tooltip']").tooltip();
		});
		function categoryChanged() {
			var $category = $("#category");
			$("#statsLeadersTable").find("th[data-column-id='value'] > a > span.text").html($category.find("option[value='" + $category.val() + "']").html());
			var url = "/statsLeadersMinEntries?category=" + $category.val();
			var season = $("#season").val();
			if (season != "")
				url += "&season=" + season;
			var surface = $("#surface").val();
			if (surface != "")
				url += "&surface=" + surface;
			$.get(url, function (data) {
				$("#minEntries").html(data);
			});
		}
		function reloadStatsLeaders() {
			categoryChanged();
			$("#statsLeadersTable").bootgrid("reload");
		}
		/*]]>*/
	</script>
</head>
<body class="container">
	<div th:include="fragments/header :: title"></div>
	<h3 class="grid-title">Statistics Leaders</h3>
	<div id="categoryDiv" class="btn-group" style="margin-right: 20px">
		<select id="category" class="form-control" onchange="reloadStatsLeaders()" data-toggle="tooltip" data-placement="top" title="Select statistics category">
			<optgroup label="Serve">
				<option value="aces" selected="selected">Aces</option>
				<option value="acePct">Ace %</option>
				<option value="doubleFaultPct">Double Fault %</option>
				<option value="firstServePct">1st Serve</option>
				<option value="firstServeWonPct">1st Serve Won</option>
				<option value="secondServeWonPct">2nd Serve Won</option>
				<option value="breakPointsSavedPct">Break Points Saved</option>
				<option value="servicePointsWonPct">Service Pts. Won</option>
				<option value="serviceGamesWonPct">Service Games Won</option>
			</optgroup>
			<optgroup label="Return">
				<option value="aceAgainstPct">Ace Against %</option>
				<option value="doubleFaultAgainstPct">Dbl. Flt. Against %</option>
				<option value="firstServeReturnWonPct">1st Srv. Rtn. Won</option>
				<option value="secondServeReturnWonPct">2nd Srv. Rtn. Won</option>
				<option value="breakPointsPct">Break Points</option>
				<option value="returnPointsWonPct">Return Pts. Won</option>
				<option value="returnGamesWonPct">Return Games Won</option>
			</optgroup>
			<optgroup label="Total">
				<option value="pointsDominanceRatio" th:title="#{stats.pointsDominanceRatio.title}">Points Dominance</option>
				<option value="gamesDominanceRatio" th:title="#{stats.gamesDominanceRatio.title}">Games Dominance</option>
				<option value="breakPointsRatio" th:title="#{stats.breakPointsRatio.title}">Brk. Pts. Ratio</option>
				<option value="overPerformingRatio" th:title="#{stats.overPerformingRatio.title}">Over-Performing</option>
				<option value="totalPointsWonPct">Total Pts. Won</option>
				<option value="totalGamesWonPct">Total Games Won</option>
				<option value="setsWonPct">Sets Won</option>
				<option value="matchesWonPct">Matches Won</option>
			</optgroup>
		</select>
	</div>
	<div id="seasonDiv" class="btn-group" style="margin-right: 20px">
		<select id="season" class="form-control" onchange="reloadStatsLeaders()" data-toggle="tooltip" data-placement="top" title="Select career or season">
			<option value="">Career</option>
			<option th:each="season : ${seasons}" th:value="${season}" value="2005" th:text="${season}">2005</option>
		</select>
	</div>
	<div id="surfaceDiv" class="btn-group" style="margin-right: 20px">
		<select id="surface" class="form-control" onchange="reloadStatsLeaders()" data-toggle="tooltip" data-placement="top" title="Select surface">
			<option value="">All surfaces</option>
			<option th:each="option : ${surfaces}" th:value="${option.value}" th:class="|bg-surface-${option.value}|" value="H" class="bg-surface-H" th:text="${option.text}">Hard</option>
		</select>
	</div>
	<table id="statsLeadersTable" class="table table-condensed table-hover table-striped">
		<thead>
			<tr>
				<th data-column-id="rank" data-type="numeric" data-sortable="false" data-width="55">Rank</th>
				<th data-column-id="country" data-formatter="country" data-sortable="false" data-width="70">Country</th>
				<th data-column-id="name" data-formatter="player" data-sortable="false" data-width="200">Name</th>
				<th data-column-id="value" data-order="desc" data-width="100" data-align="right" data-header-align="right">Value</th>
			</tr>
		</thead>
	</table>
	<p><i>* Minimum <span id="minEntries">100 matches</span></i></p>
	<div th:include="fragments/footer :: copy"></div>
</body>
</html>