<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="indoor" type="java.lang.Boolean"*/-->
<!--/*@thymesVar id="timeline" type="java.util.List<org.strangeforest.tcb.stats.model.SurfaceTimelineItem>"*/-->
<head th:replace="fragments/head :: commonHead(~{::title/text()}, false, ~{::template})">
	<title>Surface Timeline</title>
	<template>
	<meta name="description" content="Tennis surfaces usage through time"/>
	<script type="text/javascript">
		$(function() {
			$("[data-toggle='tooltip']").tooltip();
			$("#surfaceTimelineBody td.court-speed").each(function() {
				var $speed = $(this);
				$speed.html(formatSpeed($speed.data("speed")));
			});
		});
		function indoorChanged() {
			window.location.href = "/surfaceTimeline?indoor=" + $("#indoor").prop("checked");
		}
	</script>
	<style type="text/css">
		div.progress-bar > a {
			color: white;
		}
		.progress {
			margin-bottom: 0;
		}
		.table-condensed > tbody > tr > th {
			padding: 3px 5px;
		}
		.table-condensed > tbody > tr > td {
			padding: 3px;
		}
	</style>
	</template>
</head>
<body class="container">
	<header th:include="fragments/header :: title"></header>
	<h3><i class="fa fa-paw"></i> Surface Timeline</h3>
	<table class="table table-condensed table-hover table-bordered text-nowrap">
		<thead>
			<tr>
				<th width="80px">Season</th>
				<th>
					<div class="pull-left">Surfaces</div>
					<div class="checkbox pull-right" style="margin: 0 5px">
						<label data-toggle="tooltip" data-placement="top" onchange="indoorChanged()" title="Distinguish hard outdoor / indoor">
							<input id="indoor" type="checkbox" th:checked="${indoor}"/> Indoor
						</label>
					</div>
				</th>
				<th class="text-center" width="60px" th:title="#{event.courtSpeed.title}">Speed</th>
			</tr>
		</thead>
		<tbody id="surfaceTimelineBody">
			<tr th:each="item : ${timeline}">
				<th th:if="${item.season > 0}">
					<a th:href="@{/tournamentEvents(season=${item.season})}" title="Show season tournaments" th:text="${item.season}">2005</a>
				</th>
				<th th:if="${item.season == 0}">
					<a href="/tournamentEvents" title="Show tournaments">Total</a>
				</th>
				<td>
					<div class="progress">
						<div th:unless="${indoor}" class="progress-bar progress-bar-default" role="progressbar" th:style="|width: ${item.hardPct}|" data-toggle="tooltip" data-placement="top" th:title="|Hard ${item.hardPct}|">
							<a th:href="@{/tournamentEvents(season=${item.season > 0 ? item.season : _}, surface=H)}" title="Show hard tournaments"><strong th:text="${item.hardPct}">25.0%</strong></a>
						</div>
						<div th:if="${indoor}" class="progress-bar progress-bar-default" role="progressbar" th:style="|width: ${item.hardOutdoorPct}|" data-toggle="tooltip" data-placement="top" th:title="|Outdoor Hard ${item.hardOutdoorPct}|">
							<a th:href="@{/tournamentEvents(season=${item.season > 0 ? item.season : _}, surface=H, indoor=false)}" title="Show outdoor hard tournaments"><strong th:text="${item.hardOutdoorPct}">15.0%</strong></a>
						</div>
						<div th:if="${indoor}" class="progress-bar progress-bar-info" role="progressbar" th:style="|width: ${item.hardIndoorPct}|" data-toggle="tooltip" data-placement="top" th:title="|Indoor Hard ${item.hardIndoorPct}|">
							<a th:href="@{/tournamentEvents(season=${item.season > 0 ? item.season : _}, surface=H, indoor=true)}" title="Show indoor hard tournaments"><strong th:text="${item.hardIndoorPct}">25.0%</strong></a>
						</div>
						<div class="progress-bar progress-bar-warning" role="progressbar" th:style="|width: ${item.carpetPct}|" data-toggle="tooltip" data-placement="top" th:title="|Carpet ${item.carpetPct}|">
							<a th:href="@{/tournamentEvents(season=${item.season > 0 ? item.season : _}, surface=P)}" title="Show carpet tournaments"><strong th:text="${item.carpetPct}">25.0%</strong></a>
						</div>
						<div class="progress-bar progress-bar-danger" role="progressbar" th:style="|width: ${item.clayPct}|" data-toggle="tooltip" data-placement="top" th:title="|Clay ${item.clayPct}|">
							<a th:href="@{/tournamentEvents(season=${item.season > 0 ? item.season : _}, surface=C)}" title="Show clay tournaments"><strong th:text="${item.clayPct}">25.0%</strong></a>
						</div>
						<div class="progress-bar progress-bar-success" role="progressbar" th:style="|width: ${item.grassPct}|" data-toggle="tooltip" data-placement="top" th:title="|Grass ${item.grassPct}|">
							<a th:href="@{/tournamentEvents(season=${item.season > 0 ? item.season : _}, surface=G)}" title="Show grass tournaments"><strong th:text="${item.grassPct}">25.0%</strong></a>
						</div>
					</div>
				</td>
				<td class="court-speed text-center" th:data-speed="${item.speed}"></td>
			<tr>
		</tbody>
	</table>
	<footer th:include="fragments/footer :: copy"></footer>
</body>
</html>