<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="category" type="java.lang.String"*/-->
<!--/*@thymesVar id="categoryClasses" type="java.util.Map<java.lang.String, java.util.List<org.strangeforest.tcb.stats.model.StatsCategory>>"*/-->
<!--/*@thymesVar id="seasons" type="java.util.List<java.lang.Integer>"*/-->
<!--/*@thymesVar id="levels" type="java.util.EnumSet<org.strangeforest.tcb.stats.model.TournamentLevel>"*/-->
<!--/*@thymesVar id="levelGroups" type="java.util.EnumSet<org.strangeforest.tcb.stats.model.TournamentLevelGroup>"*/-->
<!--/*@thymesVar id="surfaces" type="org.strangeforest.tcb.stats.model.Surface[]"*/-->
<!--/*@thymesVar id="surfaceGroups" type="org.strangeforest.tcb.stats.model.SurfaceGroup[]"*/-->
<head th:replace="fragments/head :: commonHead(~{::title/text()}, true, ~{::script}, _)">
	<title>Top Performers</title>
	<script type="text/javascript">
		$(function() {
			var $topPerformersTable = $("#topPerformersTable");
			var device = detectDevice();
			setBootgridColumnsVisible($topPerformersTable, ["won", "lost", "played"], deviceGreaterOrEqual(device, "sm"));
			setBootgridColumnsWidths($topPerformersTable, ["name"], [device == "xs" ? 200 : (device == "sm" ? 250 : (device == "md" ? 300 : 400))]);
			$topPerformersTable.bootgrid({
				ajax: true,
				ajaxSettings: {
					method: "GET",
					cache: false
				},
				url: "/topPerformersTable",
				requestHandler: function(request) {
					request.category = $("#category").val();
					var season = $("#season").val();
					if (season)
						request.season = season;
					var level = $("#level").val();
					if (level)
						request.level = level;
					var surface = $("#surface").val();
					if (surface)
						request.surface = surface;
					var active = $("#active").prop("checked");
					if (active)
						request.active = active;
					return request;
				},
				rowCount: [20, 50, 100, -1],
				searchSettings: {
					delay: 300,
					characters: 2
				},
				formatters: {
					"country": countryFormatter,
					"player": playerFormatter
				},
				labels: {
					loading: bootgridTemplateLoading,
					noResults: "No performance results found"
				},
				templates: {
					paginationItem: bootgridTemplatePaginationItem
				}
			});
			var $search = $("#topPerformersTable-header").find("div.search");
			$search.before($("#activeDiv").remove());
			$search.after($("#clearDiv").remove());
			categoryChanged();
			$("[data-toggle='tooltip']").tooltip();
		});
		function categoryChanged() {
			var $category = $("#category");
			$("#topPerformersTable").find("th[data-column-id='wonLostPct'] > a > span.text").html($category.find("option[value='" + $category.val() + "']").html());
			var url = "/topPerformersMinEntries?category=" + $category.val();
			var season = $("#season").val();
			if (season)
				url += "&season=" + season;
			var level = $("#level").val();
			if (level)
				url += "&level=" + level;
			var surface = $("#surface").val();
			if (surface)
				url += "&surface=" + surface;
			$.get(url, function (data) {
				$("#minEntries").html(data);
			});
		}
		function reloadTopPerformers() {
			categoryChanged();
			$("#topPerformersTable").bootgrid("reload");
		}
		function seasonChanged() {
			var $active = $("#active");
			var forSeason = $("#season").val() != "";
			if (forSeason)
				$active.prop("checked", false);
			$active.prop("disabled", forSeason);
			reloadTopPerformers();
		}
		function levelChanged() {
			var forLevel = $("#level").val() != "";
			var $category = $("#category");
			$category.find("option.level-category").each(function() {
				var $this = $(this);
				if ($this.is(':selected'))
					$category.val("matches");
				$this.css("display", forLevel ? "none" : "block");
			});
			reloadTopPerformers();
		}
		function surfaceChanged() {
			var forSurface = $("#surface").val() != "";
			var $category = $("#category");
			$category.find("option.surface-category").each(function() {
				var $this = $(this);
				if ($this.is(':selected'))
					$category.val("matches");
				$this.css("display", forSurface ? "none" : "block");
			});
			$category.find("optgroup[label='Surface Performance']").css("display", forSurface ? "none" : "block");
			reloadTopPerformers();
		}
		function clearTopPerformersFilter() {
			$("#season").val("");
			$("#level").val("");
			$("#surface").val("");
			var $active = $("#active");
			$active.prop("checked", false);
			$active.prop("disabled", false);
			$("#topPerformersTable").bootgrid("search", "");
			reloadTopPerformers();
		}
	</script>
</head>
<body class="container">
	<header th:include="fragments/header :: title"></header>
	<div class="row">
		<div class="col-md-3">
			<h3 class="text-nowrap" style="display: inline">Top Performers</h3>
		</div>
		<div class="col-md-3">
			<select id="category" class="form-control" onchange="reloadTopPerformers()" data-toggle="tooltip" data-placement="top" title="Select performance category">
				<optgroup th:each="categoryClass : ${categoryClasses}" th:label="${categoryClass.key}" label="Performance">
					<option th:each="aCategory : ${categoryClass.value}" th:value="${aCategory.name}" value="matches" th:class="${aCategory.cssClass}" th:text="${aCategory.title}" th:selected="${aCategory.name == category}">Overall Matches</option>
				</optgroup>
			</select>
		</div>
		<div class="col-md-2">
			<select id="season" class="form-control" onchange="seasonChanged()" data-toggle="tooltip" data-placement="top" title="Select career or season">
				<option value="">Career</option>
				<option th:each="season : ${seasons}" th:value="${season}" value="2005" th:text="${season}">2005</option>
			</select>
		</div>
		<div class="col-md-2">
			<select id="level" class="form-control" onchange="levelChanged()" data-toggle="tooltip" data-placement="top" title="Filter by tournament level">
				<option value="">All levels</option>
				<option th:each="level : ${levels}" th:value="${level.code}" th:class="|bg-level-${level.code}|" value="G" class="bg-level-G" th:text="${level.text}">Grand Slam</option>
				<option th:each="levelGroup : ${levelGroups}" th:value="${levelGroup.codes}" value="GFMO" th:text="${levelGroup.text}">Big Tournaments</option>
			</select>
		</div>
		<div class="col-md-2">
			<select id="surface" class="form-control" onchange="surfaceChanged()" data-toggle="tooltip" data-placement="top" title="Filter by surface">
				<option value="">All surfaces</option>
				<option th:each="surface : ${surfaces}" th:value="${surface.code}" th:class="|bg-surface-${surface.code}|" value="H" class="bg-surface-H" th:text="${surface.text}">Hard</option>
				<option th:each="surfaceGroup : ${surfaceGroups}" th:value="${surfaceGroup.codes}" value="HGP" th:text="${surfaceGroup.text}">Fast (H, G, Cp)</option>
			</select>
		</div>
	</div>
	<div id="activeDiv" class="btn-group margin-right">
		<div class="checkbox">
			<label data-toggle="tooltip" data-placement="top" title="Show only active players">
				<input id="active" type="checkbox" onchange="reloadTopPerformers()"/> Active
			</label>
		</div>
	</div>
	<div id="clearDiv" class="btn-group margin-right">
		<button type="button" class="btn btn-default" onclick="clearTopPerformersFilter()" data-toggle="tooltip" data-placement="top" title="Clear all filters">
			<span class="glyphicon glyphicon-erase"></span>
		</button>
	</div>
	<table id="topPerformersTable" class="table table-condensed table-hover table-striped">
		<thead>
		<tr>
			<th data-column-id="rank" data-type="numeric" data-sortable="false" data-width="65">Rank</th>
			<th data-column-id="country" data-formatter="country" data-sortable="false" data-width="85">Country</th>
			<th data-column-id="name" data-formatter="player" data-sortable="false" data-width="250">Name</th>
			<th data-column-id="wonLostPct" data-order="desc" data-width="175" data-align="right" data-header-align="right">Pct.</th>
			<th data-column-id="won" data-type="numeric" data-width="70" data-align="right" data-header-align="right">Won</th>
			<th data-column-id="lost" data-type="numeric" data-width="70" data-align="right" data-header-align="right">Lost</th>
			<th data-column-id="played" data-type="numeric" data-width="75" data-align="right" data-header-align="right">Played</th>
		</tr>
		</thead>
	</table>
	<p><i>* Minimum <span id="minEntries">100 matches</span></i></p>
	<th:block th:include="fragments/deviceDetector :: deviceDetectors"/>
	<footer th:include="fragments/footer :: copy"></footer>
</body>
</html>