<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--@thymesVar id="seasons" type="java.util.List<java.lang.Integer>"-->
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<title>Ultimate Tennis Statistics - Top Performers</title>
	<link th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
	<link th:href="@{/webjars/jquery.bootgrid/1.2.0/dist/jquery.bootgrid.min.css}" rel="stylesheet" media="screen"/>
	<link th:href="@{/css/tennis-stats.css}" rel="stylesheet" media="screen"/>
	<script th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/3.3.5/js/bootstrap.min.js}"></script>
	<script th:src="@{/webjars/jquery.bootgrid/1.2.0/dist/jquery.bootgrid.min.js}"></script>
	<script th:src="@{/js/formatters.js}"></script>
	<script type="text/javascript">
		/*<![CDATA[*/
		$(function() {
			$("#topPerformersTable").bootgrid({
				ajax: true,
				ajaxSettings: {
					method: "GET",
					cache: false
				},
				url: "/topPerformersTable",
				requestHandler: function (request) {
					request.category = $("#category").val();
					var season = $("#season").val();
					if (season != "")
						request.season = season;
					return request;
				},
				rowCount: [10, 20, 50, -1],
				searchSettings: {
					delay: 300,
					characters: 2
				},
				formatters: {
					"country": countryFormatter,
					"player": playerFormatter
				}
			});
			var $topPerformersTableHeader = $("#topPerformersTable-header");
			$topPerformersTableHeader.find("div.search").before($("#categoryDiv").remove()).before($("#seasonDiv").remove());
			categoryChanged();
			$("[data-toggle='tooltip']").tooltip();
		});
		function categoryChanged() {
			var $category = $("#category");
			$("#topPerformersTable").find("th[data-column-id='wonLostPct'] > a > span.text").html($category.find("option[value='" + $category.val() + "']").html());
			var url = "/topPerformersMinEntries?category=" + $category.val();
			var season = $("#season").val();
			if (season != "")
				url += "&season=" + season;
			$.get(url, function (data) {
				$("#minEntries").html(data);
			});
		}
		function reloadTopPerformers() {
			categoryChanged();
			$("#topPerformersTable").bootgrid("reload");
		}
		/*]]>*/
	</script>
</head>
<body class="container">
	<div th:include="/fragments/header :: title"></div>
	<h3 style="position: absolute">Top Performers</h3>
	<div id="categoryDiv" class="btn-group" style="margin-right: 20px">
		<select id="category" class="form-control" onchange="reloadTopPerformers()" data-toggle="tooltip" data-placement="top" title="Select performance category">
			<optgroup label="Performance">
				<option value="matches" selected="selected">Overall</option>
				<option value="grand_slam_matches">Grand Slam</option>
				<option value="masters_matches">Masters</option>
				<option value="hard_matches" class="bg-surface-H">Hard</option>
				<option value="clay_matches" class="bg-surface-C">Clay</option>
				<option value="grass_matches" class="bg-surface-G">Grass</option>
				<option value="carpet_matches" class="bg-surface-P">Carpet</option>
			</optgroup>
			<optgroup label="Pressure situations">
				<option value="deciding_sets">Deciding Set</option>
				<option value="fifth_sets">5th Set</option>
				<option value="finals">Finals</option>
				<option value="vs_top10">Vs Top 10</option>
				<option value="after_winning_first_set">After Winning 1st Set</option>
				<option value="after_losing_first_set">After Losing 1st Set</option>
				<option value="tie_breaks">Tie breaks</option>
			</optgroup>
		</select>
	</div>
	<div id="seasonDiv" class="btn-group" style="margin-right: 20px">
		<select id="season" class="form-control" onchange="reloadTopPerformers()" data-toggle="tooltip" data-placement="top" title="Select career or season">
			<option value="">Career</option>
			<option th:each="season : ${seasons}" th:value="${season}" value="2005" th:text="${season}">2005</option>
		</select>
	</div>
	<table id="topPerformersTable" class="table table-condensed table-hover table-striped">
		<thead>
			<tr>
				<th data-column-id="rank" data-type="numeric" data-sortable="false" data-width="55">Rank</th>
				<th data-column-id="country" data-formatter="country" data-sortable="false" data-width="70">Country</th>
				<th data-column-id="name" data-formatter="player" data-sortable="false" data-width="200">Name</th>
				<th data-column-id="wonLostPct" data-order="desc" data-width="100" data-align="right" data-header-align="right">Pct.</th>
				<th data-column-id="won" data-type="numeric" data-width="80" data-align="right" data-header-align="right">Won</th>
				<th data-column-id="lost" data-type="numeric" data-width="80" data-align="right" data-header-align="right">Lost</th>
			</tr>
		</thead>
	</table>
	<p><i>* Minimum <span id="minEntries">100 matches</span></i></p>
	<div th:include="/fragments/footer :: copy"></div>
</body>
</html>