<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="versions" type="java.util.Map<String, String>"*/-->
<!--/*@thymesVar id="categoryClasses" type="java.util.Map<java.lang.String, java.util.List<org.strangeforest.tcb.stats.model.StatsCategory>>"*/-->
<!--/*@thymesVar id="seasons" type="java.util.List<java.lang.Integer>"*/-->
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<title>Ultimate Tennis Statistics - Top Performers</title>
	<link th:href="@{|/webjars/bootstrap/${versions['bootstrap']}/css/bootstrap.min.css|}" rel="stylesheet" media="screen"/>
	<link th:href="@{|/webjars/jquery-ui-themes/${versions['jquery-ui']}/smoothness/jquery-ui.css|}" rel="stylesheet" media="screen"/>
	<link th:href="@{|/webjars/jquery-bootgrid/${versions['bootgrid']}/dist/jquery.bootgrid.min.css|}" rel="stylesheet" media="screen"/>
	<link th:href="@{/css/tennis-stats.css}" rel="stylesheet" media="screen"/>
	<script th:src="@{|/webjars/jquery/${versions['jquery']}/jquery.min.js|}"></script>
	<script th:src="@{|/webjars/jquery-ui/${versions['jquery-ui']}/jquery-ui.min.js|}"></script>
	<script th:src="@{|/webjars/bootstrap/${versions['bootstrap']}/js/bootstrap.min.js|}"></script>
	<script th:src="@{|/webjars/jquery-bootgrid/${versions['bootgrid']}/dist/jquery.bootgrid.min.js|}"></script>
	<script th:src="@{/js/tennis-stats.js}"></script>
	<script type="text/javascript">
		/*<![CDATA[*/
		$(function() {
			$("#topPerformersTable").bootgrid({
				ajax: true,
				ajaxSettings: {
					method: "GET",
					cache: false
				},
				url: "/topPerformersTable",
				requestHandler: function (request) {
					request.category = $("#category").val();
					var season = $("#season").val();
					if (season)
						request.season = season;
					var active = $("#active").prop("checked");
					if (active)
						request.active = active;
					return request;
				},
				rowCount: [20, 50, -1],
				searchSettings: {
					delay: 300,
					characters: 2
				},
				formatters: {
					"country": countryFormatter,
					"player": playerFormatter
				},
				templates: {
					paginationItem: bootgridTemplatePaginationItem
				}
			});
			$("#topPerformersTable-header").find("div.search").before($("#categoryDiv").remove()).before($("#seasonDiv").remove()).before($("#activeDiv").remove());
			categoryChanged();
			$("[data-toggle='tooltip']").tooltip();
		});
		function categoryChanged() {
			var $category = $("#category");
			$("#topPerformersTable").find("th[data-column-id='wonLostPct'] > a > span.text").html($category.find("option[value='" + $category.val() + "']").html());
			var url = "/topPerformersMinEntries?category=" + $category.val();
			var season = $("#season").val();
			if (season != "")
				url += "&season=" + season;
			$.get(url, function (data) {
				$("#minEntries").html(data);
			});
		}
		function reloadTopPerformers() {
			categoryChanged();
			$("#topPerformersTable").bootgrid("reload");
		}
		function seasonChanged() {
			var $active = $("#active");
			var forSeason = $("#season").val() != "";
			if (forSeason)
				$active.prop("checked", false);
			$active.prop("disabled", forSeason);
			reloadTopPerformers();
		}
		/*]]>*/
	</script>
</head>
<body class="container">
	<header th:include="fragments/header :: title"></header>
	<h3 class="grid-title">Top Performers</h3>
	<div id="categoryDiv" class="btn-group" style="margin-right: 20px">
		<select id="category" class="form-control" onchange="reloadTopPerformers()" data-toggle="tooltip" data-placement="top" title="Select performance category">
			<optgroup th:each="categoryClass : ${categoryClasses}" th:label="${categoryClass.key}" label="Performance">
				<option th:each="category : ${categoryClass.value}" th:value="${category.name}" value="matches" th:class="${category.cssClass}" th:text="${category.title}">Overall</option>
			</optgroup>
		</select>
	</div>
	<div id="seasonDiv" class="btn-group" style="margin-right: 20px">
		<select id="season" class="form-control" onchange="seasonChanged()" data-toggle="tooltip" data-placement="top" title="Select career or season">
			<option value="">Career</option>
			<option th:each="season : ${seasons}" th:value="${season}" value="2005" th:text="${season}">2005</option>
		</select>
	</div>
	<div id="activeDiv" class="btn-group" style="margin-right: 20px">
		<div class="checkbox">
			<label data-toggle="tooltip" data-placement="top" title="Show only active players">
				<input id="active" type="checkbox" onchange="reloadTopPerformers()"/> Active
			</label>
		</div>
	</div>
	<table id="topPerformersTable" class="table table-condensed table-hover table-striped">
		<thead>
		<tr>
			<th data-column-id="rank" data-type="numeric" data-sortable="false" data-width="55">Rank</th>
			<th data-column-id="country" data-formatter="country" data-sortable="false" data-width="70">Country</th>
			<th data-column-id="name" data-formatter="player" data-sortable="false" data-width="200">Name</th>
			<th data-column-id="wonLostPct" data-order="desc" data-width="100" data-align="right" data-header-align="right">Pct.</th>
			<th data-column-id="won" data-type="numeric" data-width="70" data-align="right" data-header-align="right">Won</th>
			<th data-column-id="lost" data-type="numeric" data-width="70" data-align="right" data-header-align="right">Lost</th>
			<th data-column-id="played" data-type="numeric" data-width="70" data-align="right" data-header-align="right">Played</th>
		</tr>
		</thead>
	</table>
	<p><i>* Minimum <span id="minEntries">100 matches</span></i></p>
	<footer th:include="fragments/footer :: copy"></footer>
</body>
</html>