<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="timeline" type="org.strangeforest.tcb.stats.model.TopRankingsTimeline"*/-->
<!--/*@thymesVar id="rankType" type="org.strangeforest.tcb.stats.model.core.RankType"*/-->
<!--/*@thymesVar id="surfaces" type="org.strangeforest.tcb.stats.model.core.Surface[]"*/-->
<head th:replace="fragments/head :: commonHead(~{::title/text()}, false, ~{::script}, ~{::style})">
	<title>Top Rankings Timeline</title>
	<script type="text/javascript">
		function onRankTypeChange() {
			window.location = "/topRankingsTimeline?rankType=" + $("#rankType").val();
		}
	</script>
	<style>
		span.small-dimmed {
			font-size: smaller;
			color: #444;
		}
	</style>
</head>
<body th:with="rankTypeName=${rankType.name()}" class="container">
	<header th:include="fragments/header :: title"></header>
	<h3><i class="fa fa-history"></i> Top Rankings Timeline</h3>
	<th:block th:include="fragments/deviceDetector :: largeDeviceRequired('sm')"/>
	<row>
		<div class="col-md-4 input-group">
			<label for="rankType" class="input-group-addon">Ranking type:</label>
			<select id="rankType" class="form-control" onchange="onRankTypeChange()">
				<option value="POINTS" th:selected="${rankTypeName == 'POINTS'}">ATP Ranking</option>
				<option value="ELO_RATING" th:selected="${rankTypeName == 'ELO_RATING'}">Elo Ranking</option>
				<option th:each="surface : ${surfaces}" th:value="|${surface}_ELO_RATING|" th:class="|bg-surface-${surface.code}|" value="HARD_ELO_RATING" class="bg-surface-H" th:text="|${surface.text} Elo Ranking|" th:selected="${rankType != null && rankTypeName == (surface + '_ELO_RATING')}">Hard Elo Ranking</option>
				<option value="OUTDOOR_ELO_RATING" th:selected="${rankTypeName == 'OUTDOOR_ELO_RATING'}">Outdoor Elo Ranking</option>
				<option value="INDOOR_ELO_RATING" th:selected="${rankTypeName == 'INDOOR_ELO_RATING'}">Indoor Elo Ranking</option>
				<option value="GOAT_POINTS" th:selected="${rankTypeName == 'GOAT_POINTS'}">GOAT Points Ranking</option>
			</select>
		</div>
	</row>
	<br/>
	<table id="timelineTable" class="table table-condensed table-hover table-bordered text-nowrap">
		<thead>
			<tr>
				<th>Season</th>
				<th th:each="rank : ${#numbers.sequence(1, timeline.topRanks)}" th:colspan="${rank == timeline.topRanks ? 2 : 1}" th:text="'No. ' + ${rank}">No. 1</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="season : ${timeline.seasons}" th:unless="${season > 2007 && rankTypeName == 'CARPET_ELO_RATING'}">
				<th>
					<a th:unless="${rankTypeName == 'GOAT_POINTS'}" th:href="@{/rankingsTable(rankType=${rankType}, season=${season})}" th:text="${season}" title="Show season year-end rankings">2000</a>
					<a th:if="${rankTypeName == 'GOAT_POINTS'}" th:href="@{/season(season=${season}, tab=goatPoints)}" th:text="${season}" title="Show season GOAT Points">2000</a>
					<th:block th:if="${season < 1973 && rankTypeName == 'POINTS'}"> *</th:block>
				</th>
				<td th:each="player : ${timeline.getTopPlayers(season)}">
					<img th:src="@{/images/flags/{code}.png(code=${player.country.code})}" src="/images/flags/ch.png'" th:title="${player.country.id}" title="SUI" width="24" height="20"/>
					<a th:href="@{/playerProfile(playerId=${player.playerId})}" th:text="${player.name}" style="vertical-align: middle" title="Show profile">Roger Federer</a>
					<img th:if="${player.active}" src="/images/active.png" title="Active" width="12" height="12"/>
					<span th:if="${player.rank == 1}" class="small-dimmed" th:text="'(' + ${player.yeNo1} + '/' + ${timeline.getYENo1(player.playerId)} + ')'">(2/5)</span>
				</td>
			</tr>
		</tbody>
	</table>
	<p th:if="${rankTypeName == 'POINTS'}"><i>* Estimated rankings</i></p>
	<footer th:include="fragments/footer :: copy"></footer>
</body>
</html>