<th:block xmlns:th="http://www.thymeleaf.org">
	<!--/*@thymesVar id="mapProperties" type="java.lang.String"*/-->
	<br/>
	<th:block th:if="${mapProperties}">
	<div id="mapView" style="height: 600px"></div>
	<script type="text/javascript" th:inline="javascript">
		function initMap() {
			new google.maps.Map(document.getElementById("mapView"), JSON.parse([[${mapProperties}]]));
		}
	</script>
	<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAEhXr5D80L13sXmucPWYMmDSp47qr4Jes&callback=initMap"></script>
	</th:block>
	<th:block>
	<div th:unless="${mapProperties}" class="alert alert-warning">Tournament location not available.</div>
</th:block>