<br/>
<th:block xmlns:th="http://www.thymeleaf.org">
	<!--/*@thymesVar id="recordTitles" type="java.util.List<org.strangeforest.tcb.stats.model.records.RecordRow>"*/-->
	<!--/*@thymesVar id="recordFinals" type="java.util.List<org.strangeforest.tcb.stats.model.records.RecordRow>"*/-->
	<!--/*@thymesVar id="recordSemiFinals" type="java.util.List<org.strangeforest.tcb.stats.model.records.RecordRow>"*/-->
	<!--/*@thymesVar id="recordAppearances" type="java.util.List<org.strangeforest.tcb.stats.model.records.RecordRow>"*/-->
	<div class="row">
		<div class="col-md-3">
			<th:block th:include="fragments/tournamentRecord :: tournamentRecord('Titles', ${recordTitles})"/>
		</div>
		<div class="col-md-3">
			<th:block th:include="fragments/tournamentRecord :: tournamentRecord('Finals', ${recordFinals})"/>
		</div>
		<div class="col-md-3">
			<th:block th:include="fragments/tournamentRecord :: tournamentRecord('Semi-Finals', ${recordSemiFinals})"/>
		</div>
		<div class="col-md-3">
			<th:block th:include="fragments/tournamentRecord :: tournamentRecord('Appearances', ${recordAppearances})"/>
		</div>
	</div>
</th:block>