<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="tournament" type="org.strangeforest.tcb.stats.model.Tournament"*/-->
<!--/*@thymesVar id="levels" type="java.util.Map"*/-->
<!--/*@thymesVar id="surfaces" type="java.util.Map"*/-->
<head th:replace="fragments/head :: commonHead(${tournament.name}, true, ~{::script}, _)">
	<script type="text/javascript">
		$(function() {
			$("[data-toggle=pill]").click(tabClick);
			var $tournamentHistoryTable = $("#tournamentHistoryTable");
			var device = detectDevice();
			setBootgridColumnsVisible($tournamentHistoryTable, ["playerCount", "participationPoints"], deviceGreaterOrEqual(device, "lg"));
			setBootgridColumnsVisible($tournamentHistoryTable, ["final"], deviceGreaterOrEqual(device, "md"));
			if (device != "lg")
				setBootgridColumnsWidths($tournamentHistoryTable, ["name"], [175]);
			if (device == "md")
				setBootgridColumnsWidths($tournamentHistoryTable, ["final"], [400]);
			$tournamentHistoryTable.bootgrid({
				ajax: true,
				ajaxSettings: {
					method: "GET",
					cache: false
				},
				url: "/tournamentEventsTable?tournamentId=[[${tournament.id}]]",
				rowCount: [20, 50, -1],
				formatters: {
					"date": dateFormatter,
					"event": tournamentEventFormatterExtId,
					"level": levelFormatter,
					"surface": surfaceFormatter,
					"participationPct": function(column, row) {
						return row.participationPct.toFixed(1) + "%";
					},
					"match": finalFormatter
				},
				labels: {
					noResults: "No tournament found"
				},
				templates: {
					paginationItem: bootgridTemplatePaginationItem
				}
			});
			var $tournamentHistoryTableHeader = $("#tournamentHistoryTable-header");
			$tournamentHistoryTableHeader.find("div.search").remove();
			setBootgridTitle($tournamentHistoryTableHeader, $("#tournamentHistoryTable-title"));
			setBootgridTitles($tournamentHistoryTable, [
				{id: "playerCount", title: "Players"},
				{id: "participationPoints", title: "[[#{events.participationPoints.title}]]"},
				{id: "participationPct", title: "[[#{events.participationPercentage.title}]]"}
			]);
		});
	</script>
</head>
<body class="container">
	<header th:include="fragments/header :: title"></header>
	<h3 th:text="${tournament.name}">Australian Open</h3>
	<div class="row">
		<div class="col-md-3">
			<table class="table table-condensed text-nowrap">
				<tr>
					<th>Level</th>
					<td th:text="${levels[tournament.level]}">Grand Slam</td>
				</tr>
			</table>
		</div>
		<div class="col-md-3">
			<table class="table table-condensed text-nowrap">
				<tr>
					<th>Surface</th>
					<td th:text="${(tournament.indoor ? 'Indoor ' : '') + surfaces[tournament.surface]}">Hard</td>
				</tr>
			</table>
		</div>
		<div class="col-md-6">
			<table class="table table-condensed text-nowrap">
				<tr>
					<th>Seasons</th>
					<td th:text="${tournament.formatedSeasons}">1968-2015</td>
				</tr>
			</table>
		</div>
	</div>
	<ul id="tournamentPills" class="nav nav-pills">
		<li class="active"><a data-toggle="pill" href="#events">Events</a></li>
		<li><a data-toggle="pill" href="#records" data-url="/tournamentRecords?tournamentId=" th:attrappend="data-url=${tournament.id}">Records</a></li>
		<li><a data-toggle="pill" href="#statistics" data-url="/tournamentStats?tournamentId=" th:attrappend="data-url=${tournament.id}">Statistics</a></li>
	</ul>
	<div class="tab-content">
		<div id="events" class="tab-pane fade in active">
			<h3 id="tournamentHistoryTable-title" class="grid-title" th:text="${tournament.name} + ' Events'">Australian Open Events</h3>
			<table id="tournamentHistoryTable" class="table table-condensed table-hover table-striped">
				<thead>
				<tr>
					<th data-column-id="date" data-formatter="date" data-order="desc" data-width="85">Date</th>
					<th data-column-id="name" data-formatter="event" data-width="200">Name</th>
					<th data-column-id="surface" data-formatter="surface" data-width="80">Surface</th>
					<th data-column-id="draw" data-width="65">Draw</th>
					<th data-column-id="playerCount" data-width="55">Pls.</th>
					<th data-column-id="participationPoints" data-width="70">P. Pts.</th>
					<th data-column-id="participationPct" data-formatter="participationPct" data-width="70">P. Pct.</th>
					<th data-column-id="final" data-formatter="match" data-sortable="false" data-width="500">Final</th>
				</tr>
				</thead>
			</table>
		</div>
		<div id="records" class="tab-pane fade"><br/>Loading...</div>
		<div id="statistics" class="tab-pane fade"><br/>Loading...</div>
	</div>
	<th:block th:include="fragments/deviceDetector :: deviceDetectors"/>
	<footer th:include="fragments/footer :: copy"></footer>
</body>
</html>