<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="tournament" type="org.strangeforest.tcb.stats.model.Tournament"*/-->
<!--/*@thymesVar id="levels" type="java.util.Map"*/-->
<!--/*@thymesVar id="surfaces" type="java.util.Map"*/-->
<head th:replace="fragments/head :: commonHead(${tournament.name}, true, ~{::template})">
	<template>
	<meta name="description" th:content="${tournament.name} + ' at Ultimate Tennis Statistics'"/>
	<script type="text/javascript">
		$(function() {
			decorateSurface("#tournamentSurfaces .tournament-surface");
			decorateSpeed("#tournamentSurfaces .tournament-court-speed");
			$("#tournamentPills").find("a").click(tabClick);
			var $tournamentHistoryTable = $("#tournamentHistoryTable");
			var device = detectDevice();
			setBootgridColumnsVisible($tournamentHistoryTable, ["speed", "finalEx"], deviceGreaterOrEqual(device, "xl"));
			setBootgridColumnsVisible($tournamentHistoryTable, ["playerCount", "strength", "averageEloRating"], deviceGreaterOrEqual(device, "lg"));
			setBootgridColumnsVisible($tournamentHistoryTable, ["final"], deviceGreaterOrEqual(device, "md") && deviceLessOrEqual(device, "lg"));
			if (deviceGreaterOrEqual(device, "lg"))
				setBootgridColumnsWidths($tournamentHistoryTable, ["name"], [175]);
			if (device === "md")
				setBootgridColumnsWidths($tournamentHistoryTable, ["final"], [400]);
			$tournamentHistoryTable.bootgrid({
				ajax: true,
				ajaxSettings: {
					method: "GET",
					cache: false
				},
				url: "/tournamentEventsTable?tournamentId=[(${tournament.id})]",
				rowCount: [15, 25, 50, -1],
				formatters: {
					"date": dateFormatter,
					"event": tournamentEventFormatterExtId,
					"level": levelFormatter,
					"surface": surfaceFormatter,
					"speed": speedFormatter,
					"participation": participationFormatter,
					"final": finalFormatter,
					"finalEx": finalExFormatter
				},
				labels: {
					loading: bootgridTemplateLoading,
					noResults: "No tournament events found"
				},
				templates: {
					paginationItem: bootgridTemplatePaginationItem
				}
			});
			var $tournamentHistoryTableHeader = $("#tournamentHistoryTable-header");
			$tournamentHistoryTableHeader.find("div.search").remove();
			setBootgridTitle($tournamentHistoryTableHeader, $("#tournamentHistoryTable-title"));
			setBootgridTitles($tournamentHistoryTable, [
				{id: "speed", title: "[[#{event.courtSpeed.title}]]"},
				{id: "playerCount", title: "Players"},
				{id: "participation", title: "[[#{event.participation.title}]]"},
				{id: "strength", title: "[[#{event.strength.title}]]"},
				{id: "averageEloRating", title: "[[#{event.averageEloRating.title}]]"}
			]);
		});
	</script>
	</template>
</head>
<body class="container">
	<header th:include="fragments/header :: title"></header>
	<h3 th:text="${tournament.name}">Australian Open</h3>
	<div class="row">
		<div class="col-md-6">
			<table class="table table-condensed text-nowrap">
				<tr>
					<th>Level</th>
					<td id="tournamentLevels">
						<div th:each="level : ${tournament.levels}" class="label label-" th:attrappend="class=${level}" th:text="${levels.get(level)}">Grand Slam</div>
					</td>
				</tr>
				<tr>
					<th>Surface</th>
					<td id="tournamentSurfaces">
						<th:block th:each="surface : ${tournament.surfaces}" th:with="speed=${tournament.speeds.get(surface)}">
							<div class="label tournament-surface" th:data-surface="${surface}" th:text="${surfaces.get(surface)}">Hard</div>
							<div th:if="${speed}" class="label tournament-court-speed" th:data-surface="${surface}" th:data-court-speed="${speed}" th:text="${speed}">50</div>
						</th:block>
					</td>
				</tr>
				<tr>
					<th>Events</th>
					<td th:text="${tournament.eventCount}">25</td>
				</tr>
				<tr>
					<th>Seasons</th>
					<td th:text="${tournament.seasons}">1968-2015</td>
				</tr>
			</table>
		</div>
		<div class="col-md-3">
			<table class="table table-condensed text-nowrap">
				<tr>
					<th>Average Players</th>
					<td th:text="${tournament.playerCount}">128</td>
				</tr>
				<tr th:title="#{event.participation.title}">
					<th>Average Participation</th>
					<td th:text="${#numbers.formatDecimal(100 * tournament.participation, 1, 1) + '%'}">67.3%</td>
				</tr>
				<tr th:title="#{event.strength.title}">
					<th>Average Strength</th>
					<td th:text="${tournament.strength}">1232</td>
				</tr>
				<tr th:title="#{event.averageEloRating.title}">
					<th>Average Elo Rating</th>
					<td th:text="${tournament.averageEloRating}">832</td>
				</tr>
			</table>
		</div>
		<div class="col-md-3">
			<table class="table table-condensed text-nowrap">
				<tr th:each="player : ${tournament.topPlayers}">
					<th th:text="|${player.rank} Titles|">5 Titles:</th>
					<td>
						<img th:src="@{/images/flags/{code}.png(code=${player.country.code})}" src="/images/flags/ch.png'" th:title="${player.country.id}" title="SUI" width="24" height="20"/>
						<a th:href="@{/playerProfile(playerId=${player.playerId})}" th:text="${player.name}" title="Show profile">Roger Federer</a>
						<img th:if="${player.active}" src="/images/active.png" title="Active" width="12" height="12" style="vertical-align: 0"/>
					</td>
				</tr>
			</table>
		</div>
	</div>
	<ul id="tournamentPills" class="nav nav-pills">
		<li class="active"><a data-toggle="pill" href="#events">Events</a></li>
		<li><a data-toggle="pill" href="#records" th:data-url="'/tournamentRecords?tournamentId=' + ${tournament.id}">Records</a></li>
		<li><a data-toggle="pill" href="#performance" th:data-url="'/tournamentPerformance?tournamentId=' + ${tournament.id}">Performance</a></li>
		<li><a data-toggle="pill" href="#statistics" th:data-url="'/tournamentStats?tournamentId=' + ${tournament.id}">Statistics</a></li>
	</ul>
	<div class="tab-content">
		<div id="events" class="tab-pane fade in active">
			<h3 id="tournamentHistoryTable-title" class="grid-title" th:text="${tournament.name} + ' Events'">Australian Open Events</h3>
			<table id="tournamentHistoryTable" class="table table-condensed table-hover table-striped">
				<thead>
				<tr>
					<th data-column-id="date" data-formatter="date" data-order="desc" data-width="85">Date</th>
					<th data-column-id="name" data-formatter="event" data-width="200">Name</th>
					<th data-column-id="surface" data-formatter="surface" data-width="80">Surface</th>
					<th data-column-id="speed" data-formatter="speed" data-width="70" data-align="center" data-header-align="center">Speed</th>
					<th data-column-id="draw" data-width="65">Draw</th>
					<th data-column-id="playerCount" data-type="numeric" data-width="55" data-align="right" data-header-align="right">Pls.</th>
					<th data-column-id="participation" data-formatter="participation" data-width="60" data-align="right" data-header-align="right">Part.</th>
					<th data-column-id="strength" data-type="numeric" data-width="50" data-align="right" data-header-align="right">Str.</th>
					<th data-column-id="averageEloRating" data-type="numeric" data-width="50" data-align="right" data-header-align="right">Elo</th>
					<th data-column-id="final" data-formatter="final" data-sortable="false" data-width="500">Final</th>
					<th data-column-id="finalEx" data-formatter="finalEx" data-sortable="false" data-visible="false" data-width="550">Final Details</th>
				</tr>
				</thead>
			</table>
		</div>
		<div id="records" class="tab-pane fade"><div class="loading"></div></div>
		<div id="performance" class="tab-pane fade"><div class="loading"></div></div>
		<div id="statistics" class="tab-pane fade"><div class="loading"></div></div>
	</div>
	<th:block th:include="fragments/deviceDetector :: deviceDetectors"/>
	<footer th:include="fragments/footer :: copy"></footer>
</body>
</html>