<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="tournamentEvent" type="org.strangeforest.tcb.stats.model.TournamentEvent"*/-->
<!--/*@thymesVar id="draw" type="org.strangeforest.tcb.stats.model.TournamentEventDraw"*/-->
<!--/*@thymesVar id="levels" type="java.util.Map"*/-->
<!--/*@thymesVar id="surfaces" type="java.util.Map"*/-->
<head th:replace="fragments/head :: commonHead(${tournamentEvent.name + ' ' + tournamentEvent.season}, true, ~{::script}, ~{::style})">
	<script type="text/javascript" th:inline="javascript">
		var rounds = [[${draw.rounds}]];
		var roundsToShow = Math.min(rounds.length, 4);
		var maxRoundPos = rounds.length - roundsToShow;
		var roundPos = maxRoundPos;
		$(function() {
			$("#tournamentEventPills").find("a").click(tabClick);
			showRounds();
		});
		function roundLeft() {
			if (roundPos > 0) {
				roundPos--;
				showRounds()
			}
		}
		function roundRight() {
			if (roundPos < maxRoundPos) {
				roundPos++;
				showRounds()
			}
		}
		function showRounds() {
			doShowRounds(roundPos, roundPos + roundsToShow);
		}
		function doShowRounds(fromIndex, toIndex) {
			$("#drawTable").find("th[data-round-index], td[data-round-index]").each(function () {
				var $match = $(this);
				var roundIndex = $match.data("round-index");
				if (fromIndex <= roundIndex && roundIndex < toIndex)
					$match.show();
				else
					$match.hide();
			});
			var $drawLeft = $("#drawLeft");
			$drawLeft.prop("disabled", roundPos == 0);
			$drawLeft.html("<span class='glyphicon glyphicon-chevron-left'></span>&nbsp;&nbsp;" + rounds[Math.max(0, roundPos - 1)]);
			var $drawRight = $("#drawRight");
			$drawRight.prop("disabled", roundPos == maxRoundPos);
			$drawRight.html("<span class='glyphicon glyphicon-chevron-right'></span>&nbsp;&nbsp;" + rounds[Math.min(maxRoundPos, roundPos + 1) + roundsToShow - 1]);
		}
	</script>
	<style>
		td.seed {
			width: 20px;
			padding: 0 2px;
			text-align: right;
		}
		td.player {
			padding: 0 2px;
		}
		td.score {
			padding: 0 2px;
		}
		td.stats {
			padding: 0 1px;
			vertical-align: top;
		}
		.btn-xxs,
		.btn-group-xxs > .btn {
			padding: 1px 3px;
			font-size: 10px;
			line-height: 1.5;
			border-radius: 3px;
			vertical-align: top;
		}
	</style>
</head>
<body class="container">
	<header th:include="fragments/header :: title"></header>
	<h3 th:text="${tournamentEvent.name} + ' ' + ${tournamentEvent.season}">Australian Open 2016</h3>
	<div class="row" th:with="isTeam=${tournamentEvent.level == 'D' || tournamentEvent.level == 'T'}">
		<div class="col-md-3">
			<table class="table table-condensed text-nowrap">
				<tr>
					<th>Level</th>
					<td th:text="${levels[tournamentEvent.level]}">Grand Slam</td>
				</tr>
				<tr th:unless="${isTeam}">
					<th>Surface</th>
					<td th:text="${(tournamentEvent.indoor ? 'Indoor ' : '') + (tournamentEvent.surface != null ? surfaces[tournamentEvent.surface] : '')}">Hard</td>
				</tr>
				<tr th:unless="${isTeam}">
					<th>Date</th>
					<td th:text="${#dates.format(tournamentEvent.date, 'dd-MM-yyyy')}">1-1-1990</td>
				</tr>
			</table>
		</div>
		<div class="col-md-3">
			<table class="table table-condensed text-nowrap">
				<tr>
					<th>Draw</th>
					<td th:text="${tournamentEvent.draw}">KO 128</td>
				</tr>
				<tr th:unless="${isTeam}">
					<th>Players</th>
					<td th:text="${tournamentEvent.playerCount}">128</td>
				</tr>
				<tr th:unless="${isTeam}">
					<th>Participation</th>
					<td><span th:text="${tournamentEvent.participationPoints}" th:title="#{events.participationPoints.title}">832</span> <span th:text="'(' + ${#numbers.formatDecimal(tournamentEvent.participationPct, 1, 1)} + '%)'" th:title="#{events.participationPercentage.title}">(67.3%)</span></td>
				</tr>
			</table>
		</div>
		<div class="col-md-3">
			<table class="table table-condensed text-nowrap">
				<tr th:if="${tournamentEvent.winner}">
					<th>Winner</th>
					<td th:with="player=${tournamentEvent.winner}">
						<th:block th:unless="${tournamentEvent.outcome == 'ABD'}">
							<img th:src="'/images/flags/' + ${player.country.code} + '.png'" src="/images/flags/ch.png'" th:title="${player.country.id}" title="SUI" width="24" height="20"/>
							<strong><a th:href="'/playerProfile?playerId=' + ${player.id}" th:text="${player.name}" title="Show profile">Roger Federer</a></strong>
						</th:block>
						<th:block th:if="${tournamentEvent.outcome == 'ABD'}">ABD</th:block>
					</td>
				</tr>
				<tr th:if="${tournamentEvent.runnerUp != null && tournamentEvent.outcome != 'ABD'}">
					<th>Runner-up</th>
					<td th:with="player=${tournamentEvent.runnerUp}">
						<img th:src="'/images/flags/' + ${player.country.code} + '.png'" src="/images/flags/ch.png'" th:title="${player.country.id}" title="SUI" width="24" height="20"/>
						<a th:href="'/playerProfile?playerId=' + ${player.id}" th:text="${player.name}" title="Show profile">Rafael Nadal</a>
					</td>
				</tr>
				<tr th:if="${tournamentEvent.score}">
					<th>Score</th>
					<td th:text="${tournamentEvent.score}">6-4 6-3</td>
				</tr>
			</table>
		</div>
		<div class="col-md-3">
			<table class="table table-condensed text-nowrap">
				<tr>
					<th>
						<a role="button" th:href="${!isTeam ? ('/tournament?tournamentId=' + tournamentEvent.tournamentId) : ('/teamTournamentLevelTimeline?level=' + tournamentEvent.level)}" class="btn btn-info btn-sm" data-toggle="tooltip" data-placement="top" title="Tournament history">
							<span class="glyphicon glyphicon-calendar"></span>&nbsp;&nbsp;History
						</a>
					</th>
				</tr>
			</table>
		</div>
	</div>
	<ul id="tournamentEventPills" class="nav nav-pills">
		<li class="active"><a data-toggle="pill" href="#draw">Draw</a></li>
		<li><a data-toggle="pill" href="#statistics" th:data-url="'/tournamentEventStats?tournamentEventId=' + ${tournamentEvent.id}">Statistics</a></li>
		<li th:if="${tournamentEvent.mapProperties}"><a data-toggle="pill" href="#map" th:data-url="'/tournamentEventMap?tournamentEventId=' + ${tournamentEvent.id}">Map<sup class="cool-feature">&nbsp;Cool!</sup></a></li>
	</ul>
	<div class="tab-content">
		<div id="draw" class="tab-pane fade in active">
			<th:block th:include="fragments/deviceDetector :: largeDeviceRequired('md')"/>
			<table id="drawTable" class="table-condensed text-nowrap" width="100%">
				<thead>
				<tr>
					<th colspan="2"><button id="drawLeft" type="button" class="btn btn-info btn-xs" onclick="roundLeft()"></button></th>
					<th colspan="2" style="text-align: right"><button id="drawRight" type="button" class="btn btn-info btn-xs" onclick="roundRight()"></button></th>
				</tr>
				<tr>
					<th th:each="round : ${draw.rounds}" th:text="${round.description}" th:data-round-index="${roundStat.index}">Final</th>
				</tr>
				</thead>
				<tbody>
				<tr th:each="i : ${#numbers.sequence(0, draw.maxRoundMatches - 1)}">
					<td th:each="round : ${draw.rounds}" th:with="matches=${draw.getRoundMatches(round)}, match=${i lt matches.size() ? matches[i] : null}" th:data-round-index="${roundStat.index}">
						<table th:if="${match}" class="table-bordered" th:with="outcomeOrStats=${match.outcome != null || match.hasStats}">
							<tr th:with="winner=${match.winner}">
								<td class="seed">
									<span th:text="${winner.seedAndEntry}"></span>
								</td>
								<td class="player">
									<img th:src="'/images/flags/' + ${winner.country.code} + '.png'" src="/images/flags/ch.png'" th:title="${winner.country.id}" title="SUI" width="24" height="20"/>
									<strong><a th:href="'/playerProfile?playerId=' + ${winner.id}" th:text="${winner.name}" style="vertical-align: middle" title="Show profile">Roger Federer</a></strong>
								</td>
								<td th:each="score : ${match.score}" class="score"><th:block th:text="${score.wGames}">6</th:block><sup th:if="${score.wTBPoints}" th:text="|(${score.wTBPoints})|"></sup></td>
								<td th:if="${outcomeOrStats}" class="score"><th:block th:if="${match.outcome}" th:text="${match.outcome}"/></td>
							</tr>
							<tr th:with="loser=${match.loser}">
								<td class="seed">
									<span th:text="${loser.seedAndEntry}"></span>
								</td>
								<td class="player">
									<img th:src="'/images/flags/' + ${loser.country.code} + '.png'" src="/images/flags/ch.png'" th:title="${loser.country.id}" title="ESP" width="24" height="20"/>
									<a th:href="'/playerProfile?playerId=' + ${loser.id}" th:text="${loser.name}" style="vertical-align: middle" title="Show profile">Rafael Nadal</a>
								</td>
								<td th:each="score : ${match.score}" class="score"><th:block th:text="${score.lGames}">3</th:block><sup th:if="${score.lTBPoints}" th:text="|(${score.lTBPoints})|"></sup></td>
								<td th:if="${outcomeOrStats}" class="stats">
									<a th:if="${match.hasStats}" th:id="'matchStats-' + ${match.id}" href="#" class="btn btn-info btn-xxs glyphicon glyphicon-stats" th:onclick="|showMatchStats(${match.id}, event)|" title='Match Statistics'> </a>
								</td>
							</tr>
						</table>
					</td>
				</tr>
				</tbody>
			</table>
		</div>
		<div id="statistics" class="tab-pane fade"><div class="loading"></div></div>
		<div th:if="${tournamentEvent.mapProperties}" id="map" class="tab-pane fade" style="height: 620px"><div class="loading"></div></div>
	</div>
	<footer th:include="fragments/footer :: copy"></footer>
</body>
</html>