<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="level" type="java.lang.String"*/-->
<!--/*@thymesVar id="levels" type="java.util.Set<org.strangeforest.tcb.stats.model.core.TournamentLevel>"*/-->
<!--/*@thymesVar id="levelGroups" type="java.util.Set<org.strangeforest.tcb.stats.model.core.TournamentLevelGroup>"*/-->
<!--/*@thymesVar id="surfaces" type="org.strangeforest.tcb.stats.model.core.Surface[]"*/-->
<!--/*@thymesVar id="surfaceGroups" type="org.strangeforest.tcb.stats.model.core.SurfaceGroup[]"*/-->
<!--/*@thymesVar id="speeds" type="org.strangeforest.tcb.stats.model.core.CourtSpeed[]"*/-->
<head th:replace="fragments/head :: commonHead(~{::title/text()}, true, ~{::template})">
	<title>Tournaments</title>
	<template>
	<meta name="description" content="Tennis tournaments aggregated figures"/>
	<script type="text/javascript">
		$(function() {
			var $tournamentsTable = $("#tournamentsTable");
			var device = detectDevice();
			setBootgridColumnsVisible($tournamentsTable, ["speeds"], deviceGreaterOrEqual(device, "xl"));
			setBootgridColumnsVisible($tournamentsTable, ["seasons", "topPlayers"], deviceGreaterOrEqual(device, "lg"));
			setBootgridColumnsVisible($tournamentsTable, ["strength", "averageEloRating"], deviceGreaterOrEqual(device, "md"));
			setBootgridColumnsVisible($tournamentsTable, ["participation"], deviceGreaterOrEqual(device, "sm"));
			$tournamentsTable.bootgrid({
				ajax: true,
				ajaxSettings: {
					method: "GET",
					cache: false
				},
				url: "/tournamentsTable",
				requestHandler: function(request) {
					request.level = $("#level").val();
					request.surface = $("#surface").val();
					request.indoor = $("#indoor").val();
					request.speed = $("#speed").val();
					return request;
				},
				rowCount: [20, 50, 100, -1],
				searchSettings: {
					delay: 300,
					characters: 2
				},
				formatters: {
					"tournament": tournamentFormatter,
					"levels": function(column, row) {
						var levels = row.levels;
						var s = "";
						for (var i = 0, count = Math.min(2, levels.length); i < count; i++) {
							if (s !== "") s += " ";
							var name = levelName(levels[i]);
							s += "<a href='/tournamentEvents?tournamentId=" + row.id + "&level=" + levels[i] + filterParams(true, false) + "' class='label label-" + levels[i] + "' title='Show " + name + " tournament events'>" + name + "</a>";
						}
						return s;
					},
					"surfaces": function(column, row) {
						var surfaces = row.surfaces;
						var multi = surfaces.length > 1;
						var s = "";
						for (var i = 0, count = Math.min(3, surfaces.length); i < count; i++) {
							if (s !== "") s += " ";
							var surface = surfaces[i];
							var name = surfaceName(surface);
							s += "<a href='/tournamentEvents?tournamentId=" + row.id + "&surface=" + surface + filterParams(false, true) + "' class='label label-" + surfaceClassSuffix(surface) + "' title='Show " + name + " tournament events'>" + (multi ? surfaceShortName(surface) : name) + "</a>";
						}
						return s;
					},
					"speeds": speedsFormatter,
					"eventCount": function(column, row) {
					  	return "<a href='/tournamentEvents?tournamentId=" + row.id + filterParams() + "' title='Show tournament events'>" + row.eventCount + "</a>";
					},
					"seasons": seasonsFormatter,
					"participation": participationFormatter,
					"topPlayer": function(column, row) {
						var topPlayers = row.topPlayers;
						if (topPlayers.length === 0) return "";
						var topPlayer = topPlayers[0];
						var html = "<a href='/playerProfile?playerId=" + topPlayer.playerId + "&tab=events&tournamentId=" + row.id + filterParams() + "&result=W' title='Show titles'>" + topPlayer.rank + " <i class='fa fa-trophy fa-b'></i></a> " + playerCountryFormatter(column, topPlayer);
						if (topPlayers.length > 1) {
							var tiedPlayers = "<div class=\"text-left\">";
							for (var i = 1; i < topPlayers.length; i++)
								tiedPlayers += playerCountryFormatter(column, topPlayers[i]).replace(/'/g, '"') + "<br/>";
							tiedPlayers += "</div>";
							html += " <i class='fa fa-users top-players-tooltip' style='color: #337ab7' title='" + tiedPlayers + "' data-toggle='tooltip' data-placement='top' data-html='true'></i>"
						}
						return html;
					}
				},
				labels: {
					loading: bootgridTemplateLoading,
					noResults: "No tournaments found"
				},
				templates: {
					paginationItem: bootgridTemplatePaginationItem
				}
			}).on("loaded.rs.jquery.bootgrid", function () {
				$("#tournamentsTable").find("[data-toggle='tooltip']").tooltip();
			});
			var $tournamentsTableHeader = $("#tournamentsTable-header");
			var $search = $tournamentsTableHeader.find("div.search");
			$search.after($("#clearDiv").remove());
			setBootgridTitles($tournamentsTable, [
				{id: "speeds", title: "[[#{event.courtSpeed.title}]]"},
				{id: "playerCount", title: "Average players"},
				{id: "participation", title: "[[#{event.participation.title}]]"},
				{id: "strength", title: "[[#{event.strength.title}]]"},
				{id: "averageEloRating", title: "[[#{event.averageEloRating.title}]]"}
			]);
			$("[data-toggle='tooltip']").tooltip();
		});
		function reloadTournaments() {
			$("#tournamentsTable").bootgrid("reload");
		}
		function filterParams(skipLevel, skipSurface) {
			var url = "";
			if (!skipLevel) {
				var level = $("#level").val();
				if (level) url += "&level=" + level;
			}
			if (!skipSurface) {
				var surface = $("#surface").val();
				if (surface) url += "&surface=" + surface;
			}
			var indoor = $("#indoor").val();
			if (indoor) url += "&indoor=" + indoor;
			var speed = $("#speed").val();
			if (speed) url += "&speed=" + speed;
			return url;
		}
		function clearTournamentsFilter() {
			$("#level").val("");
			$("#surface").val("");
			$("#indoor").val("");
			$("#speed").val("");
			$("#tournamentsTable").bootgrid("search", "");
			reloadTournaments();
		}
	</script>
	<style type="text/css">
		.top-players-tooltip + .tooltip > .tooltip-inner {
			border: 1px solid lightgray;
			background-color: #f9f9f9;
		}
		.top-players-tooltip + .tooltip.top > .tooltip-arrow {
			border-top-color: gray;
		}
	</style>
	</template>
</head>
<body class="container">
	<header th:include="fragments/header :: title"></header>
	<div class="row">
		<div class="col-md-4">
			<h3 class="text-nowrap" style="display: inline"><i class="fa fa-calendar-o"></i> Tournaments</h3>
		</div>
		<div class="col-md-2">
			<select id="level" class="form-control" onchange="reloadTournaments()" data-toggle="tooltip" data-placement="top" title="Filter by tournament level">
				<option value="">All levels</option>
				<option th:each="aLevel : ${levels}" th:value="${aLevel.code}" th:class="|bg-level-${aLevel.code}|" value="G" class="bg-level-G" th:text="${aLevel.text}" th:selected="${aLevel.code == level}">Grand Slam</option>
				<option th:each="levelGroup : ${levelGroups}" th:value="${levelGroup.codes}" value="GFLMO" th:text="${levelGroup.text}" th:selected="${levelGroup.codes == level}">Big Tournaments</option>
			</select>
		</div>
		<div class="col-md-2">
			<select id="surface" class="form-control" onchange="reloadTournaments()" data-toggle="tooltip" data-placement="top" title="Filter by surface">
				<option value="">All surfaces</option>
				<option th:each="aSurface : ${surfaces}" th:value="${aSurface.code}" th:class="|bg-surface-${aSurface.code}|" value="H" class="bg-surface-H" th:text="${aSurface.text}">Hard</option>
				<option th:each="surfaceGroup : ${surfaceGroups}" th:value="${surfaceGroup.codes}" value="HGP" th:text="${surfaceGroup.text}">Fast (H, G, Cp)</option>
			</select>
		</div>
		<div class="col-md-2">
			<select id="indoor" class="form-control" onchange="reloadTournaments()" data-toggle="tooltip" data-placement="top" title="Filter by outdoor / indoor">
				<option value="">Outdoor / Indoor</option>
				<option value="false">Outdoor</option>
				<option value="true">Indoor</option>
			</select>
		</div>
		<div class="col-md-2">
			<select id="speed" class="form-control" onchange="reloadTournaments()" data-toggle="tooltip" data-placement="top" title="Filter by court speed">
				<option value="">All speeds</option>
				<option th:each="aSpeed : ${speeds}" th:value="${aSpeed.speed}" th:class="|points-${aSpeed.speed}|" style="color: white" value="50" class="points-50" th:text="${aSpeed.text}">Medium</option>
			</select>
		</div>
	</div>
	<div id="clearDiv" class="btn-group margin-right">
		<button type="button" class="btn btn-default" onclick="clearTournamentsFilter()" data-toggle="tooltip" data-placement="top" title="Clear all filters">
			<i class="fa fa-eraser"></i>&nbsp;&nbsp;Clear
		</button>
	</div>
	<table id="tournamentsTable" class="table table-condensed table-hover table-striped">
		<thead>
		<tr>
			<th data-column-id="name" data-formatter="tournament" data-width="200">Name</th>
			<th data-column-id="levels" data-formatter="levels" data-width="140">Level</th>
			<th data-column-id="surfaces" data-formatter="surfaces" data-width="110">Surface</th>
			<th data-column-id="speeds" data-formatter="speeds" data-width="70">Speed</th>
			<th data-column-id="eventCount" data-formatter="eventCount" data-width="75">Events</th>
			<th data-column-id="seasons" data-formatter="seasons" data-width="180" data-sortable="false">Seasons</th>
			<th data-column-id="playerCount" data-type="numeric" data-visible="false" data-width="55" data-align="right" data-header-align="right">Pls.</th>
			<th data-column-id="participation" data-formatter="participation" data-width="60" data-align="right" data-header-align="right">Part.</th>
			<th data-column-id="strength" data-type="numeric" data-width="50" data-align="right" data-header-align="right">Str.</th>
			<th data-column-id="averageEloRating" data-type="numeric" data-width="50" data-align="right" data-header-align="right">Elo</th>
			<th data-column-id="topPlayers" data-formatter="topPlayer" data-sortable="false" data-width="220">Top Player</th>
		</tr>
		</thead>
	</table>
	<th:block th:include="fragments/deviceDetector :: deviceDetectors"/>
	<footer th:include="fragments/footer :: copy"></footer>
</body>
</html>