<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="level" type="org.strangeforest.tcb.stats.model.TournamentLevel"*/-->
<!--/*@thymesVar id="levelGroup" type="org.strangeforest.tcb.stats.model.TournamentLevelGroup"*/-->
<!--/*@thymesVar id="timeline" type="org.strangeforest.tcb.stats.model.TournamentLevelTimeline"*/-->
<head th:replace="fragments/head :: commonHead(${level.text} + ' Timeline', false, ~{::script}, ~{::style})">
	<script type="text/javascript">
		$(function() {
			$("#timelineTable").find("td>span").each(function() {
				var $event = $(this);
				var title = $event.data("winner") + formatSeedEntry($event.data("winner-seed"), $event.data("winner-entry")) + " " + ($event.data("outcome") != "ABD" ? "d." : "vs") + " "
					+ $event.data("runner-up") + formatSeedEntry($event.data("runner-up-seed"), $event.data("runner-up-entry")) + "<br/>" + $event.data("score");
				$event.tooltip({title: title, html: true, placement: "top"});
			});
		});
	</script>
	<style th:inline="css">
		[# th:if="${level.code == 'M'}"]
		@media (min-width: 1530px) {
			.container {
				width: 1500px;
			}
		}
		[/]
		[# th:if="${level.code == 'F' || level.code == 'O'}"]
		.table {
			width: 50%;
		}
		[/]
		span.small-dimmed {
			font-size: smaller;
			color: #444;
		}
		.tooltip-inner {
			background-color: #444444;
			max-width: 400px;
		}
	</style>
</head>
<body class="container">
	<header th:include="fragments/header :: title"></header>
	<h3>[[${level.text}]] Timeline</h3>
	<th:block th:with="minDevice=${level.code == 'G' ? 'md' : (level.code == 'M' ? 'lg' : _)}" th:include="fragments/deviceDetector :: largeDeviceRequired(${minDevice})"/>
	<table id="timelineTable" class="table table-condensed table-hover table-bordered text-nowrap">
		<th:block th:each="season : ${timeline.seasons}">
		<thead th:unless="${timeline.areSameTournaments(season)}">
			<tr>
				<th>Season</th>
				<th th:each="tournament : ${timeline.getTournaments(season)}">
					<a th:href="@{/tournament(tournamentId=${tournament.id})}" th:text="${tournament.name}" title="Show tournament">Wimbledon</a>
				</th>
			</tr>
		</thead>
		<tr>
			<th>
				<a th:href="@{/tournamentEvents(season=${season}, level=${levelGroup != null ? levelGroup.codes : level.code})}" th:text="${season}" title="Show season tournaments">2000</a>
			</th>
			<td th:each="event : ${timeline.getSeasonEvents(season)}" th:with="winner=${event.winner}, runnerUp=${event.runnerUp}" th:class="${event.surface != null ? 'bg-surface-' + event.surface : _}">
				<span th:if="${winner}" th:attr="data-winner=${winner.fullName}, data-winner-seed=${winner.seed}, data-winner-entry=${winner.entry}, data-runner-up=${runnerUp.fullName}, data-runner-up-seed=${runnerUp.seed}, data-runner-up-entry=${runnerUp.entry}, data-score=${event.score}, data-outcome=${event.outcome}">
					<th:block th:unless="${event.outcome} == 'ABD'">
						<img th:src="@{/images/flags/{code}.png(code=${winner.country.code})}" src="/images/flags/ch.png'" th:title="${winner.country.id}" title="SUI" width="24" height="20"/>
						<a th:href="@{/playerProfile(playerId=${winner.playerId})}" th:text="${winner.name}" style="vertical-align: middle" title="Show profile">Roger Federer</a>
						<img th:if="${winner.active}" src="/images/active.png" title="Active" width="12" height="12"/>
						<span class="small-dimmed" th:text="'(' + ${event.playerWins} + '/' + ${timeline.getWins(event.level, winner.playerId)} + ')'">(2/5)</span>
					</th:block>
					<span th:if="${event.outcome} == 'ABD'" class="small-dimmed">
						<a th:href="@{/playerProfile(playerId=${winner.playerId})}" th:text="${winner.name}" style="vertical-align: middle" title="Show profile">Roger Federer</a>
						<img th:if="${winner.active}" src="/images/active.png" title="Active" width="12" height="12"/>
						vs
						<a th:href="@{/playerProfile(playerId=${runnerUp.playerId})}" th:text="${runnerUp.name}" style="vertical-align: middle" title="Show profile">Novak Djokovic</a>
						<img th:if="${runnerUp.active}" src="/images/active.png" title="Active" width="12" height="12"/>
						([[${event.outcome}]])
					</span>
				</span>
			</td>
		</tr>
		</th:block>
	</table>
	<footer th:include="fragments/footer :: copy"></footer>
</body>
</html>