<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="season" type="java.lang.Integer"*/-->
<!--/*@thymesVar id="level" type="java.lang.String"*/-->
<!--/*@thymesVar id="surface" type="java.lang.String"*/-->
<!--/*@thymesVar id="indoor" type="java.lang.Boolean"*/-->
<!--/*@thymesVar id="speed" type="java.lang.Integer"*/-->
<!--/*@thymesVar id="tournamentId" type="java.lang.Integer"*/-->
<!--/*@thymesVar id="seasons" type="java.util.List<java.lang.Integer>"*/-->
<!--/*@thymesVar id="levels" type="java.util.Set<org.strangeforest.tcb.stats.model.core.TournamentLevel>"*/-->
<!--/*@thymesVar id="levelGroups" type="java.util.Set<org.strangeforest.tcb.stats.model.core.TournamentLevelGroup>"*/-->
<!--/*@thymesVar id="surfaces" type="org.strangeforest.tcb.stats.model.core.Surface[]"*/-->
<!--/*@thymesVar id="surfaceGroups" type="org.strangeforest.tcb.stats.model.core.SurfaceGroup[]"*/-->
<!--/*@thymesVar id="speeds" type="org.strangeforest.tcb.stats.model.core.CourtSpeed[]"*/-->
<!--/*@thymesVar id="tournaments" type="java.util.List<org.strangeforest.tcb.stats.model.core.TournamentItem>"*/-->
<head th:replace="fragments/head :: commonHead(~{::title/text()}, true, ~{::template})">
	<title>Tournament Events</title>
	<template>
	<meta name="description" content="Latest and historical tennis tournament results"/>
	<script type="text/javascript">
		$(function() {
			var $tournamentEventsTable = $("#tournamentEventsTable");
			var device = detectDevice();
			setBootgridColumnsVisible($tournamentEventsTable, ["speed", "finalEx"], deviceGreaterOrEqual(device, "xl"));
			setBootgridColumnsVisible($tournamentEventsTable, ["playerCount", "strength", "averageEloRating"], deviceGreaterOrEqual(device, "lg"));
			setBootgridColumnsVisible($tournamentEventsTable, ["final"], deviceGreaterOrEqual(device, "md") && deviceLessOrEqual(device, "lg"));
			if (device === "md")
				setBootgridColumnsWidths($tournamentEventsTable, ["final"], [400]);
			$tournamentEventsTable.bootgrid({
				ajax: true,
				ajaxSettings: {
					method: "GET",
					cache: false
				},
				url: "/tournamentEventsTable",
				requestHandler: function(request) {
					request.season = $("#season").val();
					request.level = $("#level").val();
					request.surface = $("#surface").val();
					request.indoor = $("#indoor").val();
					request.speed = $("#speed").val();
					request.tournamentId = $("#tournament").val();
					return request;
				},
				rowCount: [20, 50, 100, -1],
				searchSettings: {
					delay: 300,
					characters: 2
				},
				formatters: {
					"date": dateFormatter,
					"event": tournamentEventFormatterExtId,
					"level": levelFormatter,
					"surface": surfaceFormatter,
					"speed": speedFormatter,
					"participation": participationFormatter,
					"final": finalFormatter,
					"finalEx": finalExFormatter
				},
				labels: {
					loading: bootgridTemplateLoading,
					noResults: "No tournament events found"
				},
				templates: {
					paginationItem: bootgridTemplatePaginationItem
				}
			});
			var $search = $("#tournamentEventsTable-header").find("div.search");
			$search.before($("#tournamentDiv").remove());
			$search.before($("#speedDiv").remove());
			$search.after($("#clearDiv").remove());
			setBootgridTitles($tournamentEventsTable, [
				{id: "speed", title: "[[#{event.courtSpeed.title}]]"},
				{id: "playerCount", title: "Players"},
				{id: "participation", title: "[[#{event.participation.title}]]"},
				{id: "strength", title: "[[#{event.strength.title}]]"},
				{id: "averageEloRating", title: "[[#{event.averageEloRating.title}]]"}
			]);
			$("[data-toggle='tooltip']").tooltip();
		});
		function reloadTournamentEvents() {
			$("#tournamentEventsTable").bootgrid("reload");
		}
		function clearTournamentEventsFilter() {
			$("#season").val("");
			$("#level").val("");
			$("#surface").val("");
			$("#indoor").val("");
			$("#speed").val("");
			$("#tournament").val("");
			$("#tournamentEventsTable").bootgrid("search", "");
			reloadTournamentEvents();
		}
	</script>
	</template>
</head>
<body class="container">
	<header th:include="fragments/header :: title"></header>
	<div class="row">
		<div class="col-md-4">
			<h3 class="text-nowrap" style="display: inline"><i class="fa fa-calendar"></i> Tournament Events</h3>
		</div>
		<div class="col-md-2">
			<select id="season" class="form-control" onchange="reloadTournamentEvents()" data-toggle="tooltip" data-placement="top" title="Filter by season">
				<option value="">All seasons</option>
				<option value="-1" th:selected="${season == -1}">Last 52 weeks</option>
				<option th:each="aSeason : ${seasons}" th:value="${aSeason}" value="2005" th:text="${aSeason}" th:selected="${aSeason == season}">2005</option>
			</select>
		</div>
		<div class="col-md-2">
			<select id="level" class="form-control" onchange="reloadTournamentEvents()" data-toggle="tooltip" data-placement="top" title="Filter by tournament level">
				<option value="">All levels</option>
				<option th:each="aLevel : ${levels}" th:value="${aLevel.code}" th:class="|bg-level-${aLevel.code}|" value="G" class="bg-level-G" th:text="${aLevel.text}" th:selected="${aLevel.code == level}">Grand Slam</option>
				<option th:each="levelGroup : ${levelGroups}" th:value="${levelGroup.codes}" value="GFLMO" th:text="${levelGroup.text}" th:selected="${levelGroup.codes == level}">Big Tournaments</option>
			</select>
		</div>
		<div class="col-md-2">
			<select id="surface" class="form-control" onchange="reloadTournamentEvents()" data-toggle="tooltip" data-placement="top" title="Filter by surface">
				<option value="">All surfaces</option>
				<option th:each="aSurface : ${surfaces}" th:value="${aSurface.code}" th:class="|bg-surface-${aSurface.code}|" value="H" class="bg-surface-H" th:text="${aSurface.text}" th:selected="${aSurface.code == surface}">Hard</option>
				<option th:each="surfaceGroup : ${surfaceGroups}" th:value="${surfaceGroup.codes}" value="HGP" th:text="${surfaceGroup.text}" th:selected="${surfaceGroup.codes.length() > 1 && surfaceGroup.codes == surface}">Fast (H, G, Cp)</option>
			</select>
		</div>
		<div class="col-md-2">
			<select id="indoor" class="form-control" onchange="reloadTournamentEvents()" data-toggle="tooltip" data-placement="top" title="Filter by outdoor / indoor">
				<option value="">Outdoor / Indoor</option>
				<option value="false" th:selected="${indoor == false}">Outdoor</option>
				<option value="true" th:selected="${indoor}">Indoor</option>
			</select>
		</div>
	</div>
	<div id="tournamentDiv" class="btn-group margin-right no-margin-left">
		<select id="tournament" class="form-control" onchange="reloadTournamentEvents()" data-toggle="tooltip" data-placement="top" title="Filter by tournament">
			<option value="">All tournaments</option>
			<option th:each="tournament : ${tournaments}" th:if="${tournament.level != 'D' and tournament.level != 'T'}" th:value="${tournament.id}" value="101" th:text="${tournament.name}" th:class="'bg-level-' + ${tournament.level}" th:selected="${tournament.id == tournamentId}">Wimbledon</option>
		</select>
	</div>
	<div id="speedDiv" class="btn-group margin-right">
		<select id="speed" class="form-control" onchange="reloadTournamentEvents()" data-toggle="tooltip" data-placement="top" title="Filter by court speed">
			<option value="">All speeds</option>
			<option th:each="aSpeed : ${speeds}" th:value="${aSpeed.speed}" th:class="|points-${aSpeed.speed}|" style="color: white" value="50" class="points-50" th:text="${aSpeed.text}" th:selected="${aSpeed.speed == speed}">Medium</option>
		</select>
	</div>
	<div id="clearDiv" class="btn-group margin-right">
		<button type="button" class="btn btn-default" onclick="clearTournamentEventsFilter()" data-toggle="tooltip" data-placement="top" title="Clear all filters">
			<i class="fa fa-eraser"></i>&nbsp;&nbsp;Clear
		</button>
	</div>
	<table id="tournamentEventsTable" class="table table-condensed table-hover table-striped">
		<thead>
		<tr>
			<th data-column-id="date" data-formatter="date" data-order="desc" data-width="85">Date</th>
			<th data-column-id="name" data-formatter="event" data-width="200">Name</th>
			<th data-column-id="surface" data-formatter="surface" data-width="80">Surface</th>
			<th data-column-id="speed" data-formatter="speed" data-width="70" data-align="center" data-header-align="center">Speed</th>
			<th data-column-id="draw" data-width="65">Draw</th>
			<th data-column-id="playerCount" data-type="numeric" data-width="55" data-align="right" data-header-align="right">Pls.</th>
			<th data-column-id="participation" data-formatter="participation" data-width="60" data-align="right" data-header-align="right">Part.</th>
			<th data-column-id="strength" data-type="numeric" data-width="50" data-align="right" data-header-align="right">Str.</th>
			<th data-column-id="averageEloRating" data-type="numeric" data-width="50" data-align="right" data-header-align="right">Elo</th>
			<th data-column-id="final" data-formatter="final" data-sortable="false" data-width="500">Final</th>
			<th data-column-id="finalEx" data-formatter="finalEx" data-sortable="false" data-visible="false" data-width="550">Final Details</th>
		</tr>
		</thead>
	</table>
	<th:block th:include="fragments/deviceDetector :: deviceDetectors"/>
	<footer th:include="fragments/footer :: copy"></footer>
</body>
</html>