<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="tournamentEvent" type="org.strangeforest.tcb.stats.model.TournamentEvent"*/-->
<!--/*@thymesVar id="results" type="org.strangeforest.tcb.stats.model.TournamentEventResults"*/-->
<!--/*@thymesVar id="levels" type="java.util.Map"*/-->
<!--/*@thymesVar id="surfaces" type="java.util.Map"*/-->
<head th:replace="fragments/head :: commonHead(${tournamentEvent.name + ' ' + tournamentEvent.season}, true, ~{::template})">
	<template>
	<meta name="description" th:content="${tournamentEvent.name + ' ' + tournamentEvent.season} + ' at Ultimate Tennis Statistics'"/>
	<script type="text/javascript">
		$(function() {
			decorateSurface("#eventSurface");
			decorateSpeed("#eventSpeed");
			$("#tournamentEventPills").find("a").click(tabClick);
		});
	</script>
	<style type="text/css">
		td.player-h2h {
			width: 20px;
			line-height: 1.0 !important;
			text-align: center;
			background-color: #e0f0ff;
			padding: 0 !important;
		}
		td.player-h2h:hover {
			background-color: #c0e0ff;
		}
		a.player-h2h {
			display: block;
			text-decoration: none;
		}
	</style>
	</template>
</head>
<body class="container">
	<header th:include="fragments/header :: title"></header>
	<h3 th:text="${tournamentEvent.name} + ' ' + ${tournamentEvent.season}">Australian Open 2016</h3>
	<div class="row" th:with="isTeam=${tournamentEvent.level == 'D' || tournamentEvent.level == 'T'}">
		<div class="col-md-3">
			<table class="table table-condensed text-nowrap">
				<tr>
					<th>Level</th>
					<td><span class="label label-" th:attrappend="class=${tournamentEvent.level}" th:text="${levels[tournamentEvent.level]}">Grand Slam</span></td>
				</tr>
				<tr th:unless="${isTeam}">
					<th>Surface</th>
					<td>
						<span id="eventSurface" th:if="${tournamentEvent.surface}" class="label" th:data-surface="${tournamentEvent.surface}">[(${surfaces[tournamentEvent.surface]})]<span th:if="${tournamentEvent.indoor && tournamentEvent.surface != 'P'}" title="Indoor"> (i)</span></span>
						<span id="eventSpeed" th:if="${tournamentEvent.speed}" class="label" th:data-surface="${tournamentEvent.surface}" th:data-court-speed="${tournamentEvent.speed}" th:text="${tournamentEvent.speed}">50</span>
					</td>
				</tr>
				<tr th:unless="${isTeam}">
					<th>Date</th>
					<td th:text="${#temporals.format(tournamentEvent.date, 'dd-MM-yyyy')}">1-1-1990</td>
				</tr>
				<tr>
					<th>Draw</th>
					<td th:text="${tournamentEvent.draw}">KO 128</td>
				</tr>
			</table>
		</div>
		<div class="col-md-3" th:unless="${isTeam}">
			<table class="table table-condensed text-nowrap">
				<tr>
					<th>Players</th>
					<td th:text="${tournamentEvent.playerCount}">128</td>
				</tr>
				<tr th:title="#{event.participation.title}">
					<th>Participation</th>
					<td th:text="${#numbers.formatDecimal(100 * tournamentEvent.participation, 1, 1) + '%'}">67.3%</td>
				</tr>
				<tr th:title="#{event.strength.title}">
					<th>Strength</th>
					<td th:text="${tournamentEvent.strength}">1232</td>
				</tr>
				<tr th:title="#{event.averageEloRating.title}">
					<th>Average Elo Rating</th>
					<td th:text="${tournamentEvent.averageEloRating}">1954</td>
				</tr>
			</table>
		</div>
		<div class="col-md-4">
			<table class="table table-condensed text-nowrap">
				<tr th:if="${tournamentEvent.winner}">
					<th>Winner</th>
					<td th:with="player=${tournamentEvent.winner}">
						<th:block th:unless="${tournamentEvent.outcome == 'ABD'}">
							<img th:src="@{/images/flags/{code}.png(code=${player.country.code})}" src="/images/flags/ch.png'" th:title="${player.country.id}" title="SUI" width="24" height="20"/>
							<strong><a th:href="@{/playerProfile(playerId=${player.id})}" th:text="${player.name}" title="Show profile">Roger Federer</a>[(${player.formattedSeedAndEntry()})]</strong>
						</th:block>
						<th:block th:if="${tournamentEvent.outcome == 'ABD'}">ABD</th:block>
					</td>
				</tr>
				<tr th:if="${tournamentEvent.runnerUp != null && tournamentEvent.outcome != 'ABD'}">
					<th>Runner-up</th>
					<td th:with="player=${tournamentEvent.runnerUp}">
						<img th:src="@{/images/flags/{code}.png(code=${player.country.code})}" src="/images/flags/es.png'" th:title="${player.country.id}" title="ESP" width="24" height="20"/>
						<a th:href="@{/playerProfile(playerId=${player.id})}" th:text="${player.name}" title="Show profile">Rafael Nadal</a>[(${player.formattedSeedAndEntry()})]
					</td>
				</tr>
				<tr th:if="${tournamentEvent.score}">
					<th>Final Score</th>
					<td th:utext="${tournamentEvent.scoreFormatted()}">6-4 6-3</td>
				</tr>
				<tr th:if="${tournamentEvent.titleDifficulty}">
					<th th:title="#{event.titleDifficulty.title}">Title Difficulty<sup class="new-feature"></sup></th>
					<td th:utext="${#numbers.formatDecimal(tournamentEvent.titleDifficulty, 1, 3)}">1.23</td>
				</tr>
			</table>
		</div>
		<div class="col-md-2">
			<table class="table table-condensed text-nowrap">
				<tr>
					<th>
						<a role="button" th:href="${!isTeam ? ('/tournament?tournamentId=' + tournamentEvent.tournamentId) : ('/teamTournamentLevelTimeline?level=' + tournamentEvent.level)}" class="btn btn-info btn-sm" data-toggle="tooltip" data-placement="top" title="Tournament history">
							<i class="fa fa-calendar"></i>&nbsp;&nbsp;History
						</a>
					</th>
				</tr>
			</table>
		</div>
	</div>
	<ul id="tournamentEventPills" class="nav nav-pills">
		<li class="active"><a data-toggle="pill" href="#results">Results</a></li>
		<li><a data-toggle="pill" href="#statistics" th:data-url="'/tournamentEventStats?tournamentEventId=' + ${tournamentEvent.id}">Statistics</a></li>
		<li th:if="${tournamentEvent.mapProperties}"><a data-toggle="pill" href="#map" th:data-url="'/tournamentEventMap?tournamentEventId=' + ${tournamentEvent.id}">Map<sup class="cool-feature"></sup></a></li>
	</ul>
	<div class="tab-content">
		<div id="results" class="tab-pane fade in active">
			<div th:unless="${results.isEmpty()}" th:include="fragments/eventResults :: eventResults('', 0, false)"></div>
			<th:block th:if="${results.isEmpty()}">
				<br/>
				<div class="alert alert-warning">No results found</div>
			</th:block>
		</div>
		<div id="statistics" class="tab-pane fade"><div class="loading"></div></div>
		<div th:if="${tournamentEvent.mapProperties}" id="map" class="tab-pane fade" style="height: 620px"><div class="loading"></div></div>
	</div>
	<th:block th:include="fragments/deviceDetector :: deviceDetectors"/>
	<footer th:include="fragments/footer :: copy"></footer>
</body>
</html>