<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--@thymesVar id="tournamentEvent" type="org.strangeforest.tcb.stats.model.TournamentEvent"-->
<!--@thymesVar id="draw" type="org.strangeforest.tcb.stats.model.TournamentEventDraw"-->
<!--@thymesVar id="levels" type="java.util.Map"-->
<!--@thymesVar id="surfaces" type="java.util.Map"-->
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<title th:text="'Ultimate Tennis Statistics - ' + ${tournamentEvent.name} + ' ' + ${tournamentEvent.season}">Ultimate Tennis Statistics - Australian Open 2016</title>
	<link th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
	<link th:href="@{/webjars/jquery-ui-themes/1.11.4/smoothness/jquery-ui.css}" rel="stylesheet" media="screen"/>
	<link th:href="@{/webjars/jquery.bootgrid/1.2.0/dist/jquery.bootgrid.min.css}" rel="stylesheet" media="screen"/>
	<link th:href="@{/css/tennis-stats.css}" rel="stylesheet" media="screen"/>
	<script th:src="@{/webjars/jquery/2.2.1/jquery.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}"></script>
	<script th:src="@{/webjars/jquery-ui/1.11.4/jquery-ui.min.js}"></script>
	<script th:src="@{/webjars/jquery.bootgrid/1.2.0/dist/jquery.bootgrid.min.js}"></script>
	<script th:src="@{/js/tennis-stats.js}"></script>
	<script type="text/javascript" th:inline="javascript">
		/*<![CDATA[*/
		var rounds = [[${draw.rounds}]];
		var roundsToShow = Math.min(rounds.length, 4);
		var maxRoundPos = rounds.length - roundsToShow;
		var roundPos = maxRoundPos;
		$(function() {
			showRounds();
		});
		function roundLeft() {
			if (roundPos > 0) {
				roundPos--;
				showRounds()
			}
		}
		function roundRight() {
			if (roundPos < maxRoundPos) {
				roundPos++;
				showRounds()
			}
		}
		function showRounds() {
			doShowRounds(roundPos, roundPos + roundsToShow);
		}
		function doShowRounds(fromIndex, toIndex) {
			$("#drawTable").find("th[data-round-index], td[data-round-index]").each(function () {
				var $match = $(this);
				var roundIndex = $match.data("round-index");
				if (fromIndex <= roundIndex && roundIndex < toIndex)
					$match.show();
				else
					$match.hide();
			});
			var $drawLeft = $("#drawLeft");
			$drawLeft.prop("disabled", roundPos == 0);
			$drawLeft.html(" " + rounds[Math.max(0, roundPos - 1)].$name);
			var $drawRight = $("#drawRight");
			$drawRight.prop("disabled", roundPos == maxRoundPos);
			$drawRight.html(" " + rounds[Math.min(maxRoundPos, roundPos + 1) + roundsToShow - 1].$name);
		}
		function toggleStatsData(selector) {
			$(selector).find(".pct-data, .raw-data").toggle();
		}
		/*]]>*/
	</script>
	<style>
		td.seed {
			width: 20px;
			padding: 0 2px;
		}
		td.player {
			padding: 0 2px;
		}
		td.score {
			padding: 0 2px;
		}
		td.stats {
			padding: 0 1px;
			vertical-align: top;
		}
		.btn-xxs,
		.btn-group-xxs > .btn {
			padding: 1px 2px;
			font-size: 10px;
			line-height: 1.5;
			border-radius: 3px;
			vertical-align: top;
		}
	</style>
</head>
<body class="container">
	<div th:include="fragments/header :: title"></div>
	<h3 th:text="${tournamentEvent.name} + ' ' + ${tournamentEvent.season}">Australian Open 2016</h3>
	<div class="row">
		<div class="col-md-3">
			<table class="table table-condensed text-nowrap">
				<tr>
					<th>Level</th>
					<td th:text="${levels[tournamentEvent.level]}">Grand Slam</td>
				</tr>
				<tr>
					<th>Surface</th>
					<td th:text="${(tournamentEvent.indoor ? 'Indoor ' : '') + surfaces[tournamentEvent.surface]}">Hard</td>
				</tr>
				<tr>
					<th>Date</th>
					<td th:text="${#dates.format(tournamentEvent.date, 'dd-MM-yyyy')}">1-1-1990</td>
				</tr>
			</table>
		</div>
		<div class="col-md-3">
			<table class="table table-condensed text-nowrap">
				<tr>
					<th>Draw</th>
					<td th:text="${tournamentEvent.draw}">KO 128</td>
				</tr>
				<tr>
					<th>Players</th>
					<td th:text="${tournamentEvent.playerCount}">128</td>
				</tr>
				<tr>
					<th>Participation</th>
					<td th:text="${tournamentEvent.participationPoints} + ' (' + ${#numbers.formatDecimal(tournamentEvent.participationPct, 1, 1) + '%'} + ')'">832 (67.3%)</td>
				</tr>
			</table>
		</div>
		<div class="col-md-3">
			<table class="table table-condensed text-nowrap">
				<tr>
					<th>Winner</th>
					<td th:with="player=${tournamentEvent.winner}">
						<a th:href="'/playerProfile?playerId=' + ${player.id}" th:text="${player.name}" title="Show profile">Roger Federer</a>
					</td>
				</tr>
				<tr>
					<th>Runner-up</th>
					<td th:with="player=${tournamentEvent.runnerUp}">
						<a th:href="'/playerProfile?playerId=' + ${player.id}" th:text="${player.name}" title="Show profile">Rafael Nadal</a>
					</td>
				</tr>
				<tr>
					<th colspan="2">
						<a role="button" th:href="'/tournament?tournamentId=' + ${tournamentEvent.tournamentId}" class="btn btn-info btn-sm" data-toggle="tooltip" data-placement="top" title="Tournament history">
							<span class="glyphicon glyphicon-calendar"></span> History
						</a>
					</th>
				</tr>
			</table>
		</div>
	</div>
	<table id="drawTable" class="table-condensed text-nowrap" width="100%">
		<thead>
			<tr>
				<th colspan="2"><button id="drawLeft" type="button" class="btn btn-info btn-xs glyphicon glyphicon-chevron-left" onclick="roundLeft()"></button></th>
				<th colspan="2" style="text-align: right"><button id="drawRight" type="button" class="btn btn-info btn-xs glyphicon glyphicon-chevron-right" onclick="roundRight()"></button></th>
			</tr>
			<tr>
				<th th:each="round : ${draw.rounds}" th:text="${round.description}" th:attr="data-round-index=${roundStat.index}">Final</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="i : ${#numbers.sequence(0, draw.maxRoundMatches - 1)}">
				<td th:each="round : ${draw.rounds}" th:with="matches=${draw.getRoundMatches(round)}, match=${i lt matches.size() ? matches[i] : null}" th:attr="data-round-index=${roundStat.index}">
					<table th:if="${match}" class="table-bordered">
						<tr th:with="winner=${match.winner}">
							<td class="seed">
								<span th:text="${winner.seedAndEntry}"></span>
							</td>
							<td class="player">
								<img th:src="'/images/flags/' + ${winner.countryCode} + '.png'" src="/images/flags/ch.png'" th:title="${winner.countryId}" title="SUI" width="24" height="20"/>
								<strong><a th:href="'/playerProfile?playerId=' + ${winner.id}" th:text="${winner.name}" style="vertical-align: middle" title="Show profile">Roger Federer</a></strong>
							</td>
							<td th:each="score : ${match.score}" class="score"><th:block th:text="${score.wGames}">6</th:block><sup th:if="${score.wTBPoints}" th:text="|(${score.wTBPoints})|"></sup></td>
							<td class="score"><th:block th:if="${match.outcome}" th:text="${match.outcome}"/></td>
						</tr>
						<tr th:with="loser=${match.loser}">
							<td class="seed">
								<span th:text="${loser.seedAndEntry}"></span>
							</td>
							<td class="player">
								<img th:src="'/images/flags/' + ${loser.countryCode} + '.png'" src="/images/flags/ch.png'" th:title="${loser.countryId}" title="ESP" width="24" height="20"/>
								<a th:href="'/playerProfile?playerId=' + ${loser.id}" th:text="${loser.name}" style="vertical-align: middle" title="Show profile">Rafael Nadal</a>
							</td>
							<td th:each="score : ${match.score}" class="score"><th:block th:text="${score.lGames}">3</th:block><sup th:if="${score.lTBPoints}" th:text="|(${score.lTBPoints})|"></sup></td>
							<td class="stats">
								<a th:id="'matchStats-' + ${match.id}" href="#" class="btn btn-info btn-xxs glyphicon glyphicon-stats" th:onclick="|showMatchStats(${match.id}, event)|" title='Match Statistics'> </a>
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</tbody>
	</table>
	<div th:include="fragments/footer :: copy"></div>
</body>
</html>