<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--@thymesVar id="seasons" type="java.util.List<java.lang.Integer>"-->
<!--@thymesVar id="levels" type="java.util.EnumSet<org.strangeforest.tcb.stats.model.TournamentLevel>"-->
<!--@thymesVar id="surfaces" type="org.strangeforest.tcb.stats.model.Surface[]"-->
<!--@thymesVar id="tournaments" type="java.util.List<org.strangeforest.tcb.stats.model.TournamentItem>"-->
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<title>Ultimate Tennis Statistics - Tournament Events</title>
	<link th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
	<link th:href="@{/webjars/jquery-ui-themes/1.11.4/smoothness/jquery-ui.css}" rel="stylesheet" media="screen"/>
	<link th:href="@{/webjars/jquery.bootgrid/1.2.0/dist/jquery.bootgrid.min.css}" rel="stylesheet" media="screen"/>
	<link th:href="@{/css/tennis-stats.css}" rel="stylesheet" media="screen"/>
	<script th:src="@{/webjars/jquery/2.2.2/jquery.min.js}"></script>
	<script th:src="@{/webjars/jquery-ui/1.11.4/jquery-ui.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}"></script>
	<script th:src="@{/webjars/jquery.bootgrid/1.2.0/dist/jquery.bootgrid.min.js}"></script>
	<script th:src="@{/js/tennis-stats.js}"></script>
	<script type="text/javascript">
		/*<![CDATA[*/
		$(function() {
			var $tournamentEventsTable = $("#tournamentEventsTable");
			$tournamentEventsTable.bootgrid({
				ajax: true,
				ajaxSettings: {
					method: "GET",
					cache: false
				},
				url: "/tournamentEventsTable",
				requestHandler: function (request) {
					request.season = $("#season").val();
					request.level = $("#level").val();
					request.surface = $("#surface").val();
					request.tournamentId = $("#tournament").val();
					return request;
				},
				rowCount: [20, 50, -1],
				searchSettings: {
					delay: 300,
					characters: 2
				},
				formatters: {
					"date": dateFormatter,
					"event": eventFormatter,
					"level": levelFormatter,
					"surface": surfaceFormatter,
					"participationPct": function(column, row) {
						return row.participationPct.toFixed(1) + "%";
					},
					"match": finalFormatter
				}
			});
			var $actionBar = $("#tournamentEventsTable-header").find("div.actionBar");
			$actionBar.removeClass("col-sm-12").addClass("col-sm-4");
			$actionBar.before($("#seasonDiv").remove());
			$actionBar.before($("#levelDiv").remove());
			$actionBar.before($("#surfaceDiv").remove());
			$actionBar.before($("#tournamentDiv").remove());
			$actionBar.after($("#clearDiv").remove());
			setBootgridTitles($tournamentEventsTable, [
				{id: "playerCount", title: "Players"},
				{id: "participationPoints", title: "Participation points"},
				{id: "participationPct", title: "Participation percentage"}
			]);
			$("[data-toggle='tooltip']").tooltip();
		});
		function reloadTournamentEvents() {
			$("#tournamentEventsTable").bootgrid("reload");
		}
		function clearTournamentEventsFilter() {
			$("#season").val("");
			$("#level").val("");
			$("#surface").val("");
			$("#tournament").val("");
			$("#tournamentEventsTable").bootgrid("search", "");
			reloadTournamentEvents();
		}
		/*]]>*/
	</script>
</head>
<body class="container">
	<header th:include="fragments/header :: title"></header>
	<h3>Tournament Events</h3>
	<div id="seasonDiv" class="col-sm-1" style="padding-left: 0">
		<select id="season" class="form-control" onchange="reloadTournamentEvents()" data-toggle="tooltip" data-placement="top" title="Filter by season">
			<option value="">All</option>
			<option th:each="season : ${seasons}" th:value="${season}" value="2005" th:text="${season}">2005</option>
		</select>
	</div>
	<div id="levelDiv" class="col-sm-2">
		<select id="level" class="form-control" onchange="reloadTournamentEvents()" data-toggle="tooltip" data-placement="top" title="Filter by tournament level">
			<option value="">All levels</option>
			<option th:each="level : ${levels}" th:value="${level.code}" th:class="|bg-level-${level.code}|" value="G" class="bg-level-G" th:text="${level.text}">Grand Slam</option>
		</select>
	</div>
	<div id="surfaceDiv" class="col-sm-2">
		<select id="surface" class="form-control" onchange="reloadTournamentEvents()" data-toggle="tooltip" data-placement="top" title="Filter by surface">
			<option value="">All surfaces</option>
			<option th:each="surface : ${surfaces}" th:value="${surface.code}" th:class="|bg-surface-${surface.code}|" value="H" class="bg-surface-H" th:text="${surface.text}">Hard</option>
		</select>
	</div>
	<div id="tournamentDiv" class="col-sm-2">
		<select id="tournament" class="form-control" onchange="reloadTournamentEvents()" data-toggle="tooltip" data-placement="top" title="Filter by tournament">
			<option value="">All tournaments</option>
			<option th:each="tournament : ${tournaments}" th:if="${tournament.level != 'D' and tournament.level != 'T'}" th:value="${tournament.id}" value="101" th:text="${tournament.name}" th:class="'bg-level-' + ${tournament.level}">Wimbledon</option>
		</select>
	</div>
	<div id="clearDiv" class="col-sm-1">
		<button type="button" class="btn btn-default" onclick="clearTournamentEventsFilter()" data-toggle="tooltip" data-placement="top" title="Clear all filters">
			<span class="glyphicon glyphicon-remove"></span> Clear
		</button>
	</div>
	<table id="tournamentEventsTable" class="table table-condensed table-hover table-striped">
		<thead>
			<tr>
				<th data-column-id="date" data-formatter="date" data-order="desc" data-width="70">Date</th>
				<th data-column-id="name" data-formatter="event" data-width="130">Name</th>
				<th data-column-id="surface" data-formatter="surface" data-width="60">Surface</th>
				<th data-column-id="draw" data-width="50">Draw</th>
				<th data-column-id="playerCount" data-width="40">Pls.</th>
				<th data-column-id="participationPoints" data-width="50">P. Pts.</th>
				<th data-column-id="participationPct" data-formatter="participationPct" data-width="50">P. Pct.</th>
				<th data-column-id="final" data-formatter="match" data-sortable="false" data-width="280">Final</th>
			</tr>
		</thead>
	</table>
	<footer th:include="fragments/footer :: copy"></footer>
</body>
</html>