<th:block xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="tournamentId" type="java.lang.Integer"*/-->
<script type="text/javascript">
	$(function() {
		var $tournamentEventsTable = $("#tournamentEventsTable");
		var device = detectDevice();
		setBootgridColumnsVisible($tournamentEventsTable, ["speed", "finalEx"], deviceGreaterOrEqual(device, "xl"));
		setBootgridColumnsVisible($tournamentEventsTable, ["playerCount", "strength", "averageEloRating"], deviceGreaterOrEqual(device, "lg"));
		setBootgridColumnsVisible($tournamentEventsTable, ["final"], deviceGreaterOrEqual(device, "md") && deviceLessOrEqual(device, "lg"));
		if (deviceGreaterOrEqual(device, "lg"))
			setBootgridColumnsWidths($tournamentEventsTable, ["name"], [175]);
		if (device === "md")
			setBootgridColumnsWidths($tournamentEventsTable, ["final"], [400]);
		$tournamentEventsTable.bootgrid({
			ajax: true,
			ajaxSettings: {
				method: "GET",
				cache: false
			},
			url: "/tournamentEventsTable?tournamentId=[(${tournamentId})]",
			rowCount: [15, 25, 50, -1],
			formatters: {
				"date": dateFormatter,
				"event": tournamentEventFormatterExtId,
				"level": levelFormatter,
				"surface": surfaceFormatter,
				"speed": speedFormatter,
				"participation": participationFormatter,
				"final": finalFormatter,
				"finalEx": finalExFormatter
			},
			labels: {
				loading: bootgridTemplateLoading,
				noResults: "No tournament events found"
			},
			templates: {
				paginationItem: bootgridTemplatePaginationItem
			}
		});
		var $tournamentEventsTableHeader = $("#tournamentEventsTable-header");
		$tournamentEventsTableHeader.find("div.search").remove();
		setBootgridTitle($tournamentEventsTableHeader, $("#tournamentEventsTable-title"));
		addBootgridCsvDownload("tournamentEventsTable", "TournamentEvents.csv", ["^id$", "tournamentId", "tournamentExtId", "winner_id", "runnerUp_id", "country_code", "^draw$"]);
		setBootgridTitles($tournamentEventsTable, [
			{id: "speed", title: "[[#{event.courtSpeed.title}]]"},
			{id: "playerCount", title: "Players"},
			{id: "participation", title: "[[#{event.participation.title}]]"},
			{id: "strength", title: "[[#{event.strength.title}]]"},
			{id: "averageEloRating", title: "[[#{event.averageEloRating.title}]]"}
		]);
	});
</script>
<h3 id="tournamentEventsTable-title" class="grid-title">Events</h3>
<table id="tournamentEventsTable" class="table table-condensed table-hover table-striped">
	<thead>
	<tr>
		<th data-column-id="date" data-formatter="date" data-order="desc" data-width="85">Date</th>
		<th data-column-id="name" data-formatter="event" data-width="200">Name</th>
		<th data-column-id="surface" data-formatter="surface" data-width="80">Surface</th>
		<th data-column-id="speed" data-formatter="speed" data-width="70" data-align="center" data-header-align="center">Speed</th>
		<th data-column-id="draw" data-width="65">Draw</th>
		<th data-column-id="playerCount" data-type="numeric" data-width="55" data-align="right" data-header-align="right">Pls.</th>
		<th data-column-id="participation" data-formatter="participation" data-width="60" data-align="right" data-header-align="right">Part.</th>
		<th data-column-id="strength" data-type="numeric" data-width="50" data-align="right" data-header-align="right">Str.</th>
		<th data-column-id="averageEloRating" data-type="numeric" data-width="50" data-align="right" data-header-align="right">Elo</th>
		<th data-column-id="final" data-formatter="final" data-sortable="false" data-width="500">Final</th>
		<th data-column-id="finalEx" data-formatter="finalEx" data-sortable="false" data-visible="false" data-width="550">Final Details</th>
	</tr>
	</thead>
</table>
</th:block>