<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="season" type="java.lang.Integer"*/-->
<!--/*@thymesVar id="level" type="java.lang.String"*/-->
<!--/*@thymesVar id="surface" type="java.lang.String"*/-->
<!--/*@thymesVar id="seasons" type="java.util.List<java.lang.Integer>"*/-->
<!--/*@thymesVar id="levels" type="java.util.EnumSet<org.strangeforest.tcb.stats.model.TournamentLevel>"*/-->
<!--/*@thymesVar id="levelGroups" type="java.util.EnumSet<org.strangeforest.tcb.stats.model.TournamentLevelGroup>"*/-->
<!--/*@thymesVar id="surfaces" type="org.strangeforest.tcb.stats.model.Surface[]"*/-->
<!--/*@thymesVar id="tournaments" type="java.util.List<org.strangeforest.tcb.stats.model.TournamentItem>"*/-->
<head th:replace="fragments/head :: commonHead(~{::title/text()}, true, ~{::script}, _)">
	<title>Tournament Events</title>
	<script type="text/javascript">
		$(function() {
			var $tournamentEventsTable = $("#tournamentEventsTable");
			var device = detectDevice();
			setBootgridColumnsVisible($tournamentEventsTable, ["playerCount", "participationPoints"], deviceGreaterOrEqual(device, "lg"));
			setBootgridColumnsVisible($tournamentEventsTable, ["final"], deviceGreaterOrEqual(device, "md"));
			if (device != "lg")
				setBootgridColumnsWidths($tournamentEventsTable, ["name"], [175]);
			if (device == "md")
				setBootgridColumnsWidths($tournamentEventsTable, ["final"], [400]);
			$tournamentEventsTable.bootgrid({
				ajax: true,
				ajaxSettings: {
					method: "GET",
					cache: false
				},
				url: "/tournamentEventsTable",
				requestHandler: function(request) {
					request.season = $("#season").val();
					request.level = $("#level").val();
					request.surface = $("#surface").val();
					request.tournamentId = $("#tournament").val();
					return request;
				},
				rowCount: [20, 50, -1],
				searchSettings: {
					delay: 300,
					characters: 2
				},
				formatters: {
					"date": dateFormatter,
					"event": tournamentEventFormatterExtId,
					"level": levelFormatter,
					"surface": surfaceFormatter,
					"participationPct": participationFormatter,
					"match": finalFormatter
				},
				labels: {
					loading: bootgridTemplateLoading,
					noResults: "No tournaments found"
				},
				templates: {
					paginationItem: bootgridTemplatePaginationItem
				}
			});
			var $search = $("#tournamentEventsTable-header").find("div.search");
			$search.after($("#clearDiv").remove());
			setBootgridTitles($tournamentEventsTable, [
				{id: "playerCount", title: "Players"},
				{id: "participationPoints", title: "[[#{events.participationPoints.title}]]"},
				{id: "participationPct", title: "[[#{events.participationPercentage.title}]]"}
			]);
			$("[data-toggle='tooltip']").tooltip();
		});
		function reloadTournamentEvents() {
			$("#tournamentEventsTable").bootgrid("reload");
		}
		function clearTournamentEventsFilter() {
			$("#season").val("");
			$("#level").val("");
			$("#surface").val("");
			$("#tournament").val("");
			$("#tournamentEventsTable").bootgrid("search", "");
			reloadTournamentEvents();
		}
	</script>
</head>
<body class="container">
	<header th:include="fragments/header :: title"></header>
	<div class="row">
		<div class="col-md-3">
			<h3 class="text-nowrap" style="display: inline">Tournament Events</h3>
		</div>
		<div class="col-md-2">
			<select id="season" class="form-control" onchange="reloadTournamentEvents()" data-toggle="tooltip" data-placement="top" title="Filter by season">
				<option value="">All seasons</option>
				<option th:each="aSeason : ${seasons}" th:value="${aSeason}" value="2005" th:text="${aSeason}" th:selected="${aSeason == season}">2005</option>
			</select>
		</div>
		<div class="col-md-2">
			<select id="level" class="form-control" onchange="reloadTournamentEvents()" data-toggle="tooltip" data-placement="top" title="Filter by tournament level">
				<option value="">All levels</option>
				<option th:each="aLevel : ${levels}" th:value="${aLevel.code}" th:class="|bg-level-${aLevel.code}|" value="G" class="bg-level-G" th:text="${aLevel.text}" th:selected="${aLevel.code == level}">Grand Slam</option>
				<option th:each="levelGroup : ${levelGroups}" th:value="${levelGroup.codes}" value="GFMO" th:text="${levelGroup.text}" th:selected="${levelGroup.codes == level}">Big Tournaments</option>
			</select>
		</div>
		<div class="col-md-2">
			<select id="surface" class="form-control" onchange="reloadTournamentEvents()" data-toggle="tooltip" data-placement="top" title="Filter by surface">
				<option value="">All surfaces</option>
				<option th:each="aSurface : ${surfaces}" th:value="${aSurface.code}" th:class="|bg-surface-${aSurface.code}|" value="H" class="bg-surface-H" th:text="${aSurface.text}" th:selected="${aSurface.code == surface}">Hard</option>
			</select>
		</div>
		<div class="col-md-3">
			<select id="tournament" class="form-control" onchange="reloadTournamentEvents()" data-toggle="tooltip" data-placement="top" title="Filter by tournament">
				<option value="">All tournaments</option>
				<option th:each="tournament : ${tournaments}" th:if="${tournament.level != 'D' and tournament.level != 'T'}" th:value="${tournament.id}" value="101" th:text="${tournament.name}" th:class="'bg-level-' + ${tournament.level}">Wimbledon</option>
			</select>
		</div>
	</div>
	<div id="clearDiv" class="btn-group margin-right">
		<button type="button" class="btn btn-default" onclick="clearTournamentEventsFilter()" data-toggle="tooltip" data-placement="top" title="Clear all filters">
			<span class="glyphicon glyphicon-erase"></span>
		</button>
	</div>
	<table id="tournamentEventsTable" class="table table-condensed table-hover table-striped">
		<thead>
		<tr>
			<th data-column-id="date" data-formatter="date" data-order="desc" data-width="85">Date</th>
			<th data-column-id="name" data-formatter="event" data-width="200">Name</th>
			<th data-column-id="surface" data-formatter="surface" data-width="80">Surface</th>
			<th data-column-id="draw" data-width="65">Draw</th>
			<th data-column-id="playerCount" data-width="55">Pls.</th>
			<th data-column-id="participationPoints" data-type="numeric" data-width="70">P. Pts.</th>
			<th data-column-id="participationPct" data-formatter="participationPct" data-width="70">P. Pct.</th>
			<th data-column-id="final" data-formatter="match" data-sortable="false" data-width="500">Final</th>
		</tr>
		</thead>
	</table>
	<th:block th:include="fragments/deviceDetector :: deviceDetectors"/>
	<footer th:include="fragments/footer :: copy"></footer>
</body>
</html>